<div {{ attributes }}>
	<div class="progress">
		<div class="progress-bar" role="progressbar" aria-valuenow="{{value}}"
		aria-valuemin="0" aria-valuemax="100" style="width:{{value}}%">
		<span class="sr-only">{{value}}% Complete</span>
		</div>
	</div>
</div>