<favorite-field inline-template :pid="{{ data.product.id() }}">
  <div
  class="favorite"
  :class="fav ? 'favorite--remove' : ''"
  style="display:none"
  v-show="productsLoaded"
  @click="toggleFav"
  >
    <i class="far fa-heart"></i>
  </div>
</favorite-field>
