.aws_cloud_instance_type_prices td:not(:first-child) {
  text-align: right;
  padding-right: 20px;
}

.aws_cloud_instance_type_prices th {
  text-align: center;
}

.aws_cloud_instance_type_prices.table th,
.aws_cloud_instance_type_prices.table td {
  vertical-align: middle;
}

.aws_cloud_instance_type_prices.table .highlight {
  font-weight: bold;
}
