div[class*='form-item-outbound-permission'],
div[class*='form-item-ip-permission'] {
  float: left;
  margin: 5px;
}

div[class$='-group-name'] {
  clear: both;
}

.ip-protocol-select,
.ip-type-select {
  margin-top: 5px;
}

.hide {
  display: none;
}
