/**
 * Pager block styles.
 */
.pager-block-wrapper {
  margin: 1.0rem auto;
}
.pager-block-wrapper .pager-block {
  align-items: stretch;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 520px;
}
.pager-block-wrapper .pager-block-item {
  text-align: center;
  width: 250px;
}
.pager-block-wrapper .pager-block-item h2 {
  margin: 0.5rem auto;
  width: 200px;
}
.pager-block-wrapper .pager-next-node h2 {
  text-align: right;
}
.pager-block-wrapper .pager-prev-node h2 {
  text-align: left;
}
.pager-block-wrapper .pager-next-node .pager-prefix,
.pager-block-wrapper .pager-prev-node .pager-suffix {
  display: none;
}
.pager-block-wrapper .pager-block-item img {
  display: block;
  margin: 0 auto 0.5rem auto;
  width: 200px;
}
.pager-block-wrapper .pager-block-item p {
  font-size: .93rem;
  margin: 0  auto 0.5rem auto;
  min-height: 3.0rem;
  width: 200px;
}
.pager-block-wrapper .pager-block a {
  border: 1px #cccccc solid;
}
.pager-block-wrapper .pager-block a:link .pager-prefix,
.pager-block-wrapper .pager-block a:visited .pager-prefix {
  padding-left: 0.5rem;
  padding-right: 0.25rem;
}
.pager-block-wrapper .pager-block a:hover .pager-prefix {
  padding-left: 0.25rem;
  padding-right: 0.5rem;
}
.pager-block-wrapper .pager-block a:active .pager-prefix {
  font-weight: bold;
}
.pager-block-wrapper .pager-block a:link .pager-suffix,
.pager-block-wrapper .pager-block a:visited .pager-suffix {
  padding-left: 0.25rem;
  padding-right: 0.5rem;
}
.pager-block-wrapper .pager-block a:hover .pager-suffix {
  padding-left: 0.5rem;
  padding-right: 0.25rem;
}
.pager-block-wrapper .pager-block a:active .pager-suffix {
  font-weight: bold;
}
.pager-block-wrapper .pager-block a .pager-prefix,
.pager-block-wrapper .pager-block a .pager-suffix {
  font-size: 120.0%;
  -webkit-transition: padding 0.1s ease-out;
  -moz-transition: padding 0.1s ease-out;
  -o-transition: padding 0.1s ease-out;
  transition: padding 0.1s ease-out;
}
/**
 * Pager wing styles.
 */
.pager-wing-wrapper {
  background-color: transparent;
  border: 0;
  display: block;
  height: 7.5rem;
  position: fixed;
  top: 50.0vh;
  width: 20.0rem;
  z-index: 10;
}
.pager-wing {
  overflow: hidden;
}
.pager-wing-wrapper.pager-prev-node {
  left: 0;
  right: 0 auto;
}
.pager-wing-wrapper.pager-next-node {
  left: auto;
  right: 0;
}
.pager-wing-wrapper a {
  border: 0;
  display: block;
  width: 100%;
}
.pager-wing-wrapper.pager-next-node .wing-left,
.pager-wing-wrapper.pager-prev-node .wing-right {
  display: none;
}
.pager-wing-wrapper.pager-next-node .wing-right,
.pager-wing-wrapper.pager-prev-node .wing-left {
  border: 1px #aaaaaa outset;
  color: #000000;
  font-size: 3.0rem;
  height: 7.5rem;
  line-height: 6.75rem;
  text-align: center;
  width: 2.0rem;
}
.pager-wing-wrapper.pager-next-node .wing-right {
  border-right: 0;
  float: right;
}
.pager-wing-wrapper.pager-prev-node .wing-left {
  border-left: 0;
  float: left;
}
.pager-wing-wrapper.pager-next-node a:link .wing-right,
.pager-wing-wrapper.pager-next-node a:visited .wing-right {
  background-color: #cccccc;
  color: #000000;
  text-align: left;
}
.pager-wing-wrapper.pager-next-node a:hover .wing-right {
  background-color: #aaaaaa;
  color: #ffffff;
  text-align: center;
}
.pager-wing-wrapper.pager-next-node a:active .wing-right {
  background-color: #000000;
  color: #ffffff;
  text-align: right;
}
.pager-wing-wrapper.pager-prev-node a:link .wing-left,
.pager-wing-wrapper.pager-prev-node a:visited .wing-left {
  background-color: #cccccc;
  color: #000000;
  text-align: right;
}
.pager-wing-wrapper.pager-prev-node a:hover .wing-left {
  background-color: #aaaaaa;
  color: #ffffff;
  text-align: center;
}
.pager-wing-wrapper.pager-prev-node a:active .wing-left {
  background-color: #000000;
  color: #ffffff;
  text-align: left;
}
.pager-wing-wrapper a:link .pager-wing-item,
.pager-wing-wrapper a:visited .pager-wing-item {
  background-color: #ffffff;
  border: 1px #aaaaaa solid;
  height: 7.5rem;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 0;
  width: 0;
}
.pager-wing-wrapper a:hover .pager-wing-item {
  width: 18.0rem;
}
.pager-wing-wrapper a:active .pager-wing-item {
  width: 18.0rem;
}
.pager-wing-wrapper.pager-next-node .pager-wing-item {
  left: auto;
  right: 2.0rem;
}
.pager-wing-wrapper.pager-prev-node .pager-wing-item {
  left: 2.0rem;
  right: auto;
}
.pager-wing-wrapper a .pager-wing-item {
  -webkit-transition: width 0.4s ease-out;
  -moz-transition: width 0.4s ease-out;
  -o-transition: width 0.4s ease-out;
  transition: width 0.4s ease-out;
}
.pager-wing-wrapper .pager-wing-item h2 {
  border-top: 1px #aaaaaa solid;
  bottom: 0;
  font-size: 0.9rem;
  height: 1.75rem;
  margin: 0;
  padding: 0.25rem; 0.5rem 0 0;
  position: absolute;
  width: 9.0rem;
}
.pager-wing-wrapper.pager-next-node .pager-wing-item h2 {
  margin-left: 2.0rem;
  right: 0;
  text-align: right;
}
.pager-wing-wrapper.pager-prev-node .pager-wing-item h2 {
  left: 0;
  margin-right: 2.0rem;
}
.pager-wing-wrapper .pager-wing-item img {
  display: block;
  margin: 0.5rem;
  max-width: 120px;
  min-height: 75%;
}
.pager-wing-wrapper.pager-next-node .pager-wing-item img {
  float: left;
}
.pager-wing-wrapper.pager-prev-node .pager-wing-item img {
  float: right;
}
.pager-wing-wrapper .pager-wing-item p {
  height: 4.25rem;
  margin: 0.5rem 2.0rem 0.25rem 0.5rem;
  overflow: hidden;
}
