/**
 * Enable collapse/expand if js is enabled on the page
 */
html.js #w3c-report .w3c_validator-wrapper.collapsed .fieldset-wrapper {
  display: none;
}
/* Expand/collapse image for page title */
html.js #w3c-report .w3c_validator-wrapper .page-summary .title {
  background: url("./menu-expanded.png") left 65% no-repeat;
  padding-left: 10px;
}
html.js #w3c-report .w3c_validator-wrapper.collapsed .page-summary .title {
  background: url("./menu-collapsed.png") left 50% no-repeat;
}
html.js #w3c-report .w3c_validator-wrapper .page-summary .title a {
  margin-left: -10px;
  padding-left: 10px;
}

/* Overrides */
#w3c-report .color-warning {
  color: #734c00;
  background-color: #FFF9D3;
}


/**
 * Display properly the summary
 */
#w3c-report tr {
  border: 1px solid #bebfb9;
}
#w3c-report tr.color-unknown,
#w3c-report tr.color-outdated {
  background-color: #C4C4BD;
}
#w3c-report .page-summary {
  color: #000000;
  font-size: 1.2em;
}
/* ICON */
#w3c-report .page-summary .icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  margin-bottom: -3px;
  margin-right: 8px;
}
#w3c-report tr.color-unknown .icon {
  background-image: url(./info-icon.png);
}
#w3c-report tr.color-error .page-summary  .icon {
  background-image: url(./error-icon.png);
}
#w3c-report tr.color-warning .page-summary  .icon {
  background-image: url(./warning-icon.png);
}
#w3c-report tr.color-status .page-summary  .icon {
  background-image: url(./valid-icon.png);
}
/* TITLE */
#w3c-report .page-summary .title {
  width: 70%;
  display: inline-block;
}
/* RESULT */

/* STATUS */
#w3c-report .page-summary .status {
  float: right;
  font-size: 1.2em;
  font-weight: bold;
}
#w3c-report tr.color-error .page-summary .status {
  color: #D23D24;
}
#w3c-report tr.color-status .page-summary .status {
  color: #55B05A;
}
#w3c-report tr.color-warning .page-summary .status {
  color: #CFAC08;
}
#w3c-report tr.color-unknown .page-summary .status {
  color: #000000;
  font-style: italic;
}

/**
 * Display properly the detailled results.
 */
#w3c-report .analysis-results {
  color: #000000;
}
#w3c-report .analysis-results.open {
  margin-top: 1em;
}
 /* TITLE */
#w3c-report .analysis-results h2.message {
  color: white;
  margin: 0px;
  text-align: center;
  background-color: #D23D24;
  padding: 0.2em 0px;
}
#w3c-report .analysis-results h2.message.color-warning,
#w3c-report .analysis-results h2.message.color-status {
  background-color: #55B05A;
}
/* REPORT */
#w3c-report .analysis-results .report {
  margin-top: -2px;
}
#w3c-report .analysis-results .report tr {
  line-height: 5px;
  border: 1px solid #bebfb9;
}
#w3c-report .analysis-results .report tr.odd {
  background-color: #FFFFFF;
}
#w3c-report .analysis-results .report tr.even {
  background-color: #F3F4EE;
}

/**
 * Error and Warning descriptions.
 */
#w3c-report .analysis-results .message-wrapper {
  background-color: #FFFFFF;
  border: 1px solid #EAEBEE;
  list-style-position: inside;
  padding: 0.7em;
  clear: both;
  margin-bottom: 5px;
}
#w3c-report .analysis-results .message .where {
  font-style: italic;
  margin-right: 1em;
}
#w3c-report .analysis-results .message-wrapper .source {
  font-family: "Lucida Console", Monaco, monospace;
  color: #888888;
}
#w3c-report .analysis-results .message-wrapper .source b {
  color: black;
  background-color: #ffff80;
}