/**
 * @file
 * Styling for the astrology module icons.
 */
/* Small devices (tablets, 768px and up) */
@media(min-width: 768px) {
  .astrology-formatter-link nav ul li {
    float: left;
    margin: 10px 20px;
  }
}
.row {
  width: 100%;
  clear: both;
}
.astrology-formatter-link nav ul li {
  margin: 10px 20px;
}
.astrology-formatter-link nav ul {
  margin: 0;
}
.astrology-formatter-link {
  display: block;
  clear: both;
  float: left;
  width: 100%;
  margin: 20px 0px;
  background: #f6f6f2;
  border: 1px solid #f6f6f2;
}
.sign-name {
  float: left;
  width: 50%;
  height: 40px;
}
.sign-name img {
  height: 20px;
  width: 20px;
}
.astrology-name-icon-date,
.astrology-about-icon-date {
  margin-right: 1em;
  float: left;
}
.astrology-about-icon-date span,
.astrology-name-icon-date span {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}
.astrology-date {
  width: 100%;
  text-align: center;
  background: #f6f6f2;
  border: 1px solid #f6f6f2;
  padding: 10px 0px;
  font-size: 15px;
  margin-bottom: 20px;
}
.astrology-date span {
  font-weight: bold;
  margin-bottom: 10px;
}
.astrology-body span {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}
.prev.pull-left,
.next.pull-right {
  margin: 0px 15px;
}
.astrology-about-body,
.astrology-about-text {
  text-align: justify;
}
.astrology-name-icon-date h1 {
  margin-top: 0px;
}
