{#
/**
 * @file virtual_entity.html.twig
 * Default theme implementation to present Virtual entity data.
 *
 * This template is used when viewing Virtual entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_virtual_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('virtual_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
