{#
/**
 * @file bibcite-reference-table.html.twig
 * Theme implementation to present Reference data in table.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_bibcite_reference_table()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('bibcite-reference-table') }}>
  {% if content %}
    {{ content }}
  {% endif %}
</div>
