{#
/**
 * @file bibcite_keyword.html.twig
 * Default theme implementation to present Keyword data.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_bibcite_keyword()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('bibcite_keyword') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
