{{ attach_library('jmol/jmol_formatter') }}
<div{{ attributes }}></div>
{% if view_styles|length > 1 %}
<select>
{% for key, option in view_styles %}
  <option value="{{ key }}">{{ option }}</option>
{% endfor %}
</select>
{% endif %}
<input type="text"></input>
