/**
 * Views Slideshow Xtra CSS.
 */

.views_slideshow_main {
  position: relative;
}

.views-slideshow-overlay {
  z-index: 50;
  position: absolute;
  top: 0;
}

.views-slideshow-overlay-row {
  display: absolute;
  min-height: 10px;
}
