<div class="cctags cctags-page wrapper{{ extra_class }}">
    {{ hello }}
    {% for key,value in content %}
        {% if (key == '#terms') %}
            {% for vocabulary_name,terms in value %}
                {% for test,term in terms %}
                    {% for term_key,term_value in term %}
                        {% if (term_key == 'link') %}
                            {{ term_value }}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        {% endif %}
    {% endfor %}
</div>
<div>
    {{ pager }}
</div>