{#/**#}
{#* $vocname 	-- array vocabulary name#}
{#* $vid   	-- array vocabulary vid#}
{#* $terms   	-- array counts terms in current vocabulary#}
{#* $mode 	-- mixed or group#}
{#* $is_out       -- array counts terms#}
*/
<div class="clearfix">
    {% if vocname %}
        <div class="cctags vocname">
            {% set i = 0 %}
            {% for key,name in vocname %}
                if ($i>0)
                {% if i > 0 %}
                    {% set vname = '&nbsp;::&nbsp;' ~ name %}
                {% else %}
                    {% set vname = name %}
                {% endif %}
                {% set i = i + 1 %}
                {% if (( (mode == 'group') and (is_out.vid.key ==1) ) || (mode == 'mixed')) %}
                    <span class="cctags vocname vid-{{ vid.key }}">
                        {{ render_var(vname) }}
                </span>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
</div>
