#block-gdheader {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 100px 0;
}

@media only screen and (orientation: portrait) and (device-width: 320px), (device-width: 768px) {
  #block-gdheader {
    background-attachment: scroll;
  }
}
@media only screen and (orientation: landscape) and (device-width: 320px), (device-width: 768px) {
  #block-gdheader {
    background-attachment: scroll;
  }
}

#block-gdheader h1 {
  margin: 0;
  margin-left: 11.5%;
  margin-right: 11.5%;
  text-align: center;
  font-size: 48px;
  color: #f8f8f8;
  text-shadow: 2px 2px #000000;
}
