

    {% if title %}
        <h3>{{ title }}</h3>
    {% endif %}

    <ul {{ attributes }} >
        {% for row in rows %}
            <li>
                {{ row }}
            </li>
        {% endfor %}
    </ul>



