.field--type-paragraph-skin-field-type .field-multiple-table fieldset:not(.fieldgroup) {
  background-color: #fff;
  border: none;
  padding: 0;
}

.field--type-paragraph-skin-field-type fieldset .jscolor {
  position: absolute;
  right: 0;
  top: 0;
  /*display: none;*/
}
