.landingpage_wrapper img {
  height: 24px;
  margin-top: 0.5em;
  vertical-align:middle
}

form .landingpage_wrapper .field-add-more-submit {
  margin: 0 0 0 0.5em;
  font-size: 0.7rem;
  padding: 0.5em 1em;

  /*width: 6em;*/
}

.landingpage_wrapper {
  width: 340px;
  float: left;
}
