ul.paragraphs-add-dialog-list input.field-append-set-submit {
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: auto calc(100% - 10px);
  padding-left: 40px;
  text-align: left;
  border-radius: 3px;
}
