.js .field--widget-entity-reference-paragraphs-sets .dropbutton-wrapper {
  display: inline-flex;
  padding-right: 0em;
  margin-right: 0em;
  /* Override 600px breakpoint from core. */
  width: auto;
}
.js .field--widget-entity-reference-paragraphs-sets .dropbutton-widget {
  position: relative;
}
.js .field--widget-entity-reference-paragraphs-sets .field-multiple-table {
  margin-bottom: 10px;
}
.js .field--widget-entity-reference-paragraphs-sets td {
  padding: 10px 0px 10px 0px;
}
.js .field--widget-entity-reference-paragraphs-sets .field-multiple-drag {
  vertical-align: top;
}
.js .field--widget-entity-reference-paragraphs-sets .draggable .tabledrag-handle {
  padding-right: 0;
  margin-left: 0;
}
.js .field--widget-entity-reference-paragraphs-sets .tabledrag-handle .handle {
  margin-left: 0;
  margin-right: 0;
  padding-right: 0.2em;
}
.js .field--widget-entity-reference-paragraphs-sets .delta-order {
  padding-right: 10px;
  text-align: right;
}

.js .field--widget-entity-reference-paragraphs-sets .set-selection-wrapper {
  margin-bottom: 1em;
}
.js .set-selection-wrapper .button {
  margin: 0;
}

.js .set-selection-wrapper .paragraphs-set-button {
  display: inline-block;
  margin: 0 1rem 1rem 0;
}
