.phone-number-field div.form-item {
  display: inline-block;
  margin: 0;
  padding: 0;
}
div.phone-number-field div.form-item {
  vertical-align: bottom;
}

.phone-number-field .form-type-textfield input {
  width: 150px;
}

.phone-number-field .form-type-textfield input.extension {
  width: auto;
}

.phone-number-field .local-number,
.phone-number-field .extension {
  border-width: 0;
  border-bottom: 1px solid #ccc;
  height: 30px;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  margin: 0;
}

.phone-number-field .phone-number-flag {
  box-sizing: border-box;
  padding: 9px 0 0;
  padding-left: 16px;
  height: 11px;
  background-image: url("../images/flags.png");
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: 16px -11px;
  display: inline-block;
  margin: 10px auto;
  vertical-align: bottom;
}

.phone-number-field .country-select {
  height: 30px;
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  border-bottom: 1px solid #ccc;
}
.phone-number-field .country-select .prefix {
  font-size: 12px;
  display: inline-block;
  vertical-align: bottom;
  line-height: 30px;
  box-sizing: border-box;
  min-width: 43px;
  font-family: Arial, sans-serif;
}

.form-item-fields-field-phone-number-settings-edit-form-settings-countries select {
  min-height: 150px;
}

.phone-number-field .country-select select {
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-width: 100%;
}

.phone-number-field .country-select .arrow {
  top: 50%;
  right: 1px;
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 4px solid #555;
  display: inline-block;
  margin: 13px 5px;
  vertical-align: bottom;
}

.phone-number-field .form-text {
  vertical-align: bottom;
  margin: 0;
  position: relative;
  z-index: 1;
}
.phone-number-field .description {
  margin: 5px 0;
}
