.phone-number-field .phone-number-flag.zw {
  background-position: 0 0;
}
.phone-number-field .phone-number-flag.zm {
  background-position: -16px 0;
}
.phone-number-field .phone-number-flag.za {
  background-position: 0 -11px;
}
.phone-number-field .phone-number-flag.yt {
  background-position: -16px -11px;
}
.phone-number-field .phone-number-flag.ye {
  background-position: -32px 0;
}
.phone-number-field .phone-number-flag.ws {
  background-position: -32px -11px;
}
.phone-number-field .phone-number-flag.wf {
  background-position: 0 -22px;
}
.phone-number-field .phone-number-flag.vu {
  background-position: -32px -22px;
}
.phone-number-field .phone-number-flag.vn {
  background-position: 0 -33px;
}
.phone-number-field .phone-number-flag.vi {
  background-position: -16px -33px;
}
.phone-number-field .phone-number-flag.vg {
  background-position: -32px -33px;
}
.phone-number-field .phone-number-flag.ve {
  background-position: -48px 0;
}
.phone-number-field .phone-number-flag.vc {
  background-position: -48px -11px;
}
.phone-number-field .phone-number-flag.va {
  background-position: -48px -22px;
}
.phone-number-field .phone-number-flag.uz {
  background-position: -48px -33px;
}
.phone-number-field .phone-number-flag.uy {
  background-position: 0 -44px;
}
.phone-number-field .phone-number-flag.us {
  background-position: -16px -44px;
}
.phone-number-field .phone-number-flag.um {
  background-position: -16px -44px;
}
.phone-number-field .phone-number-flag.ug {
  background-position: -32px -44px;
}
.phone-number-field .phone-number-flag.ua {
  background-position: -48px -44px;
}
.phone-number-field .phone-number-flag.tz {
  background-position: -64px 0;
}
.phone-number-field .phone-number-flag.tw {
  background-position: -64px -11px;
}
.phone-number-field .phone-number-flag.tv {
  background-position: -64px -22px;
}
.phone-number-field .phone-number-flag.tt {
  background-position: -64px -33px;
}
.phone-number-field .phone-number-flag.tr {
  background-position: -64px -44px;
}
.phone-number-field .phone-number-flag.to {
  background-position: 0 -55px;
}
.phone-number-field .phone-number-flag.tn {
  background-position: -16px -55px;
}
.phone-number-field .phone-number-flag.tm {
  background-position: -32px -55px;
}
.phone-number-field .phone-number-flag.tl {
  background-position: -48px -55px;
}
.phone-number-field .phone-number-flag.tk {
  background-position: -64px -55px;
}
.phone-number-field .phone-number-flag.tj {
  background-position: 0 -66px;
}
.phone-number-field .phone-number-flag.th {
  background-position: -16px -66px;
}
.phone-number-field .phone-number-flag.tg {
  background-position: -32px -66px;
}
.phone-number-field .phone-number-flag.tf {
  background-position: -48px -66px;
}
.phone-number-field .phone-number-flag.td {
  background-position: -64px -66px;
}
.phone-number-field .phone-number-flag.tc {
  background-position: -80px 0;
}
.phone-number-field .phone-number-flag.sz {
  background-position: -80px -11px;
}
.phone-number-field .phone-number-flag.sy {
  background-position: -80px -22px;
}
.phone-number-field .phone-number-flag.sx {
  background-position: -80px -33px;
}
.phone-number-field .phone-number-flag.sv {
  background-position: -80px -44px;
}
.phone-number-field .phone-number-flag.st {
  background-position: -80px -55px;
}
.phone-number-field .phone-number-flag.ss {
  background-position: -80px -66px;
}
.phone-number-field .phone-number-flag.sr {
  background-position: 0 -77px;
}
.phone-number-field .phone-number-flag.so {
  background-position: -16px -77px;
}
.phone-number-field .phone-number-flag.sn {
  background-position: -32px -77px;
}
.phone-number-field .phone-number-flag.sm {
  background-position: -48px -77px;
}
.phone-number-field .phone-number-flag.sl {
  background-position: -64px -77px;
}
.phone-number-field .phone-number-flag.sk {
  background-position: -80px -77px;
}
.phone-number-field .phone-number-flag.si {
  background-position: -96px 0;
}
.phone-number-field .phone-number-flag.sh {
  background-position: -96px -11px;
}
.phone-number-field .phone-number-flag.sg {
  background-position: -96px -22px;
}
.phone-number-field .phone-number-flag.se {
  background-position: -96px -33px;
}
.phone-number-field .phone-number-flag.sd {
  background-position: -96px -44px;
}
.phone-number-field .phone-number-flag.sc {
  background-position: -96px -66px;
}
.phone-number-field .phone-number-flag.sb {
  background-position: -96px -77px;
}
.phone-number-field .phone-number-flag.sa {
  background-position: 0 -88px;
}
.phone-number-field .phone-number-flag.rw {
  background-position: -16px -88px;
}
.phone-number-field .phone-number-flag.ru {
  background-position: -32px -88px;
}
.phone-number-field .phone-number-flag.rs {
  background-position: -48px -88px;
}
.phone-number-field .phone-number-flag.ro {
  background-position: -64px -88px;
}
.phone-number-field .phone-number-flag.qa {
  background-position: -80px -88px;
}
.phone-number-field .phone-number-flag.py {
  background-position: -96px -88px;
}
.phone-number-field .phone-number-flag.pw {
  background-position: 0 -99px;
}
.phone-number-field .phone-number-flag.pt {
  background-position: -16px -99px;
}
.phone-number-field .phone-number-flag.ps {
  background-position: -32px -99px;
}
.phone-number-field .phone-number-flag.pr {
  background-position: -48px -99px;
}
.phone-number-field .phone-number-flag.pn {
  background-position: -64px -99px;
}
.phone-number-field .phone-number-flag.pm {
  background-position: -80px -99px;
}
.phone-number-field .phone-number-flag.pl {
  background-position: -96px -99px;
}
.phone-number-field .phone-number-flag.pk {
  background-position: -112px 0;
}
.phone-number-field .phone-number-flag.ph {
  background-position: -112px -11px;
}
.phone-number-field .phone-number-flag.pg {
  background-position: -112px -22px;
}
.phone-number-field .phone-number-flag.pf {
  background-position: -112px -33px;
}
.phone-number-field .phone-number-flag.pe {
  background-position: -112px -44px;
}
.phone-number-field .phone-number-flag.pa {
  background-position: -112px -55px;
}
.phone-number-field .phone-number-flag.om {
  background-position: -112px -66px;
}
.phone-number-field .phone-number-flag.nz {
  background-position: -112px -77px;
}
.phone-number-field .phone-number-flag.nu {
  background-position: -112px -88px;
}
.phone-number-field .phone-number-flag.nr {
  background-position: -112px -99px;
}
.phone-number-field .phone-number-flag.no {
  background-position: 0 -110px;
}
.phone-number-field .phone-number-flag.bv {
  background-position: 0 -110px;
}
.phone-number-field .phone-number-flag.sj {
  background-position: 0 -110px;
}
.phone-number-field .phone-number-flag.nl {
  background-position: -16px -110px;
}
.phone-number-field .phone-number-flag.ni {
  background-position: -32px -110px;
}
.phone-number-field .phone-number-flag.ng {
  background-position: -48px -110px;
}
.phone-number-field .phone-number-flag.nf {
  background-position: -64px -110px;
}
.phone-number-field .phone-number-flag.ne {
  background-position: -80px -110px;
}
.phone-number-field .phone-number-flag.nc {
  background-position: -96px -110px;
}
.phone-number-field .phone-number-flag.na {
  background-position: -112px -110px;
}
.phone-number-field .phone-number-flag.mz {
  background-position: -128px 0;
}
.phone-number-field .phone-number-flag.my {
  background-position: -128px -11px;
}
.phone-number-field .phone-number-flag.mx {
  background-position: -128px -22px;
}
.phone-number-field .phone-number-flag.mw {
  background-position: -128px -33px;
}
.phone-number-field .phone-number-flag.mv {
  background-position: -128px -44px;
}
.phone-number-field .phone-number-flag.mu {
  background-position: -128px -55px;
}
.phone-number-field .phone-number-flag.mt {
  background-position: -128px -66px;
}
.phone-number-field .phone-number-flag.ms {
  background-position: -128px -77px;
}
.phone-number-field .phone-number-flag.mr {
  background-position: -128px -88px;
}
.phone-number-field .phone-number-flag.mq {
  background-position: -128px -99px;
}
.phone-number-field .phone-number-flag.mp {
  background-position: -128px -110px;
}
.phone-number-field .phone-number-flag.mo {
  background-position: 0 -121px;
}
.phone-number-field .phone-number-flag.mn {
  background-position: -16px -121px;
}
.phone-number-field .phone-number-flag.mm {
  background-position: -32px -121px;
}
.phone-number-field .phone-number-flag.ml {
  background-position: -48px -121px;
}
.phone-number-field .phone-number-flag.mk {
  background-position: -64px -121px;
}
.phone-number-field .phone-number-flag.mh {
  background-position: -80px -121px;
}
.phone-number-field .phone-number-flag.mg {
  background-position: -96px -121px;
}
.phone-number-field .phone-number-flag.me {
  background-position: 0 -132px;
  height: 12px;
}
.phone-number-field .phone-number-flag.md {
  background-position: -112px -121px;
}
.phone-number-field .phone-number-flag.mc {
  background-position: -128px -121px;
}
.phone-number-field .phone-number-flag.ma {
  background-position: -16px -132px;
}
.phone-number-field .phone-number-flag.ly {
  background-position: -32px -132px;
}
.phone-number-field .phone-number-flag.lv {
  background-position: -48px -132px;
}
.phone-number-field .phone-number-flag.lu {
  background-position: -64px -132px;
}
.phone-number-field .phone-number-flag.lt {
  background-position: -80px -132px;
}
.phone-number-field .phone-number-flag.ls {
  background-position: -96px -132px;
}
.phone-number-field .phone-number-flag.lr {
  background-position: -112px -132px;
}
.phone-number-field .phone-number-flag.lk {
  background-position: -128px -132px;
}
.phone-number-field .phone-number-flag.li {
  background-position: -144px 0;
}
.phone-number-field .phone-number-flag.lc {
  background-position: -144px -11px;
}
.phone-number-field .phone-number-flag.lb {
  background-position: -144px -22px;
}
.phone-number-field .phone-number-flag.la {
  background-position: -144px -33px;
}
.phone-number-field .phone-number-flag.kz {
  background-position: -144px -44px;
}
.phone-number-field .phone-number-flag.ky {
  background-position: -144px -55px;
}
.phone-number-field .phone-number-flag.kw {
  background-position: -144px -66px;
}
.phone-number-field .phone-number-flag.kr {
  background-position: -144px -77px;
}
.phone-number-field .phone-number-flag.kp {
  background-position: -144px -88px;
}
.phone-number-field .phone-number-flag.kn {
  background-position: -144px -99px;
}
.phone-number-field .phone-number-flag.km {
  background-position: -144px -110px;
}
.phone-number-field .phone-number-flag.ki {
  background-position: -144px -121px;
}
.phone-number-field .phone-number-flag.kh {
  background-position: -144px -132px;
}
.phone-number-field .phone-number-flag.kg {
  background-position: 0 -144px;
}
.phone-number-field .phone-number-flag.ke {
  background-position: -16px -144px;
}
.phone-number-field .phone-number-flag.jp {
  background-position: -32px -144px;
}
.phone-number-field .phone-number-flag.jo {
  background-position: -48px -144px;
}
.phone-number-field .phone-number-flag.jm {
  background-position: -64px -144px;
}
.phone-number-field .phone-number-flag.je {
  background-position: -80px -144px;
}
.phone-number-field .phone-number-flag.it {
  background-position: -96px -144px;
}
.phone-number-field .phone-number-flag.is {
  background-position: -112px -144px;
}
.phone-number-field .phone-number-flag.ir {
  background-position: -128px -144px;
}
.phone-number-field .phone-number-flag.iq {
  background-position: -144px -144px;
}
.phone-number-field .phone-number-flag.io {
  background-position: -160px 0;
}
.phone-number-field .phone-number-flag.in {
  background-position: -160px -11px;
}
.phone-number-field .phone-number-flag.im {
  background-position: -160px -22px;
  height: 9px;
}
.phone-number-field .phone-number-flag.il {
  background-position: -160px -31px;
}
.phone-number-field .phone-number-flag.ie {
  background-position: -160px -42px;
}
.phone-number-field .phone-number-flag.id {
  background-position: -160px -53px;
}
.phone-number-field .phone-number-flag.hu {
  background-position: -160px -64px;
}
.phone-number-field .phone-number-flag.ht {
  background-position: -160px -75px;
}
.phone-number-field .phone-number-flag.hr {
  background-position: -160px -86px;
}
.phone-number-field .phone-number-flag.hn {
  background-position: -160px -97px;
}
.phone-number-field .phone-number-flag.hk {
  background-position: -160px -108px;
}
.phone-number-field .phone-number-flag.gy {
  background-position: -160px -119px;
}
.phone-number-field .phone-number-flag.gw {
  background-position: -160px -130px;
}
.phone-number-field .phone-number-flag.gu {
  background-position: -160px -141px;
}
.phone-number-field .phone-number-flag.gt {
  background-position: 0 -155px;
}
.phone-number-field .phone-number-flag.gs {
  background-position: -16px -155px;
}
.phone-number-field .phone-number-flag.gr {
  background-position: -32px -155px;
}
.phone-number-field .phone-number-flag.gq {
  background-position: -48px -155px;
}
.phone-number-field .phone-number-flag.gp {
  background-position: -64px -155px;
}
.phone-number-field .phone-number-flag.gn {
  background-position: -80px -155px;
}
.phone-number-field .phone-number-flag.gm {
  background-position: -96px -155px;
}
.phone-number-field .phone-number-flag.gl {
  background-position: -112px -155px;
}
.phone-number-field .phone-number-flag.gi {
  background-position: -128px -155px;
}
.phone-number-field .phone-number-flag.gh {
  background-position: -144px -155px;
}
.phone-number-field .phone-number-flag.gg {
  background-position: -160px -155px;
}
.phone-number-field .phone-number-flag.ge {
  background-position: -176px 0;
}
.phone-number-field .phone-number-flag.gd {
  background-position: -176px -11px;
}
.phone-number-field .phone-number-flag.gb {
  background-position: -176px -22px;
}
.phone-number-field .phone-number-flag.ga {
  background-position: -176px -33px;
}
.phone-number-field .phone-number-flag.fr {
  background-position: -176px -44px;
}
.phone-number-field .phone-number-flag.gf {
  background-position: -176px -44px;
}
.phone-number-field .phone-number-flag.re {
  background-position: -176px -44px;
}
.phone-number-field .phone-number-flag.mf {
  background-position: -176px -44px;
}
.phone-number-field .phone-number-flag.bl {
  background-position: -176px -44px;
}
.phone-number-field .phone-number-flag.fo {
  background-position: -176px -55px;
}
.phone-number-field .phone-number-flag.fm {
  background-position: -176px -66px;
}
.phone-number-field .phone-number-flag.fk {
  background-position: -176px -77px;
}
.phone-number-field .phone-number-flag.fj {
  background-position: -176px -88px;
}
.phone-number-field .phone-number-flag.fi {
  background-position: -176px -99px;
}
.phone-number-field .phone-number-flag.eu {
  background-position: -176px -121px;
}
.phone-number-field .phone-number-flag.et {
  background-position: -176px -132px;
}
.phone-number-field .phone-number-flag.es {
  background-position: -176px -143px;
}
.phone-number-field .phone-number-flag.er {
  background-position: -176px -154px;
}
.phone-number-field .phone-number-flag.eh {
  background-position: -16px -166px;
}
.phone-number-field .phone-number-flag.eg {
  background-position: -32px -166px;
}
.phone-number-field .phone-number-flag.ee {
  background-position: -48px -166px;
}
.phone-number-field .phone-number-flag.ec {
  background-position: -64px -166px;
}
.phone-number-field .phone-number-flag.dz {
  background-position: -80px -166px;
}
.phone-number-field .phone-number-flag.do {
  background-position: -96px -166px;
}
.phone-number-field .phone-number-flag.dm {
  background-position: -112px -166px;
}
.phone-number-field .phone-number-flag.dk {
  background-position: -128px -166px;
}
.phone-number-field .phone-number-flag.dj {
  background-position: -144px -166px;
}
.phone-number-field .phone-number-flag.de {
  background-position: -160px -166px;
}
.phone-number-field .phone-number-flag.cz {
  background-position: -176px -166px;
}
.phone-number-field .phone-number-flag.cy {
  background-position: 0 -177px;
}
.phone-number-field .phone-number-flag.cx {
  background-position: -16px -177px;
}
.phone-number-field .phone-number-flag.cw {
  background-position: -32px -177px;
}
.phone-number-field .phone-number-flag.cv {
  background-position: -48px -177px;
}
.phone-number-field .phone-number-flag.cu {
  background-position: -64px -177px;
}
.phone-number-field .phone-number-flag.cs {
  background-position: -80px -177px;
}
.phone-number-field .phone-number-flag.cr {
  background-position: -96px -177px;
}
.phone-number-field .phone-number-flag.co {
  background-position: -112px -177px;
}
.phone-number-field .phone-number-flag.cn {
  background-position: -128px -177px;
}
.phone-number-field .phone-number-flag.cm {
  background-position: -144px -177px;
}
.phone-number-field .phone-number-flag.cl {
  background-position: -160px -177px;
}
.phone-number-field .phone-number-flag.ck {
  background-position: -176px -177px;
}
.phone-number-field .phone-number-flag.ci {
  background-position: -192px 0;
}
.phone-number-field .phone-number-flag.cg {
  background-position: -192px -11px;
}
.phone-number-field .phone-number-flag.cf {
  background-position: -192px -22px;
}
.phone-number-field .phone-number-flag.cd {
  background-position: -192px -33px;
}
.phone-number-field .phone-number-flag.cc {
  background-position: -192px -44px;
}
.phone-number-field .phone-number-flag.ca {
  background-position: -192px -66px;
}
.phone-number-field .phone-number-flag.bz {
  background-position: -192px -77px;
}
.phone-number-field .phone-number-flag.by {
  background-position: -192px -88px;
}
.phone-number-field .phone-number-flag.bw {
  background-position: -192px -99px;
}
.phone-number-field .phone-number-flag.bt {
  background-position: -192px -110px;
}
.phone-number-field .phone-number-flag.bs {
  background-position: -192px -121px;
}
.phone-number-field .phone-number-flag.br {
  background-position: -192px -132px;
}
.phone-number-field .phone-number-flag.bq {
  background-position: -192px -143px;
}
.phone-number-field .phone-number-flag.bo {
  background-position: -192px -154px;
}
.phone-number-field .phone-number-flag.bn {
  background-position: -192px -165px;
}
.phone-number-field .phone-number-flag.bm {
  background-position: -192px -176px;
}
.phone-number-field .phone-number-flag.bj {
  background-position: 0 -188px;
}
.phone-number-field .phone-number-flag.bi {
  background-position: -16px -188px;
}
.phone-number-field .phone-number-flag.bh {
  background-position: -32px -188px;
}
.phone-number-field .phone-number-flag.bg {
  background-position: -48px -188px;
}
.phone-number-field .phone-number-flag.bf {
  background-position: -64px -188px;
}
.phone-number-field .phone-number-flag.be {
  background-position: -80px -188px;
}
.phone-number-field .phone-number-flag.bd {
  background-position: -96px -188px;
}
.phone-number-field .phone-number-flag.bb {
  background-position: -112px -188px;
}
.phone-number-field .phone-number-flag.ba {
  background-position: -128px -188px;
}
.phone-number-field .phone-number-flag.az {
  background-position: -144px -188px;
}
.phone-number-field .phone-number-flag.ax {
  background-position: -160px -188px;
}
.phone-number-field .phone-number-flag.aw {
  background-position: -176px -188px;
}
.phone-number-field .phone-number-flag.au {
  background-position: -192px -188px;
}
.phone-number-field .phone-number-flag.hm {
  background-position: -192px -188px;
}
.phone-number-field .phone-number-flag.at {
  background-position: -208px 0;
}
.phone-number-field .phone-number-flag.as {
  background-position: -208px -11px;
}
.phone-number-field .phone-number-flag.ar {
  background-position: -208px -22px;
}
.phone-number-field .phone-number-flag.ao {
  background-position: -208px -33px;
}
.phone-number-field .phone-number-flag.an {
  background-position: -208px -44px;
}
.phone-number-field .phone-number-flag.am {
  background-position: -208px -55px;
}
.phone-number-field .phone-number-flag.al {
  background-position: -208px -66px;
}
.phone-number-field .phone-number-flag.ai {
  background-position: -208px -77px;
}
.phone-number-field .phone-number-flag.ag {
  background-position: -208px -88px;
}
.phone-number-field .phone-number-flag.af {
  background-position: -208px -99px;
}
.phone-number-field .phone-number-flag.ae {
  background-position: -208px -110px;
}
.phone-number-field .phone-number-flag.ad {
  background-position: -208px -121px;
}
.phone-number-field .phone-number-flag.np {
  background-position: -208px -132px;
}
.phone-number-field .phone-number-flag.ch {
  background-position: -208px -143px;
}
.phone-number-field .phone-number-flag.ac {
  background-position: -176px -22px;
}
.phone-number-field .phone-number-flag.ta {
  background-position: center center;
  background-image: url(data:image/gif;base64,R0lGODlhEAALANUAAPakqM3Q5UJXromby0ZdsjRMqvAHDHSDxQAASzxSq/1nZs+vOUthtbqiSmp9wgAAOf6FhPSXmjFJp2N2vsVrg5F6bFBktAAAZsUDGlpuul6ROgAAdxUwmz5Ws/1ycLlkgitEpFVptwAAgvKus19xu6253rnB4u54feUtOVyRQ6EFL8EXM4+KvRs2oSA6nyU+oeuGjJ6DYX13tZqm1OhhalVpuDZOr8GrVc+xQNO0QeB1gjdPqKCt2bK832WRZQAAMyH5BAAAAAAALAAAAAAQAAsAAAaQQNShYMAUZCvRZnlpXgSAQCQSGPEcjgkpkwkhDBCPQiGmWQgCQUJiQWAAEDLkRCF0bjlcg4CwAHonOiUwLB02eAsLAggqJgMUHw4zHwk2MQMBAwIPIgc1DAQElTsSFRUaPgmcBxagagUSIAwaKQI7PxsOrgmwIC8uLRwct7laXa1oajuwuE4XCNDQDw8/1Q9BADs=);
}
