ul {
  padding:0;
  list-style: none;

  &.social-icons {
    margin-top: 10px;

    & > li {
      vertical-align: top;
      display: inline;
      height: 100px;

      &.social-icon {
        color: #fff;
      }
    }

    & a {
      color: #fff;
      text-decoration: none;
    }
  }
}

.fa-facebook {
  padding:10px 14px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #322f30;

  &:hover {
    background-color: #3d5b99;
  }
}

.fa-twitter {
  padding:10px 12px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #322f30;

  &:hover {
    background-color: #00aced;
  }
}
