{#
/**
 * @file
 * Template file for ZURB clearing.
 */
?>
#}
<div class="clearing-container">
  <ul class="clearing-thumbs{% if (options.featured) %} clearing-feature{% endif %}" data-clearing>
    {% for key, image in images %}
      <li>{{ image.thumbnail }}</li>
    {% endfor %}
  </ul>
</div>