<div class="prev-next small clear-both clearfix">
    {% if prev %}
    <div class="prev pull-left">{{ prev }}</div>
    {% endif %}
    {% if next %}
    <div class="next pull-right">{{ next }}</div>
    {% endif %}
</div>