.tmgmt-smartling-messages-wrapper {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 1001;
  width: 280px;
}

.tmgmt-smartling-message {
  display: none;
  max-width: 200px;
  margin: 5px 10px 5px 13px !important;
}
