#tmgmt-ui-translator-settings details .details-wrapper > fieldset {
  border-radius: 0;
  border-top: none;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
}

#tmgmt-ui-translator-settings details .details-wrapper > fieldset input[name*="[name]"] {
  width: 100%;
}

#tmgmt-ui-translator-settings details .details-wrapper > fieldset > legend {
  display: none;
}

#tmgmt-ui-translator-settings [id*="edit-settings-switcher"] {
  border-bottom: 1px solid #c0c0c0;
}

#tmgmt-ui-translator-settings [id*="edit-settings-switcher"] .form-item-settings-switcher {
  min-width: 0;
  display: inline-block;
  margin: 0;
  border: 1px solid #c0c0c0;
  border-bottom: none;
  background-color: #fcfcfa;
}

#tmgmt-ui-translator-settings [id*="edit-settings-switcher"] .form-item-settings-switcher label {
  display: block;
  padding: 5px 15px;
  margin: 0;
  position: relative;
  bottom: -1px;
  border-bottom: 1px solid #c0c0c0;
}

#tmgmt-ui-translator-settings [id*="edit-settings-switcher"] .form-item-settings-switcher input {
  display: none;
}

#tmgmt-ui-translator-settings [id*="edit-settings-switcher"] .form-item-settings-switcher input:checked + label {
  font-weight: bold;
  border-bottom: 1px solid #fcfcfa;
}
