.wp-block-example-example-block {
  display: flex;
  flex-direction: row;

  .column {
    flex: 1
  }

  .icon {
    text-align: center;

    svg {
      width: 120px;
      height: 120px;  
    }
  }
}
