{#
/**
 * @file
 *
 * Default theme implementation for a scholarship general message.
 *
 * Available variables:
 * - parent_name
 * - parent_value
 */
#}
Depends on: <span class="field-ui-conditional-dependent">{{ parent_name }}</span>, when set to value: <span class="field-ui-conditional-dependent">{{ parent_value }}</span>
