{#
/**
 * @file
 * Default theme implementation to present all search data.
 *
 * The template usered for searching data from angulerjs library
 *
 * Available variables:
 * - base_url: getting base path url.
 * - attributes: HTML attributes for the container element.
 * - Search: A Drupal data search from sjon file.
 *
 * @ingroup themeable
 */
#}

<div class="panel panel-primary" >
    <div class="panel-body" ng-app="angularjsTable">
        <div  ng-controller="listitemdata">
            <div class="col-md-12">
                <div class="panel-heading" style="background-color: #f1f1f1; border-color: #777;">
                    <input type="text" style="width:100%;" ng-model="search" class="form-control" placeholder="Type your search keyword..">
                </div>
            </div>
            <div class="col-md-12"> <h2>Search Results</h2>  <hr style="margin-top: 0px; margin-bottom: 0px;border-top: 2px solid #999;" >  </div>
            <div  class="col-md-12"  dir-paginate="ResultVal in Result|orderBy:sortBy:reverse|filter:search|itemsPerPage:20">
                <h3><a href="#" title="" ng-bind-html="ResultVal.title"></a></h3>
                <p ng-bind-html="ResultVal.body" ></p>
                <hr style="margin-top: 0px; margin-bottom: 0px;" >
            </div>
            <div class="col-md-12"><hr style="margin-top: 0px; margin-bottom: 0px;border-top: 2px solid #999;" > 
                <dir-pagination-controls
                    max-size="10"
                    direction-links="true"
                    boundary-links="true" >
                </dir-pagination-controls>
            </div>
        </div>
    </div>
</div>