/**
 * @file
 */

.form--elevatezoomplus.form--optionset #edit-options {
  clear: both;
  float: none;
  width: 100%;
}

.form--elevatezoomplus.form--optionset .form-item-layout-description {
  font-size: 0.9rem;
  margin: 30px auto;
  text-align: left;
  text-transform: none;
  width: 100%;
}

.form--elevatezoomplus.form--optionset .form-wrapper--wide {
  clear: both;
  float: none;
  width: 100%;
}

.form--optionset.has-tooltip .form-item-label {
  float: none;
  width: 100%;
}

.form--optionset .details--respond .details-wrapper > .seven-details__description {
  padding: 15px;
}

.form--optionset .details--respond .form-actions {
  padding: 15px;
}

@media screen and (min-width: 1280px) {
  .form--optionset.has-tooltip .form-wrapper--responsive {
    min-width: 640px;
    padding-top: 15px;
  }

  .form--optionset.has-tooltip td {
    vertical-align: top;
  }

  .form--optionset.has-tooltip td .form-wrapper--responsive .form-item {
    border-bottom: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
    float: left;
    margin: 0;
    min-height: 64px;
    padding: 15px 0;
    width: 49.9999%;
  }

  .form--optionset.has-tooltip td .form-wrapper--responsive .form-item:nth-child(even) {
    border-right: 0;
  }

  .form--optionset.has-tooltip .details--settings .form-item:nth-child(3n) {
    border-right: 0;
  }
}
