/**
 * Custom styling for the Administration menu.
 */
.toolbar .toolbar-site-switcher {
  background-image: none !important;
  background: #ff9933;
  color: #000 !important;
}
.toolbar .toolbar-site-switcher + .toolbar-tray-horizontal ul.toolbar-menu li.platform {
  border-right: 1px solid #dddddd;
}
.toolbar .toolbar-site-switcher + .toolbar-tray-vertical ul.toolbar-menu li.platform {
  border-bottom: 1px solid #dddddd;
}
.toolbar .toolbar-site-switcher + .toolbar-tray ul.toolbar-menu li a:hover {
  background-color: #ff9933;
  color: #000;
}
