.page-access-form .page-access-user-autocomplete {
    width: 65%;
}
.page-access-form .page-access-edit-access {
    margin-left: 6%;
}
.page-access-form .container-inline {
    margin-bottom: 2%;
}
.page-access-form .container-inline label::after {
    content: '';
}
.page-access-form .page-access-add-user {
    margin-top: 1%;
}
.page-access-form .page-access-remove-user {
    display: inline;
    padding: 3px 6px;
}
.page-access-form .page-access-remove-user:hover {
    color: #FF0000;
}
