span.arrow {
    font-size: 30px;
    padding-top: 4px;
    display: inline-block;
    color: #002e5d;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.calendar-content * {
    font-family: "HCo Ringside Narrow SSm", Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    overflow: hidden;
}

.calendar-content {
    text-align: center;
    padding: 0 10px;
}

.calendar-content .key-item-table tbody {
    border: none;
}

.calendar-content a {
    color: #444;
}

.calendar-title {
    font-size: 52px;
    font-weight: 300;
    line-height: 60px;
    margin-bottom: 8px;
    text-align: center;
    padding: 40px 0;
}

.sidebar-item table, .key-item table {
    margin-top: 0px;
    margin-bottom: 0px;
}

.sidebar-item table {
    width: 100%;
}

.sidebar-item-title, .key-item-title {
    font-size: 20px;
    font-weight: bold;
}

.accal-tooltip {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 250px;
    z-index: 500;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.9);
    display: none;
}

.accal-tooltip h3 {
    font-family: "HCo Ringside Narrow SSm", Arial, Helvetica, sans-serif;
    width: 100%;
    background-color: #99b2cc;
    font-size: 16px;
    text-align: center;
    margin: 0px 0px 0px 0px;
    padding: 2px 5px 2px 5px;
    box-sizing: border-box;
    color: #fff;
    font-family: "HCo Ringside Narrow SSm", Arial, Helvetica, sans-serif;
    font-weight: 300;
}

.accal-tooltip span {
    font-family: "HCo Ringside Narrow SSm", Arial, Helvetica, sans-serif;
    width: 100%;
    font-size: 16px;
    padding: 2px 5px 2px 5px;
    box-sizing: border-box;
    text-align: center;
    display: block;
}

.accal-tooltip > span > span {
    font-family: "HCo Ringside Narrow SSm", Arial, Helvetica, sans-serif;
    color: #666;
    font-size: 13px;
}

.table-cell-contents {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.divs-1 div {
    padding: 3px 3px 3px 3px;
    margin: 0px 0px 0px 0px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-size: 18px;
    line-height: 26px;
    overflow: hidden;
    white-space: nowrap;
}

.divs-2 div {
    padding: 2px 2px 2px 2px;
    margin: 0px 0px 0px 0px;
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    font-size: 13px;
    line-height: 28px;
    overflow: hidden;
    white-space: nowrap;
    float: left;
}

.divs-3 div {
    padding: 1px 1px 1px 1px;
    margin: 0px 0px 0px 0px;
    box-sizing: border-box;
    width: 33.3%;
    height: 100%;
    font-size: 10px;
    line-height: 30px;
    overflow: hidden;
    white-space: nowrap;
    float: left;
}

.wntr-term {
    background-color: #fff2cc;
}

.sprn-term {
    background-color: #deebf7;
}

.sumr-term {
    background-color: #fbe5d6;
}

.fall-term {
    background-color: #E2F0D8;
}

.new-student-orientation-color {
    background-color: #ccf1e0;
    border: none;
}

.exam-preparation-day-color {
    background-color: #ffdddd;
    border: none;
}

.final-exam-day-color {
    background-color: #f9ecff;
    border: none;
}

.education-week-color {
    background-color: #AE93FF;
    border: none;
}

.university-conference-color {
    background-color: #e7f4ff;
    border: none;
}

.uconf {
    background-color: #e7f4ff;
}

.graduation-color, .commencement-color, .convocations-color {
    background-color: #c9c9ff;
    border: none;
}

.no-classes {
    background-color: #ccc;
}

.add-drop-deadline-text, .second-add-drop-deadline-text, .withdraw-deadline-text, .first-withdraw-deadline-text, .second-withdraw-deadline-text, .discontinuance-deadline-text, .monday-instruction-text, .friday-instruction-text, .no-classes-text, .start-end, .commencement-text, .convocations-text, .grade-submission-text, .grades-online-text, .last-day-text, .start-of-classes-text, .first-day-text, .fall-priority-registration-text, .spring-summer-registration-text, .winter-priority-registration-text, .freshmen-fall-registration-text, .freshmen-winter-registration-text {
    font-weight: bold;
    color: #A90217;
    font-size: 12px;
    border: none;
}

.holiday-color {
    font-weight: bold;
    color: white;
    background-color: #000033;
    font-size: 20px;
}

.academic-calendar-event-color {
    background-color: #fef2d0;
}

.calendar-month {
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
    height: 280px;
    box-sizing: border-box;
}

.calendar-month-table {
    border-collapse: collapse;
    border-spacing: 0px;
    table-layout: fixed;
    width: 250px;
    margin: 0;
    padding: 0;
}

.calendar-month table, .calendar-month td {
    border: 1px solid transparent;
    padding: 0;
}

.cal-month {
    text-align: center;
    color: #fff;
    background-color: #369;
    font-weight: 300;
}

.cal-day {
    text-align: center;
    color: #3b6d9e;
    font-weight: 300;
    overflow: hidden;
    font-size: 14px;
    height: 32px;
}

.cal-date {
    text-align: center;
    overflow: hidden;
    font-size: 18px;
    height: 32px;
}

.sidebar-item {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
}

.key-item {
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 20px;
}

.sidebar-item-table td {
    padding: 5px 10px;
}

.calendar-months {
    width: 100%;
}

.calendar-month {
    margin: 0 8px 10px 0;
}

.calendar-sidebar {
    width: 250px;
    margin: 0 auto;
}

.calendar-sidebar table, .calendar-key table td:nth-child(2) {
    font-size: 90%;
    text-align: left;
}

.calendar-key {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
}

.key-item td:first-child {
    width: 24px;
    vertical-align: text-top;
}

td.cal-date.wntr-term, .wntr-term tr:nth-child(1) {
    border-top: 3px solid #ffdf80;
}

.wntr-term {
    background-color: #fff9ea;
}

td.cal-date.sprn-term, .sprn-term tr:nth-child(1) {
    border-top: 3px solid #a0c6e8;
}

.sprn-term {
    background-color: #f1f7fb;
}

td.cal-date.sumr-term, .sumr-term tr:nth-child(1) {
    border-top: 3px solid #f4b990;
}

.sumr-term {
    background-color: #fdf4ee;
}

td.fall-term, .fall-term tr:nth-child(1) {
    border-top: 3px solid #b9dba1;
}

.fall-term {
    background-color: #f3f9ef;
}

.holiday-color {
    color: #369;
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid #369;
}

.calendar-months td.cal-date:focus a,
.calendar-months td.cal-date:hover a {
    font-weight: 600;
    color: #000;
}

.education-week-color {
    background-color: #e4e4e4;
}

.new-student-orientation-color:focus,
.new-student-orientation-color:hover {
    text-decoration: underline;
    opacity: 1;
}

/* ================================ calendar-size-1 ================================ */
.calendar-size-1 {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
}

.calendar-size-1 .calendar-title {
    text-align: left;
}

.calendar-size-1 .calendar-months {
    width: 100%;
    float: left;
}

.calkey-size-1 .key-item {
    width: 30%;
}

/* ================================ calendar-size-2 ================================ */
.calendar-size-2 .calendar-month {
    height: 250px;
}

.calendar-size-2 .calendar-months {
    width: 100%;
    max-width: 860px;
    float: none;
    margin: 0 auto;
    clear: both;
}

.calkey-size-2 .key-item {
    width: 30%;
}

/* ================================ calendar-size-3 ================================ */
.calendar-size-3 .calendar-months {
    width: 100%;
    margin: 0 auto;
    max-width: 534px;
}

.calkey-size-3 .key-item {
    width: 45%;
}

/* ================================ calendar-size-4 ================================ */
.calendar-size-4 .calendar-months {
    display: inline-block;
    width: 250px;
}

.calendar-size-4 .calendar-month {
    padding: 0 8px 10px 0;
    margin: 0;
}

.calendar-size-4 .calendar-title {
    font-size: 42px;
    line-height: 50px;
}

.calkey-size-4 .key-item {
    width: 95%;
}

.cal-date {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.calendar-title {
    padding: 20px 0px;
}