

/*
.wisski-anno-entity-list a {
  background-position: -64px -112px;
}
*/

.wisski-ckeditor-sidebar-entity-picker .ui-dialog-titlebar {
  height: 1em;
  padding: 3px 3px 3px 10px;
}

.wisski-anno-dialog .anno-id {
  font-size: 0.8em;
}


.wisski-ckeditor-annotation-dialog .ui-dialog-titlebar {
  display: none;
}


.ui-dialog .wisski-entity-dialog {
  padding: 0px;
  overflow: hidden;
}

.wisski-entity-dialog .anno-dialog-dialog-wrapper {
  height: 100%;
  padding: 0px;
}

.wisski-entity-dialog .wisski-anno-dialog {
  height: 100%;
  padding: 0px;
}

.wisski-entity-dialog .wisski-anno-dialog div.targets {
  padding: 0px;
}

.wisski-entity-dialog .wisski-anno-dialog > h3 {
  background: #ffcc66;
  padding: 0px 2em;
  border: 0px;
  border-radius: 0px;
  font-size: 0.8em;
}

.wisski-entity-dialog .wisski-anno-dialog > div {
  padding: 3px;
  border: 0px;
}

.wisski-entity-dialog .wisski-anno-entity-list > h3 {
  background: rgba(0, 0, 0, 0.105);;
  padding: 0px;
  border: 0px;
  border-radius: 0px;
  font-style: normal;
  font-size: 1em;
}

.wisski-entity-dialog .wisski-anno-entity-list > div {
  padding: 3px;
  border: 0px;
}

.wisski-entity-dialog .wisski-anno-entity-list > h3 .label {
  display: inline;
  padding: 3px 0px 3px 2em;
}

.wisski-entity-dialog .wisski-anno-entity-list > h3 .pick-entity-button {
  float: right;
  background-color: #ffcc66;
  padding: 0px 0px 0px 0px;
  border: 0px;
  height: 100%; 
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}







