.wisski-ckeditor-sidebar-entity-picker .wisski-entity-picker {
  

}

.wisski-ckeditor-sidebar-entity-picker .entity-list h3 {
  font: normal;

}

.wisski-ckeditor-sidebar-entity-picker .ui-dialog-titlebar {
  height: 1em;
  padding: 3px 3px 3px 10px;
}



