{#
/**
 * @file
 * Default theme implementation for a file title
 *
 * Available variables:
 * - attributes: The HTML attributes for the containing element.
 * - title: the file title
 * @ingroup themeable
 */
#}
<h3>{{ title }}</h3>