/* -------------------------------------------------------------------------- */
/* -----| HEADER |----------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

#page-navbar .navbar-text {
  display: block;
  float: left;
  font-family: 'Cutive Mono', monospace, serif;
  max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


/* ---------------------------------------------------------------------------------------------- */
/* -----| DIRECTORY LISTER |--------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------- */

#directory-list-header {
  font-family: 'Cutive Mono', monospace, serif;
  font-weight: bold;
  padding: 10px 15px;
}

#directory-listing {
  font-family: 'Cutive Mono', monospace, serif;
}

#directory-listing li {
  position: relative;
}

.file-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 70%;
  float: left;
  height: 40px;
}

.file-size {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 10%;
  float: left;
  height: 40px;
}

.file-modified {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 20%;
  float: left;
  height: 40px;
}

.file-name i {
  color: #555;
}

.file-info-button,
.web-link-button {
  display: inline-block;
  cursor: pointer;
  margin-left: 100%;
  padding: 6px 10px !important;
  position: absolute !important;
  top: 4px;
}

.web-link-button i,
.file-info-button i {
  color: #999;
}


/* ---------------------------------------------------------------------------------------------- */
/* -----| FOOTER |------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------- */

.footer {
  margin: 20px;
  text-align: center;
}


/* ---------------------------------------------------------------------------------------------- */
/* -----| CHECKSUM MODAL |----------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------- */

#file-info {
  margin: 0;
}

#file-info .table-title {
  font-weight: bold;
  text-align: right;
}

#file-info .md5-hash,
#file-info .sha1-hash {
  font-family: 'Cutive Mono', monospace, serif;
}

.CodeFlask,
.CodeFlask__textarea {
  min-height: 500px !important;
  height: auto !important;
  overflow: auto !important;
  -webkit-box-shadow: -7px 10px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: -7px 10px 5px 0px rgba(0,0,0,0.5);
  box-shadow: -7px 10px 5px 0px rgba(0,0,0,0.5);
}

code {
  margin: 0 !important;
}

.sceditor-save-server,
.sceditor-changed-files {
  color: #ffffff;
  background-color: #6a9c17;
  padding: 8px 16px;
  display: inline-block;
  margin-top: 10px;
  cursor: pointer;
  text-decoration: none;
  width: 11% !important;
  float: left;
}

.sceditor-save-server:hover,
.sceditor-changed-files:hover,
.sceditor-clear-files:hover {
  cursor: pointer;
  text-decoration: none;
  -webkit-box-shadow: -7px 10px 5px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: -7px 10px 5px 0px rgba(0,0,0,0.3);
  box-shadow: -7px 10px 5px 0px rgba(0,0,0,0.3);
}

a.sceditor-save-server {
  margin-left: 2%;
  width: 5% !important;
}

a.sceditor-changed-files {
  margin-left: 2%;
  width: 11% !important;
}

a.sceditor-clear-files {
  color: #ffffff;
  background-color: #6a9c17;
  padding: 8px 16px;
  display: inline-block;
  margin-top: 10px;
  cursor: pointer;
  text-decoration: none;
  width: 20% !important;
  float: left;
}

#sceditor-directory-listing {
  -webkit-box-shadow: -7px 10px 5px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: -7px 10px 5px 0px rgba(0,0,0,0.3);
  box-shadow: -7px 10px 5px 0px rgba(0,0,0,0.3);
}
