{#
/**
 * @file
 * Theme implementation for a hotspots UI.
 */
#}

<div class="image-hotspots-wrapper" data-field-name="{{ info.field_name }}"  data-image-style="{{ info.image_style }}" data-fid="{{ info.fid }}">
  <div class="image-wrapper">
    {{ image }}
  </div>
  <div class="labels"></div>
  {% if info.editable %}
    <div class="add-button action" title="{% trans %}Add new hotspot to image{% endtrans %}">Add hotspot</div>
    <div class="edit-form-wrapper">
      <div class="form-header">
        <div class="close-button"></div>
      </div>
      <form class="edit-form">
        <div class="form-messages"></div>
        <input type="text" name="hotspots-title" placeholder="{% trans %}Title{% endtrans %}" required>
        <input type="text" name="hotspots-description" placeholder="{% trans %}Description{% endtrans %}">
        <input type="text" name="hotspots-link" placeholder="{% trans %}Link{% endtrans %}">
        <button type="submit" name="save">{% trans %}Save{% endtrans %}</button>
      </form>
    </div>
  {% endif %}
</div>
