.basic_cart-circle-128-105 {
  position: absolute;
  margin-left: -79px;
  height: 60px;
  width: 66px;
  background-color: #ffc107;
  border-radius: 100%;
  padding: 0;
  font-size: 30px;
  text-align: center;
  color: rgba(0,0,0,1);
  line-height: 48px;
  margin-top: 4px;
}

.basic_cart-msg-pck-128-105 a img {
  color: rgba(0,0,0,0.7);
}

.basic_cart-msg-pck-128-105 {
  position: relative;
  float: right;
  top: 6px;
  right: 7px;
  width: 128px;
}
