.basic_cart-circle-32-26 {
  position: absolute;
  margin-left: -20px;
  height: 16px;
  width: 16px;
  background-color: #ffc107;
  border-radius: 70%;
  padding: 0;
  font-size: 10px;
  text-align: center;
  color: rgba(0,0,0,1);
  line-height: 14px;
  margin-top: -1px;
}

.basic_cart-msg-pck-32-26 a img {
  color: rgba(0,0,0,0.7);
}

.basic_cart-msg-pck-32-26 {
  position: relative;
  float: right;
  top: 6px;
  right: 7px;
  width: 32px;
}
