div.ajax-search-box{
    position: relative;
  }
  div.ajax-search-box>div{
    display: inline-block;
    position: relative;
  }
  input.ajax-search-input{
    font-size: 16px;
    padding: 5px 6px;
    padding-right: 25px;
    width: 225px;
    color: #000;
  }
  input.ajax-search-input::-ms-clear {
    display: none;
  }
  div.avaiable-pages{
    display: none;
    position: absolute;
    z-index: 1000;
    background-color: #fff;
    margin-top: 2px;
    width: 100%;
  }
  div.avaiable-pages>div{
    background-color: #fff;
    padding: 5px;
    padding-top: 0;
    border-bottom: 5px solid #fff;
    max-height: 405px;
    overflow-y: scroll;
  }
  div.avaiable-pages li.search-item{
    background-color: #72B5EC;
    list-style: none;
    cursor: pointer;
    padding: 5px 0px 5px 10px;
    margin: 4px 0;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    border-radius: 7px;
  }
  div.avaiable-pages li.search-item:hover, div.avaiable-pages li.focused-page{
    background-color: #0065b8;
    color: #fff;
  }
  div.ajax-search-loader{
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 10px;
    height: 10px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 7px;
    margin-left: 234px;
    display: none;
  }
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
