/**
 * Generic elements.
 */

*,
*::before,
*::after {
  box-sizing: border-box;
}

#toolbar-administration {
  z-index: 1001;
}

html {
  -webkit-font-smoothing: antialiased;
  font-size: $font-size-root;
}

body {
  color: $text-color;
  background: #fff;
  font-size: $font-size-base;
  font-family: $font-base;
  font-weight: normal;
  line-height: $line-height-base;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

a,
.link {
  color: $link-color;
  text-decoration: none;
}

a:hover,
.link:hover,
a:focus,
.link:focus {
  text-decoration: none;
  outline: 0;
  color: $link-color-hover;
}

hr {
  margin: 0;
  padding: 0;
  border: none;
  height: 1px;
  background: #cccccc;
}

summary,
.fieldgroup:not(.form-composite) > legend {
  font-weight: bold;
  text-transform: uppercase;
}

.simpletest-results-form summary {
  text-transform: none;
}


/**
 * Reusable heading classes are included to help modules change the styling of
 * headings on a page without affecting accessibility.
 */

h1,
.heading-a {
  font-weight: bold;
  margin: 0;
  font-size: $font-size-h1;
  line-height: 1.875em;
  &.paragraph__title{
    margin-top: 0;
    margin-bottom: 10px;
  }
}

h2,
.heading-b {
  font-weight: bold;
  margin: 10px 0;
  font-size: $font-size-h2;
}

h3,
.heading-c {
  font-weight: bold;
  margin: 10px 0;
  font-size: $font-size-h3;
}

h4,
.heading-d {
  font-weight: bold;
  margin: 10px 0;
  font-size: $font-size-h4;
}

h5,
.heading-e {
  font-weight: bold;
  margin: 10px 0;
  font-size: $font-size-h5;
}

h6,
.heading-f {
  font-weight: bold;
  margin: 10px 0;
  font-size: $font-size-h6;
}

p {
  margin: 1em 0;
}

dl {
  margin: 0 0 20px;
}

dl dd,
dl dl {
  margin-left: 20px;
  /* LTR */
  margin-bottom: 10px;
}

[dir="rtl"] dl dd,
[dir="rtl"] dl dl {
  margin-right: 20px;
}

blockquote {
  margin: 1em 40px;
}

address {
  font-style: italic;
}

u,
ins {
  text-decoration: underline;
}

s,
strike,
del {
  text-decoration: line-through;
}

big {
  font-size: larger;
}

small {
  font-size: smaller;
}

sub {
  vertical-align: sub;
  font-size: smaller;
  line-height: normal;
}

sup {
  vertical-align: super;
  font-size: smaller;
  line-height: normal;
}

nobr {
  white-space: nowrap;
}

abbr,
acronym {
  border-bottom: dotted 1px;
}

ul {
  list-style-type: disc;
  list-style-image: none;
  margin: 0.25em 0 0.25em 1.5em;
  /* LTR */
}

[dir="rtl"] ul {
  margin-left: 0;
  margin-right: 1.5em;
}


/* This is required to win over specificity of [dir="rtl"] ul */

[dir="rtl"] .messages__list {
  margin-right: 0;
}

ol {
  list-style-type: decimal;
  margin: 0.25em 0 0.25em 2em;
  /* LTR */
  padding: 0;
}

[dir="rtl"] ol {
  margin-left: 0;
  margin-right: 2em;
}

quote,
code {
  margin: .5em 0;
}

pre {
  margin: 0.5em 0;
  white-space: pre-wrap;
}

details {
  line-height: 1.295em;
}

details summary {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

details summary:focus {
  outline: none;
}

details summary:focus,
details summary:hover {
  text-decoration: underline;
}
