@font-face {
    font-family: 'icomoon';
    src:    url('#{$fonts-directory}/icomoon.eot?6pfrci');
    src:    url('#{$fonts-directory}/icomoon.eot?6pfrci#iefix') format('embedded-opentype'),
        url('#{$fonts-directory}/icomoon.ttf?6pfrci') format('truetype'),
        url('#{$fonts-directory}/icomoon.woff?6pfrci') format('woff'),
        url('#{$fonts-directory}/icomoon.svg?6pfrci#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

i {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-edit::before {
    content: $icon-edit;
}

.icon-delete::before {
    content: $icon-delete;
}

.icon-clone::before {
    content: $icon-clone;
}
