#edit-storage .form-wrapper {
  display: inline-block;
  vertical-align: top;
}

#edit-storage .form-item,
#edit-title-wrapper .form-item {
  margin-bottom: 0;
}

#edit-scheme-wrapper {
  padding-right: 1em;
}
