{#
/**
 * @file
 * Variables available:
 * - use_cookie_message: Contains the text that will be displayed.
 * - more_info_url: Url that will give user more information.
 * - more_info_message: User friendly text for link.
 */
#}

<div id="cookie-banner">
  <p>
    {{ use_cookie_message }}
    <a href="{{ more_info_url }}">{{ more_info_message }}</a>
  </p>

  <button class="close">
    <span><?php print t('Close cookie notice'); ?></span>
  </button>
</div>
