{#
/**
 * @file badge_awarded.html.twig
 * Default theme implementation to present Badge awarded data.
 *
 * This template is used when viewing Badge awarded pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_badge_awarded()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('badge_awarded') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
