#debug-bar * {
  font: inherit;
  color: inherit;
  background: transparent;
  margin: 0;
  padding: 0;
  border: none;
  text-align: inherit;
  list-style: inherit;
  opacity: 1;
  box-shadow: none;
  box-sizing: content-box;
}

#debug-bar img {
  display: inline;
}

#debug-bar {
  font: normal normal 12px/21px Tahoma, sans-serif;
  color: #333;
  border: 3px double #777;
  position: fixed;
  overflow: auto;
  white-space: nowrap;
  z-index: 30000;
  list-style: none;
  padding: 0;
  margin: 0;
  background: #fff;
}

#debug-bar.debug-bar-top-left {
  top: 0;
  left: 0;
  border-bottom-right-radius: 5px;
  border-width: 1px 3px 3px 1px;
}

#debug-bar.debug-bar-top-right {
  top: 0;
  right: 0;
  border-bottom-left-radius: 5px;
  border-width: 1px 1px 3px 3px;
}

#debug-bar.debug-bar-bottom-left {
  bottom: 0;
  left: 0;
  border-top-right-radius: 5px;
  border-width: 3px 3px 1px 1px;
}

#debug-bar.debug-bar-bottom-right {
  bottom: 0;
  right: 0;
  border-top-left-radius: 5px;
  border-width: 3px 1px 1px 3px;
}

#debug-bar li {
  float: left;
  display: block;
}

#debug-bar li .debug-bar-inner {
  padding: 1px 6px;
  display: block;
  border-right: 1px dotted #777;
  line-height: 1.7;
  text-decoration: none;
}

#debug-bar a.debug-bar-inner:hover,
#debug-bar #debug-bar-hide-button:hover {
  background-color: #fcecb0;
  text-decoration: none;
}

#debug-bar .debug-bar-inner-icon {
  margin: 3px 1px;
  vertical-align: bottom;
}

#debug-bar #debug-bar-hide-button {
  width: 16px;
  height: 22px;
  text-align: center;
  background: url(../images/minus.png) center no-repeat;
}

#debug-bar.debug-bar-hidden #debug-bar-hide-button {
  background-image: url(../images/plus.png);
}

#debug-bar.debug-bar-hidden li:not(.debug-bar-hide-button) {
  display: none;
}

#debug-bar-hide-button {
  cursor: pointer;
}

@media print {
  #debug-bar-wrapper * {
    display: none;
  }
}
