{{ attach_library('virtual_tour/virtual_tour.javascript') }}

{#/**
* @file
* Template for an Pannellum.
*
* Available variables:
 * - Id of the effect.
 * - image: The path to the display image.
 * - alt: The alt text of the image.
 * - title: The title of the image.
 * - effect: Type of virtual type effect.
 * - autoload: For autoload preview.
 * - height: height of the image.
 * - width: width of the image.
*/
#}
<div {% if id %} id="{{ id }}" {% endif %} class="panorama" {% if alt %} alt="{{ alt }}" {% endif %} {% if title %} title="{{ title }}" {% endif %}>
</div>
