<div class="bdsharebuttonbox" data-tag="share_1">
	<!-- 此处添加展示按钮 -->
 {% for sharetag in data.list %}
        <a class="bds_{{ sharetag }}" data-cmd="{{ sharetag }}"></a>
 {% endfor %}


	<a class="bds_more" data-cmd="more">更多</a>
{% if data.show_count!=0 %}
	<a class="bds_count" data-cmd="count"></a>
{% endif %}
</div>