{#
 /**
  * @file
  * Contains theme representation of search result
  *
  * Available variables:
  *  - result - the search result \Drupal\search_365\SearchResults\Result
  */
#}
<div class="search-result__title"><a href="{{ result.getUrl }}">{{ result.getTitle }}</a></div>
<div class="search-result__snippet-info">{{ result.getBody|striptags('<b>')|raw }}</div>
