/* css file for table */
#bookDiv {
  width: 100%;
}

#bookDiv table {
  border: 1px solid grey;
}

#bookDiv table th {
  width: 25%;
  padding: 10px;
  margin: 10px;
  border: 1px solid grey;
}

#bookDiv table td {
  width: 25%;
  padding: 10px;
  margin: 10px;
  border: 1px solid grey;
}

#bookDiv table thead tr {
  background-color: grey;
}

#bookDiv table tbody tr:nth-child(odd) {
  background-color: #fff;
}

#bookDiv table tbody tr:nth-child(even) {
  background-color: #ddd;
}
