header .page-title {
  display: none;
}
#pluginContainer {
  max-width: 450px;
}
.logoHttpcs {
  display: inline-block;
  vertical-align: text-bottom;
}
.description {
  margin-bottom: 10px;
  font-size: 13px;
  text-align: left;
}
#connectionContainer {
  display: none;
}
#creationContainer,
#connectionContainer,
.httpcsContainer {
  text-align: center;
  padding: 30px;
  background-color: #e8e8e8;
  max-width: 450px;
  width: 100%;
}
#container {
  text-align: center;
  width: 100%;
}
.info {
  color: #4594fe;
  font-size: 13px;
}
#creationContainer a,
#connectionContainer a {
  cursor: pointer;
}
#creationContainer a:hover,
#connectionContainer a:hover {
  text-decoration: underline;
}
#creationContainer>h3,
#connectionContainer>h3 {
  text-align: center;
  color: #443a44;
  font-size: 24px;
}
#creationContainer>h4,
#connectionContainer>h4 {
  letter-spacing: 1px;
  text-align: center;
  color: #443a44;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}
.blueHttp {
  color: #267ae9;
}
.yellowCs {
  color: #fbb81c;
}
#votreSite {
  margin-top: 0;
  font-weight: 100;
}
#creationContainer input,
#connectionContainer input {
  width: 100%;
  margin: 5px 0;
}
.form-control {
  background: #f7f7f7;
  border-radius: 0;
  border: none;
  box-shadow: none;
  resize: none;
  height: 42px;
  line-height: 25px;
  padding: 10px 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #443a44;
  margin: 10px 0;
}
.btn {
  color: #fff;
  letter-spacing: 1px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  padding: 0 27px;
  line-height: 40px;
  border: none;
  border-radius: 0;
  box-shadow: none;
  background: #d8d8d8;
  text-shadow: none;
}
.btn.btn-green {
  margin-bottom: 5px;
  background: #37bb46;
}
#creationContainer .btn-green {
  cursor: pointer;
  width: 75%;
}
.btn.btn-green:hover {
  outline: none;
  text-decoration: none;
  transition: all 300ms ease-in-out 0s;
  background: #206c28;
  border-color: #398439;
}
.btn.btn-green:focus,
.btn.btn-green:hover {
  outline: none;
  text-decoration: none;
  transition: all 300ms ease-in-out 0s;
}
.btn.btn-primary {
  margin-bottom: 5px;
  background: #267ae9;
}
#container .btn-primary,
#connectionContainer .btn-primary {
  cursor: pointer;
  width: auto;
}
.btn.btn-primary:hover {
  outline: none;
  text-decoration: none;
  transition: all 300ms ease-in-out 0s;
  background: #104b99;
  border-color: #204d74;
}
.btn.btn-primary:focus,
.btn.btn-primary:hover {
  outline: none;
  text-decoration: none;
  transition: all 300ms ease-in-out 0s;
}
#creationContainer input:disabled {
  cursor: no-drop;
}
#coClick,
#creaClick {
  cursor: pointer;
}
.httpcsClearfix {
  clear: both;
}
.rf {
  float: right;
}
.forgotpw {
  cursor: pointer;
  line-height: 40px;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.forgotpw:hover {
  text-decoration: underline;
}
.underline:hover {
  text-decoration: underline;
}
#logoHttpcsContainer {
  max-width: 450px;
  width: 100%;
  text-align: center;
  padding: 0 30px;
}
.region .messages p {
  margin: 0;
}
@media screen and (max-width: 767px) {
  #creationContainer,
  #connectionContainer,
  #logoHttpcsContainer {
    width: auto;
  }
  #creationContainer input[type="submit"] {
    width: 100%;
    font-size: 10px;
  }
  #creationContainer  input[type=text],
  #creationContainer  input[type=search],
  #creationContainer  input[type=password],
  #creationContainer  input[type=email],
  #creationContainer  input[type=number] {
    margin: 3px 0;
    font-size: 0.9em;
  }
}
