{#
/**
 * @file
 * Two column template for the box add/edit form.
 *
 * This template will be used when a box edit form specifies 'box_edit_form'
 * as its #theme callback.  Otherwise, by default, box add/edit forms will be
 * themed by form.html.twig.
 *
 * Available variables:
 * - form: The box add/edit form.
 */
#}
<div class="layout-box-form clearfix">
  <div class="layout-region layout-region-box-main">
    {{ form|without('advanced', 'footer', 'actions') }}
  </div>
  <div class="layout-region layout-region-box-secondary">
    {{ form.advanced }}
  </div>
  <div class="layout-region layout-region-box-footer">
    <div class="layout-region-box-footer__content">
      {{ form.footer }}
      {{ form.actions }}
    </div>
  </div>
</div>
