#sa11y-node-tab.active {
  padding-right: 30px;
}
.sa11y-link {
  text-decoration: underline;
  color: #5181c6;
}

/** Status icons **/
.sa11y-status {
  margin-left: 5px;
  display: inline-block;
  width: 20px;
  height: 1em;
  background: transparent center / contain no-repeat;
  vertical-align: middle;
}
.sa11y-status.error {
  background-image: url(/core/misc/icons/e32700/error.svg);
}
.sa11y-status.pending {
  background-image: url(/core/misc/throbber-active.gif);
}
.sa11y-status.outdated {
  background-image: url(/core/misc/icons/e29700/warning.svg);
}
.sa11y-status.clean {
  background-image: url(/core/misc/icons/73b355/check.svg);
}

/** Result actions **/
.sa11y-result-container {
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
#sa11y-result {
  cursor: pointer;
}
.sa11y-violation.active {
  border: 1px dashed #e32700;
}

/** Violation **/
.violation-content {
  padding: 0;
  margin: 0;
}
.violation-content .exclaim {
  width: 1em;
  height: 1em;
  vertical-align: sub;
  fill: #73b355;
}
.violation-content.moderate .exclaim {
  fill: #e4d700;
}
.violation-content.serious .exclaim {
  fill: #e29700;
}
.violation-content.critical .exclaim {
  fill: #e32700;
}
.violation-content .violation-report {
  text-align: center;
}
.violation-content .violation-report a {
  color: #5181c6;
  font-size: 0.750em;
}

/** Tooltip **/
.sa11y-tip.ui-tooltip {
  color: black;
  padding: 5px 20px;
  position: absolute;
  background: white;
  max-width: 300px;
  z-index: 9999;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.75);
}
.sa11y-tip .ui-tooltip-content::after,
.ui-tooltip-content::before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
}
.sa11y-tip.bottom .ui-tooltip-content::after {
  border-color: rgba(120, 120, 120, 0);
  border-top-color: white;
  border-width: 10px;
  left: 50%;
  margin-left: -10px;
}
.sa11y-tip.bottom .ui-tooltip-content::before {
  border-color: rgba(120, 120, 120, 0);
  border-top-color: #787878;
  border-width: 11px;
  left: 50%;
  margin-left: -11px;
}
.sa11y-tip.top .ui-tooltip-content::after {
  top: -10px;
  left: 50%;
  border-color: white transparent;
  border-width: 0 10px 10px;
  margin-left: -10px;
}
.sa11y-tip.top .ui-tooltip-content::before {
  border-color: rgba(120, 120, 120, 0);
  border-bottom-color: #787878;
  top: -11px;
  left: 50%;
  border-width: 0 11px 11px;
  margin-left: -11px;
}
