/**
 * @file
 * Admin styles for the Sa11y module.
 */
.sa11y-filter-form .form-item-type,
.sa11y-filter-form .form-item-rule,
.sa11y-filter-form .form-item-impact {
  display: inline-block;
  margin: .1em .9em .1em .1em; /* LTR */
  max-width: 30%;
}
[dir="rtl"] .sa11y-filter-form .form-item-type,
[dir="rtl"] .sa11y-filter-form .form-item-rule,
[dir="rtl"] .sa11y-filter-form .form-item-impact {
  margin: .1em .1em .1em .9em;
}
.sa11y-filter-form .form-actions {
  display: inline-block;
  padding: 3ex 0 0;
  vertical-align: top;
}
.admin-sa11y .icon,
.admin-sa11y .minor .icon {
  fill: #73b355;
  width: 16px;
}
.admin-sa11y .moderate .icon {
  fill: #e4d700;
}
.admin-sa11y .serious .icon {
  fill: #e29700;
}
.admin-sa11y .critical .icon {
  fill: #e32700;
}
