{#
/**
 * @file workflow_task.html.twig
 * Default theme implementation to present Workflow task data.
 *
 * This template is used when viewing Workflow task pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_workflow_task()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('workflow_task') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
