table.taskconsole-tasks {
    margin-bottom: 50px;
}

.taskconsole-tasks table {
  table-layout: fixed;
  width:100%;
}

.taskconsole-tasks td {
  white-space: nowrap;
  width:20%
}

.taskconsole-tasks td:last-child {
  white-space: nowrap;
  width:25%;
}

.maestro-highlight-task {
  background-color: #32CD32 !important;
}

.maestro-highlight-task > td > a {
  color: white;
}

.maestro-status-toggle {
	background-image: url('../images/chevron-down.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	cursor: pointer;
	color: transparent;
}

.maestro-status-toggle-up {
  background-image: url('../images/chevron-up.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
  color: transparent; 
}

.maestro-expand-wrapper,
.maestro-expand-wrapper > a,
.maestro-expand-wrapper > a:hover,
.maestro-expand-wrapper > a:active,
.maestro-expand-wrapper > a:visited,
.maestro-expand-wrapper > a:link {
	color: transparent;
}

.maestro-ajax-row {
	display: none;
}

.maestro-ajax-row > td{
  background-color: #f0f0f0;
}

.maestro-expand-wrapper .ajax-progress-throbber  {
	position: absolute;
	margin-left: -20px;
	padding: 0;
}

.maestro-timeline-status {
	text-align: center;
	width: 5%;
}

.maestro-timeline {
  text-align: center;
}

.taskconsole-tasks td:last-child {
  width: 5%;
}

.maestro-task-details {
	padding-bottom: 0px;
}

.taskconsole-details-task-label {
  font-weight: bold;
  padding-right: 30px;
  padding-left: 20px;
}

.maestro-details-entities-wrapper details summary {
	display: list-item;
}

.maestro-details-tasks-wrapper details summary {
  display: list-item;
}

.maestro-details-tasks-wrapper details summary:focus {
    outline: 0;
}

.maestro-details-tasks-wrapper details div {
  margin-left: 3px;
  margin-right: 3px;
}


.views-field-entity-label {
	font-weight: bold;
	float: left;
}

.views-field-entity-edit-link span {
	margin-left: 20px;
}