{#
/**
 * @file
 * Default theme implementation to display the training content.
 *
 * Available variables:
 * - content: All training content items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.tabs }}. Use
 *   {{ content|without('tabs') }} to temporarily suppress the
 *   printing of a given child element.
 */
#}
<div id="training-content-wrapper" class="col-12">
  {{ content }}
</div>
