<a name="breadcrumbs"></a>

<h3 class="simple-styleguide--sectionhead">{{ default_pattern }}</h3>

<div class="simple-styleguide">
    <nav class="breadcrumb" role="navigation" aria-labelledby="system-breadcrumb">
        <h2 id="system-breadcrumb" class="visually-hidden">Breadcrumb</h2>
        <ol>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/">Next Page</a>
            </li>
            <li>
                <a href="/">Next Page</a>
            </li>
            <li>
                Current Page
            </li>
        </ol>
    </nav>
</div>
