<a name="buttons"></a>

<h3 class="simple-styleguide--sectionhead">{{ default_pattern }}</h3>

<div class="simple-styleguide">
    <a href="javascript:void(0);" class="button">Link Button</a>
    <a href="javascript:void(0);" class="button active">Link Button Active</a>
    <input type="button" value="Button Input" class="button" />
    <input type="reset" value="Reset Input" class="button" />
    <input type="submit" value="Form Submit" class="button" />

    <code>
        &lt;a href=&quot;javascript:void(0);&quot; class=&quot;button&quot;&gt;Link Button&lt;/a&gt;<br/>
        &lt;a href=&quot;javascript:void(0);&quot; class=&quot;button active&quot;&gt;Link Button Active&lt;/a&gt;<br/>
        &lt;input type=&quot;button&quot; value=&quot;Button Input&quot; class=&quot;button&quot; /&gt;<br/>
        &lt;input type=&quot;reset&quot; value=&quot;Form Reset&quot; class=&quot;button&quot; /&gt;<br/>
        &lt;input type=&quot;submit&quot; value=&quot;Form Submit&quot; class=&quot;button&quot; /&gt;
    </code>

</div>
