<a name="forms"></a>

<h3 class="simple-styleguide--sectionhead">{{ default_pattern }}</h3>

<div class="simple-styleguide">
    <p>This is a generic form generated with the Form API. It is meant to illustrate common input elements.</p>
    {{ form }}
</div>
