{#
/**
 * @file entity_modifier.html.twig
 * Default theme implementation to present Entity modifier data.
 *
 * This template is used when viewing Entity modifier pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_entity_modifier()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('entity_modifier') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
