{#
/**
 * @file
 * Theme override for a local task link.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper element.
 * - is_active: Whether the task item is an active tab.
 * - link: A rendered link element.
 *
 * Note: This template renders the content for each task item in
 * menu-local-tasks.html.twig.
 *
 * @see template_preprocess_menu_local_task()
 */
#}

{% if not is_active %}
    {% set url = link['#url']|render|split('/') %}
    {% if 'edit' in url %}
        {% set accesskey = 'b' %}
    {% elseif 'translations' in url %}
        {% set accesskey = 'v' %}
    {% elseif 'devel' in url %}
        {% set accesskey = 'd' %}
    {% elseif 'delete' in url %}
        {% set accesskey = 'x' %}
    {% endif %}

    {% set link = link|merge({'#attributes':{'class':['admin-tabs__link',iconclass], 'aria-label' : link['#title'], 'accesskey': accesskey, 'style': 'background-color:' ~ color ~ '; background-image: url(' ~ icon ~ ' );' }}) %}
    <li{{ attributes.addClass(['admin-tabs__item', 'menu-item']) }}>
        {{ link }}
    </li>
{% endif %}
