{#
/**
 * @file
 * Theme override to display primary and secondary local tasks.
 *
 * Available variables:
 * - primary: HTML list items representing primary tasks.
 * - secondary: HTML list items representing primary tasks.
 *
 * Each item in these variables (primary and secondary) can be individually
 * themed in menu-local-task.html.twig.
 */
#}
<div class="admin-tabs">

    <button id="js-admin-tabs-toggle" class="admin-tabs__toggle admin-tabs__link" aria-label="{{ 'Settings'|t }}">
    </button>

    {% if primary %}
      <ul id="admin-tabs__list" class="admin-tabs__list" role="tablist" aria-expanded="false">
          {{ primary }}
          {{ secondary }}
      </ul>
    {% endif %}
</div>
