<!doctype html>
<html amp{{ html_attributes }}>
  <head>
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-consent" src="https://cdn.ampproject.org/v0/amp-consent-0.1.js"></script>
    <script async custom-element="amp-geo" src="https://cdn.ampproject.org/v0/amp-geo-0.1.js"></script>
  </head>
  <body{{ attributes }}>
    <amp-consent id="consent-element" layout="nodisplay">
      <script type="application/json">{"consents": {"myconsent_id": {"promptIfUnknownForGeoGroup": "eea", "promptUI": "consent-layer"}}}</script>
      <amp-iframe id="consent-layer" height="100" width="100" layout="responsive" sandbox="allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox" src="{{ consent_iframe_url }}"><div placeholder>Loading...</div></amp-iframe>
    </amp-consent>
    <amp-geo layout="nodisplay">
      <script type="application/json">{"ISOCountryGroups": {"eea": ["preset-eea"]}}</script>
    </amp-geo>
  </body>
</html>
