{#
/**
 * @file
 * Default theme implementation to present a barcode.
 *
 * Available variables:
 * - svg: The rendered barcode in svg format.
 * - type: The barcode type.
 * - value: The barcode value.
 * - width: The display width.
 * - height: The display height.
 * - color: The barcode color.
 * - padding_top: The top padding.
 * - padding_right: The right padding.
 * - padding_bottom: The bottom padding.
 * - padding_left: The left padding.
 * - show_value: Show the raw barcode value.
 *
 * @ingroup themeable
 */
#}
<div class="barcode barcode-{{ type|replace({'+': 'plus'})|lower }}">
    <div class="code">{{ svg|raw }}</div>
    {% if show_value %}
        <div class="value">{{ value }}</div>
    {% endif %}
</div>
