.advertising-products__images {
  margin-top: 10px;
}

.advertising-products__images--top,
.advertising-products__alternatives,
.advertising-products__selected {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.advertising-products__alternatives > div {
  background: white;
  margin-right: 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.advertising-products__alternatives {
  align-items: stretch;
  flex-wrap: wrap;
  margin-top: -4px;
}

.advertising-products__selected:before {
  display: block;
  content: "Selected";
  width: 100%;
}

.advertising-products__alternatives:before {
  display: block;
  content: "Alternatives";
  width: 100%;
}

.advertising-products__selected {
  margin-right: 50px;
  flex-shrink: 0;
}

.advertising-products__images.initialised {
  /*align-items: flex-end;*/
}

.advertising-products__image-selection img {
  max-width: 100px;
  max-height: 100px;
  cursor: pointer;
}

.advertising-products__selected img {
  max-width: 100px;
  max-height: 100px;
}

.advertising-products__image-zoom {
  position: absolute;
  z-index: 1;
}

.advertising-products__image-zoom img {
  width: 250px;
  max-height: initial;
  border: 2px black solid;
}

.advertising-products__changed {
  color: red;
}
