/**
 * @file
 * Entity Registration Form toolbar icon styling.
 */

/* Bar styling (first row), currently unused. */
.toolbar-bar .toolbar-icon-registrations-admin:before {
  background-image: url("/core/themes/stable/images/core/icons/787878/file.svg");
}
.toolbar-bar .toolbar-icon-registrations-admin:active:before {
  background-image: url("/core/themes/stable/images/core/icons/000000/file.svg");
}

/* Tray styling (second row) */
.toolbar-tray .toolbar-icon.toolbar-icon-registrations-admin:before {
  background-image: url("/core/themes/stable/images/core/icons/787878/file.svg");
}
.toolbar-tray .toolbar-icon.toolbar-icon-registrations-admin:active:before {
  background-image: url("/core/themes/stable/images/core/icons/000000/file.svg");
}
