/* =============================================================================
 *   Named Entity Recognition
 * ========================================================================== */

.powertagging-ner {
  position: relative;
  display: inline-block;
}

.powertagging-entity-extraction-show .powertagging-ner {
  color: #f00;
  text-decoration: underline;
  text-decoration-style: dotted;
}