/**
 * @file
 * Stylesheets used for the PowerTagging widget field.
 */

/* =============================================================================
 *   Tags
 * ========================================================================== */

.field--type-powertagging-tags fieldset {
    clear: both;
}

.field--type-powertagging-tags fieldset li .concept,
.field--type-powertagging-tags #powertagging-legend-item-colorbox-concept {
    background: #c3e2f7;
}

.field--type-powertagging-tags fieldset li .freeterm,
.field--type-powertagging-tags #powertagging-legend-item-colorbox-freeterm {
    background: #fff199;
}

.field--type-powertagging-tags fieldset li .concept.disabled,
.field--type-powertagging-tags fieldset li .freeterm.disabled,
.field--type-powertagging-tags #powertagging-legend-item-colorbox-disabled {
    background: #cccccc;
}

.field--type-powertagging-tags .powertagging-legend {
    float: right;
}

.field--type-powertagging-tags .powertagging-legend-item {
    float: left;
    margin-right: 10px;
}

.field--type-powertagging-tags .powertagging-legend-item-colorbox {
    margin-right: 5px;
    width: 15px;
    min-width: 15px;
    height: 15px;
    border: 1px solid #CCC;
    display: inline-block;
    border-radius: 5px;
}

.field--type-powertagging-tags fieldset label {
    color: #1196d1;
    padding-bottom: 5px;
    margin-bottom: 0px;
}

.powertagging-extracted-tags .powertagging-extracted-tags-area {
    margin: 0px;
    padding-bottom: 10px;
}

.powertagging-extracted-tags .powertagging-extraction-label {
    font-weight: bold;
    color: #666;
    border-bottom: 1px solid #CCC;
    margin: 10px 0 3px;
}

.field--type-powertagging-tags fieldset ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.field--type-powertagging-tags fieldset li {
    list-style-type:none;
    padding:0;
    margin: 8px 5px 0 0;
    display: inline-block;
}

.field--type-powertagging-tags fieldset li div {
    padding: 1px 10px;
    border-radius: 5px;
    font-size: 88%;
    color: #5c5c5c;
}

.powertagging-extracted-tags li div.powertagging-tag.concept:hover,
.powertagging-extracted-tags li div.powertagging-tag.concept:focus {
    cursor: pointer;
}

.powertagging-extracted-tags li div.powertagging-tag.freeterm:hover,
.powertagging-extracted-tags li div.powertagging-tag.freeterm:focus {
    cursor: pointer;
}

.field--type-powertagging-tags fieldset .powertagging-tag-result li .concept {
    background: url("../images/tag_close.png") top 7px right 9px no-repeat #c3e2f7;
    padding: 1px 23px 1px 10px;
}

.field--type-powertagging-tags fieldset .powertagging-tag-result li .concept:hover,
.field--type-powertagging-tags fieldset .powertagging-tag-result li .concept:focus {
    background: url("../images/tag_close.png") top 7px right 9px no-repeat #ccc;
    cursor: pointer;
    padding: 1px 23px 1px 10px;
}

.field--type-powertagging-tags fieldset .powertagging-tag-result li .freeterm {
    background: url("../images/tag_close.png") top 7px right 9px no-repeat #fff199;
    padding: 1px 23px 1px 10px;
}

.field--type-powertagging-tags fieldset .powertagging-tag-result li .freeterm:hover,
.field--type-powertagging-tags fieldset .powertagging-tag-result li .freeterm:focus {
    background: url("../images/tag_close.png") top 7px right 9px no-repeat #ccc;
    cursor: pointer;
    padding: 1px 23px 1px 10px;
}

.field--type-powertagging-tags .ui-autocomplete-loading.concept,
.powertagging-browse-tags-area .ui-autocomplete-loading.concept {
    background: url('../images/throbber.gif') no-repeat scroll right -18px transparent;
}

.field--type-powertagging-tags .throbber {
    padding-left: 20px;
}

.field--type-powertagging-tags .form-type-textfield,
.field--type-powertagging-tags .form-type-item {
    clear: both;
}

.field--type-powertagging-tags .messages {
    margin-left: 8px;
}
[dir="rtl"] .field--type-powertagging-tags .messages {
    margin-right: 8px;
}

.field--type-powertagging-tags .messages--info {
    background-color: #FCFFCD;
    border-color: #f4daa6 #f4daa6 #f4daa6 transparent;  /* LTR */
    box-shadow: -8px 0 0 #e09600; /* LTR */
    padding-left: 12px; /* LTR */
}
[dir="rtl"] .field--type-powertagging-tags .messages--info {
    border-color: #f4daa6 transparent #f4daa6 #f4daa6;
    box-shadow: 8px 0 0 #e09600;
    padding-right: 12px;
}

.powertagging-browse-tags-vm {
    clear: both;
}

.powertagging-browse-tags-vm .chart-header .button {
    float: right;
}

.powertagging-browse-tags-vm .chart-header .button a,
.powertagging-browse-tags-vm .chart-header .button a:link,
.powertagging-browse-tags-vm .chart-header .button a:visited,
.powertagging-browse-tags-vm .chart-header .button a:hover,
.powertagging-browse-tags-vm .chart-header .button a:focus,
.powertagging-browse-tags-vm .chart-header .button a:active {
    background: #0099CC;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    color: #fff;
    cursor: pointer;
    display: block;
    height: auto;
    line-height: 2.1em;
    margin: 0;
    padding: 0.2em 1em 0;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: auto;
    font-size: 10px;
}

.powertagging-browse-tags-vm .chart-header .button a:hover{
    text-decoration: none;
    background:#0285B1;
}

.powertagging-browse-tags-vm .chart-header .button .powertagging-browse-tags-add-concept.active {
    background: #0099CC;
    color:#fff;
}

.powertagging-browse-tags-search{
    float:left;
}
.powertagging-browse-tags-search input.form-text{
    width: 300px;
    padding: 0.3em 0.5em;
    font-size: 14px;
}

.powertagging-browse-tags-selection{
    border: 1px solid #ddd;
    padding: 0 15px 15px;
    float: right;
    background: #f6f6f2;
    width: 450px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.powertagging-browse-tags-selection > p{
    font-weight: bold;
}

.powertagging-browse-tags-selection .powertagging-browse-tags-tag{
    background: url("../images/remove11.svg") top 6px right 4px no-repeat #c3e2f7;
    background-size:18px auto;
    padding: 1px 23px 1px 10px;
    border-radius: 5px;
    font-size: 88%;
    color: #5c5c5c;
    margin: 0 5px 8px 0;
    display: inline-block;
    cursor:pointer;
}

.powertagging-browse-tags-selection .powertagging-browse-tags-tag:hover,
.powertagging-browse-tags-selection .powertagging-browse-tags-tag:focus{
    background-color: #ccc;
}

.field--widget-powertagging-invisible {
    display: none;
}