/**
 * @file
 * Stylesheets used for the slider element.
 */

.form-type-slider input {
    display: none;
}
.form-type-slider .concept .ui-slider-range {
    background-color: #c3e2f7;
}
.form-type-slider .freeterm .ui-slider-range {
    background-color: #fff199;
}