{% for item in results %}
  <p>
    <div class="quora-title" >
      <a href = {{ item.url }} target="_blank">
          {{ item.title }}
      </a>
    </div>
    {% if item.snippet %}
        <div class="quora-snippet">
            {{ item.snippet }}
        </div>
    {% endif %}
  </p>
{% endfor %}