{{ attach_library('parade/smooth-scroll') }}
{% set machine_name = node.parade_onepage_id.value %}
<a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

{{ page.pre_content }}
<div id="{{ machine_name|default('parade_campaign_page') }}" class="parade-campaign-page">
  <main class="page-content" role="main">
    {{ page.content }}
  </main>
</div>

