<div class="dialog-wrapper" ng-controller="downloadFormatDialogController">
  <div class="dialog-header">
    <div class="dialog-name">{{'CHANGE_DOWNLOAD_FORMATS' | translate}}</div>
  </div>
  <div class="dialog-content">
    <div class="row" ng-repeat="item in assetsByCategories">
      <div class="category">
        <i class="{{item.category.icon}} icon"></i><span class="name">{{item.category.name | translate}}</span><span class="category-count">{{getCount(item.assets)}}</span>
      </div>
      <div item="item" is-multi-selection="true" download-format-selector></div>
    </div>
  </div>
  <div class="dialog-footer">
    <div class="dialog-action" ng-click="cancelDialog()">
      <span class="icon celum-icon-cancel"></span>
      <span class="text">{{'BUTTON_CANCEL' | translate}}</span>
    </div>
    <div class="dialog-action" ng-click="submitDialog()">
      <span class="icon celum-icon-select"></span>
      <span class="text">{{'BUTTON_CHANGE_FORMATS' | translate}}</span>
    </div>
  </div>
</div>