<ui-select on-select="nodeReferencingFieldSelected($select.selected,item)" theme="select2"
           ng-model="selectedFormat" ng-disabled="false">
    <ui-select-match placeholder="{{getLocaleValue(item.labels)}}">{{getLocaleValue(item.labels)}}</ui-select-match>
    <ui-select-choices repeat="m in items | filter: $select.search"
                       refresh="loadNodeSearchReferences(item.infoField, $select.search)" refresh-delay="500">

        <div ng-bind-html="getLocaleValue(m.names)| highlight: $select.search"></div>

    </ui-select-choices>
</ui-select>