// ! Mixins

// For layout
//
// Example:
// .par__row {
//   @include flex-row();
// }
//
@mixin flex-row() {
  display: flex;
  flex-flow: row wrap;
}

@mixin flex-col($width) {
  flex: 1 1 $width;
  max-width: $width;
}
