// Global
$global__text-size-px: 16px !default;
$global__text-size-rem: 1rem !default;
$global__line-height: 1.5 !default;

$global__horizontal-spacer: $global__text-size-rem !default;
$global__vertical-spacer: ($global__line-height * 1rem) !default;

$global__color__text: #303030 !default;


// Color Map
// Add new colors here and the corresponding classes get created as well
//
// color-name: (
//  foreground-color: for text elements,
//  background-color: for solid backgrounds
//  alpha: for optional use over a background image
// )
//
$global__default-color-map: (
  oomph-red: (
    fg: #fff,
    bg: #d62901,
    alpha: .88
  ),
  oomph-blue: (
    fg: #fff,
    bg: #2d5070,
    alpha: .88
  ),
  oomph-teal: (
    fg: #101010,
    bg: #70bdc1,
    alpha: .88
  ),
  "black": (
    fg: #f2f2f2,
    bg: #101010,
    alpha: .88
  ),
  medium-gray: (
    fg: #101010,
    bg: #888,
    alpha: .88
  ),
  light-gray: (
    fg: $global__color__text,
    bg: #f2f2f2,
    alpha: .88
  ),
  "white": (
    fg: $global__color__text,
    bg: #fff,
    alpha: .88
  )
) !default;


// Breakpoints Map (same as BS4)
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1420px
) !default;


// Grid/Layout
$global--image-max-width:         2400px !default;


// Navbar
// Does this design have a navbar? If so, we use the height of it for some calculations.
$global--navbar-height-at-lg:     0px !default;


// Border Fields
$global__border-width__solid:    2px !default;
$global__border-color__solid:    map-get(map-get($global__default-color-map, "black"), bg) !default;
$global__border-width__dashed:   1px !default;
$global__border-color__dashed:   map-get(map-get($global__default-color-map, "black"), bg) !default;


// Image Component
$global__image__border-color:     map-get(map-get($global__default-color-map, "black"), bg) !default;
$global__image__border-width--xs: 3px !default;
$global__image__border-width--sm: 5px !default;
$global__image__border-width--lg: 7px !default;


// Boxshadow on WYSIWYG content e
$global__boxshadow__offset--x:    0 !default;
$global__boxshadow__offset--y:    .125rem !default;
$global__boxshadow__spread:       .625rem !default;
$global__boxshadow__color:        rgba(map-get(map-get($global__default-color-map, "black"), bg), .15) !default;


// Triangle Down "Caret"
$global__caret__width:            1.5rem !default;

$enable-caret:                    true; // The BS4 mixin caret() requires this
                                  // If not set to true, triangles will not appear at all
$caret-width:                     $global__caret__width; // The BS4 mixin caret() also requires this


// Video Component
$global__video__background-color: map-get(map-get($global__default-color-map, "black"), bg) !default;
