/* @todo: review styles */
/* @todo: styles should be responsive */
.visualn-newsfeed-html-basic-wrapper .col-1,
.visualn-newsfeed-html-basic-wrapper .col-2 {
  width: 50%;
  float: left;
}
.visualn-newsfeed-html-basic-wrapper .col-2:after {
  content: "";
  clear: both;
  display: block;
}
.visualn-newsfeed-html-basic-wrapper .row-wrapper {
  overflow: hidden;
}
