.pd-icon-container {
  max-height: 150px;
  overflow: auto;
  padding-top: 30px;
}

.pd-icon-container .pd-icon-search {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  margin: 0;
}

.pd-icon-container .pd-icon-item {
  font-size: 18px;
  padding: 5px;
  cursor: pointer;
}

.pd-icon-container .pd-icon-item.pd-icon-selected {
  color: red;
}