/* Typewriter effect class */
.animationsTypewriter{
  animation: type 4s steps(60, end); 
  overflow: hidden;
  white-space:nowrap;
}
@keyframes type{ 
  from { width: 0; } 
  to      { width: 100%; } 
} 