<div id="compose-validation-message"></div>
<div id="compose-tabs">
  <ul class="compose-tabs">
    {% if content.content|render %}
      <li class="compose-tab-content"><a href="#compose-tabs-region-0">Compose</a></li>
    {% endif %}
    {% if content.fields|render %}
      <li class="compose-tab-fields"><a href="#compose-tabs-region-1">Fields</a></li>
    {% endif %}
    {% if content.settings|render %}
      <li class="compose-tab-settings"><a href="#compose-tabs-region-2">Settings</a></li>
    {% endif %}
    {% if content.revisions|render %}
      <li class="compose-tab-revisions"><a href="#compose-tabs-region-3">Revisions</a></li>
    {% endif %}
  </ul>
  <div class="compose-region">
    {% if content.content|render %}
      <div id="compose-tabs-region-0" class="compose-tab-region region-content" data-region="content">
        {{ content.content }}
      </div>
    {% endif %}
    {% if content.fields|render %}
      <div id="compose-tabs-region-1" class="compose-tab-region region-fields" data-region="fields">
        {{ content.fields }}
      </div>
    {% endif %}
    {% if content.settings|render %}
      <div id="compose-tabs-region-2" class="compose-tab-region region-settings" data-region="settings">
        {{ content.settings }}
      </div>
    {% endif %}
    {% if content.revisions|render %}
      <div id="compose-tabs-region-3" class="compose-tab-region region-revisions" data-region="revisions">
        {{ content.revisions }}
      </div>
    {% endif %}
  </div>
</div>
