div.faircoin-address-qrcode-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #ffffff url('../img/icon_qrcode.png') no-repeat center center;
  vertical-align: middle;
  cursor: pointer;
}

code.faircoin-address-qrcode-text {
  font-family: Courier, monospace;
  font-size: 14px;
}

div.faircoin-address-qrcode-wrapper {
  position: relative;
}

div.faircoin-address-qrcode-image {
  position: absolute;
  display: none;
  background-color: #fff;
  padding: 10px 10px 5px 10px;
  border: 1px solid #999;
  border-radius: 4px;
  box-shadow: 2px 2px 5px #888888;
  left: 20px;
}

div.faircoin-address-qrcode-image.div-qrcode-visible {
  display: inline-block;
}

div.faircoin-address-qrcode-image.div-qrcode-hidden {
  display: none;
}
