table.batch-jobs,
table.batch-tasks {
  width: 100%;
}

table.batch-tasks div.successful {
  color: green;
}

table.batch-tasks div.error {
  color: red;
}

table.batch-jobs div.align-right,
table.batch-tasks div.align-right {
  text-align: right;
}

table.batch-jobs div.align-center,
table.batch-tasks div.align-center {
  text-align: center;
}
