{#
/**
 * @file
 * Default theme implementation for sooperthemes_gridstack_gridstack_row plugin.
 */
#}
<div class="sooperthemes-gridstack__content">
  <div class="sooperthemes-gridstack__image">{{ image }}</div>
  <div class="sooperthemes-gridstack__field-wrapper">
    {% if category %}
    <div class="sooperthemes-gridstack__category">{{ category }}</div>
    {% endif %}
    {% if title %}
    <h3 class="sooperthemes-gridstack__title">{{ title }}</h3>
    {% endif %}
  </div>
</div>

