{#
/**
 * @file
 * Default theme implementation to format image field width Gridstack.
 */
#}
{% if url %}<a href="{{ url }}">{% endif %}
  <div class="sooperthemes-gridstack__img" style="background-image: url({{ image_url }})"></div>
{% if url %}</a>{% endif %}
