{#
/**
 * @file
 * Contains the media box with label for input checkbox.
 *
 * Available variables:
 * - checkbox: renderable form element
 * - checkbox_id: checkbox #id
 * - img: renderable image element
 * - title: image label string
 */
#}
{{ checkbox }}
<label for="{{ checkbox_id }}">
  {{ img }}
    <span class="title">{{ title }}</span>
</label>
