@media (min-width: 768px) {
  .webform-layoutcontainer--horiz,
  .webform-layoutcontainer--equal {
    word-spacing: -1em; /* remove the space between inline-blocks */
  }


  .webform-layoutcontainer--horiz > *,
  .webform-layoutcontainer--equal > * {
    display: inline-block;
    vertical-align: top;
    word-spacing: normal;
    /* hack for IE 6&7 */
    zoom: 1;
    *display: inline;
  }
}

.webform-layoutcontainer--equal .webform-layoutcontainer--vert .form-item {
  float: none;
  clear: both;
  display: block;
  width: 100%;
  margin: 0;
}


.webform-layoutcontainer--vert > .form-item {
  display: block;
}


.webform-layoutcontainer--horiz > * + * {
  margin-left: 1em; /* add space between variable-width blocks */
}

.webform-layoutcontainer > .form-item input {
  max-width: 100%;
}

.webform-layoutcontainer > .form-item input:not([type=checkbox]):not([type=radio]):not([type=submit]),
.webform-layoutcontainer > .form-item select {
  width: 100%;
}

.webform-layoutcontainer > .form-item input:not([type=submit]):not([type=file]):not([type=checkbox]):not([type=radio]),
.webform-layoutcontainer > .form-item textarea {
  margin: 0;
}

/* one item */
.webform-layoutcontainer--equal > .webform-layoutcontainer--vert:first-child:nth-last-child(1),
.webform-layoutcontainer--equal > .form-item:first-child:nth-last-child(1) {
  width: 100%;
}

@media (min-width: 768px) {
  /* two items */
  .webform-layoutcontainer--equal > .webform-layoutcontainer--vert:nth-last-child(2),
  .webform-layoutcontainer--equal > .webform-layoutcontainer--vert:nth-last-child(2) ~ .webform-layoutcontainer--vert,
  .webform-layoutcontainer--equal > .form-item:nth-last-child(2),
  .webform-layoutcontainer--equal > .form-item:nth-last-child(2) ~ .form-item {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 48.5%;
    margin-left: 0%;
    margin-right: 3%;
  }

  /* three items */
  .webform-layoutcontainer--equal > .webform-layoutcontainer--vert:nth-last-child(3),
  .webform-layoutcontainer--equal > .webform-layoutcontainer--vert:nth-last-child(3) ~ .webform-layoutcontainer--vert,
  .webform-layoutcontainer--equal > .form-item:first-child:nth-last-child(3),
  .webform-layoutcontainer--equal > .form-item:first-child:nth-last-child(3) ~ .form-item {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 31.3333333333%;
    margin-left: 0%;
    margin-right: 3%;
  }

  /* four items */
  .webform-layoutcontainer--equal > .webform-layoutcontainer--vert:nth-last-child(4),
  .webform-layoutcontainer--equal > .webform-layoutcontainer--vert:nth-last-child(4) ~ .webform-layoutcontainer--vert,
  .webform-layoutcontainer--equal > .form-item:first-child:nth-last-child(4),
  .webform-layoutcontainer--equal > .form-item:first-child:nth-last-child(4) ~ .form-item {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 22.75%;
    margin-left: 0%;
    margin-right: 3%;
  }

  /* five items */
  .webform-layoutcontainer--equal > .webform-layoutcontainer--vert:nth-last-child(5),
  .webform-layoutcontainer--equal > .webform-layoutcontainer--vert:nth-last-child(5) ~ .webform-layoutcontainer--vert,
  .webform-layoutcontainer--equal > .form-item:first-child:nth-last-child(5),
  .webform-layoutcontainer--equal > .form-item:first-child:nth-last-child(5) ~ .form-item {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 17.6%;
    margin-left: 0%;
    margin-right: 3%;
  }

  /* six items */
  .webform-layoutcontainer--equal > .webform-layoutcontainer--vert:nth-last-child(6),
  .webform-layoutcontainer--equal > .webform-layoutcontainer--vert:nth-last-child(6) ~ .webform-layoutcontainer--vert,
  .webform-layoutcontainer--equal > .form-item:first-child:nth-last-child(6),
  .webform-layoutcontainer--equal > .form-item:first-child:nth-last-child(6) ~ .form-item {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 14.1666666667%;
    margin-left: 0%;
    margin-right: 3%;
  }

  /* seven items */
  .webform-layoutcontainer--equal > .webform-layoutcontainer--vert:nth-last-child(7),
  .webform-layoutcontainer--equal > .webform-layoutcontainer--vert:nth-last-child(7) ~ .webform-layoutcontainer--vert,
  .webform-layoutcontainer--equal > .form-item:first-child:nth-last-child(7),
  .webform-layoutcontainer--equal > .form-item:first-child:nth-last-child(7) ~ .form-item {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 11.7142857143%;
    margin-left: 0%;
    margin-right: 3%;
  }

  /* eight items */
  .webform-layoutcontainer--equal > .webform-layoutcontainer--vert:nth-last-child(8),
  .webform-layoutcontainer--equal > .webform-layoutcontainer--vert:nth-last-child(8) ~ .webform-layoutcontainer--vert,
  .webform-layoutcontainer--equal > .form-item:first-child:nth-last-child(8),
  .webform-layoutcontainer--equal > .form-item:first-child:nth-last-child(8) ~ .form-item {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 9.875%;
    margin-left: 0%;
    margin-right: 3%;
  }

  /* nine items */
  .webform-layoutcontainer--equal > .webform-layoutcontainer--vert:nth-last-child(9),
  .webform-layoutcontainer--equal > .webform-layoutcontainer--vert:nth-last-child(9) ~ .webform-layoutcontainer--vert,
  .webform-layoutcontainer--equal > .form-item:first-child:nth-last-child(9),
  .webform-layoutcontainer--equal > .form-item:first-child:nth-last-child(9) ~ .form-item {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 8.4444444444%;
    margin-left: 0%;
    margin-right: 3%;
  }

  .webform-layoutcontainer--equal {
    *zoom: 1;
  }

  .webform-layoutcontainer--equal:before,
  .webform-layoutcontainer--equal:after {
    content: '';
    display: table;
  }

  .webform-layoutcontainer--equal:after {
    clear: both;
  }

  .webform-layoutcontainer--equal .webform-layoutcontainer--vert:before,
  .webform-layoutcontainer--equal .webform-layoutcontainer--vert:after,
  .webform-layoutcontainer--equal .form-item:before,
  .webform-layoutcontainer--equal .form-item:after {
    content: '';
    display: table;
  }

  .webform-layoutcontainer--equal .webform-layoutcontainer--vert:after,
  .webform-layoutcontainer--equal .form-item:after {
    clear: both;
  }

  .webform-layoutcontainer--equal .webform-layoutcontainer--vert:last-child,
  .webform-layoutcontainer--equal .form-item:last-child {
    margin-right: 0% !important;
  }

  .webform-layoutcontainer--equal .webform-layoutcontainer--vert .form-item:first-child,
  .webform-layoutcontainer--equal .webform-layoutcontainer--vert .form-item:first-child ~ .form-item {
    float: none;
    clear: both;
    display: block;
    width: 100%;
    margin: 0;
  }

  .form-item.form-type-datetime .container-inline {
    *zoom: 1;
    margin: 0;
  }
  .form-item .container-inline > .form-item {
    display: inline-block;
  }

  .form-item.form-type-datetime .container-inline:before,
  .form-item.form-type-datetime .container-inline:after {
    content: '';
    display: table;
  }

  .form-item.form-type-datetime .container-inline:after {
    clear: both;
  }

  .form-item.form-type-datetime .container-inline .form-item.form-item-date-and-time-date,
  .form-item.form-type-datetime .container-inline .form-item.form-item-date-and-time-time {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 48.5%;
    margin-left: 0%;
    margin-right: 3%;
  }
}
.form-item.form-type-datetime .container-inline .form-item.form-item-date-and-time-time {
  margin-right: 0;
}

.form-item.form-type-datetime .container-inline .form-item:before,
.form-item.form-type-datetime .container-inline .form-item:after {
  content: '';
  display: table;
}

.form-item.form-type-datetime .container-inline .form-item:after {
  clear: both;
}

.form-item > .form-type-select {
  margin: 0;
}
