{#
/**
 * @file decoupled_quiz.block.html.twig
 * Default theme implementation to present decoupled_quiz block.
 *
 * This template is used when viewing decoupled_quiz block.
 *
 * @ingroup themeable
 */
#}
<div id="pureApp" class="pureApp" data-quiz-id="{{ qid }}"></div>
{{ attach_library('decoupled_quiz_example/decoupled_quiz_example_component') }}