/**
 * @file
 * Styling for toolbar module icons.
 */

.toolbar .toolbar-icon {
  padding-left: 2.75em; /* LTR */
  position: relative;
  font-family: "Roboto", "Source Sans Pro", "Lucida Grande", Verdana, sans-serif;
}
[dir="rtl"] .toolbar .toolbar-icon {
  padding-left: 1.3333em;
  padding-right: 2.75em;
}
.toolbar .toolbar-icon:before {
  background-image: none !important;
  display: block;
  height: 100%;
  left: 0.6667em; /* LTR */
  top: 11.5px;
  position: absolute;
  width: 20px;
  font-size: 1.3em;
  font-family: FontAwesome;
}
[dir="rtl"] .toolbar .toolbar-icon:before {
  left: auto;
  right: 0.6667em;
}
.toolbar button.toolbar-icon {
  background-color: transparent;
  border: 0;
  font-size: 1em;
}
.toolbar .toolbar-menu ul .toolbar-icon {
  padding-left: 1.3333em; /* LTR */
}
[dir="rtl"] .toolbar .toolbar-menu ul .toolbar-icon {
  padding-left: 0;
  padding-right: 1.3333em;
}
.toolbar .toolbar-menu ul a.toolbar-icon:before {
  /*display: none;*/
}
.toolbar .toolbar-tray-vertical .toolbar-menu ul a {
  padding-left: 2.75em; /* LTR */
}
[dir="rtl"] .toolbar .toolbar-tray-vertical .toolbar-menu ul a {
  padding-left: 0;
  padding-right: 2.75em;
}
.toolbar .toolbar-tray-vertical .toolbar-menu ul ul a {
  padding-left: 3.75em; /* LTR */
}
[dir="rtl"] .toolbar .toolbar-tray-vertical .toolbar-menu ul ul a {
  padding-left: 0;
  padding-right: 3.75em;
}

.toolbar .toolbar-tray-vertical .toolbar-menu a {
  padding-left: 2.75em; /* LTR */
  padding-right: 4em; /* LTR */
}
[dir="rtl"] .toolbar .toolbar-tray-vertical .toolbar-menu a {
  padding-left: 4em;
  padding-right: 2.75em;
}

@media only screen and (min-width: 16.5em) {
  .toolbar .toolbar-bar .toolbar-tab > .toolbar-icon {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    text-indent: -9999px;
    width: 4em;
  }
  .toolbar .toolbar-bar .toolbar-tab > .toolbar-icon:before {
    left: 0; /* LTR */
    width: 100%;
  }
  .no-svg .toolbar .toolbar-bar .toolbar-tab > .toolbar-icon:before {
    background-size: auto auto;
  }
  [dir="rtl"] .toolbar .toolbar-bar .toolbar-tab > .toolbar-icon:before {
    left: auto;
    right: 0;
  }
}

@media only screen and (min-width: 36em) {
  .toolbar .toolbar-bar .toolbar-tab > .toolbar-icon {
    padding-left: 2.75em; /* LTR */
    padding-right: 1.3333em; /* LTR */
    text-indent: 0;
    width: auto;
  }
  [dir="rtl"] .toolbar .toolbar-bar .toolbar-tab > .toolbar-icon {
    padding-left: 1.3333em;
    padding-right: 2.75em;
  }
  .toolbar .toolbar-bar .toolbar-tab > .toolbar-icon:before {
    left: 0.6667em; /* LTR */
    width: 20px;
  }
  [dir="rtl"] .toolbar .toolbar-bar .toolbar-tab > .toolbar-icon:before {
    left: 0;
    right: 0.6667em;
  }
}

/**
 *  Accessibility/focus
 */
.toolbar-tab a:focus {
  outline: none;
  text-decoration: underline;
}
.toolbar-lining button:focus {
  outline: none;
}
.toolbar-tray-horizontal a:focus,
.toolbar-box a:focus {
  outline: none;
  background-color: #f5f5f5;
}
.toolbar-box a:hover:focus {
  text-decoration: underline;
}
.toolbar .toolbar-icon.toolbar-handle:focus {
  outline: none;
  background-color: #f5f5f5;
}


/**
 * Handle.
 */
.toolbar .toolbar-icon.toolbar-handle {
  width: 4em;
  text-indent: -9999px;
}
.toolbar .toolbar-icon.toolbar-handle:before {
  left: 1.6667em; /* LTR */
}
[dir="rtl"] .toolbar .toolbar-icon.toolbar-handle:before {
  left: auto;
  right: 1.6667em;
}
/**
 * Orientation toggle.
 */
.toolbar .toolbar-toggle-orientation button {
  height: 39px;
  padding: 0;
  /*text-indent: -999em;*/
  width: 39px;
  font-size: 0;
}
.toolbar .toolbar-toggle-orientation button:before {
  left: 0;
  right: 0;
  margin: 0 auto;
  font-size: 16px;
}
[dir="rtl"] .toolbar .toolbar-toggle-orientation .toolbar-icon {
  padding: 0;
}
