[[install-requirements]]

=== Alapfogalom: rendszerkövetelmények

[role="summary"]
Áttekintjük, hogy a számítógépen milyen feltételek szükségesek a Drupal alaprendszer telepítéséhez és futtatásához.

(((Telepítési követelmények,áttekintés)))
(((Telepítési követelmények,lemezterület)))
(((Telepítési követelmények,webszerver)))
(((Telepítési követelmények,adatbázis)))
(((Telepítési követelmények,PHP programozási nyelv)))
(((Telepítés,alaprendszer)))
(((Alaprendszer,telepítési követelmények)))
(((Lemezterület,telepítési követelmények)))
(((Webszerver,telepítési követelmények)))
(((Apache webszerver,verziókövetelmények)))
(((Hiawatha webszerver,verziókövetelmények)))
(((Nginx webszerver,verziókövetelmények)))
(((Microsoft IIS webszerver,verziókövetelmények)))
(((Adatbázis,telepítési követelmények)))
(((MySQL adatbázis,verziókövetelmények)))
(((PostgreSQL adatbázis,verziókövetelmények)))
(((SQLight adatbázis,verziókövetelmények)))
(((PHP programozási nyelv,verziókövetelmények)))

// ==== Szükséges előismeretek

==== Mi kell ahhoz, hogy fusson a Drupal?

===== Lemezterület

A webhely szoftvere által elfoglalt teljes tárterület nem egy általános, mindenkinél egyező érték, hiszen igencsak függ annak képességeitől, funkcionalitásától, ezért esetenként akár erősen eltérő is lehet. Annyi azonban így is elmondható, hogy maga a Drupal alaprendszer körülbelül 100 MB helyet igényel a kiszolgálón. Ennél több tárhelyre lesz valószínűleg szükség, ha további modulokat és sminkeket használunk, valamint fontos még arra is gondolni, hogy a puszta forráskódnál nagyságrendileg több tárhelyet fognak várhatóan igényelni a felhasználók által feltölthető és a Drupal által automatikusan előállított fájlok, a biztonsági mentések és más hasonló állományok. Természetesen maga az adatbázis is helyet igényel, bár ez sok esetben a kiszolgálón máshol kerül tárolásra (sőt, bizonyos esetekben akár másik gépen is lehet).

===== PHP értelmező

Legalább PHP 5.5.9 szükséges vagy újabb (például PHP 7.x) javasolt.

===== Webkiszolgáló

Apache (javasolt)::
  Manapság az Apache a legelterjedtebb webszerver-alkalmazás. A Drupal alaprendszer működik Apache 2.x verzión, ami futhat UNIX/Linux, OS X vagy Windows operációs rendszeren. Az Apache _mod_rewrite_ modulját telepíteni és engedélyezni kell, valamint a _VirtualHost_ konfigurációjának tartalmaznia kell az _AllowOverride All_ utasítást azért, hogy a _.htaccess_ fájlok működjenek.
PHP beépített webszervere::
  Bár talán nem annyira közismert, de a PHP programozási nyelv értelmezője is tartalmaz egy alapszintű webkiszolgálót. A Drupal természetesen ezen is fut, bár kizárólag ideiglenes jelleggel, csak próba céljára javasolt használni.
Nginx::
  Az Nginx egy szintén gyakran használt webszerver, ami nagy terhelés alatt, alacsony memóriahasználat mellett is kielégítő teljesítményre törekszik. A Drupal alaprendszer Nginx 1.1 és annál magasabb verzión is működik, és ez ugyanúgy futhat UNIX/Linux, OS X vagy Windows operációs rendszeren. Itt is fontos, hogy az _ngx_http_rewrite_module_ nevű modulja telepítve és engedélyezve legyen.
Hiawatha::
  A Hiawatha egy harmadik webszerver alkalmazás, amely leginkább a biztonságra összpontosít, de emellett igyekszik egyszerűen használható és pehelysúlyú maradni. Független kutatók által végrehajtott tesztek alapján a Hiawatha a többi webszerverrel összemérhető teljesítményt nyújt rendes körülmények között, viszont támadás alatt azoknál kimagaslóan jobban teljesít. A webcímek átírásához az _URL Toolkit_ funkciót kell telepíteni és megfelelően beállítani.
Microsoft IIS::
  A Microsoft IIS egy webszerverfunkciókat tartalmazó kiegészítés Microsoft Windowsra. A Drupal alaprendszer működik IIS 5, IIS 6 és IIS 7 verziókon, ha a PHP megfelelően van beállítva. Mivel a Drupal megköveteli a szép webcímek kezelését, amit viszont csak az IIS 7-hez elérhető _Microsoft URL Rewrite_ modul támogat, ezért ennél alacsonyabb verziókon erre a célra külső megoldásra lehet szükség.

===== Adatbázis

A következő adatbázis-kiszolgálók bármelyike használható:

* MySQL - 5.5.3 (MariaDB 5.5.20, Percona 5.5.8) vagy magasabb InnoDB-kompatibilis elsődleges tárolómotorral

* PostgreSQL - 9.1.2 vagy magasabb

* SQLite - 3.4.2 vagy magasabb. A PHP programozási nyelv értelmezője is tartalmazza az SQLite egy alapszintű megvalósítását, így akár külső adatbázismotorok telepítése nélkül is futtathatjuk a Drupalt, de csak ideiglenes jelleggel, próba céljára.

//==== Kapcsolódó témák

==== Egyéb források

https://www.drupal.org/docs/8/system-requirements[System requirements] (azaz „Rendszerkövetelmények”) című közösségi dokumentáció a Drupal.org-on angol nyelven.

*Közreműködők*

E témakör szövegét https://www.drupal.org/u/KarlKedrovsky[Karl Kedrovsky], https://www.drupal.org/u/bemery987[Brian Emery] és https://www.drupal.org/u/jhodgdon[Jennifer Hodgdon] a Drupal közösségi https://www.drupal.org/documentation[dokumentációjának] https://www.drupal.org/docs/8/system-requirements[System requirements] (azaz „Rendszerkövetelmények”) című szócikkéből vette át, melynek szerzői joga 2000–2017 között annak egyéni közreműködőié. Fordította: https://www.drupal.org/u/balu-ertl[Balu Ertl] (https://www.drupal.org/brainsum[Brainsum]).
