<div class="length-indicator">
    {% for indicator in indicators %}
        <span
                class="length-indicator__indicator {{ indicator['class'] }}"
                data-pos="{{ indicator['pos'] }}"
                style="width: {{ indicator['width'] }}%"
        ></span>
    {% endfor %}
    <div class="length-indicator__cursor"></div>
</div>