.rocketship-columns {
  width: 100%;
}
.rocketship-column {
  margin: auto;
  width: 90%;
}
@media only screen and (min-width:481px) {
  .rocketship-column {
    float: left;
    width: 47%;
  }
}
@media only screen and (min-width: 769px){
  .rocketship-column {
      margin-right: 0.9em;
      width: 31%;
  }
}
.rocketship-issues h3 {
  clear: both;
}
.rocketship-node {
  margin-bottom: 1em;
  padding: 3px 5px 3px 8px;
  border-left-width: 8px;
  border-left-color: transparent;
  border-left-style: solid;
  border-left-color: #F5F5F5;
  border-top: 1px dashed #adadad;
  border-bottom: 1px dashed #adadad;
  border-right: 1px dashed #adadad;
}
.rocketship-node a {
  font-weight: bold;
  display: inline-block;
  margin-bottom: 8px;
}
.rocketship-focus {
  border-left-color: #336699;
}
.rocketship-major {
  border-left-color: #FF9900;
}
.rocketship-critical {
  border-left-color: #FF0000;
}
.rocketship-term {
  margin: 2px 6px 2px 0;
  display: inline-block;
  font-size: 0.8em;
  padding: 0px 1px;
  border-bottom: 1px dotted #adadad;
  border-radius: 2px;
}
.rocketship-needs-tests {
  font-weight: bold;
}
.rocketship-legend {
  float: right;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 0.8em;
  margin-top: 0.2em;
  clear: both;
}
.rocketship-legend div {
  display: inline-block;
  margin-left: 2px;
}
.rocketship-node .assigned {
  background-color: #F5F5F5;
  margin: 8px -5px -3px -8px;
  padding: 1px 8px;
  font-size: 0.8em;
}
