/** Admin table */

#feadmin-table td.draggable {
  width: 1%;
  padding-top: 0;
  vertical-align: top;
}
#feadmin-table td.checkbox {
  width: 5%;
  padding-top: 13px;
  vertical-align: top;
}
#feadmin-table td.label {
  display: table-cell;
  width: 25%;
  padding-top: 13px;
  vertical-align: top;
}
#feadmin-table td.description {
  width: 69%;
}
#feadmin-table td.description details {
  border: 0;
  margin: 0;
  font-weight: normal;
  padding: 13px 0;
}
#feadmin-table td.description details summary {
  font-weight: normal;
  text-transform: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
