/**
 * @file feadmin.toolbar.css
 *
 * Contains CSS for feaadmin toolbar.
 */
body.feadmin-toolbar-opened {
  margin-right: 15rem;
}

#feadmin-toolbar {
  font-family: "Source Sans Pro", "Lucida Grande", Verdana, sans-serif;
  font-size: 0.8125rem;
  -moz-tap-highlight-color: rgba(0,0,0,0);
  -o-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  tap-highlight-color: rgba(0,0,0,0);
  -moz-touch-callout: none;
  -o-touch-callout: none;
  -webkit-touch-callout: none;
  touch-callout: none;
}
#feadmin-toolbar .toolbar-tray-vertical {
  background-color: #f5f5f5;
  border-right: 1px solid #aaaaaa;
  box-shadow: -1px 0 5px 2px rgba(0, 0, 0, 0.3333);
}
#feadmin-toolbar .toolbar-tray-vertical {
  height: 100%;
  position: fixed;
  width: 15rem;
  z-index: 999;
}
#feadmin-toolbar.collapsed .toolbar-tray-vertical {
  right: -15rem;
}
#feadmin-toolbar .toolbar-tray-toogler {
  position: fixed;
  top: 50%;
  right: 15rem;
  height: 100px;
  width: 14px;
  background: #f5f5f5 url(../misc/chevron-right.svg) center left no-repeat;
  text-indent: -9999px;
  border-left: 1px solid #aaaaaa;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  z-index: 99;
}
#feadmin-toolbar .toolbar-tray-vertical .toolbar-tray-toogler {
  background-image: url(../misc/chevron-right.svg);
}
#feadmin-toolbar.collapsed .toolbar-tray-vertical .toolbar-tray-toogler {
  background-image: url(../misc/chevron-left.svg);
  right: 0;
}
.toolbar .toolbar-bar .feadmin-toolbar-tab .toolbar-icon-system-admin-config:before {
  background-image: url(../misc/wrench.svg);
}
.toolbar .toolbar-bar .feadmin-toolbar-tab .toolbar-icon-system-admin-config:hover:before {
  background-image: url(../misc/wrench.svg);
}
.toolbar .toolbar-bar .feadmin-toolbar-tab {
  float: right;
}
.toolbar .toolbar-tray-vertical-right {
  right: 0;
}
#feadmin-toolbar .toolbar-tray-content .toolbar-icon-enabled {
  background-image: url("../misc/enabled.svg");
  width: 20px;
  height: 20px;
}
#feadmin-toolbar .toolbar-tray-content .toolbar-icon-disabled {
  background-image: url("../misc/disabled.svg");
  width: 20px;
  height: 20px;
}
#feadmin-toolbar .toolbar-tray-content h3.ui-state-disabled .ui-icon {
  background-image: url("../misc/lock.svg");
  width: 20px;
  height: 20px;
}
#feadmin-toolbar .toolbar-tray-content .ui-accordion-content {
  padding: 0.5rem;
  font-style: italic;
  font-size: 0.98em;
}
#feadmin-toolbar .ui-widget-content {
  border: none;
}
#feadmin-toolbar details a {
  display: inline-block;
}
#feadmin-toolbar details.collapse-processed > summary:before {
  background-image: none;
}
#feadmin-toolbar .empty-toolbar {
  margin: 0 auto;
  padding: 20px;
  text-align: justify;
}
