{#
/**
 * @file
 * Template for one element.
 */
#}
{{ status }}
<div class="clearfix"></div>
{% for item in items%}
  <div class="messages {{ item['status'] }}">
    {{ item['text'] }}
  </div>
{% endfor %}
