.path-frontpage #block-views-block-my-datasets-block-1 {
  margin-top:0.25em;
}

.path-frontpage h1.page-title {
  display:none;
}

.path-frontpage #block-seven-content {
  margin-top: 2em;
}

td { 
  border: 1px solid #e6e4df;
}

#block-views-block-applications-block-1 table thead > tr,
#block-views-block-my-datasets-block-1 table thead > tr {
  border: 1px solid #bfbfba;
  border-right: 2px solid #bfbfba;
}

#block-views-block-applications-block-1 tbody,
#block-views-block-my-datasets-block-1 tbody  {
  border-right: 2px solid #e6e4df;
}
thead th.is-active > a:after {
  border: none;
}

#block-views-block-dataset-block-1 td { 
  padding-left:0;
}

#block-views-block-dataset-block-1 .pager__items {
  margin-left:0;
}

#block-views-block-dataset-block-1 .pager__item {
  margin-left:0;
  padding-left:0;
}

.view .pager__item--ellipsis {
  display:none;
}

#block-views-block-dataset-block-1 .views-field-fid {
  display:none;
}

#block-views-block-dataset-block-1 .view-content {
  display:none;
}

#block-slogan h6 {
  margin-top:0;
  padding-top:0;
}

.region-highlighted {
  margin-top: 1.5em;
}

.form-item-r .CodeMirror { 
  height:100px;
}

.form-item-field-operation-help-0-value .CodeMirror {
  height:300px;
}

#webform-submission-navigation- {
  display:none;
}

.views-field-operation-value {
  font-family:monospace;
  line-height:1em;
  white-space:pre;
}

#quadstat-submission-table-view {
  margin-top:2em;
}

.block-adsense .adsense,
.block-adsense .text-align-left {
  width:100%;
}

.path-frontpage .block-adsense {
  padding-top:0em;
}

#block-views-block-my-datasets-block-1,
#block-views-block-applications-block-1 {
  overflow-x: scroll;
}

.captcha .details-description {
  margin-bottom:1em;
}

details.captcha > .details-wrapper {
    padding: 0.5em 1.5em 1em 1.5em;
}

.path-node .layout-region-node-main .filter-wrapper.js-form-wrapper.form-wrapper {
  margin-top:0;
}

#node-dataset-form .layout-region-node-secondary {
  display:none;
}

.toolbar-tray-open #node-dataset-form .layout-region-node-secondary {
  display:block;
}

#block-touroperation {
  margin-top:0.5em;
}

#edit-field-dataset-header-none, #node-dataset-form label[for="edit-field-dataset-header-none"], #edit-field-dataset-separator-none, #node-dataset-form label[for="edit-field-dataset-separator-none"] {
  display:none;
}

/*!
 * "Fork me on GitHub" CSS ribbon v0.2.0 | MIT License
 * https://github.com/simonwhitaker/github-fork-ribbon-css
*/.github-fork-ribbon{width:12.1em;height:12.1em;position:absolute;overflow:hidden;top:0;right:0;z-index:9999;pointer-events:none;font-size:13px;text-decoration:none;text-indent:-999999px}.github-fork-ribbon.fixed{position:fixed}.github-fork-ribbon:before,.github-fork-ribbon:after{position:absolute;display:block;width:15.38em;height:1.54em;top:3.23em;right:-3.23em;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg)}.github-fork-ribbon:before{content:"";padding:.38em 0;background-color:#a00;background-image:-webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,0)),to(rgba(0,0,0,0.15)));background-image:-webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.15));background-image:-moz-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.15));background-image:-ms-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.15));background-image:-o-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.15));background-image:linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,0.15));-webkit-box-shadow:0 .15em .23em 0 rgba(0,0,0,0.5);-moz-box-shadow:0 .15em .23em 0 rgba(0,0,0,0.5);box-shadow:0 .15em .23em 0 rgba(0,0,0,0.5);pointer-events:auto}.github-fork-ribbon:after{content:attr(title);color:#fff;font:700 1em "Helvetica Neue",Helvetica,Arial,sans-serif;line-height:1.54em;text-decoration:none;text-shadow:0 -.08em rgba(0,0,0,0.5);text-align:center;text-indent:0;padding:.15em 0;margin:.15em 0;border-width:.08em 0;border-style:dotted;border-color:#fff;border-color:rgba(255,255,255,0.7)}.github-fork-ribbon.left-top,.github-fork-ribbon.left-bottom{right:auto;left:0}.github-fork-ribbon.left-bottom,.github-fork-ribbon.right-bottom{top:auto;bottom:0}.github-fork-ribbon.left-top:before,.github-fork-ribbon.left-top:after,.github-fork-ribbon.left-bottom:before,.github-fork-ribbon.left-bottom:after{right:auto;left:-3.23em}.github-fork-ribbon.left-bottom:before,.github-fork-ribbon.left-bottom:after,.github-fork-ribbon.right-bottom:before,.github-fork-ribbon.right-bottom:after{top:auto;bottom:3.23em}.github-fork-ribbon.left-top:before,.github-fork-ribbon.left-top:after,.github-fork-ribbon.right-bottom:before,.github-fork-ribbon.right-bottom:after{-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg)}

.github-fork-ribbon:before { 
  background-color:#2094cd;
}

#block-footerlinks a {
  margin:0 0.5em;
}

#block-frontpageintro {
  margin:2em 0 0;
}

#block-footerlinks {
  padding-bottom: 50px;
  margin-top:1em;
}

#quadstat-submission-table-view {
  border-bottom:1px solid #e6e4df;
  margin:0;
}

#block-views-block-recent-r-queries-block-1 .view-content {
  overflow-y: scroll;
  height:400px;
  margin:1em 0;
  border:1px solid #e6e4df;
}

#block-views-block-recent-r-queries-block-1 table {
  margin-bottom:0;
}

#block-views-block-recent-r-queries-block-1 .views-field-rendered-entity {
  padding:25px;
}

#block-managedad {
  padding-top:1.5em;
}

#block-managedad-2 {
  padding:1em 0;
}

.path-frontpage .block-managedad-2 {
  padding:0;
}

#block-views-block-recent-r-queries-block-1 {
  padding-top:1em;
}

#block-touroperation {
  display:none;
}

.path-frontpage #block-seven-content {
  display:none; 
} 

.filter-help { 
  display:none;
}

#edit-xmlsitemap { 
  display:none;
}

body.path-frontpage input.form-autocomplete {
  padding: .25em .4em .2em .5em;
}

body.path-user .field--name-field-user-link,
body.path-user .field--name-field-user-email,
body.path-user .field--name-field-user-bio {
  margin-bottom:1em;
}

#block-ribbon p {
  margin:0;
}

body.page-node-type-book img {
  border:1px solid #777;
  border-radius:4px;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin:1.5em 0;
}

#block-views-block-recent-blog-content-block-1 thead {
  border:1px solid #bfbfba;
}

body.page-node-type-book .book-navigation {
  margin-top:3em;
}

body.page-node-type-book .field--name-field-book-r-code {
  border-left:5px solid #3864BA;
  padding-left:1em;
  margin-bottom:2em;
}

body.page-node-type-book .field--name-field-book-sas-code {
  border-left:5px solid #009900;
  padding-left:1em;
}

#block-views-block-recent-blog-content-block-1,
#block-views-block-recent-r-queries-block-1 {
  overflow-x: scroll;
}

body.page-node-type-book p {
  overflow-x: scroll;
}

#block-managedad-3 {
  margin-top:0.5em; 
}

td.views-field-sticky {
  color:green;
}

