{#
/**
 * @file eloqua_app_cloud_service.html.twig
 * Default theme implementation to present Eloqua AppCloud Service data.
 *
 * This template is used when viewing Eloqua AppCloud Service pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_eloqua_app_cloud_service()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('eloqua_app_cloud_service') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
