/**
 * @TODO Style.
 * For now the modal is based on bootstrap modal.
 */
#contact-form-summary-modal.in {
  display: block;
}

#contact-form-summary-modal .modal-dialog {
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
