{#
/**
 * @file
 * Seven's theme implementation to list entity gallery types available for
 * adding galleries.
 *
 * Available variables:
 * - types: List of gallery types. Each gallery type contains:
 *   - url: Path to the add galleries of this type page.
 *   - label: The title of this type of gallery.
 *   - description: Description of this type of gallery.
 *
 * @see template_preprocess_entity_gallery_add_list()
 * @see seven_preprocess_entity_gallery_add_list()
 */
#}
{% if content %}
  <ul class="admin-list">
    {% for type in types %}
      <li class="clearfix"><a href="{{ type.url }}"><span class="label">{{ type.label }}</span><div class="description">{{ type.description }}</div></a></li>
    {% endfor %}
  </ul>
{% else %}
  <p>
    {% set create_gallery = path('entity_gallery.type_add') %}
    {% trans %}
      You have not created any gallery types yet. Go to the <a href="{{ create_gallery }}">gallery type creation page</a> to add a new gallery type.
    {% endtrans %}
  </p>
{% endif %}
