{#
/**
 * @file
 * Default theme implementation to display an entity submenu.
 *
 * Available variables:
 * - menu_name: The menu name, or NULL if the the active trail is not in the
 *   Entity Submenu Block's menu.
 * - menu_items: The submenu items. Empty if the page is a leaf in the menu
 *   tree.
 */
#}
<div class="entity-submenu">
  {{ menu_items }}
</div>
