{#
/**
 * @file
 * Default theme implementation to display a non-entity submenu item.
 *
 * Available variables:
 * - url: The link URL.
 * - title: The link title.
 */
#}
<a href="{{ url }}">{{ title }}</a>
