{#
/**
 * @file fa_form.html.twig
 * Default theme implementation to present FormAssembly Form data.
 *
 * This template is used when viewing FormAssembly Form pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_fa_form()
 *
 * @ingroup themeable
 *
 * @author Shawn P. Duncan <code@sd.shawnduncan.org>
 * @date   4/29/17,  11:25 AM
 *
 * Copyright 2017 by Shawn P. Duncan.  This code is
 * released under the GNU General Public License.
 * Which means that it is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or (at
 * your option) any later version.
 * http://www.gnu.org/licenses/gpl.html
 */
#}
<div{{ attributes.addClass('fa_form') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
