.layout-grid.grid-two {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
}

.layout-grid.grid-two > div:nth-child(1) {
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
}

.layout-grid.grid-two > div:nth-child(2) {
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
}
