div.map-associative-element {
  border: 1px solid #c0c0c0;
  padding: 0 5px;
}

input.map-associative--value,
input.map-associative--key {
  margin-left: 5px;
}

@media all and (min-width: 886px) {
  div.map-associative-element {
    display: flex;
    border: none;
  }
  input.map-associative--key {
    margin-left: 0;
  }
}
