/**
 * @form.css
 * Admin styles for smart content variations, conditions, and reactions
 */

/* Form wrappers */
.variations-container .form-wrapper {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

/* Form wrappers (nested) */
.variations-container .form-wrapper > .form-wrapper:not(.condition-label) {
  padding: 12px;
}

/* Table styles */
.variations-container table {
  margin: 0;
}
.variations-container table thead > tr {
  flex: 1 0 auto;
  border-bottom: 0;
}
.variations-container table thead th {
  flex-grow: 1;
}
.variations-container table tr {
  position: relative;
  display: flex;
  padding: 0;
}
.variations-container table td {
  flex: 1 1 auto;
  padding: 12px 6px;
}
.variations-container table td:last-child {
  position: absolute;
  top: 0;
  right: 0;
}

.variations-container table td:last-child .button[name*="remove_variation"] {
  /* Variation remove button positioning */
  top: 18px;
  right: 7px;
}
.variations-container table td:last-child .button[name*="remove_reaction_variation"] {
  /* Reaction remove button positioning */
  top: 6px;
  right: 4px;
}

.variation-container tr.odd .form-item,
.variation-container tr.even .form-item {
  /* Override form-item margins */
  margin-top: 0;
  margin-bottom: 0;
}

/* Remove button styles */
.variations-container .variations-container-items .button.remove-button {
  width: 24px;
  height: 24px;
  font-size: 0;
  border-radius: 100%;
  border-color: transparent;
  background-color: transparent;
  opacity: 0.4;
  transition: border linear 0.2s, box-shadow linear 0.2s, opacity linear 0.2s;
}
.variations-container .variations-container-items .button.remove-button:hover {
  opacity: 1;
  box-shadow: none;
}
.variations-container .variations-container-items .button.remove-button:focus {
  opacity: 1;
  border-color: #40b6ff;
  outline: 0;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 0 8px #40b6ff;
}
.variations-container .variations-container-items .button[name*="op"] {
  margin: 12px 0;
}
.variations-container .variations-container-items .button.remove-button,
.variations-container .variations-container-items .button.remove-button:hover,
.variations-container .variations-container-items .button.remove-button:focus {
  border-color: transparent;
  background: url("/core/misc/icons/787878/ex.svg") no-repeat center;
  background-size: 12px 12px;
}

/* Condition labels */
.variations-container .condition-label,
.variations-container .condition-negate + label {
  font-size: 0.9em;
}
.variations-container .condition-label {
  padding: 2px 6px;
  font-weight: bold;
  color: #333;
  background-color: #f5f5f2;
  border: 1px solid #e3e3e3;
  border-radius: 3px;
}
.variations-container label.option {
  margin: 0;
}
.variations-container .condition-group label {
  /* Hide "and/or" operator labels */
  display: none;
}

/* Form element overrides */
.variations-container .form-type-textfield {
  padding-right: 30px;
  flex: 1 0 0;
  width: 100%;
  max-width: 300px;
}
.variations-container .form-type-textfield input {
  width: 100%;
}

/* Conditions */
.variations-container .condition,
.variations-container .condition-add-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.variations-container .condition > * + *,
.variations-container .condition-add-container > * + * {
  margin-left: 6px;
}
.variations-container .condition td,
.variations-container .condition-add-container td {
  display: flex;
  align-items: center;
}

/* Add Conditions */
.variations-container .condition-add-container {
  padding: 0 12px;
}
.variations-container .condition-add-container .form-item {
  margin-top: 0;
  margin-bottom: 0;
}

/* Condition Groups */
.variations-container .group-conditions-container {
  margin: 12px 0;
  flex: 1 0 100%;
  max-width: calc(100% - 30px);
  border: 1px solid #e6e4df;
  box-shadow: rgba(0, 0, 0, 0.1) 0 6px 12px -6px;
  border-radius: 3px;
}
.variations-container .group-conditions-container .condition-add-container {
  padding: 0;
}

.variation-container .tabledrag-toggle-weight-wrapper {
  /* Removes numerous "show row weights" links
   * Need to consider how to better handle this since
   * hiding with CSS is a bit overkill
   */
  display: none;
}

/* Table drag handle */
.variations-container a.tabledrag-handle {
  margin-top: 4px;
}
/* Table drag toggle */
.variations-container button.tabledrag-toggle-weight {
  padding: 3px 6px;
}
.variations-container .tabledrag-toggle-weight {
  padding: 6px;
}

/* Parent fieldsets */
.variations-container fieldset:not(.fieldgroup) {
  padding-top: 42px;
}
.variations-container fieldset:not(.fieldgroup) > legend {
  top: 0;
  padding: 12px;
}
.variations-container .fieldset-legend {
  text-transform: none;
  letter-spacing: 0;
  font-size: 1rem;
}

/* Reaction fieldset wrappers */
.variations-container .reaction .fieldset-wrapper {
  padding: 12px;
}
.variations-container .reaction .fieldset-wrapper > .form-item + .form-item {
  margin-top: 12px;
}
.variations-container .reaction .button {
  margin: 12px 0 0;
}

.variations-container .variation-additional-settings-container {
  padding: 5px 10px;
  background-color: #f5f5f2;
  border: 1px solid #e3e3e3;
  margin-top: 10px;
}