{#
/**
 * @file
 * Default theme implementation for a field_template field value.
 *
 * Available variables:
 * - value: The assumed value of the field item. Defaults to 'value' item,
 *   utilizes first available value when 'value' is not present.
 * - key: The key of the values array item used.
 * - values: The full array of field item values.
 * - item: FieldItemInterface providing the values for the field.
 *
 * @ingroup themeable
 */
#}
<div{{ attributes }}>
  <strong>{{ key }}:</strong> {{ value }}
</div>
