@import 'config';

$margin-base: 10px !default;
$border-color: #CCC !default

.image {
  text-align: center;
  margin: 0;
  padding-bottom: $margin-base*2;
  &__image {
    img {
    }
  }
  &__title {
    font-size: 2em;
    font-weight: 700;
    margin: $margin-base*2 0 $margin-base*1;
  }
  &__caption,
  &__credit,
  &__license {
    margin: 0;
  }
}
