{#
/**
 * @file
 * Blank wrapper for embedded entities used by cards.
 * @see template_preprocess_entity_embed_container()
 *
 * @ingroup themeable
 */
#}
<div {{ attributes }}>
{{ children }}
</div>
