{#
/**
 * @file badge.html.twig
 * Default theme implementation to present Badge data.
 *
 * This template is used when viewing Badge pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_badge()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('badge') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
