{#
/**
 * @file
 * Default theme implementation to print a simple dialog link
 *
 * Available variables:
 *   - text: The link text for the anchor tag.
 *   - path: The URL to pull the dialog contents from.
 *   - attributes: The attributes for the link compiled in a preprocessor
 *
 * @see template_preprocess_simple_dialog_link()
 *
 * @ingroup themeable
 */
#}
<a href="{{ path }}" {{ attributes }}>{{ text }}</a>
