{#
/**
 * @file
 * Default theme implementation to display a photo.
 *
 * Available variables:
 * - photo: The photo from 500px.
 * - photo_page_url: The photo page url from 500px.
 *
 */
#}
{% if photo %}
  <div{{attributes.addClass('d500px-photo')}}>
    <a href = '{{ photo_page_url }}' target='_blank'>
      {{ photo }}
      {% if blackout_nsfw == TRUE %}
        <div class="nsfw_placeholder_content">
          <span>Adult Content</span>
        </div>
      {% endif %}
    </a>
  </div>
{% endif %}
