
{#
/**
 * @file
 * Default theme implementation to display photos.
 *
 * Available variables:
 * - photos: The photos from 500px.
 *
 */
#}
{% if photos %}
  <div class='d500px-photos'>
    {{ photos }}
  </div>
{% endif %}
