{#
/**
 * @file
 * Default implementation for plotly.js graphs.
 *
 * Available variables:
 * - plugin_id: the name of the plugin being used for templating.
 * - graph_id: unique id for the graph.
 *
 * @ingroup themeable
 */
#}
<div id="{{ graph_id }}" class="plotly_{{ plugin_id }}"></div>
