<div id="render-pledge-expanded-text" class="template-name" data-view-text="expanded">
    <strong>Expanded view</strong>
    <hr>
    <br>
</div>
<div id="render-pledge-expanded" class="modal-shown" data-view="expanded" data-view-component="pledge" data-open="true"></div>

<br>
<br>
<br>

<div id="render-pledge-collapsed-text" class="template-name" data-view-text="collapsed">
    <strong>Collapsed view</strong>
    <hr>
    <br>
</div>
<div id="render-pledge-collapsed" class="modal-shown" data-view="collapsed" data-view-component="pledge" data-open="false"></div>
