<div class="atm-base-modal">
    <div class="atm-main price-view">
        <p class="blurred">Dear reader,</p>
        <div>
            <span class="blurred">Please support quality journalism</span>
            <span class="contrib-price">5¢</span> <span class="blurred">to continue reading?</span>
            <span class="show-sm blurred">lease support quality journalism lease support quality journalism lease support quality journalism</span>
        </div>
        <div class="pledge-bottom clearfix blurred">
            <div class="connect-component">
                <small>
                    Already used us before? <a>Connect here</a>
                </small>
            </div>
        </div>
    </div>
</div>
