<div id="render-pay-expanded-text" class="template-name" data-view-text="expanded">
    <strong>Expanded view</strong>
    <hr>
    <br>
</div>
<div id="render-pay-expanded" class="modal-shown" data-view="expanded" data-view-component="pay"></div>

<br>
<br>
<br>

<div id="render-pay-collapsed-text" class="template-name" data-view-text="collapsed">
    <strong>Collapsed view</strong>
    <hr>
    <br>
</div>
<div id="render-pay-collapsed" class="modal-shown" data-view="collapsed" data-view-component="pay"></div>
