<div class="atm-base-modal">
    <div class="atm-main price-view">
        <div class="unlock-cont">
            <p class="blurred">
                It is a long established fact that a reader will be
                distracted
                by
                the readable content of a page when looking at its layout.
                The point of using Lorem Ipsum is that it has a more-or-less
                normal
                distribution of letters, as opposed to using 'Content here,
                content here',
                making it look like readable English.
                It is a long established fact that a reader will be
                distracted
                by
                the readable content of a page when looking at its layout.
                The point of using Lorem Ipsum is that it has a more-or-less
                normal
                distribution of letters, as opposed to using 'Content here,
                content here',
                making it look like readable English.
            </p>
            <button class="atm-button unlock-btn">
                <i class="fa fa-unlock-alt" aria-hidden="true"></i> unlock
                content
            </button>
        </div>
    </div>
</div>
