<div id="render-refund-expanded-text" class="template-name" data-view-text="expanded">
    <strong>Expanded view</strong>
    <hr>
    <br>
</div>
<div id="render-refund-expanded" class="modal-shown" data-view="expanded" data-view-component="refund"></div>

<br> <br> <br>

<div id="render-refund-collapsed-text" class="template-name" data-view-text="collapsed">
    <strong>Collapsed view</strong>
    <hr>
    <br>
</div>
<div id="render-refund-collapsed" class="modal-shown" data-view="collapsed" data-view-component="refund"></div>
