$tm-button-width: 17px !default;
$tm-button-size: 17px !default;

$tm-color-status-border: #be7 !default;
$tm-color-status-img: 'tm-icon-ok.png' !default;

$tm-color-warning-border: #ed5 !default;
$tm-color-warning-img: 'tm-icon-warning.png' !default;

$tm-color-error-border: #ed541d !default;
$tm-color-error-img: 'tm-icon-error.png' !default;

$types: (
        status: (
                border: $tm-color-status-border,
                img: $tm-color-status-img
        ),
        warning: (
                border: $tm-color-warning-border,
                img: $tm-color-warning-img
        ),
        error: (
                border: $tm-color-error-border,
                img: $tm-color-error-img
        )
);

// progress
.tm-progress-wrap {
  position: absolute;
  right: 7px;
  bottom: 5px;
  left: 7px;
}

.tm-progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  border-radius: 3px;
  background-color: #fff;
  opacity: .85;

  @each $type, $data in $types {
    .#{$type} & {
      @if map-has-key($data, img) {
        background-color: map-get($data, border);
      }
    }
  }
}

// message-wrap
.tm-outer-wrap {
  position: relative;
  margin-bottom: 15px;
  transition: margin 0.5s;

  &.tm-is-closed {
    margin-bottom: 5px;
  }
}

// message
.timed-message {
  position: relative;
  padding-right: $tm-button-size;
  min-height: 21px;

  transition-duration: 0.5s;
  transition-property: padding, background-position;

  &.status,
  &.warning,
  &.error {
    border-width: 1px;
    border-style: solid;
  }

  &.tm-in-progress {
    padding-bottom: 20px;
  }
}

.tm-is-closed {
  .timed-message {
    padding: 0 20px 0 35px;
    background-position-y: 3px;
  }

  .tm-showlink{
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;

    .icon {
      background-image: url(../images/move.svg);
    }

  }
}


// toggle- aka show-link
.tm-showlink {
  border: 0;
  position: absolute;
  transition-duration: 0.5s;
  transition-property: top, right;
  top: 13px;
  right: 13px;
  display: block;
  width: $tm-button-width;
  height: $tm-button-size;
  text-indent: -9999em;
  cursor: pointer;

  //TODO improve icons
  .icon {
    transition: background 0.5s;
    background: url(../images/ex.svg) no-repeat top right;
    width: 16px;
    height: 16px;
    top: 3px;
    right: 3px;
    display: block;
    position: absolute;
  }
}

// date
//.tm-date {
//  font-size: .9em;
//  font-style: italic;
//  opacity: .5;
//}
