/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 15, 2017, 3:27:28 PM
    Author     : Nhan Le
*/


#waterfall { margin: 10px; }

ul#waterfall_views li {
  left: 0;
  top: 0;
  opacity: 0;
  transform: translateY(100px);
  list-style: none;
  margin: 20px;
}

ul#waterfall_views li.show {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.3s, top 1s;
  
}
ul#waterfall_views li > div.waterfall-item {
  color: rgba(0,0,0,0.6);
  font-size: 32px;
  border-radius: 3px;
  margin: 10px;
  padding: 15px;
  background: rgb(255,255,255);
  border: 1px solid rgba(038, 191, 64, 0);
  transition: all 0.5s;
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,0.4);
}
ul#waterfall_views li > div.waterfall-item:hover {
  transform: translateY(-10px);
  border: 1px solid rgba(038, 191, 64, 1);
  box-shadow: 0 10px 15px rgba(038, 191, 64, 0.1);
  transition: all 0.3s;
}


