#modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#modalOverlay .wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 3px solid #fff;
  border-radius: 3px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, .5);
}

#modalOverlay button.closeModal,
#modalOverlay .nav-wrapper button {
  background-color: none;
  font-size: 2rem;
  padding: 0 .5rem;
  line-height: 1;
}

#modalOverlay .nav-wrapper button {
  padding: 0 .75rem .25rem;
}
