{#

/**
 * @file
 * Default theme implementation to display a Commandbar autocomplete command item.
 *
 * Available variables:
 * - command: The text of the command
 * - description: The description of the command
 *
 * @ingroup themeable
 */
#}
<div class="commandbar-item"><div>&#62;{{ command }}</div><div class="subtext">{{ description }}</div></div>