.lunr-search-page-form .form-item-search {
  display: inline-block;
}

.lunr-search-page-form input[type="submit"] {
  min-width: 0;
  width: auto;
}

.lunr-search-pager a {
  margin: 0 10px;
}

.lunr-search-pager a:first-child {
  margin-left: 0;
}

.lunr-search-pager a:last-child {
  margin-right: 0;
}

.lunr-search-pager a.active {
  font-weight: bold;
}

.lunr-search-results {
  min-height: 100px;
}

.lunr-search-results-count {
  color: #5f5f5f;
}
