/**
 * @file
 */

/** Dots has bottom -25px, so hidden from viewport, override. */
.slick-lightbox .slick-dots {
  bottom: 0;
}

/** Lightbox has dark background. Dots are dark, override. */
.slick-lightbox .slick-dots li button::before,
.slick-lightbox .slick-dots li.slick-active button::before {
  color: #fff;
}

.slick-lightbox .slick-slide {
  outline: 0;
}

.blazy__slick-lightbox {
  cursor: crosshair;
}

.slick-lightbox-close {
  height: 42px;
  width: 42px;
  line-height: 22px;
  z-index: 98;
}

.slick-lightbox-slick-caption {
  display: block;
}

/** Video has desired dimensions, prevents the library from squeezing. */
.slick-lightbox .slick-slide--video .slick-lightbox-slick-item-inner {
  max-height: none !important;
  max-width: 100%;
}

/** @todo remove post Slick release. */
.slick-lightbox .slick-arrow {
  z-index: 98;
}
