{#
/**
 * @file
 * Default theme implementation to list erpal_budget types available for adding content.
 *
 * This list is displayed on the Add content admin page.
 *
 * Available variables:
 * - types: A list of content types, each with the following properties:
 *   - add_link: Link to create a piece of content of this type.
 *   - description: Description of this type of content.
 *
 * @see template_preprocess_erpal_budget_add_list()
 *
 * @ingroup themeable
 */
#}
{% if types is not empty %}
  <dl class="erpal_budget-type-list">
    {% for type in types %}
      <dt>{{ type.add_link }}</dt>
      <dd>{{ type.description }}</dd>
    {% endfor %}
  </dl>
{% else %}
  <p>
    {% set create_content = path('entity.erpal_budget_type.add') %}
    {% trans %}
      You have not created any content types yet. Go to the <a href="{{ create_content }}">content type creation page</a> to add a new content type.
    {% endtrans %}
  </p>
{% endif %}
