div.implementation-status ul {
  margin: 0;
}
div.implementation-status ul li {
  list-style: none;
}
.implementation-status li.not-finished {
  background-color: #fdf8ed;
  color: #734c00;
  border: 1px solid;
  border-color: #f4daa6 #f4daa6 #f4daa6 transparent;
  box-shadow: -8px 0 0 #e09600;
}
