{#
/**
 * @file transcoding_job.html.twig
 * Default theme implementation to present Transcoding job data.
 *
 * This template is used when viewing Transcoding job pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_transcoding_job()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('transcoding_job') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
