<div ng-controller="actionBar" class="actionbar-content-wrapper">
    <div class="loading animate"
         ng-class="{hidden : !showLoading()}">{{'LOADING' | translate}} <span class="loading-animation-wrapper"><span class="loader"></span></span></div>
    <div class="basket celum-icon-wishlist"
         ng-class="{hidden :hideBasket() || showLoading(), animate :(!showTransfer && numberOfSelectedAssets > 0 && animateBasketActionButton)}"
         ng-click="basketClicked();"><span>{{getNumberOfSelectedAssets()}}</span></div>
    <div class="transfer celum-icon-transfer animate" ng-show="showTransfer"
         ng-click="transferClicked(false);"><span>{{getNumberOfSelectedAssets()}}</span></div>
    <div class="back celum-icon-back animate" ng-show="showTransfer" ng-click="backClicked();"></div>
</div>