
<div ng-if="listMode == 'basket'" class="controls">
  <div class="row">
    <div class="category" ng-repeat="category in fileCategories" ng-click="filterList(category)" ng-class="{active: filterBy.fileCategory.id == category.id}">
      <i class="{{category.icon}} icon"></i><span class="name">{{category.name | translate}}</span><span class="category-count" ng-if="category.count != undefined">{{category.count}}</span>
    </div>
  </div>
</div>

<div ng-if="listMode != 'basket'" class="row assetTypeFilter">
  <ui-select on-select="filterList($select.selected)" theme="select2" ng-model="seletedtype" ng-disabled="false">
    <ui-select-match placeholder="{{'FILE_CATEGORY' | translate}}">{{'FILE_CATEGORY' | translate}}</ui-select-match>
    <ui-select-choices repeat="category in fileCategories | filter: $select.search">
      <i class="{{category.icon}} icon"></i><span class="name">{{category.name | translate}}</span>
      <span class="category-count" ng-if="category.count != undefined">{{category.count}}</span>
    </ui-select-choices>
  </ui-select>
</div>
