<div class="node-ref-select">
  <div class="row">
    <div class="metadatafilter-entry">
      <div list-sorting-controls></div>
      <div class="spacer"></div>
      <div asset-type-filter class="filter-box">
        <!-- Content provided by assetTypeFilter directive. -->
      </div>
      <div class="row" ng-repeat="item in metadataFilterData">
        <span ng-if="item.type == 'NodeReference'" class="filterentry">
    <div node-filter-entry class="nodeFilterEntry-box">
      </div>
        </span>

        <span ng-if="item.type == 'DropDown' && item.displayNames.length > 0" class="filterentry">
           <ui-select on-select="dropDownFieldSelected($select.selected,item)" theme="select2" ng-model="selectedFormat" ng-disabled="false">
            <ui-select-match placeholder="{{getLocaleValue(item.labels)}}">{{getLocaleValue(item.labels)}}</ui-select-match>
            <ui-select-choices repeat="displayItem in getDisplayItemsForDropDown(item.displayNames) | filter: $select.search">
              <div ng-bind-html="displayItem.value | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </span>
        <span click-outside ng-if="isTextField(item)" class="simpledropdown filterentry {{item.name}}">
            <span ng-click="showLookup(item.name)">{{getLocaleValue(item.labels)}}<span class="select2-arrow ui-select-toggle"><b></b></span></span>
            <div class="dropdown-content">
               <input type="text" ng-keyup="$event.keyCode == 13 && addToSearch($event, item)" class="search"
                      placeholder="{{'SEARCH' | translate}}"/>
               <div class="inputHint">{{'ENTER_VALUE_HINT' | translate}}</div>
            </div>
        </span>
        <span click-outside ng-if="item.type == 'Boolean'" class="simpledropdown filterentry {{item.name}}">
            <span ng-click="showLookup(item.name)">{{getLocaleValue(item.labels)}}<span class="select2-arrow ui-select-toggle"><b></b></span></span>
            <span class="dropdown-content">
              <div class="dropdwon-entry" ng-click=checkboxFieldSelected(item,"true")><span><i class="celum-icon-checked icon"></i>{{'CHECKED' | translate}}</span></div>
              <div class="dropdwon-entry" ng-click=checkboxFieldSelected(item,"false")><span><i class="celum-icon-unchecked icon"></i>{{'UNCHECKED' | translate}}</span></div>
            </span>
        </span>
      </div>
    </div>
  </div>
  <div>
    <div class="row">
      <div class="filterBubbles">
        <div  class="bubble" ng-if="selectedFileCategory.length>0" >{{selectedFileCategory | translate}}<i class="celum-icon-cancel" ng-click="removeCategorySelection()"></i></div>
        <div ng-repeat="bubble in filterBubbles">
          <div class="bubble">
          <span ng-if="bubble.infoFieldType =='Boolean'">
             <i ng-if="bubble.value =='true'" class="celum-icon-checked"></i>
             <i ng-if="bubble.value =='false'" class="celum-icon-unchecked"></i>
          </span>
            <span>{{getDisplayValueForBubbles(bubble)}}</span>
            <i class="celum-icon-cancel" ng-click="removeBubble(bubble)"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>