<?php

/**
 * @file
 * Default theme implementation to display a Flickity item.
 *
 * Available variables:
 * - item: The row item content.
 * - attributes: The row item attributes.
 * 
 */
?>
<div {{ attributes }} > {{ item }} </div>
