<?php

/**
 * @file
 * Default theme implementation to display a Flickity wrapper.
 *
 * Available variables:
 * - output: The complete Flickity element.
 * - attributes: The row item attributes.
 * 
 */
?>
<div {{ attributes }} > {{ output }} </div>
