{#
/**
 * @file club.html.twig
 * Default theme implementation to present Club data.
 *
 * This template is used when viewing Club pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_club()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('club') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
