.drupal-git li {
  list-style: none !important;
}

.drupal-git-all-logs li:nth-child(4n) {
  display: inline-block;
  margin-bottom: 30px;
}
.drupal-git-branch-diff .form-item {
  width: 200px;
  float: left;
}

.drupal-git-branch-diff input#edit-submit {
  display: inline-block;
  margin-top: 30px;
}

ul.drupal-git.drupal-git-status {
  white-space: pre;
}
