example_full_field_preset:
  machine_prefix: fp
  label: Textarea
  storage:
    type: string_long
    module: core
    cardinality: 1
    locked: false
    indexes: []
    settings:
      case_sensitive: false
  instance:
    required: false
    default_value: []
    settings: []
  widget:
    type: string_textarea
    weight: 49
    settings:
      rows: 10
  formatter:
    type: string
    weight: 0
    label: Above
    settings: []
    third_party_settings: []

example_simple_field_preset:
  label: Date
  storage:
    type: datetime
    module: datetime
    settings:
      datetime_type: date
  widget:
    type: datetime_default
  formatter:
    type: datetime_default
    settings:
      format_type: medium
      timezone_override: ''

