<div class="rss-embed-field-feed">
    {% if title %}
        <strong class="rss-embed-field-feed-title">{{ title }}</strong>
    {% endif %}
    <ul class="rss-embed-field-feed-items">
        {% for item in items %}
            <li class="rss-embed-field-feed-item">
                <a target="_blank" href="{{ item.link }}" class="rss-embed-field-feed-item-title">{{ item.title }}</a>
                <p class="rss-embed-field-feed-item-description">
                    {{ item.description|striptags }}
                </p>
            </li>
        {% endfor %}
    </ul>
</div>