{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{% set classes = [
'paragraph',
'paragraph--hr',
] %}

{% block paragraph %}
    <div{{ attributes.addClass(classes) }}>
        <hr class="hr {{ hr_class }}">
    </div>
{% endblock paragraph %}
