{#
/**
 * @file
 * Default theme implementation to display a product variant.
 *
 * Available variables:
 * - content: All product variant items. Use {{ content }} to print them all.
 * - attributes: HTML attributes for the containing element.
 * - view_mode: View mode; for example, "teaser" or "store_listing".
 * - shopify_product_variant: The shopify product variant object.
 *
 * @ingroup themeable
 */
#}
<div{{ attributes }}>
  {{ content }}
</div>
