<a href="https://{{ domain }}/cart" target="_blank">
    <i class="fa fa-shopping-cart"></i>
    <span class="shopify-cart-text">{{ 'Cart'|t }}</span>
    (<span class="shopify-cart-total">0</span>)
</a>