.flow-player-field-responsive-video {
  position: relative;
}
.flow-player-field-responsive-video:after {
  content: '';
  display: block;
  padding-bottom: 56.25%;
}
.flow-player-field-responsive-video iframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}
.flow-player-field-responsive-modal {
  max-width: 100%;
}
.flow-player-field-lazy {
  cursor: pointer;
  position: relative;
}
.flow-player-field-lazy img {
  width: 100%;
}
.flow-player-field-lazy-play {
  height: 72px;
  width: 72px;
  left: 50%;
  top: 50%;
  margin-left: -36px;
  margin-top: -36px;
  position: absolute;
  background: url("icons/play.svg") no-repeat;
  cursor: pointer;
  background-size: 72px 72px;
}
