{#
/**
 * @file
 * Render a BBCode spoiler.
 */
#}
{% spaceless %}
{% set id = random() %}
<input id="xbbcode-spoiler-{{ id }}" type="checkbox" class="xbbcode-spoiler" />
<label class="xbbcode-spoiler" for="xbbcode-spoiler-{{ id }}">{{ tag.content }}</label>
{% endspaceless %}
