{#
Customer's Canvas Multi Editor Builder Template.

Variables that are available in this template:
 - owner - The owner of the canvas that is being modified.
 - entity - The entity that referenced this builder.
 - finish_form - The form that is submitted with results.
#}
<div class="customers-multi-editor-canvas" id="wrapper">
  <section id="cc-wrapper-section">
    <div class="container-fluid">
      <div id="aurigma-editor-root" class="cc-container"></div>
    </div>
  </section>
  {{ finish_form }}
</div>
