{#
/**
 * @file
 * Default theme implementation for the google analytics counter block.
 *
 * Available variables:
 * - pageviews: The number of pageviews for the current uri.
 *
 * @ingroup themeable
 */
#}
<span class="google-analytics-counter">{{ pageviews }}</span>