{#
/**
 * @file
 * Display a node in the Table of Contents view mode.
 *
 * This is based on the node template from the classy theme.
 * Remove the title and the attached library.
 * Change the wrapper element from article to nav.
 */
#}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
<nav{{ attributes.addClass(classes) }}>
  <div{{ content_attributes.addClass('node__content') }}>
    {{ content }}
  </div>
</nav>
