{#
/**
 * @file
 * Default theme implementation for the content locker.
 *
 * Available variables:
 * - children: Markup.
 * - attributes: A list of HTML attributes for the wrapper.
 */
#}

{%
  set classes = [
    'content-locker'
  ]
%}
<div {{ attributes.addClass(classes) }}>
  <div class="locked-content">{{ children }}</div>
</div>