/*------------------------------------------------------------*/
/*
=== Advanced Youtube Channel Pagination ===
Contributors: Balasaheb Bhise
*/
/*------------------------------------------------------------*/
#youtube-channel-pagination{
    position: relative;
    width: 100%;
    background-color: #fcfcfc;
    color: #444;
}

#youtube-channel-pagination #yc-pagination-watch .title{
    min-height: 40px;
    max-height: 40px;
    overflow: hidden;
    padding-top: 10px;
}

#youtube-channel-pagination #yc-pagination-watch .ycv-simple-thumb-wrap{
    padding-top: 10px;
    cursor: pointer;  
    opacity: .5;
    text-align: center;
}
#youtube-channel-pagination #yc-pagination-watch .ycv-simple-thumb-wrap:hover{
    opacity: 1;
}
#youtube-channel-pagination #yc-pagination-watch .title{
    cursor: pointer;
    font-size: 14px;
}

#youtube-channel-pagination .display-watch-video iframe{
    background-color: black;
}

#youtube-channel-pagination .prev-next-outer{
    position: relative;
    padding-bottom: 100px;
    padding-top: 30px;
    width: 100%; 
}
#youtube-channel-pagination .item-list-box{
    border: 1px solid #dedede;
    padding: 10px;     
}

#youtube-channel-pagination #youtube-channel-video h2{
    margin-top: 0em;
}
#youtube-channel-pagination .ycv-list-snippet{
    margin-bottom: 20px;
}

#youtube-channel-pagination #yc-pagination-watch{
    padding-top: 20px;
    background-color: #fcfcfc;
}
