/**
 * @file
 * Default theme css for Instagram image.
 */

.iwa li {
  display: inline-block;
  width: auto;
  height: auto;
  vertical-align: top;
  margin-right: 10px;
  margin-left: 10px;
  border: 1px solid #979797;
}