@media (max-width: 766px) {
  .paragraph.paragraph--parallax.parallax-bg-image {
    padding: 5px;
    .bg-image {
      min-height: 200px;
      max-height: 200px;
      background-position: center !important;
    }
    .paragraph-inner {
      width: 100%;
      display: block !important;
      top: 0 !important;
    }
  }
}

.paragraph--type--parallax.paragraph--view-mode--default {
  min-height: 340px;
  max-height: inherit;
  display: table;
  width: 100%;
  position: relative;
  overflow: hidden;
  .paragraph-inner {
    display: table-cell;
    vertical-align: middle;
    position: relative;
  }
  .bg-image {
    // Fallback for when the background image is not available.
    background-color: #333;
  }
  .field--name-parade-title {
    margin-bottom: .5em;
  }
}
