.paragraph--type--social-links.paragraph--view-mode--default {
  .field--name-parade-social-link {
    text-align: center;

    .field__item {
      display: inline-block;

      &:not(:last-child) {
        margin-right: 20px;
      }

      // Bootstrap's text-hide class:
      font: 0/0 a;
      color: transparent;
      text-shadow: none;
      background-color: transparent;
      border: 0;
    }

    .social {
      display: block;
      width: 42px;
      height: 42px;
      background-color: #aaa;
      border-radius: 50%;
      transition: transform .2s;

      &:hover {
        transform: scale(1.1) translateZ(0);
        background-color: #ddd;
      }
    }

    .social-facebook {
      background: url('../images/facebook.svg') no-repeat center center;
    }

    .social-twitter {
      background: url('../images/twitter.svg') no-repeat center center;
    }

    .social-linkedin {
      background: url('../images/linkedin.svg') no-repeat center center;
    }

    .social-google {
      background: url('../images/gplus.svg') no-repeat center center;
    }

    .social-youtube {
      background: url('../images/youtube.svg') no-repeat center center;
    }
  }
}
