.paragraph--type--simple.paragraph--view-mode--inverse {
  &.layout--two-column-title-1st-inverse {
    .field--name-parade-title,
    .field--name-parade-text {
      @media screen and (min-width: 768px) {
        width: 50%;
      }
    }
  }

  @media screen and (min-width: 768px) {
    &.layout--two-column-title-1st-inverse {
      .field--name-parade-title {
        float: left;
        text-align: left;
      }
      .field--name-parade-text {
        float: right;
      }
    }
  }
}

.paragraph--type--simple.paragraph--view-mode--inverse {

  // Inverse layout
  &.layout--two-column-content-1st-inverse {
    .field--name-parade-title,
    .field--name-parade-text {
      @media screen and (min-width: 768px) {
        width: 50%;
      }
    }
  }

  @media screen and (min-width: 768px) {
    &.layout--two-column-content-1st-inverse {
      .field--name-parade-title {
        float: right;
        text-align: right;
      }
      .field--name-parade-text {
        float: left;
      }
    }
  }
}
