.paragraph--type--images.paragraph--view-mode--default {
    .field--name-parade-images {
        text-align: left;
        .field__item {
            display: inline-block;
            padding: 1em 2em;
            vertical-align: middle;
        }
    }
}
