/**
 * @file
 * Styles for Paragraphs Previewer modal dialog.
 */

// @todo use core dialog CSS?
body.dialog-active {
  overflow: hidden;
}

.ui-dialog.parade-preview-dialog,
.ui-dialog-content.ui-widget-content {
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
}
