/* direct parent container*/
#block-byuinstagramrecentposts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#block-byuinstagramrecentposts > div:focus .instagram-logo-watermark,
#block-byuinstagramrecentposts > div:hover .instagram-logo-watermark {
    opacity: 1;
}
@media screen and (max-width: 767px) {
    #block-byuinstagramrecentposts {
        justify-content: space-around;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1223px) {
    #block-byuinstagramrecentposts {
        padding-left: 20px;
    }
}

.instagram-image.img-responsive, .instagram-image {
    /* adjust this a lot */
    width: 160px; /* mobile, tablet default */
    height: 160px;
    object-fit: cover;
    margin-bottom: 10px;
}
@media screen and (max-width: 360px) {
    .instagram-image.img-responsive, .instagram-image {
        /* so there can be space at the smallest sizes */
        width: 150px; 
        height: 150px;
    }   
}
a.compat-object-fit {
    display: block;
    width: 160px; /* mobile, tablet default */
    height: 160px;
    background-size: cover;
    background-position: center center;
}
a.compat-object-fit img {
    opacity: 0;
}

.last-image-link {
    display: inline-block;
    background-color: #002e5d;
    /*background-image: url(https://scontent.cdninstagram.com/t51.2885-15/s320x320/e35/20634142_191083574764046_8602704427419172864_n.jpg);*/
    /*background-image: url(../images/SeeMoreBackground.jpg);*/
    background-image: url(../images/SeeMoreBackgroundSm.jpg);
    background-blend-mode: overlay;
    /*background-blend-mode: screen;*/
    position: relative;
    /*top: -124px;*/
}
.last-image-link:focus,
.last-image-link:hover {
    background-color: #005eb8;
}
.last-image-link .see-more-text {
    border: 1px solid #fff;
    border-radius: 50%;
    width: 80px;
    height: 75px;
    padding: 15px 10px 11px;
    text-align: center;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    margin-top: 43px;
    color: #fff;
    position: relative;
    /* margin-bottom: auto; */
}

.instagram-logo-watermark {
    background-image: url(../images/instagram-logo.svg);
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 30px;
    right: 15px;
    opacity: 0.7;
}

/*  767px and below */
@media screen and (max-width: 767px) {
    #block-byuinstagramrecentposts {
        padding-top: 10px;
    }
}

/* 768px - 1023px */
@media screen and (min-width: 768px) and (max-width: 1023px) {

}

/*  1024px - 1223px  */
@media screen and (min-width: 1024px) and (max-width: 1223px) {
    .instagram-image.img-responsive, .instagram-image, a.compat-object-fit {
        /* adjust this a lot */
        width: 160px;
        height: 160px;
        margin-bottom: 20px;
    }
    .instagram-4, .instagram-5,
    .img-responsive.image-4, .img-responsive.image-5 {
        display: none;
    }
    .last-image-link .see-more-text {
        padding: 15px 10px 11px;
        margin-top: 45px;
    }
}


/*  on 1224px  - 1424 */
@media screen and (min-width: 1224px) and (max-width: 1423px) {
    .instagram-image.img-responsive, .instagram-image, a.compat-object-fit {
        /* adjust this a lot */
        width: 230px;
        height: 230px;
        margin-bottom: 15px;
    }
    .last-image-link .see-more-text {
        width: 100px;
        height: 100px;
        padding: 28px 20px 11px;
        margin-top: 70px;
    }
}


/*  above 1424px  */
@media screen and (min-width: 1424px) {
    .instagram-image.img-responsive, .instagram-image, a.compat-object-fit {
        /* adjust this a lot */
        width: 235px;
        height: 235px;
        margin-bottom: 15px;
    }
    .instagram-3, .instagram-4, .instagram-5,
    .img-responsive.image-3, .img-responsive.image-4, .img-responsive.image-5 {
        /*display: none;*/
    }
    .last-image-link .see-more-text {
        width: 100px;
        height: 100px;
        padding: 28px 20px 11px;
        margin-top: 70px;
    }
}

