{#
/**
 * @file competition_entry-archives.html.twig
 * Default theme implementation to present competition entries in archived
 * cycles of a given competition.
 *
 * Available variables:
 * - view_renderable - render array to for the view 'competition_entry',
 *   display 'embed_archives'. Just filter through `render`.
 * - cycle_filter_links - array of arrays, each defining a basic link to the
 *   default archive route per archived cycle of this competition. Each contains:
 *   - cycle - the cycle key which this link will filter by
 *   - href
 *   - text
 *   - active - boolean whether this cycle is in the current request path (i.e.
 *     the view is currently filtering by it)
 *
 * @see template_preprocess_competition_entry_archives()
 * @see CompetitionEntryController::displayArchives()
 *
 * @ingroup themeable
 */
#}
<div class="competition-entry-archives">
  {% if cycle_filter_links is not empty %}
  <ul class="cycle-filter-links">
    {% for link in cycle_filter_links %}
      <li><a data-cycle="{{ link.cycle }}" href="{{ link.href }}"{% if link.active %} class="active"{% endif %}>{{ link.text }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}

	{{ view_renderable|render }}
</div>
