{#
/**
 * @file competition_entry.html.twig
 * Default theme implementation to present Competition entry data.
 *
 * This template is used when viewing Competition entry pages.
 *
 *
 * Available variables:
 *
 * - attributes: HTML attributes for the container element.
 *
 * - content: An array of render arrays of entry fields/properties to be
 *   displayed in the current view mode. This may be rendered all at once, or
 *   individual fields can be rendered separately.
 *
 * - content_user: An array of render arrays of fields/properties on the *user*
 *   entity that owns this entry.
 *   - 'name', 'mail' - account username and email values, themed as 'field'
 *     render arrays. (These are programmatically added, not through display
 *     config.)
 *   - If a custom view mode named 'competition_entry' is configured for user
 *     entity type, all fields configured to display in that mode are contained
 *     in this array.
 *
 * @see template_preprocess_competition_entry()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('competition_entry') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
