<ul class='sscwidget opportunitieslist'>
{% for item in data %}
    <li><p><span class="datedisplay">{{ item.date }}</span> <br> <a class="titledisplay" href="{{ item.url }}" target=_blank>{{ item.title }}</a></p></li>
{% endfor %}
</ul>