<div class='notification_page'>	
	{% if notification_count is empty  %}
		<div>{{ all_notifications.message| raw }}</div>
  {% else %}
  	<ul class="notification_listing">
			{% for key,data in all_notifications %}
		    <li>{{ data.message| raw  }}</li>
		  {% endfor %}
		</ul>
	{% endif %}	
</div>
