<div class='notification_block'>	
	{% if notification_count is empty %}
		<div>{{ notifications.message| raw }}</div>
	{% else %}
		<ul class="notification_ul" style='list-style-type:circle;'>
			{% for key,data in notifications %}
	      <li>{{ data.message| raw }}</li>
	    {% endfor %}
  	</ul>
  {% endif %}	
	
	<div>{{ link }}</div>
</div>
