.visualizer-form {
    background-color: lightblue;
    display: inline;
}

.form-item label {
    display: block; /* block float the labels to left column, set a width */
    float: left;
    width: 150px;
    padding: 1px;
    margin: 5px 0 0; /* set top margin same as form input - textarea etc. elements */
    text-align: right;

}

.node-form .form-text {
    display: inline;
    width: auto;
}

/*Org unit and data element filter forms*/
.dhis-filter-name label {
    float: none;
    text-align: left;
}

.dhis-filter-submit {
    padding-bottom: 5px;
}