{#
/**
 * @file
 * Template file for bootstrap Colors configuration page.
 *
 */
#}
{{ attach_library('bootstrap_colors/bootstrap_colors') }}
  <p>
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#mdModal">
      {% trans %}Material Design Colors{% endtrans %}
    </button>
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#clModal">
      {% trans %}Colour Lovers Palettes{% endtrans %}
    </button>
  </p>

<div class="col-sm-12">

  <!-- Modal -->
  <div class="modal fade" id="mdModal" tabindex="-1" role="dialog" aria-labelledby="mdModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="mdModalLabel">{% trans %}Material Design Colors{% endtrans %}</h4>
        </div>
        <div class="modal-body">
          <table width="100%" border="0">
            <tr>
              <td>Red</td>
              <td>Pink</td>
              <td>Purple</td>
              <td>Deep Purple</td>
              <td>Indigo</td>
            </tr>
            <tr>
              <td><div class="mdcolor">#e51c23</div></td>
              <td><div class="mdcolor">#e91e63</div></td>
              <td><div class="mdcolor">#9c27b0</div></td>
              <td><div class="mdcolor">#673ab7</div></td>
              <td><div class="mdcolor">#3f51b5</div></td>
            </tr>
            <tr>
              <td>Blue</td>
              <td>Light Blue</td>
              <td>Cyan</td>
              <td>Teal</td>
              <td>Green</td>
            </tr>
            <tr>
              <td><div class="mdcolor">#5677fc</div></td>
              <td><div class="mdcolor">#03a9f4</div></td>
              <td><div class="mdcolor">#00bcd4</div></td>
              <td><div class="mdcolor">#009688</div></td>
              <td><div class="mdcolor">#259b24</div></td>
            </tr>
            <tr>
              <td>Light Green</td>
              <td>Lime</td>
              <td>Yellow;</td>
              <td>Amber</td>
              <td>Orange</td>
            </tr>
            <tr>
              <td><div class="mdcolor">#8bc34a</div></td>
              <td><div class="mdcolor">#cddc39</div></td>
              <td><div class="mdcolor">#ffeb3b</div></td>
              <td><div class="mdcolor">#ffc107</div></td>
              <td><div class="mdcolor">#ff9800</div></td>
            </tr>
            <tr>
              <td>Deep Orange</td>
              <td>Brown</td>
              <td>Gray</td>
              <td>Blue Gray</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td><div class="mdcolor">#ff5722</div></td>
              <td><div class="mdcolor">#795548</div></td>
              <td><div class="mdcolor">#9e9e9e</div></td>
              <td><div class="mdcolor">#607d8b</div></td>
              <td>&nbsp;</td>
            </tr>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="clModal" tabindex="-1" role="dialog" aria-labelledby="clModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="clModalLabel">{% trans %}Colour Lovers Palettes{% endtrans %}</h4>
        </div>
        <div class="modal-body">
          <a "javascript:void(0);" class="btn btn-primary" id="getpalletes">{% trans %}Get Palettes{% endtrans %}</a>
          <a "javascript:void(0);" class="btn btn-primary" id="getpalletestop">Get Top Palettes</a>
          <a "javascript:void(0);" class="btn btn-primary" id="getpalletesnew">Get Newer Palettes</a>
          <a "javascript:void(0);" class="btn btn-primary" id="getpalletesrandom">Get Random Palettes</a>
          <table id="colourlovers-table" width="100%" border="0">
            <tbody>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <div id="primary-wrapper" class="col-sm-4">
    <h3>{% trans %}Primary Color Base{% endtrans %}</h3>
    <div id='inputter'>
      <p>{% trans %}Enter primary color base or select from above:{% endtrans %}</p>
      <div id='primary-wrap' class="input-group">
        <input type="text" value="" class="form-control" id='primary'/>
        <span class="input-group-addon"><i id="primary-output"></i></span>
      </div>
    </div>
    <div id='primary-output' class="output">
      <table class="table">
        <tr>
	           <th>50</th>
	           <td><div id='c50' class="primary"></div></td>
	       </tr>
	       <tr>
	           <th>100</th>
	           <td><div id='c100' class="primary"></div></td>
	       </tr>
	       <tr>
	           <th>200</th>
	           <td><div id='c200' class="primary"></div></td>
	       </tr>
	       <tr>
	           <th>300</th>
	           <td><div id='c300' class="primary"></div></td>
	       </tr>
	       <tr>
	           <th>400</th>
	           <td><div id='c400' class="primary"></div></td>
	       </tr>
	       <tr>
	           <th>500</th>
	           <td><div id='c500' class="primary white"></div></td>
	       </tr>
	       <tr>
	           <th>600</th>
	           <td><div id='c600' class="primary white"></div></td>
	       </tr>
	       <tr>
	           <th>700</th>
	           <td><div id='c700' class="primary white"></div></td>
	       </tr>
	       <tr>
	           <th>800</th>
	           <td><div id='c800' class="primary white"></div></td>
	       </tr>
	       <tr>
	           <th>900</th>
               <td><div id='c900' class="primary white"></div></td>
        </tr>
      </table>
    </div>
  </div>
  <div id="wrapper-accent" class="col-sm-4">
    <h3>{% trans %}Accent Color Base{% endtrans %}</h3>
    <div id='inputter'>
        <p>{% trans %}Enter accent color base or select from above:{% endtrans %}</p>
        <div id='accent-wrap' class="input-group">
          <input type="text" value="" class="form-control" id='accent'/>
          <span class="input-group-addon"><i id="accent-output"></i></span>
        </div>
    </div>
    <div id='accent-output' class="output">
       <table class="table">
           <tr>
               <th>A100</th> <td><div id='a100' class="accent"></div></td>
           </tr>
           <tr>
               <th>A200</th> <td><div id='a200' class="accent"></div></td>
           </tr>
           <tr>
               <th>A400</th> <td><div id='a400' class="accent white"></div></td>
           </tr>
           <tr>
               <th>A700</th> <td><div id='a700' class="accent white"></div></td>
           </tr>
       </table>
    </div>
  </div>
  <div id="wrapper-color" class="col-sm-4">
    <h3>{% trans %}Color Application{% endtrans %}</h3>
    {{ form }}
  </div>
</div>
