<div id="{{ map_id }}" class="mapycz-address" style="width:0; height:0;"></div>
<div class="mapycz-settings">
    <div class="mapycz-location">
        <div class="lat">{{ marker.lat }}</div>
        <div class="lng">{{ marker.lng }}</div>
    </div>
</div>
<div class="mapycz-map-address"></div>
