@media (min-width: 768px) {
  .paragraphs-plugin-inline-container {
    display: flex;
    > .form-item {
      display: flex;
      flex-wrap: wrap;
      & label {
        margin-top: 5px;
        min-width: 150px;
      }
      & .paragraphs-plugin-form-element {
        margin-left: 10px;
        margin-bottom: 2px;
        height: fit-content;
      }
      & .select2-container {
        margin-left: 10px;
        margin-bottom: 2px;
      }
    }
    &.multiple-lines {
      flex-direction: column;
    }
  }
}

.paragraphs-plugin-inline-container {
  .select2-container {
    .select2-selection {
      min-width: 100px;
    }
  }
}

.paragraphs-behavior-language-behavior-form {
  > .fieldset-wrapper {
    &::after {
      content: "";
      display: table;
      clear: both;
    }
    > .form-item {
      float: left;
    }
    > .form-item:not(:last-child) {
      margin-right: 10px;
    }
  }
}
