/* @todo: rename the file to dialogs.css or similar */
/* @todo: consider responsive styles also */
/* the class is also used for visualn-core.js context_wrapper setting */
.preview-content {
  width: 760px;
  /*min-width: 800px;*/
  border: 1px solid #ccc;
  margin: 5px;
  padding: 5px;
  /*max-height: 92%;*/
}

/* @todo: temporary solution, maybe add a class to the dialog */
.ui-dialog {
  max-width: 98%;
}
.ui-dialog-visualn.ui-dialog .ui-widget-content.ui-dialog-content {
  padding: 10px;
}

/* @todo: add different classes for each preview*/
.ui-dialog-visualn {
  width: 800px !important;
  min-width: 800px !important;
}


/* @todo: maybe should be moved into a separate styles file*/
/* drawing selection dialog form styles */
.visualn-embed-drawing-select-dialog-wrapper .form-radios {
  margin-top: 20px;
}

.visualn-embed-drawing-select-dialog-wrapper .form-type-radio {
  display: block;
  float: left;
  margin: 7px;
  position: relative;
  vertical-align: top;
}

.visualn-embed-drawing-select-dialog-wrapper .form-type-radio input[type="radio"]+label {
  display: block;
  width: 135px;
  outline: 2px solid #b6e1fc;
}
.visualn-embed-drawing-select-dialog-wrapper .form-type-radio input[type="radio"]+label:hover {
  outline-color: #ffd25c;
}
.visualn-embed-drawing-select-dialog-wrapper .form-type-radio input[type="radio"]:checked+label {
  background-color: #b6e1fc;
}
.visualn-embed-drawing-select-dialog-wrapper .form-type-radio input[type="radio"] {
  display: none;
}

.visualn-embed-drawing-select-dialog-wrapper label .drawing-embed-option-wrapper {
  background-repeat: no-repeat;
  background-size: 80% auto;
  background-position: center;
  min-height: 150px;
}
.visualn-embed-drawing-select-dialog-wrapper label .drawing-name {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background-color: rgb(80, 80, 100, 0.6);
  color: #ffffff;
  padding: 0px 5px;
  box-sizing: border-box;
}
.visualn-embed-drawing-select-dialog-wrapper label .drawing-actions-wrapper {
  position: absolute;
  top: 0px;
  right: 0px;
}
.visualn-embed-drawing-select-dialog-wrapper label .drawing-actions {
  display: none;
}
/*.visualn-embed-drawing-select-dialog-wrapper .form-type-radio input[type="radio"]:checked+label .drawing-actions {*/
.visualn-embed-drawing-select-dialog-wrapper label .drawing-actions-wrapper:hover .drawing-actions {
  display: inline-block;
}

.visualn-embed-drawing-select-dialog-wrapper label .drawing-actions-wrapper:hover {
  width: 100%;
  background-color: rgb(255, 255, 255, 0.6);
  padding-bottom: 5px;
}
.visualn-embed-drawing-select-dialog-wrapper label .drawing-actions-wrapper .icon.toggle-actions {
  float: right;
  margin-right: 0px;
}
.visualn-embed-drawing-select-dialog-wrapper label .drawing-actions-wrapper .drawing-actions .icon {
  float: right;
}
.visualn-embed-drawing-select-dialog-wrapper label .drawing-actions-wrapper .drawing-actions {
  float: right;
}
.visualn-embed-drawing-select-dialog-wrapper label .drawing-actions-wrapper .icon {
  display: block;
  width: 16px;
  margin: 0px 3px;
}
.visualn-embed-drawing-select-dialog-wrapper label .drawing-actions-wrapper .icon span,
.visualn-embed-drawing-select-dialog-wrapper label .drawing-actions-wrapper .icon a {
  text-indent: -10000px;
  position: relative;
  display: block;
}
.visualn-embed-drawing-select-dialog-wrapper label .drawing-actions-wrapper .icon span:before,
.visualn-embed-drawing-select-dialog-wrapper label .drawing-actions-wrapper .icon a:before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  background-size: 100% auto;
  background-attachment: scroll;
  position: absolute;
  top: 5px;
  right: 5px;
}
.visualn-embed-drawing-select-dialog-wrapper label .drawing-actions-wrapper .icon.toggle-actions span:before {
  background-image: url("../images/icons/787878/menu.svg");
}
.visualn-embed-drawing-select-dialog-wrapper label .drawing-actions-wrapper .icon.toggle-actions:hover span:before {
  background-image: url("../images/icons/ffd25c/menu.svg");
}
.visualn-embed-drawing-select-dialog-wrapper label .drawing-actions-wrapper .icon.action-preview a:before {
  background-image: url("../images/icons/787878/eye.svg");
}
.visualn-embed-drawing-select-dialog-wrapper label .drawing-actions-wrapper .icon.action-preview:hover a:before {
  background-image: url("../images/icons/ffd25c/eye.svg");
}
.visualn-embed-drawing-select-dialog-wrapper label .drawing-actions-wrapper .icon.action-edit a:before {
  background-image: url("../images/icons/787878/edit.svg");
}
.visualn-embed-drawing-select-dialog-wrapper label .drawing-actions-wrapper .icon.action-edit:hover a:before {
  background-image: url("../images/icons/ffd25c/edit.svg");
}
.visualn-embed-drawing-select-dialog-wrapper label .drawing-actions-wrapper .icon.action-delete a:before {
  background-image: url("../images/icons/787878/trash-can.svg");
}
.visualn-embed-drawing-select-dialog-wrapper label .drawing-actions-wrapper .icon.action-delete:hover a:before {
  background-image: url("../images/icons/ffd25c/trash-can.svg");
}


.visualn-embed-drawing-select-dialog-wrapper .drawing-filters .form-item {
  display: inline-block;
}
.visualn-embed-drawing-select-dialog-wrapper .drawing-filters .form-item.form-item-drawing-name {
  max-width: 350px;
}





/* new drawing type select dialog styles */
.visualn-embed-new-drawing-type-select-links-wrapper li {
  display: block;
  float: left;
  position: relative;
  vertical-align: top;
  margin: 7px;
}
.visualn-embed-new-drawing-type-select-links-wrapper ul.links {
  padding: 0;
  margin: 0;
}
.visualn-embed-new-drawing-type-select-links-wrapper ul.links li {
  /* override default style for list links */
  padding: 0px;
}
.visualn-embed-new-drawing-type-select-links-wrapper li a {
  display: block;
  width: 135px;
  outline: 2px solid #b6e1fc;
}
.visualn-embed-new-drawing-type-select-links-wrapper li a:hover {
  outline-color: #ffd25c;
}
.visualn-embed-new-drawing-type-select-links-wrapper li a:active {
  background-color: #b6e1fc;
}
.visualn-embed-new-drawing-type-select-links-wrapper li a:hover div {
  text-decoration: none;
}
.visualn-embed-new-drawing-type-select-links-wrapper li .drawing-embed-option-wrapper {
  background-repeat: no-repeat;
  background-size: 80% auto;
  background-position: center;
  min-height: 150px;
}
.visualn-embed-new-drawing-type-select-links-wrapper li .drawing-type-name {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background-color: rgb(80, 80, 100, 0.6);
  color: #ffffff;
  padding: 0px 5px;
  box-sizing: border-box;
}

.visualn-embed-new-drawing-type-select-links-wrapper li .actions-wrapper {
  position: absolute;
  top: 0px;
  right: 0px;
}
.visualn-embed-new-drawing-type-select-links-wrapper li .actions-wrapper .icon.show-info {
  float: right;
  margin-right: 0px;
  position: relative;
}
.visualn-embed-new-drawing-type-select-links-wrapper li .actions-wrapper .icon i {
  display: block;
  margin: 4px 3px;
  /*margin: 0px 3px;*/
  width: 16px;
  height: 16px;
  background-image: url("../images/icons/787878/info.svg");
  background-size: 100% auto;
}
.visualn-embed-new-drawing-type-select-links-wrapper li .actions-wrapper .icon:hover i {
  background-image: url("../images/icons/ffd25c/info.svg");
}
/* @todo: the info pane should be repositioned right on narrower screens */
.visualn-embed-new-drawing-type-select-links-wrapper li .actions-wrapper .icon.show-info .drawing-type-description {
  position: absolute;
  top: 10px;
  left: 30px;
  width: 350px;
  z-index: 10;
  display: none;
}
.visualn-embed-new-drawing-type-select-links-wrapper li .actions-wrapper .icon.show-info:hover .drawing-type-description {
  display: block;
}
.visualn-embed-new-drawing-type-select-links-wrapper li .actions-wrapper .icon.show-info .drawing-type-description-inner {
  background-color: rgb(255, 255, 255, 0.85);
  border: 1px solid #ccc;
  padding: 3px;
  display: inline-block;
  color: rgb(80, 80, 100);
}
