/* @todo: drawing width does not render less than div.text content because of display:table */
.visualn-drawing-empty-drawing-wrapper {
  border: 1px solid #ccc;
  position: relative;
  display: table;
}
.visualn-drawing-empty-drawing-wrapper .text {
  position: relative;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  z-index: 2;
  padding: 15px;
}
.visualn-drawing-empty-drawing-wrapper .bkg {
  filter: blur(1px);
  position: absolute;
  z-index: 1;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  padding: 5%;
  box-sizing: border-box;
}
.visualn-drawing-empty-drawing-wrapper .bkg img {
  width: 100%;
  height: 100%;
  position: relative;
  left: -55%;
  /*left: -50%;*/
}
