.flow-player-dialog.ui-dialog--narrow {
  max-width: inherit !important;
  outline: none;
}
.flow-player-dialog.ui-dialog--narrow:focus {
  outline: none;
}
.flow-player-dialog.ui-dialog .ui-dialog-titlebar {
  background: #00abcd !important;
}
.flow-player-dialog.ui-dialog .ui-dialog-titlebar-close {
  border-color: transparent !important;
}
.flow-player-dialog.ui-dialog .ui-dialog-titlebar-close:hover {
  border-color: white !important;
}
.flow-player-dialog.ui-dialog .ui-widget-content.ui-dialog-buttonpane button {
  padding: 0;
  margin: 0 0 0 10px;
  display: inline-block;
  height: 34px;
  width: 100px;
  box-shadow: none;
  background-color: #e4e9ea;
  color: #435d63;
  border-radius: 5px;
  border: 0;
  outline: 0;
  font-size: 13px;
  background-image: none;
  text-shadow: none !important;
}
.flow-player-dialog.ui-dialog .ui-widget-content.ui-dialog-buttonpane button:hover {
  color: white;
  background-color: #87969a;
  cursor: pointer;
  background-image: none;
  text-shadow: none !important;
}
.flow-player-dialog.ui-dialog .error,
.flow-player-dialog.ui-dialog .messages--error {
  display: block;
  margin-bottom: 15px;
  color: red;
  min-height: 20px;
}
.fp-container {
  font-family: Work Sans, Avenir, Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: row;
  min-height: 400px;
  width: 720px;
}
.fp-column {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.fp-column.left {
  min-width: 300px;
  margin-right: 5px;
}
.fp-column.right {
  min-width: 400px;
  margin-left: 5px;
  border-left: 1px dashed #ccc;
  padding-left: 10px;
}
.fp-search-results h2 {
  font-size: 16px;
  color: #333;
}
.fp-search-bar {
  display: block;
  width: 100%;
  border-radius: 3px;
  padding: 4px 55px 4px 15px;
  position: relative;
  background: #fff;
  border: 1px solid #ddd;
  box-sizing: border-box;
  align-self: flex-start;
}
.fp-search-bar.hovered,
.fp-search-bar:active,
.fp-search-bar:hover {
  border: 1px solid #aaa;
}
.fp-search-bar input {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  border: none;
  box-shadow: none;
  display: inline-block;
  padding: 0;
  background: transparent;
}
.fp-search-bar input:active,
.fp-search-bar input:focus,
.fp-search-bar input:hover {
  box-shadow: none;
  outline: 0;
}
.fp-search-bar button {
  position: absolute;
  right: 2px;
  top: 2px;
  display: inline-block;
  padding: 5px 10px 1px;
  margin-bottom: 0;
  font-size: 21px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.fp-search-bar button:hover {
  color: #fff;
  background-color: #00abcd;
}
.fp-search-bar button:hover svg {
  fill: white;
}
.fp-search-bar button svg {
  width: 22px;
  height: 22px;
  fill: #aaa;
}
.fp-video-list {
  max-height: 300px;
  overflow-y: auto;
}
.fp-video {
  width: 100%;
  height: auto;
  background: #fefefe;
  display: flex;
  flex-direction: row;
  position: relative;
  margin-bottom: 4px;
  padding: 6px 0;
}
.fp-video:hover {
  background: #ededed;
  cursor: pointer;
}
.fp-video.selected::after {
  content: " ";
  width: 10px;
  height: 10px;
  right: 5px;
  top: 5px;
  position: absolute;
  background: #00abcd;
  display: block;
  border-radius: 50%;
}
.fp-video .fp-img-container {
  width: 150px;
  height: 64px;
  position: relative;
}
.fp-video .fp-img-container img {
  width: 100%;
  margin: auto;
  vertical-align: middle;
}
.fp-video .fp-img-container span {
  bottom: 2px;
  right: 2px;
  position: absolute;
  background: black;
  color: white;
  padding: 2px 4px;
  font-size: 11px;
}
.fp-video .fp-video-info {
  position: relative;
  padding: 0 10px;
}
.fp-video .fp-video-info h1 {
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  color: #00abcd;
}
.fp-video .fp-video-info span.views {
  margin: 0;
  font-size: 12px;
  font-weight: normal;
  color: #999;
}
.fp-video .fp-video-info span.time {
  margin: 0;
  font-size: 10px;
  font-weight: normal;
  color: #bbb;
  display: block;
}
.fp-player-container label {
  font-size: 16px;
  color: #333;
  margin-right: 10px;
  font-weight: bold;
  display: inline-block;
}
.fp-player-container select {
  height: 34px;
  min-height: 30px;
  display: inline-block;
  margin: 0;
  padding: .5em .6rem;
  box-sizing: border-box;
  vertical-align: middle;
  border: 1px solid rgba(51, 51, 51, 0.2);
  border-radius: 0;
  outline: 0;
  background: white;
  font-family: inherit;
  font-size: 13px;
  resize: none;
  box-shadow: none;
  transition: none;
}
.fp-player-container button {
  padding: 0;
  margin: 0 0 0 10px;
  display: inline-block;
  height: 34px;
  width: 100px;
  box-shadow: none;
  background-color: #e4e9ea;
  color: #435d63;
  border-radius: 5px;
  border: 0;
  outline: 0;
  font-size: 13px;
}
.fp-player-container button:hover {
  color: white;
  background-color: #87969a;
  cursor: pointer;
}
.fp-preview h2 {
  font-size: 16px;
  color: #333;
}
.fp-preview .video-preview {
  margin: auto;
  display: block;
  background: black;
  width: 400px;
  height: 225px;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .fp-player-container select {
    -webkit-appearance: menulist;
    height: 34px;
    min-height: 30px;
    min-width: 150px;
    display: inline-block;
    margin: 0;
    padding: .5em .6rem;
    box-sizing: border-box;
    vertical-align: middle;
    border: 1px solid rgba(51, 51, 51, 0.2);
    border-radius: 0;
    outline: 0;
    background: white;
    font-family: inherit;
    font-size: 13px;
    resize: none;
    box-shadow: none;
    transition: none;
  }
  .fp-player-container select:active,
  .fp-player-container select:focus,
  .fp-player-container select:hover {
    background-image: none;
    color: inherit;
  }
}
