{#
/**
 * @file
 * Default theme implementation from webform submission as HTML.
 *
 * Available variables:
 * - data: The webform submission's data.

 * @see template_preprocess_webform_submission_html()
 *
 * @ingroup themeable
 */
#}
<table class="views-table views-view-table cols-2" id="quadstat-submission-table-view">
  <thead>
    <tr><th id="view-title-table-column" class="views-field views-field-title " scope="col">Variable</th><th id="view-operation-value-table-column" class="views-field views-field-value" scope="col">Value</th></tr>
  </thead>
  <tbody>
    {% for key,value in data %}
      <tr><td headers="view-title-table-column" class="views-field views-field-title operation {{ key }}">{{ data[key]['#element']['#title'] }}</td><td headers="view-value-table-column" class="views-field views-field-operation-value {{ key }}">{{ data[key]['#value'] }}</td></tr>
    {% endfor %}
  </tbody>
</table>
