<div class="one-time-password-setup">
  <p><strong>Important:</strong> you will need to follow these setup instructions to enable two factor authentication and to access your account:</p>
  <ul>
    <li>Visit your smart phone app store.</li>
    <li>Search for <em>Google Authenticator</em>.</li>
    <li>Download and install the application.</li>
    <li>Scan the above QR code in the application to access your one-time-passwords.</li>
  </ul>
  <p>You will now be prompted to enter the one-time-passwords provided by Google Authenticator on login.</p>
</div>
