<p>
  Two factor authentication helps to keep your account secure. Once two factor authentication has been setup, you will
  be prompted to enter a 6-digit code during login, which will appear for a limited amount of time on your smart phone.
</p>
