{#
/**
 * @file
 * Google analytics report  template file.
 *
 * Available variables:
 * - $page_views_data: Google analytics report count for User,Seession,
 *   Bounce Rate and Pageviews.
 * - $page_views: theme table of Pageviews List.
 */
#}

<table width="60%">
  <tr>
    {% for key, item in data.page_views_data %}
      <td>
        <div class="total_visit">
          <h1 class="users_total_title">{{key}}</h1>
          <div class="total_count">{{item}}</div>
        </div>
      </td>
    {% endfor %}
  </tr>
<tr>
  <td><input onclick="set_data_set('/analytics-light-report/user-view-week')" type = 'button' id = 'day' value = 'By Week' class="btn-orange form-submit"/></td>
  <td><input onclick="set_data_set('/analytics-light-report/user-view-month')" type = 'button' id = 'week' value = 'By Month' class="btn-orange form-submit"/></td>
  <td><input onclick="set_data_set('/analytics-light-report/user-view-Year')" type = 'button' id = 'month' value = 'By Year' class="btn-orange form-submit"/></td>
</tr>
</table>
<div id="chartdiv3"></div>

<h3>Page Views</h3>
{{data.page_views}}