<div data-user-online-status-uid="{{ uid }}" class="user-online-status">

  {% if label_display %}
    <h4 class="label {{ label_display }}">
      {{- label -}}
    </h4>
  {% endif %}

  {# status class will be added by JS to .status #}
  <span class="status">

    {# status string will be printed into .response #}
    <span class="response"></span>

  </span>
</div>
