.content-header h1.page-title {
  width: 100%;
  text-align: center;
}

#block-seven-breadcrumbs,
main.page-content {
  max-width: 360px;
  margin: 0 auto;
}

form input[type=text],
form input[type=password] {
  width: 100%;
}

form .button,
form .button:first-child {
  margin-right: 10px;
}

form .form-actions {
  text-align: center;
}
