<div id="modal-block" class="modal" >
<div id="modal-block" class="modal-content" style="background: #efefef;">
<span id="modal-block-close" class="modal-block-close">x</span>
<div class="modal-block-content">
{{ block }}
</div>
</div>
</div>