{#
/**
 * @file
 * Default theme implementation to display a Taxonews node list.
 *
 * Variables:
 * - links: a list of node titles
 * - nodes: a list of node objects
 */
#}
<ul>
  {% for link in links %}
  <li>{{ link }}</li>
  {% endfor %}
  </ul>
