{#
/**
 * @file
 * Taxonews-specific "more" link formatting.
 *
 * theme('more-link') is by default rendered as a DIV, which is not suitable for
 * taxonews_block_view().
 *
 * Variables:
 * - link: the prepared link. Should normally be used
 * - title: the link title ("a" text)
 * - url: the link url
 * - options: the l() options
 *
 * @return string
 */
#}
<span class="more-link">{{ link }}</span>
