{#
/**
 * @file user_attendance_status.html.twig
 * Default theme implementation to present User attendance data.
 *
 * This template is used when viewing User attendance pages.
 *
 *
 * Available variables:
 * - status: Markup element containing text about current status
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_user_attendance()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes }}>
    {{ status }}
</div>
