{#
/**
 * @file user_attendance.html.twig
 * Default theme implementation to present User attendance data.
 *
 * This template is used when viewing User attendance pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_user_attendance()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('user_attendance') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
