<div id="{{ id }}-card-element" >
  {# a Stripe Element will be inserted here. #}
</div>

{#  Used to display form errors #}
<div id="{{ id }}-card-errors" class="sripe-card-errors" role="alert"></div>

{#  Render the element itself #}
{{ children }}
