.ofed_social_links a.ofed_social_share_link {
    display: inline-block;
    height: 30px;
    width: 30px;
}
.ofed_social_links a.ofed_social_share_link + a.ofed_social_share_link {
    margin-left: 10px;
}
