{#
 * Template file to show the HTML markup for the transcrpt lines
 #}

<div class="transcript-error">
{% trans %}
The Transcript module not configured properly. Please check the YouTube Video id and language code are correct Or kindly check is cURL enabled on server. If everything is fine, clear cache and try again.
{% endtrans %}
</div>