/* Colors */

$background-color: #ffffff;
$base-color: #B25655;
$light-base-color: lighten($base-color, 50%);

$dark-color: $base-color;

$foreground-color: #000000;

$accent-color: #19a2ff;
$light-accent-color: lighten($accent-color, 25%);
$dark-accent-color: darken($accent-color, 25%);

$link-color: $accent-color;

$facebook-color: #3b5998;
$twitter-color: #55acce;
$linkedin-color: #00a0dc;
$pinterest-color: #cc2127;
$rss-color: #FF6600;
$apple-color: #303030;
$tumblr-color: #35465c;
$reddit-color: #ff4500;
$youtube-color: #c4302b;

$email-color: #333;

$facebook-icon: "\f09a";
$twitter-icon: "\f099";
$linkedin-icon: "\f0e1";
$pinterest-icon: "\f0d2";
$tumblr-icon: "\f173";
$reddit-icon: "\f1a1";

@mixin simplesharer-button($button-background: blue, $button-foreground: white,$corners: 0.4vw, $font-size: 1.2vw) {
  border-radius: $corners;
  font-size: $font-size;
  color: $button-foreground;
  background: $button-background;
  display: block;
  padding: 0;
  text-align: center;
  width: auto;
  height: auto;
  &:hover {
    text-decoration: none;
  }
  i {
    display: block;
    font-size: $font-size * 1.5;l
    &.fa {
      font-size: $font-size * 2;
    }
  }
}

@mixin ideas-button($ideas-button-background: blue, $ideas-button-foreground: white,$ideas-corners: 0.4vw, $ideas-font-size: 1.2vw) {
  @include simplesharer-button($ideas-button-background, $ideas-button-foreground,$ideas-corners,$ideas-font-size);
  padding: 0.5em 0 0 0;
  width: $ideas-font-size * 5;
  height: $ideas-font-size * 4;
}

@mixin workasone-button($workasone-button-background: blue, $workasone-button-foreground: white,$workasone-corners: 0, $workasone-font-size: 1.2vw) {
  @include simplesharer-button( $workasone-button-background, $workasone-button-foreground,$workasone-corners,$workasone-font-size);
  padding: 0.25em;
  i {
    font-size: $workasone-font-size * 1.2;
    display: inline-block;
    &.fa {
      font-size: $workasone-font-size;
    }
  }
}

@mixin social-media-standard-button($social-media-standard-button-background: blue, $social-media-standard-button-foreground: white,$social-media-standard-corners: 0.4ve, $social-media-standard-font-size: 1.2vw) {
  @include simplesharer-button( $social-media-standard-button-background, $social-media-standard-button-foreground,$social-media-standard-corners,$social-media-standard-font-size);
  padding: 0.25em;
  i.fa {
    font-size: $social-media-standard-font-size * 1.2;
    display: inline-block;
  }
  &:hover {
    background-color: lighten( $social-media-standard-button-background, 10%);
  }
}
