/* Ideas By Elliot style */

@import "mixins";

.simplesharer.ideas .simplesharer-buttonlist {
  margin: 1em 0 0 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  li {
    margin: 0;
    padding: 0;
    a {
      @include ideas-button($base-color, $background-color);
    }
    &.simplesharer-facebook-button-item a:hover {
      @include ideas-button($facebook-color, $background-color);
    }
    &.simplesharer-twitter-button-item a:hover {
      @include ideas-button($twitter-color, $background-color);
    }
    &.simplesharer-pinterest-button-item a:hover {
      @include ideas-button($pinterest-color, $background-color);
    }
    &.simplesharer-linkedin-button-item a:hover {
      @include ideas-button($linkedin-color, $background-color);
    }
    &.simplesharer-tumblr-button-item a:hover {
      @include ideas-button($tumblr-color, $background-color);
    }
    &.simplesharer-reddit-button-item a:hover {
      @include ideas-button($reddit-color, $background-color);
    }
    &.simplesharer-email-button-item a:hover {
      @include ideas-button($email-color, $background-color);
    }
  }
}
