/* Social Media Standard style */

@import "mixins";

.simplesharer.social-media-standard .simplesharer-buttonlist {
  margin: 1em 0 0 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  li {
    margin: 0;
    padding: 0;
    &.simplesharer-facebook-button-item a {
      @include social-media-standard-button($facebook-color, $background-color);
    }
    &.simplesharer-twitter-button-item a {
      @include social-media-standard-button($twitter-color, $background-color);
    }
    &.simplesharer-pinterest-button-item a {
      @include social-media-standard-button($pinterest-color, $background-color);
    }
    &.simplesharer-linkedin-button-item a {
      @include social-media-standard-button($linkedin-color, $background-color);
    }
    &.simplesharer-tumblr-button-item a {
      @include social-media-standard-button($tumblr-color, $background-color);
    }
    &.simplesharer-reddit-button-item a {
      @include social-media-standard-button($reddit-color, $background-color);
    }
    &.simplesharer-email-button-item a {
      @include social-media-standard-button($email-color, $background-color);
    }
  }
}
