{#
/**
 * @file
 * Template for a contact scheduler message.

 * Available variables:
 *   - messsage: The message to display.
 *
 * @ingroup themeable.
 */
#}
{%
set classes = [
  'contact-scheduler-message',
  'messages',
  'messages--warning',
]
%}
<div{{ attributes.addClass(classes) }}>
  {{ message }}
</div>
