.fortytwo-admin-toolbar.fortytwo-admin-toolbar-beeblebrox {
  #toolbar-administration {
    #toolbar-bar {
      border-color: $beeblebrox1;
    }

    .toolbar-bar {
      .contextual-toolbar-tab {
        button {
          background-color: $beeblebrox4;
        }

        &:hover {
          background-color: $white;
          color: $beeblebrox4;
        }
      }

      .toolbar-tab.home-toolbar-tab {
        background-color: $beeblebrox4;

        a:hover {
          background-color: $white;
          color: $beeblebrox4;
        }
      }

      .toolbar-tray {
        background-color: $beeblebrox1;

        a:hover,
        a:focus,
        a.is-active {
          background-color: $beeblebrox3;
        }

        ul {
          background-color: $beeblebrox1;

          li ul li.menu-item--expanded:after {
            color: $beeblebrox4;
          }
        }

        .toolbar-toggle-orientation {
          background-color: $beeblebrox1;

          button:hover {
            background-color: $beeblebrox3;
          }
        }

        button.toolbar-icon {
          &:hover {
            background-color: transparent;
          }

          &:before {
            color: $beeblebrox4;
          }
        }
      }
    }
  }

  &.toolbar-vertical.toolbar-tray-open {
    #toolbar-administration {
      .toolbar-menu li.level-1.menu-item--active-trail {
        > .toolbar-box a {
          background-color: $beeblebrox3;
        }
      }
    }
  }
}
