@import '../../../../themes/contrib/bootbase/bootstrap4/scss/functions',
        '../../../../themes/contrib/bootbase/bootstrap4/scss/variables',
        '../../../../themes/contrib/bootbase/bootstrap4/scss/mixins',
        '../../../../themes/adaptive/scss/mixins/breakpoints',
        '../../../../themes/adaptive/scss/colors';
$duration: 0.4s;
@import 'favorite';

.cart {
  display: flex;
  align-items: flex-start;
  min-height: 150px;
  @include m-down(lg) {
    display: block;
  }
  &-content {
    padding: 0 25px;
    border: solid 1px $color-border;
    &--checkout {
      margin-bottom: 50px;
    }
    @include m-down(md) {
      padding: 0 15px;
    }
  }
  &-left {
    flex-grow: 1;
    margin-right: 20px;
    @include m-down(lg) {
      margin: 0 0 30px;
    }
  }
  &-sidebar {
    width: 291px;
    flex-shrink: 0;
    position: sticky;
    position: -webkit-sticky;
    top: 90px;
    padding: 34px 24px;
    background-color: $color-light;
    @include m-down(lg) {
      top: 0;
      position: relative;
      width: 100%;
      .checkout & {
        margin-bottom: 40px;
      }
    }
  }
  &-small {
    display: flex;
    margin-left: 45px;
    .col-auto & {
      margin: 0;
    }
    @include m-down(md) {
      margin-left: 0;
    }
    &-item {
      flex-shrink: 0;
      position: relative;
      margin-right: 20px;
      @include m-down(md) {
        margin-right: 17px;
      }
      @include m-down(sm) {
        &--favorites {
          display: none;
        }
      }
      &:last-child {
        margin-right: 0;
      }
    }
    &-icon {
      width: 38px;
      height: 38px;
      display: block;
      position: relative;
      border-radius: 19px;
      background-color: #fff;
      background-position: center;
      background-repeat: no-repeat;
      box-shadow: 0 1px 4px rgba(#000, 0.25);
      &--cart {
        background-image: url("../images/cart-small.svg");
      }
      &--favorites {
        background-image: url("../images/favorites-small.svg");
      }
      @include m-down(md) {
        width: 48px;
        height: 48px;
        border-radius: 24px;
        background-size: 23px;
      }
    }
    &-content {
      position: absolute;
      top: 100%;
      right: 0;
      z-index: 10;
      pointer-events: none;
      opacity: 0;
      transform-origin: right top;
      transform: scale(0.8, 0.7);
      transition: opacity 0.4s, transform 0.4s;
      .list {
        margin: 6px 0 0;
        padding: 15px 25px;
        display: flex;
        color: #131313;
        white-space: nowrap;
        text-transform: none;
        list-style-type: none;
        flex-direction: column;
        background-color: #fff;
        box-shadow: 0 0 3px 3px rgba(#000, 0.1);
        &-item {
          margin: 0 0 10px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
    &-count {
      position: absolute;
      top: 50%;
      left: -11px;
      width: 18px;
      height: 18px;
      margin-top: -8px;
      border-radius: 9px;
      color: #fff;
      font-size: 12px;
      line-height: 18px;
      font-weight: bold;
      text-align: center;
      background-color: #EC3E26;
    }
    &-item:hover &-content {
      opacity: 1;
      pointer-events: auto;
      transform: none;
    }
  }
  &-items {
    .cart-content--checkout & {
      padding: 10px 0 20px;
    }
    @include m-down(md) {
      padding: 10px 0;
      .cart-content--checkout & {
        padding: 5px 0;
      }
    }
  }
  &-row {
    display: flex;
    &--header {
      top: 74px;
      font-size: 18px;
      line-height: 1.1;
      font-weight: 300;
      position: sticky;
      position: -webkit-sticky;
      background-color: $color-main;
      border-bottom: solid 1px rgba($color-border, .6);
      @include m-down(md) {
        display: none;
      }
    }
    &--body {
      padding: 20px 0;
      align-items: flex-start;
      border-bottom: solid 1px rgba($color-border, .6);
      &:last-child {
        border-bottom: 0;
      }
      .cart-content--checkout & {
        border: 0;
        padding: 15px 0;
        font-size: 18px;
        line-height: 1.3;
        font-weight: 300;
      }
      @include m-down(md) {
        flex-wrap: wrap;
        min-height: 150px;
        position: relative;
        padding-left: 130px;
        .cart-content--checkout & {
          min-height: 0;
          padding-left: 0;
          flex-wrap: nowrap;
        }
      }
    }
  }
  &-col {
    flex-shrink: 0;
    &--image {
      width: 107px;
      text-align: center;
      margin-right: 25px;
      @include m-down(md) {
        position: absolute;
        top: 20px;
        left: 0;
        margin: 0;
      }
    }
    &--product {
      flex-grow: 1;
      flex-shrink: 1;
      margin-right: 30px;
      .cart-content--checkout & {
        @include m-down(xs) {
          margin-right: 20px;
        }
      }
    }
    &--price {
      width: 95px;
      margin-right: 25px;
      @include m-down(md) {
        display: none!important;
      }
    }
    &--quantity {
      width: 105px;
      margin-right: 33px;
      .cart-content--checkout & {
        @include m-down(xs) {
          width: auto;
        }
      }
    }
    &--total {
      width: 95px;
      margin-right: 20px;
      .cart-content--checkout & {
        @include m-down(xs) {
          width: auto;
          margin-right: 0;
        }
      }
    }
    &--buttons {
      width: 38px;
      @include m-down(md) {
        width: auto;
        flex-direction: row!important;
      }
    }
  }
  &-row--header &-col {
    opacity: .9;
    padding: 11px 0;
  }
  &-row--body &-col {
    padding-top: 17px;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &--image {
      padding-top: 0;
    }
    .cart-content--checkout & {
      min-height: 0;
      padding-top: 0;
    }
  }
  &-picture {
    display: block;
    img {
      transition: opacity $duration;
    }
    &:hover img {
      opacity: 0.75;
    }
    &:active img {
      opacity: 0.6;
    }
  }
  &-name {
    display: block;
    color: inherit;
    font-size: 18px;
    line-height: 1.3;
    font-weight: 300;
    max-width: 260px;
    .cart-content--checkout & {
      max-width: 100%;
    }
    .cart-content--checkout & {
      @include m-down(xs) {
        font-size: 16px;
      }
    }
  }
  &-price {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 300;
    &--bold {
      font-weight: bold;
    }
  }
  &-quantity {
    display: flex;
    align-items: center;
    border-radius: 6px;
    background-color: $color-light;
    border: solid 1px $color-border;
    &-button {
      width: 32px;
      height: 33px;
      margin: -1px;
      background: none;
      box-shadow: none;
      border: solid transparent;
      background-position: center;
      background-repeat: no-repeat;
      transition: background-color $duration, border-color $duration;
      &--minus {
        border-radius: 6px 0 0 6px;
        border-width: 1px 0 1px 1px;
        background-image: url('../images/cart-minus.svg');
      }
      &--plus {
        border-radius: 0 6px 6px 0;
        border-width: 1px 1px 1px 0;
        background-image: url('../images/cart-plus.svg');
      }
      &:hover {
        border-color: darken($color-border, 27%);
      }
      &:active {
        background-color: $color-border;
      }
    }
    &-value {
      flex-grow: 1;
      text-align: center;
      overflow: hidden;
      font-size: 15px;
      line-height: 1.1;
      font-weight: 300;
      text-overflow: ellipsis;
    }
  }
  &-button {
    width: 38px;
    height: 38px;
    border-radius: 19px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    cursor: pointer;
    color: darken($color-border, 27%);
    border: solid 1px $color-border;
    background-color: #fff;
    transition: background-color $duration, box-shadow $duration;
    &:hover {
      background-color: darken($color-main, 12%);
      box-shadow: 0 0 10px rgba($black, 0.35);
    }
    &:active, &:focus {
      background-color: rgba($color-light, .09);
    }
    &--fav-in {
      color: $red;
    }
    @include m-down(md) {
      margin: 0 15px 0 0;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &-total {
    font-size: 18px;
    line-height: 1.25;
    &-count {
      font-weight: 300;
      margin-bottom: 9px;
    }
    &-price {
      font-weight: bold;
    }
  }
  &-actions {
    padding-top: 25px;
    @include m-up(xl) {
      .btn {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
  &-back {
    right: 0;
    top: -50px;
    opacity: .8;
    font-size: 16px;
    line-height: 1.2;
    position: absolute;
    transition: opacity $duration;
    @include m-down(lg) {
      position: static;
      margin: 0 0 20px;
    }
    a {
      color: inherit;
      border-bottom: solid 1px rgba($color-text-main, .32);
      transition: border-color $duration;
    }
    &:hover {
      opacity: 1;
      a {
        color: inherit;
        border-color: $color-text-main;
      }
    }
    a:active {
      border-color: transparent;
    }
  }
  &-empty {
    padding: 20px;
  }
}
.checkout {
  &-form {
    .form {
      &-item {
        text-align: left;
      }
    }
    legend {
      font-size: 26px;
      line-height: 1.3;
      font-weight: 300;
      margin: 0 0 30px;
      text-align: left;
    }
  }
  &-complete {
    font-size: 18px;
    line-height: 1.35;
    padding: 30px 25px;
    background-color: $color-light;
    &-title {
      font-weight: bold;
      margin-bottom: 25px;
    }
    &-text {
      font-weight: 300;
    }
  }
}
