.error-page {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
    height: 100%; // fallback
    height: 100vh;
    padding: 0 2em;
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 0 0 10px rgba(0, 0, 0, .6);

    h1 {
      line-height: 1.1;
    }
  }

  .campaign-footer {
    background-color: #fff;

    .tieto-logo {
      display: block;
      margin: 1em auto 0;
      @include md {
        margin: 0;
        display: inline-block;
      }
    }

    .container {
      border: 0;
    }
  }

  &--404 {
    background-image: url(../images/404.jpg);
  }

  &--403 {
    background-image: url(../images/403.jpg);
  }
}
