@font-face {
    font-family: 'Pulp';
    src: url('../../fonts/pulp_fiction_m54-webfont.eot');
    src: url('../../fonts/pulp_fiction_m54-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/pulp_fiction_m54-webfont.woff2') format('woff2'),
         url('../../fonts/pulp_fiction_m54-webfont.woff') format('woff'),
         url('../../fonts/pulp_fiction_m54-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#page-pulp-fiction {
	font-size: 14px;

	.paragraph--type--campaign-header-video {

		.field--name-parade-title,
		.field--name-parade-secondary-title,
		.field--name-parade-lead-text {
			width: 100%;
			float: none;
			text-align: center;
		}

		.field--name-parade-title,
		.field--name-parade-secondary-title {
			font-family: 'Pulp';
			font-weight: normal;
			line-height: 1.2em;
			color: $pulp-yellow;
			text-shadow: 0 7px $pulp-red;
		}

		.field--name-parade-title {
		    font-size: 3em;
		}

		.field--name-parade-secondary-title {
			font-size: 2em;
			font-style: italic;
		}

		.field--name-parade-lead-text {
			font-size: 1.3em;
		}

		#video-outer {
		    min-height: 620px;
		}
		#video-wrap::before {
		    box-shadow: inset 0 0 10em black;
		    background-color: rgba(241, 196, 15, .2);
		}
	}

	.paragraph--type--parallax {
	    background: transparent;
	    text-align: center;
	    font-size: 2em;
	    color: white;
	    line-height: 1.6;
	    display: table;
		width: 100%;

	    .paragraph-inner {
	    	width: 100%;
	    	text-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
	    	display: table-cell;
	    	vertical-align: middle;
	    	padding: 2em;
	    	@include breakpoint(md) {
	    		padding: 0 5em;
	    	}
	    }
	}

	.page-content {
		margin-bottom: 0;
	}

	.node {
		font-size: 1.6em;
		font-family: 'Crimson Text', serif;
		line-height: 1.6;
	}

	img {
		max-width: 100%;
		height: auto;
		box-sizing: border-box;
	}

	.paragraph--type--images, .paragraph--type--image-text, .paragraph--type--text-image {
		img {
			border: 5px solid white;
		}
	}

	.node__submitted, .node__meta {
		display: none;
	}

	.paragraph:not(.paragraph--type--campaign-header-video) {
		padding: 50px 0;
	}

	// Paragraph inner wrapper
	.paragraph-inner {
		max-width: 1020px;
	    margin: 0 auto;
	    padding: 0 1em;
	}

	// Image + Text
	.paragraph--type--image-text {
		background: $pulp-red;
		color: $pulp-yellow;
		text-shadow: 0 1px 0 black;
		font-size: 1.2em;

		blockquote {
			margin: 0;
		}

		img {
			border-color: $pulp-yellow;
		}

		@include breakpoint(md) {
			.field--type-image {
				float: left;
				text-align: left;
				width: 40%;
				padding-right: 2em;
				box-sizing: border-box;
			}
			.field--type-text-long {
				width: 60%;
				display: inline-block;
			}
		}

		.field--type-image {
			text-align: center;
		}
	}

	.paragraph--type--images {
		background:#f1c40f;
		color: white;

		img {
			transition: all .2s;
			&:hover {
				transform: scale(1.1);
				box-shadow: 0 0 20px rgba(0, 0, 0, .2);
			}
		}

		.field--type-image {
			.field__item {
				margin: 2em 0;
				text-align: center;
			}
		}

		@include breakpoint(md) {
			.field--type-image {
				display: flex;
				.field__item {
					margin: 1em;
					text-align: left;
				}
			}
		}
	}

	.paragraph--type--text {
		background: #2ecc71;
		color: white;
	}

	.paragraph--type--text-image {
		background: #9b59b6;
		color: white;

		@include breakpoint(md) {
			.field--type-image {
				float: right;
				text-align: right;
				width: 30%;
				padding-left: 2em;
				box-sizing: border-box;
			}
			.field--type-text-long {
				width: 70%;
				display: inline-block;
				p:first-child {
					margin-top: 0;
				}
			}
		}

		.field--type-image {
			text-align: center;
		}
	}

	.paragraph--type--user {
		background: #ecf0f1;
		color: #7f8c8d;

		.field--name-user-picture {
			float: left;
			margin-right: 2em;
			img {
				border-color: #7f8c8d;
				width: 128px;
				height: 128px;
				border-radius: 50%;
			}
		}
	}
}