{#
/**
 * @file
 * Template file for headbar block.
 *
 * Available variables:
 * - headbar_text: Display text for headbar.
 * - headbar_module_path: Full path to headbar module.
 *
 * @ingroup themeable
 */
#}
<div class = 'headbar' style = 'display:none'>
  <span>{{ headbar_text }}</span>
    <a class = 'close-notify'>
      <img class = 'headbar-up-arrow' src = {{ headbar_module_path ~ '/images/headbar-up-arrow.png' }}>
    </a>
</div>
<div class = 'headbar-stub' style = 'display:none'>
  <a class = 'show-notify'>
    <img class = 'headbar-down-arrow' src = {{ headbar_module_path ~ '/images/headbar-down-arrow.png' }}>
  </a>
</div>
