.swiper-slide {
    background-repeat: no-repeat;
    background-position: center top !important;
    background-size: cover !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}