{{ attach_library('backstop_generator/prettyprint') }}

<h2>Your backstop.json configuration file:</h2>
<div class="instructions">
  <p>Need to know how to use this file?</p>
  <ol>
    <li><a href="https://github.com/garris/BackstopJS">Install backstop.js</a></li>
    <li>backstop init</li>
    <li>Replace backstop.json with the configuration copied from below</li>
  </ol>
</div>
<br />
<button class="btn copy" data-clipboard-target="#configuration-preview">Copy to clipboard</button>
<pre id="configuration-preview">
  <div id="loader-container">
    <div class='loading'></div>
    <p>loading</p>
  </div>
</pre>
