{{ attach_library('simpleplayer/simpleplayer') }}
<div class="simpleplayer">
  {{ simpleplayer_mediatype }}
{% if simpleplayer_mediatype == '.mp4' %}
  <video class="simpleplayer-video simpleplayer-media">
    <source class="simpleplayer-source"
     type="video/mp4"
     src="{{ simpleplayer_mediapath }}"></source>
       Your Browser Does Not Support the VIDEO tag.<br/>
       <a href="http://caniuse.com/#search=video" target="_blank">Click here to find one that does.</a><br/>
       Then <a href="http://browsehappy.com" target="_blank">Click here to download a new one FREE!</a>
  </video>
{% else %}
  <audio class="simpleplayer-audio simpleplayer-media" preload="none">
    <source class="simpleplayer-source"
    type="audio/mpeg"
    src="{{ simpleplayer_mediapath }}"></source>
      Your Browser Does Not Support the AUDIO tag.<br/>
      <a href="http://caniuse.com/#search=audio" target="_blank">Click here to find one that does.</a><br/>
      Then <a href="http://browsehappy.com" target="_blank">Click here to download a new one FREE!</a>
  </audio>
{% endif %}

  {% if simpleplayer_counter %}
    <div class="simpleplayer-timer">00:00:00:00</div>
  {% endif %}
  {% if simpleplayer_progressbar %}
    <div class="simpleplayer-progressbar"><span></span></div>
  {% endif %}

  <div class="simpleplayer-controls">
  {% if simpleplayer_back30_button %}
      {% if simpleplayer_fa %}
        <span class="simpleplayer-back30-button" title="rewind track by 30 seconds"><i class="fa fa-arrow-circle-o-left" title="rewind track by 30 seconds">&nbsp;</i></span>
      {% else %}
        <span class="simpleplayer-back30-button" title="rewind track by 30 seconds"><i title="rewind track by 30 seconds">&#171;</i></span>
      {% endif %}
  {% endif %}
  {% if simpleplayer_fa %}
    <span class="simpleplayer-play-button" title="play/pause track"><i class="fa fa-play" title="play/pause track">&nbsp;</i></span>
  {% else %}
    <span class="simpleplayer-play-button" title="play/pause track"><i title="play/pause track">&#062; &#124;&#124;</i></span>
  {% endif %}
  {% if simpleplayer_download_button %}
    {% if simpleplayer_fa %}
      <span class="simpleplayer-download-button" title="download MP3"><i class="fa fa-arrow-circle-o-down" title="download MP3">&nbsp;</i></span>
    {% else %}
      <span class="simpleplayer-download-button" title="download MP3"><i title="download MP3">V</i></span>
    {% endif %}
  {% endif %}
  {% if simpleplayer_combospeed_button %}
    <span class="simpleplayer-combospeed-button" title="adjust speed control"><i title="download MP3">1x</i></span>
  {% endif %}
  </div>
</div>
