<?php

/**
 * @file
 * Custom theme for Ensemble Video Chooser launch.
 */
?>
{{ attach_library('ensemble_video_chooser/evchooser_launch') }}
<div class="evChooserWrap">
  <p>Launching...</p>
  <form id="launchForm" action="{{ launch_url }}" method="POST">
    {% for key, value in launch_data %}
      <input type="hidden" name="{{ key }}" value="{{ value }}" />
    {% endfor %}
  </form>
</div>
