<?php

/**
 * @file
 * Custom theme for Ensemble Video Chooser launch.
 */
?>
{{ attach_library('ensemble_video_chooser/evchooser_return') }}
<div class="evChooserWrap">
  <p>Embedding media...</p>
</div>
