{#
/**
 * @file
 *
 * Default theme implementation for a text limit.
 *
 * Available variables:
 * - limit
 * - id
 */
#}
<div class="limit-text">
  <div class="limit-count">You have <span class="limit-count-number" id="{{ id }}" data-limit="{{ limit }}"></span> of {{ limit }} characters remaining.</div>
</div>
