/**
 * @file
 * CSS definitions for the Cleaner admin page.
 */
#cleaner-settings-form .form-item {
  clear: left;
  margin: 0.5em 0 0.5em 0;
  padding: 6px 0;
}
#cleaner-settings-form label {
  clear: both;
  padding: 0;
}
#cleaner-settings-form div.form-item.form-type-radio:first-child > label,
#cleaner-settings-form div.form-item-cleaner-additional-tables > label {
  margin-left: 0;
}
#cleaner-settings-form input.form-radio {
  margin: 4px 0 0 5px;
  padding: 0;
  float: right;
}
#cleaner-settings-form .form-item.form-type-radio {
  display: inline-block;
}
#cleaner-settings-form table.cleaner-cache-tables {
  width: auto;
  margin-left: 1em;
}
