{#
/**
 * @file
 * Default theme implementation to list entity types available for adding content.
 *
 * This list is displayed on the "Add page".
 *
 * Available variables:
 * - types: A list of entity types, each with the following properties:
 *   - add_link: Link to create a piece of content of this type.
 *   - description: Description of this type of content.
 *
 * @see template_preprocess_entity_base_add_list()
 *
 * @ingroup themeable
 */
#}

{% if types is not empty %}
  <ul class="admin-list">
    {% for type in types %}
      <li class="clearfix">{{ type.add_link }}<div class="description">{{ type.description }}</div></li>
    {% endfor %}
  </ul>
{% else %}
  <p>
    {% trans %}
      You have not created any entity types yet. Go to the entity type creation page to add a new entity type.
    {% endtrans %}
  </p>
{% endif %}
