<div class="ht-preview-container">
    {% for label, preview in previews %}
    <div>
        <div class="ht-preview-label">
            {{ label }}
        </div>
        <div class="ht-preview-img">
            {{ preview }}
        </div>
    </div>
    {% endfor %}
</div>
