<div class="ht-admin-container">
    <div class="ht-admin-links-container">
        {% for reg, content in regions %}
            <div class="{{ reg }}">
                {{ content }}
            </div>
        {% endfor %}
    </div>
</div>
