<div id="ht-tabs">
  <ul>
    <li><a href="#ht-tabs-0">Tab 0</a></li>
    <li><a href="#ht-tabs-1">Tab 1</a></li>
    <li><a href="#ht-tabs-2">Tab 2</a></li>
    <li><a href="#ht-tabs-3">Tab 3</a></li>
    <li><a href="#ht-tabs-4">Tab 4</a></li>
    <li><a href="#ht-tabs-5">Tab 5</a></li>
    <li><a href="#ht-tabs-6">Tab 6</a></li>
    <li><a href="#ht-tabs-7">Tab 7</a></li>
  </ul>
  <div id="ht-tabs-0">
    {% for r in regions.reg_0 %}
        {{ r }}
    {% endfor %}
  </div>
  <div id="ht-tabs-1">
    {% for r in regions.reg_1 %}
        {{ r }}
    {% endfor %}
  </div>
  <div id="ht-tabs-2">
    {% for r in regions.reg_2 %}
        {{ r }}
    {% endfor %}
  </div>
</div>
