<div class="ht-container">
    <div class="ht-left">
        {% for r in regions.reg_0 %}
            {{ r }}
        {% endfor %}
    </div>
    <div class="ht-right">
        {% for r in regions.reg_1 %}
            {{ r }}
        {% endfor %}
    </div>
</div>
