{#
/**
 * @file
 * Template for the jQuery View Tricker.
 *
 * - $items contains an array of title to display.
 *
 */
#}
<div class="jquery-view-ticker">
 {% if title %}
  <strong>{{ title }}</strong>
{% endif %}
  <ul>
    {% for item in items %}
        <li>{{  item }}</li>
    {% endfor %}
  </ul>
</div>
