{#
/**
 * @file dcat_vcard.html.twig
 * Default theme implementation to present vCard data.
 *
 * This template is used when viewing vCard pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_dcat_vcard()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('dcat_vcard') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
