{#
/**
 * @file dcat_agent.html.twig
 * Default theme implementation to present Agent data.
 *
 * This template is used when viewing Agent pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_dcat_agent()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('dcat_agent') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
