{#
/**
 * @file dcat_distribution.html.twig
 * Default theme implementation to present Distribution data.
 *
 * This template is used when viewing Distribution pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_dcat_distribution()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('dcat_distribution') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
