api = 2
core = 8.x

libraries[rrssb][download][type] = "get"
libraries[rrssb][download][url] = "https://github.com/kni-labs/rrssb/zipball/master"
libraries[rrssb][directory_name] = "rrssb"
libraries[rrssb][type] = "library"
