{#
/**
 * @file
 * Default theme implementation for a UIkit Badge.
 *
 * Available variables:
 * - value: The value of the badge.
 * - attributes: HTML attributes to be applied to the badge.
 *
 * @see \Drupal\uikit_components\Element\UIkitBadge
 * @see template_preprocess_uikit_badge()
 * @see https://getuikit.com/docs/badge
 *
 * @ingroup uikit_components_theme_render
 */
#}
{% if value %}
  <span{{ attributes }}>{{ value }}</span>
{% endif %}
