i.better_search {
  background: url("images/search-icon.svg") center center no-repeat;
  height: 30px;
  width: 30px;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
}

#search-block-form,
#search-form {
  overflow: hidden;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.js-form-type-search input.form-search {
  height: 30px;
  background: #2b303b;  /* Search field BG */
  border: none;
  font-size: 1em;
  float: left;
  color: #fff;
  padding-left: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  z-index: 100;
  margin: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

#search-form .icon {
  position: absolute;
  border: none;
  top: 20px;
  right: 0;
  height: 30px;
  width: 30px;
  color: #4f5b66;
  opacity: 0;
  /*Using flexbox to align icon to center*/
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}

#search-block-form .icon {
  position: absolute;
  border: none;
  top: 0;
  right: 0;
  height: 30px;
  width: 30px;
  color: #4f5b66;
  opacity: 0;
  /*Using flexbox to align icon to center*/
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}

.js-form-type-search input:-webkit-input-placeholder {
  color: #65737e;
}

.js-form-type-search input:-moz-placeholder {
  color: #65737e;
}

.js-form-type-search input:-ms-input-placeholder {
  color: #65737e;
}

#search-block-form:hover .icon,
#search-block-form:focus .icon,
#search-block-form:active .icon {
  outline: none;
  opacity: 1;
  margin-left: -50px;
}

#search-form:hover .icon,
#search-form:focus .icon,
#search-form:active .icon {
  outline: none;
  opacity: 1;
  margin-left: -50px;
  top: 19px;
}

#search-block-form:hover,
#search-form:hover {
  cursor: pointer;
  cursor: hand;
}

#search-block-form:hover .icon,
#search-form:hover .icon {
  background: white;
}
