{#
/**
 * @file entity_log.html.twig
 * Default theme implementation to present Entity log data.
 *
 * This template is used when viewing Entity log pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_entity_log()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('entity_log') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
