.block-search .expanded_search {
    position: relative;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
}
.block-search .expanded_search .form-item{
	margin-bottom:0px;
}
.block-search .expanded_search button[type="submit"]{
	display:none;
}
.block-search .expanded_search button[type="submit"].expanded_search--label{
	display:block;
}
.block-search .expanded_search--label {
    width: 60px;
    height: 60px;
    position: relative;
    z-index: 20;
}
.block-search .expanded_search--label {
    display: block;
    width: 60px;
    height: 60px;
    background: url("../../img/search.png") 0 0;
    font-size: 0;
    color: rgba(0, 0, 0, 0);
    text-indent: -9999px;
    cursor: pointer;
}
.block-search .expanded_search--label:hover {
    background: url("../../img/search.png") -60px 0;
}
.block-search .expanded_search--label.active {
    background: url("../../img/search.png") -60px 0;
}
.block-search .expanded_search--input {
    position: absolute;
    top: 0;
    left: 60px;
    width: 450px;
    height: 60px;
    z-index: 5;
    overflow: hidden;
}
.block-search .expanded_search--input {
    display: block;
    position: absolute;
    top: 0;
    width: 0px;
    height: 60px;
    left: 60px;
    margin: 0;
    padding: 0;
    border: none;
    background-color: #23688b;
    color: #fff;
    font-size: 18px;
    backface-visibility: none;
    border-radius: 0;
    transition: width 0.3s;
    box-sizing: border-box;
}
.block-search .expanded_search--input:focus {
    outline: none;
}
.block-search .expanded_search--input.focus {
    z-index: 20;
    padding: 0 5px;
}
.block-search .expanded_search--input.focus {
    width: 450px;
    transition: width 0.3s;
}