.ht-preview-container {
  display: flex;
}

.ht-preview-container > div {
  margin: 1em;
  border: 1px solid #bfbfbf;
  padding: 20px;
}

.ht-preview-container .ht-preview-img,
.ht-preview-container .ht-preview-label 
.ht-preview-container .ht-preview-img img {
  max-width: 100px;
  height: 70px;
}
