.ht-admin-links-container {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.ht-admin-links-container a h2 {
  font-size: 16px;
}

.ht-admin-links-container > div {
  display: inline-block;
  margin: 0 10px;
}
