{% if pdfchoice == '1' %}  
    <div class="modal fade" id="flip-book-window" tabindex="-1" role="dialog" aria-labelledby="headerLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <div class="modal-body">
                    <div class="mount-node">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="books">
        <div class="thumb">
            <img id="investindiaflipbook" src="{{ bannercover }}" class="btn" alt=" {{ title }}" data="{{ url }}" />
            <div class="caption">
                {{ title }}
            </div>
        </div>
    </div>
{% else  %}
    <div class="pdfcontainer" id="container1">
    </div>
{% endif %}

