{#
/**
* @file
* Default theme implementation to display the file entity as a amp-video tag.
*
* @ingroup themeable
*/
#}
<amp-video {{ attributes }}>
  <div fallback>
    <p>Your browser doesn’t support HTML5 video</p>
  </div>
</amp-video>
