{#
/**
 * @file
 * Default theme implementation of an amp-sidebar toggle button.
 *
 * Available variables:
 * - sidebarid: The id of the sidebar.
 * - tabindex: The tabindex number.
 * - title: The title on the toggle link.
 * - attributes: Attributes for the containing element.
 *
 * @see template_preprocess_amp_sidebar_toggle()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes }} on="tap:{{ sidebarid }}.toggle" role="button" tabindex="{{ tabindex }}"><span class="visually-hidden">{{ title }}</span></div>
