.container-inline {
  padding-bottom: .5em;
}

.container-inline .slider,
.container-inline .slider-small {
  display: inline-block;
  width: 12em;
  height: .6em;
  margin: 0 1em 0 .6em;
}
.container-inline .slider-small {
  width: 8em;
}

.ui-slider .ui-slider-handle {
  border-radius: 10px;
}

.ui-slider-horizontal .ui-slider-handle {
  top: -0.4em;
}
