<div class="compete__wrapper surveygizmo-wrapper">
<ul class="game-wall-list">
  {% if data.question_listing|length > 0 %}
    {% for key, value in data.question_listing %}
      
      <li class="wall-item">
                  <div class="item__wrapper">
                    <div class="overlay">
                      <div class="right-top">
                        <!-- <a href="javascript:void(0)" class="link"> # Questions - 5 </a>
                        <a href="javascript:void(0)" class="link"> # Players - 155 </a> -->
                      </div>
                      <h2 class="title">{{value.title}}</h2>
                      <div class="text-center btm-pad">
                        <button class="btn btn-sushi">{{value.url}}<span class="glyphicon glyphicon-play-circle"></span></button>
                      </div>
                    </div>
                  </div>
                </li>
      {{ value }}
    {% endfor %}
  {% else %}
    <h3>No Survery Found</h3>
  {% endif %}
</ul>
{# Print pager if available #}
{% if data.pager %}
  {{ data.pager }}
{% endif %}
</div>