{#
/**
 * @file
 * Theme override for a paragraph row field.
 */
 
 To DO:
 Would like to get the background image into this template,
 and not the one above it (paragraph.html.twig)
 
#}
{%
  set classes = [
    'oomph-paragraph__row'
  ]
%}
<div {{ attributes.addClass(classes) }}>
  {% for item in items %}
    {{ item.content }}
  {% endfor %}
</div>
