{#
/**
 * @file
 * Theme override for paragraph image component.
 *
 */
#}
{{ attach_library('oomph_paragraphs/image') }}

{% set class_image_border = '' %}
{% set animated_class_string = '' %}
{% if paragraph.field_image_border.value == 1 %}
  {% set class_image_border = 'oomph-image--border' %}
{% endif %}
{% if paragraph.field_animation.value is not empty %}
  {% set animated_class_string = 'oomph-animated oomph-animated__initial ' ~ paragraph.field_animation.value|clean_class %}
{% endif %}
{%
  set classes = [
    'oomph-paragraph__component',
    'oomph-paragraph__component--image',
    'oomph-image',
    class_image_border,
    animated_class_string,
    paragraph.field_custom_css_class.value ? paragraph.field_custom_css_class.value
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    <div class="oomph-image__content">
      {{ content|without('field_image_border','field_custom_css_class') }}
    </div>
  </div>
{% endblock paragraph %}
