{#
/**
 * @file
 * Theme override for a paragraph column group.
 * We need this to be blank, and content will use the
 * field--paragraph--column-group.html.twig template
 */
#}
{{ attach_library('oomph_paragraphs/columngroup') }}

{%
  set classes = [
    'oomph-paragraph__component',
    'oomph-paragraph__component--column-group',
    'oomph-paragraph__column-group',
    paragraph.field_background_color.value ? paragraph.field_background_color.value|clean_class,
    paragraph.field_custom_css_class.value ? paragraph.field_custom_css_class.value
  ]
%}
{% block paragraph %}
  <div {{ attributes.addClass(classes) }}>
    {{ content|without('field_background_color', 'field_custom_css_class') }}
  </div>
{% endblock paragraph %}
