{#
/**
 * @file
 * Theme override for paragraph testimonial component.
 *
 */
#}
{{ attach_library('oomph_paragraphs/video') }}

{% set animated_class_string = '' %}
{% if paragraph.field_animation.value is not empty %}
  {% set animated_class_string = 'oomph-animated oomph-animated__initial ' ~ paragraph.field_animation.value|clean_class %}
{% endif %}
{%
  set classes = [
    'oomph-paragraph__component',
    'oomph-paragraph__component--video',
    'oomph-video',
    animated_class_string,
    paragraph.field_custom_css_class.value ? paragraph.field_custom_css_class.value
  ]
%}
{% block paragraph %}
<div{{ attributes.addClass(classes) }}>
  <div class="oomph-video__content">
    {{ content|without('field_custom_css_class') }}
  </div>
</div>
{% endblock paragraph %}
