.mirador {
  background: #333 url(mirador/images/debut_dark.png) left top repeat;
  width: 931px;
  height: 500px;
  position: initial !important;
}
.mirador-viewer #workspace .layout-slot,
.mirador-viewer, #workspace {
  height: 480px !important;
}
/* Disabling the edit and delete buttons of annotation for users with no permission.*/
.annotate-no-permission .annotation-display.annotation-tooltip .button-container {
  display: none !important;
}
/* Disabling view of tag field in annotation add form. As it is not needed
for now.*/
.new-annotation-form .tags-editor {
  display: none !important;
}
