<div><input id="txt_email" type="hidden" name="email" value="">
<input id="txt_password" type="hidden" name="password" value="">
<input id="txt_plan_id" type="hidden" name="plan_id" value="0">
<input id="txt_plan_type" type="hidden" name="plan_type" value="0">
<input id="txt_site_id" type="hidden" name="site_id" value="0">
<input id="txt_actiontype" type="hidden" name="actiontype" value="4">
<input id="txtCurrentStep" type="hidden" name="txtCurrentStep" value="1">
<input id="base_url" type="hidden" name="base_url" value="/drupal7/">
<input id="txt_plugin_version" type="hidden" name="plugin_version" value="1.0.3">
<input id="txt_plugin_check_url" type="hidden" name="plugin_check_url" value="">
<input id="txt_postdatatype" type="hidden" name="postdatatype" value="">
<input id="txt_cpanel_domain" type="hidden" name="cpanel_domain" value="">
<input id="txt_main_chatserver_domain" type="hidden" name="main_chatserver_domain" value="">
<input id="txt_standby_chatserver_domain" type="hidden" name="standby_chatserver_domain" value="">
<div id="comm100livechat_login" style="display:none"><fieldset class="form-wrapper" id="edit-comm100livechat-login"><div class="fieldset-wrapper"><div id="edit-sign-into" class="form-item form-type-item">
 <div id="comm100_logo"></div><h3 class="header">Link up to Comm100 account</h3>
</div>
<div class="form-item form-type-textfield form-item-login-email">
  <label for="login_email">Email </label>
 <input type="text" id="login_email" name="login_email" value="" size="30" maxlength="100" class="form-text">
</div>
<div class="form-item form-type-password form-item-login-password">
  <label for="login_password">Password </label>
 <input type="password" id="login_password" name="login_password" size="30" maxlength="70" class="form-text">
</div>
<div id="edit-forgetpassword" class="form-item form-type-item">
 <div class="forget"><a href="http://www.comm100.com/secure/ForgotPassword.aspx" target="_blank">Forgot your password?</a></div>
</div>
<div id="edit-ajax-message" class="form-item form-type-item">
 <p class="ajax_message"></p>
</div>
<div id="edit-login-line" class="form-item form-type-item">
 <div class="line">&nbsp;</div>
</div>
<div id="edit-not-have-account" class="form-item form-type-item">
 <div class="nothaveaccount">I'm new to Comm100.<br><a class="link" target="_blank" href="https://www.comm100.com/secure/siteregister.aspx?language=0&planId=74&code=841791C5">Create one account now!</a></div>
</div>
<div id="edit-link-btn" class="form-item form-type-item">
 <div class="linkbutton"><input type="button" class="form-submit" value="Link Up" name="op" id="login_submit"></div>
</div>
</div></fieldset>
</div><div id="comm100livechat_site_and_plan" style="display:none"><fieldset class="form-wrapper" id="edit-comm100livechat-site-and-plan"><div class="fieldset-wrapper"><div id="edit-link-to-drupal" class="form-item form-type-item">
 <div id="comm100_logo"></div><h3 id="link_title" class="header">Link up to Comm100 account</h3>
</div>
<div id="edit-site" class="form-item form-type-item">
 <label for="comm100_sites_select">Site</label><select id="comm100_sites_select" name="site" class="form-select" style="margin-top:5px; max-width: 320px;"></select>
</div>
<div id="edit-codeplan" class="form-item form-type-item">
 <label for="comm100_codeplans_select">Code plan</label><select id="comm100_codeplans_select" name="codeplan" class="form-select" style="margin-top:5px; max-width: 320px;"></select>
</div>
<div id="preViewImgBox" class="form-item form-type-item">
 <label style="margin-left: 40px;">Preview</label><table id="preViewImgs" style="border:0; width:400px;">
                  <tbody><tr><td style="border-right:0;"><img style="padding-left: 40px; max-width:320px;max-height:140px;" id="imgOnline" class="imgForOnline" src="" alt=""><br><span style="margin-left: 40px;">When Operators Online</span></td>
                  <td style="border-right:0;"><img style="max-width:320px;max-height:140px;" id="imgOffline" class="imgForOffline" src="" alt=""><br><span>When Operators Offline</span></td></tr></tbody></table>
                  <div id="preViewTextButton"><p id="lblOnlineText" style="position: relative; margin-left: 20px; height: 72px; "><a href="#"></a></p></div><p id="preViewMonitor"></p>
</div>
<div id="edit-ajax-message--2" class="form-item form-type-item">
 <p class="ajax_message"></p>
</div>
<div id="edit-link-btn--2" class="form-item form-type-item">
 <div id="button_area" class="linkbutton2"><input type="button" class="form-submit" value="Link Up" name="op" id="save_account" onclick="onComm100Save();"></div>
</div>
</div></fieldset>
</div><div id="comm100livechat_register" style="display:none"><fieldset class="form-wrapper" id="edit-comm100livechat-register"><div class="fieldset-wrapper"><div id="edit-create-account" class="form-item form-type-item">
 <div id="comm100_logo"></div><h3 class="header">Create a Comm100 Account</h3>
</div>
<div class="form-item form-type-textfield form-item-register-name">
  <label for="register_name">Name </label>
 <input type="text" id="register_name" name="register_name" value="joe" size="30" maxlength="32" class="form-text">
</div>
<div class="form-item form-type-textfield form-item-register-email">
  <label for="register_email">Email </label>
 <input type="text" id="register_email" name="register_email" value="csu618@163.com" size="30" maxlength="70" class="form-text">
</div>
<div class="form-item form-type-password form-item-register-password">
  <label for="register_password">Password </label>
 <input type="password" id="register_password" name="register_password" size="30" maxlength="70" class="form-text">
</div>
<input id="register_verification_code" type="hidden" name="register_verification_code" value="">
<input id="register_phone" type="hidden" name="register_phone" value="">
<input id="register_website" type="hidden" name="register_website" value="localhost">
<input id="register_ip" type="hidden" name="register_ip" value="">
<div id="edit-statement" class="form-item form-type-item">
 By clicking "Create Account", you agree to our <br><a href="https://hosted.comm100.com/Admin/help/Comm100-Agreement.htm" target="_blank">Service Agreement</a> and <a href="http://www.comm100.com/privacy/" target="_blank"> Privacy Policy</a>.
</div>
<div id="edit-ajax-message--3" class="form-item form-type-item">
 <p class="ajax_message"></p>
</div>
<div id="edit-register-line" class="form-item form-type-item">
 <div class="line2">&nbsp;</div>
</div>
<div id="edit-have-account" class="form-item form-type-item">
 <div class="haveaccount">I already have a Comm100 account.<br><a class="link" id="link_up_to_myaccount" href="#link_up_to_myaccount">Link up to my account!</a></div>
</div>
<div id="edit-register-btn" class="form-item form-type-item">
 <div class="linkbutton"><input type="button" class="form-submit" value="Create Account" name="register" id="register_submit"></div>
</div>
</div></fieldset>
</div><input type="hidden" name="form_build_id" value="form-wyTGPlacIv_lriptkwrHSAMRGEZmex1l4JS5b1OMldM">
<input type="hidden" name="form_token" value="ZWgtnaCt8bWvn_udveWjpV4df2nqq-rx7KJinUr6LAw">
<input type="hidden" name="form_id" value="Comm100_live_chat_settings_form">


<div id="comm100_guide_message" class="form-item form-type-item" style="display:none">
 <div class="messages installed_ok">Congratulations! Comm100 Live Chat is installed on your website successfully.</div>
</div>

<div id="comm100livechat_guide"  style="display:none"><fieldset class="form-wrapper" id="edit-comm100livechat-guide"><div class="fieldset-wrapper"><div id="edit-chat-with-visitor" class="form-item form-type-item">
 <div id="comm100_logo"></div>
</div>
<div id="comm100_button_code_area" class="form-item form-type-item" style="display: none;">
 <h3 class="header2">Install Live Chat</h3><p>To install Live Chat on your webpages, please <strong>paste the following code to your template</strong>:</p>
 <textarea id="chat_button_code_template" style="display:none">
    &lt;!--Begin Comm100 Live Chat Code--&gt;
    &lt;div id="comm100-button-{codeplanid}"&gt;&lt;/div&gt;
    &lt;script type="text/javascript"&gt;
      var Comm100API = Comm100API || new Object;
      Comm100API.chat_buttons = Comm100API.chat_buttons || [];
      var comm100_chatButton = new Object;
      comm100_chatButton.code_plan = {codeplanid};
      comm100_chatButton.div_id = 'comm100-button-{codeplanid}';
      Comm100API.chat_buttons.push(comm100_chatButton);
      Comm100API.site_id = {siteid};
      Comm100API.main_code_plan = {codeplanid};
      var comm100_lc = document.createElement('script');
      comm100_lc.type = 'text/javascript';
      comm100_lc.async = true;
      comm100_lc.src = 'https://{main_chatserver_domain}/livechat.ashx?siteId='+Comm100API.site_id;
      var comm100_s = document.getElementsByTagName('script')[0];
      comm100_s.parentNode.insertBefore(comm100_lc, comm100_s);
      setTimeout(function() {
            if (!Comm100API.loaded) {
                var lc = document.createElement('script');
                lc.type = 'text/javascript';
                lc.async = true;
                lc.src = 'https://{standby_chatserver_domain}/livechat.ashx?siteId=' + Comm100API.site_id;
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(lc, s);
            }
        }, 5000)
    &lt;/script&gt;
    &lt;!--End Comm100 Live Chat Code--&gt;
 </textarea>
 <textarea id="chat_button_code" readonly="readonly" onclick="this.select();" cols="100" rows="12" style="border:1px solid #a9a9a9">
  </textarea>
  <p id="tutorial">Need help? Read more in <a href="http://www.comm100.com/livechat/KnowledgeBase/How-to-put-Comm100-Live-Chat-on-a-fix-position-of-a-Drupal-site-_A5000272.aspx?id=5000272" target="_blank">Comm100 Live Chat Drupal integration tutorial</a>.</p>
</div>
<div id="edit-comm100-guide" class="form-item form-type-item">
 <h3 class="header2">Chat with customers</h3><p id="startchat">Get Live Chat Online and start chatting with your customers!</p>
		                    <div class="linkbtn"><a href="https://ent.comm100.com/livechat/visitormonitor.aspx?siteid=" id="getonline" target="_blank" class="button">Get Online &amp; Chat</a> &nbsp;&nbsp;&nbsp;or&nbsp;&nbsp;&nbsp;<a href="http://www.comm100.com/livechat/download.aspx" target="_blank" class="button">Download Apps</a></div>
		                    <div class="customize">Want to customize your Live Chat? <a href="https://ent.comm100.com/LiveChatFunc/CodePlan/ChatButton.aspx?ifEditPlan=true&amp;codePlanId=1140&amp;siteId=" id="customizelink" target="_blank">Click here</a>.
		                    <br>If you need any assistance, please don't hesitate to <a href="http://www.comm100.com/company/contact.aspx" target="_blank">contact us</a>.</div>
		                    <p id="linkaccount">Linked Comm100 Account: <strong></strong>&nbsp;&nbsp;&nbsp;&nbsp;<a name="op" type="input" id="btn_unlink" href="#btn_unlink">Reset</a></p>
</div>
<div id="edit-ajax-message" class="form-item form-type-item">
 <p class="ajax_message"></p>
</div>
</div></fieldset>
</div>

</div>