{% if caption %}
  <p class="flickr-photo-caption">
    <span class="flickr-photo-caption-title">{{ caption_title }}</span>
    <span class="flickr-photo-caption-realname">by {{ caption_realname }}</span>
    <span class="flickr-photo-caption-dateuploaded">uploaded on {{ caption_dateuploaded|date(format='d M Y') }}</span>
  </p>
{% endif %}