drupal:
  root: "build"
  base_url: "http://gzip-html.docksal"
  database:
    host: "db"
    port: "3306"
    name: "gzip_html"
    user: "root"
    password: "root"
  post_install:
    - "./vendor/bin/drush en -y gzip_html"
    - "./vendor/bin/drush cr"
  settings:
    settings:
      file_scan_ignore_directories:
        - "node_modules"
        - "bower_components"
        - "vendor"
        - "${drupal.root}"

commands:
  drupal:site-setup:
    - { task: "symlink", from: "../../..", to: "${drupal.root}/modules/custom/gzip_html" }
    - { task: "run", command: "drupal:drush-setup" }
    - { task: "run", command: "drupal:settings-setup" }
    - { task: "run", command: "drupal:site-install" }

