.quick-code-filter-wrapper:after {
  content: "";
  display: table;
  clear: both;
}
.quick-code-filter-wrapper .quick-code-filter {
  width: 25%;
  float: left;
  margin-right: 2%;
}
.quick-code-filter-wrapper .view {
  width: 73%;
  float: left;
}

.quick-code-filter .button-action {
  margin: 1em 0;
}

.quick-code-tree {
  margin-left: 0;
}

.quick-code-tree,
.quick-code-tree ul {
  padding: 0;
}

.quick-code-tree ul {
  display: none;
}
li.expanded > ul {
  display: block;
}

.quick-code-tree li {
  list-style: none outside;
}

.folder-icon,
.leaf-icon {
  display: inline-block;
  width: 10px;
  height: 10px;
  line-height: 10px;
  cursor: pointer;
}
.folder-icon {
  background: url(images/menu-collapsed.png) no-repeat center center;
}
.expanded .folder-icon {
  background: url(images/menu-expanded.png) no-repeat center center;
}

