tr.invalid,
tr.invalid:hover {
  background: #ffcccc;
}
tr.future-effective,
tr.future-effective:hover {
  background: #ffccff;
}
tr.future-invalid,
tr.future-invalid:hover {
  background: #ffffcc;
}
