{#
/**
 * @file slack_rtm_message.html.twig
 * Default theme implementation to present Slack RTM Message data.
 *
 * This template is used when viewing Slack RTM Message pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_slack_rtm_message()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('slack_rtm_message') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
