.flickr-photo a {
  border: 0;
}

.flickr-photo img {
  display: block;
}

.flickr-photo {
  float: left;
  margin-right: 0.4em;
  margin-bottom: 0.4em;
  display: block;
}

/*.flickr-photos {}*/

.flickr-photoset {
  clear: both;
  display: table;
}

/*.flickr-photoset-title {}*/

/*.flickr-photo-caption {}*/

.flickr-photo-caption-title {
  font-weight: bold;
}

.flickr-photo-caption-realname {
  font-style: italic;
}

.flickr-photo-caption-dateuploaded {
  font-size: .7em;
  display: block;
  text-transform: uppercase;
}

.flickr-photo-n-landscape {
  max-width: 320px;
}

.flickr-photo-n-portrait {
  max-width: 240px;
}

.flickr-photo-n-square {
  max-width: 320px;
}

.flickr-photo-m-landscape {
  max-width: 240px;
}

.flickr-photo-m-portrait {
  max-width: 160px;
}

.flickr-photo-m-square {
  max-width: 240px;
}
