<?php

/**
 * @file
 * Contains \Drupal\{{ module_name }}\Controller\{{ controller }}.
 */

namespace Drupal\{{ module_name }}\Controller;

use Drupal\Core\Controller\ControllerBase;
use Drupal\Core\Url;

class {{ controller }} extends ControllerBase {

  public function exampleModals() {

    $build['dialog_wrappers'] = array('#markup' => '<div id="ajax-test-dialog-wrapper-1"></div><div id="ajax-test-dialog-wrapper-2"></div>');
    // Dialog behavior applied to links rendered by links.html.twig.
{% if help %}
    // This markup will be updated after submitting the form.
{% endif %}
    $build['example'] = array(
      '#type' => 'hidden',
      '#suffix' => '<div id="my-super-id"> The number is :</div>',
    );
    $build['links'] = array(
      '#theme' => 'links',
      '#links' => array(
        'link' => array(
          'title' => $this->t('Example Modal/Dialog'),
          'url' => Url::fromRoute('custom_module.popinform'),
          'attributes' => array(
            'class' => array('use-ajax'),
            'data-dialog-type' => 'modal',
            'data-dialog-options' => json_encode(array(
              'width' => 800,
            ))
          ),
        ),
      ),
    );
    return $build;
  }
}