{#
/**
 * @file formazing_field_entity.html.twig
 * Default theme implementation to present Formazing field entity data.
 *
 * This template is used when viewing Formazing field entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_formazing_field_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('formazing_field_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
