{#
/**
* @file
* Template for tagadelic list.
*/
#}

{{ attach_library('tagadelic/base') }}

<ul class="tag-cloud">
{% for row in rows %}
  <li class="level{{ row.content.weight }}">
   {{ row.content }}
  </li>
{% endfor %}
</ul>
