{#
/**
 * @file
 * Theme for Tagadelic module's tag cloud.
 *
 * Available variables:
 * - tags: the tags to be displayed in the cloud
 *
 * @ingroup themeable
 */
#}
<ul class="tag-cloud">
  {% for tag in tags %}
  <li class="level{{ tag.getWeight }}">
    <a href="{{ path('entity.taxonomy_term.canonical', {'taxonomy_term': tag.getId}) }}">{{ tag.getName }}</a>
  </li>
  {% endfor %}
</ul>
