<a href="#" id="{{ element['#ulogin_id'] }}"
   data-ulogin="{{ element['#ulogin_data'] }}">
  <img src="//ulogin.ru/img/button.png" width=187 height=30
       alt="{{ 'MultiAuthentication'|t }}"/>
</a>';
