.toolbar-icon-domain-traversal::before {
  background-image: url("../icons/787878/key.svg");
}

.no-svg .toolbar-icon-domain-traversal::before {
  background-image: url("../icons/787878/key.png");
}

.toolbar-icon-domain-traversal:active::before,
.toolbar-icon-domain-traversal.is-active::before {
  background-image: url("../icons/000000/key.svg");
}

.no-svg .toolbar-icon-domain-traversal:active::before,
.no-svg .toolbar-icon-domain-traversal.is-active::before {
  background-image: url("../icons/000000/key.png");
}
