{#
/**
 * @file
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the entities to be rendered
 * - view: The view object.
 *
 * @ingroup themeable
 */
#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
{% for row in rows %}
  {{ row }}
{% endfor %}
