{#
/**
 * @file
 *
 * Non current carts template.
 *
 * @ingroup themeable
 */
#}
<div class="carts carts--non-current">
    <h3>{{ 'Previous carts'|t }}</h3>
    {% for key,cart in carts %}
        {{ cart }}
    {% endfor %}
</div>
