{#
/**
 * @file
 * Default theme implementation for the Bynder search result item.
 *
 * Available variables:
 * - thumbnail_uri: Link to the thumbnail of the bynder asset.
 * - name: Name of the bynder asset.
 * - type: Type of the bydner asset.
 */
#}
<img src="{{ thumbnail_uri }}" alt="{{ name }}"/>
<div class="more-info">
    <h4 class="name">{{ name }}</h4>
    <div class="type">({{ type }})</div>
</div>
