{#
/**
 * @file
 * Default theme implementation for stopwatch block.
 */
#}
<div class="row stopwatch--block">
    <div id="stopwatch"><time>00:00:00</time></div>
    <div id="stopwatch_button">
        <button id="stopwatch_start">START</button>
        <button id="stopwatch_stop">STOP</button>
        <button id="stopwatch_clear">RESET</button>
    </div>
</div>
