/**
 * @file
 * Tablesort indicator styles.
 */

.tablesort {
  background: 0;
  width: auto;
  height: auto;
  margin-left: 3px;
}

.tablesort--asc::after {
  content: "\25bc";
}

.tablesort--desc::after {
  content: "\25b2";
}
