// Options in paragraphs to align items in a flexbox container

.oomph-paragraph {

  // Horizontal axis
  .justify-content-start & {
    justify-content: flex-start;
  }

  .justify-content-center & {
    justify-content: center;
  }

  .justify-content-end & {
    justify-content: flex-end;
  }

  // Vertical axis
  .flex-align-start & {
    align-items: flex-start;
  }

  .flex-align-center & {
    align-items: center;
  }

  .flex-align-end & {
    align-items: flex-end;
  }
}
