// Classes to control background colors

// Color options need to be set explicitly for each bg color
// because, we can have a bg color on a row, AND a different bg-color
// on a component inside that row.
// Example: a blue row, with a green component on top, resulting
// in white text over green if only the blue color specifies white text


$local__background-color-map: $global__default-color-map;


// Background color forloop
@each $class, $colors in $local__background-color-map {

  .#{$class} {
    color: map-get($colors, fg);
    background-color: map-get($colors, bg);
  }

  // When components show over an image, make them a little transparent
  @include media-breakpoint-up(sm) {

    .oomph-background-image .#{$class} {
      background-color: rgba(map-get($colors, bg), map-get($colors, alpha));
    }
  }
}
