//<div class="oomph-background-image__mask">
//  <figure class="oomph-background-image__wrapper">
//    <div class="oomph-paragraph__row">
//      <img src="/sites/default/files/background-image/2017-02-26%2010.33.17.jpg" width="3264" height="1840" alt="">
//    </div>
//  </figure>
//  <div class="oomph-paragraph__row">
//    <div class="oomph-paragraph__component oomph-paragraph__component--wysiwyg oomph-wysiwyg oomph-background-color__oomph-red oomph-animated oomph-animated__initial fadeinright oomph-animated__active">
//      <div class="oomph-wysiwyg__content">
//        <div class="clearfix text-formatted field field--name-field-body field--type-text-long field--label-hidden field__item">
//          <h2>We Don't Need Another Hero</h2>
//        </div>
//      </div>
//    </div>
//  </div>
//</div>

.oomph-background-image {

  &__mask {
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    max-width: $local--image-max-width;
    min-width: 100%; // overcomes any flexbox declarations
    z-index: 2;
  }

  &__wrapper {
    margin: 0;

    // Bartik adds styles here that we do not want
    img {
      margin: 0 !important;
      max-width: 100%;
      height: auto;
    }

    .node & .field--type-image {
      float: none !important;
      margin: 0 !important;
    }

    // After the smallest breakpoint, these styles center the image X & Y
    // with positioning and force it always to be as wide as the container.
    // IT MAY NOT ALWAYS BE AS TALL AS THE CONTAINER.
    @include media-breakpoint-up(sm) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      z-index: -1;
    }
  }
}
