// Classes on the main wrapper around a paragraph entity

$local__border-width__solid: $global__border-width__solid;
$local__border-color__solid: $global__border-color__solid;
$local__border-width__dashed: $global__border-width__dashed;
$local__border-color__dashed: $global__border-color__dashed;


.oomph-border-column {

  // When a border-col value is present, force 'stretch' or the cols look uneven
  &__border-left .oomph-paragraph__row,
  &__border-right .oomph-paragraph__row {
    align-items: stretch !important;
  }

  // When the layout-reverse option is present, ready your mind for bending
  &__border-left .oomph-paragraph__row > .oomph-paragraph__component,
  &__border-right.oomph-layout--col-reverse .oomph-paragraph__row > .oomph-paragraph__component {
    border-left: $local__border-width__solid solid $local__border-color__solid;
    border-right: 0;
  }

  &__border-right .oomph-paragraph__row > .oomph-paragraph__component,
  &__border-left.oomph-layout--col-reverse .oomph-paragraph__row > .oomph-paragraph__component {
    border-right:  $local__border-width__solid solid $local__border-color__solid;
    border-left: 0;
  }

  // If the style option is present, change some things
  &__border-left.oomph-border-style__dashed .oomph-paragraph__row > .oomph-paragraph__component,
  &__border-right.oomph-border-style__dashed.oomph-layout--col-reverse .oomph-paragraph__row > .oomph-paragraph__component {
    border-left:  $local__border-width__dashed dashed $local__border-color__dashed;
    border-right: 0;
    margin-bottom: $global__vertical-spacer;
  }
  &__border-right.oomph-border-style__dashed .oomph-paragraph__row > .oomph-paragraph__component,
  &__border-left.oomph-border-style__dashed.oomph-layout--col-reverse .oomph-paragraph__row > .oomph-paragraph__component {
    border-right:  $local__border-width__dashed dashed $local__border-color__dashed;
    border-left: 0;
    margin-bottom: $global__vertical-spacer;
  }
}


// Resets for different layouts
.oomph-layout {
  
  &--duo__6-6,
  &--duo__3-9,
  &--duo__3-9-alt,
  &--duo__9-3,
  &--duo__4-8,
  &--duo__4-8-alt,
  &--duo__8-4,
  &--quartet {

    // Turn off for small viewports (when columns are stacked)
    @include media-breakpoint-down(xs) {
      
      & .oomph-paragraph__component {
        border: 0 !important;
      }
    }

    // When .layout--col-reverse is present, these still work!
    @include media-breakpoint-up(sm) {

      &.oomph-border-column__border-left .oomph-paragraph__component:first-child {
        border: 0 !important;
      }

      &.oomph-border-column__border-right .oomph-paragraph__component:last-child {
        border: 0 !important;
      }
    }
  }

  // Not tested with .layout--col-reverse, but, a bad idea to reverse three col layouts
  &--trio__4-4-4,
  &--trio__6-3-3,
  &--trio__3-6-3,
  &--trio__3-3-6 {

    // Turn off for small viewports (when columns are stacked)
    @include media-breakpoint-down(sm) {
      
      & .oomph-paragraph__component {
        border: 0 !important;
      }
    }

    @include media-breakpoint-up(md) {
      &.oomph-border-column__border-left .oomph-paragraph__component:first-child,
      &.oomph-border-column__border-left .oomph-paragraph__component:nth-child(3n+4) {
        border: 0 !important;
      }

      &.oomph-border-column__border-right .oomph-paragraph__component:nth-child(3n+3) {
        border: 0 !important;
      }
    }
  }

  // Not tested with .layout--col-reverse, but, a bad idea to reverse four col layouts
  &--quartet {

    @include media-breakpoint-only(sm) {
      &.oomph-border-column__border-left .oomph-paragraph__component:nth-child(odd) {
        border: 0 !important;
      }

      &.oomph-border-column__border-right .oomph-paragraph__component:nth-child(even) {
        border: 0 !important;
      }
    }

    @include media-breakpoint-up(md) {

      &.oomph-border-column__border-left .oomph-paragraph__component:first-child,
      &.oomph-border-column__border-left .oomph-paragraph__component:nth-child(4n+5) {
        border-left: 0 !important;
      }
      
      &.oomph-border-column__border-right .oomph-paragraph__component:nth-child(4n+4) {
        border-right: 0 !important;
      }
    }
  }
}
