// Classes on the main wrapper around a paragraph entity

$local__border-width__solid: $global__border-width__solid;
$local__border-color__solid: $global__border-color__solid;

.oomph-border-row {

  &__border-top {
    border-top: $local__border-width__solid solid $local__border-color__solid;
  }

  &__border-bottom {
    border-bottom: $local__border-width__solid solid $local__border-color__solid;
  }
}
