// Classes on the main wrapper around a paragraph entity

// Maps FTW!
// Each group is a class name and a list of the media query breakpoint followed
// by the value of the margins for the element.
//
// Sample output from one portion of the loop:
//
// @media (min-width: sm) {
//   .oomph-layout--uno__3 .oomph-paragraph__component {
//     margin-right: 6.25%;
//     width: 93.75%;
//   }
//   .oomph-layout--uno__3.horiz__justify-content-center .oomph-paragraph__component {
//     margin-left: 3.125%;
//     margin-right: 3.125%;
//   }
//   .oomph-layout--uno__3.horiz__justify-content-end .oomph-paragraph__component {
//     margin-left: 6.25%;
//     margin-right: 0;
//   }
// }
//
// 100%: .uno__12
// 75%: .uno__9
// 67%: .uno__8
// 50%: .uno__6
// 33%: .uno__4
// 25%: .uno__3


// ! Single column layouts
$uno-layouts: (

  uno__3: (
    sm: 50%,
    md: 66%,
    lg: 75%
  ),
  uno__4: (
    sm: 34%,
    md: 50%,
    lg: 66%
  ),
  uno__6: (
    sm: 12.5%,
    md: 25%,
    lg: 50%
  ),
  uno__8: (
    sm: 11%,
    md: 22%,
    lg: 34%
  ),
  uno__9: (
    sm: 6.25%,
    md: 12.5%,
    lg: 25%
  )
);


// ! Single column forloop
.oomph-layout {

  @each $class, $mq in $uno-layouts {

    &--#{$class} {

      @each $mq, $size in map-get($uno-layouts, $class) {

        @include media-breakpoint-up($mq) {

          // 1. .justify-content-start is the default, we assume it is there
          // 2. Width is used here primarily because components inside a hero use
          //    absolute positioning, therefore, they do not intrisically have
          //    block element 100% width
          // 3. To center elements, we add half the intended margin to each side
          & /* 1. */.oomph-paragraph__component {
            margin-right: $size;
            width: (100% - $size); // 2.
          }
          &.justify-content-center .oomph-paragraph__component {
            margin-left: ($size/2); // 3.
            margin-right: ($size/2);
          }
          &.justify-content-end .oomph-paragraph__component {
            margin-left: $size;
            margin-right: 0;
          }
        }
      } // end @each
    }
  } // end @each
}


// ! Two column layouts

// 50/50: .duo__6-6
// 25/75: .duo__3-9
// 25/75: .duo__3-9-alt
// 75/25: .duo__9-3
// 34/66: .duo__4-8
// 34/66: .duo__4-8-alt
// 66/33: .duo__8-4


.oomph-layout {

  // Two columns
  &--duo__6-6 {

    @include media-breakpoint-up(sm) {

      .oomph-paragraph__row {
        @include flex-row();
      }

      .oomph-paragraph__component {
        @include flex-col(50%);
      }
    }
  }

  // All of these share the same media query, so
  // group them together
  @include media-breakpoint-up(md) {

    &--duo__3-9,
    &--duo__3-9-alt,
    &--duo__9-3,
    &--duo__4-8,
    &--duo__4-8-alt,
    &--duo__8-4 {

      .oomph-paragraph__row {
        @include flex-row();
      }
    }

    &--duo__9-3 {

      .oomph-paragraph__component:nth-child(odd) {
        @include flex-col(75%);
      }

      .oomph-paragraph__component:nth-child(even) {
        @include flex-col(25%);
      }
    }

    &--duo__8-4 {

      .oomph-paragraph__component:nth-child(odd) {
        @include flex-col(66%);
      }

      .oomph-paragraph__component:nth-child(even) {
        @include flex-col(34%);
      }
    }

    &--duo__3-9,
    &--duo__3-9-alt {

      .oomph-paragraph__component:nth-child(odd) {
        @include flex-col(25%);
      }

      .oomph-paragraph__component:nth-child(even) {
        @include flex-col(75%);
      }
    }

    &--duo__4-8,
    &--duo__4-8-alt {

      .oomph-paragraph__component:nth-child(odd) {
        @include flex-col(34%);
      }

      .oomph-paragraph__component:nth-child(even) {
        @include flex-col(66%);
      }
    }

    &--duo__3-9-alt,
    &--duo__4-8-alt {

      // Works for up to 12 items in a grid
      .oomph-paragraph__component:nth-child(1) { order: 1; }
      .oomph-paragraph__component:nth-child(2) { order: 2; }
      .oomph-paragraph__component:nth-child(3) { order: 4; }
      .oomph-paragraph__component:nth-child(4) { order: 3; }
      .oomph-paragraph__component:nth-child(5) { order: 5; }
      .oomph-paragraph__component:nth-child(6) { order: 6; }
      .oomph-paragraph__component:nth-child(7) { order: 8; }
      .oomph-paragraph__component:nth-child(8) { order: 7; }
      .oomph-paragraph__component:nth-child(9) { order: 9; }
      .oomph-paragraph__component:nth-child(10) { order: 10; }
      .oomph-paragraph__component:nth-child(11) { order: 11; }
      .oomph-paragraph__component:nth-child(12) { order: 12; }
    }
  } // end @include media-breakpoint-up(md)
}


// ! Three column layouts

// 33/33/33: .trio__4-4-4
// 25/25/50: .trio__3-3-6
// 25/50/25: .trio__3-6-3
// 50/25/25: .trio__6-3-3

.oomph-layout {

  // Three equal columns for md up
  &--trio__4-4-4 {

    @include media-breakpoint-up(md) {

      .oomph-paragraph__row {
        @include flex-row();
      }

      .oomph-paragraph__component {
        @include flex-col(33.3%);
      }
    }
  }

  // Two equal columns over one column for sm up to lg
  // Three assymetrical columns for lg up
  &--trio__3-3-6 {

    @media (min-width: map-get($grid-breakpoints, sm)) and (max-width: (map-get($grid-breakpoints, lg) - 1px)) {

      .oomph-paragraph__row {
        @include flex-row();
      }

      // Works for up to 6 items in a grid
      .oomph-paragraph__component:nth-child(1),
      .oomph-paragraph__component:nth-child(2),
      .oomph-paragraph__component:nth-child(4),
      .oomph-paragraph__component:nth-child(5) {
        @include flex-col(50%);
      }
    }

    @include media-breakpoint-up(lg) {

      .paragraph__row {
        @include flex-row();
      }

      // Works for up to 6 items in a grid
      .oomph-paragraph__component:nth-child(1),
      .oomph-paragraph__component:nth-child(2),
      .oomph-paragraph__component:nth-child(4),
      .oomph-paragraph__component:nth-child(5) {
        @include flex-col(25%);
      }

      .oomph-paragraph__component:nth-child(3),
      .oomph-paragraph__component:nth-child(6) {
        @include flex-col(50%);
      }
    }
  }

  // Two equal columns over one column for sm up to lg
  // Three assymetrical columns for lg up
  &--trio__6-3-3 {

    @media (min-width: map-get($grid-breakpoints, sm)) and (max-width: (map-get($grid-breakpoints, lg) - 1px)) {

      .oomph-paragraph__row {
        @include flex-row();
      }

      // Works for up to 6 items in a grid
      .oomph-paragraph__component:nth-child(2),
      .oomph-paragraph__component:nth-child(3),
      .oomph-paragraph__component:nth-child(5),
      .oomph-paragraph__component:nth-child(6) {
        @include flex-col(50%);
      }
    }

    @include media-breakpoint-up(lg) {

      .oomph-paragraph__row {
        @include flex-row();
      }

      // Works for up to 6 items in a grid
      .oomph-paragraph__component:nth-child(2),
      .oomph-paragraph__component:nth-child(3),
      .oomph-paragraph__component:nth-child(5),
      .oomph-paragraph__component:nth-child(6) {
        @include flex-col(25%);
      }

      .oomph-paragraph__component:nth-child(1),
      .oomph-paragraph__component:nth-child(4) {
        @include flex-col(50%);
      }
    }
  }

  // Three assymetrical columns for md up
  &--trio__3-6-3 {

    @include media-breakpoint-up(md) {

      .oomph-paragraph__row {
        @include flex-row();
      }

      // Works for up to 6 items in a grid
      .oomph-paragraph__component:nth-child(1),
      .oomph-paragraph__component:nth-child(3),
      .oomph-paragraph__component:nth-child(4),
      .oomph-paragraph__component:nth-child(6) {
        @include flex-col(25%);
      }

      .oomph-paragraph__component:nth-child(2),
      .oomph-paragraph__component:nth-child(5) {
        @include flex-col(50%);
      }
    }
  }
}


// ! Four column layout

//25/25/25/25: .quartet

.oomph-layout {

  &--quartet {

    @include media-breakpoint-up(sm) {

      .oomph-paragraph__row {
        @include flex-row();
      }

      .oomph-paragraph__component {
        @include flex-col(50%);
      }
    }

    @include media-breakpoint-up(md) {

      .oomph-paragraph__component {
        @include flex-col(25%);
      }
    }
  }
}


// ! Row Reverse
.oomph-layout--col-reverse .oomph-paragraph__row {
  flex-direction: row-reverse !important;
}
