// Triangle down on the paragraph row; called "caret" in BS4 terminology

$local__caret__width: $global__caret__width;
$local__border-color__solid: $global__border-color__solid;
$local__triangle-color-map: $global__default-color-map;


.triangle {
  @include caret(down);
  position: relative;
  z-index: 2;

  &::after {
    position: absolute;
    bottom: - $local__caret__width;
    left: 50%;
    margin-left: - $local__caret__width;
    z-index: 3;
  }

  // Make it smaller for mobile
  @include media-breakpoint-down(sm) {

    &::after {
      border-top-width: ($local__caret__width/2);
      border-right-width: ($local__caret__width/2);
      border-left-width: ($local__caret__width/2);
      bottom: - ($local__caret__width/1.9375);
      margin-left: - ($local__caret__width/2);
    }
  }
}


@each $class, $colors in $local__triangle-color-map {

  .#{$class}.triangle::after {
    border-top-color: map-get($colors, bg);
  }
}

// When a border-bottom is present, the triangle
// needs to be the same color as the border bottom
//
// 1. !important used to override any potential background color already set
//
.oomph-border-row__border-bottom.triangle::after {
  border-top-color: $local__border-color__solid !important; // 1.
}


// Two of these adjacennt to eachother create a problem, where the second one
// in the source order is higher than the first, making the first one's triangle
// hidden. To counter this, we are going to specify :nth-of-type()
//.node__content {
//
//  .oomph-triangle:nth-of-type(1) {
//    z-index: 100;
//  }
//  .oomph-triangle:nth-of-type(2) {
//    z-index: 90;
//  }
//  .oomph-triangle:nth-of-type(3) {
//    z-index: 80;
//  }
//  .oomph-triangle:nth-of-type(4) {
//    z-index: 70;
//  }
//}
