[id^=menu-jstree-] {
  width: 100%;
  height: auto;
  overflow-y: scroll;
  border: 1px solid #C0C0C0;
}

[id^=menu-jstree-].rem-border {
  border: none;
}

[id^=menu-jstree-] .jstree-anchor.is-active {
  color: #ED4140;
}

[id^=menu-jstree-] .jstree-leaf .jstree-anchor {
  white-space: normal;
  height: auto;
}
