.fiu-widget-preview {
  width: 180px;
  height: 150px;
  position: absolute;
  left: 400px;
}

.fiu-widget-preview label {
  height: 60px;
  color: #000;
  background-image: url(../../icons/upload.svg);
  background-position: center 30px;
  background-repeat: no-repeat;
  background-size: 33px;
  font-size: 1em;
  padding-top: 45px;
  padding-bottom: 15px;

  align-items: center;
  cursor: pointer;
  display: flex;
  font-weight: 700;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.fiu-widget-preview .imce-filefield-widget {
  position: absolute;
  top: 5px;
  text-align: center;
  width: 100%;
  z-index: 99;
  cursor: pointer;
}
.fiu-widget-preview .imce-filefield-widget:hover {
  cursor: pointer;
}

.fiu-widget-preview .filefield-sources-list {
  position: absolute;
  bottom: 5px;
  text-align: center;
  z-index: 99;
  width: 100%;
  font-size: 11px;
  line-height: 13px;
}
.fiu-widget-preview  .filefield-sources-list a {
  display: inline-block;
  margin: 0 2px;
}
