.recent-purchase-block {
  width: 360px;
  position: fixed;
  z-index: 9999;
}

.recent-purchase-container {
  position: relative;
  padding: 15px;
}

.recent-purchase-wrapper {
  display: flex;
}

.recent-purchase-image {
  width: 85px;
  height: auto;
}

.recent-purchase-close {
  position: absolute;
  top: 5px;
  right: 8px;
  font-size: 24px;
  cursor: pointer;
}

.recent-purchase-wrapper-first {
  margin-right: 10px;
}

.recent-purchase-title {
  padding-right: 25px;
}

.recent-purchase-title,
.recent-purchase-body {
  margin-bottom: 7px;
  line-height: 1.2;
}

/* Popup position */
.recent-purchase-block.position-bottom-left {
  bottom: 20px;
  left: 20px;
}

.recent-purchase-block.position-bottom-right {
  bottom: 20px;
  right: 20px;
}

.recent-purchase-block.position-top-left {
  top: 20px;
  left: 20px;
}

.recent-purchase-block.position-top-right {
  top: 20px;
  right: 20px;
}

@media (max-width: 420px) {
  .recent-purchase-block {
    width: calc(100% - 40px);
  }
}
