.form-item-menu-parent .select-wrapper {
  display: block;
  max-width: 500px;
}

.form-item-menu-parent .select-wrapper select {
  width: 100%;
}

.node-form .form-item-menu-menu-parent .select-wrapper,
.node-form .form-item-menu-menu-parent .select-wrapper select {
  width: 100%;
}
