.p-field-layouts .form-radios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: -10px -10px 0 -10px;
}

[dir=rtl] .p-field-layouts .form-radios {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

tr .p-field-layouts .form-item {
  margin-top: 0;
  margin-bottom: 0;
}

.p-field-layouts .form-type-radio input {
  visibility: hidden;
  position: absolute;
}
.p-field-layouts .form-type-radio input:checked + label {
  border: #000000 2px solid;
}
.p-field-layouts .form-type-radio label {
  cursor: pointer !important;
  font-size: 0.00001px;
  position: relative !important;
  display: inline-block !important;
  margin: 10px 10px 0 10px !important;
  width: 80px;
  padding: 0 !important;
  white-space: nowrap;
  border: #999999 1px solid;
  background-size: contain;
  background-repeat: no-repeat;
}

.p-field-layouts .form-type-radio .text {
  text-align: center;
  padding-top: 2px;
}

/* for P001 story paragraph */
.p-field-layouts .form-type-radio label.layout-image-left {
  height: 31px !important;
  background-image: url('../img/layout-image-left.png');
}
.p-field-layouts .form-type-radio label.layout-image-right {
  height: 31px !important;
  background-image: url('../img/layout-image-right.png');
}
.p-field-layouts .form-type-radio label.layout-image-normal {
  height: 64px !important;
  background-image: url('../img/layout-image-normal.png');
}
.p-field-layouts .form-type-radio label.layout-image-stretched {
  height: 64px !important;
  background-image: url('../img/layout-image-stretched.png');
}

/* for P002 image paragraph */
.field--name-field-p-002-layout-image.p-field-layouts .form-type-radio label.layout-image-normal {
 height: 80px !important;
 background-image: url('../img/layout-p002-image-normal.png');
}
.field--name-field-p-002-layout-image.p-field-layouts .form-type-radio label.layout-image-stretched {
  height: 80px !important;
  background-image: url('../img/layout-p002-image-stretched.png');
}

/* for P003 text paragraph */
.field--name-field-p-003-view-mode.p-field-layouts .form-type-radio label.layout-left {
  height: 50px !important;
  background-image: url('../img/layout-p003-text-left.png');
}
.field--name-field-p-003-view-mode.p-field-layouts .form-type-radio label.layout-centered {
  height: 50px !important;
  background-image: url('../img/layout-p003-text-centered.png');
}

/* for P006 video paragraph */
.field--name-field-video-layout.p-field-layouts .form-type-radio label.layout-video-normal {
  height: 80px !important;
  background-image: url('../img/layout-p002-image-normal.png');
}
.field--name-field-video-layout.p-field-layouts .form-type-radio label.layout-video-stretched {
  height: 80px !important;
  background-image: url('../img/layout-p002-image-stretched.png');
}

/* For P007 usp columns */
.field--name-field-p-007-view-mode.p-field-layouts .form-type-radio label.layout-2-column,
.field--name-field-p-007-view-mode.p-field-layouts .form-type-radio label.layout-two-column {
  height: 34px !important;
  background-image: url('../img/layout-p007-2-column.png');
}
.field--name-field-p-007-view-mode.p-field-layouts .form-type-radio label.layout-3-column,
.field--name-field-p-007-view-mode.p-field-layouts .form-type-radio label.layout-three-column {
  height: 34px !important;
  background-image: url('../img/layout-p007-3-column.png');
}
.field--name-field-p-007-view-mode.p-field-layouts .form-type-radio label.layout-4-column,
.field--name-field-p-007-view-mode.p-field-layouts .form-type-radio label.layout-four-column {
  height: 34px !important;
  background-image: url('../img/layout-p007-4-column.png');
}

/* for P009 photo gallery paragraph */
.field--name-field-p-009-view-mode.p-field-layouts .form-type-radio label.layout-p-009_grid {
  height: 50px !important;
  background-image: url('../img/layout-image-grid.png');
}
.field--name-field-p-009-view-mode.p-field-layouts .form-type-radio label.layout-p-009_masonry {
  height: 50px !important;
  background-image: url('../img/layout-image-masonry.png');
}

/* in some case, we need to hide some of CKE's text alignment options
  eg: when a layout option needs to override those options, like in Text Main Paragraph when fields are Centered */
.override-cke-text-alignment a.cke_button__justifyleft {
  display: none !important;
}
