.bynder-wrapper {
    position: relative;
}

.usage-image {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    width: auto;
    height: 20%;
    min-height: 35px;
    max-height: 50px;
}

.bynder-wrapper:hover .usage-image {
    visibility: visible;
}

.bynder-tooltip {
    background: white !important;
}
