/**
 * @file bynder.throbber.css
 *   Styles for throbber that is used in Bynder Entit Browser widgets.
 */
.overlay-throbber {
    background: #000000;
    background: rgba(0, 0, 0, 0.85);
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.overlay-throbber .throbber-spinner {
    background: #232323 url(../images/loading-small.gif) center center no-repeat;
    border-radius: 7px;
    height: 24px;
    left: 50%;
    padding: 4px;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 24px;
}