.paragraphs-add_more-wrapper {
  padding-top: 55px;
  .paragraphs-add_more-label {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
  }
}

.layout__region--content .field--name-parade-paragraphs {
  .paragraphs-add_more-wrapper {
    padding-top: 20px;
    .paragraphs-add_more-label {
      display: none;
    }
    .paragraphs-dropbutton-wrapper {
      margin-top: 0;
      input.button {
        margin-top: 0;
        border-color: transparent;
        color: $white;
        border-radius: 3px;
        font-size: 13px;
        font-style: normal;
        text-align: center;
        font-weight: 600;
        background-color: $blue-bgr;
        padding: 6px 25px;
        box-shadow: none;
        border: 0;
        background-image: none;
        text-shadow: none;
        float: left;
      }
    }
  }
}

.paragraphs-dropbutton-wrapper {
  .button.parade-button {
    width: calc(20% - .5em) !important;
    margin-left: .25em;
    margin-right: .25em;
    background-repeat: no-repeat !important;
    background-position: center 15px !important;
    background-size: auto;
    background-color: $white;
    box-shadow: none;
    font-size: 13px;
    font-weight: normal;
    text-transform: uppercase;
    border-color: rgb(231, 232, 233);
    height: 130px;
    white-space: normal;
    &:hover {
      background-color: $lightblue-bgr;
    }
  }
}












