/*
 * @file
 * Provides the layout styles for layout_twocol_bricks.
 *
 * @todo Using display: flex requires https://www.drupal.org/node/2842298 to be
 * in before this can be marked as stable.
 */

.field--name-parade-onepage-sections table tbody .draggable > td:nth-child(2) > div {
  @include flexbox;
  position: relative;
  >.form-wrapper {
    width: 100%;
  }
}

.layout--twocol-bricks {
  display: flex;
  flex-wrap: wrap;
}

.layout--parade-admin-twocol-bricks {
  .layout__region--top {
    min-height: 36px;
  }
  .layout__region--bottom {
    @include flexbox;
    .layout__region--bottom-first {
      @include flexbox;
      @include flex(1, 1, auto);
      .field--label-inline {
        @include flex(1, 1, auto);
      }
    }
    .layout__region--bottom-second {
      @include flex(1, 2, auto)

    }
  }
}

.layout--twocol-bricks > .layout__region {
  flex: 0 1 100%;
}

@media screen and (min-width: 40em) {
  .layout--twocol-bricks > .layout__region--first-above,
  .layout--twocol-bricks > .layout__region--second-above,
  .layout--twocol-bricks > .layout__region--first-below,
  .layout--twocol-bricks > .layout__region--second-below {
    flex: 0 1 50%;
  }
}
