
body.user-logged-in.page-node-type-parade-onepage {
  background-color: rgb(240, 240, 240);
  /*font-weight: 600;*/
}

.layout-region-node-main {
  width: 75%;
}
.layout-region-node-secondary {
  width: 25%;
}

.page-node-type-parade-onepage {
  input.form-autocomplete,
  input.form-text,
  input.form-tel,
  input.form-email,
  input.form-url,
  input.form-search,
  input.form-number,
  input.form-color,
  input.form-file,
  input.form-date,
  input.form-time,
  textarea.form-textarea {
    background-color: rgb(246, 246, 246);
    border-color: rgb(219, 219, 219);
    border-width: 1px;
    color: rgb(86, 84, 84);
    padding: 3px 10px;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    border-radius: 2px;
    border-style: solid;
    box-shadow: none;
  }

/*  .layout-container {
    box-shadow: 0 20px 50px rgba(0,0,0,.05)
  }*/

  .field--name-title {
    background: transparent;
    padding: 0 25px 15px;
    input {
      font-size: 32px;
      padding: 0;
      background: transparent;
      border: 0;
      font-weight: 300;
      border-bottom: 1px solid $grey-text;
      border-radius: 0;
    }
  }
}

.item-mode-preview {
  .paragraph-type-top {
    position: absolute;
    right: 35px;
    top: 23px;
  }
}

.item-mode-preview,
.item-mode-edit {
  .paragraph-type-top {
    .parade-actions {
      margin-left: 0;
      li {
        margin-left: 5px;
      }
      li input {
        border-color: transparent;
        color: $white;
        border-radius: 3px;
        border-style: solid;
        font-size: 13px;
        font-style: normal;
        text-align: center;
        font-weight: 600;
      }
      .edit input,
      .collapse input,
      .confirm-remove input,
      .restore input {
        background-color: $blue-bgr;
        color: $white;
        padding: 6px 25px;
        &:hover {
          background-color: darken($blue-bgr, 15%) ;
        }
      }
      .remove,
      .preview {
        input {
          text-indent: -9999px;
          width: 32px;
          height: 32px;
          background-color: $grey-button;
          background-size: 16px 16px;
          background-repeat: no-repeat;
          background-position: center;
          &:hover {
            background-color: darken($grey-button, 15%) ;
            background-size: 16px 16px;
            background-repeat: no-repeat;
            background-position: center;
          }
        }
      }
      .remove input {
        background-image: url('../images/trash.png');
      }
      .preview input {
        background-image: url('../images/eye.png');
      }
    }
  }
  .paragraph-type-subform {
    input.button {
      background-color: $grey-button;
      border-color: transparent;
      color: $white;
      border-radius: 3px;
      border-style: solid;
      font-size: 13px;
      font-style: normal;
      text-align: center;
      font-weight: 600;
    }
  }
}

a.tabledrag-handle .handle {
  font-family: FontAwesome;
  background: none;
  font-size: 18px;
  padding: 0;
  margin: 0;
  &:before {
    display: none;
  }
}

a.tabledrag-handle:hover .handle,
a.tabledrag-handle:focus .handle {
  background: none;
}

.node-parade-onepage-edit-form .field-multiple-table tr.even:hover,
.node-parade-onepage-edit-form .field-multiple-table tr.odd:hover {
  a.tabledrag-handle .handle:before {
    content: $fa-var-ellipsis-v;
    color: $grey-text;
    display: block;
  }
}

#parade-onepage-menu-values {
  a.tabledrag-handle .handle {
    &:before {
      display: block !important;
      color: $white;
    }
  }
}

.field--name-parade-onepage-sections {
  thead {
    display: none;
  }
}

.paragraphs-type {
  text-align: center;
  width: 130px;
  background-repeat: no-repeat;
  background-position: top;
  padding-top: 60px;
  text-transform: uppercase;
  font-weight: 400;
  &-header {
    background-image: url('../../../images/header.png?v2');
  }
  &-simple {
    background-image: url('../../../images/simple.png?v2');
  }
  &-parallax {
    background-image: url('../../../images/background.png?v2');
  }
  &-images {
    background-image: url('../../../images/images.png?v2');
  }
  &-image_text {
    background-image: url('../../../images/text-and-image.png?v2');
  }
  &-text_boxes {
    background-image: url('../../../images/textboxes.png?v2');
  }
  &-locations {
    background-image: url('../../../images/locations.png?v2');
  }
  &-social_links {
    background-image: url('../../../images/social-links.png?v2');
  }
  &-marketo_poll {
    background-image: url('../../../images/poll.png?v2');
  }
  &-marketo_form {
    background-image: url('../../../images/form.png?v2');
  }
}








