
.node-parade-onepage-form .field--name-parade-onepage-menu .field-add-more-submit,
.node-parade-onepage-edit-form .field--name-parade-onepage-menu .field-add-more-submit {
  background: #337ab7;
  text-transform: uppercase;
  color: white;
  border-radius: 10px;
  border: none;
  width: 159px;
  height: 39px;
  font-size: 12px;
}

.node-parade-onepage-form .field-multiple-table .field-multiple-drag a.tabledrag-handle .handle,
.node-parade-onepage-edit-form .field-multiple-table .field-multiple-drag a.tabledrag-handle .handle {
  margin: 0;
}


#edit-parade-onepage-menu-wrapper {
  .clearfix > input {
    border: none;
    background-color: rgb(51, 153, 204);
    color: $white;
    font-weight: normal;
    padding: 6px 10px;
    border-radius: 3px;
    font-size: 13px;
    font-style: normal;
    text-align: center;
    width: 166px;
    height: 30px;
    text-shadow: none;
    box-shadow: none;
  }
}



