
$white: #ffffff;
$black: #000000;
$light-grey: rgb(240, 240, 240);
$blue-bgr: rgb(98, 179, 229);
$lightblue-bgr: rgb(242, 250, 255);
$grey-text: rgb(153, 153, 153);
$dark-grey-text: rgb(128, 128, 128);
$grey-button: rgb(189, 189, 189);
$green: rgb(92, 184, 92);
$light-grey-border: rgb(224, 224, 224);
$fieldset-background: rgb(240, 240, 240);








