

.node-parade-onepage-form .field--name-parade-onepage-menu .field-multiple-table tr td label,
.node-parade-onepage-edit-form .field--name-parade-onepage-menu .field-multiple-table tr td label {
  color: $white;
}

#edit-parade-onepage-menu-wrapper {
  .field-label h4 {
    color: $white;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
    margin-left: 4px;
  }

  .description {
    color: $light-grey;
    font-size: 11px;
    font-weight: 400;
    padding-left: 18px;
  }

  .clearfix > input {
    margin-left: 18px;
    margin-top: 15px;
  }
}

#edit-parade-onepage-menu-wrapper .field-multiple-table td {
  padding: 5px 1px !important;
}


