.entity-meta {
  border: none !important;
  box-shadow: none !important;
  h3 {
    font-size: 20px;
    color: $green;
    font-weight: 400;
    text-transform: uppercase;
    text-shadow: none;
    margin-bottom: 28px;
  }
}

.entity-meta__header,
.entity-meta details {
  background-color: $light-grey !important;
  border: 0 !important;
  box-shadow: none !important;
  background-image: none !important; }


.entity-meta details > summary {
  text-shadow: none !important;
}
