
.layout--parade-admin-twocol-bricks {

  .layout__region--bottom {
    .layout__region--bottom-first {
      .field--label-inline {
        .field__label {
          display: none;
        }
        .field__item {
          font-size: 13px;
          color: $grey-text;
        }
      }
    }
    .layout__region--bottom-second {
      .field--label-inline {
        @include flexbox;
        @include justify-content(flex-end);
        padding-right: 25px;
        .field__label {
          font-size: 13px;
          color: $grey-text;
          text-align: right;
          font-weight: 600;
        }
      }
    }
  }
}

#edit-parade-onepage-sections-wrapper .field-multiple-table td td {
  padding: 1.2em 0;
}
// Higher prior than the td td version. In css weight eq with previous.
#edit-parade-onepage-sections-wrapper .field-multiple-table > * > tr > td {
  padding: 0;
}

.item-mode-edit {
  .paragraphs-type {
    position: absolute;
    top: 25px;
    .form-wrapper .paragraph-type-top .parade-actions {
      @include transition(opacity, .3s);
    }
  }
  .layout__region.layout__region--top {
    background-color: $lightblue-bgr;
    border-bottom: 1px solid $light-grey-border;
    padding: 20px 25px 15px 130px;
    min-height: 140px;
    .js-form-item {
      @include flexbox;
      margin-bottom: 5px;
      label,
      legend {
        width: 100px;
        line-height: 30px;
      }
      select,
      input.text-full,
      input.form-number {
        width: 200px;
        height: 30px;
        box-shadow: none;
        background-color: $white;
      }
      select {
        background: url('../images/caret-down.svg') no-repeat 99% 63%, #ffffff;
      }
      .fieldset-wrapper {
        max-width: 250px;
      }
      input[type="radio"] {
        height: 30px;
        margin-right: 10px;
      }
    }
    .form-radios {
      @include flexbox;
    }
  }
  .layout__region.layout__region--content {
    padding: 30px 70px;
  }
}

