/* !FOCUSED IMAGES */
/*-----------------------------------------*/

figure.focuspoint-wrap {
  display: block;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
.focuspoint {
  position: relative; /*Any position but static should work*/
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.focuspoint img {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  display: block;
  border: 0;
  padding: 0;
  /* fill and maintain aspect ratio */
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  max-height: none;
  max-width: none;
}
