{#
/**
 * @file
 * Default theme implementation to output a Views Row Insert display style plugin.
 *
 * Available variables:
 * - rows_insert: A list of processed row items by Views Row Insert plugin.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - rows: A list of the view's original row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - use_plugin: A flag for plugin usage
 *
 * @ingroup themeable
 */
#}
{% if use_plugin %}
  {% set rows = rows_insert %}
{% endif %}
{% for row in rows %}
  <div{{ row.attributes }}>
    {{ row.content | raw }}
  </div>
{% endfor %}
