div.book-blocks-toc {
  margin: 0;
}

.book-blocks-toc-book {
  font-size: 140%;
  margin-bottom: 0.25em;
}

.book-blocks-toc .book--active-trail {
  font-weight: bold;
}

.book-blocks-toc .menu__item--active-trail {
  font-weight: bold;
}

.book-blocks-toc .menu__item--active-trail ul {
  font-weight: normal;
  font-style: oblique;
}

.book-blocks-toc .menu__item--collapsed:after {
  content: " >";
}

.book-blocks-navigation ul {
  padding: 0;
}

.book-blocks-edit-rounded a {
  padding: 4px 6px;
  border: 1px solid lightgrey;
  border-radius: 8px;
}

.book-blocks-edit-button a {
  padding: 2px 4px;
  border: 4px solid grey;
  border-top-color: lightgrey;
  border-left-color: lightgrey;
}

ul.inline li ul.book-blocks-nav-list {
  display: inline;
  padding: 0;
  margin: 0;
}

ul.inline li ul.book-blocks-nav-list li {
  display: inline;
  padding: 0;
  margin: 0 8px 0 0;
}

ul.inline li ul.book-blocks-nav-list li.book-blocks-nav-next {
  margin: 0;
}

.book-blocks-nav-list a {
  padding: 0;
}

.book-blocks-edit ul li {
  margin-bottom: 8px;
}

.book-blocks-edit-button .book-blocks-nav-item a {
  padding: 2px 8px;
}

.book-blocks-edit-rounded .book-blocks-nav-item a {
  padding: 4px 10px;
}

.book-blocks-disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.4;
}

div.books-blocks-edit-toc {
  padding-top: 1em;
}

.book-blocks-edit-button a.book-blocks-icons,
.book-blocks-edit-rounded a.book-blocks-icons {
  border: none;
  padding: 0;
}

