/**
 * @file
 * Styling for entity GTM dataLayer add form.
 */

.gtm-datalayer-condition-options-container-inline {
    display: block;
    margin: 3em 1em 1em 0;
}
.gtm-datalayer-condition-options-container-inline div,
.gtm-datalayer-condition-options-container-inline label {
    display: inline;
}
.gtm-datalayer-condition-options-container-inline .details-wrapper {
    display: block;
}
