# Ignore IDE directories.
/.idea/
/nbproject/
/.vscode/

# Ignore development directories and files.
/coverage/
/.sass-cache/
/node_modules/
/phpunit.xml

# Ignore operating system files.
.DS_Store
Thumbs.db
