$site-background-color: rgb(255,0,239);
$peripheral-color-primary: rgb(92, 166, 255);
$peripheral-color-secondary: rgb(11, 9, 255);
$header-background-color: rgb(248, 255, 46);
$content-color: rgb(251,0,255);

$font-content-color: rgb(78,255,0);
$font-header-color: rgb(255, 0, 202);
$font-footer-color: rgb(110, 255, 181);

/*** BACKGROUND COLORS - BEGIN ***/

.main-wrapper,
.header-wrapper,
.footer-wrapper,
.header__upper-menu,
body {
  background-color: $site-background-color;
}

footer {
  .footer__upper,
  .footer__bottom-menu {
    background-color: $peripheral-color-primary;
  }
  .footer__menu {
    background-color: $peripheral-color-secondary;
  }
}

.content-header__text,
.scroll-to-top,
.region-header-region,
.paragraph__header i {
  background-color: $peripheral-color-primary;
}

.full .header {
  background-color: $peripheral-color-primary;
  &:after {
    border-top: 15px solid $peripheral-color-primary;
  }
}

.paragraph__header {
  background-color: $peripheral-color-secondary;
}

.nrw-menu-header__icon.is-active:after {
  border-bottom: 10px solid $peripheral-color-secondary;
  border-bottom-color: $peripheral-color-secondary;
}

.header__upper-menu,
.nrw-menu-header__wrapper,
.nrw-menu-header__content,
.nrw-menu-header__content .nrw-menu__extra,
.nrw-menu-header__col:hover,
.nrw-menu-header__col:focus {
  background-color: $peripheral-color-secondary;
}

.header__branding, .nrw-menu-header, .nrw-menu-header__icons {
  background-color: $header-background-color;
}

.main-container {
  background-color: $content-color;
}

article.preview:nth-child(4n-2) .teaser-image:after,
article.preview:nth-child(4n-3) .teaser-image:after,
article.slim:nth-child(4n-2) .teaser-image:after,
article.slim:nth-child(4n-3) .teaser-image:after {
  border-right: 15px solid $content-color;
}

article.long-text:nth-child(odd) .teaser-image:after {
  border-left: 15px solid $content-color;
}

article.long-text:nth-child(even) .teaser-image:after {
  border-right: 15px solid $content-color;
}

article.preview:nth-child(4n-1) .teaser-image:after,
article.preview:nth-child(4n) .teaser-image:after,
article.slim:nth-child(4n-1) .teaser-image:after,
article.slim:nth-child(4n) .teaser-image:after {
  border-left: 15px solid $content-color;
}

.footer__upper:before {
  background-color: $peripheral-color-secondary;
}
/*** BACKGROUND COLORS - END ***/

/*** FONT COLORS - BEGIN ***/
.faq_question,
body,
.paragraph a {
  color: $font-content-color;
}

.nrw-menu ul li span,
.content-header__text,
.field--name-field-tags .field--item a,
.tags:before,
.region-header-region,
.region-header-region a,
.header__upper-menu .menu ul li a,
.header__upper-menu,
.content-header__text,
.nrw-menu-header__wrapper a,
.paragraph__header {
  color: $font-header-color;
}

.footer {
  color: $font-footer-color;
  a {
    color: $font-footer-color;
  }
}

.footer__upper:before {
  color: $font-footer-color;
}
/*** FONT COLORS - END ***/
