{#
/**
 * @file
 * Default theme implementation to list mailing lists available for adding subscriptions.
 *
 * This list is displayed on the Add subscription admin page.
 *
 * Available variables:
 * - lists: A list of mailing lists, each with the following properties:
 *   - add_link: Link to create an entry on this list.
 *   - description: Description of this mailing list.
 *
 * @see template_preprocess_subscription_add_list()
 *
 * @ingroup themeable
 */
#}
{% if lists is not empty %}
  <ul class="admin-list">
    {% for list in lists %}
      <li class="clearfix">
        <a href="{{ list.add_url }}">
          <span class="label">
            {{ list.label }}
          </span>

          <div class="description">
            {{ list.description }}
          </div>
        </a>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>
    {% set create_list = path('mailing_list.list_add') %}
    {% trans %}
      No mailing lists available at this moment.
    {% endtrans %}
  </p>
{% endif %}
