{#
/**
 * @file commerce_installment.html.twig
 * Default theme implementation to present Commerce Installment data.
 *
 * This template is used when viewing Commerce Installment pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_commerce_installment()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('commerce-installment') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
