erf.participant_type.*:
  type: config_entity
  label: 'Participant type config'
  mapping:
    id:
      type: string
      label: 'ID'
    label:
      type: label
      label: 'Label'
    uuid:
      type: string
    reference_user:
      type: boolean
      label: 'Create or Reference User on Save'
