.mxTooltip {
  filter: progid:DXImageTransform.Microsoft.DropShadow(OffX=4, OffY=4, Color='#A2A2A2', Positive='true');
}
.mxPopupMenu {
  filter: progid:DXImageTransform.Microsoft.DropShadow(OffX=4, OffY=4, Color='#C0C0C0', Positive='true');
}
.mxWindow {
  _filter: progid:DXImageTransform.Microsoft.DropShadow(OffX=4, OffY=4, Color='#C0C0C0', Positive='true');
}
.mxWindowTitle {
  _height: 23px;
}
.mxDisabled {
  filter: alpha(opacity=20) !important;
}
