.fail > summary {
  background-color: #fcf4f2;
  color: #a51b00;
  background-image: url(../images/error.svg);
  border-color: #f9c9bf #f9c9bf #f9c9bf transparent;
  box-shadow: -8px 0 0 #e62600;
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 20px;
}

.success > summary {
  color: #325e1c;
  background-color: #f3faef;
  border-color: #c9e1bd #c9e1bd #c9e1bd transparent;
  background-image: url(../images/check.svg);
  box-shadow: -8px 0 0 #77b259;
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 20px;
}

.success > div {
  background: #f3faef;
  box-shadow: -8px 0 0 #77b259;
}

.fail > div {
  background: #fcf4f2;
  box-shadow: -8px 0 0 #e62600;
}

.display-flex .fieldset-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.padding-right-20 {
  padding-right: 20px;
}

.display-flex .fieldset-wrapper .description {
  align-self: flex-end;
  flex: 100%;
}
