/**
 * @file
 */

.mason,
.mason * {
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.mason {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  min-height: 210px;
  position: relative;
}

.mason .box {
  display: block;
  float: left;
  max-width: 100%;
  overflow: hidden;
  position: relative;
}

.mason__fill {
  display: none;
  position: absolute;
}

.mason__filler {
  display: block;
}

.mason .box img {
  height: auto;
}

.mason .box img,
.mason .box iframe {
  display: block;
  max-width: 100%;
  width: 100%;
}

.mason .box,
.mason .box__content {
  background-position: center center;
  background-size: cover;
}

.mason .media,
.mason .box__content,
.mason .box__caption,
.mason .blazy__caption {
  margin: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}

.box__content > a,
.mason .media,
.mason .box__content {
  display: block;
  height: 100%;
}

/** Prevents hover-event blocking for lightbox trigger below caption. */
.mason .box__caption,
.mason .blazy__caption {
  padding: 15px;
  pointer-events: none;
  z-index: 2;
}

.mason .box__caption a,
.mason .blazy__caption a,
.mason .box__caption input {
  pointer-events: auto;
}

.box--caption--bottom .box__caption {
  bottom: 0;
  top: auto;
}

.box--caption--top .box__caption {
  top: 0;
}

.box--caption--center .box__caption {
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* 0, 640, 2 */
@media (min-width: 320) {
  .mason {
    width: 320px;
  }
}

@media (min-width: 480) {
  .mason {
    width: 480px;
  }
}


@media (min-width: 1080) {
  .mason {
    width: 1080px;
  }
}

@media (min-width: 64em) {
  .mason {
    width: 1320px;
  }
}

/**
 * Debug.
 */
#debug {
  pointer-events: none;
  z-index: 3;
}

.view-mason-x {
  position: relative;
  overflow: hidden;
}
