/**
 * @file
 * Styles for gridstack field.
 */

.grid-stack-item {
  overflow: hidden;
  border: 1px solid;
}
.gridstack-items .grid-stack > .grid-stack-item > .grid-stack-item-content {
  overflow: hidden;
}
