div[slot="feature-right"] {
  display: block;
}

div[slot="feature-center"] a[href*='/web/node/'] {
  text-align: center;
  background-color: #66B200;
  width: 50%;
  margin: 16px auto;
  padding: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  display: block;
}

.download-button,
.demo-button,
.source-button {
  font-size: 15px;
  line-height: 20px;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  padding: 10px 15px;
  width: 200px;
  min-width: 150px;
  margin: 20px 15px 20px 0;
  text-align: center;
}

.download-button:hover,
.demo-button:hover,
.source-button:hover {
  color: white;
}

.download-button {
  background-color: #0057B8;
}

.demo-button {
  background-color: #66B200;
}

.source-button {
  background-color: #666666;
}