.messages.messages--info {
  background-color: #d9edf7;
  color: #31708f;
  background-image: url(../icons/info.svg);
  border-color: #0074bd #0074bd #0074bd transparent;
  box-shadow: -8px 0 0 #0074bd;
}
