.blazy.field--type-image {
    max-width: 100%;
    height: auto;
}
.blazy.field--type-image .media--loading,
.blazy.field--type-image .media--loading figure,
.blazy.field--type-image .media--loading img {
    max-width: 100%;
    height: auto;
}
.blazy.field--type-image .b-lazy {
    filter: blur(3px);
    transform: scale(1.001);
    transition: filter .2s, transform .2s;
    opacity: 1;
}
.blazy.field--type-image .b-loaded {
    filter: blur(0);
    transform: scale(1);
}
