<html>

  <body>
      <table border="1" cellpadding="10">
      {% for key, value in pdf %}

      <tr>
        <td>{{key |raw }}</td>
        <td>{{value |raw }}</td>
      </tr>

      {% endfor %}
    </table>
  </body>
</html>
