{#
/**
 * @file
 * Default theme implementation to display a formatted baguettebox field.
 *
 * Available variables:
 * - link_attibutes: Link attributes.
 * - image: A collection of image data.
 * - image_style: An optional image style.
 * - url: An optional URL the image can be linked to.
 *
 * @see template_preprocess_baguettebox_formatter()
 *
 * @ingroup themeable
 */
#}
<a {{ link_attributes }} href="{{ url }}">{{ image }}</a>
