{#
/**
 * @file
 * Default theme implementation for communico block.
 *
 * Available variables:
 *   - events
 *
 * @ingroup themeable
 */
#}
<div class="communico_block">
{% for event in events %}
  {{ event }}
{% endfor %}
</div>
