/**
 * RTL styles used by CKEditor. Added to front-end theme and iFrame editors.
 */
.align-left {
  text-align: right;
}
.align-right {
  text-align: left;
}
.indent1 {
  margin: 0 40px 0 0;
}
.indent2 {
  margin: 0 80px 0 0;
}
.indent3 {
  margin: 0 120px 0 0;
}
