{#
/**
 * @file
 * Template for a 2 cell panel layout.
 *
 * This template provides a two cell panel display layout, with
 * each cell roughly equal in width.
 *
 * Variables:
 * - css_id: An optional CSS id to use for the layout.
 * - content: An array of content, each item in the array is keyed to one
 *   panel of the layout. This layout supports the following sections:
 *   - content.left: Content in the left cell.
 *   - content.right: Content in the right cell.
 */
#}
<div {{ attributes.setAttribute('id', settings.css_id).addClass('grid-x grid-margin-x', settings.css_classes) }}>
    {% if content.left|render|trim %}
        <div class="layout-region layout-region--first cell small-12 medium-6">
            {{ content.left }}
        </div>
    {% endif %}
    {% if content.right|render|trim %}
        <div class="layout-region layout-region--second cell small-12 medium-6">
            {{ content.right }}
        </div>
    {% endif %}
</div>
<!-- /.foundation-2col -->
