.as-result {
  border: 1px solid black;
  width: 35%;
}

.result-first {
  border-bottom: none;
}

.result-first .top {
  background-color: #ffa652;
}

.result-second {
  border-top:none;
  border-bottom:none;
}

.result-second .middle {
  background-color: #ffffff;
  color: #294cfb;
}

.result-third {
  border-top: none;
}

.result-third .last {
  background-color: #5acc51;
}