/*

# Docbook Classes.

## Additional classnames for marking up technical documentation.

Most of these would be OK with a &lt;pre&gt; or &lt;code&gt; tag,
but we can add more semantic detail also.

This is not full syntax highlighting, for that use
https://highlightjs.org/static/demo/
or
http://alexgorbatchev.com/SyntaxHighlighter/

This is for elements that may occur within a technical guide manual.

@see http://docbook.org/tdg/en/html-ng/part2.html

 */

/*
## Filenames and commands.
```
Check the logs in <code class="filename">/var/log/apache2ctl/error.log</code>
and thereabouts.<br/>
eg
<pre class="command">tail /var/log/apache2/error.log</pre>


```
*/
/*
.filename {
}
*/

.command {
  font-weight: bold;
  font-family: monospace;
  color: #555555;
}

/*
.computeroutput {
}
*/

/*
## Identifiers
Use this for identifiers and slugs

```
Name your bucket <code class='value'>remote-backups</code>
and the URI will become <code class='uri'>http://s3.aws.com/remote-backups/myfile.txt</code>
```
*/
.value {
  font-weight: bold;
  font-family: monospace;
}

/*
 ## Menu items

This should be used when documenting buttons or navigation paths
on the screen to press.

Use guimenuitem for navigation links (menu and breadcrumbs)

Use guibutton for actions *and tabs*.

```
<ul class="guimenu">
  <li class="guimenuitem">Admin</li>
  <li class="guimenuitem">Configuration</li>
  <li class="guimenuitem">Site Information</li>
  <li class="guibutton">Edit</li>
</ul>
```
*/
.guimenu {
  padding: .3em;
  background-color: #eeeeee;
  border: 1px solid #cccccc;
}
.guimenuitem {
  display: inline;
}
.guimenuitem::before {
  content: " > ";
}
.guibutton {
  display: inline;
  padding: .2em;
  background-color: #dddddd;
  border: 1px outset #cccccc;
}


/*
  This file was marked up with kaleistyle : inline self-documenting styleguide.
  http://kaleistyleguide.com/
*/
