/*

# Css based somewhat on the W3C RFC examples.

Just basic formatting to make the pages less painful on the eye.

*/
body {
  padding: 2em 1em 2em 70px;
  margin: 0;
  font-family: sans-serif;
  color: black;
  background: white;
  background-position: top left;
  background-attachment: fixed;
  background-repeat: no-repeat;
  line-height: 1.3em;
}

/*
## Links

```
<a href="#">a link to self</a>
<a href="http://drupal.org">a link offsite</a>
```
*/
:link {
  color: #00c;
  background: transparent;
}

:visited {
  color: #609;
  background: transparent;
}

a:active {
  color: #c00;
  background: transparent;
}

a:link img,
a:visited img {
  border-style: none;
}


/*
## Headings and paragraphs
```
  <h1>Heading 1</h1>
  <h2>Heading 2</h2>
  <h3>Heading 3</h3>
  <h4>Heading 4</h4>
  <h5>Heading 5</h5>
  <h6>Heading 6</h6>
  <p class="fixie"></p>
  <ul>
    <li>List Item 1</li>
    <li>List Item 2</li>
    <li>List Item 3</li>
  </ul>

```
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: left;
}

h1,
h2,
h3 {
  color: #005a9c;
  background: white;
  clear: both;
}

h1 {
  font: 170% sans-serif;
}

h2 {
  font: 140% sans-serif;
}

h3 {
  font: 120% sans-serif;
}

h4 {
  font: bold 100% sans-serif;
}

h5 {
  font: italic 100% sans-serif;
}

h6 {
  font: small-caps 100% sans-serif;
}

.hide {
  display: none;
}

div.head {
  margin-bottom: 1em;
}

div.head h1 {
  margin-top: 2em;
  clear: both;
}

div.head table {
  margin-left: 2em;
  margin-top: 2em;
}

p.copyright {
  font-size: small;
}

p.copyright small {
  font-size: small;
}

pre {
  margin-left: 2em;
}

dt,
dd {
  margin-top: 0;
  margin-bottom: 0;
}

dt {
  font-weight: bold;
}

li {
  margin-bottom: 0.25em;
}

pre,
code {
  font-family: monospace;
}

img {
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
  border: 1px solid #cccccc;
}

/*
## marginalia

```
<p class="intro">This tool provides a means for downloading image galleries
and bundling them up for offline viewing</p>
<p class="marginalia">It uses the cbz format, which is really just a zip file with additional metadata</p>
<p>You must have <code class="keyword">zip</code> installed on your machine already.</p>

```
*/
.marginalia {
  font-size: 0.8em;
  margin-left: 3em;
}
