#block-og-sm-dashboard-site-overview .item-list {
  float: right;
}

#block-og-sm-dashboard-site-overview .item-list ul li {
  list-style-type: none;
}

#block-og-sm-dashboard-site-overview td.site-action {
  text-align: right;
  width: 10%;
}
