/**
 * Progress bar.
 *
 * @see system.theme.css
 */
 .checklist-progress.progress {
  font-weight: normal;
  margin-bottom: 2.5em;
}
.checklist-progress.progress .progress__bar {
  animation-name: none;
  background-image: none;
}
.checklist-progress.progress .compact-link {
  clear: both;
  padding-top: 1em;
}