/**
 * @file
 */

.form--tabs .eb-tabs {
  min-height: 32px;
  position: relative;
}

/** Tabs remove border to allow vertical tabs. */
.form--tabs .eb-tabs ul {
  border: 0;
}

.form--tabs .eb-tabs ul li {
  border: 0;
}

.form--tabs-h .eb-tabs {
  background-color: #e6e5e1;
}

.form--tabs-h .eb-tabs ul li.active {
  background: #fff;
}

.form--tabs-v .eb-tabs ul li.active {
  border-bottom: 1px solid #444;
}

.form--tabs .eb-tabs ul li a {
  padding: 0.5em 1em;
}

.form--tabs-top .eb-tabs {
  top: 0;
}

@media (min-width: 640px) {
  .form--tabs-bottom {
    padding-top: 0;
  }

  .form--tabs-top.form--buttons-top.form--tabs-stacked.form--iframe {
    padding-top: 100px;
  }

  .form--tabs .eb-tabs {
    left: 0;
    position: fixed;
    z-index: 98;
  }

  .form--tabs-h .sb__header .eb-tabs {
    float: left;
    position: relative;
    width: auto;
  }

  .form--tabs-v .eb-tabs {
    top: -1px;
    width: auto;
  }

  .form--tabs-v.form--tabs-right .eb-tabs {
    left: auto;
    right: 0;
  }

  .form--tabs-h .eb-tabs {
    width: auto;
  }

  .form--tabs-top.form--buttons-top.form--tabs-stacked.form--iframe .eb-tabs {
    top: 42px;
    width: 100%;
  }

  .form--tabs-bottom .eb-tabs {
    bottom: 4px;
    top: auto;
  }

  .form--buttons-bottom .sb__header {
    bottom: 0;
    top: auto;
  }

  .form--tabs-top .eb-tabs {
    top: 0;
    width: auto;
  }

  .form--tabs-top .sb__header .eb-tabs {
    top: 5px;
  }

  .form--tabs-top.form--buttons-bottom .eb-tabs {
    width: 100%;
  }

  .form--sb .pager {
    left: 0;
    line-height: 1.2;
    padding: 0;
    position: fixed;
    text-align: center;
    top: 42px;
    width: 100%;
    z-index: 8; /** Below button show selection. */
  }

  .form--sb .pager__items {
    background-color: #e6e5e1;
    display: inline-block;
    margin: 0 auto;
    padding: 5px;
  }

  .form--sb .view--pager-full .pager {
    position: relative;
    top: auto;
  }

  .form--sb .view--pager-full .pager__items {
    background-color: transparent;
    display: block;
  }

  .form--tabs-top.form--buttons-bottom .view--sb .pager {
    bottom: 5px;
    position: fixed;
    top: auto;
    width: auto;
    z-index: 97;
  }

  .form--tabs-bottom.form--buttons-bottom .view--sb .pager {
    bottom: auto;
    top: 0;
  }

  .form--selection-left.form--tabs-bottom.form--buttons-bottom .view--sb .pager {
    text-align: right;
  }

  .form--selection-right.form--tabs-bottom.form--buttons-bottom .view--sb .pager {
    text-align: left;
  }

  .form--tabs-top.form--buttons-bottom .pager__items {
    padding-left: .25em;
  }

  .form--buttons-bottom.form--tabs-top {
    padding-top: 42px;
  }
}

@media (min-width: 920px) {
  .form--tabs-v {
    padding-bottom: 160px;
    padding-top: 0;
  }

  .form--selection-v .sb__footer .entities-list {
    max-height: 100%;
  }

  .form--tabs-left.form--selection-left .sb__footer  .entities-list,
  .form--tabs-right.form--selection-right .sb__footer  .entities-list {
    max-height: 60vh;
  }

  .form--tabs-v .eb-tabs ul {
    min-width: 140px;
  }

  .form--tabs-v .eb-tabs ul li {
    display: block;
  }
}
