/**
 * @file
 */

/** Prevents unintentional clicking around during ajax progress. */
.sb-html .ajax-progress-fullscreen {
  background-color: rgba(0, 0, 0, .8);
  border-radius: 0;
  left: 0;
  height: 100%;
  top: 0;
  width: 100%;
}

.sb .dropzone {
  background: #f0f0f0;
  border: 2px dotted rgba(0, 0, 0, 0.3);
  color: #0074bd;
  font-size: 32px;
  line-height: 1.2;
  padding: 20px;
}

.sb .dropzone .dz-preview.dz-image-preview {
  background: none;
}

.sb__cardinality {
  color: #eee;
  font-size: 12px;
  left: 8px;
  line-height: 1;
  margin: 0;
  position: absolute;
  top: 6px;
  z-index: 96;
}

.form--selection-right .sb__cardinality {
  left: 42px;
}

/** @todo: re-check. */
.form--single.is-no-selection .sb__footer {
  display: none;
}

@media (min-width: 640px) {
  .form--sb,
  .form--selection-right.form--view {
    padding: 52px 32px;
  }

  .form--view {
    padding-left: 15px;
  }

  .form--upload {
    padding-top: 62px;
  }

  .form--single {
    padding-top: 0;
  }

  .form--single .view--sb .pager {
    bottom: 5px;
    position: fixed;
    top: auto;
    width: auto;
    z-index: 97;
  }
}
