/**
 * @file
 * Selection.
 *
 * .sb__footer is used at two places: EB selections, widgets.
 */

/** Form actions and selections stored within .sb__footer */
.form--sb .sb__footer {
  background-color: rgba(0,0,0,.6);
  bottom: 0;
  min-height: 32px;
  padding: 2em 0;
  position: relative;
  width: 100%;
  z-index: 11;
}

.form--sb .sb__footer img {
  object-fit: cover;
  min-height: 80px;
}

.form--sb .sb__footer .entities-list a {
  color: #fff;
}

.form--sb.is-no-selection .sb__footer,
.form--sb.is-empty .sb__footer {
  background-color: transparent;
  padding: 0;
}

.form--sb.is-collapsed .sb__footer {
  padding: 0;
}

.sb__footer .form-actions {
  margin: 0;
  min-height: 28px;
}

.sb__footer .entities-list {
  clear: both;
  overflow-y: scroll;
}

.is-empty .sb__footer .entities-list {
  overflow: hidden;
}

.sb__footer .entities-list .item-container {
  background-color: rgba(0, 0, 0, .8);
  color: #fff;
  float: left;
  height: 78px;
  margin: 10px 0 10px 10px;
  padding: 0;
  text-indent: 8px;
  width: 100px;
}

/** Selection: Over bottom. */
.form--selection-over-bottom .sb__footer {
  max-height: 140px;
  position: absolute;
}

.form--selection-over-bottom .sb__footer .entities-list {
  max-height: 100px;
}

@media (min-width: 640px) {
  .form--selection-over-bottom .sb__footer {
    bottom: 0;
    left: 0;
    margin: 0;
    max-height: 180px;
    min-height: 120px;
    position: fixed;
    width: 100%;
  }

  .form--selection-over-bottom.is-collapsed .sb__footer {
    min-height: 28px;
  }

  .form--selection-over-bottom.form--tabs-bottom .sb__footer,
  .form--selection-over-bottom.form--buttons-bottom .sb__footer {
    bottom: 42px;
    padding-bottom: 0;
  }
}

@media (min-width: 720px) {
  .sb__footer .entities-list {
    overflow-y: auto;
  }

  .sb.form--selection-right .slick--browser:first-child .slick-dots,
  .sb.form--selection-right .button-wrap.button-wrap--show-selection {
    right: auto;
    left: 0;
  }

  .sb.form--selection-v .sb__footer {
    left: 0;
    height: 100vh;
  }

  .form--selection-v.form--buttons-bottom .sb__footer {
    padding-bottom: 32px;
    padding-top: 32px;
  }

  .form--selection-v.form--buttons-top .sb__footer {
    top: 42px;
  }

  .sb.form--selection-right .sb__footer {
    left: auto;
    right: 0;
  }

  .sb.form--selection-v.is-collapsed .sb__footer {
    width: 32px;
  }

  .sb.form--selection-left .sb__cardinality {
    margin-right: 32px;
  }
}

@media (min-width: 920px) {
  .form--tabs .eb-tabs {
    position: fixed;
  }

  .form--tabs-h .sb__main {
    margin-left: auto;
    margin-right: auto;
    width: 82%;
  }

  .form--view .sb__main {
    width: 100%;
  }

  .sb.form--tabs-v .eb-tabs,
  .form--selection-v .sb__footer {
    clear: none;
    float: left;
    margin-right: -100%;
    position: relative;
    text-align: left;
    top: 0;
    width: 20%;
  }

  .form--selection-v.form--tabs-h .sb__footer {
    position: fixed;
  }

  .form--tabs-v .sb__main,
  .form--tabs-v > div[style^="display"],
  .form--selection-v .sb__main,
  .form--selection-v > div[style^="display"] {
    float: right;
    width: 78%;
  }

  .form--tabs-v.is-collapsed .sb__main,
  .form--tabs-v.is-collapsed > div[style^="display"],
  .form--selection-v.is-collapsed .sb__main,
  .form--selection-v.is-collapsed > div[style^="display"] {
    width: 96%;
  }

  .form--tabs-v.form--tabs-right .eb-tabs,
  .form--selection-v.form--selection-right .sb__footer {
    float: right;
    margin-left: -100%;
    margin-right: 0;
  }

  .form--tabs-v.form--tabs-right  .sb__main,
  .form--tabs-v.form--tabs-right  > div[style^="display"],
  .form--selection-v.form--selection-right  .sb__main,
  .form--selection-v.form--selection-right  > div[style^="display"] {
    float: left;
  }

  /** Both tabs and selection on the same side. */
  .form--tabs-left.form--selection-left .eb-tabs,
  .form--tabs-right.form--selection-right .eb-tabs {
    display: none;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  .form--tabs-left.form--selection-left.is-collapsed .eb-tabs {
    left: -100%;
  }

  .form--tabs-right.form--selection-right.is-collapsed .eb-tabs {
    right: -100%;
  }

  .form--tabs-left.form--selection-left .sb__footer,
  .form--tabs-right.form--selection-right .sb__footer {
    background-color: rgba(0,0,0,.6);
    position: fixed;
  }

  .form--tabs-left.form--selection-left .sb__footer .eb-tabs,
  .form--tabs-right.form--selection-right .sb__footer .eb-tabs {
    background: none;
    display: block;
  }

  .form--tabs-left.form--selection-left .eb-tabs li a,
  .form--tabs-right.form--selection-right .eb-tabs li a {
    color: #fff;
  }
}
