/**
 * @file
 */

.sb__viewswitch .button-group {
  display: inline-block;
  vertical-align: top;
}

.sb__viewswitch .button {
  padding: 0;
  position: relative;
}

.sb__viewswitch .button.is-active {
  background: #ff6d2c;
}

/** Overrides core */
.sb__viewswitch .button:focus {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.sb__viewswitch .button--view::before,
.sb__viewswitch .button--view::after {
  content: '';
  display: block;
  height: 0;
  position: absolute;
  right: 12px;
  top: -4px;
  width: 20px;
}

.sb__viewswitch .button--grid::before,
.sb__viewswitch .button--grid::after {
  /*
  -webkit-box-shadow: 0 12px 0 3px #333, 0 20px 0 3px #333, 0 28px 0 3px #333;
  box-shadow: 0 12px 0 3px #333, 0 20px 0 3px #333, 0 28px 0 3px #333;
  width: 4px;
  */
  -webkit-box-shadow: 0 14px 0 3px #333, 0 22px 0 3px #333;
  box-shadow: 0 14px 0 3px #333, 0 22px 0 3px #333;
  width: 1px;
}

.sb__viewswitch .button--view.button--grid::before {
  right: auto;
  left: 14px;
}

.sb__viewswitch .button--list::before,
.sb__viewswitch .button--list::after {
  -webkit-box-shadow: 0 14px 0 1px #333, 0 19px 0 1px #333, 0 24px 0 1px #333;
  box-shadow: 0 14px 0 1px #333, 0 19px 0 1px #333, 0 24px 0 1px #333;
}

.sb__viewswitch .button--view.button--list::before {
  right: auto;
  left: 10px;
  width: 1px;
}

.sb__viewswitch .button--view.button--list::after {
  width: 10px;
}

/** Views field. */
.view--sb .views-field,
.view--sb .views-field--cloned {
  line-height: 1.4;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
}

.form--sb .views-field,
.form--overlimit .is-checked .views-field {
  cursor: cell;
}

.form--overlimit .views-field {
  cursor: not-allowed;
}

.form--sb .view--sb-list .view-list--header .views-field {
  cursor: default;
}

.view--sb .view-list--header {
  display: none;
  padding: 4px 0;
  text-transform: uppercase;
}

/** List view. */
.sb.view--sb-list .sb__grid {
  margin: 0;
}

.sb.view--sb-list .grid {
  border: 1px dotted transparent;
  padding: 0;
  width: 100%;
}

.sb.view--sb-list .grid:nth-child(even) {
  background-color: #f0f0f0;
}

.sb.view--sb-list .grid.is-checked {
  background-color: #ffd; /* #d5f0fa; */
  border-color: #ccc;
}

.sb.view--sb-list .grid.view-list--header {
  background-color: #fff;
  border-bottom: 4px solid #f0f0f0;
}

/** Views field. */
.view--node.view--sb-list .views-label,
.view--block.view--sb-list .views-label,
.view--sb .grid__info .views-label {
  display: inline-block;
  min-width: 80px;
  padding-right: 10px;
  position: relative;
  text-align: right;
  vertical-align: top;
  visibility: visible;
}

/** Excludes fake table header for the list view. */
.view--sb .views-field .views-label,
.sb__footer .views-label {
  visibility: hidden;
  position: absolute;
}

.sb.view--sb-list .views-field {
  display: block;
  margin-left: 90px;
}

.view--node.view--sb-list .views-field,
.view--block.view--sb-list .views-field,
.sb.view--sb-list .views-field--preview {
  margin-left: 0;
}

.view--sb .grid__content {
  min-height: 64px;
  padding: 5px;
  position: relative;
}

/** Was checked */
.view--sb .grid.was-checked .grid__content,
.view--sb .grid.was-checked .views-field {
  cursor: not-allowed;
  opacity: .8;
}

/** Preview. */
.sb.view--sb-list .views-field--preview {
  float: left;
  width: 80px;
}

/** Grid. */
.view--sb .block-columngrid .grid__content {
  /* background-color: #f0f0f0; */
  background-clip: padding-box;
  border: 6px solid rgba(0, 0, 0, 0.1);
  padding: 0;
}

.view--sb.view--block .block-columngrid .grid__content,
.view--sb.view--node .block-columngrid .grid__content {
  min-height: 120px;
  padding: 15px;
}

.view--sb .block-columngrid .was-checked .grid__content {
  border: 4px dashed rgba(0, 0, 0, 0.2);
}

.view--sb .block-columngrid .is-checked .grid__content {
  border-color: #ff6d2c;
}

/** Info. */
.grid__info .views-label {
  font-weight: 600;
}

.view--sb .grid__info {
  background-color: rgba(0,0,0,.8);
  color: #ccc;
  cursor: default;
  height: 100%;
  left: 0;
  padding: 1em;
  position: absolute;
  top: 0;
  width: 100%;
}

.view--sb .grid__info a {
  color: #fff;
}

/** Checked grid. */
.view--sb .is-checked .media::after,
.view--sb .was-checked .media::after {
  color: #ff6d2c;
  content: '\2714';
  display: block;
  font-size: 28px;
  height: 28px;
  left: 2px;
  line-height: 28px;
  position: absolute;
  top: 0;
  width: 28px;
  z-index: 3;
}

.view--sb .grid.was-checked .button--select,
.view--sb .is-checked:hover .media::after,
.sb.view--sb .views-field.views-field-entity-browser-select {
  display: none;
}

/** Twitter, etc. has inline CSS with visibility, hence !important. */
.sb.view--sb .media__thumbnail,
.sb.view--sb-list .media--list > * {
  display: none !important;
}

.sb.view--sb-list .media--list > .visible-list {
  display: block !important;
  padding: 0;
}

@media (min-width: 640px) {
  .sb.view--sb-list .views-field--preview {
    float: none;
  }

  .sb.view--sb-list .grid {
    display: table;
    table-layout: fixed;
  }

  .sb.view--sb-list .grid__content {
    display: table-row;
    padding: 0;
  }

  .sb.view--sb-list .visible-list,
  .sb.view--sb-list .views-field {
    display: table-cell;
    margin: 0;
    padding: 5px;
  }

  /** Prevents broken vertical slick with irregular heights within table view. */
  .sb.view--sb-list .views-field .media {
    height: 62px;
    padding-bottom: 0 !important; /** Even if unholy */
  }

  /** Consider using object-fit rather than aspect ratio when widely supported. */
  .sb.view--sb-list .views-field img {
    object-fit: cover;
  }
}
