/**
 * @file
 */

/** Body with fullscreen video either outside or within iframe/ modal. */
body.is-zoom {
  height: 100vh;
  overflow: hidden !important; /** admin toolbar JS */
  position: relative;
}

.sb .media {
  background-color: #fff;
}

.sb__zoom,
.is-zoom .sb .pager,
.is-zoom .eb-tabs,
.is-zoom .sb__header,
.is-zoom .sb__footer,
.is-zoom .slick-dots {
  display: none;
  visibility: hidden;
}

/** Makes the .media wrapper zommed, ensures supporting multiple instances. */
.is-zoom .sb--zoomed .sb__zoom {
  background-color: #000;
  display: block;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  visibility: visible;
  width: 100%;
  z-index: 9999;
}

/** Body for the browser within iframe/ modal which has .form--view. */
.is-zoom .form--view.sb--zoomed .is-playing iframe {
  height: 100vh;
}

.is-zoom .form--view.form--iframe.sb--zoomed .is-playing iframe {
  height: 100%;
}

/** Icons. */
.sb .media__icon--play {
  border: 0;
}

.sb .media__icon--close::before,
.sb .media__icon--close::after {
  height: 4px;
  margin: -2px 0 0 -10px;
  width: 20px;
}

.sb .media__icon--close {
  height: 40px;
  margin: -20px 0 0 -20px;
  width: 40px;
}

.is-zoom .sb--zoomed .is-playing .media__icon--close {
  margin: 0;
  opacity: 1;
  top: 0;
  visibility: visible;
  background-color: #6b6b6b;
}
