/**
 * @file
 */

.view--sb {
  overflow: hidden;
  padding-bottom: 120px;
  position: relative;
}

.view--sb .views-exposed-form {
  padding: 0.25rem;
  position: relative;
  z-index: 9;
}

.view .sb__viewswitch {
  float: right;
}

.sb .pager__items {
  margin: 0.25em auto;
}

.view--sb .slick--browser {
  min-height: 320px;
}

@media (min-width: 640px) {
  .view-filters .form-text {
    max-width: 200px;
  }

  .view--sb .view-filters {
    margin-bottom: 1em;
  }

  .view--sb .form--inline .form-actions {
    clear: none;
    float: left;
    margin: 2.25em 0 0.75em;
  }

  .form--iframe .view--sb .slick--browser {
    min-height: 800px;
  }
}
