{#
/**
 * @file
 * Template for the progress bar.
 *
 * Available variables:
 * - state: Array which contain name, color, percentage.
 *
 * @ingroup themeable
 */
#}
<div class="progress-bar-wrapper">
    {% for item in state %}
		<div class="progress-bar-formatter" role="progressbar" style="width: {{ item.lowest_percent }}%; background-color: {{ item.color }}" aria-valuemin="0" aria-valuemax="100" aria-valuenow="{{ item.state }}">
			<span class="progress-bar-name">{{ item.name }}</span>
		</div>
    {% endfor %}
</div>
