.layout-container {
  max-width: 100% !important;
}
.superslide-caption {
  position: relative;
  top: 13%;
  left: 10%;
  width: 50%;
}
.superslide-caption-title {
  font-size: 40px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 30px;
}
.superslide-caption-body {
  font-size: 32px;
  color: #fff;
  margin-bottom: 30px;
}
.superslide-caption-link {
  position: relative;
  margin-top: 50px;
}
.superslide-caption-link a {
  font-size: 28px;
  color: black;
  background: #c5ff54;
  border-radius: 1px;
  border: 0px;
  padding: 5px;
}
.slides-navigation .prev {
  position: absolute;
  left: -7%;
  top: 111px;
  height: 35px;
  width: 35px;
  background: none;
  pointer-events: auto;
  border: 3px solid #fff;
  border-radius: 50%;
  font-size: 0;
  transform: translateY(-50%);
  text-align: center;
  padding-top: 3px;
}
.slides-navigation .prev::before {
  color: #fff;
  font-family: monospace;
  content: '<';
  opacity: 1;
  font-size: 23px;
  cursor: pointer;
}
.slides-navigation .next {
  position: absolute;
  right: -7%;
  top: 111px;
  height: 35px;
  width: 35px;
  background: none;
  pointer-events: auto;
  border: 3px solid #fff;
  border-radius: 50%;
  font-size: 0;
  transform: translateY(-50%);
  text-align: center;
  padding-top: 3px;
}
.slides-navigation .next::before {
  color: #fff;
  font-family: monospace;
  content: '>';
  opacity: 1;
  font-size: 23px;
  cursor: pointer;
}
.slides-pagination {
  position: absolute;
  z-index: 3;
  bottom: 25%;
  text-align: center;
  width: 100%;
  right: 40%;
}
