{#
/**
 * @file
 * Default theme implementation to display a linkedin social share link.
 *
 * Available variables:
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 * - linkedin_link_text: The sharing link text.
 * - linkedin_url: URL of the page that to be shared.
 * - linkedin_title: A short text to use for sharing.
 * - linkedin_summary: A short description to share.
 * - linkedin_source: A source of the content.
 *
 * See \Drupal\social_share\Plugin\SocialShareLink\LInkedInShareLink() for a
 * a complete list of supported variables. Every context defind by the plugin
 * is made available as variable.
 *
 * @see https://developer.linkedin.com/docs/share-on-linkedin
 *
 * @ingroup themeable
 */
#}

{{ attach_library('social_share/popup') }}

{% if linkedin_url == '<current>' %}
  {% set linkedin_url = url('<current>')|render|striptags %}
{% endif %}

{% set url_params = {
  'url': linkedin_url,
  'title': linkedin_title,
  'summary': linkedin_summary,
  'source': linkedin_source,
  'mini': 'true',
}
%}
{% set attributes = attributes.
  setAttribute('target', '_blank').
  setAttribute('data-popup-height', '300').
  setAttribute('data-popup-width', '500').
  setAttribute('title', linkedin_link_text).
  addClass('js-social-share-popup').
  addClass('social-share-twitter')
%}

{% set url = 'https://www.linkedin.com/shareArticle?' ~ url_params|url_encode %}

<a href="{{ url }}" {{ attributes }}>
  {{ linkedin_link_text }}
</a>
