{#
/**
 * @file site.html.twig
 * Default theme implementation to present Site data.
 * This template is used when viewing Site pages.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 * - view_mode: The site view mode.
 * - site: The site entity.
 * - site_name: The micro site name.
 * - site_path: The micro site full URL (http://wwww.example.org)
 * - site_url : The micro site URL (www.example.org)
 *
 * @see template_preprocess_site()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('micro_site/local.tasks') }}
<div{{ attributes.addClass('site') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
