{#
/**
 * @file
 * Default theme implementation for a site edit form.
 *
 * Two column template for the site add/edit form.
 *
 * This template will be used when a site edit form specifies 'site_edit_form'
 * as its #theme callback.  Otherwise, by default, site add/edit forms will be
 * themed by form.html.twig.
 *
 * Available variables:
 * - form: The site add/edit form.
 *
 * @see micro_site_form_site_form_alter()
 *
 * @ingroup themeable
 */
#}
<div class="layout-site-form clearfix">
  <div class="layout-region layout-region-site-main">
    {{ form|without('advanced', 'actions') }}
  </div>
  <div class="layout-region layout-region-site-secondary">
    {{ form.advanced }}
  </div>
  <div class="layout-region layout-region-site-footer">
    {{ form.actions }}
  </div>
</div>
