{#
/**
 * @file
 * Theme override for the Widget Engine. Template copied from core/modules/system/templates/page.html.twig
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<div class="layout-container">

    <main role="main">
        <div class="layout-content">

            {{ page.content }}

        </div>{# /.layout-content #}
    </main>

</div>{# /.layout-container #}
