.social-connect{
  text-align: center;
}
.social-connect .connections{
  cursor: pointer;
  display: inline-block;
  margin: 0 5px;
  vertical-align: middle;
}
.social-connect .connections .item{
  border-radius: 3px;
  color: #fff;
  height: 36px;
  padding-right: 20px;
  float: left;
  margin-right: 20px;
}
.social-connect .connections .item:last-child{
  margin-right: 0px;
}
.social-connect .connections span{
  border-radius: 3px;
  display: inline-block;
  height: 36px;
  margin-right: 20px;
  vertical-align: middle;
  width: 36px;
}
.social-connect .connections .facebook{
  background-color: #3b57a1;
}
.social-connect .connections .facebook:hover{
  background-color: #324E97;
}
.social-connect .connections .facebook span{
  background: url(../images/facebook.png) center/contain no-repeat #324e97;
}
.social-connect .connections .google{
  background-color: #ea4930;
}
.social-connect .connections .google:hover{
  background-color: #db3c23;
}
.social-connect .connections .google span{
  background: url(../images/google.png) center/contain no-repeat #db3c23;
}
.social-connect-caption{
  padding: 10px 20px;
  text-align: center;
}