.show-password {
  background-image: url("/modules/custom/login_by/images/view-password.svg");
  height: 24px;
  display: inline-block;
  width: 29px;
  position: absolute;
  margin-left: -33px; 
}
.form-item-pass {
	position: relative;
}
.show-password:hover {
    cursor: pointer;
}

/*
*	Login Template Design
*/
#login_by_box {
  width: 30%;
  margin: 0 auto;
  padding: 100px 0 0;
  font-family: sans-serif;
}
#login_by_box .tabs {
	display: none;
} 
#login_by_box #top_part {
  text-align: center;
  margin: 0;
}

#login_by_box h2.title {
  margin: 0;
  font-size: 2em;
}

#login_by_box #middle {
  border-radius: 3px;
  background: #fff;
  padding: 15px;
  overflow: hidden;
  box-shadow: 0 0 3px 1px #ccc;
}

#login_by_box input[type="text"],
#login_by_box input[type="password"] {
  width: auto;
  border: 1px #ccc solid;
  border-radius: 3px;
  padding: 5px;
  font-size: 15px;
}

#login_by_box input[type="submit"] {
  float: right;
}

#login_by_box .page-title {
	font-size: 22px;
}

.back-home {
    float: left;
    margin-top: -12px;
}
body {
	background: #fff !important;
}