.demo-container {
  position: relative;
  height: 400px;
}

#placeholder {
  width: 550px;
}

#menu {
  position: absolute;
  top: 20px;
  left: 625px;
  bottom: 20px;
  right: 20px;
  width: 200px;
}

#menu button {
  display: inline-block;
  width: 200px;
  padding: 3px 0 2px 0;
  margin-bottom: 4px;
  background: #eee;
  border: 1px solid #999;
  border-radius: 2px;
  font-size: 16px;
  -o-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  -ms-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  cursor: pointer;
}

#description {
  margin: 15px 10px 20px 10px;
}

#code {
  display: block;
  width: 870px;
  padding: 15px;
  margin: 10px auto;
  border: 1px dashed #999;
  background-color: #f8f8f8;
  font-size: 16px;
  line-height: 20px;
  color: #666;
}

ul {
  font-size: 10pt;
}

ul li {
  margin-bottom: 0.5em;
}

ul.options li {
  list-style: none;
  margin-bottom: 1em;
}

ul li i {
  color: #999;
}
