/**
 * @file
 * Style usage of the Formatter Suite's field formatters.
 */

/*-----------------------------------------------------------------------
 *
 * GeneralNumberWithBarIndicatorFormatter.
 *
 *-----------------------------------------------------------------------*/

/*
 * Give the bar a thin outline to show its extent.
 */
.formatter_suite-general-number-with-bar-indicator-outer {
  display: inline-block;
  border: 1px solid #ccc;
}

/*
 * Add margins on the left or right to put space between the value
 * and the bar.
 */
.formatter_suite-general-number-with-bar-indicator-left {
  margin-left: 0.5em;
}
.formatter_suite-general-number-with-bar-indicator-right {
  margin-right: 0.5em;
}

/*
 * Insure the bar honors the bar width and doesn't go to a new line.
 */
.formatter_suite-general-number-with-bar-indicator {
  display: inline-block;
}

/*-----------------------------------------------------------------------
 *
 * GeneralImageFormatter.
 *
 *-----------------------------------------------------------------------*/

.formatter_suite-general-image {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.formatter_suite-image-caption-title {
  font-weight: bold;
  flex-grow: 1;
}

/*-----------------------------------------------------------------------
 *
 * TextWithExpandCollapseButtonsFormatter.
 *
 *-----------------------------------------------------------------------*/

/*
 * Make sure that text overflows are simply hidden.
 */
.formatter_suite-text-with-expand-collapse-buttons .formatter_suite-text {
  overflow: hidden;
}

/*
 * Position buttons to the right after the text.
 */
.formatter_suite-text-with-expand-collapse-buttons .formatter_suite-text-expand-button,
.formatter_suite-text-with-expand-collapse-buttons .formatter_suite-text-collapse-button {
  clear: both;
  float: right;
}
