/**
 * @file
 * Style settings forms for the Formatter Suite's field formatters.
 */

/*-----------------------------------------------------------------------
 *
 * General.
 *
 *-----------------------------------------------------------------------*/

/* Wrapper around each of the module's settings for Field UI & View UI. */
.formatter_suite-field-formatter-settings {
  padding: 0.5em 0.5em 0 0.5em;
  max-width: 30em;
}

.formatter_suite-field-formatter-settings .formatter_suite-field-formatter-settings-description {
  padding-left: 0;
  padding-bottom: 0.25em;
  margin-bottom: 0.25em;
  margin-top: -0.25em;
}
.formatter_suite-field-formatter-settings .formatter_suite-field-formatter-settings-description p {
  margin: 0 0 1em 0;
}

.formatter_suite-field-formatter-settings .formatter_suite-field-formatter-settings-warning {
  /*
   * For formatters that are not fully configured, highlight a warning.
   */
  font-style: italic;
  color: #834343;
  padding-left: 0;
  padding-bottom: 0.5em;
}

.formatter_suite-field-formatter-settings .form-item {
  padding-left: 0;
  padding-bottom: 0.25em;
  margin: 0;
}
.formatter_suite-field-formatter-settings .form-item.form-disabled {
  /*
   * When form items are disabled, dim them into the background.
   */
  opacity: 0.5;
}
.formatter_suite-field-formatter-settings .form-item label {
  /*
   * Insure form items have their label beside the input. Give them a
   * preferred width so that they line up.
   */
  display: inline-block;
  min-width: 9em;
}
.formatter_suite-field-formatter-settings .form-item select,
.formatter_suite-field-formatter-settings .form-item input[type=color],
.formatter_suite-field-formatter-settings .form-item input[type=number],
.formatter_suite-field-formatter-settings .form-item input[type=text],
.formatter_suite-field-formatter-settings .form-item input[type=textfield],
.formatter_suite-field-formatter-settings .form-item input[type=textarea] {
  /*
   * Insure form item inputs are beside their labels. Give them a
   * preferred width so all of the inputs line up and look similar.
   */
  display: inline-block;
  min-width: 20em;
  width: 20em;
}
.formatter_suite-field-formatter-settings .form-item input[type=number] {
  min-width: 5em;
  width: 5em;
}
.formatter_suite-field-formatter-settings .form-item.formatter_suite-list-separator {
  padding-left: 1em;
}
.formatter_suite-field-formatter-settings .form-item.formatter_suite-list-separator label {
  min-width: 8em;
}
.formatter_suite-field-formatter-settings .form-item.formatter_suite-list-separator input[type=text] {
  min-width: 5em;
  width: 5em;
}
.formatter_suite-field-formatter-settings .form-item input[type=checkbox] {
  width: 1em;
}
.formatter_suite-field-formatter-settings .form-item .description {
  padding-left: 9em;
}
.formatter_suite-field-formatter-settings .form-type-checkbox .description {
  padding-left: 1em;
  margin-left: 0;
}

.formatter_suite-field-formatter-settings .formatter_suite-section-break {
  padding-bottom: 0.25em;
  margin-bottom: 0.25em;
}

.formatter_suite-deprecated {
  color: #8b0000;
  font-style: italic;
}

/*-----------------------------------------------------------------------
 *
 * GeneralNumberFormatter.
 *
 *-----------------------------------------------------------------------*/

/*
 * Add border and spacing before the first setting of each section.
 */
.formatter_suite-field-formatter-settings .form-item.formatter_suite-general-number-decimal-digits,
.formatter_suite-field-formatter-settings .form-item.formatter_suite-general-number-use-thousands-separator,
.formatter_suite-field-formatter-settings .form-item.formatter_suite-general-number-positive-style,
.formatter_suite-field-formatter-settings .form-item.formatter_suite-general-number-use-zero-padding,
.formatter_suite-field-formatter-settings .form-item.formatter_suite-general-number-use-prefix-and-suffix {
  border-top: 1px solid #aaa;
  padding-top: 0.25em;
  margin-top: 0.25em;
}

/*
 * Indent secondary settings and reduce their label widths
 */
.formatter_suite-field-formatter-settings .form-item.formatter_suite-general-number-number-base,
.formatter_suite-field-formatter-settings .form-item.formatter_suite-general-number-exponent-style,
.formatter_suite-field-formatter-settings .form-item.formatter_suite-general-number-padding-width,
.formatter_suite-field-formatter-settings .form-item.formatter_suite-general-number-decimal-separator,
.formatter_suite-field-formatter-settings .form-item.formatter_suite-general-number-thousands-separator {
  padding-left: 1em;
}

.formatter_suite-field-formatter-settings .form-item.formatter_suite-general-number-number-base label,
.formatter_suite-field-formatter-settings .form-item.formatter_suite-general-number-exponent-style label,
.formatter_suite-field-formatter-settings .form-item.formatter_suite-general-number-padding-width label,
.formatter_suite-field-formatter-settings .form-item.formatter_suite-general-number-decimal-separator label,
.formatter_suite-field-formatter-settings .form-item.formatter_suite-general-number-thousands-separator label {
  min-width: 8em;
}

/*
 * Bring related items closer together.
 */
.formatter_suite-field-formatter-settings .form-item.formatter_suite-general-number-positive-style,
.formatter_suite-field-formatter-settings .form-item.formatter_suite-general-number-use-thousands-separator,
.formatter_suite-field-formatter-settings .form-item.formatter_suite-general-number-decimal-digits {
  padding-bottom: 0;
}

/*
 * Try to make specific menu items red. This does not work on all browsers.
 */
.formatter_suite-field-formatter-settings .form-item.formatter_suite-general-number-negative-style select option[value="red"],
.formatter_suite-field-formatter-settings .form-item.formatter_suite-general-number-negative-style select option[value="redparenthesis"] {
  color: red;
}

.formatter_suite-field-formatter-settings .form-item.formatter_suite-general-number-list-separator {
  padding-left: 1em;
}
.formatter_suite-field-formatter-settings .form-item.formatter_suite-general-number-list-separator label {
  min-width: 8em;
}
.formatter_suite-field-formatter-settings .form-item.formatter_suite-general-number-list-separator input[type=text] {
  min-width: 5em;
  width: 5em;
}

/*-----------------------------------------------------------------------
 *
 * ImageEmbedDataFormatter.
 *
 *-----------------------------------------------------------------------*/

/* None */

/*-----------------------------------------------------------------------
 *
 * GeneralNumberListFormatter.
 *
 *-----------------------------------------------------------------------*/

/* None */

/*-----------------------------------------------------------------------
 *
 * NumberWithBytesFormatter.
 *
 *-----------------------------------------------------------------------*/

/* None */

/*-----------------------------------------------------------------------
 *
 * GeneralNumberWithBarIndicatorFormatter.
 *
 *-----------------------------------------------------------------------*/

.formatter_suite-field-formatter-settings .form-item.formatter_suite-general-number-with-bar-indicator-bar-color input[type=text],
.formatter_suite-field-formatter-settings .form-item.formatter_suite-general-number-with-bar-indicator-background-color input[type=text] {
  min-width: 5em;
  width: 5em;
}

/*-----------------------------------------------------------------------
 *
 * GeneralNumberWithMinMaxFormatter.
 *
 *-----------------------------------------------------------------------*/

.formatter_suite-field-formatter-settings .form-item.formatter_suite-general-number-with-minmax-custom-format {
  padding-left: 1em;
}
.formatter_suite-field-formatter-settings .form-item.formatter_suite-general-number-with-minmax-custom-format .description {
  padding-left: 8em;
}

.formatter_suite-field-formatter-settings .form-item.formatter_suite-general-number-with-minmax-custom-format label {
  min-width: 8em;
}

.formatter_suite-field-formatter-settings .form-item.formatter_suite-general-number-with-minmax-common-format {
  padding-bottom: 0;
}

/*-----------------------------------------------------------------------
 *
 * TextWithExpandCollapseButtonsFormatter.
 *
 *-----------------------------------------------------------------------*/

/* None */

/*-----------------------------------------------------------------------
 *
 * GeneralEmailFormatter.
 *
 *-----------------------------------------------------------------------*/

.formatter_suite-field-formatter-settings .form-item.formatter_suite-general-email-title-custom-text,
.formatter_suite-field-formatter-settings .form-item.formatter_suite-general-email-list-separator {
  padding-left: 1em;
}

.formatter_suite-field-formatter-settings .form-item.formatter_suite-general-email-title-custom-text label,
.formatter_suite-field-formatter-settings .form-item.formatter_suite-general-email-list-separator label {
  min-width: 8em;
}
.formatter_suite-field-formatter-settings .form-item.formatter_suite-general-email-list-separator input[type=text] {
  min-width: 5em;
  width: 5em;
}

/*-----------------------------------------------------------------------
 *
 * GeneralLinkFormatter.
 *
 *-----------------------------------------------------------------------*/

.formatter_suite-field-formatter-settings .form-item.formatter_suite-general-link-title-custom-text,
.formatter_suite-field-formatter-settings .form-item.formatter_suite-general-link-list-separator,
.formatter_suite-field-formatter-settings .form-item.formatter_suite-general-link-open-link-in,
.formatter_suite-field-formatter-settings .form-item.formatter_suite-general-link-noreferrer,
.formatter_suite-field-formatter-settings .form-item.formatter_suite-general-link-noopener,
.formatter_suite-field-formatter-settings .form-item.formatter_suite-general-link-nofollow,
.formatter_suite-field-formatter-settings .form-item.formatter_suite-general-link-link-topic {
  padding-left: 1em;
}

.formatter_suite-field-formatter-settings .form-item.formatter_suite-general-link-title-custom-text label,
.formatter_suite-field-formatter-settings .form-item.formatter_suite-general-link-list-separator label,
.formatter_suite-field-formatter-settings .form-item.formatter_suite-general-link-open-link-in label,
.formatter_suite-field-formatter-settings .form-item.formatter_suite-general-link-link-topic label {
  min-width: 8em;
}
.formatter_suite-field-formatter-settings .form-item.formatter_suite-general-link-list-separator input[type=text] {
  min-width: 5em;
  width: 5em;
}

/*-----------------------------------------------------------------------
 *
 * GeneralEntityReferenceFormatter.
 *
 *-----------------------------------------------------------------------*/

.formatter_suite-field-formatter-settings .form-item.formatter_suite-general-entity-reference-title-custom-text,
.formatter_suite-field-formatter-settings .form-item.formatter_suite-general-entity-reference-list-separator,
.formatter_suite-field-formatter-settings .form-item.formatter_suite-general-entity-reference-open-link-in,
.formatter_suite-field-formatter-settings .form-item.formatter_suite-general-entity-reference-link-topic {
  padding-left: 1em;
}

.formatter_suite-field-formatter-settings .form-item.formatter_suite-general-entity-reference-title-custom-text label,
.formatter_suite-field-formatter-settings .form-item.formatter_suite-general-entity-reference-list-separator label,
.formatter_suite-field-formatter-settings .form-item.formatter_suite-general-entity-reference-open-link-in label,
.formatter_suite-field-formatter-settings .form-item.formatter_suite-general-entity-reference-link-topic label {
  min-width: 8em;
}
.formatter_suite-field-formatter-settings .form-item.formatter_suite-general-entity-reference-list-separator input[type=text] {
  min-width: 5em;
  width: 5em;
}

/*-----------------------------------------------------------------------
 *
 * GeneralFileLinkFormatter.
 *
 *-----------------------------------------------------------------------*/

.formatter_suite-field-formatter-settings .form-item.formatter_suite-general-file-link-title-custom-text,
.formatter_suite-field-formatter-settings .form-item.formatter_suite-general-file-link-list-separator,
.formatter_suite-field-formatter-settings .form-item.formatter_suite-general-file-link-open-link-in,
.formatter_suite-field-formatter-settings .form-item.formatter_suite-general-file-link-noreferrer,
.formatter_suite-field-formatter-settings .form-item.formatter_suite-general-file-link-noopener,
.formatter_suite-field-formatter-settings .form-item.formatter_suite-general-file-link-nofollow,
.formatter_suite-field-formatter-settings .form-item.formatter_suite-general-file-link-link-topic {
  padding-left: 1em;
}

.formatter_suite-field-formatter-settings .form-item.formatter_suite-general-file-link-title-custom-text label,
.formatter_suite-field-formatter-settings .form-item.formatter_suite-general-file-link-list-separator label,
.formatter_suite-field-formatter-settings .form-item.formatter_suite-general-file-link-open-link-in label,
.formatter_suite-field-formatter-settings .form-item.formatter_suite-general-file-link-link-topic label {
  min-width: 8em;
}

.formatter_suite-field-formatter-settings .form-item.formatter_suite-general-file-link-list-separator input[type=text] {
  min-width: 5em;
  width: 5em;
}

/*-----------------------------------------------------------------------
 *
 * GeneralImageFormatter.
 *
 *-----------------------------------------------------------------------*/

.formatter_suite-field-formatter-settings .form-item.formatter_suite-general-image-caption-include-title,
.formatter_suite-field-formatter-settings .form-item.formatter_suite-general-image-caption-include-filename,
.formatter_suite-field-formatter-settings .form-item.formatter_suite-general-image-caption-include-size,
.formatter_suite-field-formatter-settings .form-item.formatter_suite-general-image-caption-include-dimensions,
.formatter_suite-field-formatter-settings .form-item.formatter_suite-general-image-caption-include-mime,
.formatter_suite-field-formatter-settings .form-item.formatter_suite-general-image-open-link-in {
  padding-left: 1em;
}

.formatter_suite-field-formatter-settings .form-item.formatter_suite-general-image-caption-include-title label,
.formatter_suite-field-formatter-settings .form-item.formatter_suite-general-image-caption-include-filename label,
.formatter_suite-field-formatter-settings .form-item.formatter_suite-general-image-caption-include-size label,
.formatter_suite-field-formatter-settings .form-item.formatter_suite-general-image-caption-include-dimensions label,
.formatter_suite-field-formatter-settings .form-item.formatter_suite-general-image-caption-include-mime label,
.formatter_suite-field-formatter-settings .form-item.formatter_suite-general-image-open-link-in label {
  min-width: 8em;
}
