.fourcol-2-4-4-2 .arc--2 .l-r {
  width: 50%;
  float: left;
}

.fourcol-2-4-4-2 .arc--3 .l-r,
.fourcol-2-4-4-2 .arc--4 .l-r {
  width: 33.33333%;
  float: left;
}

.fourcol-2-4-4-2 .arc--4 .l-r:first-child, .fourcol-2-4-4-2 .arc--4 .l-r:last-child {
  width: 16.66667%;
  float: left;
}

.fourcol-2-4-4-2 .l-rw:not(.arc--1) .l-r:last-child {
  float: right;
  margin-right: 0;
}
