{#
/**
 * @file
 * Default theme implementation for a multicolumn row.
 *
 * Available variables:
 * - items:  An array of items in the list.
 * - class:  The HTML class to add to the outer element.
 *
 * @see template_preprocess_multicolumn_row()
 *
 * @ingroup themeable
#}
{{ attach_library('multicolumn/multicolumn') }}
{%- if items -%}
  <div class="{{ class }}">
    {%- for item in items -%}
      {{ item }}
    {%- endfor -%}
  </div>
{%- else -%}
  {{- empty -}}
{%- endif -%}
