<div id="color-schema-ui">

  {% for colorMachineName, colorHumanReadableName in colors %}
    <button type="button" class="btn btn-default {{ colorMachineName }}">{{ colorHumanReadableName|t }}</button>
  {% endfor %}

  <br />
  <button type="button" class="btn btn-default save">{{ 'Save'|t }}</button>

</div>
