{#
/**
 * @file
 * Default theme implementation to display a Bootstrap navigation bar toggler.
 *
 * Available variables:
 * - label: Additional label to put in button.
 * - attributes: HTML attributes for the containing element.
 *
 * @see template_preprocess_bs_lib_toggle_button()
 *
 * @ingroup themeable
 */
#}
<button {{ attributes }}>
  <span class="navbar-toggler-icon"></span>
  {% if label %}
    <span class="navbar-toggler-label">{{ label }}</span>
  {% endif %}
</button>
