<div id="homebox-block-{{ block_id }}" class="homebox-portlet homebox-draggable block-homebox">
    <div class="homebox-portlet-inner">
        <h3 class="portlet-header">
            <span class="portlet-title">{{ block_title }}</span>
            <a class="portlet-icon portlet-close">{{ 'Close'|t }}</a>
        </h3>
        <div class="portlet-content content">{{ block_content }}</div>
    </div>
</div>
