
#block-mailblock {
	width: 500px;
	padding: 20px 0;
	background-color: rgb(247, 247, 247);
    border-radius: 5px;
}

#mailme-form {
	width: 450px;
	margin: 0 auto;
}

.mailme-form {
	width: 500px;
	margin: 0 auto;
}

.mailme-form h2 {
	font-family: 'Montserrat';
	font-weight: 500;
	color: #4c4c4c;
	text-align: center;
}

.mail-form-container label{
	display: block;
	font: 500 16px 'Montserrat' !important;
	padding-bottom: 5px;
	
}

.mailme-form input {
	border-radius: 5px;
	border: 1px solid #a9a9a9;
    height: 30px;
	font: 400 16px 'Montserrat';
	width: 443px;
	padding-left: 5px;
}

.mailme-form textarea {
	border-radius: 5px;
	border: 1px solid #a9a9a9;
	font: 400 16px 'Montserrat';
	width: 441px;
	padding-left: 5px;
}

.mail-form-container .form-item {
	margin-bottom: 15px;
	width: 450px;
}

 #mailme-form .mail-form-submit {
	width: 450px !important;
    background: #0074d9;
    color: white !important;
}