
.flexfield-inline {
  display: flex;
}

.flexfield-inline__item {
  flex: 1 1 0;
  padding-right: 1em;
}

.flexfield-inline__item:last-child {
  padding-right: 0;
}

.flexfield-inline__item--one {
  flex-grow: 1;
}

.flexfield-inline__item--two {
  flex-grow: 2;
}

.flexfield-inline__item--three {
  flex-grow: 3;
}

.flexfield-inline__item--four {
  flex-grow: 4;
}

.flexfield-inline__field {
  width: 100%;
}

@media all and (max-width: 48em) { /* 768px on Seven theme */

  .flexfield-inline--stack-medium {
    display: block;
  }

  .flexfield-inline--stack-medium .flexfield-inline__item {
    padding-right: 0;
  }

}

@media screen and (max-width: 37.5em) { /* 600px on Seven theme */

  .flexfield-inline--stack-small {
    display: block;
  }

  .flexfield-inline--stack-small .flexfield-inline__item {
    padding-right: 0;
  }

}
