.questions-action .details-wrapper .form-type-textarea {
  float: left;
  padding: 0;
  width: 50%;
}
.questions-action .details-wrapper .form-type-checkbox {
  box-sizing: border-box;
  float: left;
  padding: 30px 30px;
  width: 50%;
}
details#edit-options {
  display: inline-block;
}
.details-wrapper .option_set {
  float: left;
  width: 100%;
}
.questions-action .details-wrapper .form-item-multi-answer {
  padding: 0;
}
#exam_timer {
  float: right;
  font-size: 23px;
  font-weight: bold;
  position: relative;
}
.exam_spider_slider_exam .exam_spider_slider {
  display: none;
}
.exam_spider_slider_exam .exam_spider_slider.show {
  display: block;
}
.form-item.form-type-select.form-item-filter-exam-name {
  float: left;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 8px;
  padding-top: 2px;
}
.questions-list-table {
  margin-top: 1em;
}
