

.editors-page > header,
.editors-page  > footer
{
  display:none;
}

.editors-page.toolbar-fixed
{
  background-color: white;

}

.editors-page.toolbar-fixed h1
{
  color: black;
}



.editors-page.toolbar-fixed 
{
    margin-top: 2px;
    background-color: white;
}

.editors-page.toolbar-fixed  .block
{
    display:none;
}

.editors-page.toolbar-fixed .block-page-title-block,
.editors-page.toolbar-fixed .block-system-main-block
{
    display:block;
}

.editors-page.toolbar-fixed div {
  font-size: 14px;
  line-height: 1.42857143;
  color: #333 !important;
}

.editors-page.toolbar-fixed  div input[type="text"],
.editors-page.toolbar-fixed  div textarea{
  width: 100% ;
  border-radius: 0;
  -webkit-box-shadow: none;
    -moz-box-shadow: none;
	box-shadow: none;
  border:1px solid #cccccc;
    padding: 5px;
    margin:0 0 10px 0;
}
/*
.editors-page.toolbar-fixed  div form label {
   clear:both;
  width:100%;
}
*/
.editors-page.toolbar-fixed  .node-form > div  ul {
  list-style: none;
}
.editors-page.toolbar-fixed  .node-form > #field-tags-add-more-wrapper,



.editors-page.toolbar-fixed  #views-form-content-page-1  .js-form-type-select {
    margin-top: 50px;

}

.editors-page.toolbar-fixed  .node-form > .form-item {
  width:95%;
}


.editors-page table .checkbox  input[type='checkbox']{
    margin-left: 20px;
}

.editors-page.toolbar-fixed  input[type="submit"] {
    float: left;
}

.editors-page.toolbar-fixed  #edit-delete {
    float: left;
    margin-left: 15px;
    padding-top: 4px;
    color: red;
}


.editors-page.toolbar-fixed  #blocks tr th:first-child {
    width: 250px;
}
.editors-page.toolbar-fixed  .node-form input.form-autocomplete,
.editors-page.toolbar-fixed .node-form input.form-text,
.editors-page.toolbar-fixed .node-form input.form-tel,
.editors-page.toolbar-fixed .node-form input.form-email,
.editors-page.toolbar-fixed .node-form input.form-url,
.editors-page.toolbar-fixed .node-form input.form-search,
.editors-page.toolbar-fixed .node-form input.form-number,
.editors-page.toolbar-fixed .node-form input.form-color,
.editors-page.toolbar-fixed .node-form input.form-file,
.editors-page.toolbar-fixed .node-form input.form-date,
.editors-page.toolbar-fixed .node-form input.form-time,
.editors-page.toolbar-fixed .node-form textarea.form-textarea {
    box-sizing: border-box;
    padding: .3em .4em .3em .5em;
    max-width: 100%;
    border: 1px solid #b8b8b8;
    border-top-color: #999;
    border-radius: 2px;
    background: #fcfcfa;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .125);
    font-size: 1em;
    color: #595959;
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}

.editors-page.toolbar-fixed thead th {
    background: #f5f5f2;
    border: solid #bfbfba;
    border-width: 1px 0;
    color: #333;
    text-transform: uppercase;
}

.editors-page.toolbar-fixed .node-form .link {
    display: inline;
    cursor: pointer;
    padding: 0;
    border: 0;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: #0074bd;
    text-decoration: none;
}

.editors-page.toolbar-fixed .node-form .label {
    display: inline;
    font-size: 100%;
    font-weight: bold;
    line-height: 1;
    color: black;
    text-align: center;

}

.editors-page .block-system-main-block table {
    width:100%;
    margin-top:40px;
}

.editors-page.toolbar-fixed  table .checkbox  {
    margin-top: 0;
    margin-bottom: 0;
}

.editors-page.toolbar-fixed details {
    padding:5px;
    border: 1px solid #ccc;
    margin: 10px;
    line-height: 1.295em;
}

.editors-page.toolbar-fixed details div label {
    clear: none;
    margin-left: 10px;
    margin-right: 10px;
    width: inherit;
}

.editors-page.toolbar-fixed  .form-item > label {
    margin-right: 10px;
}
.editors-page.toolbar-fixed  .handle {
    background: url(../images/move.svg) no-repeat 15px 5px;
    height: 24px;
    margin: 0;
    padding: 0;
    width: 40px;
}

.editors-page.toolbar-fixed  .image-widget img{
    width:100px;
}
/**
 * boxes editor does not need to see
 */
.editors-page.toolbar-fixed  div.description,
.editors-page.toolbar-fixed #edit-label-machine-name-suffix{
    display:none;
}