#__dimScreen {
  min-height: 100%;
}

#__dimScreen .overlay-wrapper {
  min-height: 100%;
}

#__dimScreen .message {
  z-index: 800;
  width: 50%;
  top: 25%;
  left: 25%;
  padding: 20px;
  position: absolute;
  background-color: #fff;
}
