/**
 * CSS for submission timeout module.
 */
.form-submission-timeout-table {
  position: relative;
}

.form-submission-timeout-table tbody td {
  transition: all 0.5s linear;
  text-align: center;
  padding: 10px 0;
}
.form-submission-timeout-table.timed tbody td {
  padding: 10px 0;
}
.form-submission-timeout-table tbody td:last-child {
  width: 10%;
}

.form-submission-timeout-table .form-text {
  width: 15em;
}
.form-submission-timeout-table .countdown-time {
  width: 4em;
}
.form-submission-timeout-table.timed th {
  font-size: 1em;
  text-align: center;
}

.form-submission-timeout-table.timed.form-select {
  width: 6em;
}
.form-submission-timeout-table.timed .form-text {
  width: 4em;
}
.form-submission-timeout-table.timed .form-date {
  width: 12em;
}
.form-submission-timeout-table.timed .fst-text {
  width: 11em;
}
.form-submission-timeout-table.timed .form-select,
.form-submission-timeout-table.timed .form-text,
.form-submission-timeout-table.timed .form-date,
.form-submission-timeout-table.timed .form-item .description {
  font-size: 0.8em;
}
.form-item-sub-out-stop-submission-fieldset-new-form-entry-sub-out-new-start-timeout-period,
.form-item-sub-out-stop-submission-fieldset-new-form-entry-sub-out-new-stop-timeout-period {
  position: relative;
  top: 10px;
}


.form-item-sub-out-stop-submission-fieldset-new-form-entry-sub-out-new-stop-timeout-message {
  position: relative;
  top: 10px;
}

.fst-overlay:before {
  content: "Clicking Remove will delete this entry completely.";
  position: absolute;
  left: 0;
  width: 90.14%;
  padding: 8px 10px;
  margin-top: -8px;
  background: rgba(0,0,0,0.7);
  text-align: center;
  color: #fff;
  transition: all 2s linear;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.fst-input-disabled {
  opacity: 0.35;
}

#fst-countdown {
  line-height: 25%;
  padding: 10px;
}

.fst-countdown-seconds-left {
  color: red;
}

.fst-countdown-over {
  font-size: inherit;
  overlay: 1;
  color: #550000;
  font-weight: bold;
}