.flag {
  background-image: url(flag-icons.png);
  background-repeat: no-repeat;
  width: 16px;
  min-width: 16px;
  height: 11px;
  float: left;
  display: block;
  margin-right: 3px;
  display: inline-block;
}
  
[dir="rtl"] .flag {
  float: right;
  margin-left: 3px;
  margin-right: 0px;
}

.flag-after {
  float:none;
  margin-left: 3px;
  margin-right: 0px;
}

[dir="rtl"] .flag-after {
  float:none;
  margin-left: 0px;
  margin-right: 3px;
}

.flag-instead {
  float:none;
}

.field__flags__item {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.flag-before {
    order: -1;
}

.flag-ac {background-position: 0 0;}
.flag-ad {background-position: -16px 0;}
.flag-ae {background-position: -32px 0;}
.flag-af {background-position: -48px 0;}
.flag-ag {background-position: -64px 0;}
.flag-ai {background-position: -80px 0;}
.flag-al {background-position: -96px 0;}
.flag-am {background-position: -112px 0;}
.flag-an {background-position: -128px 0;}
.flag-ao {background-position: -144px 0;}
.flag-aq {background-position: -160px 0;}
.flag-ar {background-position: -176px 0;}
.flag-ara {background-position: -192px 0;}
.flag-as {background-position: 0 -11px;}
.flag-at {background-position: -16px -11px;}
.flag-au {background-position: -32px -11px;}
.flag-aw {background-position: -48px -11px;}
.flag-ax {background-position: -64px -11px;}
.flag-az {background-position: -80px -11px;}
.flag-ba {background-position: -96px -11px;}
.flag-bb {background-position: -112px -11px;}
.flag-bd {background-position: -128px -11px;}
.flag-be {background-position: -144px -11px;}
.flag-bf {background-position: -160px -11px;}
.flag-bg {background-position: -176px -11px;}
.flag-bh {background-position: -192px -11px;}
.flag-bi {background-position: 0 -22px;}
.flag-bj {background-position: -16px -22px;}
.flag-bl {background-position: -32px -22px;}
.flag-bm {background-position: -48px -22px;}
.flag-bn {background-position: -64px -22px;}
.flag-bo {background-position: -80px -22px;}
.flag-bod {background-position: -96px -22px;}
.flag-br {background-position: -112px -22px;}
.flag-bs {background-position: -128px -22px;}
.flag-bt {background-position: -144px -22px;}
.flag-bw {background-position: -160px -22px;}
.flag-by {background-position: -176px -22px;}
.flag-bz {background-position: -192px -22px;}
.flag-ca {background-position: 0 -33px;}
.flag-cc {background-position: -16px -33px;}
.flag-cd {background-position: -32px -33px;}
.flag-cf {background-position: -48px -33px;}
.flag-cg {background-position: -64px -33px;}
.flag-ci {background-position: -80px -33px;}
.flag-ck {background-position: -96px -33px;}
.flag-cl {background-position: -112px -33px;}
.flag-cm {background-position: -128px -33px;}
.flag-cn {background-position: -144px -33px;}
.flag-co {background-position: -160px -33px;}
.flag-cr {background-position: -176px -33px;}
.flag-crs-io {background-position: -192px -33px;}
.flag-cu {background-position: 0 -44px;}
.flag-cv {background-position: -16px -44px;}
.flag-cw {background-position: -32px -44px;}
.flag-cx {background-position: -48px -44px;}
.flag-cy {background-position: -64px -44px;}
.flag-cz {background-position: -80px -44px;}
.flag-de {background-position: -96px -44px;}
.flag-dj {background-position: -112px -44px;}
.flag-dk {background-position: -128px -44px;}
.flag-dm {background-position: -144px -44px;}
.flag-do {background-position: -160px -44px;}
.flag-dz {background-position: -176px -44px;}
.flag-ec {background-position: -192px -44px;}
.flag-ee {background-position: 0 -55px;}
.flag-eg {background-position: -16px -55px;}
.flag-eh {background-position: -32px -55px;}
.flag-epo {background-position: -48px -55px;}
.flag-er {background-position: -64px -55px;}
.flag-es {background-position: -80px -55px;}
.flag-es-as {background-position: -96px -55px;}
.flag-es-ct {background-position: -112px -55px;}
.flag-es-ga {background-position: -128px -55px;}
.flag-et {background-position: -144px -55px;}
.flag-eu {background-position: -160px -55px;}
.flag-eus {background-position: -176px -55px;}
.flag-fi {background-position: -192px -55px;}
.flag-fj {background-position: 0 -66px;}
.flag-fk {background-position: -16px -66px;}
.flag-fm {background-position: -32px -66px;}
.flag-fo {background-position: -48px -66px;}
.flag-fr {background-position: -64px -66px;}
.flag-ga {background-position: -80px -66px;}
.flag-gb {background-position: -96px -66px;}
.flag-gb-eng {background-position: -112px -66px;}
.flag-gb-sct {background-position: -128px -66px;}
.flag-gb-wls {background-position: -144px -66px;}
.flag-gd {background-position: -160px -66px;}
.flag-ge {background-position: -176px -66px;}
.flag-gf {background-position: -192px -66px;}
.flag-gg {background-position: 0 -77px;}
.flag-gh {background-position: -16px -77px;}
.flag-gi {background-position: -32px -77px;}
.flag-gl {background-position: -48px -77px;}
.flag-gm {background-position: -64px -77px;}
.flag-gn {background-position: -80px -77px;}
.flag-gp {background-position: -96px -77px;}
.flag-gq {background-position: -112px -77px;}
.flag-gr {background-position: -128px -77px;}
.flag-gs {background-position: -144px -77px;}
.flag-gt {background-position: -160px -77px;}
.flag-gu {background-position: -176px -77px;}
.flag-gw {background-position: -192px -77px;}
.flag-gy {background-position: 0 -88px;}
.flag-hk {background-position: -16px -88px;}
.flag-hn {background-position: -32px -88px;}
.flag-hr {background-position: -48px -88px;}
.flag-ht {background-position: -64px -88px;}
.flag-hu {background-position: -80px -88px;}
.flag-id {background-position: -96px -88px;}
.flag-ie {background-position: -112px -88px;}
.flag-il {background-position: -128px -88px;}
.flag-im {background-position: -144px -88px;}
.flag-in {background-position: -160px -88px;}
.flag-io {background-position: -176px -88px;}
.flag-iq {background-position: -192px -88px;}
.flag-ir {background-position: 0 -99px;}
.flag-is {background-position: -16px -99px;}
.flag-it {background-position: -32px -99px;}
.flag-je {background-position: -48px -99px;}
.flag-jm {background-position: -64px -99px;}
.flag-jo {background-position: -80px -99px;}
.flag-jp {background-position: -96px -99px;}
.flag-ke {background-position: -112px -99px;}
.flag-kg {background-position: -128px -99px;}
.flag-kh {background-position: -144px -99px;}
.flag-ki {background-position: -160px -99px;}
.flag-km {background-position: -176px -99px;}
.flag-kn {background-position: -192px -99px;}
.flag-kp {background-position: 0 -110px;}
.flag-kr {background-position: -16px -110px;}
.flag-kur {background-position: -32px -110px;}
.flag-kw {background-position: -48px -110px;}
.flag-ky {background-position: -64px -110px;}
.flag-kz {background-position: -80px -110px;}
.flag-la {background-position: -96px -110px;}
.flag-lb {background-position: -112px -110px;}
.flag-lc {background-position: -128px -110px;}
.flag-li {background-position: -144px -110px;}
.flag-lk {background-position: -160px -110px;}
.flag-lr {background-position: -176px -110px;}
.flag-ls {background-position: -192px -110px;}
.flag-lt {background-position: 0 -121px;}
.flag-lu {background-position: -16px -121px;}
.flag-lv {background-position: -32px -121px;}
.flag-ly {background-position: -48px -121px;}
.flag-ma {background-position: -64px -121px;}
.flag-mc {background-position: -80px -121px;}
.flag-md {background-position: -96px -121px;}
.flag-me {background-position: -112px -121px;}
.flag-mg {background-position: -128px -121px;}
.flag-mh {background-position: -144px -121px;}
.flag-mk {background-position: -160px -121px;}
.flag-ml {background-position: -176px -121px;}
.flag-mm {background-position: -192px -121px;}
.flag-mn {background-position: 0 -132px;}
.flag-mo {background-position: -16px -132px;}
.flag-mp {background-position: -32px -132px;}
.flag-mq {background-position: -48px -132px;}
.flag-mr {background-position: -64px -132px;}
.flag-ms {background-position: -80px -132px;}
.flag-mt {background-position: -96px -132px;}
.flag-mu {background-position: -112px -132px;}
.flag-mv {background-position: -128px -132px;}
.flag-mw {background-position: -144px -132px;}
.flag-mx {background-position: -160px -132px;}
.flag-my {background-position: -176px -132px;}
.flag-mz {background-position: -192px -132px;}
.flag-na {background-position: 0 -143px;}
.flag-nc {background-position: -16px -143px;}
.flag-ne {background-position: -32px -143px;}
.flag-nf {background-position: -48px -143px;}
.flag-ng {background-position: -64px -143px;}
.flag-ni {background-position: -80px -143px;}
.flag-nl {background-position: -96px -143px;}
.flag-nl-fy {background-position: -112px -143px;}
.flag-no {background-position: -128px -143px;}
.flag-nr {background-position: -144px -143px;}
.flag-nu {background-position: -160px -143px;}
.flag-nz {background-position: -176px -143px;}
.flag-oci {background-position: -192px -143px;}
.flag-om {background-position: 0 -154px;}
.flag-pa {background-position: -16px -154px;}
.flag-pe {background-position: -32px -154px;}
.flag-pf {background-position: -48px -154px;}
.flag-pg {background-position: -64px -154px;}
.flag-ph {background-position: -80px -154px;}
.flag-pk {background-position: -96px -154px;}
.flag-pl {background-position: -112px -154px;}
.flag-pm {background-position: -128px -154px;}
.flag-pn {background-position: -144px -154px;}
.flag-pr {background-position: -160px -154px;}
.flag-ps {background-position: -176px -154px;}
.flag-pt {background-position: -192px -154px;}
.flag-pw {background-position: 0 -165px;}
.flag-py {background-position: -16px -165px;}
.flag-qa {background-position: -32px -165px;}
.flag-ro {background-position: -48px -165px;}
.flag-rs {background-position: -64px -165px;}
.flag-ru {background-position: -80px -165px;}
.flag-rw {background-position: -96px -165px;}
.flag-sa {background-position: -112px -165px;}
.flag-sb {background-position: -128px -165px;}
.flag-sc {background-position: -144px -165px;}
.flag-sd {background-position: -160px -165px;}
.flag-se {background-position: -176px -165px;}
.flag-sg {background-position: -192px -165px;}
.flag-sh {background-position: 0 -176px;}
.flag-si {background-position: -16px -176px;}
.flag-sk {background-position: -32px -176px;}
.flag-sl {background-position: -48px -176px;}
.flag-sm {background-position: -64px -176px;}
.flag-sme {background-position: -80px -176px;}
.flag-sn {background-position: -96px -176px;}
.flag-so {background-position: -112px -176px;}
.flag-sr {background-position: -128px -176px;}
.flag-ss {background-position: -144px -176px;}
.flag-st {background-position: -160px -176px;}
.flag-sv {background-position: -176px -176px;}
.flag-sx {background-position: -192px -176px;}
.flag-sy {background-position: 0 -187px;}
.flag-sz {background-position: -16px -187px;}
.flag-ta {background-position: -32px -187px;}
.flag-tam {background-position: -48px -187px;}
.flag-tc {background-position: -64px -187px;}
.flag-td {background-position: -80px -187px;}
.flag-tf {background-position: -96px -187px;}
.flag-tg {background-position: -112px -187px;}
.flag-th {background-position: -128px -187px;}
.flag-tj {background-position: -144px -187px;}
.flag-tk {background-position: -160px -187px;}
.flag-tl {background-position: -176px -187px;}
.flag-tm {background-position: -192px -187px;}
.flag-tn {background-position: 0 -198px;}
.flag-to {background-position: -16px -198px;}
.flag-tr {background-position: -32px -198px;}
.flag-tt {background-position: -48px -198px;}
.flag-tv {background-position: -64px -198px;}
.flag-tw {background-position: -80px -198px;}
.flag-ru-ty {background-position: -96px -198px;}
.flag-tz {background-position: -112px -198px;}
.flag-ua {background-position: -128px -198px;}
.flag-ug {background-position: -144px -198px;}
.flag-uig {background-position: -160px -198px;}
.flag-un {background-position: -176px -198px;}
.flag-us {background-position: -192px -198px;}
.flag-uy {background-position: -208px 0;}
.flag-uz {background-position: -208px -11px;}
.flag-va {background-position: -208px -22px;}
.flag-vc {background-position: -208px -33px;}
.flag-ve {background-position: -208px -44px;}
.flag-vg {background-position: -208px -55px;}
.flag-vi {background-position: -208px -66px;}
.flag-vn {background-position: -208px -77px;}
.flag-vu {background-position: -208px -88px;}
.flag-wf {background-position: -208px -99px;}
.flag-ws {background-position: -208px -110px;}
.flag-xk {background-position: -208px -121px;}
.flag-ye {background-position: -208px -132px;}
.flag-yt {background-position: -208px -143px;}
.flag-za {background-position: -208px -154px;}
.flag-zm {background-position: -208px -165px;}
.flag-zw {background-position: -208px -176px;}
.flag-ch {background-position: -208px -187px;}
.flag-np {background-position: -208px -198px;}
.flag-dg {background-position: -176px -88px;}
.flag-um {background-position: -192px -198px;}
.flag-re {background-position: -64px -66px;}
.flag-cp {background-position: -64px -66px;}
.flag-mf {background-position: -64px -66px;}
.flag-sj {background-position: -128px -143px;}
.flag-hm {background-position: -32px -11px;}
.flag-ic {background-position: -80px -55px;}
.flag-nl {background-position: -96px -143px;}
.flag-bv {background-position: -128px -143px;}
.flag-ea {background-position: -80px -55px;}

.flag-lang.flag-ky {background-position: -128px -99px;}
.flag-lang.flag-uk {background-position: -128px -198px;}
.flag-lang.flag-en {background-position: -96px -66px;}
.flag-lang.flag-fy {background-position: -112px -143px;}
.flag-lang.flag-zh-hant {background-position: -80px -198px;}
.flag-lang.flag-ast {background-position: -96px -55px;}
.flag-lang.flag-nn {background-position: -128px -143px;}
.flag-lang.flag-ar {background-position: -192px 0;}
.flag-lang.flag-vi {background-position: -208px -77px;}
.flag-lang.flag-mr {background-position: -160px -88px;}
.flag-lang.flag-ko {background-position: -16px -110px;}
.flag-lang.flag-bo {background-position: -96px -22px;}
.flag-lang.flag-ka {background-position: -176px -66px;}
.flag-lang.flag-nb {background-position: -128px -143px;}
.flag-lang.flag-sw {background-position: -112px -198px;}
.flag-lang.flag-jv {background-position: -96px -88px;}
.flag-lang.flag-ta {background-position: -160px -88px;}
.flag-lang.flag-zh-hans {background-position: -144px -33px;}
.flag-lang.flag-sco {background-position: -128px -66px;}
.flag-lang.flag-sr {background-position: -64px -165px;}
.flag-lang.flag-ku {background-position: -32px -110px;}
.flag-lang.flag-cs {background-position: -80px -44px;}
.flag-lang.flag-eu {background-position: -176px -55px;}
.flag-lang.flag-te {background-position: -160px -88px;}
.flag-lang.flag-ja {background-position: -96px -99px;}
.flag-lang.flag-si {background-position: -160px -110px;}
.flag-lang.flag-km {background-position: -144px -99px;}
.flag-lang.flag-ga {background-position: -112px -88px;}
.flag-lang.flag-kn {background-position: -160px -88px;}
.flag-lang.flag-gd {background-position: -128px -66px;}
.flag-lang.flag-af {background-position: -208px -154px;}
.flag-lang.flag-kk {background-position: -80px -110px;}
.flag-lang.flag-am {background-position: -144px -55px;}
.flag-lang.flag-ml {background-position: -160px -88px;}
.flag-lang.flag-pt-br {background-position: -112px -22px;}
.flag-lang.flag-gsw-berne {background-position: -208px -187px;}
.flag-lang.flag-be {background-position: -176px -22px;}
.flag-lang.flag-pt-pt {background-position: -192px -154px;}
.flag-lang.flag-fil {background-position: -80px -154px;}
.flag-lang.flag-tyv {background-position: -96px -198px;}
.flag-lang.flag-ca {background-position: -112px -55px;}
.flag-lang.flag-fa {background-position: 0 -99px;}
.flag-lang.flag-bs {background-position: -96px -11px;}
.flag-lang.flag-eo {background-position: -48px -55px;}
.flag-lang.flag-el {background-position: -128px -77px;}
.flag-lang.flag-da {background-position: -128px -44px;}
.flag-lang.flag-ta-lk {background-position: -48px -187px;}
.flag-lang.flag-se {background-position: -80px -176px;}
.flag-lang.flag-sv {background-position: -176px -165px;}
.flag-lang.flag-oc {background-position: -192px -143px;}
.flag-lang.flag-sl {background-position: -16px -176px;}
.flag-lang.flag-ne {background-position: -208px -198px;}
.flag-lang.flag-hy {background-position: -112px 0;}
.flag-lang.flag-sq {background-position: -96px 0;}
.flag-lang.flag-ur {background-position: -96px -154px;}
.flag-lang.flag-hi {background-position: -160px -88px;}
.flag-lang.flag-cy {background-position: -144px -66px;}
.flag-lang.flag-dz {background-position: -144px -22px;}
.flag-lang.flag-gu {background-position: -160px -88px;}
.flag-lang.flag-ms {background-position: -176px -132px;}
.flag-lang.flag-he {background-position: -128px -88px;}
.flag-lang.flag-et {background-position: 0 -55px;}
.flag-lang.flag-lo {background-position: -96px -110px;}
.flag-lang.flag-ug {background-position: -160px -198px;}
.flag-lang.flag-pa {background-position: -160px -88px;}
.flag-lang.flag-my {background-position: -192px -121px;}

.flag-und,
.flag-zxx,
.flag-none,
.flag-all,
.flag-qo {
  background-image: none;
  width: unset;
  min-width: unset;
}
