{#
/**
 * @file
 * Theme implementation for a successful Zendesk form submission.
 *
 * Available variables:
 * - entity: Optional. The zendesk_ticket_form_type entity that was submitted.
 * - label: Optional. The label of the ticket form type entity.
 *
 * @see template_preprocess_zendesk_tickets_submission_success()
 */
#}

<div class="zendesk-ticket-submission-success">
  {{ "Your request has been sent!" | t }}
</div>
