.simpleplayer {
  border: 2px solid #000000;
  overflow: hidden;
}

.simpleplayer-video {
  width: 100%;
  height: auto;
  display: block;
}

.simpleplayer-timer {
  font-family: Monaco, monospace;
  font-weight: 500;
  text-align: center;
  background: #000000;
  color: #00ff00;
}

.simpleplayer-progressbar {
  background: #000000;
  width: 100%;
  height: 1em;
}

.simpleplayer-progressbar span {
  width: 0;
  background: #00ff00;
  height: 1em;
  display: inline-block;
}

.simpleplayer-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.simpleplayer-back30-button,
.simpleplayer-combospeed-button,
.simpleplayer-download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex: 0 0 2em;
  -webkit-flex: 0 0 2em;
  -ms-flex: 0 0 2em;
  flex: 0 0 2em;
  text-align: center;
  margin: 0;
  padding: 0;
}

.simpleplayer-play-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  text-align: center;
  margin: 0;
  padding: 0;
}

.simpleplayer span i {
  font-style: normal;
  display: block;
  margin: 0;
  width: 100%;
  line-height: 1.5em;
  text-align: center;
  font-size: 1.5em;
  color: #aaaaaa;
  background-color: #333333;
}

.simpleplayer span i:hover {
  background: #000000;
}
