#holmes-enable {
  background: #a9a9a9;
  border: none;
  bottom: 1em;
  box-shadow: 0px 0px 1px 1px rgba(50, 50, 50, 0.75);
  display: block;
  font-size: 1.2em;
  position: fixed;
  right: 1em
}

#holmes-enable label {
  cursor: pointer;
  font-weight: normal;
  padding: 8px 8px 8px 23px;
  position: relative;
  z-index: 10;
}

#holmes-enable input {
  position: absolute;
  left: 5px;
  top: 10px;
}
