div.udheader-block {
  margin-top: 5px;
  display: block;
}
div.udheader-left {
  float: left;
  overflow: hidden;
  height: 100%;
  width: 204px;
}
div.udheader-right {
  display: block;
  overflow: hidden;
  height: 100%;
  width: 216px;
  float: right;
  background-repeat: repeat-x;
}
span.udheader-righttext {
  display: block;
  overflow: hidden;
  margin-left: 18px; /* LTR */
  margin-top: 6px;
  width: 100%;
}
[dir="rtl"] span.udheader-righttext {
  margin-right: 18px;
}
div.udheader-center {
  display: block;
  overflow: hidden;
  height: 100%;
  background-repeat: repeat-x;
}
span.udheader-centertext {
  display: block;
  overflow: hidden;
  margin-left: 2px; /* LTR */
  margin-top: 6px;
  width: 100%;
}
[dir="rtl"] span.udheader-centertext {
  margin-right: 2px;
}
