/**
 * @file
 */

.user-logged-in .gridstack--debug.row .gridstack__box {
  outline: 1px dotted grey;
}

.user-logged-in .gridstack--debug.gridstack--js .box__content {
  box-shadow: 0 0 1px 0 grey inset;
}

.user-logged-in .gridstack.gridstack--debug .gridstack__box::before {
  background: rgba(0, 0, 0, .8);
  color: #fff;
  content: attr(data-delta);
  display: block;
  font-size: 13px;
  position: absolute;
  left: 0;
  line-height: 22px;
  padding: 5px 0;
  text-align: center;
  top: 0;
  min-width: 32px;
  height: 32px;
  z-index: 9;
}

.user-logged-in .gridstack--js.gridstack--debug .gridstack__box::before,
.user-logged-in .layout-section .gridstack.gridstack--debug .gridstack__box::before {
  left: 8px;
  line-height: 22px;
}

.user-logged-in .layout-section .row .gridstack__box.box::before {
  left: 15px;
}
