/**
 * @file
 */

.form--gridstack {
  margin-left: auto;
  margin-right: auto;
}

.form--gridstack .details--settings {
  background: #f9f9f9;
  border: 1px solid #dbe1e9;
  box-shadow: 0 0 0 4px #f9f9f9;
  clear: both;
  float: left;
  overflow: visible;
  position: relative;
  margin: 30px auto;
  width: 100%;
}

.form--gridstack details.form-wrapper {
  clear: both;
}

.gridstack--ui {
  background: lightgoldenrodyellow;
  margin-bottom: 30px;
  margin-top: 30px;
}

.gridstack--ui .gridstack {
  background: none;
  margin: 0;
}

.gridstack--ui .box__content {
  color: #2c3e50;
  text-align: center;
  background-color: #18bc9c;
}

.gridstack--ui .gridstack--nested .box__content {
  background-color: #18bc9c;
  background-color: rgba(24, 288, 156, .4);
}

.gridstack--ui .gridstack--nested .gridstack .box__content {
  background-color: #18bc9c;
  background-color: rgba(24, 288, 156, .6);
}

.gridstack-preview {
  clear: both;
}

.form--gridstack .gridstack-preview .form-type-textarea {
  float: none;
  width: 100% !important;
}

.form--gridstack .gridstack-actions {
  padding: 15px;
  text-align: center;
}

.form--gridstack .gridstack-actions .btn {
  margin: 0 5px;
}

.form--gridstack .box .btn-group {
  display: block;
  margin: 0;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}

.form--gridstack .box .btn {
  display: block;
  font-size: 22px;
  padding: 0;
  width: 28px;
}

.form--gridstack .box .box__content .form-item {
  width: auto;
}

.form--gridstack .box .box__content .form-select {
  border: 1px solid #dadada;
  font-size: 13px;
  font-weight: 400;
  height: 28px;
  max-width: 80px;
  min-width: 80px;
  position: relative;
  text-indent: 12px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  text-indent: .01px;
  text-overflow: "";
  white-space: nowrap; /* Fix for Bartik */
}

.form--gridstack .box .box__content .form-select,
.form--gridstack .box .box__content .form-text {
  display: inline-block;
  float: none;
  margin: 0 2px;
  min-height: 32px;
  visibility: hidden;
}

.form--gridstack .box .box__content .form-text {
  max-width: 100px;
}

.form--gridstack #edit-json .form-item {
  width: 100%;
}

.form--optionset .gridstack--nomargin > .gridstack__box > .box__content,
.form--optionset .gridstack--nomargin > .gridstack__box > .placeholder-content {
  -webkit-box-shadow: 0 0 1px 0 #fff inset;
  box-shadow: 0 0 1px 0 #fff inset;
}

.gridstack--ui .box::before,
.gridstack--nested .box::before,
.layout-section .gridstack__box::before,
.form--gridstack .box::after {
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  display: block;
  font-size: 13px;
  line-height: 1.2;
  left: 10px;
  min-width: 28px;
  padding: 5px 10px;
  position: absolute;
  text-align: center;
  top: 0;
  z-index: 8;
}

.layout-section .gridstack .gridstack__box::before {
  left: 15px;
}

.layout-section .gridstack--js .gridstack__box::before {
  left: 8px;
}

.gridstack.gridstack--nested .box::before,
.layout-section .gridstack__box::before {
  background: rgba(0, 0, 0, 0.6);
}

.gridstack.gridstack--nested .box[data-gs-x="0"]:first-child::before {
  left: 40px;
}

.form--gridstack .gridstack--nested .box::after {
  background: #777;
}

.gridstack--ui .box::before,
.gridstack--nested .box::before {
  content: attr(data-ordinal);
  pointer-events: none;
}

.layout-section .gridstack .gridstack__box::before {
  content: attr(data-delta);
}

.form--gridstack .box::after {
  bottom: 0;
  content: attr(data-dimension);
  left: 50%;
  padding: 5px;
  top: auto;
  transform: translateX(-50%);
  visibility: hidden;
}

.form--gridstack .box .btn--add,
.form--gridstack .box .btn--nested,
.form--gridstack .box .btn--remove {
  position: absolute;
  right: 10px;
  top: 0;
  z-index: 10;
}

.form--gridstack .box .btn--add,
.form--gridstack .box .btn--nested {
  right: 40px;
}

.form--gridstack .box:hover::after,
.form--gridstack .box:hover .form-select,
.form--gridstack .box:hover .form-text {
  visibility: visible;
}

.gridstack--ui .btn-group {
  z-index: 9;
}

.gridstack--ui .box .btn-group div {
  background: none;
  border: 0;
  display: inline-block;
  float: none;
  min-height: 22px;
  padding: 0;
  width: auto;
}

.form--optionset .gridstack--nomargin .box::before {
  left: 0;
}

.form--optionset .gridstack--nomargin .box .btn--remove {
  right: 0;
}

.form--gridstack #edit-add-grids {
  display: block;
  margin: 0 auto;
  visibility: hidden;
}

.form--gridstack .gridstack-preview .ajax-progress-throbber .throbber,
.form--gridstack .gridstack-preview .ajax-progress-throbber .message {
  display: inline-block;
  float: none;
  margin: 0 auto;
  max-width: 210px;
}

.form--gridstack .gridstack-preview .ajax-progress {
  display: block;
  margin-top: -40px;
  text-align: center;
}

.form--gridstack .gridstack-wrapper {
  min-height: 210px;
  overflow: auto;
  padding: 20px;
}

.form-wrapper--table-gridstack-responsive th:first-child {
  text-align: right;
}

.form-wrapper--table-gridstack-responsive th:last-child {
  display: none;
}

/**
 * Canvas for dynamic icon/ screenshot.
 *
 * @todo use background: -moz-element(#gridstack-1), gray; when cross-browser.
 */
.form--gridstack .gridstack-screenshot {
  background-color: #fff;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid #000;
  display: block;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  width: 165px;
  height: 232px;
  z-index: 9;
}

.form--gridstack .gridstack-screenshot img {
  display: block;
  height: auto;
  left: 0;
  max-width: 100%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.form--gridstack #gridstack-canvas {
  bottom: 0;
  display: block;
  height: 100%;
  left: -100%;
  line-height: 0;
  margin: auto;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  visibility: hidden;
  width: 100%;
}

.gridstack-list-form .media img {
  height: auto;
  max-width: 140px;
}

.gridstack-list-form td:nth-child(3) {
  text-transform: capitalize;
}

.gridstack__box--placeholder > .placeholder-content {
  border: 2px dashed #ccc;
  background: red;
  height: inherit;
}

.gridstack__box .box__handle {
  color: #fff;
  cursor: grab;
  display: block;
  font-size: 22px;
  left: 50%;
  letter-spacing: 4px;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
}

/**
 * Static grid with intentional !important to avoid issues with admin themes.
 */
.is-framework .form-wrapper-box,
.is-framework .form-wrapper--gridstack-settings,
.is-framework .form-item--image-style,
.is-framework .form-item--column,
.form--gridstack.is-framework .btn--clear,
.form--gridstack.is-framework .btn--load,
.form--optionset--default .gridstack-actions,
.form--optionset--default .gridstack-screenshot,
.form--gridstack.form--optionset .gridstack--nested .gridstack--nested,
.form--gridstack.form--optionset .btn--nested,
.form--gridstack.form--optionset .box .btn--add,
.form--gridstack.form--optionset .gridstack--nested .btn--nested,
.form--gridstack.form--optionset .vertical-tabs__menu-item-summary,
.form--gridstack.is-framework .visible-js {
  display: none !important;
}

.form--gridstack.is-framework .gridstack--nested,
.form--gridstack.is-framework .btn--nested,
.form--gridstack.is-framework  .box .btn--add,
.form--gridstack.form--optionset .gridstack--main .btn--content,
.form--gridstack.form--optionset .gridstack--main > .box > .box__content > .btn-group > .btn--remove,
.form--gridstack.is-framework .box .btn--content.btn--remove {
  display: block !important;
}

.form--gridstack.form--gridstack-js .gridstack .btn--content,
.form--gridstack.form--gridstack-js .gridstack .btn--root.btn--add,
/* .form--gridstack.form--optionset .gridstack.gridstack--nested .btn--add,
.form--gridstack.form--optionset .gridstack.gridstack--nested .gridstack--nested .btn, */
.form--gridstack.form--optionset .gridstack.gridstack--sub .box .btn,
.form--gridstack.form--optionset .gridstack.gridstack--nested .box .btn--nested,
.form--gridstack.form--optionset .gridstack.gridstack--main .box .btn--content.btn--add,
.form--gridstack.form--optionset .gridstack-preview--sub.form-disabled .btn {
  display: none !important;
}

.form--gridstack.form--optionset .gridstack-preview--sub.form-disabled {
  position: relative;
}

.form--gridstack.form--optionset .gridstack-preview--sub.form-disabled::before {
  content: '';
  cursor: not-allowed;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 99;
}

.form--gridstack.form--optionset .gridstack-preview--sub .btn--main {
  left: -100%;
  position: absolute;
  visibility: hidden;
}

/** Fix for Bootstrap vs. Seven too small font sizes.*/
.form--slick.form--framework {
  font-size: 16px;
}

.form--framework .has-tooltip .form-item > .description,
.form--framework .has-tooltip .form-composite > .fieldset-wrapper > .description {
  font-size: 13px;
}

.form--slick.form--framework small,
.form--slick.form--framework .form-item,
.form--slick.form--framework .form-item label,
.form--slick.form--framework .form-item label.option,
.form--slick.form--framework .form-item .form-text,
.form--slick.form--framework .form-item .form-select,
.form--slick.form--framework .form-item .form-textarea {
  font-size: 14px;
}

.form--slick.form--framework .form__title {
  font-size: 22px;
}

.form--gridstack.is-framework .form-item-options-use-framework {
  float: none;
  width: 100% !important;
}

.form-item-options-use-framework label {
  width: auto;
}

.form-item-options-use-framework label span {
  text-transform: capitalize;
}

/**
 * Nested grids.
 */
.gridstack.gridstack--nested {
  min-height: 60px;
}

.gridstack.gridstack--nested .btn {
  background: #18bc9c;
}

.gridstack.gridstack--nested .btn--remove {
  border: 0;
  left: 32px;
  top: 26px;
}

.is-framework .gridstack > .box > .box__content {
  left: 0;
  right: 0;
  margin: 0 -8px;
  position: relative;
}

.is-framework .gridstack--nested > .box > .box__content {
  margin: 0 auto;
}

.is-framework .gridstack > .box,
.is-framework .gridstack--nested > .box {
  padding: 0 8px;
}

.is-framework .gridstack > .box > .box__content {
  box-shadow: 0 0 1px 0 #fff inset;
}

.is-framework .gridstack--nested > .box > .box__content {
  box-shadow: none;
}

.form--gridstack.form--optionset .form-item-options-use-framework {
  border: 0;
  height: 42px;
  position: absolute;
  top: -48px;
  left: 0;
  min-height: 42px;
  padding: 12px 0 0;
  width: 80% !important;
  z-index: 6;
}

.form--gridstack.form--optionset .form-wrapper--gridstack-settings > .details-wrapper {
  padding: 15px 0;
}

/**
 * Vertical tabs.
 */
.form--gridstack.form--optionset .form-type-vertical-tabs {
  background: none;
  border: 0;
  padding: 0;
}

.form--gridstack.form--optionset .vertical-tabs {
  border: 0;
  box-shadow: none;
  margin-top: 0;
  padding: 0;
}

.form--gridstack.form--optionset .vertical-tabs__panes .form__title,
.form--gridstack.form--optionset .vertical-tabs__panes details.form-wrapper,
.form--gridstack.form--optionset .vertical-tabs__panes .form-actions,
.form--gridstack.form--optionset .vertical-tabs__panes .gridstack-preview {
  clear: none;
}

.form--gridstack.form--optionset .vertical-tabs__panes .gridstack-preview {
  float: left;
  width: 100%;
}

.form--gridstack.form--optionset .vertical-tabs__menu-item {
  background: none;
}

.form--gridstack.form--optionset .vertical-tabs__menu {
  background: #ccc;
  border: 0;
  float: none;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.form--gridstack.form--optionset .vertical-tabs__menu-item,
.form--gridstack.form--optionset .vertical-tabs__menu-item.is-selected {
  border: 0;
  box-shadow: none;
  display: inline-block;
  float: none;
  margin: 0;
  vertical-align: top;
  width: auto;
}

.form--gridstack.form--optionset .vertical-tabs__menu-item a {
  font-size: 22px;
}

.form--gridstack.form--optionset .vertical-tabs__menu-item a,
.form--gridstack.form--optionset .vertical-tabs__menu-item a:hover,
.form--gridstack.form--optionset .vertical-tabs__menu-item a:focus {
  background: none;
  border: 0;
  outline: 0;
}

.form--gridstack.form--optionset .vertical-tabs__menu-item.is-selected a {
  background: #f9f9f9;
}


.form--gridstack.form--optionset .vertical-tabs__panes {
  background: #f9f9f9;
  border: 0;
  margin: 0;
  padding: 0;
}

.form--gridstack.form--optionset .vertical-tabs details.vertical-tabs__pane,
.form--gridstack.form--optionset .vertical-tabs__panes .gridstack-wrapper,
.form--gridstack.form--optionset .vertical-tabs__pane > .details-wrapper {
  padding: 0;
}

.form--gridstack.form--optionset.is-saving .vertical-tabs__pane {
  display: block !important;
}

.form--gridstack .gridstack--root {
  transition: width 1s ease-in;
}

.form-wrapper--icon img {
  height: auto;
  max-width: 100%;
}

/** Prevents non-expandable box with too small size. */
.form--gridstack .gridstack-preview--sub .gridstack--nested .box[data-gs-width="1"],
.form--gridstack .gridstack-preview--sub .gridstack--nested .box[data-gs-width="2"] {
  min-width: 60px;
}

.layout-builder--layout .gridstack__box {
  min-height: 64px;
}

.layout-builder--layout .gridstack__box .gridstack__box {
  outline: 1px dashed #2f91da;
}

.gridstack-list-form [data-drupal-selector="edit-entities-default"] {
  display: none;
}

.form--slick .form-disabled.form-item-options-use-framework {
  opacity: 1;
}

/** @todo remove: Temp fix for weird broken xs breakpoint. */
.is-framework .vertical-tabs__menu-item.first {
  display: none;
}

.gridstack__box .layout-builder--layout__region {
  height: 100%;
  padding-bottom: 64px;
}

.row .gridstack__box .layout-builder--layout__region {
  position: relative;
}

.gridstack__box .layout-builder--layout__region .new-block {
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 8;
}

.layout-section .gridstack__box .block {
  max-height: 100%;
}

@media screen and (min-width: 1024px) {
  .form-wrapper.form-wrapper--inline {
    display: inline-block;
    float: none;
    margin: 2px 0;
    vertical-align: top;
    width: 49%;
  }

  .layout-builder-configure-section .form-wrapper.form-wrapper--inline {
    width: 100%;
  }

  .form--gridstack .gridstack-screenshot {
    position: absolute;
    right: 0;
    top: -80px;
  }

  .form--gridstack.form--optionset .form-item--width .description {
    left: 0;
    min-width: 480px;
  }
}

@media screen and (min-width: 1280px) {
  .form--optionset .form-wrapper--gridstack-grid .form-item,
  .toolbar-tray-open .form--optionset .form-wrapper--gridstack-grid  .form-item {
    width: 20%;
  }

  .form--optionset .form-wrapper--gridstack-grids .form-item  label {
    width: 100px;
  }

  .form--optionset .form-wrapper--gridstack-grids  .form-select {
    max-width: 100px;
    min-height: 28px;
    min-width: 100px;
  }

  .form--gridstack #edit-json .form-item {
    width: 100%;
  }
}

@media screen and (min-width: 1400px) {
  .form--gridstack {
    max-width: 1400px;
  }

  .form-wrapper.form-wrapper--inline {
    width: 32%;
  }

  .layout-builder-configure-section .form-wrapper.form-wrapper--inline {
    width: 100%;
  }
}
