/**
 * @file
 * Advanced Access Admin Form.
 */
.container-inline .form-checkboxes {
  margin: 1em 0;
}
.container-inline .form-checkboxes .form-item:not(:first-child) input[type="checkbox"] {
  margin-left: 1em;
}
.container-inline .form-checkboxes input[type="checkbox"] + label::after,
.container-inline .form-checkboxes input[type="checkbox"] + .label::after {
  content: '';
}
