#edit-filter .container-inline-date,
#edit-filter .form-item-state {
  display: inline-block;
  float: left;
}
#edit-filter .form-item-state {
  padding: 0 0 0 20px;
}
.container-inline-date .form-item .form-item {
  padding: 0;
}
#edit-filter {
  min-height: 6em;
}
#edit-filter:after {
  content: ".";
  clear: both;
}