drupal:
  root: "build"
  base_url: "http://nginx"
  database:
    host: "mariadb"
    port: "3306"
    name: "drupal"
    user: "drupal"
    password: "drupal"
  post_install:
    - "./vendor/bin/drush en -y twig_addons"
    - "./vendor/bin/drush cr"

commands:
  drupal:site-setup:
    - { task: "run", command: "drupal:drush-setup" }
    - { task: "run", command: "drupal:settings-setup" }
