.ttf_replace,
.ttf_replace_none {
  padding: 0;
  margin: 0;
  font-weight: bold;
  cursor: pointer;
  display: inline;
  position: relative;
}

.ttf_replace_none {
  cursor: default;
}

.ttf_description {
  display: none;
  z-index: 1000;
  padding: 10px;
  margin: 0;
  position: absolute;
  top: -150px;
  left: 0;
  width: 210px;
  height: 110px;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
  font-weight: normal;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
