{#
/**
 * @file
 * Default theme implementation to display a Pin.
 *
 * @ingroup themeable
 *
 * data-pin-board-width=""
 * data-pin-scale-height=""
 * data-pin-scale-width=""
 */
#}
<a data-pin-do="embedBoard" data-pin-board-width="400" data-pin-scale-height="240" data-pin-scale-width="80" data-pin-width="medium" href="{{ path }}"></a>
