/**
 * @file
 * Styles for the menu parent item form element.
 */

/* menu form */
.menu-link-form {
    padding-bottom: 10px;
}

/* wrapper */
.menu-select-menu-hierarchy .menu-select-menu-level {
    margin: 0;
}

/* remove existing */
.form-item-menu-menu-parent {
    display: none;
}
.form-item-menu-weight {
    display: none;
}

/* position preview */
.menu-select-parent-position-preview {
    padding: 5px 0;
    font-size: 14px;
    font-style: italic;
}

/* a menu link */
.menu-select-menu-hierarchy .menu-select-menu-level li {
    margin: 0;
    list-style-type: none;
}
.menu-select-menu-hierarchy .menu-select-menu-level li .menu-select-menu-link {
    display: inline-block;
    position: relative;
    padding-left: 10px;
}
.menu-select-menu-hierarchy .menu-select-menu-level li .menu-select-menu-link:before {
    content: ' ';
    display: block;
    position: absolute;
    height: 4px;
    width: 4px;
    border-radius: 4px;
    left: 0;
    top: 6px;
    background-color: #333;
}
.menu-select-menu-hierarchy .menu-select-menu-level li .menu-select-menu-link.active {
    font-weight: 700;
    text-decoration: none;
    padding-left: 10px;
}
.menu-select-menu-hierarchy .menu-select-menu-level li .menu-select-menu-link.active span {
    position: absolute;
    right: -10px;
    top: -9px;
    display: block;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg); /* Everything else */
}
.menu-select-menu-hierarchy .menu-select-menu-level li .menu-select-menu-link.active span:before {
    content: "";
    position: absolute;
    width: 3px;
    height: 9px;
    background-color: #2E7D32;
    left: 11px;
    top: 6px;
    border-radius: 4px;
}
.menu-select-menu-hierarchy .menu-select-menu-level li .menu-select-menu-link.active span:after {
    content: "";
    position: absolute;
    width: 3px;
    height: 3px;
    background-color: #2E7D32;
    left: 8px;
    top: 12px;
}
.menu-select-menu-hierarchy .menu-select-menu-level li .menu-select-menu-link.menu-select-menu-link--has-children:before {
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;
    left: 0;
    top: 3px;
    border: 5px solid transparent;
    border-left-color: #333;
    background-color: transparent;
    border-radius: 0;
}
.menu-select-menu-hierarchy .menu-select-menu-level li .menu-select-menu-link.menu-select-menu-link--has-children.expanded {
    padding-left: 15px;
}
.menu-select-menu-hierarchy .menu-select-menu-level li .menu-select-menu-link.menu-select-menu-link--has-children.expanded:before {
    border-left-color: transparent;
    border-top-color: #333;
    top: 6px;
}

/* a nested list */
.menu-select-menu-hierarchy .menu-select-menu-level li .item-list {
    height: 0;
    overflow: hidden;
}
.menu-select-menu-hierarchy .menu-select-menu-level li .item-list.expanded {
    height: auto;
}
