{#
/**
 * @file
 * Default theme implementation to present an concat field.
 *
 *
 * Available variables:
 * - title: Title of Extra Field.
 * - content: Markup of Concatenated Field.
 *
 * @ingroup themeable
 */
#}

<div {{ attributes }}>
  <div class="field__label" >
    {{ title }}
  </div>
  <div class="field__item" >
    {{ content }}
  </div>
</div>
