{#
/**
 * @file
 * Display an iframe with vimeo embed video.
 */
#}
<div class='embed-container'>
  <iframe {% if url is not empty %} src="{{ url }}" {% endif %}  width="{{ size.width }}" height="{{ size.height }}" frameborder="0" allowfullscreen>
  </iframe> 
</div>
