{#
/**
 * @file
 * Display an vimeo video thumbnail based on image setting size.
 */
#}
 
<div class='embed-container'>
  <a href="{{ vimeoInfo.url }}" title="{{ vimeoInfo.title }}" {% if target == 1 %} target="_blank" {% endif %} ><img src="{{ vimeoInfo.thumbnail }}"  alt="{{ vimeoInfo.title }}" /></a>
</div>
