/**
 * @file
 * Styling for Deploy toolbar.
 */

.toolbar-bar .toolbar-icon-deploy:before {
  background-image: url("../icons/bebebe/deploy.svg");
}

.toolbar .toolbar-bar .deploy-toolbar-tab.toolbar-tab {
  float: right;
}

.toolbar .deployments {
  float: right;
}

