<div id='app'>
  <table class='table table-striped table-hover responsive-enabled'>
    <thead>
      <tr>
        <th class='text-center'>#</th>
        <th class="text-center">Тип</th>
        <th class="text-left">Клиент</th>
        <th class="text-left">Менеджер</th>
        <th class="text-left">Дата</th>
        <th class="text-left">Шлюз</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for='phone in phones'>
        <td class='text-center'>${ phone.counter }</td>
        <td class='text-center' v-if="phone.type == 'in'" class='text-center'>✔️</td>
        <td class='text-center' v-if="phone.type == 'out'" class='text-center'>📞</td>
        <td>${ phone.client }</td>
        <td>${ phone.user }</td>
        <td>${ phone.date | formatDate }</td>
        <td>${ phone.gateway }</td>
      </tr>
    </tbody>
  </table>
  <div  class="row">
    <div class="col-sm-6">
      <h3>Трубки:</h3>
      <ul>
        <li v-for='user in users' v-if="user.status != 'unregistered'">
          ${ user.st } ${ user.user } [${ user.leg } ${ user.direction }]
        </li>
      </ul>
    </div>
    <div class="col-sm-6">
      <h3>Журнал:</h3>
      <pre id='{{data.id}}'>log...</pre>
    </div>
  </div>
</div>
