.farbtastic-container {
  display: inline-block;
  float: right;
  margin-left: 2em;
  margin-top: -1em;
}

.form-actions .dropbutton-wrapper {
  float: none;
  padding: 0 30%;
}

.dropbutton-widget {
  margin-top: 4em;
}

#edit-color-active .form-item {
  display: inline;
  float: left;
  margin-left: 1em;
}

.elements-inline {
  margin: 2em 0;
  padding: 1em 0 0 0;
}

.skillbar-preview {
  margin-top: 2em;
}

.elements-inline.no-background {
  background: transparent !important;
  padding: 2em 0 0 0;
  border: 0;
}

.elements-inline.no-background legend span {
  display: block;
  text-align: center;
  margin: 0 1em .5em 1em;
}

.no-bullet {
  list-style-type: none;
  margin: 0 0 1em 0;
  padding: 0 0 0 0;
  list-style-position: inside;
  line-height: 1.2em;
}

.elements-inline fieldset {
  text-align: center;
  float: left;
  width: 30%;
  padding: 0 1em 0 1em;
  margin: 0 0 0 0;
}

.elements-inline fieldset legend span {
  display: block;
  text-align: center;
  text-transform: none;
  font-weight: 500;
  position: relative;
  top: .5em;
}

.elements-inline label {
  text-align: center;
  display: block;
  text-transform: none;
  font-size: 13px;
  font-weight: 500;
}

#skillset-inview-color .color-helper input {
  text-align: center;
  width: 100%;
  padding: .2em .8em .2em .8em;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border: 1px solid black;
}

#skillset-inview-color .color-helper input.error {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05), 0 0 3px 1px #e62600;
}

#skillset-inview-color .form-type-range .field-suffix {
  float: right;
  margin-top: -.3em;
  margin-right: .2em;
  white-space: pre;
}

#skillset-inview-color dt {
  font-size: 14px;
  line-height: 1.7em;
  margin-top: 2px;
  padding: 0 0 0 0;
  margin: 5px 0 0 0;
  color: black;
}

#skillset-inview-color dd {
  font-size: 16px;
  line-height: 1em;
  height: 1em;
  background: rgba(125, 125, 125, 0.2); /* 7d7d7d gray49 */
  border: 1px solid #666; /* 666666 grey40 */
  margin: 0 0 0 0;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  padding: 1px 1px 1px 1px;
}

#skillset-inview-color .skill-bar {
  margin-top: 0;
  background: rgba(51, 51, 51, 0.8);  /* 333333 grey20 */
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  float: left;
  height: 16px;
  line-height: 16px;
  width: 78%;
}

h3.skill-label {
  text-align: center;
}

#skillset-inview-color .percent.inside {
  text-align: right;
  float: right;
  font-size: 10px;
  color: white;
  margin-right: .5em;
}

#skillset-inview-color .percent.outside {
  font-size: 12px;
  color: black;
  margin-left: .3em;
  margin-top: 0em;
  position: relative;
  top: -2px;
  display: inline;
}

@media only screen and (max-width: 850px) {
  .elements-inline fieldset legend,
  .elements-inline fieldset label {
    font-size: 10px;
  }

  .elements-inline fieldset {
    width: 28%;
  }
}

@media only screen and (max-width: 540px) {
  .elements-inline fieldset {
    width: 25%;
  }

  .form-actions .dropbutton-wrapper {
    padding: 0 15%;
  }
}

@media only screen and (max-width: 480px) {
  .farbtastic-container {
    margin-top: 0;
    display: block;
    float: inherit;
    margin-left: 50%;
  }

  .farbtastic-element {
    position: relative;
    left: -50%;
  }

  .elements-inline fieldset {
    width: 100%;
    margin-left: 0em;
    margin-bottom: 0;
    padding: 0 0 0 0;
  }
  .elements-inline fieldset .form-item {
    margin: .2em 0 0 0;
  }
}

@media only screen and (max-width: 375px) {
  .farbtastic-container {
    margin-left: 40%;
  }

  .farbtastic-element {
    left: -40%;
  }
}
