ul.error-line-float {
  display: inline;
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

ul.error-line-float li {
  margin: 0 .5em 0 0;
  padding: 0 0 0 0;
  display: inline;
}

form#skillset-inview-order .section-heading-row {
  text-align: left;
}

form#skillset-inview-order .section-heading-row input {
  width: 100%;
}

form#skillset-inview-order .section-heading-row .field-suffix {
  float: right;
}

form#skillset-inview-order .section-heading-row .field-suffix a {
  font-size: 9px;
}

form#skillset-inview-order .section-heading-row ul {
  margin: 0 0 0 0;
  list-style-position: inside;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0;
}

form#skillset-inview-order td {
  padding: 5px 5px;
}

form#skillset-inview-order .tabledrag-changed {
  float: left;
  position: relative;
  left: -40px;
}

form#skillset-inview-order td .form-type-textfield {
  float: right;
  width: 87%;
}

form#skillset-inview-order .name-column input {
  width: 100%;
}

form#skillset-inview-order th.percent-column {
  width: 180px;
  text-align: center;
}
form#skillset-inview-order .percent-column .field-suffix {
  float: right;
  position: relative;
  top: -.3em;
}

form#skillset-inview-order .weight-column {
  width: 100px;
  text-align: center;
}

form#skillset-inview-order .operation-column {
  width: 90px;
  text-align: right;
}

form#skillset-inview-order td.operation-column {
  padding-left: 2em;
}

form#skillset-inview-order .float-right {
  float: right;
}

form#skillset-inview-add-form .skill-wrapper .left-column {
  display: inline;
  float: left;
  width: 70%;
}

form#skillset-inview-add-form .skill-wrapper .right-column {
  display: inline;
  width: 25%;
  float: left;
  padding-left: 2em;
}
form#skillset-inview-add-form .skill-wrapper .right-column .field-suffix {
  float: right;
  position: relative;
  top: -.3em;
}

form#skillset-inview-add-form .fieldset-wrapper .description {
  display: block;
  clear: both;
}
form#skillset-inview-add-form  #edit-actions {
  padding: 0 0 20px 0;
}

form#skillset-inview-add-form #edit-list ul {
  margin: 0 0 0 2em;
  list-style-position: inside;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0;
}

form#skillset-inview-add-form #edit-list li {
  margin-left: 2em;
}

form#skillset-inview-add-form #edit-list li span {
  float: right;
  padding: 0 2em;
}

form#skillset-inview-add-form .skill-wrapper .left-column input {
  width: 100%;
}

@media only screen and (max-width : 768px) {
  form#skillset-inview-add-form .skill-wrapper .left-column {
    display: block;
    float: inherit;
    width: 100%;
  }

  form#skillset-inview-add-form .skill-wrapper .right-column {
    display: block;
    width: 100%;
    float: inherit;
    padding-left: 0em;
  }
}

footer.preview-footer-note {
  text-align: center;
  margin: 4em 2em 2em 0;
}
