.favorite {
  width: 52px;
  height: 52px;
  color: #707070;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 26px;
  font-size: 19px;
  background-color: #fff;
  cursor: pointer;
  user-select: none;
  transition: color 0.4s, box-shadow 0.4s, background-color 0.4s; }
  .favorite i {
    transition: transform 0.4s; }
  .favorite:hover {
    background-color: whitesmoke;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.12); }
  .favorite:active {
    background-color: #e6e6e6; }
    .favorite:active i {
      transform: scale(1.1); }
  .favorite--remove {
    color: #EC3E26; }

@media (min-width: 992px) {
  .favorites {
    display: flex;
    align-items: flex-start; }
    .favorites .cart-sidebar {
      width: 278px;
      margin-right: 20px; }
      .favorites .cart-sidebar .preloader {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.4); }
    .favorites .cart-actions .btn {
      margin-bottom: 19px; }
      .favorites .cart-actions .btn:last-child {
        margin-bottom: 0; } }

@media (max-width: 991.98px) {
  .favorites .cart-actions {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -19px; } }

@media (max-width: 991.98px) {
  .favorites .cart-actions .btn {
    margin: 0 19px 19px 0; } }

@media (max-width: 575.98px) {
  .favorites .cart-actions .btn {
    width: 100%;
    margin: 0 0 19px; } }

.favorites .catalog {
  flex-grow: 1;
  position: relative; }
  .favorites .catalog-togglers {
    right: 0;
    bottom: 100%;
    position: absolute; }
  @media (max-width: 991.98px) {
    .favorites .catalog {
      padding-top: 30px; } }

.favorites .favorite--remove {
  border: 1px solid #E4E4E4;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/favorite-remove.svg"); }
  .favorites .favorite--remove i {
    display: none; }

.cart {
  display: flex;
  align-items: flex-start;
  min-height: 150px; }
  @media (max-width: 1199.98px) {
    .cart {
      display: block; } }
  .cart-content {
    padding: 0 25px;
    border: solid 1px #E4E4E4; }
    .cart-content--checkout {
      margin-bottom: 50px; }
    @media (max-width: 991.98px) {
      .cart-content {
        padding: 0 15px; } }
  .cart-left {
    flex-grow: 1;
    margin-right: 20px; }
    @media (max-width: 1199.98px) {
      .cart-left {
        margin: 0 0 30px; } }
  .cart-sidebar {
    width: 291px;
    flex-shrink: 0;
    position: sticky;
    position: -webkit-sticky;
    top: 90px;
    padding: 34px 24px;
    background-color: #F5F5F5; }
    @media (max-width: 1199.98px) {
      .cart-sidebar {
        top: 0;
        position: relative;
        width: 100%; }
        .checkout .cart-sidebar {
          margin-bottom: 40px; } }
  .cart-small {
    display: flex;
    margin-left: 45px; }
    .col-auto .cart-small {
      margin: 0; }
    @media (max-width: 991.98px) {
      .cart-small {
        margin-left: 0; } }
    .cart-small-item {
      flex-shrink: 0;
      position: relative;
      margin-right: 20px; }
      @media (max-width: 991.98px) {
        .cart-small-item {
          margin-right: 17px; } }
      @media (max-width: 767.98px) {
        .cart-small-item--favorites {
          display: none; } }
      .cart-small-item:last-child {
        margin-right: 0; }
    .cart-small-icon {
      width: 38px;
      height: 38px;
      display: block;
      position: relative;
      border-radius: 19px;
      background-color: #fff;
      background-position: center;
      background-repeat: no-repeat;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25); }
      .cart-small-icon--cart {
        background-image: url("../images/cart-small.svg"); }
      .cart-small-icon--favorites {
        background-image: url("../images/favorites-small.svg"); }
      @media (max-width: 991.98px) {
        .cart-small-icon {
          width: 48px;
          height: 48px;
          border-radius: 24px;
          background-size: 23px; } }
    .cart-small-content {
      position: absolute;
      top: 100%;
      right: 0;
      z-index: 10;
      pointer-events: none;
      opacity: 0;
      transform-origin: right top;
      transform: scale(0.8, 0.7);
      transition: opacity 0.4s, transform 0.4s; }
      .cart-small-content .list {
        margin: 6px 0 0;
        padding: 15px 25px;
        display: flex;
        color: #131313;
        white-space: nowrap;
        text-transform: none;
        list-style-type: none;
        flex-direction: column;
        background-color: #fff;
        box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1); }
        .cart-small-content .list-item {
          margin: 0 0 10px; }
          .cart-small-content .list-item:last-child {
            margin-bottom: 0; }
    .cart-small-count {
      position: absolute;
      top: 50%;
      left: -11px;
      width: 18px;
      height: 18px;
      margin-top: -8px;
      border-radius: 9px;
      color: #fff;
      font-size: 12px;
      line-height: 18px;
      font-weight: bold;
      text-align: center;
      background-color: #EC3E26; }
    .cart-small-item:hover .cart-small-content {
      opacity: 1;
      pointer-events: auto;
      transform: none; }
  .cart-content--checkout .cart-items {
    padding: 10px 0 20px; }
  @media (max-width: 991.98px) {
    .cart-items {
      padding: 10px 0; }
      .cart-content--checkout .cart-items {
        padding: 5px 0; } }
  .cart-row {
    display: flex; }
    .cart-row--header {
      top: 74px;
      font-size: 18px;
      line-height: 1.1;
      font-weight: 300;
      position: sticky;
      position: -webkit-sticky;
      background-color: #FFFFFF;
      border-bottom: solid 1px rgba(228, 228, 228, 0.6); }
      @media (max-width: 991.98px) {
        .cart-row--header {
          display: none; } }
    .cart-row--body {
      padding: 20px 0;
      align-items: flex-start;
      border-bottom: solid 1px rgba(228, 228, 228, 0.6); }
      .cart-row--body:last-child {
        border-bottom: 0; }
      .cart-content--checkout .cart-row--body {
        border: 0;
        padding: 15px 0;
        font-size: 18px;
        line-height: 1.3;
        font-weight: 300; }
      @media (max-width: 991.98px) {
        .cart-row--body {
          flex-wrap: wrap;
          min-height: 150px;
          position: relative;
          padding-left: 130px; }
          .cart-content--checkout .cart-row--body {
            min-height: 0;
            padding-left: 0;
            flex-wrap: nowrap; } }
  .cart-col {
    flex-shrink: 0; }
    .cart-col--image {
      width: 107px;
      text-align: center;
      margin-right: 25px; }
      @media (max-width: 991.98px) {
        .cart-col--image {
          position: absolute;
          top: 20px;
          left: 0;
          margin: 0; } }
    .cart-col--product {
      flex-grow: 1;
      flex-shrink: 1;
      margin-right: 30px; }
      @media (max-width: 575.98px) {
        .cart-content--checkout .cart-col--product {
          margin-right: 20px; } }
    .cart-col--price {
      width: 95px;
      margin-right: 25px; }
      @media (max-width: 991.98px) {
        .cart-col--price {
          display: none !important; } }
    .cart-col--quantity {
      width: 105px;
      margin-right: 33px; }
      @media (max-width: 575.98px) {
        .cart-content--checkout .cart-col--quantity {
          width: auto; } }
    .cart-col--total {
      width: 95px;
      margin-right: 20px; }
      @media (max-width: 575.98px) {
        .cart-content--checkout .cart-col--total {
          width: auto;
          margin-right: 0; } }
    .cart-col--buttons {
      width: 38px; }
      @media (max-width: 991.98px) {
        .cart-col--buttons {
          width: auto;
          flex-direction: row !important; } }
  .cart-row--header .cart-col {
    opacity: .9;
    padding: 11px 0; }
  .cart-row--body .cart-col {
    padding-top: 17px;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .cart-row--body .cart-col--image {
      padding-top: 0; }
    .cart-content--checkout .cart-row--body .cart-col {
      min-height: 0;
      padding-top: 0; }
  .cart-picture {
    display: block; }
    .cart-picture img {
      transition: opacity 0.4s; }
    .cart-picture:hover img {
      opacity: 0.75; }
    .cart-picture:active img {
      opacity: 0.6; }
  .cart-name {
    display: block;
    color: inherit;
    font-size: 18px;
    line-height: 1.3;
    font-weight: 300;
    max-width: 260px; }
    .cart-content--checkout .cart-name {
      max-width: 100%; }
    @media (max-width: 575.98px) {
      .cart-content--checkout .cart-name {
        font-size: 16px; } }
  .cart-price {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 300; }
    .cart-price--bold {
      font-weight: bold; }
  .cart-quantity {
    display: flex;
    align-items: center;
    border-radius: 6px;
    background-color: #F5F5F5;
    border: solid 1px #E4E4E4; }
    .cart-quantity-button {
      width: 32px;
      height: 33px;
      margin: -1px;
      background: none;
      box-shadow: none;
      border: solid transparent;
      background-position: center;
      background-repeat: no-repeat;
      transition: background-color 0.4s, border-color 0.4s; }
      .cart-quantity-button--minus {
        border-radius: 6px 0 0 6px;
        border-width: 1px 0 1px 1px;
        background-image: url("../images/cart-minus.svg"); }
      .cart-quantity-button--plus {
        border-radius: 0 6px 6px 0;
        border-width: 1px 1px 1px 0;
        background-image: url("../images/cart-plus.svg"); }
      .cart-quantity-button:hover {
        border-color: #9f9f9f; }
      .cart-quantity-button:active {
        background-color: #E4E4E4; }
    .cart-quantity-value {
      flex-grow: 1;
      text-align: center;
      overflow: hidden;
      font-size: 15px;
      line-height: 1.1;
      font-weight: 300;
      text-overflow: ellipsis; }
  .cart-button {
    width: 38px;
    height: 38px;
    border-radius: 19px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    cursor: pointer;
    color: #9f9f9f;
    border: solid 1px #E4E4E4;
    background-color: #fff;
    transition: background-color 0.4s, box-shadow 0.4s; }
    .cart-button:hover {
      background-color: #e0e0e0;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.35); }
    .cart-button:active, .cart-button:focus {
      background-color: rgba(245, 245, 245, 0.09); }
    .cart-button--fav-in {
      color: #dc3545; }
    @media (max-width: 991.98px) {
      .cart-button {
        margin: 0 15px 0 0; }
        .cart-button:last-child {
          margin-right: 0; } }
  .cart-total {
    font-size: 18px;
    line-height: 1.25; }
    .cart-total-count {
      font-weight: 300;
      margin-bottom: 9px; }
    .cart-total-price {
      font-weight: bold; }
  .cart-actions {
    padding-top: 25px; }
    @media (min-width: 1200px) {
      .cart-actions .btn {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px; } }
  .cart-back {
    right: 0;
    top: -50px;
    opacity: .8;
    font-size: 16px;
    line-height: 1.2;
    position: absolute;
    transition: opacity 0.4s; }
    @media (max-width: 1199.98px) {
      .cart-back {
        position: static;
        margin: 0 0 20px; } }
    .cart-back a {
      color: inherit;
      border-bottom: solid 1px rgba(19, 19, 19, 0.32);
      transition: border-color 0.4s; }
    .cart-back:hover {
      opacity: 1; }
      .cart-back:hover a {
        color: inherit;
        border-color: #131313; }
    .cart-back a:active {
      border-color: transparent; }
  .cart-empty {
    padding: 20px; }

.checkout-form .form-item {
  text-align: left; }

.checkout-form legend {
  font-size: 26px;
  line-height: 1.3;
  font-weight: 300;
  margin: 0 0 30px;
  text-align: left; }

.checkout-complete {
  font-size: 18px;
  line-height: 1.35;
  padding: 30px 25px;
  background-color: #F5F5F5; }
  .checkout-complete-title {
    font-weight: bold;
    margin-bottom: 25px; }
  .checkout-complete-text {
    font-weight: 300; }
