{#
/**
 * @file footnote-list.html.twig
 * Default theme implementation to present a list of reference footnotes.
 *
 * Available variables:
 * - footnotess: A list of footnotes
 * - notes: A list of free-form notes
 * - references: A list of citations
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_footnote_list().
 *
 * @ingroup themeable
 */
#}

<div{{ attributes.addClass('footnote-list') }}>
    {{ notes }}
    {{ references }}
</div>
