{#
/**
 * @file
 * Theme override for a entity edit form.
 *
 * Two column template for the entity add/edit form.
 *
 * This template will be used when a entity edit form specifies 'core_extend_entity_form'
 * as its #theme callback.  Otherwise, by default, entity add/edit forms will be
 * themed by form.html.twig.
 *
 * Available variables:
 * - form: The entity add/edit form.
 */
#}

{{ attach_library('core_extend/entity_form') }}

<div class="layout-entity-form clearfix">
  <div class="layout-region layout-region-entity-main">
    {{ form|without('advanced', 'actions') }}
  </div>
  <div class="layout-region layout-region-entity-secondary">
    {{ form.advanced }}
  </div>
  <div class="layout-region layout-region-entity-footer">
    {{ form.actions }}
  </div>
</div>
