; jQuery Timeago

api = 2
core = 8.x

libraries[timeago][download][type] = "get"
libraries[timeago][download][url] = "https://github.com/rmm5t/jquery-timeago/zipball/v1.5.2"
libraries[timeago][directory_name] = "timeago"
libraries[timeago][type] = "library"
