{#
/**
 * @file
 * Displays the Google Map Block.
 *
 * Available variables:
 * - map_width: Width of Google map block.
 * - map_height: Height of Google map block.
 */
 #}
<div id="map" style="width: {{map_width}}; height: {{map_height}};"></div>
