#edit-choose-form {
  position: relative;
}
#comm100livechat_login {
  position: relative;
}
#comm100_logo {
  height: 24px;
  background: url(../images/comm100_logo.png?v20150722) no-repeat 0 0;
}
h3 {
  margin-left: 500px;
}
.imgLoading {
  background: url(../images/ajax_loader.gif) no-repeat 40px 60%;
}
fieldset .fieldset-wrapper {
  padding-left: 20px;
}
ul#choose_form {
  margin-left: 0; padding-left: 0;
}
ul#choose_form li {
  padding: 0 13px 6px 15px;
  margin-left: 0;
  background: 0;
  list-style: none;
}
ul#choose_form li label {
  display: inline;
}
div.installed_ok {
  background: #e1fdc5 url(../images/tick.png) no-repeat 5px 1em;
  padding-left: 28px;
  border-color: #6ac611;
}
div.installed_pending {
  background: #fcfce8 url(../images/warn.png) no-repeat 10px center;
  padding-left: 30px;
  border-color: #e5e58f;
  padding-top: 12px;
  padding-bottom: 12px;
}
div.info {
  background: #fcfce8 url(../images/info.png) no-repeat 5px 1em;
  border-color: #e5e58f;
}
h3.header {
  margin: 37px 0 0 0;
  margin-bottom: 30px;
}
h3.header2 {
  margin: 37px 0 0 0;
  margin-bottom: 20px;
}
div.haveaccount {
  position: absolute;
  top: 131px;
  left: 354px;
}
div.nothaveaccount {
  position: absolute;
  top: 131px;
  left: 354px;
}
div.line {
  position: absolute;
  top: 135px;
  left: 324px;
  border-left: 1px solid #ccc;
  height:125px;
}
div.line2 {
  position: absolute;
  top: 135px;
  left: 324px;
  border-left: 1px solid #ccc;
  height:230px;
}
#preViewImgBox {
  position: absolute;
  top: 115px;
  left: 360px;
  border-left: 1px solid #ccc;
}
.imgForOnline,
.imgForOffline {
  _height:expression(this.height>140?"140px":true);
}
div.forget {
  position: relative;
  top: -20px;
}
#preViewTextButton {
  margin-left: 30px;
}
#login_email,
#login_password,
#register_name,
#register_email,
#register_password,
#register_password_retype,
#register_verification_code {
  margin-top: 5px;
}
div.form-item {
  margin-top: 20px;
  margin-bottom: 0px;
}
div.linkbutton {
  margin-top:20px;
  margin-bottom: 40px;
}
div.linkbutton2 {
  margin-top:20px;
  margin-bottom: 40px;
}
div .customize {
  margin-top: 60px;
}
div .linkbtn {
  margin: 12px 0 24px 0;
}
p.expired {
  margin-top: -20px;
}
#linkaccount {
  margin-top: 15px;
  margin-bottom: 50px;
}
#tutorial {
  margin-top:5px;
  margin-bottom: 50px;
}
#startchat {
  margin-top:20px;
}
#comm100-live-chat-settings-form .description {
  display: inline;
  padding-left: 5px;
}
#comm100-live-chat-settings-form .form-item {
  padding: 0 0;
}
#comm100_button_code_area {
  margin-top:0px;
}
.ajax_message {
  background: url(../images/ajax_loader.gif) no-repeat 5px 60%;
  padding: 0;
  margin-top: 1em;
}
.ajax_message.wait,
.ajax_message.message {
  display: block;
}
.ajax_message.wait {
  text-indent: 28px;
}
.ajax_message.message {
  background-image: none;
  text-indent: 0px;
  color: red;
}
.btn a:link, .btn a:visited {
  display: inline-block;
  padding: 3px 10px;
  color: white;
  text-decoration: none;
  font-weight: normal;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 1px 1px 0 #06a;
  border-top: 1px solid #4bf;
  border-bottom: 1px solid #39f;
  -moz-box-shadow: 0 1px 0 #39d, 0 -1px 0 #39d, 1px 0 0 #39d, -1px 0 0 #39d;
  -webkit-box-shadow: 0 1px 0 #39d, 0 -1px 0 #39d, 1px 0 0 #39d, -1px 0 0 #39d;
  box-shadow: 0 1px 0 #39d, 0 -1px 0 #39d, 1px 0 0 #39d, -1px 0 0 #39d;
  background: #4ae;
  background: -moz-linear-gradient(top,  #4ae,  #28d);
  background: -webkit-gradient(linear, left top, left bottom, from(#4ae), to(#28d));
}
.btn a:hover {
  text-decoration: none;
  border-top-color: #5cf;
  border-bottom-color: #3af;
  color: white;
  -moz-box-shadow: 0 1px 0 #4ae, 0 -1px 0 #4ae, 1px 0 0 #4ae, -1px 0 0 #4ae;
  -webkit-box-shadow: 0 1px 0 #4ae, 0 -1px 0 #4ae, 1px 0 0 #4ae, -1px 0 0 #4ae;
  box-shadow: 0 1px 0 #4ae, 0 -1px 0 #4ae, 1px 0 0 #4ae, -1px 0 0 #4ae;
  background: #4bf;
  background: -moz-linear-gradient(top,  #4bf,  #39d);
  background: -webkit-gradient(linear, left top, left bottom, from(#4bf), to(#39d));
}
.btn a:active,
.btn a:focus {
  position: relative;
  top: 1px;
}
#comm100livechat_login fieldset,
#comm100livechat_register fieldset,
#comm100livechat_guide fieldset,
#comm100livechat_site_and_plan fieldset {
  padding-top:0;
}
#comm100livechat_login fieldset .fieldset-wrapper,
#comm100livechat_register fieldset .fieldset-wrapper,
#comm100livechat_guide fieldset .fieldset-wrapper,
#comm100livechat_site_and_plan fieldset .fieldset-wrapper {
  padding: 0 13px 13px 20px;
}
#comm100livechat_expire .form-item {
  margin-top:0;
}
#comm100_guide_message {
  margin-top: 12px;
}
#comm100livechat_expire_message p{
  margin:0;
}

#comm100_guide_message .messages{
  border-width: 1px;
  margin: 0px;
}
