{#
/**
 * @file
 * Default theme implementation to display a station schedule item.
 */
#}
{% if program %}
  <h2 class="show-title">{{ program }}</h2>
{% endif %}
{% if time %}
  <div class="show-time">{{ time }}</div>
{% endif %}
{% if genre %}
  <h3 class="show-genre">{{ genre }}</h3>
{% endif %}
{% if djs %}
  <h3 class="show-dj">{{ djs }}</h3>
{% endif %}
