.owlcarousel-node-box {
  padding: 10px;
}

.owlcarousel2-node-wrapper {
  position: relative;
}

.owlcarousel2-node-inner.content-over-image {
  position: absolute;
}

.owlcarousel2-node-inner.vertical-center {
  width: 100%;
  top: 50%;
  bottom: 50%;
}

.owlcarousel2-node-inner.vertical-top {
  width: 100%;
  top: 0;
}

.owlcarousel2-node-inner.vertical-bottom {
  width: 100%;
  bottom: 0;
}

.owlcarousel2-node-inner.horizontal-center {
  text-align: center;
}

.owlcarousel2-node-inner.horizontal-left {
  text-align: left;
}

.owlcarousel2-node-inner.horizontal-right {
  text-align: right;
}

.owlcarousel2-carousel-navigation-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.owlcarousel2-carousel-navigation {
  position: absolute;
  align-self: center;
}

.owlcarousel2-navigation-as-carousel-main-image img {
  display: none;
  width: 100%;
  height: auto;
}

.owlcarousel2-navigation .owl-text-navigation-item .owl-text-navigation-text-bg {
  background-color: rgba(0,0,0,.3);
  width: 100%;
  height: 100%;
}

.owlcarousel2-navigation .owl-text-navigation-item.active .owl-text-navigation-text-bg {
  background-color: rgba(0,0,0,.8);
  width: 100%;
  height: 100%;
}

.owlcarousel2-navigation .owl-text-navigation-item .owl-text-navigation-text {
  color: #fff;
  font-weight: 600;
  z-index: 10;
  text-align: center;
}

.owl-text-navigation {
  display: flex;
}

.owl-text-navigation-text {
  flex: 1;
  padding: 5px;
  justify-content: center;
  display: flex;
  align-content: center;
  align-items: center;
}
