{#
/**
 * @file prevnext.html.twig
 * Default theme implementation to the prevnext indicator.
 *
 * Available variables:
 * - direction: "previous" or "next"
 * - text: The translated text for "Previous" or "Next"
 * - nid: The node NID of the destination link
 * - url: A formatted absolute URL for the path /node/$nid
 * - void: A flag indicating wether this element should be completelly skipped. TRUE means there is no available $nid.
 *
 */
#}
{% if not void %}
  <div id="prevnext-{{ direction }}" class="prevnext-element {{ direction }}">
    <a href="{{ url }}">{{ text }}</a>
  </div>
{% endif %}
