{#
/**
 * @file swish_transaction.html.twig
 * Default theme implementation to present Swish transaction data.
 *
 * This template is used when viewing Swish transaction pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_swish_transaction()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('swish_transaction') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
