{#
/**
 * @file flashpoint_course_content.html.twig
 * Default theme implementation to present Flashpoint course content data.
 *
 * This template is used when viewing Flashpoint course content pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_flashpoint_course_content()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('flashpoint_course_content') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
