{#
/**
 * @file
 * Default theme implementation to display a payment complete page.
 *
 * Available variables:
 * - is_success: Whether the payment was successful or not.
 * - transaction: The Transaction object.
 * - cg_redirect_return: CgRedirectReturn object, can be used to fetch data
 *   from the request (e.g. authNumber).
 * - attributes: HTML attributes for the containing element.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'payment-complete-message',
    'clearfix',
    is_success ? 'payment-success' : 'payment-failure'
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {% if is_success %}
    {{ 'Payment received, confirmation number: @confirm_num'|t({'@confirm_num': transaction.confirm_num.value}) }}
  {% else %}
    {{ 'Failed to complete the payment, please try again or contact support'|t }}
  {% endif %}
</div>