<div class="opening-hours">
{% for item in date_ranges %}
  {% spaceless %}
  <div class="set">
    <span class="days">{{ item.days }}</span>
    <span class="time time-start">{{ item.start_time }}</span>
    <span class="time time-separator">{{ time_separator }}</span>
    <span class="time time-end">{{ item.end_time }}</span>
  </div>
  {%  endspaceless %}
{% endfor %}
</div>
