<div class="spammaster_fw_main">

	<div class="spammaster_fw_page">

		<div class="spammaster_fw_logo">
			<h1>SPAM MASTER FIREWALL</h1>
		</div>

		<div class="spammaster_fw_content">
			<h2><em>Confucius</em></h2>
			<p><em>"life is sweet as an orange"</em></p>
		</div>

		<div class="spammaster_fw_footer">
			{% if user.hasPermission('administer nodes') %}
				<p><a href="/admin/config/system/spammaster/log"><- back to settings (admin view)</a></p>
			{% endif %}
			<p>Powered by <a href="https://spammaster.techgasp.com">Spam Master</a></p>
		</div>

	</div>
</div>



