{% block header %}
  {% set alt_header = FALSE %}
  {# Header code #}
{% endblock %}

{% block wrapper %}
  {% block content %}
    {# Content code #}
      <div class="spammaster-alert spammaster-alert-success">
        <div class="spammaster-center">
          <p>Website protected against:</p>
          <h2><i class="glyphicon glyphicon-cloud-upload"></i> {{ spammaster_total_threats_count }}</h2>
          <p class="spammaster-p-lead">Million Threats</p>
          <p class="spammaster-p-small"><em>{{ spammaster_total_threats_footer }}</em></p>
        </div>
      </div>
  {% endblock %}

  {% block footer %}
    {# Footer code #}
      <br>
  {% endblock %}
{% endblock %}
