/**
 * @file
 * Styles for the Rules UI.
 */

/* Expression container forms. */
#edit-events,
#edit-conditions,
#edit-actions-table {
  margin-bottom: 40px;
}

#edit-events .description,
#edit-conditions .description,
#edit-actions-table .description {
  font-size: 75%;
  line-height: 1.5em;
}

ul.action-links {
  margin: 0;
}

/* Reaction rules list builder. */
.rules-list-section {
  margin-bottom: 3em;
}

.rules-list-section div.description {
  font-size: 75%;
  line-height: 1.5em;
}

/* Rules component list builder. */

.rules-component-list-builder div.description {
  font-size: 75%;
  line-height: 1.5em;
}
