{% set no_script_class = use_no_script ? 'cookie-compliance--no-script' : '' %}

{% if use_no_script %}
<noscript>
{% endif %}
<div class="cookie-compliance clearfix {{ no_script_class }}">
  <div class="cookie-compliance__inner">
    <div class="cookie-compliance__text">
      {{ message_text }}
    </div>
    {% if not use_no_script %}
      <button class="cookie-compliance__button js-cookie-compliance__agree">{{ agree_button }}</button>
    {% endif %}
  </div>
</div>
{% if use_no_script %}
</noscript>
{% endif %}
