{%
set classes = [
  'commerce-cart-block',
  'commerce-cart-block--type-cart',
  in_cart ? 'is-inCart',
]
%}


<div{{ attributes.addClass(classes) }}>
  {% if heading %}
    <div class="commerce-cart-block--contents__heading">
      {{ heading }}
    </div>
  {% endif %}

  {% if content %}
    <div class="commerce-cart-block--contents__items">
      {{ content }}
    </div>
  {% endif %}

  {% if links %}
    <div class="commerce-cart-block--contents__links">
      {{ links }}
    </div>
  {% endif %}
</div>
