.form-type-ordered-list.form-disabled .ordered-list {
  color: #686868;
}

.ordered-list {
  display: flex;
}

.ordered-list ul {
  background: #fcfcfa;
  border: 1px solid #b8b8b8;
  border-radius: 2px;
  border-top-color: #999;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.125);
  height: 232px;
  margin: 0;
  overflow: auto;
  padding: 0;
}

.form-type-ordered-list.form-disabled .ordered-list ul {
  background-color: hsla(0, 0%, 0%, 0.08);
  border-color: #d4d4d4;
  box-shadow: none;
}

.ordered-list.error .items-selected ul {
  background-color: hsla(15, 75%, 97%, 1);
  border-color: #e62600;
  border-width: 1px;
  color: #a51b00;
}

.ordered-list li {
  cursor: pointer;
  list-style: none;
  margin: 0;
  padding: .5em;
  user-select: none;
  word-break: break-word;
}

.ordered-list li:hover {
  background: rgba(0, 116, 189, .12);
}

.ordered-list li.selected {
  background-color: rgba(0, 116, 189, .24);
}

.ordered-list li.selected:hover {
  background-color: rgba(0, 116, 189, .36);
}

.form-type-ordered-list.form-disabled .ordered-list li,
.form-type-ordered-list.form-disabled .ordered-list li.selected {
  background: none;
  cursor: default;
}

.ordered-list .items {
  flex: 1;
}

.ordered-list .controls {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.ordered-list .control {
  background: no-repeat 50% 50%;
  background-size: 50%;
  height: 32px;
  padding: 0;
  text-indent: -9999px;
  width: 32px;
  -webkit-user-drag: none;
}

.ordered-list .control:focus {
  border-color: #a6a6a6;
  box-shadow: none;
}

.form-type-ordered-list.form-disabled .ordered-list .control {
  background-color: #ededed;
  border-color: #d4d4d4;
  box-shadow: none;
  color: #5c5c5c;
  cursor: default;
  font-weight: normal;
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.6);
}

.ordered-list .control-select,
.ordered-list .control-select:active,
.ordered-list .control-select:focus,
.ordered-list .control-select:hover {
  background-image: url("./images/chevron-right.svg");
}

.ordered-list .control-deselect,
.ordered-list .control-deselect:active,
.ordered-list .control-deselect:focus,
.ordered-list .control-deselect:hover {
  background-image: url("./images/chevron-left.svg");
}

.ordered-list .control-moveup,
.ordered-list .control-moveup:active,
.ordered-list .control-moveup:focus,
.ordered-list .control-moveup:hover {
  background-image: url("./images/chevron-up.svg");
}

.ordered-list .control-movedown,
.ordered-list .control-movedown:active,
.ordered-list .control-movedown:focus,
.ordered-list .control-movedown:hover {
  background-image: url("./images/chevron-down.svg");
}
