.improvedselect .add_all,
.improvedselect .del_all,
.improvedselect .del,
.improvedselect .add,
.improvedselect .move_up,
.improvedselect .move_down {
  margin: 0 10% 10px 0 !important;
}
.improvedselect .improvedselect_control {
  float: right;
}
.improvedselect .improvedselect_all {
  float: right;
}
.improvedselect .improvedselect_sel {
  float: left;
}
