<script type="text/javascript">
    VK.init({
        apiId: {{ vk_app_id }},
        onlyWidgets: true
    });
</script>
<div id="vk_comments"></div>
<script type="text/javascript">
    VK.Widgets.Comments('vk_comments',{
        limit: {{ vk_comments_limit }},
        attach: "*",
        pageUrl: "{{ url }}"
    });
</script>