/**
 * Add spacing to bottom of pages
 */

.page-content {
  margin-bottom: 80px;
}

.region-pre-content {
  margin-bottom: 1em;
}

.region, .page-content {
  box-sizing: border-box;
}

@include breakpoint(md) {
  .region-sidebar:empty {
    display: none;
  }

  .region-sidebar:not(:empty) {
    float: right;
    width: 20%;
    padding-left: 1em;

    ~ .region, ~ .page-content {
      padding-right: 1em;
      float: left;
      width: 80%;
    }
  }
}



.block-page-title-block {
  border-bottom: 2px solid #eeeeee;
  clear: both;
}

.layout-container {
  max-width: 1020px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 2em;
}

.field--type-image {
  .image-preview > img {
    max-width: 100%;
    height: auto;
  }
}

.field--name-body {
  .filter-wrapper {
    display: none;
  }
}

.block-system-breadcrumb-block {
  text-align: center;
  @include breakpoint(md) {
    text-align: left;
    float: left;
  }
}

.region-breadcrumb {
  @include clearfix;
}

.block-book-navigation {
  margin-top: 1em;

  background: #f3f3f3;
  padding: 1em;
  border-radius: 5px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .3);

  .menu-item--active-trail > a {
    color: #333;
  }

  > h2 {
    margin-top: 0;
  }
}

//.block-local-tasks-block {
//  @include clearfix;
//  margin-top: 1em;
//
//  .tabs {
//    padding: 0;
//    float: right;
//
//    .tabs__tab {
//      margin: 5px;
//    }
//  }
//
//  .tabs.secondary .tabs__tab {
//    border-radius: 0;
//  }
//  .tabs.primary .tabs__tab {
//    display: inline-block;
//    background: 0;
//    border: 0;
//
//    a {
//      padding: .3em .6em;
//      // font-size: .8em;
//      display: block;
//      background: $brand-primary;
//      color: white;
//      border: 2px solid $brand-primary;
//      // border-radius: 3px;
//      &:hover {
//        transition: background .2s, color .2s;
//        background: white;
//        color: $brand-primary;
//      }
//    }
//    .is-active {
//      background: white;
//      color: $brand-primary;
//    }
//  }
//}

.container {
  max-width: $page-max-width;
  margin: 0 auto;
}

.campaign-footer {
  text-align: center;
  .block {
    display: block;
    margin: 1em 0;
  }
  .block-language {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    li {
      display: inline-block;
      margin: 0 1em;
    }
    li.is-active {
      display: none;
    }
  }
  .container {
    border-top: 1px solid $parade-blue;
    padding: 2em 1em;
  }
  .footer-item {
    color: $parade-blue;
    margin-right: 1em;
  }

  a {
    color: $parade-blue;
    text-decoration: none;
    &:hover {
      border-bottom: 1px solid $parade-blue;
    }
  }

  .addtoany_list a:hover {
    border-bottom: 0;
  }

  @include md {
    text-align: left;
    .block.block-addtoany {
      margin-left: 2em;
    }
    .tieto-logo {
      float: right;
    }
    .block {
      margin: 0;
      display: inline-block;
    }
  }
}

@include md {
  .region-footer {
    display: inline-block;
  }
}

