form.user-pass,
form.user-login-form {
  max-width: 600px;
  margin: 0 auto;
  font-size: 1.2em;
  line-height: 1.8em;
  text-align: center;
  .form-text {
    max-width: 200px;
    text-align: center;
  }
  label {
    margin: 0 auto;
  }

  .description {
    display: none;
  }
}
