.view-content {

  // Location, Role, Unit filters.
  #edit-taxonomy-filters {
    margin: 0;
    padding: 0;
    background: 0;
    border: 0;
    clear: both;

    legend {
      display: none;
    }

    .form-item {
      float: left;
      margin: 0 0 0.75em;
      padding-right: .5em;
      max-width: 200px;
    }
  }

  // Views Bulk Operations form.
  #edit-header {
    .form-item, .form-actions {
      float: left;
    }
    .form-actions {
      margin: 30px 0 0 .5em;
    }
  }

  // Operations.
  .views-field-nothing {
    white-space: nowrap;
    a {
      text-decoration: none;
      font-size: 1.4em;
      padding: .2em;
      border-radius: 3px;
      will-change: background, color;
      transition: background .2s, color .2s;
      &:hover {
        background: $brand-primary;
        color: white;
      }
    }
    .icon {
      vertical-align: text-top;
    }
  }

}

.view-news {
  .views-row {
    margin: 3em 0;
  }
  .node--view-mode-teaser {
    > h2 {
      line-height: 1.5em;
    }
    .field--name-field-thumbnail {
      float: left;
      margin-right: 1em;
    }
    .links {
      margin: 0;
    }
    .node-readmore {
      padding: 0;
    }
  }
}
