<span class="name">{{ name }}</span>
{% if separator %}
    <span class="separator">{{ separator }}</span>
{% endif %}
{% if extra_rule %}
    <span class="extra-rule">{{ extra_rule }}</span>
{% endif %}