{#
/**
 * @file custom_message.html.twig
 * Default theme implementation to present Custom Message data.
 *
 * This template is used when viewing Custom Message pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_custom_message()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('custom_message') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
