{#
/**
 * @file
 * Template to display an individual weather element
 *
 * Available variables: ????
 #}
<div {{attributes.addClass('nws-weather-element')}}>

{% if title %}
  <span class="element-title">{{ title }}</span>
{% endif %}
  <span class="element-value">
  {% if value|length > 0 %}
    {{ value }}
  {% else %}
    N/A
  {% endif %}
  </span>
  {% if value|length > 0 %}
    {% if units %}
      <span class="element-units">{{ units }}</span>
    {% endif %}
  {% endif %}
</div>
