{#
/**
 * @file
 * Template to display one time period of nws_weather output.
 * Available variables:
 * - $data - the weather data
 * - $display - the list of weather elements to display, in display order
 * - $period_start - label for starting time of forecast period
 * - $period_end - label for starting time of forecast period
 *
 * @see template_preprocess_nws_weather_forecast_period()
 */
#}
{% if data is not empty %}
<div class="nws-weather-period {{ first ? 'first' }} {{ last ? 'last' }}">
{% if data is not empty and period_start is not empty %}
  <h4 class="period-name">{{ period_start }}</h4>
{% endif %}
{% for key in display %}
  {% if data[key] is not empty %}
    {{ data[key].html }}
  {% endif %}
{% endfor %}
</div>
{% endif %}