/**
 * @file
 */

.sb,
.sb * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sb,
.sb iframe[id*="entity_browser_iframe"],
.sb .eb-tabs,
.sb__main,
.slick__slide,
.sb .views-field,
.sb__footer {
  -webkit-transition: all 0.33s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.sb img,
.sb iframe {
  display: block;
  max-width: 100%;
}

.sb img {
  height: auto;
}

.sb .ui-sortable-handle {
  cursor: -webkit-move;
  cursor: move;
}

.sb .ui-sortable-handle.ui-sortable-helper {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.sb .form-text {
  cursor: text;
}

.sb .button,
.button-wrap .button {
  border-radius: 0;
}

/** Button groups. */
.sb .button-group {
  background-color: #e6e5e1;
  border: 1px solid #a6a6a6;
  overflow: hidden;
  position: relative;
}

/**
 * Actions.
 */
.sb__header {
  background: #e6e5e1;
  overflow: hidden;
  padding: 4px;
  position: relative;
  text-align: center;
}

.sb--single .sb__header {
  padding: 0;
}

.sb--widget.is-empty .sb__header {
  background: none;
}

.form--sb .sb__header {
  bottom: 0;
  left: 0;
  min-height: 42px;
  width: 100%;
  z-index: 96;
}

.form--buttons-top .sb__header {
  bottom: auto;
  top: 0;
}

.sb .sb__header > div,
.sb .sb__header .button-group {
  display: inline-block;
  min-height: 32px;
  margin: 0 0 4px 4px;
  position: relative;
  vertical-align: top;
  visibility: visible;
  width: auto;
}

.sb .sb__action .form-item,
.sb .sb__action .button {
  clear: none;
  display: inline-block;
  vertical-align: top;
  width: auto;
}

.sb .button-group .button {
  border: 0;
  float: left;
  height: 30px;
  left: auto;
  margin: 0;
  right: auto;
  text-align: center;
}

.sb--widget .sb__action .button {
  background: #e6e5e1;
}

/** Button wrappers. */
.sb .button-wrap {
  bottom: 0;
  color: #000;
  display: block;
  height: 32px;
  line-height: 32px;
  overflow: hidden;
  position: absolute;
  right: 0;
  text-align: center;
  text-indent: 0;
  width: 32px;
}

.sb .button-wrap.button-group {
  height: auto;
  min-height: 32px;
}

.sb .button-wrap:hover {
  color: #fff;
}

.sb .button-wrap .button {
  border: 0;
  bottom: 0;
  font-size: 0;
  height: 100%;
  left: 0;
  line-height: 14px;
  margin: auto;
  padding: 0;
  position: absolute;
  width: 100%;
  z-index: 2;
}

.sb .button-group .button,
.sb .button-group.button-group--grid .button {
  font-family: sans-serif;
  font-size: 16px;
}

.sb .button-group--text .button {
  width: 100%;
}

.sb .button-group.button-group--icon .button {
  font-size: 0;
  width: 36px;
}

.sb .button-wrap .button:hover {
  background: #ff6d2c;
  box-shadow: none;
  color: #fff;
}

.sb .button-wrap.button-wrap--remove {
  left: 0;
  right: auto;
}

.sb .button-group .button--info {
  left: auto;
  right: 0;
}

.sb .button-wrap.button-wrap--show-selection {
  bottom: auto;
  height: 32px;
  top: 0;
  width: 32px;
}

.form--selection-over-bottom .button-wrap.button-wrap--show-selection {
  top: -32px;
}

.form--selection-over-bottom.is-collapsed .button-wrap.button-wrap--show-selection {
  top: 0;
}

/** Icons. */
.sb .button-wrap::before {
  content: '';
  display: inline-block;
  font-size: 20px;
  margin: auto;
  pointer-events: none;
  position: relative;
  /** Above core theme button:focus, otherwise the icons are hidden. */
  z-index: 11;
}

/** Bottom */
.form--sb .button-wrap--show-selection::before {
  content: '\25bc';
}

.form--sb.is-collapsed .button-wrap--show-selection::before {
  content: '\25b2';
}

/** Left */
.form--selection-left .button-wrap--show-selection::before {
  content: '\25c0';
}

.form--selection-left.is-collapsed .button-wrap--show-selection::before {
  content: '\25b6';
}

/** Right */
.form--selection-right .button-wrap--show-selection::before {
  content: '\25b6';
}

.form--selection-right.is-collapsed .button-wrap--show-selection::before {
  content: '\25c0';
}

/** Remove */
.sb .button-wrap--remove::before {
  content: '\2717';
}

/** Grid */
.sb .button-group--grid {
  border: 0;
  z-index: 11;
}

.sb .button-group--grid .button {
  width: 32px;
}

.sb .is-checked .button--select {
  background: #ff6d2c;
  color: #fff;
}

/** Edit */
.sb .button-wrap--edit::before {
  content: '\270F';
  /* content: '\270E';
  content: '\270D'; */
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.sb .item-container.label,
.sb .item-container .views-field--selection {
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sb.media--loading::before {
  position: fixed;
  z-index: 999;
}

.ui-dialog--sb .ajax-progress-throbber {
  display: none;
}

.sb .media {
  background-color: #f0f0f0;
}

/*
 * Delete confirm.
 */
.button-wrap--confirm span {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 0;
  height: 32px;
  left: auto;
  min-width: 32px;
  right: 0;
  position: absolute;
  text-transform: uppercase;
  top: 0;
  width: 100%;
}

.button-wrap--confirm .button--wrap__mask {
  -webkit-transition: right 0.2s ease-out;
  transition: right 0.2s ease-out;
  z-index: 10;
}

.button-wrap--confirm .button--wrap__confirm {
  z-index: 0;
}

.button-wrap--confirm.is-open,
.sb .sb__action .button-wrap.is-open,
.sb .button-wrap--confirm.is-open .button {
  width: 80px;
}

.button-wrap--confirm.is-open::before {
  display: none;
}

.button-wrap--confirm.is-open .button--wrap__mask {
  right: -100%;
}

.button-wrap--confirm .button--wrap__mask:hover,
.button-wrap--confirm.is-open .button--wrap__confirm {
  background-color: #ff6d2c;
  color: #fff;
  font-size: 14px;
}

.button-wrap--confirm .button,
.button-wrap--confirm .button:hover {
  opacity: 0;
  z-index: 1;
}

.is-deleted .grid__content,
.is-deleted .slide__content {
  opacity: 0.6;
}

.sb__footer .item-container .button--wrap__mask {
  background: #e6e5e1;
}

/** Overrides new core opacity as not good for button remove being dimmed out. */
.sb__footer .entities-list .item-container:hover {
  opacity: 1;
}

.sb__viewswitch .slick__arrow {
  top: auto;
  transform: none;
}
