/**
 * @file
 */

.sb,
.sb .grid__content,
.sb .item-container {
  position: relative;
}

.sb-body {
  background: #fff;
  margin: 0;
  padding: 0;
}

.sb .entities-list .item-container > img,
.sb .entities-list .item-container > input {
  margin: auto;
}

.sb--widget .item-container {
  min-width: 120px;
}

.sb__footer .item-container {
  overflow: hidden;
}

/** Visibility. */
.visible-list,
.visible-grid,
.form--sb .view .button-group,
.view--sb .block-columngrid .views-field {
  display: none;
}

.sb .button-wrap .button,
.view--sb-grid .visible-grid,
.view--sb-list .visible-list,
.view--sb .block-columngrid .views-field-blazy-file,
.view--sb .block-columngrid .views-field-blazy-media,
.view--sb .block-columngrid .views-field--preview,
.view--sb .block-columngrid .views-field--selection,
.form--sb .view--sb-grid .button-group--grid {
  display: block;
}

/** Info. */
.view--sb .grid__info,
/** This button is cloned to the header (dialog tittlebar), so hide it. */
.form--dialog .sb__header [name="use_selected"],
.form--sb.is-empty .button-group--select,
.is-empty .sb__cardinality,
.is-collapsed .sb__cardinality,
.is-collapsed .sb__footer .entities-list {
  height: 0;
  opacity: 0;
  position: absolute;
  visibility: hidden;
  width: 100%;
  z-index: -1;
}

.form--sb.form--inline-entity-form .button-group--select {
  height: auto;
  opacity: 1;
  position: relative;
  visibility: visible;
  width: auto;
  z-index: 1;
}

.view--sb-grid .button-group--grid {
  position: relative;
  width: 100%;
}

/**
 * Unholy temp fix for core EB "Show/Hide selected" button after AJAX views
 * filter.
 * @todo: Remove when core EB fixes this.
 **/
.sb__footer .entities-list {
  display: block !important;
}

.view--sb  .block-columngrid .is-info-active .grid__info {
  opacity: 1;
  visibility: visible;
  z-index: 9;
}

.form--sb .sb__header {
  position: fixed;
}

.sb .entity-browser-iframe-container,
.sb--widget {
  margin: 0 auto;
}

.sb .entity-browser-iframe-container {
  margin-top: 15px;
}

.slick--brower.slick--skin--grid {
  padding: 0 0.625rem;
}

/** :not([open]) */
.sb.sb--details > .details-wrapper.visually-hidden {
  display: block;
}

@media (min-width: 640px) {
  .sb .button-group--text .button {
    width: auto;
  }

  /** Can be within a form, or outside as within a widget. */
  .sb__header {
    text-align: right;
  }

  .sb .sb__header > div,
  .sb .sb__header .button-group {
    margin-bottom: 0;
  }

  .view--node.view--sb-list .views-label,
  .view--block.view--sb-list .views-label {
    visibility: hidden;
    position: absolute;
  }
}
