#edit-commerce-payment-payment-details-braintree-number {
  width: 16em;
  margin-top: 10px;
  margin-right: 10px;
}

#edit-commerce-payment-payment-details-braintree-cvv {
  margin-top: 10px;
  width: 82px;
}

.credit-card-form__expiration {
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 1em;
}

.braintree-hosted-field {
  height: 1.2em;
  border: 1px solid #D6D2C4;
  padding: 4px;
  background: #FFF;
  box-sizing: content-box;
}

#expiration-month {
  width: 3em;
}

#expiration-year {
  width: 3em;
}

#cvv {
  width: 5em;
}

.braintree-hosted-fields-focused {
  border-color: #777;
}

.braintree-hosted-fields-invalid {
  border-color: red;
}

.braintree-hosted-fields-valid {
  border-color: limegreen;
}
