{#{% if banners: %}#}
  <div class="slider-wrapper theme-{{ themes }}">
    <div class="ribbon"></div>
    <div id="slider" class="nivoSlider">
      {{ banners }}
    </div>
  </div>
  {#{% if html_captions: %}#}
    {{ html_captions }}
  {#{% endif %}#}
{#{% endif %}#}
