{#
/**
 * @file
 *
 * Default theme implementation for a field gate in a settings summary
 *
 * Available variables:
 * - value: the value the field needs to be to get through
 */
#}
<span class="field-ui-field-gate">Acts as a gate when value is not: {{ value  }}</span>
