.approval-container .approval-option {
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
}
.approval-container .approval-option-body {
  margin-bottom: 5px;
  margin-left: 15px;
  margin-right: 0;
  margin-top: 20px;
}
.approval-setting {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-bottom-color: #e1e5e8;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-outset: 0 0 0 0;
  border-image-repeat: stretch stretch;
  border-image-slice: 100% 100% 100% 100%;
  border-image-source: none;
  border-image-width: 1 1 1 1;
  border-left-color: #e1e5e8;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: #e1e5e8;
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: #e1e5e8;
  border-top-style: solid;
  border-top-width: 1px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  min-height: 80px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  position: relative;
}
.approval-item {
  float: left;
  font-size: 0;
  margin-bottom: 5px;
  margin-left: 0;
  margin-right: 5px;
  margin-top: 0;
  position: relative;
  text-align: center;
  width: 76px;
}

.approval-item .approval-item-person {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 76px;
  overflow-x: hidden;
  overflow-y: hidden;
  text-align: center;
  width: 76px;
}
.approval-item-avatar {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-bottom-color: #e1e5e8;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-outset: 0 0 0 0;
  border-image-repeat: stretch stretch;
  border-image-slice: 100% 100% 100% 100%;
  border-image-source: none;
  border-image-width: 1 1 1 1;
  border-left-color: #e1e5e8;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: #e1e5e8;
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: #e1e5e8;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-top-style: solid;
  border-top-width: 1px;
  color: #ffffff;
  font-size: 11px;
  height: 35px;
  line-height: 35px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
  text-align: center;
  width: 35px;
}

.kuma-button {
  background-image: none;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0;
  text-align: center;
  text-decoration-color: -moz-use-text-color;
  text-decoration-line: none;
  text-decoration-style: solid;
  vertical-align: middle;
}
.kuma-button-lblue,
.kuma-button-mblue,
.kuma-button-sblue {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #288df0;
  border-bottom-color: #0776df;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-outset: 0 0 0 0;
  border-image-repeat: stretch stretch;
  border-image-slice: 100% 100% 100% 100%;
  border-image-source: none;
  border-image-width: 1 1 1 1;
  border-left-color: #0776df;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: #0776df;
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: #0776df;
  border-top-style: solid;
  border-top-width: 1px;
  color: #ffffff;
}

.kuma-button-sblue {
  font-size: 12px;
  font-weight: 400;
  height: 22px;
  line-height: 22px;
  padding-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0;
}

.approval-defaultitem .kuma-button {
  display: inline-block;
  font-size: 12px;
  height: 20px;
  line-height: 18px;
  outline-color: -moz-use-text-color;
  outline-style: none;
  outline-width: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  width: 76px;
}
.approvalDupSettingWrap {
  border-top-color: #e1e5e8;
  border-top-style: dashed;
  border-top-width: 1px;
  margin-top: 24px;
  padding-top: 24px;
}
.approval-setting:hover {
  background-color: #e1e5e8;
  cursor: pointer;
}

.approval-item-name-director {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: #e6f4ff;
  background-image: none;
  background-origin: padding-box;
  background-position: 0 0;
  background-repeat: repeat;
  background-size: auto auto;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #4da9eb;
  font-size: 12px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-bottom: 2px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 2px;
  position: relative;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 76px;
}

.approval-item-name {
  font-size: 12px;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 76px;
}

.approval-item:not(:last-child) .approval-item-line {
  display: block;
}

.approval-item-line {
  display: none;
  height: 12px;
  position: absolute;
  right: 0;
  top: 28px;
  width: 20px;
  left: 70px;
}

.approval-item-line::before {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: #cccccc;
  background-image: none;
  background-origin: padding-box;
  background-position: 0 0;
  background-repeat: repeat;
  background-size: auto auto;
  content: "";
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  right: 6px;
}

.approval-item-line::after {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-bottom-color: rgba(0, 0, 0, 0);
  border-bottom-style: solid;
  border-bottom-width: 6px;
  border-image-outset: 0 0 0 0;
  border-image-repeat: stretch stretch;
  border-image-slice: 100% 100% 100% 100%;
  border-image-source: none;
  border-image-width: 1 1 1 1;
  border-left-color: #cccccc;
  border-left-style: solid;
  border-left-width: 6px;
  border-right-color: rgba(0, 0, 0, 0);
  border-right-style: solid;
  border-right-width: 6px;
  border-top-color: rgba(0, 0, 0, 0);
  border-top-style: solid;
  border-top-width: 6px;
  content: "";
  display: block;
  height: 0;
  position: absolute;
  right: -6px;
  top: -5px;
  width: 0;
}
