{#
/**
 * @file
 * Default twig file for sortableviews_handle.
 *
 * Available variables:
 * - classes: The classes the handle is to have.
 * - content: Any content that should be printed as well.
 * - dataid: The id of the entity to move.
 *
 * @ingroup themeable
 */
#}
<span class="{{ classes }}" data-id="{{ dataid }}">{{ content }}</span>
