{% extends "block.html.twig" %}
{% block content %}
  {{ attach_library('mapsblock/mapsblock') }}
  <div class="map-responsive">
    <iframe
       src="https://www.google.com/maps/embed/v1/place?key={{ api_key }}&q={{ address }}"
       allowfullscreen></iframe>
  </div>
{% endblock %}
