{% for menu_item in menu_items %}
  <div class="popup-item">
    <div class="item-text">
      <div class="menu-item-popup">{{ menu_item.popup_html }}</div>
    </div>
    <a href="{{ menu_item.url }}" class="item-icon">
      <img src="{{ menu_item.icon_url }}"></img>
    </a>
  </div>
{% endfor %}
