{#
/**
 * @file
 * A basic email template.
 *
 * Variables avaiable:
 * - subject: The subject line of the email.
 * - body: The main body text of the email.
 */
#}

{% if subject %}
  <h1>{{ subject }}</h1>
{% endif %}

{% if body %}
  <p>{{ body }}</p>
{% endif %}
