
<ul class="menu">
  {% for section in sections %}
    <li class="menu-item menu-item--expanded">
      {{ section.title }}
      <ul class="menu">
        {% for activity in section.activities %}
          <li class="menu-item">
            {{ activity.link }}
          </li>
        {% endfor %}
      </ul>
    </li>
  {% endfor %}
</ul>
