.zoom-1 {
  font-size: 1.1rem;
}
.zoom-2 {
  font-size: 1.2rem;
}
.zoom-3 {
  font-size: 1.3rem;
}
.zoom-4 {
  font-size: 1.4rem;
}
.block-accessibility-tool-block {
  background: #000;
  display: inline-block;
  margin-bottom: 15px;
  padding: 0 8px;
}
.block-accessibility-tool-block .content ul {
  margin: 0;
}
.block-accessibility-tool-block .content li {
  display: inline-block;
  list-style: none;
  margin: 5px 3px;
  vertical-align: middle;
}
.block-accessibility-tool-block .content a {
  background-color: #fff;
  border: none;
  color: #000;
  -webkit-border-radius: 9999px;
  -moz-border-radius: 9999px;
  border-radius: 9999px;
  display: block;
  height: 36px;
  overflow: hidden;
  text-decoration: none;
  width: 36px;
}
.icomoon:before {
  display: inline-block;
  font-size: 28px;
  height: 36px;
  line-height: 38px;
  text-align: center;
  width: 36px;
}

@media (min-width: 740px) {
  .block-accessibility-tool-block.left,
  .block-accessibility-tool-block.right {
    float: none;
    padding: 8px;
    position: fixed;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    z-index: 10;
  }
  .block-accessibility-tool-block.right {
    -webkit-border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
    border-radius: 10px 0 0 10px;
    right: 0;
  }
  .block-accessibility-tool-block.left {
    -webkit-border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
    border-radius: 0 10px 10px 0;
    left: 0;
  }
  .block-accessibility-tool-block.left .content li,
  .block-accessibility-tool-block.right .content li {
    display: block;
  }
  .block-accessibility-tool-block .content li.help {
    margin: 5px 3px 5px 20px;
  }
  .block-accessibility-tool-block.left .content li.help,
  .block-accessibility-tool-block.right .content li.help {
    margin: 20px 3px 5px;
  }
}
