{% if auth_key %}
<script src='http://require-stage.nexx.cloud/103/thor/jquery_min' type='text/javascript'></script>
<script type='text/javascript'>
    function onTHORReady(){
        _thor.init('thorholder','{{ auth_key }}','');
    }
</script>
<div id='thorholder'></div>
{%  endif %}
