table.hookalyzer-diffs tr.changed {
    background-color: yellow;
}

table.hookalyzer-diffs tr.added {
    background-color: green;
}

table.hookalyzer-diffs tr.removed {
    background-color: red;
}
