{#
/**
 * @file result.html.twig
 * Default theme implementation to present Result data.
 *
 * This template is used when viewing Result pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_result()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('result') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
