/**
 * @file
 * UI defined grid with a fix for known issues with rounding errors.
 *
 * This file is only loaded when not using gridstack.
 */

.outlayer.ungridstack > .box {
  float: left;
  min-width: 8.322222%;
  padding: 0;
  width: 100%;
}

/** 641px with 16px base font. */
@media only screen and (min-width: 40.063em) {
  .outlayer.ungridstack > .box {
    /* width: 50%; */
    width: 49.999999%;
  }
}

/** 1025px with 16px base font. */
@media only screen and (min-width: 64.063em) {
  .outlayer.ungridstack > .box[data-ol-width='1'] {
    /* width: 8.3333333333%; */
    width: 8.322222%;
  }

  .outlayer.ungridstack > .box[data-ol-width='2'] {
    /* width: 16.6666666667%; */
    width: 16.655555%;
  }

  .outlayer.ungridstack > .box[data-ol-width='3'] {
    /* width: 25%; */
    width: 24.999999%;
  }

  .outlayer.ungridstack > .box[data-ol-width='4'] {
    /* width: 33.3333333333%; */
    width: 33.322222%;
  }

  .outlayer.ungridstack > .box[data-ol-width='5'] {
    /* width: 41.6666666667%; */
    width: 41.655555%;
  }

  .outlayer.ungridstack > .box[data-ol-width='6'] {
    /* width: 50%; */
    width: 49.999999%;
  }

  .outlayer.ungridstack > .box[data-ol-width='7'] {
    /* width: 58.3333333333%; */
    width: 58.322222%;
  }

  .outlayer.ungridstack > .box[data-ol-width='8'] {
    /* width: 66.6666666667%; */
    width: 66.655555%;
  }

  .outlayer.ungridstack > .box[data-ol-width='9'] {
    /* width: 75%; */
    width: 74.999999%;
  }

  .outlayer.ungridstack > .box[data-ol-width='10'] {
    /* width: 83.3333333333%; */
    width: 83.322222%;
  }

  .outlayer.ungridstack > .box[data-ol-width='11'] {
    /* width: 91.6666666667%; */
    width: 91.655555%;
  }

  .outlayer.ungridstack > .box[data-ol-width='12'] {
    width: 100%;
  }

}
