/**
 * @files
 */

.item-list.item-list--blazy-masonry ul,
.item-list.item-list--blazy-masonry ul li {
  margin: auto;
}

.outlayer--masonry .box--stamp {
  position: absolute;
  right: 0;
  top: 0;
}
