/**
 * @file
 */

.outlayer-list,
.outlayer-list li {
  list-style: none;
  text-align: center;
}

.outlayer-list li {
  display: inline-block;
  vertical-align: top;
}

.outlayer-list .button--outlayer {
  text-transform: capitalize;
}

/** Overrides gridstack box transition. */
.outlayer.gridstack .box {
  transition: transform 0.3s, opacity 0.3s; /* left 0.3s, top 0.3s,  */
}

/** Adjust this accordingly. */
.outlayer.ungridstack .box--stamp {
  position: absolute;
  top: 0;
  right: 0;
}

/** Overrides Bartik. */
.featured-top .outlayer {
  text-shadow: none;
}
