/**
 * @file
 */

.outlayer-list,
.outlayer-list * {
  box-sizing: border-box;
}

.outlayer__sizer {
  position: absolute;
}

.outlayer__gutter {
  height: 5px;
  width: 5px;
}

.outlayer__row-height {
  height: 5px;
}

/** Must define height for fitColumns, else collapse. */
.outlayer--fitcolumns {
  min-height: 800px;
}

.outlayer__empty {
  display: none;
}

.outlayer--empty .outlayer__empty {
  display: block;
}

.outlayer.ungridstack .box__content {
  position: relative;
}

/** Overrides gridstack.theme.css. */
.outlayer.ungridstack .box .media--ratio {
  height: 0;
}

@media screen and (min-width: 768px) {
  /** Sane defaults to override grid. */
  .outlayer__column {
    width: 16.6666666667%;
  }

  .outlayer--fitcolumns {
    width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .outlayer--fitcolumns {
    width: 1140px;
  }
}
