/**
 * @files
 */

.item-list.item-list--blazy-packery ul,
.item-list.item-list--blazy-packery ul li {
  margin: auto;
  overflow: hidden;
}

.outlayer--packery .box--stamp {
  position: absolute;
  right: 0;
  top: 0;
}
