.seaside-admin-toolbar.seaside-admin-toolbar-brighton {
  #toolbar-administration {
    #toolbar-bar {
      border-color: $white;
    }

    .toolbar-bar {

      .toolbar-tab {
        background-color: $white;

        ul {
          background-color: $white;

          li {
            &:before {
              @include gradient($i360, $brighton-pier);
              @include drop-shadow($brighton-pier, .3);
            }
            &.menu-item--expanded {
              ul li {
                &:hover {
                  ul li {
                    &:before {
                      @include gradient($brighton-pier, $brighton-pier);
                    }
                  }
                }
                &.menu-item--expanded:after {
                  color: $brighton-pier;
                }
              }
            }
          }
        }

        button.toolbar-icon {
          &:hover {
            background-color: transparent;
          }

          &:before {
            color: $brighton4;
          }
        }
      }
    }
  }

  &.toolbar-vertical.toolbar-tab-open {
    #toolbar-administration {
      .toolbar-menu li.level-1.menu-item--active-trail {
        > .toolbar-box a {
          background-color: $brighton3;
        }
      }
    }
  }
}
