<div class="visualn-embed-drawing-select-dialog-wrapper">
  {{ form.update_list }}
  {{ form.new_drawing }}
  <div class="drawing-filters">
    {{ form.filters }}
  </div>
  {{ form|without('update_list', 'new_drawing', 'filters') }}
</div>
