{#
@todo: for inline styles see https://www.drupal.org/project/drupal/issues/2391025 issue
  implement when fixed

Available variables:
id
thumbnail_path
name
preview
edit
delete
#}
<div class="drawing-embed-option-wrapper" style="background-image: url({{ thumbnail_path }})">
  <div class="drawing-type-name">
    {{ name }}
  </div>
  <div class="actions-wrapper">
    {% if description %}
    <div class="js-show-info show-info icon">
      <i></i>
      <div class="drawing-type-description">
        <div class="drawing-type-description-inner">{{ description }}</div>
      </div>
    </div>
    {% endif %}
  </div>
</div>
