{# 
 /**
  * Better price theming.
  * 
  * The only required markup is the unique ID attribute.
  * 
  * @see commerce_cart_refresh_preprocess_field();
  * @see field--commerce-product-variation--price.html.twig
  */
 #}
{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
    'product-price'
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {%- for key, item in items -%}
    <div class="product-price-item">
      <span class="product-price-item__label">{{ 'Total:'|t }}</span>
      <span class="product-price-item__amount">
        {# 
         # This unique ID is required for Ajax replacement 
         # 
         # @see \Drupal\commerce_cart_refresh\Form\AddToCartForm::buildForm()
         # @see commerce_cart_refresh_preprocess_field()
         #}
        <span id="{{ ajax_unique_id }}">{{ item.content }}</span>
      </span>
    </div>
  {%- endfor -%}
</div>
