<div id="folder-menu-container">
    <div class="folder-wrapper">
        <h4><span id="folder-name">{{ name }}</span></h4>
        <div id="tabs">
            {{ ops_links }}
        </div>
    </div>
</div>
