{% set classes = [
  "markdown-benchmark",
  "markdown-benchmark--" ~ unit,
] %}
<span{{ attributes.addClass(classes) }}>~<span class="time">{{ time }}</span><em class="unit unit--{{ unit }}">{{ unit }}</em></span>
