{% extends "flot-examples.html.twig" %}
{% block demo %}
{{ attach_library('flot_examples/series_pie') }}
<h3 id="title"></h3>
		<div class="demo-container">
			<div id="placeholder" class="demo-placeholder"></div>
			<div id="menu">
				<button id="example-1">{% trans %}Default Options{% endtrans %}</button>
				<button id="example-2">{% trans %}Without Legend{% endtrans %}</button>
				<button id="example-3">{% trans %}Label Formatter{% endtrans %}</button>
				<button id="example-4">{% trans %}Label Radius{% endtrans %}</button>
				<button id="example-5">{% trans %}Label Styles #1{% endtrans %}</button>
				<button id="example-6">{% trans %}Label Styles #2{% endtrans %}</button>
				<button id="example-7">{% trans %}Hidden Labels{% endtrans %}</button>
				<button id="example-8">{% trans %}Combined Slice{% endtrans %}</button>
				<button id="example-9">{% trans %}Rectangular Pie{% endtrans %}</button>
				<button id="example-10">{% trans %}Tilted Pie{% endtrans %}</button>
				<button id="example-11">{% trans %}Donut Hole{% endtrans %}</button>
				<button id="example-12">{% trans %}Interactivity{% endtrans %}</button>
			</div>
		</div>

		<p id="description"></p>

		<h3>{% trans %}Source Code{% endtrans %}</h3>
		<pre><code id="code"></code></pre>
{% endblock demo %}
