{% extends "flot-examples.html.twig" %}
{% block container %}
{{ attach_library('flot_examples/series_toggle') }}
			<div id="flot-chart" class="demo-placeholder" style="float:left; width:675px;"></div>
			<p id="choices" style="float:right; width:135px;"></p>
{% endblock %}
