{% extends "flot-examples.html.twig" %}
{% block demo %}
{{ attach_library('flot_examples/visitors') }}
                <div class="demo-container">
			<div id="placeholder" class="demo-placeholder"></div>
		</div>
		<div class="demo-container" style="height:150px;">
			<div id="overview" class="demo-placeholder"></div>
		</div>
{% endblock %}
