{% extends "flot-examples.html.twig" %}
{% block container %}
{{ attach_library('flot_examples/zooming') }}
        <div id="placeholder" class="demo-placeholder" style="float:left; width:650px; height:400px"></div>
        <div id="overview" class="demo-placeholder" style="float:right;width:160px; height:125px;"></div>
{% endblock %}
