{#
/**
 * @file
 * Default theme implementation to display a naming convention toc.
 *
 * Available variables:
 * - toc: The naming convention table of contents.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID.
 *
 * @see template_preprocess_toc_category()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'naming-toc',
  ]
%}
{{ attach_library('naming/naming') }}
<div{{ attributes.addClass(classes) }}>
  {{ toc }}
</div>
