<span class="whatsnew-dashboard-cell whatsnew-dashboard-cell-{{status}}">
  {{version}}

  {% if details is not null %}
    <span class="whatsnew-dashboard-cell-description">
      {{details}}
    </span>
  {% endif %}

</span>
