// sass-lint:disable no-important

.fortytwo-admin-toolbar {
  #toolbar-administration {
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    font-smoothing: antialiased !important;
    font-weight: 400;
    line-height: 70px;
    text-rendering: optimizeLegibility !important;

    * {
      @include transition(width $animation-length, height $animation-length, color $animation-length, background-color $animation-length, font-size $animation-length);

      line-height: 20px;

      &:focus {
        box-shadow: none;
      }
    }

    .toolbar-tray {
      .toolbar-toggle-orientation {
        background-color: $dark-three;
        border-left: 0;
        line-height: 45px;

        button {
          border-radius: 0;
          color: $pinkish-grey;
          display: block;
          font-size: 0;
          height: 45px;
          text-indent: 0;

          &:before {
            @include icon('arrows_left');

            background-image: none;
            color: $pinkish-grey;
            height: 45px;
            line-height: 45px;
            right: 10px;
            top: 0;
            width: 30px;
          }

          &:hover {
            background-color: $dark-blue-grey;

            &:before {
              color: $white;
            }
          }
        }
      }
    }

    #toolbar-bar {
      border-bottom: 2px solid $brownish-grey;
    }

    .toolbar-bar {
      background-color: $white;
      box-shadow: none;
      height: 66px;

      .toolbar-tab {
        a {
          color: $cool-grey;
          font-weight: 400;
          overflow: hidden;
          padding: 24px 20px 20px 65px;

          &.is-active,
          &:hover,
          &:active {
            background-color: $pale-grey;
            background-image: none;
            color: $dark-blue-grey;
            text-decoration: none;
          }

          &:focus {
            background-image: none;
            text-decoration: none;
          }

          &:before {
            background-image: none;
            display: inline-block;
            height: 32px;
            left: 20px;
            margin-right: 15px;
            top: 18px;
            width: auto;
          }
        }

        &.user-toolbar-tab {
          float: right;
        }

        .toolbar-menu {
          a {
            min-height: 45px;
            padding-bottom: 14px;
            padding-top: 14px;

            &:before {
              top: 8px;
            }
          }
        }

        &.contextual-toolbar-tab {
          button {
            border-radius: 0;
            color: $cool-grey;
            font-weight: 400;
            padding: 26px 20px 20px 65px;
            position: relative;

            &.is-active,
            &:hover,
            &:active,
            &:focus {
              background-color: $pale-grey;
              background-image: none;
              color: $dark-blue-grey;
              text-decoration: none;
            }

            &:before {
              background-image: none;
              height: 32px;
              left: 20px;
              margin-right: 15px;
              position: absolute;
              top: 15px;
            }
          }
        }

        &.contextual-toolbar-tab {
          button {
            background-color: $azure;
            background-image: none;
            color: $white;
            padding-bottom: 18px;
          }
        }

        &.home-toolbar-tab {
          background-color: $azure;
          min-width: 228px;

          a {
            color: $white;

            &:hover {
              background-color: darken($azure, 10%);
              background-image: none;
            }

            &:before {
              @include icon('arrows_left');

              line-height: 32px;
            }
          }
        }

        a.toolbar-icon-switch-size {
          @include transition(font-size 0s);

          display: none;
        }

        a.toolbar-icon-admin-toolbar-tools-help {
          text-indent: 0;
        }
      }

      .toolbar-tray {
        background-color: $dark-three;

        a {
          color: $pinkish-grey;

          &:hover,
          &:focus,
          &.is-active {
            background-color: $dark-blue-grey;
            color: $white;
          }

          &.is-active {
            font-weight: 600;
          }
        }

        ul {
          background-color: $dark-three;

          li {
            border-bottom: 0;
            border-left: 0;
            border-right: 0;
            border-top: 0;

            &:hover {
              background: transparent;
            }

            &.menu-item--expanded {
              background-color: transparent;
            }

            ul {
              li {
                a {
                  padding: 0 20px;
                }

                &:first-child {
                  border-top: 0;
                }

                &.menu-item--expanded {
                  background-image: none;
                  position: relative;

                  &:after {
                    @include icon('arrows_right');

                    color: $azure;
                    font-size: 18px;
                    position: absolute;
                    right: 10px;
                    top: 14px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
