.fortytwo-admin-toolbar.toolbar-horizontal {
  .toolbar {
    a {
      min-height: 50px;
    }

    .toolbar-tray-horizontal {
      border: 0;
      box-shadow: none;
      z-index: 10;

      &#toolbar-item-user-tray,
      &#toolbar-item-shortcuts-tray {
        a {
          padding: 0 20px;
        }
      }

      ul li.menu-item--expanded {
        &:hover {
          ul {
            box-shadow: none;
            z-index: 10;
          }
        }
      }
    }

    #toolbar-item-user-tray .toolbar-menu a,
    #toolbar-item-shortcuts-tray a.edit-shortcuts {
      line-height: 50px;
    }
  }
}
