// sass-lint:disable no-important

.fortytwo-admin-toolbar {
  .toolbar {
    .toolbar-bar {
      background-color: $dark-three;

      .toolbar-tab {
        a#toolbar-item-administration:before {
          @include icon('gear');
        }

        a#toolbar-item-devel:before {
          @include icon('rocket');
        }

        // Default icon
        a.toolbar-icon-system-admin-group:before {
          @include icon('cog');
        }

        a.toolbar-icon-user:before {
          @include icon('user');
        }

        a.toolbar-icon-switch-size:before {
          @include icon('arrows_hamburger1');
        }

        a.toolbar-icon-admin-toolbar-tools-help:before {
          @include icon('drupal');
        }

        a.toolbar-icon-system-admin-content:before {
          @include icon('basic_sheet_multiple');
        }

        a.toolbar-icon-system-admin-structure:before {
          @include icon('basic_share');
        }

        a.toolbar-icon-system-themes-page:before {
          @include icon('software_paintbrush');
        }

        a.toolbar-icon-system-modules-list:before {
          @include icon('software_layers2');
        }

        a.toolbar-icon-system-admin-config:before {
          @include icon('basic_settings');
        }

        a.toolbar-icon-entity-user-collection:before {
          @include icon('user2');
        }

        a.toolbar-icon-system-admin-reports:before {
          @include icon('basic_todo_txt');
        }

        a.toolbar-icon-help-main:before {
          @include icon('basic_life_buoy');
        }

        a.toolbar-icon-shortcut:before {
          @include icon('folder-star');

          font-size: 24px;
          top: 20px !important;
        }

        button.toolbar-icon-edit:before {
          @include icon('software_pencil');
        }
      }
    }
  }
}
