.fortytwo-admin-toolbar.toolbar-vertical.toolbar-tray-open {
  #toolbar-administration {
    width: 228px;

    .toolbar-tray-vertical {
      box-shadow: none;
    }

    .toolbar-bar .toolbar-tab {
      &.home-toolbar-tab {
        width: 228px;
      }

      .toolbar-icon-switch-size {
        display: block;
        font-size: 0;
        padding-right: 5px;
      }
    }

    .toolbar-tray {
      border-right: 0;
      margin-bottom: 100px;
      padding-bottom: 70px;
      width: 228px;

      .toolbar-lining:before {
        width: 228px;
      }

      .account,
      .account-edit,
      .logout {
        display: block;
      }

      .toolbar-toggle-orientation {
        button {
          &:before {
            @include icon('arrows_up');

            color: $pinkish-grey;
            line-height: 45px;
          }
        }
      }
    }

    .toolbar-icon {
      &:focus,
      &:active {
        background: transparent;
      }

      &.toolbar-handle {
        &:before {
          @include icon('arrows_down');

          background-image: none;
          color: $azure;
          font-size: 18px;
          height: 20px;
          left: auto;
          right: 10px;
          text-indent: 0;
          top: 14px;
        }

        &:focus,
        &:active {
          background: transparent;
        }

        &.open {
          &:before {
            @include icon('arrows_up');

            font-size: 18px;
          }
        }
      }
    }

    .toolbar-menu {
      &.root {
        padding-top: 10px;
      }

      li {
        &.level-1.menu-item--active-trail {
          > .toolbar-box {
            a {
              background-color: $dark-blue-grey;
              color: $white;
              font-weight: 600;
            }
          }
        }

        &.menu-item--active-trail {
          > .toolbar-box {
            a,
            a.is-active {
              background-color: $almost-black;
            }
          }
        }
      }

      .toolbar-menu {
        background-color: $dark-four;
        border: 0;

        li {
          a {
            &.is-active {
              background-color: $almost-black;
            }
          }

          &.level-3,
          &.level-4,
          &.level-5,
          &.level-6,
          &.level-7 {
            a {
              padding-left: 40px;
            }
          }

          &.menu-item--expanded {
            &:after {
              display: none;
            }
          }
        }

        .toolbar-icon {
          &.toolbar-handle {
            &:before {
              @include icon('arrows_down');

              background-image: none;
              font-size: 18px;
            }

            &.open:before {
              @include icon('arrows_up');

              font-size: 18px;
            }
          }
        }
      }
    }
  }

  &.fortytwo-admin-toolbar-small {
    margin-left: 75px;

    #toolbar-administration {
      min-width: 75px;
      width: 75px;

      .toolbar-bar {
        .toolbar-tray,
        .home-toolbar-tab {
          min-width: 75px;
          width: 75px;

          .toolbar-lining:before {
            min-width: 75px;
            width: 75px;
          }

          ul ul {
            display: none;
          }

          .toolbar-icon,
          .toolbar-handle,
          .toolbar-handle:before {
            font-size: 0;
          }

          .toolbar-toggle-orientation {
            button.toolbar-icon {
              &:before {
                left: auto;
                right: 25px;
              }
            }
          }
        }
      }
    }
  }
}
