<table class="overlays-list">
    <thead>
    <tr>
        <th>{% trans %}Title{% endtrans %}</th>
        <th width="1%">{% trans %}Type{% endtrans %}</th>
        <th width="1%">&nbsp;</th>
        <th width="1%">&nbsp;</th>
    </tr>
    </thead>
    <tbody></tbody>
</table>
<!-- Templates -->
<script type="text/template" id="overlay-info-template">
    <td>
        <% if(!_.isUndefined(extraParams.title) && String(extraParams.title).length >0) { %>
        <%- extraParams.title %>
        <% } else { %>
        No title
        <% } %>
    </td>
    <td><%- type %></td>
    <td>
        <span class="overlay-edit">{% trans %}Edit{% endtrans %}</span>
        <div class="edit-dialog"></div>
    </td>
    <td>
        <span class="overlay-remove">{% trans %}Remove{% endtrans %}</span>
    </td>
</script>
<script type="text/template" id="overlay-info-dialog-template">
    <div class="dialog" title="{% trans %}Overlay info{% endtrans %}">
        <div class="form-item">
            <label for="title">{% trans %}Title{% endtrans %}</label>
            <input type="text" name="title" value="<%= extraParams.title %>" class="form-text" size="100"/>
        </div>
        <div class="form-item">
            <label for="description">{% trans %}Description{% endtrans %}</label>
            <div class="form-textarea-wrapper">
                <textarea name="description" cols="100" rows="5" class="text-full form-textarea"><%= extraParams.description %></textarea>
            </div>
        </div>
        <table class="overlay-params">
            <tr>
                <% if(fillColorpicker) { %>
                <td>
                    <p class="colorpicker-title">{% trans %}Fill color{% endtrans %}</p>
                    <div class="fillColorpicker colorpicker"></div>
                    <p class="fillColor colorpicker-value"><%- extraParams.fillColor %></p>
                </td>
                <% } %>
                <% if(strokeColorpicker) { %>
                <td>
                    <p class="colorpicker-title">{% trans %}Stroke color{% endtrans %}</p>
                    <div class="strokeColorpicker colorpicker"></div>
                    <p class="strokeColor colorpicker-value"><%- extraParams.strokeColor %></p>
                </td>
                <% } %>
            </tr>
        </table>
    </div>
</script>
