{#
/**
 * @file
 * Template for MixItUp sorting items.
 */
#}

<div class="sort_wrapper form-item">
  <strong>{% trans %} Sort by {% endtrans %}</strong>
  <div class="sort default" data-sort="default">{% trans %} Default {% endtrans %}</div>
  {% for sort_field, label in sorts %}
    <div class="sort asc sort_item" data-sort="{{ sort_field }}"> {{ label }}</div>
  {% endfor %}
</div>
