{#
/**
 * @file simple_mega_menu.html.twig
 * Default theme implementation to present Simple mega menu data.
 *
 * This template is used when viewing Simple mega menu pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 * - bundle : the simple mega menu bundle
 * - view_mode : the view mode used
 * - simple_mega_menu: the simple mega menu entity
 *
 * @see template_preprocess_simple_mega_menu()
 *
 * @ingroup themeable
 */
#}

{%
set classes = [
'simple-mega-menu',
'mega-menu-item',
'simple-mega-menu-type-' ~ bundle|clean_class,
view_mode ? 'view-mode-' ~ view_mode|clean_class,
]
%}

<div{{ attributes.addClass(classes) }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
