.title {
  font-size: 1.3rem;
  border-bottom: solid 1px #ccc;
  padding: 0.5rem 0;
}

.panel-title {
  font-size: 1.3rem;
  border-bottom: solid 1px #ccc;
  margin-top: 0.25rem;
  padding-top: 0;
}

.yasm-dashboard .yasm-panel {
  padding: 2rem;
  text-align: center;
  font-size: 1.5rem;
}

.yasm-group-datakey {
  display: inline-block;
  margin: 0.5rem 1rem 1rem 0;
}

@media screen and (min-width: 38em) {
  .layout-column--one-third {
    width: 33%;
  }
  .layout-column--full {
    width: 100%;
  }
}

table .total-row,
table .total-row > td {
  font-weight: bold;
  background-color: #ccc;
  color: #000;
}

table .even {
  background-color: #fcfcfc;
}

.yasm-tabs .tabs.secondary {
  margin-top: 0;
  margin-bottom: 1rem;
}
