{# File uc_funds_mail.html.twig #}
<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>{{ message.subject }}</title>
</head>

<body>

<!-- body -->
<table>
  <tr>
    <td class="container">
      <!-- content -->
      <div class="content">
        <table>
          <tr>
            <td>
              {% if message.title %}
                <h1>{{ message.title }}</h1>
              {% endif %}

              {% if message.body %}
                <p>{{ message.body }}</p>
              {% endif %}

            </td>
          </tr>
        </table>
      </div>
      <!-- /content -->
    </td>
  </tr>
</table>
<!-- /body -->

</body>
</html>
