{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - balance: The global site balance amount.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}
<span><strong>{{ 'Balance'|t }} : </strong>{{ balance }}</span>
