{#
/**
 * @file
 * Default theme implementation to display Iubenda privacy policy.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - pre_text: the Privacy Policy text to be shown before the Iubenda link.
 * - link: the Privacy Policy link.
 * - post_text: the Privacy Policy text to be shown after the Iubenda link.
 *
 * @see template_preprocess_block().
 *
 * @ingroup themeable
 */
 #}
<div{{ attributes }}>
    <p>{{ pre_text }}{{ link }}{{ post_text }}</p>
</div>