<html>
<head>
</head>
<body>
Static root page, add/modify templates/static-root-page.html.twig in your theme folder.
{% if language_list|length > 0 %}
<ul class="static_root_page_language_list">
{% for one_language in language_list %}
    <li><a href="{{ one_language.url }}" lang="{{ one_language.id }}">{{ one_language.title }}</a></li>
{% endfor %}
</ul>
{% endif %}
</body>
</html>