{#
/**
 * @file opigno_module.html.twig
 * Default theme implementation to present Module data.
 *
 * This template is used when viewing Module pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_opigno_module()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('opigno_module') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
