{#
/**
 * @file user_module_status.html.twig
 * Default theme implementation to present User module status data.
 *
 * This template is used when viewing User module status pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_user_module_status()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('user_module_status') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
