.CodeMirror { 
  border: 1px solid silver; 
}

.cm-s-default span.cm-semi { 
  color: blue; 
  font-weight: bold; 
}

.cm-s-default span.cm-dollar { 
  color: orange; 
  font-weight: bold; 
}

.cm-s-default span.cm-arrow { 
  color: brown; 
}
.cm-s-default span.cm-arg-is { 
  color: brown; 
}

.field--name-field-application-help {
  margin-top:-1.5em;
}

.field--name-field-application-help .field__item { 
  height: 300px;
  overflow:auto;
  border: 1px solid silver;
  padding-left:1em;
}

#block-views-block-dataset-block-1 h2,
.field--name-field-application-help .field__label { 
  font-weight: bold;
  margin: 10px 0;
  font-size: 1.231em; 
}

.field--name-field-application-help h3,
.field--name-field-application-help p,
.field--name-field-application-help code { 
  font-size:smaller; 
}

.field--name-field-application-help .CodeMirror h3 {
  font-family: "comic sans";
  color: green;
}

#quadstat-slickgrid { 
  height:149px;
}

#block-views-block-dataset-block-1 .view-display-id-block_1 { 
  border:1px solid silver;
  padding:1em 2em;
  border-bottom:1px solid silver;
  padding-bottom:2em;
}

.page-node-type-application #block-views-block-dataset-block-1 .view-display-id-block_1 {                          
  border:none;
  padding:0;
}

#edit-field-dataset-grid-edit-wrapper,
.field--name-field-dataset-file {
  margin:1.5em;
}

#block-datasetpreviewslickgridblock {
  margin-top:0.25em;
}

.webform-submission-form .form-item-result {
  display:none; 
}

.field--name-field-application-webform {
  margin-top:1.5em;
}

.page-node-type-application table td,
.page-node-type-application table tr { 
  border:none;
}

.page-node-type-application .pager__items {
  text-align:left;
}

.page-node-type-application .views-exposed-form #edit-actions {
  clear:none;
}

.webform-submission-form #edit-actions {
  margin-bottom:3em;
}

.highlighted-col-1 {
        background:#fafaee;
}

.highlighted-col-2 {
  background:#f0f0e8;
}

.highlighted-col-3 {
  background:#ffffee;
}

.webform-submission-form #ajax-wrapper,
.webform-submission-form .js-form-item-v1,
.webform-submission-form .js-form-item-v2,
.webform-submission-form .js-form-item-v3,
.webform-submission-form .js-form-item-x {
  display:none;
}

.block-adsense { 
  padding:0em 0 0em;
}

#block-seven-page-title {
  margin-bottom:-0.5em;
}

#block-views-block-dataset-block-1 div.view-filters {
  margin: 0.5em 0 -0.2em;
}

#block-views-block-dataset-block-1 .form-actions {
  display:none;
}

#block-views-block-dataset-block-1 input.form-autocomplete {
  padding: .25em .4em .2em .5em;
}

input[data-drupal-selector="edit-application-dataset-edit"],
#edit-application-dataset-edit {
  margin:0.6em 0;
  border-radius:0px;
  padding: 0.25em 1.3em 0.2em;
  font-weight:400;
}

form .form-item-v {
  margin:0em;
  float:right;
}

body.page-node-type-application {
  padding-bottom:3em;
}
