.CodeMirror {
  border:1px solid silver;
}

#quadstat-slickgrid-buttons input { 
  margin-right:1em; 
}

#quadstat-slickgrid-buttons { 
  margin-top:1.4em; 
}

.page-content .text-formatted.field--name-body .field__item { 
  margin-bottom:1em; 
  border:1px solid silver; 
  padding:1em 2em;
  height:305px;
  overflow:auto; 
}

.page-content #edit-body-wrapper {
  margin: 0;
}

.field--name-field-dataset-grid {
  margin-top:0.5em;
}

#edit-field-dataset-file-wrapper,
#edit-field-dataset-paste-wrapper,
#edit-field-dataset-header-wrapper,
#edit-field-dataset-separator-wrapper {
  display:none;
}

#edit-field-dataset-history-wrapper { 
  display:none; 
}

.field--name-field-dataset-buttons {
  margin-top:0.5em;
}

.field--name-field-dataset-grid #quadstat-slickgrid *  {
  cursor:not-allowed;
}

.field--name-field-dataset-grid #quadstat-slickgrid .slick-resizable-handle  {
  cursor:col-resize;
}

#edit-field-dataset-grid-edit-wrapper,
.field--name-field-dataset-file {
  margin:1.5em 0 2em;
}

#quadstat-slickgrid {
  height: 305px;
}

.slick-headerrow-column input {
  width:80%;
}

#edit-field-dataset-buttons-wrapper {
  margin:-1em 0 1.5em;
}

.slick-headerrow-columns {
  border-bottom:1px dotted #ccc;
}

.slick-headerrow-columns input {
  border:1px solid #ddd;
}

.path-node #edit-field-dataset-grid-wrapper {
  display:none;
}

.path-node.page-node-type-dataset #edit-field-dataset-grid-edit-wrapper {
  display:block;
}

.path-node #edit-field-dataset-grid-edit-wrapper {
  display:none;
}

.path-node.page-node-type-dataset #edit-field-dataset-grid-edit-wrapper {
  display:block;
}

.path-node #edit-field-dataset-buttons-wrapper {
  display:none;
}

.path-node.page-node-type-dataset #edit-field-dataset-buttons-wrapper {
  display:block;
}

.path-node .layout-region-node-main .form-wrapper {
  margin:1.5em 0;
}

.page-node-type-dataset .node__submitted {
  margin-bottom:-0.2em;
}

.page-node-type-dataset #block-seven-page-title {
  margin-bottom:-0.75em;
}

.page-node-type-dataset #block-managedad {
  padding-top:1em;
}

.layout-region-node-footer {
  margin:-1em 0 2em;
}

body.page-node-type-dataset {
  padding-bottom:3em;
}

#edit-field-dataset-cont-table--wrapper--description {
  display:none;
}

#edit-field-dataset-cont-table--wrapper--description code {
  color:green;
}

#edit-field-dataset-paste-wrapper textarea {
  font-family:monospace;
}
