.h1,
.h2,
.h3,
h1,
h2,
h3 {
  font-family: 'Chewy', cursive;
}

#landingpage-carousel img, .paragraph--type--landingpage-hero-image-textarea {
	border-radius: 20px;
}

.paragraph--type--landingpage-textarea-textareas .col-sm-12 h2 {
	margin: 1em;
}

#landingpage .font_large h2, .paragraph--type--landingpage-hero-image-textarea h2 {
    font-size: 36px;
}

#landingpage .font_large h1, .paragraph--type--landingpage-hero-image-textarea h1 {
    font-size: 42px;
}

.paragraph--type--landingpage-textarea-textareas .panel .panel-body {
	min-height: 260px;
}

.paragraph--type--landingpage-textarea-textareas .panel .panel-body h3 {
	text-align: center;
}

/*a.btn {
    cursor: pointer;
}*/

.paragraph--type--landingpage-textfield-textarea.paragraph--view-mode--right .col-sm-3 {
	text-align: right;
}