#color-schema-ui {
  position: fixed;
  left: 50px;
  width: 250px;
  height: 150px;
  top: 100px;
  text-align: center;
  z-index: 3;
}

#color-schema-ui .btn {
  clear: both;
  margin-bottom: 5px;
  width: 100%;
}

#color-schema-ui .btn.save {
  margin-top: 20px;
}
