{#
/**
 * @file
 * Theme for commerce_rental_rate
 *
 *
 * Available variables:
 * - label: label or the field.
 * - values: array
 *    - rental_period: rental period entity
 *    - price: the formatted price
 *
 */
#}

<table>
{% if not label_hidden %}
    <thead>
        <tr>
            <th>
                {{ label }}
            </th>
            <th>
                Price
            </th>
        </tr>

    </thead>
{% endif %}
    <tbody>
    {% for value in values %}
        <tr>
            <td>{{ value.rental_period.label }}</td>
            <td>{{ value.price }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
