.paragraph.bg--replace_variant_name {
  position: relative;
  z-index: 5;
  color: replace_foreground_color;
}

.paragraph.bg--replace_variant_name:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  height: 100%;
  background-color: replace_background_color;
  z-index: -1;
}

.paragraph.bg--replace_variant_name a:not(.button), .paragraph.bg--replace_variant_name a:not(.button):visited {
  color: replace_link_color;
}

.paragraph.bg--replace_variant_name a:not(.button):hover, .paragraph.bg--replace_variant_name a:not(.button):active {
  color: replace_hover_color;
}

.paragraph.bg--replace_variant_name h1,
.paragraph.bg--replace_variant_name h2,
.paragraph.bg--replace_variant_name h3,
.paragraph.bg--replace_variant_name h4 {
  color: replace_foreground_color;
}

.paragraph.bg--replace_variant_name h1 a:not(.button), .paragraph.bg--replace_variant_name h1 a:not(.button):visited,
.paragraph.bg--replace_variant_name h2 a:not(.button),
.paragraph.bg--replace_variant_name h2 a:not(.button):visited,
.paragraph.bg--replace_variant_name h3 a:not(.button),
.paragraph.bg--replace_variant_name h3 a:not(.button):visited,
.paragraph.bg--replace_variant_name h4 a:not(.button),
.paragraph.bg--replace_variant_name h4 a:not(.button):visited {
  color: replace_link_color;
}

.paragraph.bg--replace_variant_name h1 a:not(.button):hover, .paragraph.bg--replace_variant_name h1 a:not(.button):active,
.paragraph.bg--replace_variant_name h2 a:not(.button):hover,
.paragraph.bg--replace_variant_name h2 a:not(.button):active,
.paragraph.bg--replace_variant_name h3 a:not(.button):hover,
.paragraph.bg--replace_variant_name h3 a:not(.button):active,
.paragraph.bg--replace_variant_name h4 a:not(.button):hover,
.paragraph.bg--replace_variant_name h4 a:not(.button):active {
  color: replace_hover_color;
}

.paragraph.bg--replace_variant_name .breadcrumb {
  color: replace_foreground_color;
}

.paragraph.bg--replace_variant_name .breadcrumb__item:before {
  color: replace_foreground_color;
}

.paragraph.bg--replace_variant_name .breadcrumb__element {
  color: replace_foreground_color;
}

.paragraph.bg--replace_variant_name .breadcrumb__link {
  display: inline-block;
  position: relative;
}

.paragraph.bg--replace_variant_name .breadcrumb__link, .paragraph.bg--replace_variant_name .breadcrumb__link:visited {
  color: replace_link_color;
}

.paragraph.bg--replace_variant_name .breadcrumb__link:after {
  display: block;
  content: '';
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  bottom: 2px;
  height: 1px;
  transition: all 0.3s ease-in-out;
  opacity: 1;
  width: 100%;
  background-color: replace_link_color;
}

.paragraph.bg--replace_variant_name .breadcrumb__link:after:not([href]):after {
  pointer-events: none;
  display: none;
  text-decoration: none;
}

.paragraph.bg--replace_variant_name .breadcrumb__link:hover {
  color: replace_link_color;
}

.paragraph.bg--replace_variant_name .breadcrumb__link:hover:after {
  opacity: 0;
  width: 90%;
  background-color: replace_link_color;
}

.paragraph.bg--replace_variant_name .breadcrumb__link:active {
  color: replace_link_color;
}

.paragraph.bg--replace_variant_name .breadcrumb__link:active:after {
  opacity: 0;
  width: 90%;
  background-color: replace_link_color;
}

.paragraph.bg--replace_variant_name .field--name-field-blog-tags,
.paragraph.bg--replace_variant_name .field--name-node-title,
.paragraph.bg--replace_variant_name .field--name-node-link,
.paragraph.bg--replace_variant_name .field--name-field-p-link {
  color: replace_foreground_color;
}

.paragraph.bg--replace_variant_name .field--name-field-blog-tags a:not(.button), .paragraph.bg--replace_variant_name .field--name-field-blog-tags a:not(.button):visited,
.paragraph.bg--replace_variant_name .field--name-node-title a:not(.button),
.paragraph.bg--replace_variant_name .field--name-node-title a:not(.button):visited,
.paragraph.bg--replace_variant_name .field--name-node-link a:not(.button),
.paragraph.bg--replace_variant_name .field--name-node-link a:not(.button):visited,
.paragraph.bg--replace_variant_name .field--name-field-p-link a:not(.button),
.paragraph.bg--replace_variant_name .field--name-field-p-link a:not(.button):visited {
  color: replace_link_color;
}

.paragraph.bg--replace_variant_name .field--name-field-blog-tags a:not(.button):hover, .paragraph.bg--replace_variant_name .field--name-field-blog-tags a:not(.button):active,
.paragraph.bg--replace_variant_name .field--name-node-title a:not(.button):hover,
.paragraph.bg--replace_variant_name .field--name-node-title a:not(.button):active,
.paragraph.bg--replace_variant_name .field--name-node-link a:not(.button):hover,
.paragraph.bg--replace_variant_name .field--name-node-link a:not(.button):active,
.paragraph.bg--replace_variant_name .field--name-field-p-link a:not(.button):hover,
.paragraph.bg--replace_variant_name .field--name-field-p-link a:not(.button):active {
  color: replace_hover_color;
}

.paragraph.bg--replace_variant_name .field--name-field-p-title h2,
.paragraph.bg--replace_variant_name .field--name-field-p-title h3,
.paragraph.bg--replace_variant_name .field--name-field-p-title h4,
.paragraph.bg--replace_variant_name .field--name-field-p-subtitle h2,
.paragraph.bg--replace_variant_name .field--name-field-p-subtitle h3,
.paragraph.bg--replace_variant_name .field--name-field-p-subtitle h4 {
  color: replace_foreground_color;
}

.paragraph.bg--replace_variant_name .field--name-field-p-title h2 a:not(.button), .paragraph.bg--replace_variant_name .field--name-field-p-title h2 a:not(.button):visited,
.paragraph.bg--replace_variant_name .field--name-field-p-title h3 a:not(.button),
.paragraph.bg--replace_variant_name .field--name-field-p-title h3 a:not(.button):visited,
.paragraph.bg--replace_variant_name .field--name-field-p-title h4 a:not(.button),
.paragraph.bg--replace_variant_name .field--name-field-p-title h4 a:not(.button):visited,
.paragraph.bg--replace_variant_name .field--name-field-p-subtitle h2 a:not(.button),
.paragraph.bg--replace_variant_name .field--name-field-p-subtitle h2 a:not(.button):visited,
.paragraph.bg--replace_variant_name .field--name-field-p-subtitle h3 a:not(.button),
.paragraph.bg--replace_variant_name .field--name-field-p-subtitle h3 a:not(.button):visited,
.paragraph.bg--replace_variant_name .field--name-field-p-subtitle h4 a:not(.button),
.paragraph.bg--replace_variant_name .field--name-field-p-subtitle h4 a:not(.button):visited {
  color: replace_link_color;
}

.paragraph.bg--replace_variant_name .field--name-field-p-title h2 a:not(.button):hover, .paragraph.bg--replace_variant_name .field--name-field-p-title h2 a:not(.button):active,
.paragraph.bg--replace_variant_name .field--name-field-p-title h3 a:not(.button):hover,
.paragraph.bg--replace_variant_name .field--name-field-p-title h3 a:not(.button):active,
.paragraph.bg--replace_variant_name .field--name-field-p-title h4 a:not(.button):hover,
.paragraph.bg--replace_variant_name .field--name-field-p-title h4 a:not(.button):active,
.paragraph.bg--replace_variant_name .field--name-field-p-subtitle h2 a:not(.button):hover,
.paragraph.bg--replace_variant_name .field--name-field-p-subtitle h2 a:not(.button):active,
.paragraph.bg--replace_variant_name .field--name-field-p-subtitle h3 a:not(.button):hover,
.paragraph.bg--replace_variant_name .field--name-field-p-subtitle h3 a:not(.button):active,
.paragraph.bg--replace_variant_name .field--name-field-p-subtitle h4 a:not(.button):hover,
.paragraph.bg--replace_variant_name .field--name-field-p-subtitle h4 a:not(.button):active {
  color: replace_hover_color;
}

.paragraph.bg--replace_variant_name .field--type-text-long:before,
.paragraph.bg--replace_variant_name .text-long:before {
  color: replace_foreground_color;
}

.paragraph.content-bg--replace_variant_name > .p-content {
  color: replace_foreground_color;
  background-color: replace_background_color;
}

.paragraph.content-bg--replace_variant_name > .p-content a:not(.button), .paragraph.content-bg--replace_variant_name > .p-content a:not(.button):visited {
  color: replace_link_color;
}

.paragraph.content-bg--replace_variant_name > .p-content a:not(.button):hover, .paragraph.content-bg--replace_variant_name > .p-content a:not(.button):active {
  color: replace_hover_color;
}

.paragraph.content-bg--replace_variant_name > .p-content .field--name-field-blog-tags,
.paragraph.content-bg--replace_variant_name > .p-content .field--name-node-title,
.paragraph.content-bg--replace_variant_name > .p-content .field--name-node-link,
.paragraph.content-bg--replace_variant_name > .p-content .field--name-field-p-link,
.paragraph.content-bg--replace_variant_name > .p-content .field--type-text-long,
.paragraph.content-bg--replace_variant_name > .p-content .text-long {
  color: replace_foreground_color;
}

.paragraph.content-bg--replace_variant_name > .p-content .field--name-field-blog-tags a:not(.button), .paragraph.content-bg--replace_variant_name > .p-content .field--name-field-blog-tags a:not(.button):visited,
.paragraph.content-bg--replace_variant_name > .p-content .field--name-node-title a:not(.button),
.paragraph.content-bg--replace_variant_name > .p-content .field--name-node-title a:not(.button):visited,
.paragraph.content-bg--replace_variant_name > .p-content .field--name-node-link a:not(.button),
.paragraph.content-bg--replace_variant_name > .p-content .field--name-node-link a:not(.button):visited,
.paragraph.content-bg--replace_variant_name > .p-content .field--name-field-p-link a:not(.button),
.paragraph.content-bg--replace_variant_name > .p-content .field--name-field-p-link a:not(.button):visited,
.paragraph.content-bg--replace_variant_name > .p-content .field--type-text-long a:not(.button),
.paragraph.content-bg--replace_variant_name > .p-content .field--type-text-long a:not(.button):visited,
.paragraph.content-bg--replace_variant_name > .p-content .text-long a:not(.button),
.paragraph.content-bg--replace_variant_name > .p-content .text-long a:not(.button):visited {
  color: replace_link_color;
}

.paragraph.content-bg--replace_variant_name > .p-content .field--name-field-blog-tags a:not(.button):hover, .paragraph.content-bg--replace_variant_name > .p-content .field--name-field-blog-tags a:not(.button):active,
.paragraph.content-bg--replace_variant_name > .p-content .field--name-node-title a:not(.button):hover,
.paragraph.content-bg--replace_variant_name > .p-content .field--name-node-title a:not(.button):active,
.paragraph.content-bg--replace_variant_name > .p-content .field--name-node-link a:not(.button):hover,
.paragraph.content-bg--replace_variant_name > .p-content .field--name-node-link a:not(.button):active,
.paragraph.content-bg--replace_variant_name > .p-content .field--name-field-p-link a:not(.button):hover,
.paragraph.content-bg--replace_variant_name > .p-content .field--name-field-p-link a:not(.button):active,
.paragraph.content-bg--replace_variant_name > .p-content .field--type-text-long a:not(.button):hover,
.paragraph.content-bg--replace_variant_name > .p-content .field--type-text-long a:not(.button):active,
.paragraph.content-bg--replace_variant_name > .p-content .text-long a:not(.button):hover,
.paragraph.content-bg--replace_variant_name > .p-content .text-long a:not(.button):active {
  color: replace_hover_color;
}

.paragraph.content-bg--replace_variant_name > .p-content .field--type-text-long:before,
.paragraph.content-bg--replace_variant_name > .p-content .text-long:before {
  color: replace_foreground_color;
}

.paragraph--type-p-004.bg--replace_variant_name .field__item--type-tabbed-item {
  border-top-color: replace_foreground_color;
}

.paragraph--type-p-004.bg--replace_variant_name .field__item--type-tabbed-item .tab-item__title {
  color: replace_foreground_color;
}

.paragraph--type-p-004.bg--replace_variant_name .field__item--type-tabbed-item .tab-item__title a,
.paragraph--type-p-004.bg--replace_variant_name .field__item--type-tabbed-item .tab-item__title a:visited {
  color: replace_foreground_color;
}

.paragraph--type-p-004.bg--replace_variant_name .field__item--type-tabbed-item .tab-item__title:before {
  border-top: 5px solid replace_foreground_color;
}

.paragraph--type-p-004.bg--replace_variant_name .field__item--type-tabbed-item:hover .tab-item__title, .paragraph--type-p-004.bg--replace_variant_name .field__item--type-tabbed-item.js-open .tab-item__title {
  color: replace_link_color;
}

.paragraph--type-p-004.bg--replace_variant_name .field__item--type-tabbed-item:hover .tab-item__title a,
.paragraph--type-p-004.bg--replace_variant_name .field__item--type-tabbed-item:hover .tab-item__title a:visited, .paragraph--type-p-004.bg--replace_variant_name .field__item--type-tabbed-item.js-open .tab-item__title a,
.paragraph--type-p-004.bg--replace_variant_name .field__item--type-tabbed-item.js-open .tab-item__title a:visited {
  color: replace_link_color;
}

.paragraph--type-p-004.bg--replace_variant_name .field__item--type-tabbed-item:hover .tab-item__title a:hover,
.paragraph--type-p-004.bg--replace_variant_name .field__item--type-tabbed-item:hover .tab-item__title a:active, .paragraph--type-p-004.bg--replace_variant_name .field__item--type-tabbed-item.js-open .tab-item__title a:hover,
.paragraph--type-p-004.bg--replace_variant_name .field__item--type-tabbed-item.js-open .tab-item__title a:active {
  color: replace_hover_color;
}

.paragraph--type-p-009.bg--replace_variant_name .field--name-field-p-images-unlimited .field__item:after {
  color: replace_link_color;
  background: #FFFFFF;
}

.paragraph--type-p-010.bg--replace_variant_name .slick-arrow {
  background: #E5E5E5;
  opacity: .75;
}

.paragraph--type-p-010.bg--replace_variant_name .slick-arrow.slick-prev, .paragraph--type-p-010.bg--replace_variant_name .slick-arrow.slick-next {
  background: #FFFFFF;
}

.paragraph--type-p-010.bg--replace_variant_name .slick-arrow.slick-prev:before {
  border-right: 7px solid replace_foreground_color;
}

.paragraph--type-p-010.bg--replace_variant_name .slick-arrow.slick-next:before {
  border-left: 7px solid replace_foreground_color;
}

.paragraph--type-p-010.bg--replace_variant_name .slick-arrow:hover {
  opacity: 1;
  background: white;
}

.paragraph--type-p-012-child.bg--replace_variant_name {
  border: 1px solid replace_foreground_color;
}

.paragraph--type-p-012-child.bg--replace_variant_name:hover {
  border-color: #DE0055;
}

.group--paragraphs__item .p-012__child--view-mode--title.bg--replace_variant_name .p-012-child--text {
  background: replace_background_color;
  opacity: .75;
}

.paragraph--type-p-016.bg--replace_variant_name {
  position: relative;
  z-index: 5;
}

.paragraph--type-p-016.bg--replace_variant_name:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  height: 100%;
  background-color: replace_background_color;
  z-index: -1;
}

.group--paragraphs__item .paragraph--type-p-017.bg--replace_variant_name a:not(button), .group--paragraphs__item .paragraph--type-p-017.bg--replace_variant_name a:not(button):visited,
.group--paragraphs__item .paragraph--type-p-017.bg--replace_variant_name .field-p-menu-overview__item__title a:not(.button),
.group--paragraphs__item .paragraph--type-p-017.bg--replace_variant_name .field-p-menu-overview__item__title a:not(.button):visited {
  color: #303030;
}

.group--paragraphs__item .paragraph--type-p-017.bg--replace_variant_name a:not(button):hover, .group--paragraphs__item .paragraph--type-p-017.bg--replace_variant_name a:not(button):active,
.group--paragraphs__item .paragraph--type-p-017.bg--replace_variant_name .field-p-menu-overview__item__title a:not(.button):hover,
.group--paragraphs__item .paragraph--type-p-017.bg--replace_variant_name .field-p-menu-overview__item__title a:not(.button):active {
  color: #303030;
}

.group--paragraphs__item .paragraph--type-p-017.bg--replace_variant_name .field-p-menu-overview__item {
  color: #303030;
  background-color: #E5E5E5;
}

.group--paragraphs__item .paragraph--type-p-017.bg--replace_variant_name .field-p-menu-overview__item__title {
  color: #303030;
}

.group--paragraphs__item .paragraph--type-p-017.bg--replace_variant_name .field-p-menu-overview__item__title a:not(.button), .group--paragraphs__item .paragraph--type-p-017.bg--replace_variant_name .field-p-menu-overview__item__title a:not(.button):visited {
  color: #303030;
}

.group--paragraphs__item .paragraph--type-p-017.bg--replace_variant_name .field-p-menu-overview__item__title a:not(.button):hover, .group--paragraphs__item .paragraph--type-p-017.bg--replace_variant_name .field-p-menu-overview__item__title a:not(.button):active {
  color: #303030;
}

.group--paragraphs__item .paragraph--type-p-017.bg--replace_variant_name .field-p-menu-overview__item__content {
  color: #303030;
}
