fieldset.insert.form-item {
  padding: 18px;
}

.insert-style-select {
  margin-right: 1em;
}

.insert .button {
  margin-left: 0;
}

.insert + input {
  margin-left: 0;
}

.form-item.insert .insert-templates {
  display: none;
}

.form-item.insert .insert-button-wrapper {
  line-height: 3em;
}
