{#

Description text for the Js Module.

#}

{% set block_admin_page = url('block.admin_display')['#markup'] %}

{% trans %}

<p>This block helps to configure custom js with block. To experiment with the blocks, enable and configure them on <a href="{{ block_admin_page }}">the block admin page</a>.</p>

{% endtrans %}
