.comments-wrapper {
  border: 1px solid #ccc;
  margin-bottom: 3em;
}
.comment-wrapper {
  padding: 1rem;
}
.comment-wrapper p {
  margin-top: 0;
}
.descr-wrapper {
  background-color: #f7f7f7;
  padding: 15px;
  margin: 1em 0 2em 0;
}
.comment-wrapper + .comment-wrapper {
  border-top: 1px solid #ccc;
}
.created-wrapper {
  background: #f6f6f2;
  color: #666666;
  margin-left: 0;
  border-left: 10px solid #9d9d93;
  font-size: .923em;
  padding: .5em 10px;
  margin: 1em 0;
}

.close-link + .edit-link {
  margin-left: 0.3em;
}

.state-opened {
  color: #77b259;
}
.state-closed {
  color: #fc8596;
}
