{#
/**
 * @file events_logging.html.twig
 * Default theme implementation to present Event log data.
 *
 * This template is used when viewing Event log pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_events_logging()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('events_logging') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
