<h5>1 . Add some text / image after the Link</h5>
    <p>  Step 1. Navigate through : Structure > Menu > Main navigation > Add Link </p>
    <p>  Step 2. Expend the link "MENU TWIG" by click on it. </p>
    <p>  Step 3. See the textarea inside the link "MENU TWIG". Now choose the text editor then write some text/ insert image inside the textarea and save the form. </p>
    <p>&nbsp;</p>

<h5>2 . Rewrite the link / Add attributes to link</h5>
    <p>  Step 1. Navigate through : Structure > Menu > Main navigation > Add Link </p>
    <p>  Step 2. Expend the link "MENU TWIG" by click on it. </p>
    <p>  Step 3. Check the checkbox says "Exclude the menu item or override the menu item with text editor". </p>
    <p>  Step 4. Please find the some examples help to rewrite the link twig link function. </p>
    <pre>
        <code>
         Example 1:   &#123;&#123; link(title, url)&#125;&#125;
        </code>
        <code>
         Example 2:   &#123;&#123; link(title, url, &#123; 'class':['overwrite_link']&#125;) &#125;&#125;
        </code>
        <code>
         Example 3:   &lt;a href="&#123;&#123;url}}" &gt;&#123;&#123;title&#125;&#125;&lt;/a&gt;
        </code>
    </pre>
<h5>3 . Render the custom block / view block</h5>
    <p>  Step 1. To render the custom block / view block I am using the additional module <a target="_blank" href="https://www.drupal.org/project/twig_tweak">"Twig tweak"</a>. See some <a target="_blank" href="https://www.drupal.org/docs/8/modules/twig-tweak/cheat-sheet-8x-2x">examples</a></p>
    <p>  Step 2. Navigate through : Structure > Menu > Main navigation > Add Link </p>
    <p>  Step 3. Expend the link "MENU TWIG" by click on it. </p>
    <p>  Step 4. Write the twig extension code inside the textarea to render the block with link itself. </p>
    <pre>
        <code>
         Example 1:   &#123;&#123; drupal_view('who_s_new', 'block_1') &#125;&#125;
        </code>
    </pre>
<h5>4 . How to use twig extension filters / functions with Menu Twig</h5>
    <p>  Step 1. Navigate through : Structure > Menu > Main navigation > Add Link </p>
    <p>  Step 2. Expend the link "MENU TWIG" by click on it. </p>
    <p>  Step 3. You will find the link says "filters" and "functions" under description of textarea. Click on the links and you will find the all availble twig functions and filters available in system.</p>
    <p>  Step 4. Twig provides a number of handy functions that can be used directly within Templates. For more infomation please go through the <a targe="_blank" href="https://www.drupal.org/docs/8/theming/twig/functions-in-twig-templates">article</a>.  </p>
    <p>  Step 5. Filters in Twig can be used to modify variables. Filters are separated from the variable by a pipe symbol. They may have optional arguments in parentheses. Multiple filters can be chained. The output of one filter is applied to the next. For more infomation please go through the <a targe="_blank" href="https://www.drupal.org/docs/8/theming/twig/filters-modifying-variables-in-twig-templates">article</a>.  </p>
    <pre>
        <code>
         Example 1:   &lt;a href="&#123;&#123; url('view.frontpage.page_1') &#125;&#125;"&gt;&#123;&#123; 'View all content'|t &#125;&#125;&lt;/a&gt;
        </code>
    </pre>
<h5>5 . Optimize the html output render by twig extension</h5>
    <p>  Step 1. Navigate through : Structure > Menu > Main navigation > Add Link </p>
    <p>  Step 2. Expend the link "MENU TWIG" by click on it. </p>
    <p>  Step 3. Now we have two ways to optimize the output of twig extension. Let say twig extension example
         <pre><code>&#123;&#123; drupal_view('who_s_new', 'block_1') &#125;&#125;</code></pre>. </p>
    <p>  Step 4. First 1: You can restrict the output of the twig extension by choose the textarea filter. For example choose Text format 'Restricted HTML' to get clean content.</p>
    <p>  Step 5. First 2: You can use twig extension filters for the same to strip the html using filter "striptags". See exmaple below: </p>
     <pre>
     <code>
        &#123;% set whonew = drupal_view('who_s_new', 'block_1')  %&#125;
        &#123;&#123; whonew|render|striptags('&lt;a&gt;') |raw &#125;&#125;
     </code>
     </pre>
