@font-face {
  font-family: 'iransans';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/iransans-light.eot);
  src: url(../fonts/iransans-light.eot?#iefix) format('embedded-opentype'), url(../fonts/iransans-light.woff2) format('woff2'), url(../fonts/iransans-light.woff) format('woff'), url(../fonts/iransans-light.ttf) format('truetype')
}
@font-face {
  font-family: 'iransans';
  font-style: normal;
  font-weight: bold;
  src: url(../fonts/iransans-bold.eot);
  src: url(../fonts/iransans-bold.eot?#iefix) format('embedded-opentype'), url(../fonts/iransans-bold.woff2) format('woff2'), url(../fonts/iransans-bold.woff) format('woff'), url(../fonts/iransans-bold.ttf) format('truetype')
}
@font-face {
  font-family: 'aicons';
  src: url(../fonts/aicons.eot?v1.4);
  src: url(../fonts/aicons.eot#iefix) format('embedded-opentype'), url(../fonts/aicons.woff?v1.4) format('woff'), url(../fonts/aicons.ttf?v1.4) format('truetype'), url(../fonts/aicons.svg?v1.4) format('svg');
  font-weight: normal;
  font-style: normal
}
html,a,abbr,acronym,address,applet,area,article,aside,audio,b,base,basefont,bdi,bdo,big,blockquote,body,br,button,canvas,caption,center,cite,code,col,colgroup,data,datalist,dd,del,details,dfn,dialog,dir,div,dl,dt,em,embed,fieldset,figcaption,figure,font,footer,form,frame,frameset,h1,h6,head,header,hr,html,i,iframe,img,input,ins,kbd,label,legend,li,link,main,map,mark,meta,meter,nav,object,ol,optgroup,option,output,p,param,picture,pre,progress,q,rp,rt,ruby,s,samp,section,select,small,source,span,strike,strong,sub,summary,sup,svg,table,tbody,td,template,textarea,tfoot,th,thead,time,title,tr,track,tt,u,ul,var,video,wbr {
  font-family: 'iransans', 'MyriadPro-Regular', 'Myriad Pro Regular', 'MyriadPro', 'Myriad Pro', 'open-sans', tahoma, sans-serif;
}
