{#
/**
 * @file
 * Template to output the menu toggle icon.
 */
#}

<button class="flyout-menu-toggle" type="button">
  <span class="toggle-wrapper">
    <span class="toggle"></span>
  </span>
</button>
