.ilt-banner {
  background-color: #9ec48e;
  color: #fff;
  font-size: 16px;
  margin: 0 0 20px;
  padding: 25px 30px 20px;
}

.ilt-banner-text::before {
  content: '';
  display: inline-block;
  background-image: url('../img/ilt-banner-icon.png');
  width: 58px;
  height: 53px;
  margin-right: 30px;
  vertical-align: middle;
}

.ilt-banner a,
.ilt-banner a:link,
.ilt-banner a:visited,
.ilt-banner a:hover,
.ilt-banner a:active {
  color: #fff;
}
