/* Change the margin of the pop and width*/
.block-backup-restore-button {
  margin: 0 0 10px;
}

.backup-restore-button-list .dropbutton-wrapper {
  float: right;
  margin: 0 17px 10px 1px;
  width: 18%;
}
