.audio-embed-field-responsive-audio {
  position: relative;
}

.audio-embed-field-responsive-audio:after {
  content: '';
  display: block;
}

.audio-embed-field-responsive-audio iframe {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
}

.audio-embed-field-responsive-modal {
  max-width: 100%;
}
