{{ attach_library('moon_phases/moon_phases') }}
<div class="moon_phase_block">
  {% if image %}
    {{ image }}
  {% endif %}

  {% if phase_name %}
      <h2>{{ phase_name }}</h2>
  {% endif %}

  {% if summary %}
      {{ summary }}
  {% endif %}
</div>