.flag-rating {
  display: inline-block;
  --gold: #ffd700;
}
.flag-rating-icons {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.flag-rating-icon a {
  display: block;
  margin: auto;
  color: transparent;
  outline: none;
  padding: .25rem;
}
.flag-rating-icon a:hover {
  color: transparent;
}
/* Image styling */
.flag-rating-icon img,
.flag-rating-icon svg {
  min-width: 30px;
  min-height: 30px;
}
.flag-rating-icon a.is-active svg {
  fill: var(--gold);
}
