/**
 * @file
 * Cookie content blocker basic styling.
 *
 * Basic styling for the Cookie content blocker, this styling is very basic and easy to override.
 */
.cookie-content-blocker__message-wrapper {
  padding: 20px;
  border: 1px solid #ddd;
  background: #eee;
}
.cookie-content-blocker__message {
  margin-bottom: 15px;
}
.cookie-content-blocker__message:last-child {
  margin-bottom: 0;
}
.cookie-content-blocker__button {
  display: block;
  padding: 10px;
  background: #999;
  color: #fff;
  cursor: pointer;
}
.cookie-content-blocker--click-consent-change .cookie-content-blocker__message-wrapper {
  cursor: pointer;
}
.cookie-content-blocker--click-consent-change .cookie-content-blocker__message-wrapper:hover {
  border-color: #bbb;
}
