// clearfix
@mixin clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}


// PLACEHOLDER
@mixin placeholder {
  $placeholders: ":-webkit-input" ":-moz" "-moz" "-ms-input";
  @each $placeholder in $placeholders {
    &:#{$placeholder}-placeholder {
      @content;
    }
  }
}

// MEDIA QUERIES
@mixin media-min($breakpoint) {
  @media screen and (min-width: #{$breakpoint}) {
    @content;
  }
}
@mixin media-max($breakpoint) {
  @media screen and (max-width: #{$breakpoint}) {
    @content;
  }
}
