img {
  max-width: 100%;
  height: auto;
}

// Drupal modal
#drupal-modal {
  background: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

div.ui-dialog .ajax-progress-throbber {
  border: none;
  background: none;
  &::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
    border-radius: 50%;
    border: 1px solid $drupal-lgray;
    border-top-color: $drupal-blue;
    animation: spinner .6s linear infinite;
  }
}


// Step1 | filters
#filefield_filesources_jsonapi_filter {
  font-size: 0;
  text-align: center;
  border-bottom: 1px solid $modal-gray;
  padding-bottom: .75rem;
  @include media-min(601px) {
    padding-bottom: 1rem;
  }
  label,
  .form-item {
    display: inline-block;
    font-size: .75rem; //12px
  }
  label {
    margin: 0 .5em 0 0;
  }
  .form-item {
    margin: .75em 0;
    width: 100%;
    @include media-min(601px) {
      margin: 1em 2em 1em 0;
      width: 45%;
    }
    @include media-min(761px) {
    	width: 25%;

    }
    &:last-child {
      margin-right: 0;
    }
  }
  .form-item--select {
    padding: 0;
  }
  .form-type-select {
    text-align: center;
  }
  select {
    padding: 4px 1.771em 4px .75em;
    font-size: .75rem;
    width: 75%;
    background-position-y: 55%;
    border-radius: $form-border-radius;
  }
  input[type="text"] {
    padding: .545em .75em .545em .75em;
    border-radius: $form-border-radius;
  }
  .button {
    margin: .75em 0;
    font-size: .75rem;
    @include media-min(601px) {
      margin: 0;
    }
  }
}

.js-form-item-sort {
  .ui-dialog & {
    width: 100%;
    @include media-min(601px) {
      width: 35%;
    }
    @include media-min(769px) {
      width: 25%;
    }
  }
}
.js-form-item-name {
  .ui-dialog & {
    width: 100%;
    @include media-min(601px) {
      width: 35%;
    }
  }
}


// Step1 | image lister
#filefield_filesources_jsonapi_lister {
  @include clearfix;
  padding: .75em 0;
  @include media-min(601px) {
    padding: 1em 0;
  }
}
.browser-lister {
  .ui-dialog & {
    .form-item__icon {
      display: none;
    }
    .button {
      position: absolute;
      bottom: 30px;
      &[data-drupal-selector="edit-next"] {
        right: 30px;
        margin-right: 0;
      }
      &[data-drupal-selector="edit-prev"] {
        left: 30px;
        margin-left: 0;
      }
    }
  }
}
.media-lister {
  .ui-dialog & {
    background: white;
    //display: grid;
    //grid-template-columns: repeat(auto-fill,minmax(178px,1fr));
    //grid-row-gap: 16px;
    //grid-column-gap: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 16px;
    position: relative;
    justify-content: center;
    @include media-min(601px) {
      justify-content: flex-start;
    }
  }
}
.media-row {
  .ui-dialog & {
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 8px;
    width: 75%;
    box-sizing: border-box;
    @include media-min(601px) {
      width: 48%;
    }
    @include media-min(761px) {
      width: 24%;
    }
    &:hover {
      background: rgba(45,57,60,.07);
      border-radius: 4px;
    }
    .form-checkbox {
      //visibility: hidden;
      display: none;
    }
    // BEGIN fixes for Eleven admin theme
    .form-item--checkbox {
      padding: 0;
      height: 0;
    }
    .checkbox-style-check {
      .form-item__icon {
        display: none;
      }
    }
    // END fixes for Eleven admin theme
    .js-form-type-checkbox {
      padding: 0;
      margin: 0;
      width: 0;
      height: 0;
      overflow: hidden;
      &.checked + label {
        .image:before {
          content: " ";
          background: $drupal-green url("../images/check-mark.svg") no-repeat center center;
          background-size: 66%;
          transform: scale(1);
        }
        img {
          transform: scale(0.9);
          z-index: 0;
        }
      }
    }
    > label {
      align-items: center;
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;
      min-height: 224px;
      .image {
        position: relative;
        &:before {
          background: white;
          background-size: 0;
          color: white;
          content: " ";
          display: block;
          border-radius: 50%;
          border: 1px solid $drupal-green;
          position: absolute;
          top: -5px;
          right: calc(5% - 5px);
          width: 25px;
          height: 25px;
          text-align: center;
          line-height: 28px;
          transition-duration: 0.4s;
          transform: scale(0);
          z-index: 1;
        }
      }
    }
    .form-image {
      align-items: center;
      display: flex;
      flex: 1;
      min-height: 178px;
      justify-content: center;
      pointer-events: none;
    }
    img {
      //width: 100%;
      position: relative;
      border: 5px solid white;
      display: block;
      height: auto;
      width: 90%;
      margin: 0 auto;
      box-shadow: 0 0 0 0.5px rgba(49,49,93,.03), 0 2px 5px 0 rgba(49,49,93,.1), 0 1px 2px 0 rgba(0,0,0,.08);
      transition-duration: 0.2s;
      transform-origin: 50% 50%;
    }
    .title {
      padding-top: 8px;
      font-size: 13px;
      color: #676767;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 150px;
      text-align: center;
      min-height: 28px;
    }
  }
}


// Step2
#filefield-sources-jsonapi-browser-form {
  padding: 15px;
}
.insert-wrapper {
  .ui-dialog & {
    @include clearfix;
    padding: 15px 0;
    img {
      display: block;
      margin: 0 auto;
      border: 5px solid white;
      box-shadow: 0 0 0 0.5px rgba(49,49,93,.03), 0 2px 5px 0 rgba(49,49,93,.1), 0 1px 2px 0 rgba(0,0,0,.08);
      @include media-min(761px) {
        float: left;
        width: 60%;
        box-sizing: border-box;
      }
    }
  }
}
.details-wrapper {
  .ui-dialog & {
    padding: 30px 0 0;
    @include media-min(601px) {
      padding: 30px 30px 0;
    }
    @include media-min(761px) {
      float: left;
      padding: 0 30px 30px;
      width: 40%;
      box-sizing: border-box;
    }
    .js-form-item-title {
      margin-top: 0;
    }
    .form-text {
      width: 100%;
    }
  }

}
.filefield-sources-jsonapi-browser-form {
  .form-actions {
    display: none;
  }
}
.ui-dialog .ui-dialog-buttonpane div.ui-dialog-buttonset {
  float: none;
  text-align: center;
  .cancel-button {
    background: none;
    border: none;
    border-radius: 0;
    text-decoration: underline;
    padding: 0;
    font-weight: 400;
    color: #333;
    &:hover {
      box-shadow: none;
    }
    &::before {
      display: none;
    }
  }
  .insert-button {
    border-color: #1e5c90;
    background: #0071b8 linear-gradient(to bottom, #007bc6, #0071b8);
    color: #fff;
    text-shadow: 0 1px hsla(0, 0%, 0%, 0.5);
    font-weight: 700;
    &:hover {
      box-shadow: 0 1px 2px hsla(203, 10%, 10%, 0.25);
    }
    &::before {
      display: none;
    }
  }
}
