.field--widget-default-paragraphs th .paragraphs-actions {
    float: right;
    margin-right: -11px;
}

.field--widget-default-paragraphs .paragraphs-dropbutton-wrapper {
    display: inline-flex;
}

.field--widget-default-paragraphs .dropbutton-wrapper {
    width: auto;
    margin-right: 0;
    padding-right: 0;
}

.field--widget-default-paragraphs .dropbutton-widget {
    position: static;
}

.field--widget-default-paragraphs .field-multiple-table {
    margin-bottom: 10px;
}

.field--widget-default-paragraphs td {
    padding: 10px 0;
}

.field--widget-default-paragraphs .field-multiple-drag {
    vertical-align: top;
}

.field--widget-default-paragraphs .draggable .tabledrag-handle {
    margin-left: 0;
}

.field--widget-default-paragraphs .tabledrag-handle .handle {
    height: 22px;
}

.field--widget-default-paragraphs .delta-order {
    padding-right: 10px;
    text-align: right;
}
