{#
/**
 * @file
 * Displays the Colorized Gmap block content.
 *
 * Available variables:
 * - machine_name: machine name of the block.
 *
 * @ingroup themeable
 */
#}
<div id="colorized-gmap-{{ machine_name }}" class="colorized-gmap-common"></div>