{{ attach_library('live_chat_slack/main') }}
{%
    set is_online = user_is_online ? 'online' : 'offline'
%}
<div id="live-chat">
    <header class="clearfix">
        <a href="#" class="chat-close">x</a>
        <h4 class="{{ is_online }}">{{ slack_user }}</h4>
            <span class="chat-message-counter empty">0</span>
    </header>
    <div class="chat">
        <div id="chat-history" class="chat-history">

        </div> <!-- end chat-history -->
        <!--<p class="chat-feedback">Your partner is typing…</p>-->
        <form action="#" method="post">
            <fieldset>
                <input id="msg" type="text" placeholder="{{ 'Type your message…' | t }}" autofocus>
                <input type="hidden">
            </fieldset>
        </form>
    </div> <!-- end chat -->
</div> <!-- end live-chat -->