<div class="chat-message clearfix">
    <img src="{{ user_image }}" alt="" width="32" height="32">
    <div class="chat-message-content clearfix">
        <span class="chat-time">{{ ts }}</span>
        <h5>{{ sender }}</h5>
        <p>{{ msg }}</p>
    </div>
</div>