{#
/**
 * @file
 * Default theme implementation for a fieldgroup settings element.
 *
 * @ingroup themeable
 */
#}
{{ attach_library('field_group_settings/core') }}
<div class="field-group-settings">
  <button data-open-next-field-group-settings>Settings</button>
  <div class="field-group-settings__inner">
    {{children}}
  </div>
</div>