/**
 * @file
 */

.blazy__intense {
  cursor: crosshair;
  display: block;
  position: relative;
}

.blazy__intense.loading {
  cursor: wait;
}

.intensed__arrow {
  display: none;
  height: 1px;
  left: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  z-index: 9999999;
}

figure .intensed__arrow {
  display: block;
}

.intensed__arrow button {
  background: #000;
  background: rgba(0, 0, 0, 0.7);
  border: 0;
  cursor: pointer;
  display: block;
  font-size: 0;
  padding: 5px 15px;
  pointer-events: auto;
  position: absolute;
  top: 0;
  text-indent: -9999px;
  transition: all 0.4s;
}

.intensed__arrow .is-hidden {
  display: none;
}

.intensed__arrow button:hover,
.intensed__arrow button:hover {
  background: rgba(0, 0, 0, 0.9);
}

.intensed__arrow button::before {
  color: #ddd;
  display: block;
  font-size: 36px;
  font-size: 2rem;
  text-indent: 0;
}

.intensed__arrow button:hover::before,
.intensed__arrow button:active::before {
  color: #fff;
}

.intensed__prev {
  left: 0;
}

.intensed__next {
  right: 0;
}

.intensed__prev::before {
  content: '\276e';
}

.intensed__next::before {
  content: '\276f';
}
