/*
 * @file
 * Provides the layout styles for layout_100.
 */

.layout--100,
.layout--100 > .layout--container {
    display: flex;
    flex-wrap: wrap;
}

.layout--100 > .layout__region,
.layout--100 > .layout--container > .layout__region {
    flex: 0 1 100%;
}
