{#
/**
 * @file
 * Default theme implementation to display a one-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{%
set classes = [
'layout',
'layout--100',
]
%}
{% if content %}
    <div{{ attributes.addClass(classes) }}>
        {% if not settings.full_width %}
        <div class="layout--container">
        {% endif %}
        {% if content.content %}
            <div {{ region_attributes.content.addClass('layout__region', 'layout__region--content') }}>
                {{ content.content }}
            </div>
        {% endif %}
        {% if not settings.full_width %}
        </div>
        {% endif %}
    </div>
{% endif %}
