#share-buttons-modal {
  width: 375px;
  /* below definitions override Foundation responsive modal code */
  min-height: initial;
  margin: 0 auto;
  padding: 0;
  top: 100px;
  left: 0;
  right: 0;
}
#share-buttons-modal a {
  border-right: 1px solid #eee;
  height: 75px;
  width: 20%; /* fix subpixel rendering issue */
  float: left;
  font-size: 60px;
  line-height: 75px;
  color: #c00;
  text-align: center;
  border-radius: 3px;
}
#share-buttons-modal a:hover {
  background: #f6f6f6;
}
#share-buttons-modal a:focus {
  background: #c00;
  color: white;
}
#share-buttons-modal a:last-child {
  border-right: none;
}


/*-------------------------------------------*/

@font-face {
  font-family: 'si';
  src: url('icon/socicon.eot');
  src: url('icon/socicon.eot?#iefix') format('embedded-opentype'),
  url('icon/socicon.woff') format('woff'),
  url('icon/socicon.ttf') format('truetype'),
  url('icon/socicon.svg#icomoonregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family:si;
    src: url(icon/socicon.svg) format('svg');
  }
}

.soc,
.soc_ver {
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
}

.soc li {
  display: inline-block;
  zoom: 1;
}

.soc_ver li {
  display: table-row-group;
  zoom: 1;
  display: block;
  margin-top: 10px;
}


/*.soc li a {*/
/*size*/
/*width: 38px;*/
/*height: 38px;*/
/*line-height: 38px;*/

/*size 55%*/
/*font-size: 20px;*/

/*Radius*/
/*-webkit-border-radius: 25px;*/
/*-moz-border-radius: 25px;*/
/*border-radius: 25px;*/

/*Spacing*/
/*margin-right: 7px;*/
/*}*/

.soc li a,
.soc_ver li a {
  font-family: si!important;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -o-transition: .1s;
  -ms-transition: .1s;
  -moz-transition: .1s;
  -webkit-transition: .1s;
  transition: .1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  overflow: hidden;
  text-decoration: none;
  text-align: center;
  display: block;
  position: relative;
  z-index: 1;
  /*color: #ffffff;*/
  /*background-color: none;*/
  width: 54px;
  height: 54px;
  line-height: 54px;
  font-size: 23px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  margin-right: 8px;
  color: #ffffff !important;
  background-color: #000000 !important;
  /* color: #ffffff; */
}

.soc a:hover,
.soc_ver a:hover {
  z-index: 2;
}

.soc-icon-last,
.soc_ver-icon-last {
  margin: 0 !important;
}


.soc-reddit,
.soc_ver-reddit {
  background-color: #ff5700;
}
.soc-reddit:before,
.soc_ver-reddit:before {
  content: 'm';
}
.soc-tumblr,
.soc_ver-tumblr {
  background-color: #36465d;
}
.soc-tumblr:before,
.soc_ver-tumblr:before {
  content: 'l';
}
.soc-stumbleupon,
.soc_ver-stumbleupon {
  background-color: #eb4823;
}
.soc-stumbleupon:before,
.soc_ver-stumbleupon:before {
  content: 'k';
}
.soc-twitter,
.soc_ver-twitter {
  background-color: #4da7de;
}
.soc-twitter:before,
.soc_ver-twitter:before {
  content: 'a';
}
.soc-facebook,
.soc_ver-facebook {
  background-color: #3e5b98;
}
.soc-facebook:before,
.soc_ver-facebook:before {
  content: 'b';
}
.soc-google,
.soc_ver-google {
  background-color: #d93e2d;
}
.soc-google:before,
.soc_ver-google:before {
  content: 'c';
}
.soc-pinterest,
.soc_ver-pinterest {
  background-color: #c92619;
}
.soc-pinterest:before,
.soc_ver-pinterest:before {
  content: 'd';
}
.soc-linkedin,
.soc_ver-linkedin {
  background-color: #3371b7;
}
.soc-linkedin:before,
.soc_ver-linkedin:before {
  content: 'j';
}
.soc-rss,
.soc_ver-rss {
  background-color: #f26109;
}
.soc-rss:before,
.soc_ver-rss:before {
  content: ',';
}


.soc-reddit:hover,
.soc_ver-reddit:hover {
  background-color: #f73b02;
}
.soc-tumblr:hover,
.soc_ver-tumblr:hover {
  background-color: #364624;
}
.soc-stumbleupon:hover,
.soc_ver-stumbleupon:hover {
  background-color: #db2c04;
}
.soc-twitter:hover,
.soc_ver-twitter:hover {
  background-color: #3993ca;
}
.soc-facebook:hover,
.soc_ver-facebook:hover {
  background-color: #2a4784;
}
.soc-google:hover,
.soc_ver-google:hover {
  background-color: #c52a19;
}
.soc-pinterest:hover,
.soc_ver-pinterest:hover {
  background-color: #b51205;
}
.soc-linkedin:hover,
.soc_ver-linkedin:hover {
  background-color: #1f5da3;
}
.soc-rss:hover,
.soc_ver-rss:hover {
  background-color: #de4d00;
}
.soc-email1:hover,
.soc_ver-email:hover {
  background-color: #2a4784;
}

.soc-email1,
.soc_ver-email1 {
  background-color: #578ad6;
}
.soc-email1:before,
.soc_ver-email1:before {
  content: '<';
}
