{#
/**
 * @file iots_measure.html.twig
 * Default theme implementation to present Iots Measure data.
 *
 * This template is used when viewing Iots Measure pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_iots_measure()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('iots_measure') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
