<div>
  <div class ="popup-content info">
    <div id="popup-text">
      {{ message | raw}}
    </div>
    <div id="popup-buttons">
      <button type="button" class="agree-button">x</button>
    </div>
  </div>
</div>
