<div>
  <div class ="popup-content agreed">
    <div id="popup-text">
      {{ message | raw}}
    </div>
    <div id="popup-buttons">
      <button type="button" class="hide-popup-button">  {{ hide }} </button>
      <button type="button" class="find-more-button" >  {{ more }} </button>
    </div>
  </div>
</div>
