{#
/**
 * @file
 * Default theme implementation to display a marketo_poll field.
 *
 * Available variables:
 * - polls: field items:
      - subscription_url
      - poll_id
      - poll_class
 * - entity: items getEntity
 *
 * @ingroup themeable
 */
#}
{% for poll in polls %}
    <!-- Mrk.to Widget Loader Script -->
    <script type="text/javascript" src="//{{ poll.subscription_url }}/jsloader/{{ poll.poll_id }}/loader.php.js"></script>

    <!-- Mkto poll body code -->
    <div class='cf_widgetLoader {{ poll.poll_class }}'></div>
{% endfor %}
