.cr-container .cr-tab-wrapper {
  width: 100%;
  height: 50px;
  background: #f5f5f5;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  border-radius: 2px;
  font-weight: 300;
  font-size: 14px;
  position: relative;
  box-sizing: border-box;
  padding-top: 9px;
  box-shadow: inset 0 -2px 0 0 #f0f0f0;
}

.cr-container .cr-tab-wrapper .cr-dashboard-tab {
  display: inline-block;
  border: none;
  background: white;
  height: 40px;
  border-top: 1px solid #e1e1e1;
  border-left: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
  border-radius: 4px 4px 0 0;
  cursor: auto;
  box-shadow: inset 0 1px 0 0 #f0f0f0;
  box-sizing: border-box;
  padding: 0 15px;
}

.cr-container .cr-tab-wrapper .cr-pull-right {
  padding-right: 20px;
  display: inline-block;
  float: right;
  color: #555555;
}

.cr-container .cr-tab-wrapper .cr-dashboard-tab-wrapper {
  padding-left: 20px;
  display: inline-block;
  height: 50px;
  width: 155px;
  position: relative;
  box-sizing: border-box;
}

.cr-container .cr-tab-wrapper .cr-pull-right .cr-id {
  margin-left: 30px;
  display: inline-block;
}

.cr-container .cr-tab-wrapper .cr-pull-right a {
  color: #555555;
  cursor: pointer;
  text-decoration: none;
}

.cr-content-window-wrapper .cr-content-window .cr-action-buttons-wrapper {
  margin-top: 20px;
}

.cr-content-window-wrapper .cr-content-window {
  border: 2px solid #ec6702;
}

.cr-content-window-wrapper .cr-subcontent-window {
  padding-top: 10px;
  font-weight: 300;
  font-size: 14px;
  color: #555555;
}
.cr-content-window-wrapper .cr-subcontent-window button {
  color: #ec6702;
  background: none;
  border: none;
  font-size: 14px;
  padding: 0;
  cursor: pointer;
}
.cr-configuration {
  padding: 20px;
  text-align: left;
}
.cr-configuration i {
  font-size: 11px;
}
