.facet-pills {
  list-style-type: none;
  list-style-image: none;
  padding: 0;
}

.facet-pills__pill {
  display: inline-block;
  margin-right: 5px;
}

.facet-pills__pill__link,
.facet-pills__pill__link:hover,
.facet-pills__pill__link:visited {
  display: block;
  background-color: #B7D2E2;
  color: #126AA0;
  border: 0;
  border-radius: 15px;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  padding: 5px 23px 5px 20px;
  position: relative;
}

.facet-pilss__pill__link:hover {
  cursor: pointer;
}

.facet-pills__pill__link::after {
  position: absolute;
  top: 6px;
  right: 4px;
  content: "✕";
  color: #7AABCA;
}
