{#
/**
 * @file
 * Theme override for an entity gallery edit form.
 *
 * Two column template for the entity gallery add/edit form.
 *
 * This template will be used when an entity gallery edit form specifies
 * 'entity_gallery_edit_form' as its #theme callback.  Otherwise, by default,
 * entity gallery add/edit forms will be themed by form.html.twig.
 *
 * Available variables:
 * - form: The entity gallery add/edit form.
 *
 * @see seven_form_entity_gallery_form_alter()
 */
#}
<div class="layout-entity-gallery-form clearfix">
    <div class="layout-region layout-region-entity-gallery-main">
        {{ form|without('advanced', 'actions') }}
    </div>
    <div class="layout-region layout-region-entity-gallery-secondary">
        {{ form.advanced }}
    </div>
    <div class="layout-region layout-region-entity-gallery-footer">
        {{ form.actions }}
    </div>
</div>
