/**
 * @file
 * Main file, variables and includes.
 */
/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  src: local("Raleway ExtraLight"), local("Raleway-ExtraLight"), url(https://fonts.gstatic.com/s/raleway/v11/cbAbzEjxTdN5KKmS-gA0tSEAvth_LlrfE80CYdSH47w.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  src: local("Raleway ExtraLight"), local("Raleway-ExtraLight"), url(https://fonts.gstatic.com/s/raleway/v11/8KhZd3VQBtXTAznvKjw-k_k_vArhqVIZ0nv9q090hN8.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local("Raleway"), local("Raleway-Regular"), url(https://fonts.gstatic.com/s/raleway/v11/yQiAaD56cjx1AooMTSghGfY6323mHUZFJMgTvxaG2iE.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local("Raleway"), local("Raleway-Regular"), url(https://fonts.gstatic.com/s/raleway/v11/0dTEPzkLWceF7z0koJaX1A.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local("Raleway Bold"), local("Raleway-Bold"), url(https://fonts.gstatic.com/s/raleway/v11/WmVKXVcOuffP_qmCpFuyzSEAvth_LlrfE80CYdSH47w.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local("Raleway Bold"), local("Raleway-Bold"), url(https://fonts.gstatic.com/s/raleway/v11/JbtMzqLaYbbbCL9X6EvaI_k_vArhqVIZ0nv9q090hN8.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/**
 * @file
 * Info bar alias 'header'.
 */
.info-bar {
  margin-top: 30px;
  padding: 0 20px 20px;
  border-bottom: 1px solid #e3ecf4;
  font-size: 12px;
}

.info-bar h2 {
  width: 350px;
  font-size: 36px;
  display: inline-block;
  color: #a0a4a7;
  font-weight: 200;
}

.info-bar .ga-info {
  color: black;
  float: right;
  position: relative;
  top: 18px;
}

.info-bar .ga-check-results {
  float: right;
  margin-left: 35px;
  padding-left: 25px;
  position: relative;
  display: inline-block;
  top: 18px;
}

.info-bar .ga-check-results a {
  color: #737373;
  text-decoration: underline;
}

.info-bar .ga-check-results a:before {
  content: "";
  background: url(../img/help.svg) center center;
  position: absolute;
  left: 6px;
  background-size: 18px 18px;
  height: 16px;
  width: 16px;
  top: 2px;
}

.info-bar .ab-test-tool-help {
  float: right;
  position: relative;
  padding-left: 25px;
  margin-left: 25px;
  display: inline-block;
  top: 18px;
}

.info-bar .ab-test-tool-help a {
  color: #737373;
  text-decoration: underline;
}

.info-bar .ab-test-tool-help a:before {
  content: "";
  background: url(../img/help.svg) center center;
  position: absolute;
  left: 6px;
  background-size: 18px 18px;
  height: 16px;
  width: 16px;
  top: 2px;
}

/**
 * @file
 * Test lister page design.
 */
.test-content {
  width: 1200px;
  margin: 0 auto;
  font-size: 12px;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
}

.test-content .action-bar.first {
  margin-top: 40px;
}

.test-content .action-bar.last {
  margin-top: 25px;
}

.test-content .clearfix {
  clear: both;
}

.test-content a.add-test-link {
  padding: 6px 10px;
  border: none;
  border-radius: 20px;
  background: #66a3ff none;
  width: 189px;
  height: 26px;
  color: rgba(255, 255, 255, 0.84);
  margin: 0;
  clear: both;
}

.test-content a.add-test-link:active,
.test-content a.add-test-link:focus,
.test-content a.add-test-link:hover {
  text-decoration: none;
}

.test-content table.ab-test-table {
  margin-top: 35px;
  margin-bottom: 71px;
  border-collapse: separate;
  border-spacing: 0 15px;
}

.test-content table.ab-test-table tbody > tr {
  padding: 0 10px;
  margin: 25px 0;
  border: none;
}

.test-content table.ab-test-table tbody > tr.odd {
  background-color: white;
}

.test-content table.ab-test-table tbody > tr.even {
  background-color: #fafcfc;
}

.test-content table.ab-test-table tbody > tr > td {
  padding: 10px 12px 0 12px;
}

.test-content table.ab-test-table .ab-test-inner-table {
  margin: 0;
}

.test-content table.ab-test-table .ab-test-inner-table tr {
  border: none;
  color: #a0a4a7;
}

.test-content table.ab-test-table .ab-test-inner-table tr:first-of-type {
  font-weight: bold;
  color: black;
}

.test-content table.ab-test-table .ab-test-inner-table tr:first-of-type.odd {
  background-color: #e3ecf4;
}

.test-content table.ab-test-table .ab-test-inner-table tr.odd,
.test-content table.ab-test-table .ab-test-inner-table tr.even {
  background-color: inherit;
}

.test-content table.ab-test-table .ab-test-inner-table td {
  padding: 14px 20px;
  vertical-align: middle;
}

.test-content table.ab-test-table .ab-test-inner-table td:first-of-type {
  width: 280px;
}

.test-content table.ab-test-table .ab-test-inner-table td:nth-of-type(2) {
  width: 215px;
}

.test-content table.ab-test-table .ab-test-inner-table .test-name-col {
  font-size: 20px;
}

.test-content table.ab-test-table .ab-test-inner-table .test-name-col a {
  color: #1f78ff;
}

.test-content table.ab-test-table .ab-test-inner-table .test-ga-link {
  margin-top: -20px;
  position: relative;
  padding-left: 22px;
}

.test-content table.ab-test-table .ab-test-inner-table .test-ga-link a {
  color: #1f78ff;
}

.test-content table.ab-test-table .ab-test-inner-table .test-ga-link a:before {
  content: "";
  background: url(../img/link.svg) center center;
  position: absolute;
  left: 0;
  background-size: 18px 18px;
  height: 16px;
  width: 16px;
  top: 2px;
}

.test-content table.ab-test-table .ab-test-inner-table .ab-variations {
  position: relative;
}

.test-content table.ab-test-table .ab-test-inner-table .ab-variations.base-url {
  font-size: 18px;
  text-transform: uppercase;
}

.test-content table.ab-test-table .ab-test-inner-table .ab-variations.base-url a {
  color: black;
}

.test-content table.ab-test-table .ab-test-inner-table .ab-variations .list-counter {
  font-size: 14px;
  font-weight: normal;
  padding: 5px 10px;
  border-radius: 4px;
  background-color: #9aabba;
  min-width: 10px;
  text-align: center;
  color: white;
  display: inline-block;
  position: absolute;
  top: 50%;
  margin-top: -15px;
}

.test-content table.ab-test-table .ab-test-inner-table .ab-variations .variation-name {
  display: inline-block;
  text-transform: uppercase;
  width: calc(215px - 50px);
  margin-left: 45px;
}

.test-content table.ab-test-table .ab-test-inner-table .ab-variations .variation-name a {
  margin-left: 5px;
}

.test-content table.ab-test-table .ab-test-inner-table .ab-variations .variation-name a img {
  position: absolute;
}

.test-content table.ab-test-table .ab-test-inner-table .variation-url {
  width: 100%;
  position: relative;
  padding-left: 25px;
}

.test-content table.ab-test-table .ab-test-inner-table .variation-url.base-url a {
  color: black;
}

.test-content table.ab-test-table .ab-test-inner-table .variation-url a {
  color: #a0a4a7;
}

.test-content table.ab-test-table .ab-test-inner-table .variation-url a:before {
  content: "";
  background: url(../img/link.svg) center center;
  position: absolute;
  left: 3px;
  background-size: 18px 18px;
  height: 16px;
  width: 16px;
  top: 2px;
}

.ui-dialog.ui-widget .ui-dialog-titlebar-close {
  border: none;
}

.ui-dialog.ui-state-active,
.ui-dialog.ui-widget-content .ui-state-active {
  color: inherit;
  background-color: inherit;
}

/**
 * @file
 * Edit and add form (and page) design.
 */
form.abtestui-test {
  width: 1200px;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: #737373;
}

form.abtestui-test #edit-back {
  padding: 0 20px 0 25px;
  position: relative;
  margin-top: 23px;
}

form.abtestui-test #edit-back a {
  color: #1f78ff;
}

form.abtestui-test #edit-back a:before {
  content: "\2039";
  position: relative;
  left: -4px;
  top: 0;
}

form.abtestui-test label {
  font-weight: normal;
}

form.abtestui-test input,
form.abtestui-test select {
  border: 2px solid #ededed;
  background-color: white;
}

form.abtestui-test .form-item-test-id {
  float: left;
  width: 200px;
  padding-left: 20px;
  padding-top: 4px;
}

form.abtestui-test .form-item-test-id label {
  margin-right: 10px;
  float: left;
  padding-top: 2px;
}

form.abtestui-test .form-item-name {
  clear: both;
  float: left;
  width: 300px;
  padding-left: 20px;
  background-color: #e9f2fa;
}

form.abtestui-test .form-item-name label {
  margin-top: 20px;
}

form.abtestui-test .form-item-name input {
  width: 264px;
  font-size: 20px;
  font-weight: bold;
  margin: 15px 0 20px 0;
  padding: 6px 14px;
  height: 51px;
  color: black;
}

form.abtestui-test .form-item-analytics-url {
  float: right;
  width: 655px;
  padding-right: 20px;
}

form.abtestui-test .form-item-analytics-url label {
  float: left;
  padding-top: 5px;
}

form.abtestui-test .form-item-analytics-url input {
  float: right;
  width: 498px;
  padding: 6px 14px;
  font-size: 11px;
}

form.abtestui-test #variations-fieldgroup-wrapper {
  float: right;
  width: calc(100% - 300px - 20px * 2);
  padding-right: 20px;
}

form.abtestui-test #variations-fieldgroup-wrapper > fieldset {
  margin-bottom: 40px;
}

form.abtestui-test #variations-fieldgroup-wrapper > fieldset > legend {
  font-weight: normal;
  font-size: 14px;
  padding: 22px 0 3px 20px;
  background-color: #e9f2fa;
  width: 100%;
  text-transform: none;
}

form.abtestui-test fieldset div #variation-delta-0-fieldgroup-wrapper {
  background-color: #e9f2fa;
  margin-right: -20px;
  font-weight: bold;
}

form.abtestui-test fieldset div > fieldset.fieldgroup {
  clear: both;
  padding-bottom: 9px;
  padding-top: 22px;
  margin-bottom: 0;
  margin-top: 0;
  height: 51px;
}

form.abtestui-test fieldset div > fieldset.fieldgroup .fieldset-wrapper .form-item {
  margin: 0;
}

form.abtestui-test fieldset div > fieldset.fieldgroup .fieldset-wrapper .form-item:nth-of-type(1) {
  float: left;
  padding: 5px 10px;
  border-radius: 4px;
  background-color: #9aabba;
  margin-top: 1px;
  margin-right: 9px;
  margin-left: 9px;
  min-width: 10px;
  text-align: center;
  color: white;
  font-weight: normal;
}

form.abtestui-test fieldset div > fieldset.fieldgroup .fieldset-wrapper .form-item:nth-of-type(2) {
  float: left;
  width: 217px;
  margin-right: 25px;
  text-transform: uppercase;
}

form.abtestui-test fieldset div > fieldset.fieldgroup .fieldset-wrapper .form-item:nth-of-type(2) input {
  color: #737373;
  padding: 6px 14px;
  text-transform: uppercase;
  font-size: 12px;
  height: 34px;
}

form.abtestui-test fieldset div > fieldset.fieldgroup .fieldset-wrapper .form-item.form-item-variations-fieldgroup-variations-base-name {
  position: relative;
  margin-top: 6px;
  margin-left: 15px;
  width: 202px;
  color: black;
  font-size: 18px;
}

form.abtestui-test fieldset div > fieldset.fieldgroup .fieldset-wrapper .form-item.form-item-variations-fieldgroup-variations-base-name img {
  position: absolute;
  margin-left: 5px;
}

form.abtestui-test fieldset div > fieldset.fieldgroup .fieldset-wrapper .form-item:nth-of-type(3) {
  float: left;
  width: 429px;
  margin-right: 14px;
  position: relative;
}

form.abtestui-test fieldset div > fieldset.fieldgroup .fieldset-wrapper .form-item:nth-of-type(3) input {
  width: 100%;
  color: #737373;
  padding: 6px 14px;
  font-size: 12px;
  height: 34px;
}

form.abtestui-test fieldset div > fieldset.fieldgroup .fieldset-wrapper .form-item.form-item-variations-fieldgroup-variations-base-url input {
  color: black;
}

form.abtestui-test fieldset div > fieldset.fieldgroup .fieldset-wrapper .form-item:nth-of-type(4) {
  float: left;
  margin-right: 5px;
}

form.abtestui-test fieldset div > fieldset.fieldgroup .fieldset-wrapper .form-item:nth-of-type(4) input {
  float: left;
  width: 50px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 12px;
  color: #737373;
  height: 34px;
}

form.abtestui-test fieldset div > fieldset.fieldgroup .fieldset-wrapper .form-item.form-item-variations-fieldgroup-variations-base-odd input {
  color: black;
}

form.abtestui-test fieldset div > fieldset.fieldgroup .fieldset-wrapper .form-item.percent {
  float: left;
  margin-top: 7px;
  margin-right: 15px;
}

form.abtestui-test fieldset div > fieldset.fieldgroup .fieldset-wrapper .button.remove-variation {
  border: transparent;
  text-indent: 100px;
  overflow: hidden;
  width: 26px;
  float: right;
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  clear: none;
  background: transparent url(../img/delete.svg) no-repeat center center;
  background-size: 26px;
  margin: 2px 20px 0 0;
}

form.abtestui-test fieldset div > .form-submit {
  clear: both;
  padding: 0 22px;
  border: none;
  background: #66a3ff none;
  height: 30px;
  color: rgba(255, 255, 255, 0.84);
  margin-left: 10px;
  font-weight: normal;
  margin-top: 15px;
  font-size: 12px;
}

form.abtestui-test .form-item-created,
form.abtestui-test .form-item-active {
  clear: both;
  background-color: #fafcfc;
  padding: 12px 20px;
  margin: 0;
}

form.abtestui-test .form-item-created label,
form.abtestui-test .form-item-active label {
  width: 60px;
  float: left;
}

form.abtestui-test .form-item-active label {
  padding-top: 7px;
}

form.abtestui-test .form-item-active select {
  height: 33px;
  padding: 6px 14px;
  background-color: white;
}

form.abtestui-test #edit-actions {
  clear: both;
  padding-left: 20px;
  margin-top: 38px;
}

form.abtestui-test #edit-actions .form-submit {
  background: #bbbfc2 none;
  border: none;
  height: 44px;
  color: rgba(255, 255, 255, 0.84);
  margin: 0 15px 0 0;
  border-radius: 15px;
  font-size: 18px;
}

form.abtestui-test #edit-actions .form-submit:first-of-type {
  background-color: #86e193;
  text-transform: uppercase;
}

/**
 * @file
 * Modal window design.
 */
.ui-dialog.ui-widget {
  background-color: white;
  max-width: 800px;
}

.ui-dialog.ui-widget .ui-dialog-titlebar {
  background-color: #f5f5f2;
  border-bottom: 1px solid #bfbfba;
  float: left;
  margin: .1em 0;
  white-space: nowrap;
  width: calc(100% - 20px);
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  padding: 10px;
  font-weight: bold;
}

.ui-dialog.ui-widget .ui-dialog-titlebar-close {
  position: absolute;
  right: .3em;
  top: 50%;
  width: 20px;
  margin: -10px 0 0 0;
  padding: 1px;
  height: 20px;
}

.ui-dialog.ui-widget .ui-widget-content {
  clear: both;
  padding: 10px;
}

/*# sourceMappingURL=abtestui.css.map */
