.menu-placeholder {
  height: 1.5em;
  line-height: 1.5em;
  border: 2px dotted #B24926;
  border-radius: 3px;
  text-align: center;
  color: #B24926;
  vertical-align: middle;
  display: inline-block;
}

li[data-menu-item].draggable:hover {
  border: 2px dotted #bbbbbb;
  cursor: move;
}