{#
/**
 * @file cielo_payment.html.twig
 * Default theme implementation to present Cielo credit card payment data.
 *
 * This template is used when viewing Cielo credit card payment pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_cielo_payment()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('cielo_payment') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
