{#
/**
 * @file bills.html.twig
 * Default theme implementation to present Bills data.
 *
 * This template is used when viewing Bills pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_bills()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('bills') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
