#sliding-popup {
  display: block;
  margin: 0;
  padding: 0px;
  right: 0;
  text-align: center;
  width: 100%;
  z-index: 99999;
}
.sliding-popup-bottom {
  /*background: url('../images/gradient.png') center center scroll repeat-y transparent;*/
    background-color:#fff;
  position: fixed;
}

.sliding-popup-top {
  background-color: #fff;
  position: fixed;
}

#sliding-popup .popup-content {
  background-color: transparent;
  border: 0 none;
  display: inline-block;
  margin: 0 auto;
  padding: 0;
  max-width: 1076px;
}

#sliding-popup .popup-content #popup-buttons {
  float: right;
  margin: 5px 15px 5px 0;
}

#sliding-popup .popup-content #popup-buttons button {
  cursor: pointer;
  display: inline;
  margin-right: 5px;
  vertical-align: middle;
  overflow: visible;
  width: auto;

  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
  background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
  background-color:#ededed;
  -moz-border-radius:2px;
  -webkit-border-radius:2x;
  border-radius:2px;
  border:1px solid #dcdcdc;
  display:inline-block;
  color:#000;
  font-family:arial;
  font-weight:bold;
  padding:0px 1px;
  text-decoration:none;
  text-shadow:1px 1px 0px #ffffff;
}

#sliding-popup .popup-content #popup-buttons button:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
  background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
  background-color:#dfdfdf;
}

#sliding-popup .popup-content #popup-buttons button:active {
  position:relative;
  top:1px;
}

#sliding-popup .popup-content #popup-text {
  color: #000;
  float: left;
  margin: 5px 20px 2px 5px;
  text-align: left;
}

#sliding-popup .popup-content #popup-text h2,
#sliding-popup .popup-content #popup-text p {
  color: #fff;
  display: block;

  margin: 0 0 5px 0;
}

#sliding-popup .popup-content #popup-text,
#sliding-popup .popup-content #popup-buttons,
#sliding-popup .popup-content #popup-buttons button {
  font-size: 11px;
}
