{#
/**
 * @file
 * Template file for Block Container.
 *
 */
#}

<div class="draggable-blocks ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
  <div class="draggable-blocks-form">{{ form }}</div>
  <div class="ui-widget-header ui-corner-all draggable-blocks-header">Available Blocks</div>
  <div class="draggable-blocks-container">{{ blocks }}</div>
  <div class="draggable-blocks-tab">{% trans %}Dragagable Blocks{% endtrans %}</div>
</div>