<div class="modal-body">
  <!-- Start of panel body -->
  <div class="row">
    <!-- Start of left part -->
    <div class="col-md-6">
      <h3 class="plan_popup_header">You chose the Free Plan</h3>
      <div class="col-md-12 bg plan">
        <p class="hidden-xs sprticon col-md-4 sprite sprite--heart"></p>
        <div class="col-md-9  ">
          <h4 class="plan-name">Free - {{plans[0].langs_count}} Language</h4>
          <h4 class="views">{{plans[0].page_views}} page views / month</h4>
          <h4 class="price">Free (Homepage only, up to 200 words)</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p>The Free Plan is great to test out the power of human translations, improve your SEO and increase global reach for websites with limited content.</p>
          <br/>
          <p>For professional quality translations beyond your homepage and a wider global reach, you may want to consider upgrading your plan!</p>
        </div>
      </div>
    </div>
    <!-- End of left part -->
    <!-- Start of right part -->
    <div class="col-md-6">
      <h4 class="sel-head">Choose a plan with <b>Translate.com:</b></h4>
      <div class="row plan-row">
        <!-- Start of plan list -->
        <div class="plan-container">
          <div class="col-md-12 bg plan" ng-click="plan = plans[3]" ng-class="{'bg-active': plan.name == 'Enterprise'}">
            <p class="hidden-xs sprticon col-md-4 sprite sprite--building"></p>
            <div class="col-md-9 ">
              <h4 class="plan-name">Enterprise - {{plans[3].langs_count}} Languages</h4>
              <h4 class="views">{{plans[3].page_views}} page views / month</h4>
              <h4 class="price">${{plans[3].price}}/month</h4>
            </div>
          </div>
          <div class=" col-md-12 bg plan" ng-click="plan = plans[2]" ng-class="{'bg-active': plan.name == 'Professional'}">
            <p class="hidden-xs sprticon col-md-4 sprite sprite--briefcase"></p>
            <div class="col-md-9  ">
              <h4 class="plan-name">Professional - {{plans[2].langs_count}} Languages</h4>
              <h4 class="views">{{plans[2].page_views}} page views / month</h4>
              <h4 class="price">${{plans[2].price}}/month</h4>
            </div>
          </div>
          <div class="col-md-12 bg plan" ng-click="plan = plans[1]" ng-class="{'bg-active': plan.name == 'Starter'}">
            <p class="hidden-xs sprticon col-md-4 sprite sprite--rocket"></p>
            <div class="col-md-9  ">
              <h4 class="plan-name">Starter - {{plans[1].langs_count}} Languages</h4>
              <h4 class="views">{{plans[1].page_views}} page views / month</h4>
              <h4 class="price">${{plans[1].price}}/month</h4>
            </div>
          </div>
        </div>
        <!-- End of plan list -->
      </div>
    </div>
    <!-- End of right part -->
  </div>
  <!-- Start of progess bar -->
  <div class="row">
    <div class="col-md-6 back-link">
      <a ng-click="close(plans[0])" href="#">No thanks, my website has limited content</a>
    </div>
    <div class="col-md-4 col-md-offset-2">
      <button ng-click="close(plan)" class="btn btn-primary cus-btn btn-lg">Upgrade <i class="fa fa-angle-right" aria-hidden="true"></i></button>
    </div>
  </div>
  <!-- End of progess bar -->
</div>
