{#
/**
 * Default theme implementation for Views to output a views_fs archive.
 *
 * @see template_preprocess_views_view_views_fs()
 *
 * @ingroup themeable
 */
#}

<div class="slider-wrapper">
  <div class="responisve-container">
    <div class="slider">
      <div class="fs_loader"></div>
      {% for row in rows %}
        <div class="slide">{{ row.content }}</div>
      {% endfor %}
    </div>
  </div>
</div>
