<div class="spinner"></div>
<div id="weatherstation-block">
    <div id="weatherstation-slogan"><p></p></div>
    <div id="weatherstation-details">
        <div id="weatherstation-temp"></div>
        <div id="weatherstation-loc"></div>
        <div id="weatherstation-info"></div>
    </div>
</div>