/**
 * @file
 * Stylesheet for the Druqs module.
 */
#block-druqs {
  position: relative;
}

#block-druqs #druqs-input {
  margin: 0;
  width: 100%;
  max-width: none;
}

#block-druqs #druqs-results {
  width: 100%;
}

.druqs-tab .js-form-item {
  margin: 0;
}

#druqs-input {
  background: #ccc;
  color: #000;
  max-width: 200px;
  border: none;
  padding: 0;
  line-height: 1.5em;
  font-size: 1em;
  transition: all .4s;
  margin: .5em;
  padding: .25em .5em;
  border-radius: 1px;
  text-decoration: none;
}

#druqs-input:focus {
  outline: none;
  background: #fff;
}

form#druqs .input-wrap {
  border: none;
}

#druqs-results {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear .2s, opacity 0.2s linear;
  position: absolute;
  left: 0;
  background: #000;
  width: 40vw;
  min-width: 300px;
  max-width: 600px;
  min-height: 70px;
  max-height: 80vh;
  z-index: 999;
  overflow-y: auto;
}

#druqs-results.active {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

#druqs-results .nope {
  color: #dbdbdb;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

#druqs-results .nope span {
  font-size: 2em;
  margin: 0 .5em 0 0;
}

.druqs-result {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.druqs-result:nth-child(even) {
  background: #222;
}

.druqs-result-type {
  color: #777;
  text-transform: uppercase;
  font-size: 0.9em;
  line-height: 2em;
}

.druqs-result-content {
  color: #dbdbdb;
  flex-grow: 1;
  line-height: 1.5em;
}

.druqs-result-actions {
  display: flex;
  justify-content: flex-end;
  margin-left: 1em;
}

.druqs-result-actions a {
  text-transform: uppercase;
  padding: .5em;
  margin: auto;
  text-decoration: underline;
  transition: all .4s;
  border: none;
}

.druqs-result-actions a:hover {
  text-decoration: none;
}

.druqs-throbber,
.druqs-throbber:before,
.druqs-throbber:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.druqs-throbber {
  color: #ffffff;
  font-size: 7px;
  margin: 30px auto 60px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.druqs-throbber:before,
.druqs-throbber:after {
  content: '';
  position: absolute;
  top: 0;
}
.druqs-throbber:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.druqs-throbber:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
