#edit-label-machine-name-suffix .admin-link {
	margin-left: 5px;
}

.maestro-existing-variable {
  clear: both;
  border-radius: 25px;
  border: none;
  padding-left: 10px;
}

.maestro-existing-variable-no-delete {
  clear: both;
  border-radius: 25px;
  border: 1px solid black;
  padding-left: 10px;
  margin-bottom: 5px;
  background-color: #eeeeee;
}

.maestro-existing-variable:after,
.maestro-existing-variable-no-delete:after {
  clear: both;
}

.maestro-existing-variable .js-form-type-machine-name,
.maestro-existing-variable-no-delete .js-form-type-machine-name {
  float: left;
  width: 45%;
}

.maestro-existing-variable .js-form-type-textfield,
.maestro-existing-variable-no-delete .js-form-type-textfield {
  float: left;
  width: 45%;
}

.maestro-existing-variable .form-type-checkbox,
.maestro-existing-variable-no-delete .form-type-checkbox {
	float: left;
	padding-right: 10px;
	text-align: center;
}


.maestro-existing-variable .form-type-checkbox >label,
.maestro-existing-variable-no-delete .form-type-checkbox >label {
  font-weight: bold;
}


.maestro-engine-assignments-hidden-user {
	display: block;
	visibility: visible;
}

.maestro-engine-assignments-hidden-role {
  display: none;
  visibility: none;
}

.maestro-engine-assignments-hidden-variable {
  display: none;
  visibility: none;
}


.maestro-engine-notifications-hidden-variable {
	display: none;
  visibility: none;
}

.maestro-engine-notifications-hidden-user {
  display: block;
  visibility: visible;
}

.maestro-engine-notifications-hidden-role {
  display: none;
  visibility: none;
}


.maestro-reminder-wrapper {
	float: left;
}

.maestro-escalation-wrapper {
	padding-left: 25px;
	float: left;
}

.maestro_hide_col {
	display: none;
}
 
.maestro-template-validation-failed {
	color: #ff0000;
}

.maestro-block-process-title {
  font-weight: bold;
  padding-bottom: 10px;
}

.maestro-block-process .stage-status-message {
  margin-bottom: 15px;
}

.maestro-block-process .maestro-timeline {
  text-align: left;
  margin-left: 25px;
  margin-bottom: 15px;
}

.maestro-block-process .maestro-timeline .maestro-timeline-wrapper {
  text-align: center;
}

.maestro-status-circle-complete {
  border-radius: 50%;
  width: 30px;
  height: 30px; 
  background: green;
  vertical-align: middle;
  text-align: center;
  float: left;
  line-height: 30px;
  font-size: 0.8em;
  font-weight: bold;
}

.maestro-status-circle-complete-bar {
  width: 30px;
  height: 5px;
  background: green;
  float: left;
  margin-top: 13px;
  margin-left: -15px;
  margin-right: -2px;
  }

.maestro-status-circle-incomplete {
  border-radius: 50%;
  width: 30px;
  height: 30px; 
  background: #a0a0a0;
  vertical-align: middle;
  text-align: center;
  float: left;
  line-height: 30px;
  font-size: 0.8em;
  font-weight: bold;
}

.maestro-status-circle-incomplete-bar {
  width: 30px;
  height: 5px;
  background: #a0a0a0;
  float: left;
  margin-top: 13px;
  margin-left: -15px;
  margin-right: -2px;
}

.maestro-status-circle-current {
  z-index: 1000;
  border-radius: 50%;
  width: 30px;
  height: 30px; 
  background: orange;
  vertical-align: middle;
  text-align: center;
  float: left;
  line-height: 30px;
  font-size: 0.8em;
  font-weight: bold;
}

.maestro-status-circle-current-bar {
  width: 30px;
  height: 5px;
  background: #a0a0a0;
  float: left;
  margin-top: 13px;
  margin-left: -15px;
  margin-right: -2px;
}

.maestro-timeline-wrapper {
  display: inline-flex;
  height: 5em;
}

.stage-status-message {
  margin-left: -45px;
  width: 60px;  
  position: relative;
  white-space: normal;
  word-wrap: break-word;
  top: 30px;
  font-size: 0.8em;
}

#edit-task-form div.form-item-handler {
  margin-bottom: 2px;
}

.all_flows_bar {
	position: absolute;
	width: 95%;
	border: solid black 1px;
	margin-top: 20px;
}

.all_flows_block {
	display: block;
	width: auto;
}

.maestro-details-hide-row {
	display: none;
	background-color: #f0f0f0;
}

.details-replace-column {
	padding-left: 20px !important;
}

.maestro-process-details-expand-wrapper {
	min-width: 81px;
}