/**
 * @file
 * Styling for maestro toolbar module.
 */


#toolbar-item-maestro-tray a {
    float: left;
}


.toolbar .toolbar-bar .toolbar-icon-maestro:before{
    background-image: url(../icons/bebebe/cog.svg);
}
.toolbar-bar .toolbar-icon-maestro:active:before,
.toolbar-bar .toolbar-icon-maestro.is-active:before {
    background-image: url(../icons/ffffff/cog.svg);
}

.toolbar-horizontal .toolbar-horizontal-item-hidden {
    display: none;
}
