{%
set classes = [
'paragraph',
'paragraph--type--' ~ paragraph.bundle|clean_class,
view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
]
%}
{{ content.field_paragraph_anchor[0] }}
<div{{ attributes.addClass(classes) }}{% if inline_styles %} style="{{ inline_styles }}"{% endif %}>
  <div class="container"> 
    <div class="row">
    {% for key, item in content.field_landingpage_grid if key|first != '#' %}
        <div class="col-sm-2">    
          {{ item }}
        </div>
      {% if loop.index % 6 == 0 %}
        </div> 
        <div class="row">
      {% endif %}
    {% endfor %} 
    </div>   
  </div>  
</div>