{#
/**
 * @file
 * Default theme implementation for wrapping a link render element.
 *
 * Available variables:
 *   - attributes: attributes to apply to the wrapper element.
 *   - link: the freelinking link.
 *
 * @see template_preprocess_freelink()
 *
 * @ingroup themeable
 */
#}
<span {{ attributes }}>{{ link }}</span>
