.colorpicker {
  z-index: 9999;
}
#colorized-gmap-content,
#colorized-gmap-content {
  height: 520px;
  margin-bottom: 50px;
  width: 500px;
  float: left;
}

#gmap-ajax-wrapper .form-type-checkbox,
#gmap-ajax-wrapper .form-type-checkbox {
  text-align: center;
}

#edit-coordinates,
#edit-coordinates {
  border: none;
  padding-top: 0;
}

#gmap-ajax-wrapper table .form-item.form-type-textfield {
  float: left;
  padding-right: 10px;
}

#gmap-ajax-wrapper table tbody td:first-child {
  width: 228px
}

#gmap-ajax-wrapper table tbody td:nth-child(2) {
  width: 135px
}

#gmap-ajax-wrapper table tbody td:nth-child(3) {
  min-width: 170px;
}

#gmap-ajax-wrapper table tbody td:nth-child(4) {
  width: 50px;
}

.form-item.form-item-latitude,
.form-item.form-item-longitude {
  float: left;
  padding: 10px 0 0 15px;
}

#gmap-ajax-wrapper table tbody {
  height: 430px;
  max-height: 430px;
  overflow-y: scroll;
  padding-bottom: 0;
}

#edit-ajax-buttons {
  border: none;
  padding: 15px;
}

#edit-ajax-buttons .fieldset-wrapper {
  padding: 0;
}

.colorized-gmap-common {
  width: 500px;
  height: 500px;
}