<div class="ajax-search-box" data-block-settings-key="{{block_settings_key}}">
  <div>
  	<input class="ajax-search-input" type="text" name="searchkey" placeholder="Search">
     <div class="ajax-search-loader"></div>
     <div class="avaiable-pages"></div>
  </div>
</div>
