{#
/**
 * @file
 * Template for the public service annoucements email notification.
 *
 * Available variables:
 * - messages: The messages array
 *
 * @ingroup themeable
 */
#}

<p>
  {% trans %}
    A security update will be made available soon for your Drupal site. To ensure the security of the site, you should prepare the site to immediately apply the update once it is released!
  {% endtrans %}
</p>
<p>
  {% set status_report = path('system.status') %}
  {% trans %}
    See the <a href="{{ status_report }}">site status report page</a> for more information.
  {% endtrans %}
</p>
<p>{{ 'Drupal public service announcements:'|t }}</p>
<ul>
  {% for message in messages %}
    <li>{{ message }}</li>
  {% endfor %}
</ul>
<p>
  {% set settings_link = path('automatic_updates.settings') %}
  {% trans %}
    Your site is currently configured to send these emails when a security update will be made available soon. To change how you are notified, you may <a href="{{ settings_link }}">configure email notifications</a>.
  {% endtrans %}
</p>
