<table{{ attributes.addClass(classes) }}>
    {% if form.header %}
        <thead>
        <tr>
            {% for key, column in form.header if key|first != '#' %}
                <th>
                    {{- column }}
                </th>
            {% endfor %}
        </tr>
        </thead>
    {% endif %}
    {% for key, column in form.rows if key|first != '#' %}
        <tr>
            {% for key2, column2 in column if key2|first != '#' %}
                <td>
                    {{- column2 }}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
