/**
 * @file
 * Styles for administration pages.
 */

/**
 * entity add/edit form layout
 */

/* Narrow screens */
.layout-region {
  box-sizing: border-box;
}
.has-checkbox-link-toggle:after {
  clear: both;
  content: '';
  display: block;
  height: 0;
  width: 0;
}

.checkbox-link-toggle {
  float: right;
  margin: 0;
}
.checkbox-link-toggle > input {
  display: none;
}
.checkbox-link-toggle > label {
  color: #6c0000;
  text-decoration: underline;
}
.checkbox-link-toggle > label:after {
  display: none;
}

.permissions .module {
  font-weight: bold;
  background-color: #fbfbfb;
}

.entity-meta__header:empty {
  display: none;
}

.entity-meta .entity-meta__header:empty + details {
  border-top: 1px solid #bfbfbf;
}

/* Wide screens */
@media
screen and (min-width: 780px),
(orientation: landscape) and (min-device-height: 780px) {

  .layout-region-entity-main,
  .layout-region-entity-footer {
    float: left; /* LTR */
    width: 65%;
    padding-right: 2em; /* LTR */
    box-sizing: border-box;
  }

  [dir="rtl"] .layout-region-entity-main,
  [dir="rtl"] .layout-region-entity-footer {
    float: right;
    padding-left: 2em;
    padding-right: 0;
  }

  .layout-region-entity-secondary {
    float: right; /* LTR */
    width: 35%;
  }

  [dir="rtl"] .layout-region-entity-secondary {
    float: left;
  }

  .layout-region-entity-secondary .form-autocomplete,
  .layout-region-entity-secondary .form-text,
  .layout-region-entity-secondary .form-tel,
  .layout-region-entity-secondary .form-email,
  .layout-region-entity-secondary .form-url,
  .layout-region-entity-secondary .form-search,
  .layout-region-entity-secondary .form-number,
  .layout-region-entity-secondary .form-color,
  .layout-region-entity-secondary textarea {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
  }
}

/**
 * The vertical toolbar mode gets triggered for narrow screens, which throws off
 * the intent of media queries written for the viewport width. When the vertical
 * toolbar is on, we need to suppress layout for the original media width + the
 * toolbar width (240px). In this case, 240px + 780px.
 */
@media
screen and (max-width: 1020px) {

  .toolbar-vertical.toolbar-tray-open .layout-region-entity-main,
  .toolbar-vertical.toolbar-tray-open .layout-region-entity-footer,
  .toolbar-vertical.toolbar-tray-open .layout-region-entity-secondary {
    float: none;
    width: auto;
    padding-right: 0;
  }
}
