{#
/**
 * @file
 * Default theme implementation for the completion message.
 *
 * Available variables:
 * - order_entity: The order entity.
 * - payment_instructions: The payment instructions, if provided.
 *
 * @ingroup themeable
 */
#}
<div class="checkout-complete">
  <div class="checkout-complete-title">
    {{ 'Your order number is @number.'|t({'@number': order_entity.getOrderNumber}) }}
  </div>
  <div class="checkout-complete-text">
    {{ 'Within 30 minutes the manager will contact you to confirm the order. '|t ~ 'After confirming the order, you will be sent further instructions to pay for the order.'|t }}
  </div>
  {% if payment_instructions %}
    <div class="checkout-complete__payment-instructions">
      <h2>{{ 'Payment instructions'|t }}</h2>
      {{ payment_instructions }}
    </div>
  {% endif %}
</div>
