.fieldmap-form #edit-header li.active {font-weight: bold; font-style: italic; font-size: 14px;}
.fieldmap-form .fieldmap-wrapper .fieldset-wrapper > .form-item,
.fieldmap-form .fieldmap-wrapper .fieldset-wrapper .widget-select-wrapper {
  display: inline-block;
  min-width: 200px;
  max-width: 300px;
  vertical-align: top;
}

.fieldmap-form .fieldmap-wrapper .fieldset-wrapper .field-prefix {
  display: inline-block;
  padding-top: 10px;
}

.fieldmap-form .form-item select {max-width: 190px;}
#drealty-fieldmap-primary-form .form-item .field-mapped {background-color: #FF8730;}