{% if link_url %}
  <a href="{{ link_url }}">
{% endif %}
{% if inline %}
  {{ svg_data|raw }}
{% else %}
  <img{{ attributes }} src="{{ file_url(uri) }}" />
{% endif %}
{% if link_url %}
  </a>
{% endif %}
