#edit-button-add-custom-field {
    margin-top: 30px;
}
.form-item-add-custom-field {
    float: left;
}
.form-item-applies-to {
    clear: left;
}
.tooltip:hover:after{
    border: 1px solid #fc0;
    padding: 3px 6px;
    background: #fffea1;
    content: attr(data-title);
    position: absolute;
    right: -40px;
    top: -26px;
}
