/* Form Label */
form-type-icon-select label {
  clear: both;
}

/* Picker Styling */
.icons-picker {
  display: inline-block;
  min-width: 220px;
  max-width: 100%;
  border: 1px solid #b8b8b8;
  border-top-color: #999;
  cursor: pointer;
}
.icons-picker .item-list ul {
  margin: 0;
}
.icons-picker .item-list ul li {
  list-style: none;
}

/* Select Item */
.icons-picker--selected,
.icons-picker .icons-select__item {
  margin: 0;
  padding: .3em 1em .3em 1em;
}
.icons-picker--selected {
  padding-right: .8em;
  background: url(../images/caret-down.svg) no-repeat 98% 64% #fcfcfa;
}

/* Icon Picker Selected Item */
.icons-picker--selected.active {
  border-bottom: 1px solid #ccc;
}

/* Icon Styling */
.icons-picker [class^="icon-"],
 .icons-picker [class*="icon-"] {
  margin-right: .6em;
  font-size: 1.5em;
}
.icons-select__label {
  font-family: Sans-Serif;
  text-transform: capitalize;
}