/**
 * @file
 * Element 'loading_bar' styles.
 */

/**
 * Bar label styles.
 */
.ldBar.label-center > .ldBar-label {
  position: unset;
  top: unset;
  left: unset;
  -webkit-transform: unset;
  transform: unset;
  text-shadow: initial;
  text-align: center;
}
.ldBar.label-middle > .ldBar-label {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  text-shadow:0 0 3px #fff
}
.ldBar.label-none > .ldBar-label {
  display: none
}

/**
 * The starting and ending points of the bar.
 */
.ldBar.stroke-linecap-butt svg path {
  stroke-linecap: butt;
}
.ldBar.stroke-linecap-square svg path {
  stroke-linecap: square;
}
.ldBar.stroke-linecap-round svg path {
  stroke-linecap: round;
}
