/**
 * @file
 * Form 'loading_bar' styles.
 */

fieldset:not(.fieldgroup).loading-bar-preview {
  padding: 50px 18px 50px 18px;
}
.preset-container {
  text-align: center;
  display: inline-block;
  width: 24%;
  margin-top: 30px;
}
.preset-container .preset-container-code {
  padding: 2px 4px;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}
.preset-container .preset-line,
.preset-container .preset-rainbow,
.preset-container .preset-energy,
.preset-container .preset-stripe,
.preset-container .preset-text {
  margin-top: 79px;
}