{#
/**
 * @file
 * Special page template for the iframe page.
 */
#}
<div class="layout-container">
  <main role="main">
    <div class="layout-content">
      {{ page.content }}
    </div>
  </main>
</div>