{#
/**
 * @file visualn_iframe.html.twig
 * Default theme implementation to present VisualN IFrame data.
 *
 * This template is used when viewing VisualN IFrame pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_visualn_iframe()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('visualn_iframe') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
