/* Start of body styles */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #575757;
  background-color: #f0f0f0;
}
/* End of body styles */

/* Start of logo styles */
.logo {
  padding: 50px 0px 50px 0px;
}
/* End of logo styles */

@media (max-width: 1000px) {
  [class*="col-"] {
    margin-bottom: 15px;
  }
}

/* Start of panel styles */

.panel {
  padding: 50px;
  overflow: hidden;
}

/* End of panel styles */

/* Start of welcome-text styles */

.welcome-text {
  color: #575757;
  font-weight: bold;
  font-size: 24px;
  margin: 20px 0px 20px 0px;
}

.card_logo {
  margin-top: 10px;
}

.plan_price {
  margin-bottom: 30px;
}

/* End of welcome-text styles */

/* Start of language list styles */

.language-search {
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  -webkit-border-radius: 0px;
  -webkit-box-shadow: 0px;
  -moz-box-shadow: 0px;
  box-shadow: none;
  padding-left: 0px;
  -webkit-box-shadow: none;
}

.language-search:focus {
  border-style: solid;
  box-shadow: none;
  border-bottom: solid 1px #ccc;
}

.custom-btn:hover {
  color: #2589cf;
}

.search-btn {
  background: none;
  margin-top: 1px;
  border: none;
  border-bottom: solid 1px #ccc;
  border-radius: 0px;
  box-shadow: none !important;
}

.search-btn:hover {
  background: none;
  border: none;
  margin-top: 1px;
  border-bottom: solid 1px #ccc;
  box-shadow: none !important;
  outline: none;
}

.search-btn:focus {
  background: none;
  border: none;
  margin-top: 1px;
  border-bottom: solid 1px #ccc;
  box-shadow: none !important;
  outline: none;
}

.search-btn:active {
  background: none;
  background-color: none;
  border: none !important;
  margin-top: 1px;
  border-bottom: solid 1px #ccc !important;
  box-shadow: none !important;
  outline: none !important;
}

.srch-img {
  height: 16px;
  width: 16px;
  margin-top: 1px;
  border-radius: 0px;
  -webkit-border-radius: 0px;
}

.plan_details {
  padding-top: 35px;
}

.text_shadow {
  text-shadow: 0 2px 4px #ffffff;
}

.plan_details ul li {
  font-size: 18px;
  padding-bottom: 15px;
}

.more_plans {
  margin-bottom: 100px;
  font-size: 16px;
}

.pull-right {
  font-size: 16px;
}

.languages {
  overflow-y: auto;
  height: 340px;
  overflow-x: hidden;
  margin-bottom: 20px;
}

.languages ul {
  margin: 0;
  padding: 0;
}

.languages ul li {
  display: block;
  list-style-type: none;
  padding: 1em;
  margin: .25em 0;
  background-image: url('../img/status-sprite.png');
  background-repeat: no-repeat;
  background-position: 100% 106%;
  background-size: 100px;
  cursor: pointer;
  transition: background-position .35s ease-out;
  margin-right: 1em;
}

.languages ul li:hover {
  color: #217bb9;
  background-color: rgba(32, 122, 185, .1);
}

.languages ul li.selected {
  background-position: 100% 54%;
  background-color: rgba(32, 122, 185, .1);
  font-weight: bold;
  color: #217bb9;
}

.languages ul li.trashable:hover {
  background-position: 100% -4%;
}

.speakers {
  font-size: 10px;
  width: auto;
  color: #575757;
  opacity: 0.7;
  margin-right: 45px;
  float: right;
  margin-top: 3px;
  height: 12px;
  font-weight: normal !important;
}

table td {
  font-size: 14px;
  padding: 10px;
}

table td.language-speakers {
  font-size: 12px;
  color: #cccccc;
}

table td.language-select {
  cursor: pointer;
  color: #217bb9;
}

/* End of language list styles */

/* Start of plan-container styles */

.plan-container img {
  width: 40px;
  margin: 20px;
}

/* End of plan-container styles */

/* Start of plan-row styles */

.plan-row {
  border: solid 1px #dddddd;
  padding: 0 !important;
  margin: 0px 0px 20px 0px;
}

/* End of plan-row styles */

/* Start of plan list styles */

.plan-name {
  color: #217bb9;
  font-size: 14px;
  font-weight: bold;
}

.bg {
  height: 100px;
  border-radius: 0px;
  color: #1366a0;
  transition: background .5s cubic-bezier(0.25, 0.1, 0.06, 0.85);
}

.bg:hover {
  background-color: #e6f1f7;
  cursor: pointer;
}

.bg-active .icons .icon {
  fill: white !important;
}

.bg-active {
  background: #1366a0;
  color: white;
  background: background 1.5s cubic-bezier(0.25, 0.1, 0.06, 0.85);
}

.bg-active:hover {
  background-color: #1366a0;
}

.bg-active .plan-name {
  color: #fff;
}

.bg-active .views {
  color: #fff;
}

.views {
  font-size: 14px;
  color: #575757;
}

.price {
  font-size: 12px;
  color: #edc654;
  font-weight: bold;
}

/* End of plan list styles */

/* Start of sprite icon style */

.sprite {
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  display: block;
}

.bg-deact .sprite--briefcase {
  width: 45px;
  height: 45px;
  background-position: -370px -5px;
}

.bg-active .sprite--briefcase {
  width: 45px;
  height: 45px;
  background-position: -315px -5px;
}

.sprite--briefcase {
  width: 45px;
  height: 45px;
  background-position: -5px -60px;
}

.bg-deact .sprite--building {
  width: 45px;
  height: 45px;
  background-position: -160px -60px;
}

.bg-active .sprite--building {
  width: 45px;
  height: 45px;
  background-position: -415px -60px;
}

.sprite--building {
  width: 45px;
  height: 45px;
  background-position: -205px -115px;
}

.bg-deact .sprite--heart {
  width: 45px;
  height: 45px;
  background-position: -415px -260px;
}

.bg-active .sprite--heart {
  width: 45px;
  height: 45px;
  background-position: -105px -315px;
}

.sprite--heart {
  width: 45px;
  height: 45px;
  background-position: -160px -315px;
}

.bg-deact .sprite--rocket {
  width: 45px;
  height: 45px;
  background-position: -160px -370px;
}

.bg-active .sprite--rocket {
  width: 45px;
  height: 45px;
  background-position: -415px -315px;
}

.sprite--rocket {
  width: 45px;
  height: 45px;
  background-position: -105px -370px;
}

.sprticon {
  margin: 4%;
}

.bg-heart {
  background-image: url(../img/heart.svg);
  background-size: 70% auto;
  background-repeat: no-repeat;
}

.bg-rocket {
  background-size: 70% auto;
  background-repeat: no-repeat;
  background-image: url(../img/rocket.svg);
}

.bg-briefcase {
  background-size: 70% auto;
  background-repeat: no-repeat;
  background-image: url(../img/briefcase.svg);
}

.bg-building {
  background-size: 70% auto;
  background-repeat: no-repeat;
  background-image: url(../img/building.svg);
}

.bg-deact .plan-name {
  color: #9b9b9b;
}

.bg-deact .views {
  color: #9b9b9b;
}

.bg-deact .price {
  color: #9b9b9b;
}

/* End of sprite icon style */

/* Start of form elements styles */

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  color: #575757;
}

.final-detail-text {
  font-size: 18px;
}

.success_string {
  margin-bottom: 40px;
}

.view-web {
  background-color: #217bb9;
  margin-bottom: 20px;
  font-size: 16px;
}

.btn-custom-lg {
  width: 33%;
  padding: 1.5% 0 1.5% 0;
  font-size: 16px;
}

.loader {
  height: 50px;
  margin: 190px 0 190px 0;
}

.custom-input {
  height: 45px;
  border: solid 1px #dddddd;
  color: #575757;
}

.next-btn {
  background-color: #217bb9;
  width: 30%;
}

.next-btn:hover {
  background-color: #2589cf;
}

h4.sel-head {
  height: 16px;
  font-size: 14px;
  color: #575757;
  font-weight: 400;
  margin-bottom: 20px;
}

h4.sel-head em {
  color: #544747;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
}

.error-links {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 20px;
}

button .btn .selected {
  background-color: rgba(32, 122, 185, 0.75);
}

svg.icons {
  margin: 8% 0;
  fill: yellow !important;
}

.input-group-addon {
  background-color: #fff;
}

.input-group {
  margin-bottom: 20px;
}

.prog {
  background-color: rgba(32, 122, 185, 0.75) !important;
}

.cus-label {
  font-size: 16px;
  font-weight: normal !important;
  height: 21px;
  margin: 20px 0px 20px 0px;
}

.cus-in {
  height: 45px;
  margin-bottom: 20px;
}

.modal {
  display: block;
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 75%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.plan_popup .modal-dialog {
  width: 800px;
}

.plan_popup_header {
  color: #217bb9;
}

.cus-btn {
  height: 50px;
  width: 161px;
  background-color: #217bb9;
  font-size: 16px;
  margin: 40px 5px 0px 0px;
  float: right;
}

.login-btn {
  height: 50px;
  width: 161px;
  background-color: #217bb9;
  font-size: 16px;
  margin: 60px 5px 0px 0px;
}

.cus-btn:hover {
  background-color: #2589cf;
}

.back-link {
  margin-top: 50px;
}

.login_popup {
  height: 65px;
  margin-top: 60px;
  padding-top: 20px;
  font-size: 16px;
  background-color: rgba(33, 123, 185, 0.1);
}

.yellow_error {
  border: solid 1px #ffc339;
}

.login_header {
  margin-bottom: 40px;
}

select {
  width: 268px;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  border: 0;
  border-radius: 5px;
  height: 34px;
  background-image: url(../img/arrow_sans_down.png) !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-position: 97%;
  background-repeat: no-repeat;
}

.lang-count span {
  font-weight: bold;
}

.center-block {
  margin: 20px 0px 40px 0px;
}

/* End of form elements styles */

/* Start of progress bar styles */

.pgbar {
  padding-top: 20px;
  margin-top: 40px;
}

.btn-circle {
  width: 14px;
  height: 14px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  background-color: rgba(32, 122, 185, 0.25);
  margin-right: 10px;
  outline: none !important;
  border: none !important;
}

.btn-circle .active {
  background-color: rgba(32, 122, 185, 0.75) !important;
}

/* End of footer styles */

/* Start of footer styles */

.footer {
  bottom: 0;
  width: 100%;
  font-weight: bold;
  text-align: center;
}

footer p a {
  opacity: 0.5;
}

footer p a:hover {
  opacity: 1;
}

/* End of footer styles */

/* Start of slider animation styles */

.animate-switch {
  padding: 10px;
  width: 100%;
  overflow: hidden;
}

.animate-switch.ng-animate {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: absolute;
}

.animate-switch.ng-leave {
  left: 0;
}

.forward {
  min-height: 600px;
  position: relative;
  overflow: hidden;
}

.forward .animate-switch.ng-leave.ng-leave-active {
  left: -100%;
}

.backward .animate-switch.ng-leave.ng-leave-active {
  left: 100%;
}

.forward .animate-switch.ng-enter {
  left: 100%;
}

.backward .animate-switch.ng-enter {
  left: -100%;
}

.animate-switch.ng-enter.ng-enter-active {
  left: 0;
  position: relative;
}

/* End of slider animation styles */
