<div class="nlb-wrapper">
  {{ data|raw }}

  {% if editable == 1 %}
    <div class="add-templates">
      {{ link_add_template }}
    </div>
    {{ btn_add_section }}
    <button class="use-ajax btn-save-data btn btn-primary nlb-save-data glyphicon glyphicon-save" title="{{ 'Save Layout'|t }}"></button>
  {% endif %}

</div>
