{#
/**
 * @file
 * readmore.html.twig
 *
 * Available variables:
 * - summary: Truncated string
 * - text: All text
 */
#}
<div class="readmore-summary">
  {{ summary }}
</div>
<div class="readmore-text">
  {{ text }}
</div>
