<div class="auth-options">
  <div class="auth-option-buttons">
    <span class="btn-id-card">
      <a href="https://id.smartid.ee/oauth/authorize?client_id={{client_id}}&redirect_uri={{ url("smartid_auth.oauth") }}&response_type=code">
        <img src="{{ module_path }}/images/id-kaart.png" />
      </a>
    </span>
  </div>
</div>
