{#
/**
 * @file
 * Display data as HTML.
 *
 * @ingroup themeable
 */
#}
<div class="chart_suite-file">
{{ markup }}
  {% if dolink %}
  <div class="chart_suite-download">
  <a href="{{ uri }}">{{ filename }}</a> ({{ filesize }} bytes)
  </div>
  {% endif %}
</div>
