{#
/**
 * @file
 * Theme override for svg icons.
 *
 * Available variables:
 * - wrapper_attributes: Attributes added to the div such as class.
 * - svg_attributes: Attributes pulled directly from the sprite symbol such as width/height/viewbox
 * - use_canvas: TRUE/FALSE flag to use the canvas IE fix
 * - icon_url: The ID of the sprite symbol to display.
 */
#}
{%
  set classes = [
    'svg-icon',
    use_canvas ? 'svg-icon__has-canvas',
  ]
%}
<div{{ wrapper_attributes.addClass(classes) }}>
  {% if use_canvas %}
    <canvas{{ svg_attributes|without('viewBox') }}></canvas>
  {% endif %}
  <svg{{ svg_attributes }}>
      <use xlink:href="{{ icon_url }}"></use>
  </svg>
</div>
