{#
/**
 * @file
 * Default theme implementation to display a OPcache stats.
 *
 * Available variables:
 *   - opcache_config: output of opcache_get_configuration()
 */
#}
<h2>Runtime Configuration</h2>
<div {{ attributes }}>
    {% if opcache_config %}
        <table>
        {% for k,v in opcache_config %}
            {% if v is of_type('bool') %}
                {% set v = v ? 'true' : 'false' %}
            {% elseif v is of_type('string') %}
                {% set v = '"' ~ v ~ '"' %}
            {% endif %}
            {% if k == 'opcache.memory_consumption' %}
                {% set v = v ~ '<div class="description">(' ~ v|format_size ~ ')</div>' %}
            {% endif %}
            <tr><th><a href="https://php.net/manual/en/opcache.configuration.php#ini.{{ k|replace('_', '-') }}">{{ k }}</a></th><td>{{ v|raw }}</td></tr>
        {% endfor %}
        </table>
    {% endif %}
</div>
