{#
/**
 * @file
 * CMP Overlay.
 *
 * Available variables:
 * - height: The height of the overlay
 * - width: The max width of the overlay
 * - url: CMP URL
 */
#}
<div id="sourcepoint-cmp-modal" class="sourcepoint-cmp-modal">
  <div class="sourcepoint-cmp-modal-content" style="height: {{ height }}; width:auto; max-width:{{ width }};">
    <iframe id="sourcepoint-cmp-modal-iframe" style="height: {{ height }}; width:100%;" data-src="{{ url }}"></iframe>
  </div>
</div>
