<div role="contentinfo" aria-label="Status message" class="messages messages--status" id="lang-prompt-wrapper">
  <h2 class="visually-hidden">{{ 'Status Message'|trans }}</h2>
  {{ message|raw }}
  <a href="#" id="dismiss-lang-prompt">[X]</a>
</div>
