body.toolbar-horizontal {
  padding-top: 29px !important;
}
body.toolbar-horizontal .toolbar-tab > .toolbar-item {
  display: none;
}
body.toolbar-horizontal .toolbar-tray a {
  line-height: 15px;
  padding: 6px 8px;
}
body.toolbar-horizontal .toolbar .toolbar-icon:before {
  background-size: 80% auto;
  left: 5px;
}
body.toolbar-horizontal .toolbar .toolbar-icon {
  padding-left: 2.3em;
}
body.toolbar-horizontal .toolbar .toolbar-menu ul .toolbar-icon {
  padding-left: 1.2em;
}
.toolbar-tray-horizontal ul li.menu-item--expanded ul li.menu-item--expanded {
  background-size: 12px auto;
}
body.toolbar-horizontal .toolbar .toolbar-toggle-orientation button {
  height: 29px;
}
.toolbar-tray-horizontal ul li.menu-item--expanded .menu-item:hover > ul {
  margin-top: -28px;
}