{#
/**
 * @file
 * Default theme implementation of an Youtube image link.
 *
 * Available variables:
 * - data: The entire data array returned from the Youtube API request.
 * - href: The url to the Youtube post page.
 * - src: The source url to the youtube image.
 * - width: The display width of the image.
 * - height: The display height of the image.
 *
 * @ingroup themeable
 */
#}
{% spaceless %}
    <a class="group" target="_blank" rel="group1" href="{{ href }}">
        <img height="{{ height }}px" width="{{ width }}px" src="{{ src }}">
    </a>
{% endspaceless %}

