/**
 * @file
 * Commerce Xem checkout page styling. 
 */

.form-item-payment-process-offsite-payment-wallet-waiting-for{
    font-size: 28px;
    font-family: Arial;
    color: #fff;
    background-color: #74c8ec;
    padding: 5px 20px;
    width: 300px;
    text-align: center;
}