.popular-tags .tag-terms {
    word-wrap: break-word;
}

.popular-tags .show-popular-terms,
.popular-tags .show-all-terms {
    margin-left: 0.5em; /* LTR */
}

[dir="rtl"] .popular-tags .show-popular-terms,
.popular-tags .show-all-terms {
    margin-right: 0.5em; /* RTL */
}

[dir="rtl"] .popular-tags .tag-terms {
    word-wrap: break-word; /* RTL */
}

.popular-tags .tag-terms .term {
    margin-right: 0.5em; /* LTR */
    display: inline-flex;
}

[dir="rtl"] .popular-tags .tag-terms .term {
    margin-left: 0.5em; /* RTL */
    display: inline-flex;
}

.popular-tags .tag-terms .term.popular {
    font-weight: bold;
}