.admin-order-items-form .order-items {
  position: relative;
  padding-bottom: 20px;
}
.admin-order-items-form .order-items table td label {
  /* .visually-hidden */
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}
.admin-order-items-form .order-items table {
  width: 100%;
}
.admin-order-items-form .order-items table td.variation input {
  max-width: 300px;
}
.admin-order-items-form .order-items table td.quantity input {
  max-width: 60px;
}
.admin-order-items-form .order-items table tbody td.overridden-price,
.admin-order-items-form .order-items table thead th.overridden-price {
  text-align: center;
}
.admin-order-items-form .order-items table td.unit-price input[type=text] {
  max-width: 70px;
}
.admin-order-items-form .order-items table td.actions {
  min-width: 156px;
}
.admin-order-items-form .order-items table td.actions .button {
  margin-right: 0;
  margin-left: 0.5em;
}
.admin-order-items-form .order-items table td.actions .button:first-child {
  margin-left: 0;
}
.admin-order-items-form .order-items table td.actions .ajax-progress {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0;
}
