.spammaster_fw_main {
  font-family: "Trebuchet MS", sans-serif;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  color: #444444;
  background-color: #eeeeee;
  font-size: 90%;
}
.spammaster_fw_page {
  background-color: #ffffff;
  box-shadow: 0 3px 9px rgba(0,0,0,0.5);
  width: 60%;
  margin: 100px auto;
}
.spammaster_fw_logo {
  padding: 10px;
  text-align: center;
  background-color: #ff8200;
  color: #ffffff;
}
.spammaster_fw_content {
  padding: 4px 0 24px 0;
  text-align: center;
}
.spammaster_fw_footer {
  color: #666666;
  background: #f9f9f9;
  padding: 10px 20px;
  border-top: 1px #ddd solid;
  text-align: center;
}
.spammaster-alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-radius: 4px;
}
.spammaster-alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}
.spammaster-center {
  text-align: center;
}
.spammaster-p-lead {
  font-size: 21px;
  margin-bottom: 20px;
  font-weight: 300;
  line-height: 1.4;
}
.spammaster-p-small {
  font-size: 85%;
}
.spammaster-head {
  width: 100%;
}
.spammaster-t-head {
  width: 100%;
  border-spacing: 2px;
  border-collapse: separate;
}
.spammaster-t-head-th {
  background-color: #07b357;
  text-align: center;
  padding-bottom: 12px;
  color: #ffffff;
}
.spammaster-t-foot-tr {
  background-color: #eae7de;
  height: 30px;
}
.spammaster-t-foot-th {
  padding-left: 3px;
}
.spammaster-t-body-tr {
  background-color: #ffad58;
}
.spammaster-t-body-td {
  height: 30px;
  padding-left: 3px;
  color: #ffffff;
}
.spammaster-h-body-tr {
  height: 30px;
}
.spammaster-recaptcha {
  -webkit-transform: scale(0.80);
  -moz-transform: scale(0.80);
  -ms-transform: scale(0.80);
  -o-transform: scale(0.80);
  transform: scale(0.80);
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
}
.spammaster_st_page {
  background-color: #ffffff;
  box-shadow: 0 3px 9px rgba(0,0,0,0.5);
  width: 80%;
  margin: 100px auto;
}
.spammaster-responsive {
  width: 100%;
}
.spammaster-responsive-49 {
  width: 49%;
}
@media screen and (max-width: 1025px) {
  .spammaster-responsive-25,
  td {
    display: inline;
  }
}
