<table>
    <tr><th>Video Description</th></tr>
    {% for item in items %}
        <tr>
            <td><a name="{{item.uri}}" class="vid_link" href="#video_playlist">

                    {% if item.description %}

                    {{item.description}}

                    {% else %}

                    {{ item.uri }}

                    {% endif %}

                </a></td>
        </tr>
    {% endfor %}
</table>
<div class="vid_player_div">
<video controls class="vid_player"></video>
</div>

