body {
  font-family: 'Lato', sans-serif;
  counter-reset: section;
}

p,
li {
  font-size: 1.1em;
}

.navbar-btn {
  margin: 0;
  height: 90px;
  width: 100%;
  background-color: #fff;
}

.logo.navbar-btn img {
  height: 50px;
  margin: 20px;
}

#landingpage .project_logo img {
  position: absolute;
  top: 0;
  right: 0;
}

.paragraph--type--landingpage-image-textfield.paragraph--view-mode--right {
  background-color: #272727;
}

.paragraph--type--landingpage-image-textfield.paragraph--view-mode--right .field--name-field-landingpage-image {
  height: 90px;
  background-color: #fff;
}

.paragraph--type--landingpage-image-textfield.paragraph--view-mode--right h1 {
  margin-top: 85px;
  margin-bottom: 10px;
  color: #fff;
  font-size: 3em;
  border-left: 5px solid #0066a4;
  padding-left: 10px;
}

.paragraph--type--landingpage-textfield-textarea h2 {
  text-transform: uppercase;
  margin-bottom: 1em;
}

.paragraph--type--landingpage-textfield-textarea h2 {
  color: #0066a4;
}

.paragraph--type--landingpage-textfield-textarea.white_title h2 {
  color: #fff;
}

.paragraph--type--landingpage-textfield-textarea ol li {
  position: relative;
  list-style: none;
  padding-left: 90px;
  margin-bottom: 2em;
  font-family: Arial;
}

.paragraph--type--landingpage-textfield-textarea ol,
.paragraph--type--landingpage-textfield-textarea ul {
  padding-left: 0;
}

.paragraph--type--landingpage-textfield-textarea ol li::after {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 1.5em;
  text-align: center;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background: #f00;
  color: #fff;
  counter-increment: section;                /* Increment the section counter*/
  content: "" counter(section) ""; /* Display the counter */
}

.paragraph--type--landingpage-textfield-textarea ol li::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background: #fff;
  border: 1px solid #f00;
  content: "";
}

.red_circle_list.paragraph li::before {
  position: absolute;
  top: 5px;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background: #fff;
  border: 1px solid #f00;
  content: "";
}

.red_circle_list.paragraph li {
  position: relative;
  list-style: none;
  padding-left: 25px;
  font-family: Arial;
  margin-top: 2em;
}

.paragraph--type--landingpage-image-textarea.black_background h4 {
  color: #fff;
}

.paragraph--type--landingpage-image-textarea.white_background h4 {
  color: #000;
}

#landingpage .gray_background {
  background-color: #272727;
}

#landingpage .aqua_text {
  color: #bbd4e6;
}

.paragraph--type--landingpage-textfield-images h4 {
  margin: 1em 0 1em 0;
}

.footer {
  background-color: #000;
  color: #888;
}

.toolbar-tray-open.toolbar-fixed.toolbar-horizontal .paragraph--type--landingpage-image-textfield.paragraph--view-mode--right {
  margin-top: 84px;
}

.toolbar-tray-open.toolbar-fixed.toolbar-horizontal #landingpage .project_logo img {
  top: -84px;
}

@media only screen and (max-width: 768px) {
  #landingpage .project_logo img {
    position: relative;
    clear: both;
    margin: 0 auto;
    display: none;
  }
  .col-sm-3 img {
    margin: 0 auto;
  }
}

.paragraph--type--landingpage-textfield-textarea.paragraph--view-mode--default.white_background .col-sm-8 h2 {
  margin-left: 3em;
}

.paragraph--type--landingpage-textfield-textarea.paragraph--view-mode--left.image_caption p {
  background-color: #464646;
  padding: 2em;
  border-radius: 1em;
  color: #fff;
  margin-left: 1em;
  margin-right: 1em;
}

@media only screen and (min-width: 768px) {

.paragraph--type--landingpage-textfield-textarea.paragraph--view-mode--left.image_caption p {
  margin-top: -15em;
}

.paragraph--type--landingpage-image-textfield.paragraph--view-mode--left.image_caption img {
  margin-top: -15em;
}

}  

.paragraph--type--landingpage-image-textarea h4 {
  color: #000;
  font-size: 16px;
  margin-bottom: 2em;  
}

.red_strong.paragraph strong {
  color: #f00;
  font-weight: normal;
}

.paragraph.paragraph--type--landingpage-textarea-textareas em {
  font-style: normal;
  color: #999;
}

.paragraph.paragraph--type--landingpage-textarea-textareas p {
  margin-top: 1em;
  margin-bottom: 1em;
}

.paragraph.decorated_title h2 {
    position: relative;
    z-index: 1;
    margin-top: 2em;
    margin-bottom: 2em;
}    

.paragraph.decorated_title h2:before {
        border-top: 1px solid #ccc;
        content:"";
        margin: 0 auto; /* this centers the line to the full width specified */
        position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
        top: 50%; left: 0; right: 0; bottom: 0;
        width: 100%;
        z-index: -1;
    }

.paragraph.decorated_title h2 span { 
        /* to hide the lines from behind the text, you have to set the background color the same as the container */ 
        background: #000; 
        padding: 0 30px; 
}

.paragraph.paragraph--type--landingpage-textarea-textareas hr {
  color: transparent;
  border-top: 1px solid #000; 
  width: 25%;
  text-align: left;
  margin-top: 4em;
  margin-bottom: 4em;
  margin-left: 0;
}

/*.container:first {
  display: none;
}*/