{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - elements: The complete render element.
 *   containing:
 *   - elements.header: will render the patch header.
 *   - elements.body: will render patch entity field by field.
 * - created: Themed creation date field.
 *
 * @see template_preprocess_patch()
 */
#}
{%
  set classes = [
    'change-request',
    'patch',
    elements['#view_mode'] ? 'patch--view-mode-' ~ elements['#view_mode']|clean_class,
  ]
%}

<div{{ attributes.addClass(classes) }}>
  <div class="patch__header">{{ elements.header }}</div>
  <div class="patch__body">{{ elements|without('header') }}</div>
</div>