.page-node-type-parade-onepage{
  .block > .content{
    margin-top: 0;
  }
}
.node--type-parade-onepage {

  > .node__content{
    margin-top: 0;
  }
  // Contextual links adds a position: relative...
  position: static !important;

  .content-moderation-entity-moderation-form {
    background: white;
    position: absolute;
    z-index: 501;
    right: 0;
    top: 0;
    margin: 80px 1em 0 0;

    .entity-moderation-form {
      padding: 0;
      margin: 1em;
      border: 0;
      display: table;
      font-size: .9em;

      li {
        display: table-cell;
        vertical-align: top;

        > .form-item {
          margin: 0 1em 0 0;
          width: auto;
        }
      }


      .form-submit {
        margin: 25px 0 0 0;
      }
    }
  }

  .hamburger {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 501;

    @include md {
      display: none;
    }

    @include breakpoint-max(md) {
      &.is-active + .campaign-menu {
        opacity: 1;
        visibility: visible;
      }
    }

    &:active, &:focus {
      outline: none;
    }

    .hamburger-inner {
      &, &::before, &::after {
        width: 30px;
        background-color: white;
      }
    }

    .hamburger-box {
      width: 30px;
      height: 29px;
    }

    .hamburger-toggle {
      color: white;
      &:hover, &:active, &:focus {
        text-decoration: none;
      }
      @include md {
        display: none;
      }
    }
  }

  // Menu field wrapper.
  .campaign-menu {
    position: fixed;
    top: 70px;
    right: 1em;
    padding: 10px;
    z-index: 501;
    // Mobile styles for Menu field wrapper.
    @include breakpoint-max(md) {
      background: $parade-blue;
      padding: 1em;
      opacity: 0;
      visibility: hidden;
      will-change: opacity;
      transition: opacity .2s, visibility .2s;
      box-shadow: 0 10px 15px rgba(0, 0, 0, .3);
      min-width: 50%;
      font-size: 1.2em;

      // Arrow for the dropdown.
      &::before {
        content: " ";
        display: block;
        position: absolute;
        top: 0;
        right: 4px;
        border: 10px solid;
        margin-top: -20px;
        border-color: transparent transparent $parade-blue transparent;
        box-sizing: content-box;
      }
      a{
        border-bottom: 0;
      }
    }

    // Menu links <a> tags
    a {
      color: white;
      text-decoration: none;
      display: block;
      text-align: center;
      font-size: 1em;
      letter-spacing: .5px;
      padding: .5em;

      &:hover {
        background: white;
        color: $parade-blue;
      }
    }

    // Desktop styles for Menu field wrapper.
    @include md {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      text-align: right;
      transition: background .2s;

      a {
        font-size: 15px;
      }

      // Menu link wrappers (<li> items)
      .campaign-menu-link {
        display: inline-block;
        padding: .5em;

        // On desktop, the links have a bottom border on :hover
        a[data-selected="0"] {
          border-bottom: 2px solid transparent;
          transition: border-color .2s;

          &:hover {
            background: 0;
            color: white;
            border-color: white;
          }
        }

        // Highlighted elements look like a button.
        a[data-selected="1"] {
          display: block;
          padding: .5em 1.5em;
          border: 2px solid white;
          border-radius: 3px;

          &:hover {
            background: white;
            color: $parade-blue;
          }
        }
      }
    }

  }
}


/**
 * Paragraph blocks
 */
.diagonal-after {
  @include slope(after)
}

.diagonal-before {
  @include slope(before)
}

body.page-node-type-parade-onepage {

  .region-pre-content {
    margin: 0;
    .block {
      margin: 1em;
    }
  }

  // Fixed for toolbar.
  &.toolbar-fixed {
    .parade-campaign-page {
      position: relative;
      overflow-y: hidden;
    }
    .logo, .site-branding__logo, .hamburger, .field--name-field-menu:not(.form-wrapper) {
      position: fixed;
      top: 0;
    }
  }

}

.node-preview-container {
  background: $parade-blue;
  color: white;
  a {
    color: white;
    &:hover {
      text-decoration: underline;
    }
  }
}
//
// Super ugly hack for correctly displaying the fucking
// admin toolbar with the fucking logo and the fucking responsive hamburger shit.
body.toolbar-vertical, body.toolbar-horizontal {
  .parade-campaign-page {
    position: relative;
  }
}

body.toolbar-vertical {
  @include breakpoint-max(md) {
    #toolbar-administration {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
    }
  }
  .parade-campaign-page {
    .logo, .site-branding__logo.not-fixed {
      top: $toolbar-height + $local-task-menu-height;
    }
    .logo, .site-branding__logo {
      top: $toolbar-height;
    }
    .campaign-menu.not-fixed {
      top: $header-height + $local-task-menu-height;
      @include md {
        top: $toolbar-height + $local-task-menu-height;
      }
    }
    .campaign-menu {
      top: $header-height;
      @include md {
        top: $toolbar-height;
      }
    }
  }
}

body.toolbar-horizontal {
  .parade-campaign-page {
    .logo, .site-branding__logo.not-fixed, .campaign-menu.not-fixed {
      top: $toolbar-height + $local-task-menu-height;
    }
    .logo, .site-branding__logo, .campaign-menu {
      top: $toolbar-height;
    }
  }

  &.toolbar-tray-open .parade-campaign-page {
    .logo, .site-branding__logo.not-fixed, .campaign-menu.not-fixed {
      top: $toolbar-height * 2 + $local-task-menu-height + 1;
    }
    .logo, .site-branding__logo,.campaign-menu {
      top: $toolbar-height * 2;
    }
  }
}
