.demo-content-import-form h3 {
  margin: 1.5em 0 0;
  background: #f3f4ee;
  padding: 0.65em 1.0em;
  font-size: 1.2em;
  border: 1px solid #bfbfba;
  border-bottom: 0; }

.demo-content-import-form table {
  border: 1px solid #bfbfba; }
  .demo-content-import-form table tr td {
    width: 150px; }
    .demo-content-import-form table tr td:first-child {
      width: 10px; }
    .demo-content-import-form table tr td:last-child {
      width: auto;
      color: #8f8f8e; }
