{#
/**
 * @file
 * Default theme implementation to display an image field formatted as a background image.
 *
 * Available variables:
 * - tag: the type of html tag to use.
 * - url: An optional URL the image can be linked to.
 *
 * @see template_preprocess_image_formatter()
 *
 * @ingroup themeable
 */
#}
{% if url %}<a href="{{ url }}">{% endif %}<{{ tag }} {{ attributes }}></{{ tag }}>{% if url %}</a>{% endif %}
