<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="cg_payment">
  <description>Default PHP CodeSniffer configuration for Rules.</description>
  <file>.</file>

  <arg name="extensions" value="php,module,inc,install,test,profile,theme"/>
  <arg name="warning-severity" value="0"/>

  <rule ref="Drupal.NamingConventions.ValidVariableName.LowerCamelName">
    <!-- Annotations must use the same property names as in the configuration. -->
    <!--<exclude-pattern>src/Annotation</exclude-pattern>-->
  </rule>

  <rule ref="Drupal">
    <!-- Blacklist of coding standard rules that are not yet fixed. -->
    <exclude name="Drupal.Commenting.DocComment.MissingShort"/>
    <exclude name="Drupal.Commenting.InlineComment.InvalidEndChar"/>
    <exclude name="Drupal.Commenting.InlineComment.NotCapital"/>
    <exclude name="Drupal.Commenting.DocComment.ShortFullStop"/>
    <exclude name="Drupal.Commenting.DocComment.SpacingBeforeTags"/>
    <exclude name="Drupal.Commenting.DocComment.TagGroupSpacing"/>
    <exclude name="Drupal.Commenting.FunctionComment.MissingParamType"/>
    <exclude name="Drupal.Commenting.FunctionComment.MissingReturnComment"/>
    <exclude name="Drupal.Commenting.FunctionComment.MissingParamComment"/>
    <exclude name="Drupal.Commenting.PostStatementComment.Found"/>
    <exclude name="Drupal.Commenting.FunctionComment.ReturnCommentIndentation"/>
    <exclude name="Drupal.Commenting.DocComment.ShortSingleLine"/>
    <exclude name="Drupal.WhiteSpace.ScopeIndent.IncorrectExact"/>
    <exclude name="Drupal.Commenting.FunctionComment.TypeHintMissing"/>
    <exclude name="Drupal.Commenting.InlineComment.NoSpaceBefore"/>
    <exclude name="Drupal.Commenting.InlineComment.SpacingBefore"/>
    <exclude name="Squiz.WhiteSpace.FunctionSpacing"/>
    <exclude name="Squiz.ControlStructures.SwitchDeclaration.SpacingAfterBreak"/>
    <exclude name="Squiz.Arrays.ArrayDeclaration.FirstIndexNoNewline"/>
    <exclude name="Squiz.Arrays.ArrayDeclaration.CloseBraceNewLine"/>
    <exclude name="Generic.Formatting.SpaceAfterCast.NoSpace"/>
    <exclude name="Generic.Files.LineEndings.InvalidEOLChar"/>
  </rule>

  <!-- We always want short array syntax only. -->
  <!-- <rule ref="Generic.Arrays.DisallowLongArraySyntax" /> -->
</ruleset>
