{#
/**
 * @file
 * Search summary template.
 *
 * Available variables:
 * - summary: An array of summary information.
 */
#}
<div id="funnelback-summary">
  {{ summary.start }} - {{ summary.end }}
  search results of {{ summary.total }}
  for <strong>{{ summary.query }}</strong>
</div>
