{#
/**
 * @file
 * Fannelback breadcrumb template.
 *
 * Available variables:
 * - facets: An array of facet items. Each item contains related selection
 *   details and urls.
 * - facet_extras: A array of extra information about facets.
 * - selected: Boolean to indicate if any facet filter is selected.
 */
#}
<div id="funnelback-facets-breadcrumb"><span class="facets-breadcrumb-label">Refined by:</span>
  <ul class="facets-applied list-inline">
    {% for facet in facets %}
      {% if facet.selectedValues %}
        {% for selectedValue in facet.selectedValues %}
          <li>
            <a class="selected-filter" href="{{ funnelback_filter_querys_string(selectedValue.toggleUrl) }}" title="Remove {{ selectedValue.label }}">x {{ selectedValue.label }}</a>
          </li>
        {% endfor %}
      {% endif %}
    {% endfor %}
  </ul>
  <a class="clear-all-filters" href="{{ funnelback_filter_querys_string(facet_extras.unselectAllFacetsUrl }}" title="Remove all refinements">
    Clear all filters
  </a>
</div>
