{#
/**
 * @file
 * Facet template for Funnelback.
 *
 * Available variables:
 * - display_url: The url string for display.
 * - live_url: The live url string.
 * - title: The result title string.
 * - date: The result date string.
 * - summary: The result summary string.
 * - metadata: An array of additional metadata with the result.
 */
#}
<h3>
  <a href="{{ display_url }}" title="{{ live_url }}">{{ title }}</a>
</h3>
<p>
  {% if date != 'No Date' %}
    <span class="date">{{ (date / 1000)|format_date('default') }}</span>
  {% endif %}
  <span class="summary">{{ $summary }}</span></p>
</p>
