.item-list ul.entityreference-dragdrop {
  list-style-type: none;
  display: inline-block;
  background: #eee;
  width: 95%;
  height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  margin: 0;
  border: 1px solid gray;
}

.item-list ul.entityreference-dragdrop li {
  padding: 5px;
  margin:4px 0;
  font-size: 1.2em;
  background: white;
  cursor: move;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
  list-style-type: none;
  overflow: hidden;
}

.item-list ul.entityreference-dragdrop li:hover {
  background: #ffb;
}

.item-list ul.entityreference-dragdrop li.ui-sortable-helper {
  border: 1px solid gray;
  background: #fe7;
}

.entityreference-dragdrop-filter {
  width: 95%;
}

.entityreference-dragdrop-clear {
  clear:both;
}

.entityreference-dragdrop-label {
  font-weight: bold;
  padding: 9px 0 0 0;
}

.entityreference-dragdrop-message {
  display: none;
  color: red;
}

.entityreference-dragdrop-list-header {
  margin: 0 11px 0 0;
  font-weight: bold;
}

.entityreference-dragdrop-container-available,
.entityreference-dragdrop-container-selected {
  float: left;
  width: 50%;
}
