
.recipe-section div.section {
  margin: 0;
  padding: 0 0 0 1.5em;
}

/*
 * import preview
 */
.recipe-error-item {
  margin-left: 10px;
  color:red;
  font-weight:bold;
}
.recipe-new-item {
  margin-left: 10px;
  color:#2E8B57;
  font-weight:bold;
}
.recipe-matched-item {
  margin-left: 10px;
}

.recipe-import-text {
  font-family: monospace;
}
