{#
/**
 * @file
 * Displays the the view-rows and appends the clss views-roundabout.
 */
#}

{%
  set row_classes = [
    'views-roundabout',
    default_row_class ? 'views-row',
  ]
%}
{% for id, row in rows %}
  <div {{ row.attributes.addClass(row_classes) }}>
    {{ row }}
  </div>
{% endfor %}
