/**
 * @file
 * Theme implementation returning introduction page text.
 */

Welcome on our <a href="http://www.gotosolr.com/en">gotosolr.com</a> module.
<br><br>
The purpose of this module is to ease your pain in setting Solr indexes with Drupal.
<br><br>
For that, we provide a simple way to create free instant test indexes, that you 
can immediately use in your favorite Solr modules, Search API or Apache Solr.
<br><br>
Normally, you would have to follow these steps:
- Download and install Solr binaries
- Create a Solr core<br>
- Install your favorite Drupal Solr module<br>
- Copy your favorite Drupal Solr module config files (schema.xml, solrconfig.xml, resource files) in your core directories<br>
- Copy your core parameters into your favorite Solr Drupal module’s server configuration page
<br><br>
This is a big showstopper for many users, and many of them give up during the process.
<br><br>
But we love Solr, and we think it should be given a chance. For that, we
decided to provide free Solr indexes, already configured with the proper
configuration files. With just one click, you get a free Solr index hosted
in our <a href="http://www.gotosolr.com/en">gotosolr.com</a> cloud, ready to
be used for two hours. After that, you can decide to give up, or to install
your own Solr server, or to buy a subscription at gotosolr.com or elsewhere.
<br><br>
So, now you have no more reason to not enjoy Solr with Drupal !
