{#
/**
 * @file
 * Default theme implementation to display a formatted field pager.
 *
 * Available variables:
 * - items: Items list.
 * - index : Current image index
 * - settings :  Array, about entity, bundle ...
 *
 * @ingroup themeable
 */
#}

{% if items %}
  <nav class="pager">
    <ul class="pagination">
      {% for key,item in items %}
        <li class="pager__item">
          <a href="{{ item.href }}"
             class="{{ key == index ? 'current' : '' }}">{{ item.text }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
{% endif %}