/*###########################################################################
  Color variables used across the blog.
  ########################################################################### */


/*- Main Colors
  --------------------------------------------------------------------------  */

$BLOG_COLOR_MAIN:                #1b3241;
$BLOG_COLOR_MAIN_LIGHT:  lighten(#1b3241, 20%);
$BLOG_COLOR_TOPIC:               #a7002f;
$BLOG_COLOR_TAG:                 #1b3241;
$BLOG_COLOR_LEVEL:               #ACD086;
$BLOG_COLOR_NAME:                #00ADEF;
$BLOG_COLOR_WHITE:               #FFFFFF;
$BLOG_COLOR_BLACK:               #000000;


/*- Font color settings
  --------------------------------------------------------------------------  */

$FONT_LIGHT:       $BLOG_COLOR_WHITE;
$FONT_DARK:        $BLOG_COLOR_BLACK;