{#
/**
 * @file
 * Theme for Views responsive columns.
 *
 * @see template_preprocess_field()
 */
#}

<ul class="responsive-columns">
  {% for row in rows %}
    <li>{{ row }}</li>
  {% endfor %}
</ul>
