.threecol-source-ordered-2-8-2 .hr--1-2 .l-r:first-child {
  width: 83.33333%;
  float: right;
  margin-right: 0;
}

.threecol-source-ordered-2-8-2 .hr--1-2 .l-r:last-child {
  width: 16.66667%;
  float: left;
}

.threecol-source-ordered-2-8-2 .hr--1-3 .l-r:first-child {
  width: 83.33333%;
  float: left;
}

.threecol-source-ordered-2-8-2 .hr--1-3 .l-r:last-child {
  width: 16.66667%;
  float: right;
  margin-right: 0;
}

.threecol-source-ordered-2-8-2 .hr--2-3 .l-r {
  width: 50%;
  float: left;
}

.threecol-source-ordered-2-8-2 .hr--2-3 .l-r:last-child {
  float: right;
  margin-right: 0;
}

.threecol-source-ordered-2-8-2 .arc--3 .l-r:first-child {
  width: 66.66667%;
  float: left;
  margin-left: 16.66667%;
}

.threecol-source-ordered-2-8-2 .arc--3 .l-r:nth-child(2) {
  width: 16.66667%;
  float: left;
  margin-left: -83.33333%;
}

.threecol-source-ordered-2-8-2 .arc--3 .l-r:last-child {
  width: 16.66667%;
  float: right;
  margin-right: 0;
}
