.threecol-5-3-4 .hr--1-2 .l-r {
  width: 75%;
  float: left;
}

.threecol-5-3-4 .hr--1-2 .l-r:last-child {
  width: 25%;
  float: left;
}

.threecol-5-3-4 .hr--1-3 .l-r {
  width: 66.66667%;
  float: left;
}

.threecol-5-3-4 .hr--2-3 .l-r {
  width: 58.33333%;
  float: left;
}

.threecol-5-3-4 .hr--2-3 .l-r:last-child {
  width: 41.66667%;
  float: left;
}

.threecol-5-3-4 .arc--3 .l-r {
  width: 41.66667%;
  float: left;
}

.threecol-5-3-4 .arc--3 .l-r:nth-child(2) {
  width: 25%;
  float: left;
}

.threecol-5-3-4 .arc--3 .l-r:last-child,
.threecol-5-3-4 .hr--1-3 .l-r:last-child {
  width: 33.33333%;
  float: left;
}

.threecol-5-3-4 .arc--2 .l-r:last-child,
.threecol-5-3-4 .arc--3 .l-r:last-child {
  float: right;
  margin-right: 0;
}
