/**
 * @file
 * Styles for FullCalendar Colors admin page.
 */

details.views-left-25 {
    float: left; /* LTR */
    width: 24%;
    margin-right: 20px;
}
[dir="rtl"] details.views-left-25 {
    float: right;
}

details.overflow-hidden {
    overflow: hidden;
}

table#colors-entities,
#colors-ui-settings .tabledrag-toggle-weight-wrapper {
    width: 50%;
}

#colors-ui-settings .tabledrag-changed-warning {
    width: 45%;
}

/* deprecated? */
.fieldset-wrapper {
    overflow: auto;
}

.fieldset-wrapper .form-item {
    display: block;
    float: left;
    width: 33%;
}

.fieldset-wrapper .form-type-checkbox {
    width: 100%;
}
