{#
/**
 * @file
 * Default theme implementation for views to display results in jquery carousel.
 *
 * Available variables:
 * - title: The title of this group of rows.
 * - view: The view object.
 * - rows: The rendered view results.
 * - selector_class: The Selector class for this carousel configuration.
 *
 * @see template_preprocess_views_view_jquery_carousel()
 *
 * @ingroup themeable
 */
#}
<div{{- selector_class -}}>
  <ul>
    {% for row in rows %}
      <li>
        {{ row }}
      </li>
    {% endfor %}
  </ul>
</div>
