{#
/**
 * @file commerce_inventory_item.html.twig
 * Default theme implementation to present Inventory Item data.
 *
 * This template is used when viewing Inventory Item pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_commerce_inventory_item()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('commerce_inventory_item') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
