{#
Handles the registration under an affiliate for logged in and anonymous users.
Variables are defined inside the Affiliate Controller.
#}
<section class="affiliate-register">
    {% if is_logged_in %}
        <p>Welcome back, {{ user_name }}</p>
        <p>You are entering our affiliation program under {{ affiliation_code }}</p>
        <form>
            <input type="text" placeholder="Affiliation Code" />
        </form>
    {% else %}
        <p>Sign up for affiliation program using {{ affiliation_code }}</p>
        <form>
            <input type="text" placeholder="Affiliation Code" />
        </form>
    {% endif %}
</section>