{% if error_message is not null or error_message is not empty %}
    <div class="error warning">{{ error_message }}</div>
{% endif %}

<ul class ="twitter_feeds">
  {%- for item in data -%}
    <li>      
        <div class="pin">
          <a target="_blank" href="http://www.pinterest.com/pin/{{ item.id}}">
            <img src="{{ item.images['237x'].url }}">
          </a>
        </div>
        <div class="description">{{ item.description}}</div>
     
    </li>
  {%- endfor -%}
</ul>