{% if error_message is not null or error_message is not empty %}
    <div class="error warning">{{ error_message }}</div>
{% endif %}

<ul class ="twitter_feeds">
  {%- for item in data -%}
    <li>
      {% if item.entities.media[0].media_url is not null or item.entities.media[0].media_url is not empty %}
        <div class="media"> <img src="{{ item.entities.media[0].media_url }}"></div>
      {% endif %}
      <div class="tweet"> {{ item.text }} </div>
      <div class="screen_name"><span>@</span>{{ item.user.screen_name }}</div>
    </li>
  {%- endfor -%}
</ul>