@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
 
.isa_info, .isa_success, .isa_warning, .isa_error {
margin: 10px 0px;
padding:12px;
transition: 0.3s;
}
.isa_info {
    color: #00529B;
    background-color: #BDE5F8;
}
.isa_success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.isa_warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.isa_error {
    color: #D8000C;
    background-color: #FFBABA;
}
.isa_info i, .isa_success i, .isa_warning i, .isa_error i {
    margin:10px 22px;
    font-size:2em;
    vertical-align:middle;
}

/* The close button */
i.closebtn {
    font-weight: bold;
    float: right;
    font-size: 1.4em !important;
    cursor: pointer;
    transition: 0.3s;
    margin: 10px 22px;
    font-size: 2em;
    vertical-align: middle;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}