.contact-content {
  margin-bottom: 20px;
}
h3.social-content-title {
  font-weight: bold;
  margin: 10px 0;
}
.contact-content .contact-field {
  margin-bottom: 12px;
}
.contact-content .contact-field h4 {
  font-weight: bold;
  margin: 8px 0;
}
.contact-content .contact-field a {
  color: #000;
  cursor: pointer;
  border-bottom: none;
}
.contact-content .contact-field a:hover {
  text-decoration: none;
  border-bottom: none;
}
.social-content .social-field {
  margin: 10px 0;
}
