.fiu-add-element {
  width: 180px;
  height: 130px;
  background-color: #eee;
}

.fiu-add-element .form-type-managed-file {
  height: 130px;
}

.fiu-add-element .form-type-managed-file label {
  background-color: #eee;
  color: #000;
  height: 130px;
}

.fiu-add-element .form-type-managed-file--advanced label {
  height: 60px;
}

.fiu-add-element .form-type-managed-file--advanced.is-dragover label {
  background-color: #ddd;
}

.item-list ul.fiu-sortable-list li {
  width: 180px;
  height: 150px;
}

.fine-image-preview {
  height: 130px;
}

.fiu-progress-wrapper {
  height: 130px;
  width: 180px;
}

.unitary-element .form-item {
  width: 180px;
  height: 130px;
}

.unitary-element .fiu-add-element div[id^="ajax-wrapper"] .form-item {
  width: 180px;
  height: 150px;
}

.fiu-broken-file .fine-image-preview {
  line-height: 130px;
}

.fine-image-file-name {
  width: 170px;
}
