<div id="wrap" class="box-border-box container-fluid">
    <div id="wrap-left" class="box-border-box col-md-9">
        <div id="main-content">
            <div class="panel panel-default row small-content">
                <div class="page-header">
                    {% trans %}<span style="color: #777777;">Step1 | </span><strong>Create a SendinBlue
                        Account</strong>{% endtrans %}
                </div>
                <div class="panel-body">
                    <div class="col-md-9 row">
                        <p>{% trans %}By Creating a free SendinBlue account, you will have access to send a confirmation
                            message.{% endtrans %}</p>
                        <ul class="sib-home-feature">
                            <li>- {% trans %}Collect your contacts and upload your lists{% endtrans %}</li>
                            <li>- {% trans %}Use SendinBlue SMTP to send your transactional
                                emails{% endtrans %}</li>
                            <li class="home-read-more-content">- {% trans %}Email marketing
                                builders{% endtrans %}</li>
                            <li class="home-read-more-content">- {% trans %}Create and schedule your email
                                marketing campaigns{% endtrans %}
                            </li>
                            <li class="home-read-more-content">- {% trans %}See all of{% endtrans %}
                                {{ '<a href="@sendinblue-feature" target="_blank">SendinBlue\'s features</a></li>'
                                |t({ '@sendinblue-signup': 'https://www.sendinblue.com/features/?utm_source=drupal_plugin&utm_medium=plugin&utm_campaign=module_link' }) }}

                        </ul>

                        {{ '<a href="@sendinblue-signup" target="_blank" style="margin-top: 10px;display: block;">> Create an account</a>'
                        |t({ '@sendinblue-signup': 'https://www.sendinblue.com/users/signup/?utm_source=drupal_plugin&utm_medium=plugin&utm_campaign=module_link' }) }}

                    </div>
                </div>
            </div>
            <div class="panel panel-default row small-content">
                <div class="page-header">
                    <span style="color: #777777;">{% trans %}Step2{% endtrans %} | </span>
                    <strong>{% trans %}Activate your account with your API key.{% endtrans %}</strong></div>
                <div class="panel-body">
                    <div class="col-md-9 row">
                        <div id="success-alert" class="alert alert-success" role="alert" style="display: none;">
                            {% trans %}You successfully activate your account.{% endtrans %}
                        </div>
                        <div id="failure-alert" class="alert alert-danger" role="alert" style="display: none;">' .
                            {% trans %}Please input correct information{% endtrans %}
                        </div>
                        <p>{% trans %}Once your have created your SendinBlue account, activate this plugin to send all
                            your
                            transactional emails by using SendinBlue SMTP to make sure all of your emails get to your
                            contacts inbox.{% endtrans %}<br/>
                            {% trans %}To activate your plugin, enter your API key.{% endtrans %}<br/></p>
                        <p>
                            {{ '<a href="@sendinblue-apikey" target="_blank">> Get your API key from your  account</a>'|t({ '@sendinblue-apikey': 'https://my.sendinblue.com/advanced/apikey/?utm_source=drupal_plugin&utm_medium=plugin&utm_campaign=module_link' }) }}
                        </p>

                        <div class="col-md-7 row">
                            {{ formulaire_api_key }}
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

    {% include '@sendinblue/footer.html.twig' %}

</div>