{#
/**
 * @file
 * Theme for contact_popup_block.
 *
 * Available variables:
 * - link: Link object to the contact form.
 * - contact_form: the contact_form entity
 */
#}
{% if link -%}
    <div> {{ link }} </div>
{%- endif %}