{#
/**
 * @file flashpoint_course_module.html.twig
 * Default theme implementation to present Course module data.
 *
 * This template is used when viewing Course module pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_flashpoint_course_module()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('flashpoint_course_module') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
