<div class="list dlFormat" ng-controller="listWithDownloadFormatController">
  <div asset-type-filter class="filter-box">
    <!-- Content provided by assetTypeFilter directive. -->
  </div>
  <div select-all class="controls-box">
    <!-- Content provided by selectAll directive. -->
  </div>
  <div ui-scroll-viewport class="list-box">
  <div ui-scroll-viewport class="list-box">
    <div ng-if="$parent.isEmpty()" class="empty-info" translate="NO_ASSETS"></div>
    <div class="items" ng-class="{empty:$parent.isEmpty()}">
      <div ui-scroll="item in data" adapter="listAdapter" buffer-size="10" padding="1" data-id="{{item.id}}" class="item-wrapper animate"
          ng-class="{inMultiSelection :isSelected(item.id), active: $index == $parent.active}"
          on-finish-render="ngRepeatFinished" is-loading="loadingAssets" ng-click="onItemClicked($event, $index, item);">

        <div class="bullets" ng-if="$parent.showBullets() === true && item.bullets.length > 0">
          <span ng-repeat="bullet in item.bullets" class="bullet {{bullet.iconClass}}" title="{{$parent.getLocalizedBullet(bullet)}}"></span>
        </div>
        <div class="bullets" ng-if="$parent.showBullets() === true && item.bullets.length == 0"></div>
        <div class="remove celum-icon-remove" ng-if="$parent.isSelectedAsset(item.id)" ng-click="removeAsset($event, $index, item);"></div>
        <div class="thumb" ng-class="{portrait: item.previewInformation.thumbWidth < item.previewInformation.thumbHeight}">
          <span class="cover"></span>
          <img ng-if="item.previewInformation.thumbUrl != undefined && item.fileCategory != 'audio'" ng-src="{{item.previewInformation.thumbUrl}}" title="{{item.name}}" alt="{{item.name}}" ng-click="thumbnailClick($event, $index, item);"/>
          <span ng-if="item.previewInformation.thumbUrl == undefined && item.fileCategory == 'audio' " ng-click="thumbnailClick($event, $index, item);" class="thumbnail celum-icon-audio"></span>
          <span ng-if="item.previewInformation.thumbUrl == undefined && item.fileCategory != 'audio'" ng-click="thumbnailClick($event, $index, item);" class="thumbnail celum-icon-format-original"></span>
        </div>
        <div class="item-content">
          <div class="name">{{item.name}} <i ng-if="!(item.selectedDownloadFormats).length" class="celum-icon-warning"></i></div>
          <div item="item" is-multi-selection="false" download-format-selector></div>
        </div>
      </div>
      <span class="loader" ng-class="{loading:$parent.loadingAssets}" translate="LOADING"></span>
    </div>
  </div>
</div>