/**
 * @file
 * Styles for drupal's local tasks.
 */

/*
 * Style overwrites for the local tasks block.
 */
.block-local-tasks-block {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 9999;
  width: 150px;
  left: -110px;
  transition: all 0.25s ease;
  }

.block-local-tasks-block .contextual {
  bottom: -20px;
  top: auto;
}

.block-local-tasks-block nav.blt-tabs {
  margin: 0;
}
.block-local-tasks-block ul.blt-tabs {
  margin: 0;
  padding: 0;
  text-align: right;
  position: relative;
}
.block-local-tasks-block ul.blt-tabs li {
  display: block;
  width: auto;
  background: #555;
  padding: 5px 10px;
  position: relative;
  transition: all 0.25s ease;
  border: 0;
  border-bottom: 1px solid #333;
  opacity: 0.8;
  left: 0;
  margin: 0;
}
.block-local-tasks-block ul.blt-tabs li a {
  display: inline-block;
  padding: 2px;
  padding-right: 32px;
  color: #fff;
  /*width: 100%;*/
  width: auto;
  border: 0;
  background-color: transparent;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: right 50%;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 16px;
  line-height: 24px;
}
.block-local-tasks-block ul.blt-tabs li.is-active {
  background: #777;
}
.block-local-tasks-block ul.blt-tabs li.is-active a {
  background-color: transparent;
}
.block-local-tasks-block ul.blt-tabs li a.view { background-image: url('../img/icon-view.svg'); }
.block-local-tasks-block ul.blt-tabs li a.edit { background-image: url('../img/icon-edit.svg'); }
.block-local-tasks-block ul.blt-tabs li a.delete { background-image: url('../img/icon-delete.svg'); }
.block-local-tasks-block ul.blt-tabs li a.revisions { background-image: url('../img/icon-revisions.svg'); }
.block-local-tasks-block ul.blt-tabs li a.devel { background-image: url('../img/icon-devel.svg'); }
.block-local-tasks-block ul.blt-tabs li a.translate { background-image: url('../img/icon-translate.svg'); }
.block-local-tasks-block ul.blt-tabs li:hover {
  left: 104px;
  opacity: 1;
  background-color: #222;
}
