{#
/**
 * @file linky.html.twig
 * Default theme implementation to present Linky data.
 *
 * This template is used when viewing Linky pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_linky()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('linky') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
