{# If you would rather use the template than the text box in the UI, you can
   reconstruct a facsimile here.  See extlink-extra-leaving.html.example.twig
   for an example and description of available variables.

   Don't remove any CSS classes if you want them to function correctly, but add
   any that you need.
#}

<div class="extlink-extra-leaving">
  {{ alert_text }}
</div>
