/.idea
/vendor

/.machinery/core/
/.machinery/modules/
/.machinery/sites/
/.machinery/vendor/
/.machinery/profiles/*
!/.machinery/profiles/nodeletter_profile/

# You do not want to add your mailchimp configuration to git
/.machinery/profiles/nodeletter_profile/config/install/mailchimp.settings.yml

/.machinery/*.*
!/.machinery/README.md
!/.machinery/composer.json
!/.machinery/composer.lock

/.machinery.local.yml
