.uc-order-view-update-form {
  position: relative;
}
.uc-order-view-update-form #edit-actions--2 {
  bottom: 0;
  left: 120px;
  margin: 0;
  position: absolute;
}
.js-form-type-select.js-form-item-panes-delivery-select-address.form-item-panes-delivery-select-address {
  display: none;
}
@media (max-width: 600px) {
  .uc-order-view-update-form #edit-actions--2 {
    left: 0;
    position: relative;
  }
}

label .uc-quickpay-embedded {
  display: inline-block;
  vertical-align: middle;
}

img.uc-quickpay-form {
  vertical-align: middle;
}

img.uc-quickpay-form:first-child,
img.uc-quickpay-embedded:nth-child(2) {
  margin-left: 5px;
}

.form-item-panes-payment-details-cc-number .card-brand {
  margin: 0 8px;
  color: #3b3b3b;
  font-weight: bold;
}
