{#
/**
 * Template for child_form elements.
 * Available variables:
 * - elements: The render array of the child form element.
 * - attributes: A \Drupal\Core\Template\Attribute object representing the attributes of this template
 * @see template_preprocess_child_form
 * @see \Drupal\entity_reference_form\Element\ChildForm
 */
#}
<div {{ attributes.addClass('child-form') }}>
  {{ elements | without('enabled') }}
</div>
{{ elements['enabled'] }}