{#
/**
 * @file
 * Theme implementation to display a single Sitemap plugin item.
 *
 * Available variables:
 * - title: The title of the mapping, if configured.
 * - attributes: Attributes for the mapping conainter.
 * - content: A renderable array of mapping content.
 **/
 #}
{% if content %}
<div{{ attributes.addClass('sitemap-item') }}>
  {% if title %}
    <h2>{{ title }}</h2>
  {% endif %}
  <div>
    {{ content }}
  </div>
</div>
{% endif %}