{#
/**
 * @file
 * Default theme implementation to list embederator types available for adding embeds.
 *
 * This list is displayed on the Add content admin page.
 *
 * Available variables:
 * - types: A list of content types, each with the following properties:
 *   - add_link: Link to create a piece of content of this type.
 *   - description: Description of this type of content.
 *
 * @see template_preprocess_embederator_add_list()
 *
 * @ingroup themeable
 */
#}
{% if types is not empty %}
  <ul class="admin-list">
    {% for type in types %}
      <li class="clearfix"><a href="{{ type.url }}"><span class="label">{{ type.label }}</span><div class="description">{{ type.description }}</div></a></li>
    {% endfor %}
  </ul>
{% else %}
  <p>
    {% set create_content = path('embederator_type.add') %}
    {% trans %}
      You have not created any emebderator types yet. Go to the <a href="{{ create_embederator }}">embederator type creation page</a> to add a new content type.
    {% endtrans %}
  </p>
{% endif %}