.btn-gsis {
  color: #fff;
  background-color: #9da;
  border-color: rgba(0,0,0,0.2);
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.btn-gsis .socicon-gsis {
  background-image: url(../assets/gsis.svg);
  margin-right: 5px;
  width: 40px;
  height: 40px;
  display: inline-block;
  background-size: 40px 40px;
}

.btn-gsis:hover,
.btn-gsis:focus,
.btn-gsis:active,
.btn-gsis.active,
.open .dropdown-toggle.btn-gsis {
  color: #fff;
  background-color: #aea;
  border-color: rgba(0,0,0,0.2);
}

.btn-gsis:active,
.btn-gsis.active,
.open .dropdown-toggle.btn-gsis {
  background-image: none;
}

.btn-gsis.disabled,
.btn-gsis[disabled],
fieldset[disabled] .btn-gsis,
.btn-gsis.disabled:hover,
.btn-gsis[disabled]:hover,
fieldset[disabled] .btn-gsis:hover,
.btn-gsis.disabled:focus,
.btn-gsis[disabled]:focus,
fieldset[disabled] .btn-gsis:focus,
.btn-gsis.disabled:active,
.btn-gsis[disabled]:active,
fieldset[disabled] .btn-gsis:active,
.btn-gsis.disabled.active,
.btn-gsis[disabled].active,
fieldset[disabled] .btn-gsis.active {
  background-color: #eee;
  border-color: rgba(0,0,0,0.2);
}
