.extra-description {
  font-size: 0.923em;
  color: rgb(102, 102, 102);
  text-transform: none;
}

.extra-description a {
  color: rgb(56, 168, 255);
  display: inline;
}

.extra-description.with-title {
  text-transform: none;
}
