{#
/**
 * @file
 * Default theme implementation of a container used to wrap embedded views.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - view: The rendered view element.
 *
 * @see template_preprocess_views_entity_embed_container()
 *
 * @ingroup themeable
 */
#}
<div {{ attributes }}>{{ view }}</div>
