// Seaside admin variables.
$white: #FFFFFF;
$pale-grey: #EDF1f5;
$cool-grey: #95A5A6;
$tomato: #E74C3C;
$dark-three: #172434;
$dark-blue-grey: #223348;
$azure: #00A8F6;
$peachy-pink: #FD9674;
$black: #000000;
$amethyst: #9672D0;
$brownish-grey: #616161;
$pinkish-grey: #C7C7C7;
$dark-four: #1D2024;
$almost-black: #0F1215;


$brighton-pier: #66BDA4;
$i360: #007F90;

// Color profiles
$brighton1: #4B4A4A;
$brighton2: #f0f0f0;
$brighton3: darken($brighton1, 10);
$brighton4: #f59d24;

// Basic seaside colors.
$golden-gate: #d24034;
$presidio: #db7910;
$linkwater: #D9EBF7;
$athensgrey: #EAEBEE;
$porcelain: #F3F5F6;
$silver: #C7C7C7;
$tundora: #474747;

$message-warning: #F59D24;
$message-status: #4D8F46;
$message-error: #B73939;

// normal, hover, visited
$bodycopy-link-colors: $golden-gate, $presidio, $presidio;
$checked-color: #007BC7;

$focus-ring-color: #FFA500;

$button-bg-color: #CB4E4E;
$link-button-bg-color: #0E83CD;

$grid-transparency: 8;

$webkit-autofill-color: #EBF5FA;
$error-red: $message-error;

// Grid debug colors
$pomegranate: #C0392B;
$amethyst: #9B59B6;
$belizehole: #2980B9;
$nepgritis: #27AE60;
$sunflower: #F1C40F;

// mark-tag
$mark-background-color: #FFFF00;
$mark-font-color: #000000;

// Seaside admin variables.
$white: #FFFFFF;
$pale-grey: #f6f8f9;
$cool-grey: #95A5A6;
$tomato: #E74C3C;
$dark-three: #172434;
$dark-blue-grey: #223348;
$peachy-pink: #FD9674;
$black: #000000;
$amethyst: #9672D0;
$brownish-grey: #616161;
$pinkish-grey: #C7C7C7;

$brighton-pier: #7bbba6;
$i360: #347e8e;

$drupal-blue: #28A9E0;

$page-background-color: $pale-grey;
$page-font-color: $dark-blue-grey;

// Status page colors
$status-info-bg: #DFF0D8;
$status-info-text: $message-status;
$status-warning-bg: #FCF8E3;
$status-warning-text: $message-warning;
$status-error-bg: #F2DEDE;
$status-error-text: $message-error;

// Specific form colors
$form-disabled: lighten($cool-grey, 20%);

// Media debug colors
$red: #FF0000;
$green: #008000;
$deeppink: #FF1493;
$orange: #FFA500;


