<!-- Zeeto Ad Network Asynchronous Event Loader -->
<script>
    (function(w,d,s,p,a){
        var z=w.zan=w.zan||[],f=d.getElementsByTagName(s)[0],j=d.createElement(s);
        z.a=!!a;z.b=[];z.p=p;z.on=function(e, cb){z.b.push({e:e,cb:cb})};
        j.async=true;
        j.src='https://zan-prod-placements.s3.amazonaws.com/zeeto.js?v=' + Date.now();
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', '59e68951d4e032000128ad85')
</script>
<!-- End Zeeto Ad Network Asynchronous Event Loader -->

<!-- Zeeto Ad Network Placement Mounting Location -->
<div id="zeeto"></div>
<!-- END Zeeto Ad Network Placement Mounting Location -->
<script>
    var zan = window.zan;
    var visitorAttributes = {
        "firstName": "Other",
        "lastName": "Guy",
        "email": "newgiy@zeetotest.com",
        "address": "stuff",
        "city": "San Diego",
        "state": "CA",
        "zipCode": "92101",
        "phone": "5555555555",
        "dob": "1950-6-12"
    };
    var publisherAttributes = {
        //   c1: 'yourCustomAttribute',
        //   c2: 'yourCustomAttribute',
        //   c3: 'yourCustomAttribute',
        //   c4: 'yourCustomAttribute',
        c5: "123456789",
        utm_source: "utm_source",
        utm_campaign: "utm_campaign",
        utm_medium: "utm_medium",
        utm_term: "utm_term",
        utm_content: "utm_content"
    };

    zan.push({
        name: 'zeeto.init',
        data:  {
            visitorAttributes: visitorAttributes,
            publisherAttributes: publisherAttributes
        }
    });

    zan.on('zeeto.placementReady', function() {
            zan.push({ name: 'zeeto.start' });
    });

    zan.on('zeeto.placementEnd', function(data) {
        // Define what happens once a visitor completes the placement. Examples are redirect, load content, further registration, etc.
        // TODO: Add Tracking
        // TODO: Handle placement end functionality
    });
</script>