#station-sch tbody {
  padding: 0;
  margin: 0;
}
#station-sch th {
  text-align: center;
}
#station-sch tr {
  padding: 0;
  margin: 0;
  border: 0;
}
#station-sch td {
  padding: 0;
  margin: 0;
  width: 14%;
  vertical-align: top;
  text-align: center;
  border: 1px solid #CCC;
  border-top: 0;
  border-right: 0;
}
#station-sch td#station-sch-hours {
  width: 2%;
}

.station-sch-box {
  overflow: hidden;
  margin: -1px -1px 0 0;
  border: 0;
  border: 1px solid #CCC;
  border-left: 0;
  border-bottom: 0;
}
/* hide the time element for most schedules */
.station-sch-time {
  display: none;
}
/* display it on admin pages */
.station-sch-admin .station-sch-time {
  font-size: x-small;
  display: block;
}
.station-sch-unscheduled {
}
.station-sch-scheduled {
  text-align: center;
}
/* turn inline links into blocks */
.station-sch-scheduled a, .station-sch-unscheduled a {
  display: block;
}
/* on hover force underlining (but not the DJ names) and colour the whole block */
.station-sch-scheduled a:hover, .station-sch-unscheduled a:hover {
  background-color: #eee;
  text-decoration: none;
}
.station-sch-djs {
  font-size: xx-small;
  display: block;
}
.station-sch-now-hour, .station-sch-now-day {
}
