
/*
  Google Material colours

  'red':          '#f44336'
  'pink':         '#e91e63'
  'purple':       '#9c27b0'
  'deep_purple':  '#673ab7'
  'indigo':       '#3f51b5'
  'blue':         '#2196f3'
  'light_blue':   '#03a9f4'
  'cyan':         '#00bcd4'
  'teal':         '#009688'
  'green':        '#4caf50'
  'light_green':  '#8bc34a'
  'lime':         '#cddc39'
  'yellow':       '#ffeb3b'
  'amber':        '#ffc107'
  'orange':       '#ff9800'
  'deep_orange':  '#ff5722'
  'brown':        '#795548'
  'blue_grey':    '#607d8b'
*/

/* General styles */

textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  width: 250px;
  float: right;
}

label.form-required {
  color: inherit;
}
/*label.form-required::after {
  content: '*';
  vertical-align: super;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 6px 6px;
  width: 6px;
  height: 6px;
  margin: 0 0.3em;
  color: #c00;
}*/
.field--type-datetime {
  clear: both;
}

/* Book page */
[id="calendar"] {
  margin-top: 2em;
}
[id="booking_info"] table {
  width: 100%;
}
[id="booking_info"] .value {
  float: right;
}
[id="booking_info"] .field_total_cost {
  font-size: 1.3em;
  margin-top: 2em;
}
.form-item .description {
  clear: both;
  font-size: 0.7em;
}



/* Loading indicator */

.loader {
  border: 12px solid #515151; /* Dark grey */
  border-top: 12px solid #1e95bc; /* Material green */
  border-radius: 50%;
  width:  60px;
  height: 60px;
  animation: spin 1s linear infinite;
  position: fixed;
  left: calc(50% - 40px);
  top: calc(50% - 40px);
  z-index: 100;
}
.loader.hidden {
  display: none;
}
@keyframes spin {
  0% { stransform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



/* Dialogs */

.dialog.modal {
  position: fixed;
  background: white;
  width: 400px;
  left: calc(50% - 200px);
  top: 50%;
  box-sizing: border-box;
  padding: 1em;
  z-index: 100;
  border-radius: 3px;
  box-shadow: 0 0 100px #0000004d;
  border: solid 1px #bdbdbd;
}
.ui-dialog {
  border-color: #9c9c9c;
  border-radius: 1px;
}
.ui-dialog .ui-dialog-buttonpane button {
  padding: 0.5em 0.8em;
  background: #d8d8d8;
  color: #535353;
  font-size: 0.85em;
  font-weight: bold;
  border: solid 1px grey;
  letter-spacing: 0;
}
.ui-dialog .ui-dialog-titlebar-close {
  padding: 13px;
  box-sizing: content-box;
  top: 0;
  right: 0;
  margin: 0;
}



/* Calendar */


.fc table {
  margin: 0;
}
.fc table td {
  /*cursor: pointer;*/
}
.fc table tr {
  background: none;
}
.fc td,
.fc th {
  /*border-width: 0;*/
  border-color: #d4d4d4; /* rgba(0, 0, 0, 0.2); */
}
.fc td {
  text-align: center;
}
.fc .fc-widget-header th {
  font-size: 0.9em;
  font-weight: bold;
  padding: 0.4em 0;
}
.fc-month-view {
  background-color: white;
}
.fc .fc-row {
  margin-right: 0 !important;
}
.fc-row .fc-content-skeleton {
  /*z-index: -10;*/ /* So that is shows below the .fc-bg table cells */
}
.fc .fc-scroller {
  height: auto !important;
  max-height: 100vh;
}
.fc table .fc-day-top {
  /* background: RGBA(0, 0, 0, 0.1); */
  position: relative;
  z-index: 5;
}
.fc .fc-time {
  display: none;
}
.fc .fc-bg .fc-day.fc-past {
  background-color: rgba(0, 0, 0, 0.05);
}
.fc .fc-bg .fc-day p {
  margin: 24px 0 0 0;
  font-size: 0.9em;
}
.fc .fc-day-grid-event {
  font-weight: bold;
  color: inherit; /* rgba(255, 255, 255, 0.8); */
  padding: 0.2em 0.5em;
  margin-left: 1px;
  height: 60px;
  padding-top: 24px;
  margin-right: 3px;
}
.fc .fc-day-number {
  float: left !important;
  font-weight: bold !important;
  margin-left: 0.2em;
}
.fc .fc-bg .fc-day:hover,
.fc .fc-bg .fc-day:focus {
  background-color: none; /* rgba(30, 149, 188, 0.3); */ /* blue */
}
.fc-unthemed td.fc-today {
  /*background: rgba(105, 197, 255, 0.16);*/ /* pale blue */
  background: none;
}
.fc .fc-view-container {
  height: auto !important;
}


/* Make the events 100% height */
.fc-content-skeleton {
  height: 100%;
  padding: 0;
}
.fc-content-skeleton td {
  height: 100%;
}
.fc-content-skeleton > table,
.fc-content-skeleton > table > thead,
.fc-content-skeleton > table > tbody {
  display: block;
  height: 100%;
}
.fc-content-skeleton > table > thead > tr,
.fc-content-skeleton > table > tbody > tr {
  display: table;
  width: 100%;
  padding: 0;
  table-layout: fixed;
  height: 100%;
  border: none;
}
.fc-content-skeleton > table > thead {
  position: absolute; /* Added so that the events (in tbody) can be full-height. */
  width: 100%;
}
.fc-content-skeleton > table > thead > * {
  /*width: 100%;*/
  /*display: table;*/
}
.fc-content-skeleton > table > tbody {
  /*height: 100%;*/
}
.fc-day-grid-event {
  height: 100%; /* fallback */
  height: calc(100% - 1px);
  display: block;
  float: none;
  box-sizing: border-box;
  margin: 0;
}



/* Columns */
.cols-2 > * {
  float: left;
  clear: none;
  width: 50%;
  box-sizing: border-box;
}
.cols-2 > *:nth-child(1) {
  padding-right: 1em;
}
.cols-2 > *:nth-child(2) {
  padding-left: 1em;
}
.half-left,
.half-right {
  width: 50%;
  box-sizing: border-box;
}
.half-left {
  float: left;
  clear: left;
  padding-right: 20px;
}
.half-right {
  float: right;
  clear: right;
  padding-left: 20px;
}
.block-system-main-block ~ .block {
  padding-left: 20px;
  box-sizing: border-box;
  overflow: auto;
}