tr.total {
  border-top-style: double;
  border-top-width: 3px;
}
tr.total td:first-of-type {
  font-weight: bold;
}

@media all and (min-width: 850px) {
  #edit-costs ,
  #edit-costs-line-items {
    width: 49%;
    box-sizing: border-box;
  }
  #edit-costs {
    float: left;
  }
  #edit-costs-line-items {
    float: right;
  }
  #edit-costs-line-items ~ * {
    clear: both;
  }
}


input[type][is_valid] {
  background-repeat: no-repeat;
  background-position: right 7px center;
}
input[type][is_valid="loading"] {
  background-image: url('../images/loading-small.gif');
  background-color: rgba(96, 255, 0, 0.15);
}
input[type][is_valid="true"] {
  background-image: url('../images/check.svg');
  background-color: rgba(96, 255, 0, 0.2);
}
input[type][is_valid="false"] {
  background-image: url('../images/error.svg');
  background-color: rgba(255, 0, 0, 0.15);
}

input.align-right {
  margin-bottom: 0.5em;
  margin-left: 0.8em;
}
[class*="field--type-"] {
  max-width: 42em;
}