.dropzone.error {
  border: 2px solid red;
}

/* Make the image + preview area look like a link. */
.dz-image,
.dz-details, 
.dz-size,
.dz-size > span,
.dz-filename, 
.dz-filename > span {
  cursor: pointer !important;
}

/* Prevent preview images from getting cut off in the admin. */
.dropzone .dz-preview .dz-image img {
  height: 120px;
  width:120px;
  object-fit: cover;
}
