.field--name-help-image img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/* IE10-11 CSS styles */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE does not handle max-width within table cells. */
  /* See https://caniuse.com/#search=max-width */
  td .field--name-help-image img {
    width: 100%;
  }
}
