.folder__image {
  display: none;
  visibility: hidden;
  height: 0;
  width: 0;
}

.folder .js-form-item {
  display: inline-block;
}

.folder .js-form-item label {
  display: inline-block;
  overflow: hidden;
  clear: both;
  position: relative;
}

.image:checked + label .image__thumbnail {
  border: 2px solid #0074bd;
}

.image__thumbnail {
  display: block;
  overflow: hidden;
  clear: both;
  border: 2px solid transparent;
}
