{#
/**
 * @file
 * Theme implementation to display the site map.
 *
 * Available variables:
 * - message:
 * - rss_legend:
 * - site_map_items: A keyed array of site_map boxes. Various keys are as
 *   follows:
 *   - front
 *   - books
 *   - menus
 *   - vocabularies
 * - additional:
 *
 * @see template_preprocess()
 * @see template_preprocess_site_map()
 */
#}

<div id="site-map">
  {% if message %}
    <div class="site-map-message">
      {{ message }}
    </div>
  {% endif %}

  {% if rss_legend %}
    <div class="site-map-rss-legend">
      {{ rss_legend }}
    </div>
  {% endif %}

  {% if site_map_items %}
    {% for item in site_map_items %}
      {{ item }}
    {% endfor %}
  {% endif %}

  {% if additional %}
    <div class="site-map-additional">
      {{ additional }}
    </div>
  {% endif %}
</div>
