{#
/**
 * @file
 * Theme implementation to display a site map box.
 *
 * Available variables:
 * - title: The subject of the box.
 * - content: The content of the box.
 * - attributes:  Optional attributes for the box.
 * - options:  Options are set by site_map.helper service.
 *
 * @see template_preprocess()
 * @see template_preprocess_site_map_box()
 */
#}
<div{{ attributes.addClass('site-map-box') }}>
  {% if options.show_titles %}
    <h2>{{ title }}</h2>
  {% endif %}
  <div class="content">
    {{ content }}
  </div>
</div>
