.webform-container-inline div.jq-radio__div,
.webform-container-inline div.jq-checkbox__div,
.webform-container-inline div.jq-selectbox__select{
  display: block;
}

.jq-selectbox__dropdown ul, .jq-selectbox__dropdown ul li{
  margin: 0;
}
.jq-selectbox__dropdown ul{
  padding: 0;
}

.jq-checkbox, .jq-radio{
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
}