{#
/**
 * @file
 * Template for a mailchimp signup closable button.
 *
 * Available variables:
 * - mailing_list_description: Optional text that explains the destination of the mailing list.
 * - button_label: Call to action label.
 * - signup_form_url: The Mailchip mailing list signup form url.
 * - button_link: Button rendered as a link.
 */
#}
<div class="mailchimp-simple-signup__closable-button closable-button">
  {% if mailing_list_description %}
    {{ mailing_list_description }}
  {% endif %}
  {% if button_link %}
    {{ button_link }}
  {% endif %}
</div>
