/**
 * @file
 * Provides the layout styles for noughts_and_crosses.
 */

/* Start of Game Instructions CSS */
.noughts-and-crosses-board .game-rules .game-instructions ol, 
.noughts-and-crosses-board .game-rules .game-instructions ul {
  margin: 0;
  padding: 0 0 0.25em 1em;
}

.block-noughts-and-crosses-block .noughts-and-crosses-board .game-rules .game-instructions {
  width: 250px;
}

.noughts-and-crosses-board .game-rules {
  color: #0071B3;
  cursor: pointer;
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  margin-bottom: 10px;
}

.noughts-and-crosses-board .game-rules .game-instructions {
  visibility: hidden;
  width: 550px;
  background-color: grey;
  color: #fff;
  text-align: left;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

/* Show the Instructions on mouse over the container */
.game-rules:hover .game-instructions {
  visibility: visible;
}

/* End of Game Instructions CSS */

/* Start of Game Board CSS */
.noughts-and-crosses-board .board-wrap {
  width: 90px;
}

.noughts-and-crosses-board .board-wrap .form-item {
  float: left;
  width: 30px;
  height: 30px;
  margin: 0px;
  padding: 0px;
}

.noughts-and-crosses-board input.form-text {
  width: 30px;
  height: 30px;
  margin: 0px;
  padding: 0px;
  text-align: center;
  vertical-align: middle;
  line-height: 90px;
  color: transparent;
  text-shadow: 0 0 0 gray;
  &:focus {
    outline: none;
  }
}

.noughts-and-crosses-board .form-actions {  
  clear: left;
  margin: 0px;
  padding: 0px;
}

.noughts-and-crosses-board .form-submit {
  margin: 8px 8px 0px 0px;
  padding: 4px 10px;
}

.noughts-and-crosses-board input.error,
.noughts-and-crosses-board .form-item input.error {
  border: 1px solid red;
}

.noughts-and-crosses-board input.success,
.noughts-and-crosses-board .form-item input.success {
  border: 1px solid green;
}
/* End of Game Board CSS */

/* Start of Game Board Messages CSS */
.noughts-and-crosses-board .error-messages {
  background-image: url(../../../../core/misc/icons/e32700/error.svg);
  background-position: 9px 10px;
  background-repeat: no-repeat;
  background-color: #fcf4f2;
  box-shadow: -8px 0 0 #e62600;
  border: 1px solid;
  border-width: 1px 1px 1px 0;
  border-radius: 2px;
  border-color: #f9c9bf #f9c9bf #f9c9bf transparent;
  color: #a51b00;
  margin: 6px 0 6px 8px;
  padding: 8px 5px 9px 33px;  
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;  
  word-wrap: break-word;
  overflow-wrap: break-word;
  display: none;
}

.noughts-and-crosses-board .success-messages {
  background-image: url(../../../../core/misc/icons/73b355/check.svg);
  background-position: 9px 10px;
  background-repeat: no-repeat;
  background-color: #f3faef;
  box-shadow: -8px 0 0 #77b259;
  border: 1px solid;
  border-width: 1px 1px 1px 0;
  border-radius: 2px;
  border-color: #c9e1bd #c9e1bd #c9e1bd transparent;
  color: #325e1c;
  margin: 6px 0 6px 8px;
  padding: 8px 5px 9px 33px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  word-wrap: break-word;
  overflow-wrap: break-word;  
  display: none;
}

.noughts-and-crosses-board .error-messages .close-error {
  font-weight: bold;
  float: right;
  color: red;  
  cursor: pointer;
}
/* End of Game Board Messages CSS */

/* Start of Play Again Option CSS */
.noughts-and-crosses-board .play-again,
.noughts-and-crosses-board .play-again:hover,
.noughts-and-crosses-board .play-again:visited {
  color: #0071B3;
  float: left;
  cursor: pointer;
  display: none;
  margin-left: 10px;
}
/* End of Play Again Option CSS */

.noughts-and-crosses-board .form-item-first-move label:after {
	content: '';
  vertical-align: super;
  display: inline-block;    
  background-image: url(../../../../core/misc/icons/ee0000/required.svg);
  background-repeat: no-repeat;
  background-size: 6px 6px;
  width: 6px;
  height: 6px;
  margin: 0 0.3em;
}

.noughts-and-crosses-board .form-actions .back {
  margin-right: 5px;
}