.view.view-admin-bookings .view-content tbody tr .views-field-field-booking-status {
  font-weight: bold;
}

.status-Provisional .views-field-field-booking-status {
  color: red;
}
.status-Expired     .views-field-field-booking-status {
  color: grey;
}
.status-Confirmed   .views-field-field-booking-status {
  color: green;
}
.status-Cancelled   .views-field-field-booking-status {
  color: grey;
}
.status-Completed   .views-field-field-booking-status {
  color: black;
}