.elbow-room-link-wrapper {
  text-align: right;
  margin-bottom: 5px;
}

.elbow-room .layout-region-node-main {
  width: 100%;
  padding-right: 0;
}

.elbow-room .layout-region-node-secondary {
  display: none;
}
