/**
 * Fix ui dialog styles.
 */

.ui-dialog {}
.ui-dialog .ui-dialog-titlebar {
  padding-right: 1.5em;
  position: relative;
}
.ui-dialog .ui-dialog-titlebar-close {
  right: 14px;
  top: 56%;
}

#editor-image-dialog-form {}
#editor-image-dialog-form {
  font-size: 1rem;
}
#editor-image-dialog-form .form-radios label::after {
  content: none;
}
#editor-image-dialog-form select.form-select {
  height: auto !important;
}
