/**
 * @file
 * This file contains all Jumper basic stylings based on linkicon.module CSS.
 */

.jumper.jumper--block {
  border: 0;
  bottom: 0;
  box-sizing: border-box;
  display: block;
  font-size: 16px;
  font-size: 1rem;
  min-height: 62px;
  line-height: 1;
  padding: 8px;
  position: fixed;
  right: 15px;
  text-align: center;
  -ms-transition: background-color .4s ease-in-out .2s, transform .4s ease-in 0s;
  transition: background-color .4s ease-in-out .2s, transform .4s ease-in 0s;
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  width: 62px;
  z-index: 999;
}

/**
 * Background colors.
 */
.jumper--dark {
  background-color: #000;
  background-color: rgba(0, 0, 0, .8);
}

.jumper--grey {
  background-color: #808080;
  background-color: rgba(0, 0, 0, .4);
}

.jumper--purple {
  background-color: #662d91;
  background-color: rgba(102, 45, 145, .9);
}

.jumper--orange {
  background-color: #ef5400;
  background-color: rgba(239, 84, 0, .9);
}

.jumper--blue {
  background-color: #00aedb;
  background-color: rgba(0, 174, 219, .9);
}

.jumper--lime {
  background-color: #8ec127;
  background-color: rgba(142, 193, 39, .9);
}

.jumper--red {
  background-color: #d41243;
  background-color: rgba(212, 18, 67, .9);
}

.jumper.jumper--color {
  color: #fff;
}

.jumper.jumper--block:hover,
.jumper.jumper--block:active {
  background-color: #b7b7b7;
  background-color: rgba(183, 183, 183, .9);
  border: 0;
  color: #fff;
}

/**
 * Shapes.
 */
.jumper--round {
  border-radius: 50%;
}

.jumper--round-2 {
  border-radius: 2px 2px 0 0;
}

.jumper--round-8 {
  border-radius: 8px 8px 0 0;
}

.jumper--round-12 {
  border-radius: 12px 12px 0 0;
}

/**
 * Texts.
 */
.jumper.jumper--no-text {
  font-size: 0;
  text-indent: -9999px;
}

/** Sensible alts: 2324 2303 21EA 2191 */
.jumper.jumper--block::before {
  content: '\2324';
  display: block;
  font-size: 32px;
  font-size: 2rem;
  line-height: 32px;
  margin: 0 auto 6px;
  speak: none;
  text-indent: 0;
}

.jumper--no-text.jumper--block::before {
  font-size: 44px;
  font-size: 2.75rem;
  line-height: 44px;
  margin: 0 auto;
}

/**
 * Visibility.
 */
.is-jumper-visible .jumper--block {
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.is-jumper-visible .jumper--round {
  bottom: 15px;
}
