.extended-label .form-required:after {
  display:none;
}
.extended-label .extended-required {
  content: '';
  vertical-align: super;
  display: inline-block;
  background-image: url(../../../../core/misc/icons/ee0000/required.svg);
  background-repeat: no-repeat;
  background-size: 6px 6px;
  width: 6px;
  height: 6px;
  margin: 0 0.3em;
}
