fieldset:not(.fieldgroup).edit-in-place-clickable {
  border-radius: 10px;
  padding: 20px 0px 0px;
  min-height: 9px;
}

fieldset:not(.fieldgroup) form {
  padding: 0 10px;
}

fieldset:not(.fieldgroup).edit-in-place-clickable legend {
  bottom: 0;
  right: 5px;
  top: 5px;
  text-transform: none;
  cursor: pointer;
}

fieldset:not(.fieldgroup).edit-in-place-clickable-init  legend + .fieldset-wrapper .form-item {
  display: none;
}

fieldset:not(.fieldgroup).edit-in-place-clickable .fieldgroup input {
  float: right;
}

fieldset:not(.edit-in-place-clickable-init) .fieldset-wrapper .entity-label {
  display: none;
}

fieldset:not(.fieldgroup).edit-in-place-clickable .entity-label {
  width: 300px;
}

fieldset:not(.fieldgroup).edit-in-place-clickable .entity-label ul {
  margin: 0;
}

fieldset:not(.fieldgroup).edit-in-place-clickable .entity-label .edit-in-place--group:not(.last-group) {
  border-bottom: 1px dashed;
}

.form-type-edit-in-place-select .form-select.edit-in-place,
.form-type-edit-in-place-select .chosen-container {
  max-width: 500px;
}
