{{ attach_library('zurb_video_field/main-config') }}
{% if url %}
{# Show the item inside a responsive-embed container#}
<div class="responsive-embed widescreen">
  <iframe width="560" height="315" src="{{ url }}" frameborder="0" allowfullscreen></iframe>
</div>
{% endif %}