{#
/**
 * @file
 * Contains the text of the field_permission_example explanation/description page
 *
 * Available variables:
 * - form: the signature form.
 * - expire: the expiration date
 */
#}

<div id='sign_for_acknowledgement_checkbox'>
{{form}}
</div>
{% if expire != '---' %}
<div><em>
{% trans %}You could sign within:{% endtrans %} {{expire}}
</em></div>
{% endif %}
