{#
/**
 * @file
 * Contains the text of the field_permission_example explanation/description page
 *
 * Available variables:
 * - form: the signature form.
 */
#}

<div id='sign_for_acknowledgement_filters'>
{{form}}
</div>
