api = 2
core = 8.x

libraries[leaflet_markercluster][download][type] = "git"
libraries[leaflet_markercluster][download][url] = "https://github.com/Leaflet/Leaflet.markercluster.git"
libraries[leaflet_markercluster][download][revision] = "v0.4.0-hotfix.1"
libraries[leaflet_markercluster][destination] = "libraries"

