.flex-grid {
  clear: both;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: -1.75439%;
  margin-right: -1.75439%;
}

.no-flexbox .flex-grid {
  overflow: hidden;
}

.flex-grid__col,
.flex-grid__full-col,
.flex-grid__fluid-col,
.flex-grid__4-grid-col,
.flex-grid__3-grid-col,
.flex-grid__2-grid-col {
  margin-left: 1.75439%;
  margin-right: 1.75439%;
  -webkit-flex: 0 0 96.49123%;
      -ms-flex: 0 0 96.49123%;
          flex: 0 0 96.49123%;
  width: 96.49123%;
}

.no-flexbox .flex-grid__col,
.no-flexbox .flex-grid__full-col,
.no-flexbox .flex-grid__fluid-col,
.no-flexbox .flex-grid__4-grid-col,
.no-flexbox .flex-grid__3-grid-col,
.no-flexbox .flex-grid__2-grid-col {
  float: left;
}

.flex-grid__clear-before:before, .flex-grid__clear-after:after {
  content: '';
  -webkit-flex: 0 0 96.49123%;
      -ms-flex: 0 0 96.49123%;
          flex: 0 0 96.49123%;
  width: 96.49123%;
  clear: both;
}

.flex-grid__full-col {
  clear: both;
}

@media screen and (min-width: 40em) {
  .flex-grid__fluid-col {
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

@media screen and (min-width: 25.875em) {
  .flex-grid__4-grid-col {
    -webkit-flex: 0 0 46.49123%;
        -ms-flex: 0 0 46.49123%;
            flex: 0 0 46.49123%;
    width: 46.49123%;
  }
}

@media screen and (min-width: 40em) {
  .flex-grid__4-grid-col {
    -webkit-flex: 0 0 21.49123%;
        -ms-flex: 0 0 21.49123%;
            flex: 0 0 21.49123%;
    width: 21.49123%;
  }
}

@media screen and (min-width: 40em) {
  .flex-grid__3-grid-col {
    -webkit-flex: 0 0 29.82456%;
        -ms-flex: 0 0 29.82456%;
            flex: 0 0 29.82456%;
    width: 29.82456%;
  }
}

@media screen and (min-width: 40em) {
  .flex-grid__2-grid-col {
    -webkit-flex: 0 0 46.49123%;
        -ms-flex: 0 0 46.49123%;
            flex: 0 0 46.49123%;
    width: 46.49123%;
  }
}
