/*General styling*/
.conditional-message {
  width: 100%;
  height: 30px;
  line-height: 30px;
  margin: 0;
  text-align: center;
}
/*Message at the top*/
.conditional-message-top {
  top: 0;
}
/*Message at the bottom*/
.conditional-message-bottom {
}
/* Close button */
.conditional-message span {
  font-family: sans-serif;
  float: right;
  width: 10px;
  cursor: pointer;
  margin: 0 10px;
}
