.float-labels-wrapper {
  display: flex;
  font-size: 1em;
}

.float-labels-wrapper .float-labels-label {
  font-size: inherit;
  font-weight: 400;
  opacity: 0.6;
  pointer-events: none;
  position: absolute;
  transform: translate3d(0, 0.5em, 0) scale(1);
  transform-origin: left top;
  transition: 240ms;
  padding-left: 0.5em;
  padding-top: 0.1em;
}
.float-labels-wrapper.float-labels-focused .float-labels-label {
  opacity: 1;
  transform: scale(0.7);
  padding-left: 0.8em;
  padding-top: 0.15em;
}
.float-labels-wrapper.float-labels-required.float-labels-star .float-labels-label:after {
  content: "*";
}

.float-labels-wrapper .float-labels-item:not(.form-select) {
  align-self: flex-end;
  font-size: inherit;
  padding: 1em 0.5em 0.25em;
}
.float-labels-wrapper .float-labels-item:not(.form-select)::-webkit-input-placeholder {
  color: transparent;
  transition: 240ms;
}
.float-labels-wrapper .float-labels-item:not(.form-select):focus::-webkit-input-placeholder {
  transition: none;
}
.float-labels-wrapper.float-labels-focused .float-labels-item:not(.form-select)::-webkit-input-placeholder {
  color: #bbb;
}
