{#
/**
 * @file resources.html.twig
 * Default theme implementation to present Resources data.
 *
 * This template is used when viewing Resources pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_resources()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('resources') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
