{% if title %}
    <h3>{{ title }}</h3>
{% endif %}

{% if description %}
    <p>{{ description }}</p>
{% endif %}

{% if code %}
    <pre style="border:1px solid silver;padding:4px;height:{{ (code_height) ? code_height : 100 }}px;overflow:auto;">{{ code }}</pre>
{% endif %}
