/**
 * @file
 * Vimeo upload form styling.
 */

.vimeo-upload__group {
  display: none;
}

.vimeo-upload__drop-zone,
.vimeo-upload .form-textarea,
.vimeo-upload .form-text {
  max-width: 30rem;
  width: 100%;
}

.vimeo-upload__drop-zone {
  align-items: center;
  border-radius: 5px;
  border: 2px dashed #bbb;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  min-height: 140px;
  padding: 1em;
  text-align: center;
  transition: all 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.vimeo-upload__drop-zone-text-uploading {
  display: none;
  width: 50%;
}

.vimeo-upload__url {
  display: flex;
}

.vimeo-upload__url .form-text {
  flex: 1;
}

.vimeo-upload .alert p {
  margin-top: 0;
}

/* States */

.vimeo-upload__group.is-visible {
  display: block;
  animation: fadeIn 400ms;
}

.vimeo-upload__drop-zone.is-hovered {
  border-color: blue;
  color: blue;
}

/* Avoid firing events when :hovering children. */
.vimeo-upload__drop-zone.is-hovered * {
  pointer-events: none;
}

.is-done .vimeo-upload__drop-zone-text-drop,
.is-uploading .vimeo-upload__drop-zone-text-drop,
.is-hovered .vimeo-upload__drop-zone-text-drop {
  display: none;
}

.vimeo-upload__drop-zone-text-hover,
.vimeo-upload__drop-zone-text-uploading,
.vimeo-upload__drop-zone-text-done {
  display: none;
}

.is-uploading .vimeo-upload__drop-zone-text-uploading,
.is-done .vimeo-upload__drop-zone-text-done,
.is-hovered .vimeo-upload__drop-zone-text-hover {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
