.cloudwords-create-project {
  /*float: right !important;*/
}

.cloudwords-create-project .cloudwords-item-count {
  display: block;
  margin-top: -12px;
  margin-left: 12px;
}

#edit-translation-exists {
  width: 110px;
}

#edit-status {
  width: 140px;
}

.vbo-views-form fieldset {
  padding: 1.1em 0 0 0;
}

#edit-uid {
  width: 103px;
}

#edit-project-details-metadata-cancel {
  float: right;
}


.cloudwords-button {
  font-family: “Helvetica Neue”, “Open Sans”, Helvetica, Arial, sans-serif;
  color: #ffffff;
  background-color: #f7aa00;
  border-radius: 3px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
  padding: 8px 20px;
  font-size: 15px;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
  text-decoration: none!important;
  margin-bottom: 2px;
  display: inline-block;
}
.cloudwords-button:hover, .cloudwords-button:active {
  text-decoration: none;
}
.cloudwords-button::after {
  content:'';
  text-indent: -99999px;
  display:inline-block;
  background: url(../images/cloudwords-white-icon-2clr-24.svg) top left no-repeat;
  width: 20px;
  height: 20px;
  margin: 0px -5px -5px 7px;
}