{% for subfield, subitem in item %}
  {% if subitem %}
    <div class="quadruple-field-{{ subfield }}">
      {% if settings[subfield].prefix %}
        <span class="quadruple-field-prefix">{{ settings[subfield].prefix }}</span>
      {% endif %}
      {{ subitem }}
      {% if settings[subfield].suffix %}
        <span class="quadruple-field-suffix">{{ settings[subfield].suffix }}</span>
      {% endif %}
    </div>
  {% endif %}
{% endfor %}
