/* Font */
@font-face {
  font-family: 'sm-font';
  src: url('../fonts/sm-font.eot?h1q1sb');
  src: url('../fonts/sm-font.eot?h1q1sb#iefix') format('embedded-opentype'), url('../fonts/sm-font.ttf?h1q1sb') format('truetype'), url('../fonts/sm-font.woff?h1q1sb') format('woff'), url('../fonts/sm-font.svg?h1q1sb#sm-font') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Icon */
[class^="sm-icon-"],
[class*=" sm-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sm-font' !important;
  position: relative;
  top: 1px;
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.sm-icon-less:before {
  content: "\f41d";
  font-size: 25px;
}
.sm-icon-sass:before {
  content: "\f41e";
}
.sm-icon-add:before {
  content: "\f055";
}
.sm-icon-edit:before {
  content: "\e907";
}
.sm-icon-file:before {
  content: "\e926";
}
.sm-icon-database:before {
  content: "\e964";
}
.sm-icon-config:before {
  content: "\e982";
}
.sm-icon-overrided:before {
  content: "\e995";
}
.sm-icon-remove:before {
  content: "\e9ad";
}
.sm-icon-save:before {
  content: "\ea10";
  color: green;
}
.sm-icon-cancel:before {
  content: "\ea0f";
  color: red;
}
.sm-icon-warning:before {
  content: "\ea07";
}
.js-variables-editor-wrapper {
  margin-top: 0px;
}
.js-variables-editor-wrapper .js-live-editor {
  position: relative;
  border: solid 1px #d3d8db;
  background-color: #ffffff;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.js-variables-editor-wrapper .legend-wrapper {
  display: block;
  padding: 10px 0;
}
.js-variables-editor-wrapper .legend-wrapper .legend {
  margin-left: 0;
  padding-left: 0;
}
.js-variables-editor-wrapper .legend-wrapper .legend li {
  list-style-type: none;
  display: inline-block;
  padding-right: 20px;
}
.js-variables-editor-wrapper .legend-wrapper .legend li i {
  display: table-cell;
  vertical-align: middle;
  font-size: 20px;
}
.js-variables-editor-wrapper .legend-wrapper .legend li span {
  display: table-cell;
  vertical-align: middle;
  padding: 0 20px 0 10px;
}
.js-variables-editor-wrapper .js-button {
  cursor: pointer;
}
.js-live-editor .sm-pull-right {
  float: right;
}
.js-live-editor .sm-header {
  display: table-row;
}
.js-live-editor .sm-header > div {
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #555555;
  display: inline-block;
  padding: 7px;
  height: 32px;
}
.js-live-editor .sm-header .sm-header-actions {
  line-height: 0;
  position: absolute;
  right: 0;
  padding: 0;
  float: left;
}
.js-live-editor .sm-header .sm-header-actions i {
  padding-left: 10px;
  height: 47px;
  top: 0;
  font-size: 20px;
  padding-right: 10px;
  color: #cccccc;
  border-left: solid 1px #eee;
}
.js-live-editor .sm-header .sm-header-actions i:before {
  top: 11px;
  position: relative;
}
.js-live-editor .sm-body {
  padding-top: 15px;
  border-top: 1px solid #eee;
  width: 100%;
}
.js-live-editor .sm-body tr.header {
  background-color: #fafafa;
}
.js-live-editor .sm-body i {
  font-size: 20px;
}
.js-live-editor .sm-body .sm-list-inline {
  margin-left: 0;
  padding-left: 0;
  display: inline;
}
.js-live-editor .sm-body .sm-list-inline li {
  vertical-align: middle;
  display: inline-block;
  list-style-type: none;
}
.js-live-editor .sm-body .item {
  width: 100%;
}
.js-live-editor .sm-body .item > div {
  display: inline-block;
}
.js-live-editor .sm-body .item .sm-list-inline {
  margin-left: 0;
  padding-left: 0;
}
.js-live-editor .sm-body .item .sm-list-inline li {
  vertical-align: middle;
  display: inline-block;
  list-style-type: none;
}
.js-live-editor .sm-body table .no-data td {
  text-align: center;
}
.js-live-editor .sm-body table .config .js-button {
  font-size: 17px;
  padding: 0 5px;
}
.js-live-editor .sm-body table .config.unsaved {
  background-color: #fffbdd;
}
.js-live-editor .sm-body table .config.unsaved:before {
  font-family: 'sm-font' !important;
  content: "\ea07";
  margin-right: 10px;
}
