{#

/**
 * @file
 * Template file returns HTML for Commerce Reports Visualization.
 *
 * @param $chart
 * @param $chart_attributes
 *
 * @return
 *   The chart div.
 */

#}
<div {{ chart_attributes }}>{{ chart }}</div>
