.mytube {
  position: relative;
  line-height: 0;
}

.mytubetrigger {
  overflow: hidden;
}

.mytubeembedcode {
  display: none;
}

.mytube .mytubethumb {
  cursor: pointer;
}

.mytube .mytubethumb.mytubeactivated {
  cursor: default;
}

.mytube img.mytubeplay {
  position: absolute;
  cursor: pointer;
  top: 90px;
  left: 135px;
  width: 60px;
  height: 65px;
  z-index: 5;
}

.mytube .mytubetext {
  font-size: 10px;
  line-height: 10px;
  margin-top: 3px;
}

abbr.mytubehelp {
  cursor: help;
}

#mytubedemodiv {
  position: relative;
  width: 320px;
}

#mytubedemoplay {
  top: 90px;
  left: 130px;
  position: absolute;
  width: 60px;
  height: 65px;
  z-index: 5;
}

#mytubedemotext {
  font-size: 10px;
  line-height: 10px;
}
