{#
/**
 * @file
 * Template for the mail to the customer who did not finish their order.
 *
 * Available variables:
 * - order: The order entity.
 * - order_number: The order number.
 * - site_name: The name of the website.
 * - phone: The customer service phone number, configured on the abandoned carts
 *   settings page.
 *
 * @ingroup themeable
 */
#}
Dear valued customer,<br />

<p>This is a reminder that your order (#{{ order_number }}) at {{ site_name }} is incomplete. Please note that your credit card has <strong>not</strong> been charged.</p>
<p>You may return to the website to complete your order at any time.</p>

{% if phone %}
  <p>If you've experienced any trouble with your checkout, or if you have any questions, please call us at: {{ phone }}</p>
{% else %}
  <p>If you've experienced any trouble with your checkout, or if you have any questions, please contact us for assistance.</p>
{% endif %}
<br />

Sincerely,<br />
<br />
{{ site_name }} Customer Service<br />
