{#
/**
 * @file
 * Default theme implementation to display a two-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{%
set classes = [
'layout',
'layout--hero',
]
%}
<div{{ attributes.addClass(classes) }}>
    {% if not settings.full_width %}
    <div class="layout--container">
    {% endif %}
    <div{{ hero_attributes }}>
    </div>
    {% if not settings.full_width %}
    </div>
    {% endif %}
</div>
