{#
/**
 * @file rokka_metadata.html.twig
 * Default theme implementation to present Rokka Metadata data.
 *
 * This template is used when viewing Rokka Metadata pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_rokka_metadata()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('rokka_metadata') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
