{%
  set status_classes = [
    entity.status == constant('Drupal\\webfactory_slave\\EntitySyncWrapper::UPDATED') ? 'webfactory-updated',
    entity.status == constant('Drupal\\webfactory_slave\\EntitySyncWrapper::NEEDS_UPDATE') ? 'webfactory-need-update',
    entity.status == constant('Drupal\\webfactory_slave\\EntitySyncWrapper::NEW_ENTITY') ? 'webfactory-new',
    entity.status == constant('Drupal\\webfactory_slave\\EntitySyncWrapper::MODIFIED_LOCALLY') ? 'webfactory-need-update'
  ]
%}
<span {{ attributes.addClass(status_classes) }}>{{ entity.status_label }}</span>
