{#
/**
 * @file
 * Theme implementation to display a Leaflet map.
 *
 * @see leaflet-map.html.twig
 *
 * Available variables:
 * - map_id
 * - height
 * - checkboxes
 *
 * @ingroup themeable
 *
 */
#}
<div id="{{ map_id }}" style="min-width: 150px; height: {{ height }}"></div>
{% if checkboxes %}
  <div class="entity-browser-checkboxes" style="display: none;">
    {% for checkbox in checkboxes %}
      {{ checkbox }}
    {% endfor %}
  </div>
{% endif %}
