form.stripe-processing .form-submit {
  animation: throb .25s;
  animation-iteration-count: infinite;
}

form.stripe-processing .form-submit,
form.stripe-processing .form-submit:hover,
form.stripe-processing .form-submit:focus {
  background: #C04D64;
  color: #fff;
}

@keyframes throb {
  0% {
    transform: scale(1)
  }
  50% {
    transform: scale(1.1)
  }
  100% {
    transform: scale(1)
  }
}
