@CHARSET "ISO-8859-1";

.draggables-collapser {
  width: 20px;
  cursor: pointer;
  float: left;
  margin: 0 5px 0;
}

.draggables-collapser.state-has-no-children {
  visibility: hidden;
}

.draggables-collapser:after {
  font-size: 20px;
  font-family: monospace;
}

.draggables-collapser.state-expanded:after {
  content: '\25BC';
}

.draggables-collapser.state-collapsed:after {
  content: '\25BA';
}

.collapsible-dnd--hidden-td * {
  display: none;
}

.collapsible-dnd--hidden-td {
  padding: 0px; display: none;
}