language: php
dist: trusty

sudo: false

php:
  - 5.6
  - 7.0
  - 7.1

matrix:
  fast_finish: true
  allow_failures:
    - php: 5.6
    - php: 7.0

cache:
  directories:
    - $HOME/.cache
    - $HOME/.composer/cache

mysql:
  database: drupal_travis_db
  username: root
  encoding: utf8

before_install:
  - echo 'sendmail_path="$(which true)"' >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini
  # Travis automatically CDs into mobomo/media_webdam
  - cd ../../
  - git clone https://github.com/mobomo/media_webdam_dev
  - cd media_webdam_dev

install:
  - make dependencies
  - rm -r ./modules/contrib/media_webdam/*
  - mv $TRAVIS_BUILD_DIR/* ./modules/contrib/media_webdam/
  - make travis-install-site

script:
  - make test-unit
  - make travis-test-browser

after_script:
  - if [ "${TRAVIS_PHP_VERSION}" == "7.0" ]; then make report-coverage; fi;

notifications:
  slack: mobomo:IUUkblgpWtwuJjnYcBo3a2nN
  email: false
