<div id="registerlogin">
    <p>First time user? <a href="#"  data-ae-register-window="true">Sign Up</a></p>
    <p>Existing User? <a href="#" data-ae-login-window="true">Log In</a></p>
</div>

<div id="greetUser" style="display: none;">
    Welcome, <span id="loggedInUser"></span>. <a href="#" data-ae-logout-link="true" class="btn btn-danger">LOGOUT</a>
</div>
