<div class="accordion_blocks_container">
{% for block in blocks %}
    <h2 class="accordion-title"><a href="#">
            {{ block.title }}
    </a></h2>
    <div class="accordion-block-content">
      {{ block.content }}
    </div>
    
{% endfor %}
</div>