<div class="login-ajax-block">
    <ul class="login-ajax-block__list">
        {% for link in links %}
            {% if output_type == 'default' %}
                <li class="login-ajax-block__list-item">{{ link }}</li>
            {% else %}
                <li class="login-ajax-block__list-item" style="display:inline;">{{ link }}</li>
            {% endif %}
        {% endfor %}
    </ul>
</div>