<div class="login-ajax-link">
    <ul class="login-ajax-link__list">
        {% for link in links %}
            <li class="login-ajax-link__list-item">{{ link }}</li>
        {% endfor %}
    </ul>
</div>