{#
/**
 * @file
 * Default theme implementation to display entities labels.
 *
 * Available variables:
 * - labels: labels extracted from entities.
 * - entities: entities to be displayed.
 * - entity_type: type of the entity which host the updated field
 * - field_name: name of the field to be updated
 * - entity_id: id of the entity which host the updated field
 * - lang_code: current lang_code of the entity which host the updated field
 */
#}
<div class="entity-label" >
    {% for entities_group in entities %}
        <div class="edit-in-place--group {{ loop.first?'first-group' }} {{ loop.last?'last-group' }}" >
            <ul>
            {% for label in entities_group.labels %}
                <li>{{ label }}</li>
            {% endfor %}
            </ul>
        </div>
    {% endfor %}
</div>