<div class="field-p-menu-overview__item field-p-menu-overview__item--p-017">
    <div class="field-p-menu-overview__item__visual field-p-menu-overview__item__visual--p-017">
        {{ image }}
    </div>
    <div class="field-p-menu-overview__item__content field-p-menu-overview__item__content--p-017">
        <h3 class="field-p-menu-overview__item__title field-p-menu-overview__item__title--p-017">{{ title }}</h3>
        <div class="field-p-menu-overview__item__description field-p-menu-overview__item__description--p-017">{{ description }}</div>
    </div>
    <div class="field-p-menu-overview__item__link field-p-menu-overview__item__link--p-017">
        {{ link }}
    </div>
</div>
