
{#
/**
 * @file
 * Implementation to display apiNG Social Wall.
 *
 */
#}

<div data-ng-app="drupalApp">
  <div ng-controller="SocialWall">
    <div class="social-wall container-flouid">
      <aping
        template-url="/{{ modulepath }}/templates/social_template.html"
        items="3"
        model="social"
        order-by="timestamp"
        order-reverse="true"
        aping-youtube="[{'channelId':'UCG7bFLGTZ51oD2OfmQWp_2Q'}]"
        aping-instagram="[{'userId':'20724708', 'items':2}]"
        aping-facebook="[{'page':'BreakingBad'}]"
        aping-codebird="[{'user':'adidas', 'showAvatar':false}]"
        aping-flickr="[{'tags':'münchen'}]"
        aping-dailymotion="[{'userId':'electropose'}]"
        aping-tumblr="[{'page':'davidhinga'}]"
        aping-rss="[{'path':'http://blog.hackerearth.com/feed'}]"
        aping-vimeo="[{'channel':'worldhd'}]">
      </aping>
    </div>
  </div>
</div>
