{#
/**
 * @file instagram_picture_entity.html.twig
 * Default theme implementation to present Instagram Picture Entity data.
 *
 * This template is used when viewing Instagram Picture Entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_instagram_picture_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('instagram_picture_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
