<nav class="pager" role="navigation" aria-labelledby="pagination-heading">
    <ul class="pager__items js-pager__items">
        {% if pager_data.prev_url is not empty %}
            <li class="pager__item pager__item--previous">
                <a href="{{ pager_data.prev_url }}" title="Go to previous page" rel="prev">
                    <span class="visually-hidden">{% trans %} Previous page {% endtrans %}</span>
                    <span aria-hidden="true">‹ {% trans %} Previous {% endtrans %}</span>
                </a>
            </li>
        {% endif %}
        <li class="pager__item is-active">{% trans %} Page {{ pager_data.page }} {% endtrans %}</li>
        {% if pager_data.next_url is not empty %}
            <li class="pager__item pager__item--next">
                <a href="{{ pager_data.next_url }}" title="Go to next page" rel="next">
                    <span class="visually-hidden">{% trans %} Next page {% endtrans %}</span>
                    <span aria-hidden="true">{% trans %} Next {% endtrans %} ›</span>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>
