<p>This module provides an interface to easily integrate with various affiliate
APIs or product advertising APIs provided by different ecommerce platforms like
Flipkart, Amazon, Ebay etc to fetch data easily from their stores and display
those to monetize your website by advertising their products.</p>