amp-sidebar {
  padding-left: 20px;
  width: 300px;
  position: relative;
}
.sidebar-close {
  height: 25px;
  cursor: pointer;
  background-image: url(/core/misc/icons/bebebe/ex.svg);
  background-repeat: no-repeat;
  background-position: 250px 10px;
}
.sidebar-toggle-left {
  height: 15px;
  width: 15px;
  cursor: pointer;
  background-image: url(/core/misc/icons/bebebe/hamburger.svg);
  background-repeat: no-repeat;
  background-size: auto;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
}
