#tb-body {
  height: 125px;
  font: 12px Helvetica Neue, Arial, Verdana, sans-serif;
}
#tb-manage-body {
  font: 11px Helvetica Neue, Arial, Verdana, sans-serif;
  background: none;
  margin: 6px 0;
}

.manage-bookmarks-table td {
  width: 1em;
  text-align: center;
}

.manage-bookmarks-table td.tb-manage-name {
  width: 20em;
  text-align: left;
  padding-left: 2px;
}

.manage-bookmarks-table {
  width: 100%;
}

.manage-bookmarks-table form {
  margin: 0;
}

#tb-manage-body .sortable {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

#tb-manage-body .sortable li {
  margin: 0 3px 3px 3px;
  padding: 0.4em 0.4em 0.4em 1.5em;
  font-size: 11px;
}

#tb-manage-body .sortable li input {
  margin: 0;
  padding: 0;
  border: 0;
}

#tb-manage-body .sortable li.ui-sortable-helper:hover {
  cursor: move;
}

#tb-manage-body .sortable li:hover {
  cursor: pointer;
}

#tb-manage-body .sortable li span {
  position: absolute;
  margin-left: -1.3em;
}
