{#
/**
 * @file stripe_plan.html.twig
 * Default theme implementation to present Stripe plan data.
 *
 * This template is used when viewing Stripe plan pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_stripe_plan()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('stripe_plan') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
