/**
 * @file
 * Edit and add form (and page) design.
 */

form.abtestui-test {
  width: 1200px;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: $tooltip-link-color;

  #edit-back {
    padding: 0 $edit-page-padding 0 $edit-page-padding + 5px;
    position: relative;
    margin-top: 23px;

    a {
      color: $normal-link-color;

      &:before {
        content: "\2039";
        position: relative;
        left: -4px;
        top: 0;
      }
    }
  }

  label {
    font-weight: normal;
  }

  input, select {
    border: 2px solid $input-border-color;
    background-color: $input-bg-color;
  }

  .form-item-test-id {
    float: left;
    width: 200px;
    padding-left: $edit-page-padding;
    padding-top: 4px;

    label {
      margin-right: 10px;
      float: left;
      padding-top: 2px;
    }
  }

  .form-item-name {
    clear: both;
    float: left;
    width: $name-container-width;
    padding-left: $edit-page-padding;
    background-color: $first-row-bg-color-edit;

    label {
      margin-top: 20px;
    }

    input {
      width: 264px;
      font-size: 20px;
      font-weight: bold;
      margin: 15px 0 20px 0;
      padding: 6px 14px;
      height: 51px;
      color: black;
    }
  }

  .form-item-analytics-url {
    float: right;
    width: 655px;
    padding-right: $edit-page-padding;

    label {
      float: left;
      padding-top: 5px;
    }

    input {
      float: right;
      width: 498px;
      padding: 6px 14px;
      font-size: 11px;
    }
  }

  #variations-fieldgroup-wrapper {
    float: right;
    width: calc(100% - #{$name-container-width} - #{$edit-page-padding} * 2);
    padding-right: $edit-page-padding;
  }

  #variations-fieldgroup-wrapper > fieldset {
    margin-bottom: 40px;

    > legend {
      font-weight: normal;
      font-size: 14px;
      padding: 22px 0 3px 20px;
      background-color: $first-row-bg-color-edit;
      width: 100%;
      text-transform: none;
    }
  }

  fieldset div {
    #variation-delta-0-fieldgroup-wrapper {
      background-color: $first-row-bg-color-edit;
      margin-right: -20px;
      font-weight: bold;
    }

    > fieldset.fieldgroup {
      clear: both;
      padding-bottom: 9px;
      padding-top: 22px;
      margin-bottom: 0;
      margin-top: 0;
      height: 51px;

      .fieldset-wrapper {
        .form-item {
          margin: 0;

          // Delta.
          &:nth-of-type(1) {
            float: left;
            padding: 5px 10px;
            border-radius: 4px;
            background-color: rgb(154, 171, 186);
            margin-top: 1px;
            margin-right: 9px;
            margin-left: 9px;
            min-width: 10px;
            text-align: center;
            color: rgb(255, 255, 255);
            font-weight: normal;
          }

          // Name.
          &:nth-of-type(2) {
            float: left;
            width: 217px;
            margin-right: 25px;
            text-transform: uppercase;

            input {
              color: $input-color;
              padding: 6px 14px;
              text-transform: uppercase;
              font-size: 12px;
              height: 34px;
            }
          }
          &.form-item-variations-fieldgroup-variations-base-name {
            position: relative;
            margin-top: 6px;
            margin-left: 15px;
            width: 202px;
            color: rgb(0, 0, 0);
            font-size: 18px;

            img {
              position: absolute;
              margin-left: 5px;
            }
          }

          // Url.
          &:nth-of-type(3) {
            float: left;
            width: 429px;
            margin-right: 14px;
            position: relative;

            input {
              width: 100%;
              color: $input-color;
              padding: 6px 14px;
              font-size: 12px;
              height: 34px;
            }
          }
          &.form-item-variations-fieldgroup-variations-base-url input {
            color: black;
          }

          // Odd.
          &:nth-of-type(4) {
            float: left;
            margin-right: 5px;

            input {
              float: left;
              width: 50px;
              padding-top: 6px;
              padding-bottom: 6px;
              font-size: 12px;
              color: $input-color;
              height: 34px;
            }
          }
          &.form-item-variations-fieldgroup-variations-base-odd input {
            color: black;
          }

          &.percent {
            float: left;
            margin-top: 7px;
            margin-right: 15px;
          }
        }

        .button.remove-variation {
          border: transparent;
          text-indent: 100px;
          overflow: hidden;
          width: 26px;
          float: right;
          padding: 0;
          box-shadow: none;
          clear: none;
          background: transparent url(../img/delete.svg) no-repeat center center;
          background-size: 26px;
          margin: 2px 20px 0 0;
        }
      }
    }

    > .form-submit {
      clear: both;
      padding: 0 22px;
      border: none;
      background: $add-button-bg-color none;
      height: 30px;
      color: rgba(255, 255, 255, 0.84);
      margin-left: 10px;
      font-weight: normal;
      margin-top: 15px;
      font-size: 12px;
    }
  }

  .form-item-created,
  .form-item-active {
    clear: both;
    background-color: $create-status-bg-color;
    padding: 12px $edit-page-padding;
    margin: 0;

    label {
      width: 60px;
      float: left;
    }
  }

  .form-item-active {
    label {
      padding-top: 7px;
    }

    select {
      height: 33px;
      padding: 6px 14px;
      background-color: $input-bg-color;
    }
  }

  #edit-actions {
    clear: both;
    padding-left: $edit-page-padding;
    margin-top: 38px;

    .form-submit {
      background: $edit-buttons-bg-color none;
      border: none;
      height: 44px;
      color: rgba(255, 255, 255, 0.84);
      margin: 0 15px 0 0;
      border-radius: 15px;
      font-size: 18px;

      &:first-of-type {
        background-color: $edit-buttons-save-bg-color;
        text-transform: uppercase;
      }
    }
  }
}
