/**
 * @file
 * Info bar alias 'header'.
 */

.info-bar {
  margin-top: 30px;
  padding: 0 20px 20px;
  border-bottom: 1px solid rgb(227, 236, 244);
  font-size: 12px;

  h2 {
    width: 350px;
    font-size: 36px;
    display: inline-block;
    color: $h2-color;
    font-weight: 200;
  }

  .ga-info {
    color: $text-color-main;
    float: right;
    position: relative;
    top: 18px;
  }

  .ga-check-results {
    float: right;
    margin-left: 35px;
    padding-left: 25px;
    position: relative;
    display: inline-block;
    top: 18px;

    a {
      color: $tooltip-link-color;
      text-decoration: underline;

      &:before {
        content: "";
        background: url(../img/help.svg) center center;
        position: absolute;
        left: 6px;
        background-size: 18px 18px;
        height: 16px;
        width: 16px;
        top: 2px;
      }
    }
  }

  .ab-test-tool-help {
    float: right;
    position: relative;
    padding-left: 25px;
    margin-left: 25px;
    display: inline-block;
    top: 18px;

    a {
      color: $tooltip-link-color;
      text-decoration: underline;

      &:before {
        content: "";
        background: url(../img/help.svg) center center;
        position: absolute;
        left: 6px;
        background-size: 18px 18px;
        height: 16px;
        width: 16px;
        top: 2px;
      }
    }
  }
}
