/**
 * @file
 * Test lister page design.
 */

.test-content {
  width: 1200px;
  margin: 0 auto;
  font-size: 12px;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;

  .action-bar {
    &.first {
      margin-top: 40px;
    }

    &.last {
      margin-top: 25px;
    }
  }

  .clearfix {
    clear: both;
  }

  a.add-test-link {
    padding: 6px 10px;
    border: none;
    border-radius: 20px;
    background: $add-button-bg-color none;
    width: 189px;
    height: 26px;
    color: rgba(255, 255, 255, 0.84);
    margin: 0;
    clear: both;

    &:active,
    &:focus,
    &:hover {
      text-decoration: none;
    }
  }

  table.ab-test-table {
    margin-top: 35px;
    margin-bottom: 71px;
    border-collapse: separate;
    border-spacing: 0 15px;

    tbody > tr {
      padding: 0 10px;
      margin: 25px 0;
      border: none;

      &.odd {
        background-color: $outer-odd-bg-color;
      }

      &.even {
        background-color: $outer-even-bg-color;
      }

      > td {
        padding: 10px 12px 0 12px;
      }
    }

    .ab-test-inner-table {
      margin: 0;

      tr {
        border: none;
        color: $text-color-secondary;

        &:first-of-type {
          font-weight: bold;
          color: $text-color-main;

          &.odd {
            background-color: $inner-odd-bg-color;
          }
        }

        &.odd,
        &.even {
          background-color: $inner-even-bg-color;
        }
      }

      td {
        padding: 14px 20px;
        vertical-align: middle;
      }

      td:first-of-type {
        width: 280px;
      }

      td:nth-of-type(2) {
        width: 215px;
      }

      .test-name-col {
        font-size: 20px;
        a {
          color: $normal-link-color;
        }
      }

      .test-ga-link {
        margin-top: -20px;
        position: relative;
        padding-left: 22px;

        a {
          color: $normal-link-color;

          &:before {
            content: "";
            background: url(../img/link.svg) center center;
            position: absolute;
            left: 0;
            background-size: 18px 18px;
            height: 16px;
            width: 16px;
            top: 2px;
          }
        }
      }

      .ab-variations {
        position: relative;
        
        &.base-url {
          font-size: 18px;
          text-transform: uppercase;

          a {
            color: $text-color-main;
          }
        }

        .list-counter {
          font-size: 14px;
          font-weight: normal;
          padding: 5px 10px;
          border-radius: 4px;
          background-color: rgb(154, 171, 186);
          min-width: 10px;
          text-align: center;
          color: rgb(255, 255, 255);
          display: inline-block;
          position: absolute;
          top: 50%;
          margin-top: -15px;
        }

        .variation-name {
          display: inline-block;
          text-transform: uppercase;
          width: calc(215px - 50px);
          margin-left: 45px;

          a {
            margin-left: 5px;

            img {
              position: absolute;
            }
          }
        }
      }

      .variation-url {
        width: 100%;
        position: relative;
        padding-left: 25px;
        &.base-url {
          a {
            color: $text-color-main;
          }
        }

        a {
          color: $text-color-secondary;

          &:before {
            content: "";
            background: url(../img/link.svg) center center;
            position: absolute;
            left: 3px;
            background-size: 18px 18px;
            height: 16px;
            width: 16px;
            top: 2px;
          }
        }
      }
    }
  }
}

.ui-dialog.ui-widget .ui-dialog-titlebar-close {
  border: none;
}

.ui-dialog.ui-state-active,
.ui-dialog.ui-widget-content .ui-state-active {
  color: inherit;
  background-color: inherit;
}
