$text-color-main: rgb(0, 0, 0);
$text-color-secondary: rgb(160, 164, 167);
$h2-color: rgb(160, 164, 167);
$tooltip-link-color: rgb(115, 115, 115);
$normal-link-color: rgb(31, 120, 255);
$outer-even-bg-color: rgb(250, 252, 252);
$outer-odd-bg-color: rgb(255, 255, 255);
$inner-even-bg-color: inherit;
$inner-odd-bg-color: rgb(227, 236, 244);
$header-border-bottom: rgb(227, 236, 244);
$add-button-bg-color: rgb(102, 163, 255);

$input-border-color: rgb(237, 237, 237);
$input-bg-color: rgb(255, 255, 255);
$name-container-width: 300px;
$edit-page-padding: 20px;
$first-row-bg-color-edit: rgb(233, 242, 250);
$create-status-bg-color: rgb(250, 252, 252);
$edit-buttons-bg-color: rgb(187, 191, 194);
$edit-buttons-save-bg-color: rgb(134, 225, 147);
$input-color: rgb(115, 115, 115);
