/**
 * @file
 * Admin stylesheet for the ingredient module.
 */

/* Ingredient field widget form */
.field--widget-ingredient-autocomplete .form-type-entity-autocomplete,
.field--widget-ingredient-autocomplete .form-type-select,
.field--widget-ingredient-autocomplete .form-type-textfield {
  display: inline-block;
  margin-right: 1em;
}
.field--widget-ingredient-autocomplete .form-type-textfield:last-child {
  margin-right: 0;
}
