/**
 * @file
 * Commerce toolbar icon styling.
 */

/* Seven admin theme */
.toolbar-tray .toolbar-icon.toolbar-icon-wwaf-admin-wwaf:before {
  background-image: url("../icons/787878/compass.svg");
}

.toolbar-tray .toolbar-icon.toolbar-icon-wwaf-admin-wwaf.is-active:before {
  background-image: url("../icons/000000/compass.svg");
}


/* Seven admin theme */
body.adminimal-admin-toolbar   .toolbar-tray .toolbar-icon.toolbar-icon-wwaf-admin-wwaf:before {
  background-image: url("../icons/bebebe/compass.svg");
}

body.adminimal-admin-toolbar   .toolbar-tray .toolbar-icon.toolbar-icon-wwaf-admin-wwaf:hover:before,
body.adminimal-admin-toolbar   .toolbar-tray .toolbar-icon.toolbar-icon-wwaf-admin-wwaf:active:before,
body.adminimal-admin-toolbar   .toolbar-tray .toolbar-icon.toolbar-icon-wwaf-admin-wwaf.is-active:before {
  background-image: url("../icons/ffffff/compass.svg");
}