{#
/**
 * @file
 * Default theme implementation for positions listing.
 *
 * Available variables:
 * - title: The title of this page/block.
 * - positions: An unordered list of positions linked to their detail pages.
 *
 * @ingroup themeable
 */
#}

{% if title %}
  <h2>{{ title }}</h2>
{% endif %}
{% if positions['#items'] is not empty %}
  {{ positions }}
{% endif %}
