{#
/**
 * @file
 * Default theme implementation for position detail listing.
 *
 * Available variables:
 * - name: The position name.
 * - description: The position description markup.
 * - application_link: A rendered link to the position application.
 * - application_url: The URL to the position application.
 *
 * @ingroup themeable
 */
#}
{% if description %}
  {{ description|raw }}
{% endif %}
{% if application_link %}
  <h3>{{ application_link }}</h3>
{% endif %}
