{#
/**
 * @file ipfs_hash.html.twig
 * Default theme implementation to present IPFSHash data.
 *
 * This template is used when viewing IPFSHash pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_ipfs_hash()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('ipfs_hash') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
