@import "oomph-paragraphs-setup";

$local__boxshadow__offset--x: $global__boxshadow__offset--x;
$local__boxshadow__offset--y: $global__boxshadow__offset--y;
$local__boxshadow__spread: $global__boxshadow__spread;
$local__boxshadow__color: $global__boxshadow__color;


//<div class="oomph-paragraph__component oomph-paragraph__component--wysiwyg oomph-wysiwyg oomph-background-color__white oomph-wysiwyg--shadow">
//  <div class="oomph-wysiwyg__content">
//    <div class="clearfix text-formatted field field--name-field-body field--type-text-long field--label-hidden field__item">
//      <h2>Harnessing change, investing in Rhode Island</h2>
//      <p><strong>No one can deny that 2017 was a rollercoaster year for healthcare. For months, the future of the Affordable Care Act dominated the headlines from coast to coast.</strong></p>
//    </div>
//  </div>
//</div>

.oomph-wysiwyg {

  &__content {

    // Remove spacing on internal elements, so all the spacing comes from the containers
    & > div *:first-child {
      margin-top: 0;
    }

    & > div *:last-child {
      margin-bottom: 0;
    }
  }

  // If the drop shadow class is present on the wrapper
  &--shadow {
    box-shadow: $local__boxshadow__offset--x $local__boxshadow__offset--y $local__boxshadow__spread $local__boxshadow__color;
  }
}
