@import "oomph-paragraphs-setup";

$local__vertical-spacer: $global__vertical-spacer;
$local__video__background-color: $global__video__background-color;


//<div class="oomph-paragraph__component oomph-paragraph__component--video oomph-video">
//  <div class="oomph-video__content">
//    <div class="video-embed-field-responsive-video">
//      [...]
//    </div>
//  </div>
//</div>

.oomph-video {
  padding-bottom: $local__vertical-spacer;

  &__content {
    background-color: $local__video__background-color;
  }
}
