@import "oomph-paragraphs-setup";

$local__vertical-spacer: $global__vertical-spacer;


//<div class="oomph-paragraph__component oomph-paragraph__component--column-group oomph-paragraph__column-group oomph-background-color__medium-gray">
//  <div class="oomph-paragraph__component oomph-paragraph__component--video oomph-video">
//    <div class="oomph-video__content">
//      <div class="video-embed-field-responsive-video">
//        <iframe frameborder="0" allowfullscreen="allowfullscreen" src="#"></iframe>
//      </div>
//    </div>
//  </div>
//  <div class="oomph-paragraph__component oomph-paragraph__component--wysiwyg oomph-wysiwyg">
//    <div class="oomph-wysiwyg__content">      
//      <div class="clearfix text-formatted field field--name-field-body field--type-text-long field--label-hidden field__item">
//        <p> ... </p>
//      </div>
//    </div>
//  </div>
//</div>

.oomph-paragraph__column-group {

  // ANY component inside of a column group is now not treated as a row of its own
  // ALL widths and margins are reset to be a block element
  & > .oomph-paragraph__component {
    display: block;
    flex: 1 1 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
    max-width: 100% !important; // IE 11 prefers 100% over 'initial'
    width: 100% !important;
  }

  // When two wysiwyg components are stacked,
  // create some space between them
  .oomph-wysiwyg + .oomph-wysiwyg {
    margin-top: $local__vertical-spacer;

    @include media-breakpoint-up(md) {
      margin-top: ($local__vertical-spacer * 1.5);
    }

    @include media-breakpoint-up(xl) {
      margin-top: ($local__vertical-spacer * 2);
    }
  }
}
