@import "oomph-paragraphs-setup";


//<div class="oomph-paragraph__component oomph-paragraph__component--image oomph-image">
//  <div class="oomph-img__content">
//    <img srcset="325w, 650w, 1300w" src="#" alt="Rooflines and shapes">
//  </div>
//</div>

.oomph-image {

  &__content {

    // 1. Bartik adds "@media (min-width: 560px) .node .field--type-image"
    //    styles that need to be overridden
    .field--type-image {
      float: none !important; // 1.
      margin: 0 !important; // 1.
    }

    // 2. Bartick adds margin bottom via ".field--type-image img"
    img {
      display: block;
      margin-bottom: 0 !important; // 2.
      max-width: 100%;
      height: auto;
    }
  }

  &--border &__content {
    border: $global__image__border-width--xs solid $global__image__border-color;

    @include media-breakpoint-up(sm) {
      border-width: $global__image__border-width--sm;
    }

    @include media-breakpoint-up(lg) {
      border-width: $global__image__border-width--lg;
    }
  }
}
