@import "oomph-paragraphs-setup";

$global__accordion__padding: 1rem !default;
$global__accordion-border--boolean: true !default; // Display borders? Yes or No
$global__accordion-border__weight: 1px !default;
$global__accordion-border__color: map-get(map-get($global__default-color-map, light-gray), bg) !default;


$local__accordion__padding: $global__accordion__padding;
$local__accordion-border--boolean: $global__accordion-border--boolean;
$local__accordion-border__weight: $global__accordion-border__weight;
$local__accordion-border__color: $global__accordion-border__color;


//<dl id="accordion-13" role="presentation" class="oomph-accordion" data-allow-multiple>
//  <dt role="heading" aria-level="3" class="oomph-accordion__summary">
//    <button aria-expanded="{{ open_on_page_load }}" class="oomph-accordion__trigger" aria-controls="sect1" id="accordion-aria-13" type="button">
//      <span class="oomph-accordion__image">{{ content.field_background_image }}</span>
//      <span class="oomph-accordion__title">{{ content.field_accordion_summary }}</span>
//    </button>
//  </dt>
//  <dd id="sect1" role="region" aria-labelledby="accordion-aria-{{ paragraph.id.value }}" class="oomph-accordion__details" {{ region_open_on_page_load }}>
//    <div class="oomph-accordion__details__content">
//      {{ content.field_body }}
//    </div>
//  </dd>
//</dl>

.oomph-accordion {

  &__summary {
    padding: $local__accordion__padding;

    @if $local__accordion-border--boolean {
      border: $local__accordion-border__weight solid $local__accordion-border__color;
    }
  }

  &__trigger {
    // Reset all default values for <button> element
    background-color: transparent;
    border: 0;
    display: block;
    padding: 0;
    text-align: left;
    -webkit-appearance: none;
    width: 100%;

    // Style text to resemble an H3
    font-size: 1.25rem;
    font-weight: bold;

    // Add positioning for ::after element
    position: relative;

    // Add an indicator for expand/contract
    &::after {
      content: '+';
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }
    &[aria-expanded="true"]::after {
      content: '–'
    }

    & > span {
      display: inline-block;
      vertical-align: middle;
    }
  }

  &__image {
    margin-right: 3%;
    width: 22.5%;

    .field--type-image img {
      margin-bottom: 0;
    }

    @include media-breakpoint-up(lg) {
      margin-right: 1.5%;
      width: 21%;
    }
  }

  &__title {
    pointer-events: none;
    margin-left: -4px; // account for natural inline-block spacing
    width: 66%;

    @include media-breakpoint-up(lg) {
      width: 73%;
    }
  }

  &__details {
    margin: 0; // Reset the browser default margin on <dd> elements

    // Visible by default
    max-height: 32em;
    opacity: 1;
    transition:
      visibility 0ms ease 0ms,
      opacity 500ms ease 0ms,
      max-height 500ms ease 0ms;
    visibility: visible;

    &[aria-hidden] {
      max-height: 0;
      opacity: 0;
      transition:
        visibility 0ms ease 500ms,
        opacity 500ms ease 0ms,
        max-height 500ms ease 0ms;
      visibility: hidden;
    }

    &__content {
      padding: $local__accordion__padding;

      @if $local__accordion-border--boolean {
        border: $local__accordion-border__weight solid $local__accordion-border__color;
        border-top: 0; // Remove the top border so we do not have a double thick effect
      }
    }
  }
}
