.toolbar .toolbar-icon.toolbar-icon-admin-menu-search:before {
  background-image: url(../icons/bebebe/loupe.svg);
}
.toolbar form.admin-menu-search-form {
  margin-left: 0.5rem;
}
#admin-menu-search-toolbar-tab .form-item {
  margin: 0;
}
#admin-menu-search-toolbar-tab .form-item  input {
  padding: 0.55rem 0.339rem;
}
ul.ui-widget-content.ui-autocomplete.admin-menu-search-autocomplete-list {
  z-index: 9999;
  overflow-y: scroll;
}
ul.ui-widget-content.ui-autocomplete.admin-menu-search-autocomplete-list li.admin-menu-search-autocomplete-list-item,
ul.ui-widget-content.ui-autocomplete.admin-menu-search-autocomplete-list li.admin-menu-search-autocomplete-list-item.ui-state-active {
  background: initial;
  border: none;
  border-bottom: 1px dotted;
  color: rgb(51, 51, 51);
  cursor: pointer;
  display: list-item;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "DejaVu Sans", "Lucida Sans", sans-serif;
  font-size: 13px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 400;
  line-height: 20.0063px;
  list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
  list-style-position: outside;
  list-style-type: none;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  text-align: left;
  text-size-adjust: 100%;
  z-index: 9999;
}
ul.ui-widget-content.ui-autocomplete.admin-menu-search-autocomplete-list a.admin-menu-search-autocomplete-link {
  color: #0074bd;
  cursor: pointer;
  border: none;
  background: initial;
  display: block;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "DejaVu Sans", "Lucida Sans", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 400;
  line-height: 20px;
  position: relative;
  padding: 3px 1em 3px .4em;
  text-decoration: none;
}
ul.ui-widget-content.ui-autocomplete.admin-menu-search-autocomplete-list a.admin-menu-search-autocomplete-link.ui-state-active,
ul.ui-widget-content.ui-autocomplete.admin-menu-search-autocomplete-list li.admin-menu-search-autocomplete-list-item.ui-state-focus a.admin-menu-search-autocomplete-link {
  background: none;
  color: #840;
  margin: initial;
}
