span.user-menu-avatar {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: cover;
  background-position: center;
}

span.user-menu-avatar.circle {
  border-radius: 50%;
}

span.show-user-name {
  display: inline-block;
  vertical-align: middle;
  font-size: 100%;
  margin-left: 10px;
}

span.show-user-name-only {
  font-size: 100%;
}
