/* Center content. */
.layout-print {
  max-width: 64em;
  margin: auto;
  padding: 0;
}
/* Custom print action. */
.commerce-print-action {
  display: block;
  margin: 1em auto;
}

@media print {
  /* Reset font-size. */
  body {
    font-size: 10px;
  }
  /* Hide admin toolbar. */
  .toolbar-fixed,
  .toolbar-tray-open {
    padding-top: 0;
  }
  #toolbar-administration {
    display: none;
  }
  /* Hide print button. */
  .commerce-print-action {
    display: none;
  }
  /* Hide exposed filters. */
  .views-exposed-form .form-item,
  .views-exposed-form .form-actions {
    display: none;
  }
}
