<div id="npp_payment_summary" class="row">
    <div class="col-sm-12 col-lg-6">
        <table border="0">
            <tr>
                <td>Payment For</td>
                <td>{{ data.item_name }}</td>
            </tr>
            <tr>
                <td>Amount</td>
                <td>{{ data.amount }}</td>
            </tr>
            <tr>
                <td>Currency</td>
                <td>{{ data.currency_code }}</td>
            </tr>
        </table>
    </div>
</div>