.handle {
  background-color: transparent;
  font-size: 0;
  margin: 0;
  vertical-align: middle;
}

update-activity,
preview-activity {
  position: fixed;
  z-index: 100;
  right: 0;
  top: 0;
  bottom: 0;
  left: 300px;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 0 5px 2px #ddd;
  overflow-y: auto;
}


@media (max-width:768px) {
  update-activity,
  preview-activity {
    left: 0;
  }
}
