{% set menus = ['main', 'account', 'admin'] %}

{% for menuId in menus %}
    {# Get menu items #}
    {% set items = simplify_menu(menuId) %}

    <span id="simplify-menu-test">
    {# Iterate menu tree #}
    <nav class="navigation__items" id="{{ menuId }}">
        {% for menu_item in items.menu_tree %}
            <li class="navigation__item">
                <a href="{{ menu_item.url }}">{{ menu_item.text }}</a>
            </li>
        {% endfor %}
    </nav>
    </span>
{% endfor %}
