{#
/**
 * @file
 * Default theme implementation for rendering an uptime block.
 *
 *
 * Available variables:
 * - enabled: Display uptime ratio.
 * - nocss: Do not apply the module's CSS.
 * - ratio: The latest reported uptime ratio.
 * - notice_enabled: Display copyright notice.
 * - host: Host.
 * - notice: Notice.
 * - widget: Widget.
 *
 * @see template_preprocess_uptime_widget_block()
 *
 * @ingroup themeable
 */
#}
{% if not nocss %}
  {{ attach_library('uptime_widget/uptime-widget') }}
{% endif %}
<div class="uptime-wrap">
{% if enabled and 'uptime' in selected_widget %}
  {% if widget_type %}
    {{ widget }}
  {% endif %}
{% endif %}
{% if notice_enabled and 'copyright' in selected_widget %}
  <table class="uptime-table notice" style="width: auto;">
  <tbody class="uptime-body">
    <tr>
      <td class="uptime-notice">
        {{ notice }} {{ host }}
      </td>
    </tr>
  </tbody>
  </table>
{% endif %}
</div>
