<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true"
         bootstrap="bootstrap.php">
    <testsuites>
        <testsuite name="entity_normalization">
            <directory>src/</directory>
        </testsuite>
    </testsuites>

    <testsuites>
        <testsuite name="entity_normalization_normalizers">
            <directory>../entity_normalization_normalizers/tests/src/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>../src</directory>
            <directory>../entity_normalization_normalizers/src</directory>
        </whitelist>
    </filter>
</phpunit>

