{#
/**
 * @file
 * Default theme implementation
 *
 * Available variables:
 *
 * @see template_preprocess_nasa()
 *
 * @ingroup themeable
 */
#}
<div class="nasa-apod-block">
    <h2>{{ apod_title }}</h2>
    <p><img src="{{ image }}" /></p>
    <p>{{ explanation }}</p>
</div>