.icon-audit {
  background-image: url("../images/3a79f7d806a3a945798556012ae45579.png");
  height: 50px;
  position: relative;
  width: 20px;
  z-index: 99;
}
.audit-waiting {
  background-image: url("../images/auditwait.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50px 50px;
  height: 100px;
  width: 80px;
  margin-left: -20px;
}

#drupal-modal--body .col-xs-1.col-sm-1.col-md-1.col-lg-1 .audit-waiting {
  background-image: url("../images/auditwait.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50px 50px;
  height: 100px;
  width: 80px;
  margin-left: -50px;
  margin-top: -30px;
}

#drupal-modal--body .col-xs-1.col-sm-1.col-md-1.col-lg-1 .audit-right {
  background-image: url("../images/auditwait.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50px 50px;
  height: 100px;
  width: 80px;
  margin-left: -50px;
  margin-top: -70px;
}

.audit-status-passed {
  background-image: url("../images/auditpass.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50px 50px;
  height: 100px;
  width: 80px;
  margin-left: -20px;
}
#drupal-modal--body .col-xs-1.col-sm-1.col-md-1.col-lg-1 .audit-status-passed {
  background-image: url("../images/auditpass.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50px 50px;
  height: 100px;
  width: 80px;
  margin-left: -50px;
}
.audit-status-failed {
  background-image: url("../images/auditfailure.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50px 50px;
  height: 100px;
  width: 80px;
  margin-left: -20px;
}

#drupal-modal--body .col-xs-1.col-sm-1.col-md-1.col-lg-1 .audit-status-failed {
  background-image: url("../images/auditfailure.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50px 50px;
  height: 100px;
  width: 80px;
  margin-left: -50px;
}
