{#
/**
 * @file
 * Default theme implementation for the showmeyouremail email.
 *
 * Available variables:
 * - attributes: HTML attributes for the container div.
 * - mail: The email address from a user's profile.
 *
 * @ingroup themeable
 */
#}
<div{{ attributes }}>
  <div class='label'>Email:</div>
  <p>{{ mail }}</p>
</div>
