{#
/**
 * @file simple_content.html.twig
 * Default theme implementation to present Simple content data.
 *
 * This template is used when viewing Simple content pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_simple_content()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('simple_content') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
