<div {{ attributes }}>
    <div class="card border-primary mb-3 text-center">
        <div class="card-header">
            Voice Panel
        </div>
        <div class="card-body text-primary">
            <p class="card-text">Warning: this version require Chrome browser.</p>
        </div>
        <app-root></app-root>
    </div>
</div>