.ji-quickbooks-img {
  margin: 6px;
  float: left;
}

#edit-invoice,
#edit-payment {
  clear: both;
}

.ji-quickbooks-img img {
  border: 1px dashed black;
  width: auto;
  height: auto;
}

.ji-quickbooks-img .description {
  max-width: 335px;
}

fieldset .fieldset-wrapper .form-item {
  float: left;
  width: 100%;
}
