.view-media-gallery .item-list ul,
.view-media-galleries .view-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.view-media-gallery .item-list ul li,
.view-media-galleries .view-content .views-row {
  width: calc(100% / 3.3);
  padding: 4px;
}
