{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
<div ng-app="myApp">
	<p><a href="#/!">Main</a></p>

	<a href="#!red">Red</a>
	<a href="#!green">Green</a>
	<a href="#!blue">Blue</a>

	<div ng-view></div>
</div>
<div ng-app="myapp" ng-controller="bookViewCtrl">
  <table>
    <tr>
      <th colspan=2>Add a new book</th>
    </tr>
    <tr>
      <td>
        <label for="book-name">Candidate Name:</label></td>
      <td><input type="text" name="book-name" ng-model="bookData.name" id="book-name" /></td>
    </tr>
    <tr>
      <td><label for="book-price">Candidate Mail:</label></td>
      <td><input type="text" name="book-price" ng-model="bookData.price" id="book-price" /></td>
    </tr>
    <tr>
      <td><label for="author-id">Candidate Number:</label></td>
      <td><input type="text" name="author-id" ng-model="bookData.authorId" id="author-id" /></td>
      <td><input type="hidden" name="bid" ng-model="bookData.bid"
                 id="bid" /></td>
    </tr>
    <tr>
      <td></td>
      <td>
        <button ng-click="addNewBook(bookData)">Add</button>
      </td>
    </tr>
  </table>
  
</div>