{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
<div ng-app="myapp" ng-controller="bookViewCtrl">
	<button ng-click="add()">Add</button>
	

	<div ng-view></div>
</div>
