.project-cover {
  background: #fff none repeat scroll 0 0;
  display: inline-block;
  position: relative;
  text-align: left;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  margin: 0 22px 22px 0;
  width: 202px;
}

.project-cover .cover-img {
  display: block;
  overflow: hidden;
  position: relative;
}

.project-cover .cover-info {
  background: #fff none repeat scroll 0 0;
  padding: 6px 10px 28px;
}

.project-cover .cover-name {
  font-weight: bold;
  height: 32px;
  margin-bottom: 12px;
  overflow: hidden;
}

.project-cover .cover-fields {
  bottom: 34px;
  font-size: 11px;
  height: 30px;
  left: 10px;
  line-height: 30px;
  max-width: 160px;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.project-cover .cover-fields a,
.project-cover .cover-fields span {
  color: dimgray;
}

.project-cover .cover-fields a:hover,
.project-cover .cover-fields span:hover {
  color: #171717;
  text-decoration: none;
}

.project-cover .cover-stat-wrap {
  height: 30px;
  line-height: 14px;
}

.project-cover .cover-by-wrap {
  border-bottom: 1px solid #e2e2e2;
  height: 22px;
  margin-bottom: 4px;
}

.project-cover .cover-by,
.project-cover .cover-by-link {
  float: left;
}

.project-cover .cover-by {
  color: dimgray;
  margin-right: 5px;
}
.project-cover .cover-by-link {
  color: #1769ff;
  width: 100%;
}
.project-cover .cover-by-link .single-owner {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.project-cover .cover-stat-wrap {
  background-color: #f6f6f6;
  border-radius: 0 0 3px 3px;
  border-top: 1px solid #e7e7e7;
  box-shadow: 0 1px 0 0 #fff inset;
  padding: 7px 8px 8px;
  position: relative;
}

.cover-stat {
  color: #555;
  font-weight: bold;
  margin-right: 8px;
}
