{#
/**
 * @file library_item.html.twig
 * Default theme implementation to present Library item data.
 *
 * This template is used when viewing Library item pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_library_item()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('library_item') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
