<nav ng-controller="navigationController" class="navbar navbar-default">
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-left">
      <li class="navButtonWrapper" ng-class="{active: $parent.showNodeFilter}" ng-click="$parent.forceHideNodeFilter || showHideNodeFilter()">
        <a class="navEntry">
          <i ng-if="$parent.showNodeFilter" class="action-icon celum-icon-tree"></i>
          <i ng-if="!$parent.showNodeFilter" class="action-icon celum-icon-view"></i>
        </a>
      </li>
      <li>
        <span class="logo"></span>
      </li>
    </ul>


    <form name="searchForm" class="navbar-form navbar-middle navigation-search" role="search">
      <div class="form-group">
        <span class="celum-icon-search action-icon"></span>
        <span class="navigation-search-input-wrapper opened" ng-class="{loading: isLoading}">
          <input type="text" ng-change="doSearch()" name="search" ng-model="search" ng-model-options="{debounce:500}" class="form-control"
                 placeholder="{{'SEARCH' | translate}}"
                 ng-pattern="/^[^äöüÖÄÜ#]*$/"/>
            <span class="custom-error" ng-show="searchForm.search.$error.pattern">{{"NOT_SUPPORTED_CHARS" | translate}}</span>
        </span>
      </div>
    </form>
    <ul class="nav navbar-nav navbar-right">
      <li ng-click="openDialog('filter');" class="navEntry">
        <a class="action-icon celum-icon-more"> </a>
      </li>
    </ul>
  </div>
</nav>

