<div class="preview-header" ng-class="{ shrinked: sidebarOpen }" >
  <div class="name">{{displayData.name}}</div>
  <div class="hide-close-wrapper" ng-click="toggleSidebar();"><i class="action-icon celum-icon-info"></i><span class="text" ng-class="{ sidebarOpen: sidebarOpen }">{{sidebartext | translate}}</span></div>
  <div class="close"><i ng-click="closePreview();" class="action-icon celum-icon-close"> </i></div>
</div>
    
<div class="preview-wrapper" ng-class="{ shrinked: sidebarOpen }">
  <div ng-show="!showPlayer" class="image-wrapper" ng-click="checkForClosePreview($event)">
    <img ng-show="!loading" previewimage ng-src="{{getAssetPreviewUrl(displayData.url)}}" alt="{{displayData.name}}"/>
  </div>
  <div ng-show="showPlayer" class="video-wrapper" ng-click="checkForClosePreview($event)">
    <video ng-show="!loading" class="video-js vjs-default-skin vjs-big-play-centered" vjs-setup="videoPlayerOptions" vjs-media="videoPreview" vjs-video>
    </video>
  </div>
  <div class="nav next action-icon celum-icon-next" ng-if="!hasNext()" ng-class="{itemDisabled:!hasNext()}"></div>
  <div class="nav next action-icon celum-icon-next" ng-if="hasNext()" ng-click="getAsset('next')"></div>
  <div class="nav prev action-icon celum-icon-previous" ng-if="!hasPrev()" ng-class="{itemDisabled:!hasPrev()}"></div>
  <div class="nav prev action-icon celum-icon-previous" ng-if="hasPrev()" ng-click="getAsset('prev')"></div>
  <div class="footer">
    <div ng-show="!showPlayer" class="interactive" autoscroll="false">
      <div class="zoom-bar" ng-controller="zoomController">
        <span class="zoom-value zoom-to-fit" ng-click="fit()">{{'FIT' | translate}}</span>
        <span class="zoom-minus action-icon celum-icon-minus" ng-class="{itemDisabled:zoomValue <= floor}" ng-click="decrease()"></span>
        <div class="zoom-slider-wrap">
          <rzslider class="slider action-icon"
                    rz-slider-model="zoomValue"
                    rz-slider-floor="floor"
                    rz-slider-ceil="ceil"
                    rz-slider-hide-limit-labels="true"
                    rz-slider-translate="translateValue"
                    rz-slider-on-change="onZoomChange()">
          </rzslider>
        </div>
        <span class="zoom-plus action-icon celum-icon-plus" ng-class="{itemDisabled:zoomValue >= ceil}" ng-click="increase()"></span>
        <span class="zoom-value">{{zoomValue}} %</span>
      </div>
    </div>
  </div>
</div>
<div class="preview-sidebar" ng-class="{ open: sidebarOpen }" sidebar>
</div>