.entity-pager-list {
  text-align: center;
  padding: 0;
  margin: 0.5em 0;
}

.entity-pager-list .entity-pager-item {
  display: inline-block;
  margin: 0.3em;
}

.entity-pager-list .entity-pager-item-count {
  display: block;
  text-align: center;
}
