{#
/**
 * @file
 * Default theme implementation to contact me popup
 *
 * Available variables:
 * - contact_me_popup: call to droogle_hangout_invite_button theme function call
 *
 * @see template_preprocess_droogle_hangout_contact_me_popup()
 */
#}
<div class="contact-me">
  <div class="close-contact-me">x</div>
    <div class="contact-me-button-wrapper">
      {{ contact_me_popup }}
    </div><!-- ./presence-context-menu-wrapper -->
  <div class="chat-fin"></div>
</div>
