{#
/**
 * @file
 * Default theme implementation to invitee window
 *
 *
 * @see template_preprocess_droogle_hangout_invitee_window()
 */
#}
<div id="hangout-invite-wrapper">
  <h3 id="hangout-invite-header">Create A Hangout</h3>
  <div id="close-hangout-invite-popup">x</div>
  <div id="hangout-invite-popup">
    <div id="google-popup-logo">
      <div id="google-popup-logo-inner"></div>
    </div>
    <div id="hangout-email-list-wrapper">
      <div id="count-message"></div>
      {% if scheduler %}
        <div class="schedule-wrapper">
          <label for="edit-droogle-hangout-calendar">Schedule Hangout</label>
          <input type="text" id="edit-droogle-hangout-calendar" name="droogle_hangout_calendar" size="25">
        </div>
      {% endif %}
      <ul id="hangout-email-list"></ul>
    </div>
    <button type="button" id="jabber-hangout-invites-btn">Start Hangout</button>
  </div>
</div>
