{#
/**
 * @file
 * Default theme implementation to invite button
 *
 * Available variables:
 * - email: user email address
 * - fullname: fullname if exists for user
 * - src: image path if exists for user
 *
 * @ingroup themeable
 *
 * @see template_preprocess_droogle_hangout_contact_me_popup()
 */
#}
<button type="button" class="jabber-hangout-btn" name="{{ email }}">
  <span class="jabber-hangout-btn-text hangout-btn-a">{{ text }}</span>
  <span class="button-fullname" style="display:none;">{{ fullname }}</span>
  <span class="button-src" style="display:none;"> {{ src }}</span>
  <div class="hangout-btn-bubble-wrapper">
    <p class="hangout-btn-bubble">Start<br/>Hangout</p>
  </div>
</button>
