#ab-logout {
    float: left;
    background-color: #949494 !important;
}
.ab-login-logo {
    background-image:url('../images/_dback.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
}
.ab-login-box {
    max-width: 700px;
    margin: auto;
}
