{#
/**
 * Adds an Entity Pager:
 * E.g.
 *    < prev  All  next >
 *          5 of 12
 *
 * The list of items are presented next to each other in a usable way
 * (see e.g. above) using minimalist amount of CSS see: entity_pager.css.
 *
 * Default variables:
 *
 * $count_word: The word to use for the count of items.
 * $links: An array of links to render, keyed by their class.
 *
 * $links['prev'] : link to previous node.
 * $links['all_link'] : link to All listing group of records.
 * $links['next'] : link to next node in the sequence.
 * $links['count'] : count of number of nodes in the group.
 *
 * @see template_preprocess_views_view_entity_pager()
 *
 * @ingroup themeable
 */
#}
{% set classes = [
  'views-view-entity-pager',
  'entity-pager',
  'count-word-' ~ count_word
] %}

<div{{ attributes.addClass(classes) }}>
  <ul class="entity-pager-list">
    {% for key, link in links -%}
      {% if link %}
        <li class="entity-pager-item entity-pager-item-{{ key }}">
          {{ link }}
        </li>
      {% endif %}
    {%- endfor %}
  </ul>
</div>
