{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - balance: Array of the user balance for each currency.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}
<ul>
  {% if balance %}
    {% for currency, amount in balance %}
        <li>{{ amount|e }} {{ currency }}</li>
    {% endfor %}
  {% else %}
    {{ 'No funds'|t }}
  {% endif %}
</ul>
