.geysir-field-paragraph-links li.up a {
  background-image: url(../images/geysir-up.svg);
}
.geysir-field-paragraph-links li.down a {
  background-image: url(../images/geysir-down.svg);
}
.geysir-field-paragraph-links li.add a {
  background-image: url(../images/geysir-add.svg);
}
.geysir-field-paragraph-links li.customize a {
  background-image: url(../images/geysir-customize.svg);
}
.geysir-field-paragraph-links li.clone a {
  background-image: url(../images/geysir-clone.svg);
}

ul.geysir-field-paragraph-links {
	list-style-type: none;
}

#geysir-modal-form  .js-form-item-paragraph.radio img {
	height: 24px;
}

#geysir-modal-form .js-form-item-paragraph.radio label {
	width: 100%;
}