/**
 * @file
 */

/** Fix for unclean destroy. */
.pswp[aria-hidden="true"] {
  display: none;
}

.pswp__item {
  text-align: center;
}

.pswp .media-wrapper {
  display: inline-block;
  line-height: 0;
  margin: 0 auto;
  max-width: 98%;
  position: relative;
  text-align: left;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  vertical-align: middle;
  width: 100%;
}

.pswp__item--html .pswp__img {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}

.pswp.pswp--dragging .pswp__img {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}

/**
 * @todo: Remove temp fix for FF will-change warning:
 * https://github.com/dimsemenov/PhotoSwipe/issues/855
 */
.pswp__zoom-wrap {
  will-change: auto !important;
  -webkit-backface-visibility: visible !important;
}

/** @todo remove once Blazy updated to fix this regression video size. */
@media screen and (min-width: 1280px) {
  /** Prevents oversized video player. Adjust it accordingly. */
  .pswp .media-wrapper {
    max-width: 72%;
  }
}
