{#
/**
 * @file redhen_asset.html.twig
 * Default theme implementation to present Asset data.
 *
 * This template is used when viewing Asset pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_redhen_asset()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('redhen_asset') }}>
  {{ title_suffix }}
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
