.view-media-library .grid__content,
.entities-list .item-container{
  border:1px solid #eee;
  padding:10px;
  position:relative;
  min-height:150px;
}
.view-media-library .grid__content:hover,
.entities-list .item-container:hover,
.view-media-library .grid__content.selected,
.entities-list .item-container.selected{
  border-color:#327ebd;
}
.view-media-library .grid__content:hover .field--name-name,
.entities-list .item-container:hover .field--name-name,
.view-media-library .grid__content.selected .field--name-name,
.entities-list .item-container.selected .field--name-name{
  background-color:#327ebd;
  color:white;
}

.view-media-library .grid__content .media-item-overlay{
  max-height:0;
  overflow:hidden;
  position:absolute;
  left:0;
  top:0;
  z-index:5;
  width:100%;
  background:rgba(255,255,255,.85);
  color:black;
  display:flex;
  align-items:center;
  flex-direction: column;
  justify-content: center;
  transition-duration:250ms;
  transition-property: max-height, height, padding;
}
.view-media-library .grid__content .views-field-rendered-entity{
  overflow:hidden;
}
.view-media-library.media-items-has-overlay .grid__content .views-field-rendered-entity .field-content{
  transition-duration:250ms;
  transition-property: filter;
}
.view-media-library.media-items-has-overlay .grid__content:hover .views-field-rendered-entity .field-content{
  filter:blur(3px);
}
.view-media-library .grid__content:hover .media-item-overlay{
  max-height:500px;
  height:100%;
  padding:10px;
}
.view-media-library .grid__content .field--name-name,
.entities-list .item-container .field--name-name{
  background:#eee;
  padding:5px;
  width:100%;
  transition-duration:250ms;
  transition-property: background-color;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
.view-media-library .grid__content .field--name-name *,
.entities-list .item-container .field--name-name * {
  display:inline;
}

.view-media-library:not(.media-items-has-overlay) .grid__content:hover .field--name-name,
.entities-list .item-container:hover .field--name-name{
  background-color:#327ebd;
  color:white;
}

.view-media-library .grid__content .field--name-uid,
.view-media-library .grid__content .field--name-created,
.entities-list .item-container .field--name-uid,
.entities-list .item-container .field--name-created{
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  font-size:80%;
  line-height:1.1em;
}
.entities-list .item-container > input.button{
  margin-left: 0;
  margin-right: 0;
}
.view-media-library .grid__content .views-field-entity-browser-select .form-item > label,
.view-media-library .grid__content .media-item-bulk-form label{
  background-color: #327ebd;
  padding: 5px;
  clip: unset;
  height: 30px;
  width: 30px;
  right: 0;
  top: 0;
  display: block;
  z-index: 10;
  text-indent: -9000px;
  border-radius: 0 0 0 3px;
}
.view-media-library .grid__content .views-field-entity-browser-select .form-item .form-checkbox,
.view-media-library .grid__content .media-item-bulk-form .form-checkbox{
  position: absolute;
  right: 8px;
  top: 8px;
  z-index: 11;
}

/* More compact preview style for media slideshows */
.media-slideshow.view-mode-media-library > .layout > .layout__region{
  display:flex;
  flex-wrap: wrap;
}
.media-slideshow.view-mode-media-library > .layout > .layout__region > .media {
  max-width: 100px;
  width: 33.333%;
  overflow:hidden;
}
.media-slideshow.view-mode-media-library > .layout > .layout__region > .media .layout{
  height:100%;
}
.media-slideshow.view-mode-media-library > .layout > .layout__region > .media .layout__region{
  display:flex;
  flex-direction:column;
  height:100%;
}
.media-slideshow.view-mode-media-library > .layout > .layout__region > .media .field--name-name {
  flex-grow:0;
}
.media-slideshow.view-mode-media-library > .layout > .layout__region > .media .field--name-thumbnail {
  flex-grow:1;
}
.media-slideshow.view-mode-media-library > .layout > .layout__region > .media .field--name-thumbnail div{
  height:100%;
}
.media-slideshow.view-mode-media-library > .layout > .layout__region > .media .field--name-thumbnail img{
  object-fit: cover;
  object-position: center center;
  height:100%;
  width:100%;
  max-height:none;
  max-width:none;
}
.media-slideshow.view-mode-media-library > .layout > .layout__region > .media .layout__region > .field:not(.field--name-name):not(.field--name-thumbnail){
  /* Hide all fields except title and image */
  display:none;
}

/* Media Multifile Upload dialog */
.entity-browser-media-browser-image-form #ief-dropzone-upload > .form-wrapper{
  border-bottom:1px solid #ccc;
  padding-bottom:1rem;
  margin-bottom:.5rem;
  padding:10px;
}
.entity-browser-media-browser-image-form #ief-dropzone-upload > .form-wrapper:nth-child(even){
  background-color:#eee;
}