<div class="minesweeper-game-type">
  <a href="{{ path('minesweeper.game_choose_difficulty', {'gametype': game_type.name}) }}">
    <h3>{{ game_type.title }}</h3>
    <p>{{ game_type.description }}</p>
    <button class="button">{{ 'Play'|t }}</button>
  </a>
</div>