{#
/**
 * @file ips.html.twig
 * Default theme implementation to present Ips data.
 *
 * This template is used when viewing Ips pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_ips()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('ips') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
