*.module linguist-language=PHP
*.install linguist-language=PHP
*.profile linguist-language=PHP
*.theme linguist-language=PHP
*.test linguist-language=PHP
*.info linguist-language=INI
*.make linguist-language=INI