{#
/**
 * @file real_estate_agency.html.twig
 * Default theme implementation to present Agency data.
 *
 * This template is used when viewing Agency pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_real_estate_agency()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('real_estate_agency') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
