default:
  suites:
    default:
      contexts:
        - Drupal\DrupalExtension\Context\DrupalContext
        - Drupal\DrupalExtension\Context\MinkContext
        - Drupal\DrupalExtension\Context\MessageContext
        - Drupal\DrupalExtension\Context\DrushContext
        - Drupal\client_config_care\Behat\Context\ModuleContext
        - Drupal\client_config_care\Behat\Context\FormContext
        - Drupal\client_config_care\Behat\Context\DrupalIndependentContext
      paths:
        features: '%paths.base%/modules/client_config_care/tests/src/Behat/features'
  extensions:
    Behat\MinkExtension:
      browser_name: chrome
      javascript_session: selenium2
      default_session: selenium2
      goutte: ~
      selenium2:
        wd_host: "http://localhost:4444/wd/hub"
        browser: "chrome"
        capabilities: { "browserName": "chrome", "browser": "chrome", "version":  "*", "chrome": { switches: ["--no-sandbox"] } }
      base_url: http://localhost:80
    Drupal\DrupalExtension:
      blackbox: ~
      drupal:
        drupal_root: '%paths.base%'
      api_driver: 'drupal'
