{{ attach_library('httpcsvalidation/httpcsvalidation-lib') }}
<div id="pluginContainer">
    <h1 id="logoHttpcsContainer">HTTPCS Validation</h1>
    <div class="httpcsContainer">
        {{"Curl is disabled ! Please check the settings of your server."|trans}}
    </div>
</div>