{#
/**
 * @file
 *
 * Default theme implementation to present the Affirm monthly payment message.
 *
 * Available variables:
 * - page_type: The data-page-type attribute of the affirm html element.
 * - number: The amount in minor currency units.
 * - variation: The product variation.
 */
#}
<div class="commerce-product-affirm-monthly-payment-message">
  <p class="affirm-as-low-as" data-page-type="{{ page_type }}" {% if variation is not empty %} data-sku="{{ variation.sku.value }}" {% endif %} data-amount="{{ number }}"></p>
</div>
