{#
/**
 * @file
 *
 * Default theme implementation to present the Affirm site modal.
 *
 * Available variables:
 * - page_type: The data-page-type attribute of the affirm html element.
 * - link_text: The text of the link triggering the site modal. 
 */
#}
<a class="affirm-site-modal" data-page-type="{{ page_type }}">{{ link_text }}</a>
