{#
/**
 * @file chat_channel_message_divider.html.twig
 * Default theme implementation to present Chat channel message data.
 *
 * This template is used when viewing Chat channel message pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_chat_channel_message_divider()
 *
 * @ingroup themeable
 */
#}
<div {{ attributes }}>{{ content }}</div>