{#
/**
 * @file chat_channel.html.twig
 * Default theme implementation to present Chat channel data.
 *
 * This template is used when viewing Chat channel pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_chat_channel()
 *
 * @ingroup themeable
 */
#}

<div class="chat-channel-container">
  <div {{ attributes.addClass('js-chatChannel').setAttribute('data-channel-id', channel_id) }}>
    {% if elements.messages %}
        {{ elements.messages }}
    {% endif %}
  </div>
  <div class="scroll-down-button js-scrollDownButton">
      <span class="new-message-indicator">
          {{ elements.new_messages_counter }}
      </span>
  </div>
  {% if elements.chat_input_form %}
      {{ elements.chat_input_form }}
  {% endif %}
</div>
