{#
/**
 * @file chat_channel_member.html.twig
 * Default theme implementation to present Chat channel member data.
 *
 * This template is used when viewing Chat channel member pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_chat_channel_member()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('chat_channel_member') }}>
  {% if content %}
    {{ content }}
  {% endif %}
</div>
