/* CSS */

.addresstw_selection_wrapper {
    display: flex;
    align-items: center;
}

.addresstw_selection_wrapper label {
    display: none;
}

.addresstw_selection_wrapper .form-item {
    margin: 0px;
    padding: 0px;
}

.twzipcode-address {
    margin-left: 3px;
}

.twzipcode {
    margin-left: 3px;
    width: 70px;
    text-align: center;
}

.twdistrict {
    margin-left: 3px;
}