.speedboxes-selection {
  background: #0b69b9;
  background: rgba( 11, 110, 195, .33 );
  border: 1px solid #0b69b9;
}
.speedboxes-selected {
  outline: 3px solid #0b69b9;
}
.speedboxes-popup {
  border: 1px solid #0b69b9;
  border-radius: 2px;
  box-shadow: 6px 6px 16px rgba( 0, 0, 0, .165 );
  background: #eeeeee; /* Old browsers */
}
.speedboxes-action {
  font-size: 1em;
  padding: .25em .5em;
  border-right: 1px solid #0b69b9;
  text-decoration: none;
  color: #0b69b9;
  display: inline-block;
}
.speedboxes-action:hover {
  text-decoration: none;
  color: #fff;
  background: #0e86ed; /* Old browsers */
}
.speedboxes-action.speedboxes-active-action {
  color: #666;
  background: #bbbbbb; /* Old browsers */
  cursor: default;
}
.speedboxes-action-reverse {
  border-right: none;
}
