.voting-link a {
  color: #ffffff;
}
.voting-link {
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  width: 320px;
  margin: 0 auto;
  border: 1px solid gray;
  padding: 10px;
  color: #ffffff;
}
.disable-ajax {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: black;
}
.btn.disabled {
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
a.btn.disabled {
  pointer-events: none;
}
