{#
/**
 * @file
 * Template for a 1 cell layout.
 *
#}
<div {{ attributes.setAttribute('id', settings.css_id).addClass('grid-x grid-margin-x', settings.css_classes) }}>
    <div class="small-12 cell">
        {% if content.main|render|trim %}
            <div class="layout-region layout-region--main">
                {{ content.main }}
            </div>
        {% endif %}
    </div>
</div>
