<div class="form-item description">
  <p>
      {{ 'This section lists all possible templates for the display plugin and for the style plugins, ordered roughly from the least specific to the most specific. The active template for each plugin -- which is the most specific template found on the system -- is highlighted in bold.'|t }}
  </p>
</div>
