{% if suggestions|length > 0 %}
  <div class="form-item">
    <ul>
      {% for group, list in suggestions %}
        {% for items in list %}
          {% set print = [] %}
          {% for item in items %}
            {% if item.path %}
              {% set hint = item.exists ? 'File found in folder @template-path' : 'File not found, in folder @template-path' %}
              {% set print = print|merge(['<strong title="' ~ hint|t({'@template-path': item.path}) ~ '">' ~ item.template ~ '</strong>']) %}
            {% else %}
              {% set print = print|merge([item.template]) %}
            {% endif %}
          {% endfor %}
          <li>{{ group|t }}: {{ print|join(', ')|raw }}</li>
        {% endfor %}
      {% endfor %}
    </ul>
  </div>
{% endif %}
