#manager-approval-node {
	-webkit-border-radius: 12px; 
  -moz-border-radius: 12px; 
  border-radius: 12px;
	border: solid #a0a0a0 1px;
	padding: 10px;
}

#manager-approval-node > article > header > h2 {
	margin-top: 0px;
	text-decoration: none;
}

#manager-approval-node a,
#manager-approval-node a:active,
#manager-approval-node a:link,
#manager-approval-node a:visited, 
#manager-approval-node a:focus{
  color: #000;
  text-decoration: none !important;
  font-weight: bolder;
}

#manager-approval-node a:hover {
  color: #000;
  text-decoration: none !important;
  font-weight: bolder;
}

#manager-approval-node div.node__meta {
	display: block;
}

