{#
/**
 * @file
 * Default theme implementation to display a book tree.
 *
 * Returns HTML for a wrapper for a book sub-tree.
 *
 * Available variables:
 * - items: A nested list of book items. Each book item contains:
 *   - attributes: HTML attributes for the book item.
 *   - below: The book item child items.
 *   - title: The book link title.
 *   - url: The book link URL, instance of \Drupal\Core\Url.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     book tree.
 *   - is_collapsed: TRUE if the link has children within the current book tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 *
 * @ingroup themeable
 */
#}
<div class="twitter-trends-wrapper">
{% if trends is not empty %}
<ul>
  {% for key,value in trends %}
    <li class="record-{% if loop.index is divisibleby(2) %}even{% else %}odd{% endif %}">
     <a href="{{ value.url }}" target="_blank">{{ value.name }}</a>
     	{% if value.tweet_volume is not empty %}
        	<div class="tweet-volume">{{ value.tweet_volume }} Tweets</div>
		{% endif %}
    </li>
{% endfor %}
</ul>
{% else %}
<span class="empty-text">{{ 'There is an error to get the tweet valume' | t }}</span>
{% endif %}
</div>
