<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  bootstrap="../../core/tests/bootstrap.php"
  colors="true"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  verbose="true"
>
  <testsuites>
    <testsuite name="Processing.js Module Unit Test Suite">
      <directory>tests</directory>
      <exclude>./vendor</exclude>
      <exclude>./drush/tests</exclude>
      <exclude>./modules/config/tests/config_test/src/</exclude>
    </testsuite>
  </testsuites>
  <groups>
    <include>
      <group>processing</group>
    </include>
  </groups>
  <filter>
    <whitelist>
      <directory>src/</directory>
    </whitelist>
    <blacklist>
      <directory>src/Tests/</directory>
    </blacklist>
  </filter>
</phpunit>