.form-item .description {
  padding: .5em .5em 0 .5em;
  font-style: italic;
  border: 1px dotted transparent;
}
.form-item .description.hovered {
  border: 1px dotted #bbb;
}
a[data-drupal-selector="edit-field-help-helper-link"] {
  margin: 0 0 1em .5em;
  display: inline-block;
  clear: both;
  position: relative;
  font-style: normal;
  min-width: 30px;
}
a[data-drupal-selector="edit-field-help-helper-link"] span {
    position: absolute;
    left: 18px;
    top: -2px;
    min-width: 90px;
    text-indent: -9999px;
    padding-left: 10px;
    z-index: 1;

}
a[data-drupal-selector="edit-field-help-helper-link"] i.helper {
  position: relative;
  top: -3px;
  padding-right: 5px;
}
a[data-drupal-selector="edit-field-help-helper-link"] i.helper:before {
  content: '';
  background: url('/core/themes/stable/images/core/icons/787878/pencil.svg') no-repeat center center;
  width: 22px;
  height: 22px;
  position: absolute;
  border-radius: 50%;
  border: 1px solid transparent;
  z-index: 2;
}
a[data-drupal-selector="edit-field-help-helper-link"]:hover span,
a[data-drupal-selector="edit-field-help-helper-link"]:focus span {
  text-indent: 0;
  background: white;
  border: 1px solid #ccc;
  border-left: 0;
  border-radius: 0 3px 3px 0;
}
a[data-drupal-selector="edit-field-help-helper-link"]:hover i:before,
a[data-drupal-selector="edit-field-help-helper-link"]:focus i:before {
  border: 1px solid #ccc;
  background-color: #f5f5f5;
}
