{#
/**
 * @file config_blocker_entity.html.twig
 * Default theme implementation to present Config blocker entity data.
 *
 * This template is used when viewing Config blocker entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_config_blocker_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('config_blocker_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
