{{ attach_library('byu_layout_card/byu-card') }}

{# need to add image and other field support #}
{% set my_attributes = create_attribute() %}
{%
set my_classes = [
'kittens',
'llamas',
'puppies',
]
%}


{% for field in content.classes %}
    {% for i in 0..10  if field[i] is defined %}
        {% set my_classes = field[i]|e %}
    {% endfor %}
{% endfor %}


<byu-card {{ my_attributes.addClass(my_classes).setAttribute('id', 'myUniqueId') }}>
{# need to add image and other field support #}
    {% for field in content.main %}
        {% for i in 0..field|length  if field[i] is defined %}
            <div>{{ field[i] }}</div>
        {% endfor %}
    {% endfor %}

</byu-card>


