{% block discount %}
    <div id="discount-code" class="discount">
        <div id = "titleDC" class="titleDC"><h1>{{ titileDC }}</h1></div>
        <div id="content" class="content">{{ message }}</div>
    </div>
{% endblock %}