.ccc-permissions-link {
  display: inline-block;
}

.ccc-permissions-link--button {
  background: url('../img/ccc-permissions-link--btn.png') 0 0 no-repeat transparent;
  height: 20px;
  text-indent: -9999em;
  width: 106px;
}

.ccc-permissions-link--icon:before {
  background: url('../img/ccc-permissions-link--icon.png') 0 0 no-repeat transparent;
  content: "";
  padding-left: 26px;
}
