.note-selection-wrapper {
    background-color: white;
    border: 2px solid #F0EDED;
    box-shadow: 0 1px 3px rgba(0,0,0,.4);
    display: inline-block;
    left: -9999px;
    position: absolute;
    top: -9999px;
    z-index: 9999;
}
.note-selection-button {
	cursor: pointer;
	float: left;
	margin: 5px;
}
