{#
/**
 * @file
 * Template to display the list of files in your google drive.
 */
#}

{% if disconnect_link %}
  {{ disconnect_link|raw }}
{% endif %}

{% if list %}
  <div class="droogle-navigator">
    <ul>
      {% for item in list %}
        {{ item|raw }}
      {% endfor %}
    </ul>
  </div>
{% endif %}
