
.title_name_file {
    color: #FFFFFF;
    background: #28A9E0;
    font-size: 18px;
    padding: 20px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 40px;
    position: relative;
}
.select-text {
    position: absolute;
    top: 5px;
    right: 20px;
    width: 30px;
    height: 30px;
    background-image: url('../misc/icons/icons-copy.png');
    cursor: pointer;
    display: none;
}
.code:hover .select-text{
    display: block;
}
pre.code{
    margin-top: 0px;
    position: relative;
}
.hljs {
    padding: 40px 20px !important;
    margin-top: 0px;
}
textarea.form-textarea{
    width: auto !important;
}
