<script type="text/html" id="loginradiuscustom_tmpl_link">
  <# if(isLinked) { #>

    <div class="lr-linked">
      <div style="width:100%">
    <span title="<#= Name #>" alt="Linked with <#=Name#>">
 <img style="margin-right: 5%;vertical-align: middle;"
               src="{{ image_url }}/<#= Name.toLowerCase() #>.png">
          </span>

 <span class="lr-linked-label" style="margin-right:4px;"> <#= Name #> is

    </span> <span class="lr-linked-label" style="margin-right:4px;"> {{ 'Connected'|t }}
</span> 
       <span> <a style="margin-left:10px;cursor: pointer"
                 onclick='return <#=ObjectName#>.util.unLinkAccount(\"<#= Name.toLowerCase() #>\",\"<#= providerId #>\")'>Unlink</a></span>
         
      </div>
    </div>
    </div>
    <# } else { #>
       <div class="lr-unlinked">
        <div class="lr_icons_box">
            <div style="width:100%">
                <span class="lr-provider-label lr_providericons lr_<#=Name.toLowerCase()#>"
                      onclick="return <#=ObjectName#>.util.openWindow('<#= Endpoint #>');"
                      title="<#= Name #>" alt="Link with <#=Name#>">
                </span>
            </div>
        </div>
    </div>
      <# } #>
</script>
<div class="lr_account_linking">
  <div id="interfacecontainerdiv" class="lr_singleglider_200 interfacecontainerdiv"></div>
  <div style="clear:both"></div>
</div>
{{ attach_library('lr_ciam/drupal.account_linking') }}

