{{ attach_library('lr_ciam/drupal.loading') }}
<div class="overlay" id="lr-loading" style="display: none;">
  <div class="lr_loading_screen">
      <div class="lr_loading_screen_center" style="position: fixed;">
          <img src="{{image_path}}" class="lr_loading_screen_spinner">
          <div class="lr_loading-phrases-container">
              <div class="lr_loading-phrases_wrap">
                  <div class="lr_loading_phrase" style="color: #646F79">Please wait...</div>                      
              </div>              
          </div>                  
      </div>     
  </div>
</div>