
{% if showpassonlogin   %}
{% if api_key   %}

{% include 'lr_message.html.twig' %}
 
  <div class="ciam-lr-form my-form-wrapper">
    <div id="forgotpassword-container"></div>
     {% include 'lr_loading.html.twig' %} 
  </div>
{% endif %}
{% else %}
  {{ attach_library('lr_ciam/drupal.user_pass') }}
{{ rendered }}
{% endif %}


