{#
/**
 * @file visualn_drawing.html.twig
 * Default theme implementation to present VisualN Drawing data.
 *
 * This template is used when viewing VisualN Drawing pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_visualn_drawing()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('visualn_drawing') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
