{#
/**
 * @file
 * Template for an Image Zoom gallery.
 *
 * Available variables:
 * - image: The display image.
 * - thumbs: An array of thumbnail images.
 */
#}

{{ image }}

<div id="imagezoom-thumb-wrapper">
  {% for thumb in thumbs %}
    {{ thumb }}
  {% endfor %}
</div>
