/**
 * @file
 * Default theme css for Youtube block image.
 */

.block-youtube-block .content {
  display: inline-block;
}

.block-youtube-block img {
  float: left;
  display: inline-block;
  margin: 0 5px 5px 0px;
}
