table.pagerank-table {
  width: auto;
  float: left; /* LTR */
}

table.pagerank-table td {
  padding: 2px;
}

div.pagerank-wrap td.pagerank-first {
  background: YellowGreen !important; /* CHANGE THE COLOR HERE */
  text-align: center; 
  text-shadow: Black 2px 2px 7px;
  color: white;
  border: solid 3px; 
  border-color: YellowGreen !important; /* CHANGE THE COLOR HERE */
  font-weight: bold;
}

div.pagerank-wrap td.pagerank-last {
  background: WhiteSmoke;
  color: DimGray;
  font-weight: bold;
  border: solid 3px; 
  border-color: YellowGreen !important; /* CHANGE THE COLOR HERE */
}

div.pagerank-wrap td {
  text-align: center;
  padding: 0 5px 0 5px;
}

.pagerank-table,
.pagerank-body,
td.pagerank-notice {
  border: 0px none !important;
  border-collapse: separate;
}

