{#
/**
 * @file
 * Default theme implementation to display a formatted imagefield slideshow field.
 *
 * Available variables:
 * - image: A collection of image data.
 * - image_style: An optional image style.
 * - url: An optional URL the image can be linked to.
 *
 * @see template_preprocess_image_formatter()
 *
 * @ingroup themeable
 */
#}
<div class="beforeafter-wrapper">
    <div class="beforeafter">
        {% for key,value in url %}
        <img src="{{ value }}" /> {% endfor %} {% if prev_next %}
        <div class="before-after-button">
            <span class="image-before active"><b>❮ BEFORE</b></span>
            <span class="image-after"><b>AFTER ❯</b></span>
        </div>
        {% endif %}
    </div>
</div>