{#
/**
 * @file
 * Default theme implementation to display a formatted image field with its
 * title.
 *
 * Available variables:
 * - image: A collection of image data.
 * - image_style: An optional image style.
 * - url: An optional URL the image can be linked to.
 * - caption: The image with title to be used as a caption
 *
 * @see template_preprocess_image_with_title_formatter()
 *
 * @ingroup themeable
 */
#}
{% if url %}
  <a href="{{ url }}">{{ image }}</a>
{% else %}
  {{ image }}
{% endif %}
{% if title %}
  <div class="image-with-title">{{ title }}</div>
{% endif %}
