@CHARSET "UTF-8";
/**
 * 
 * @file
 * Default stylesheet for G2 Glossary module
 *
 * @copyright 2005-2015 Frédéric G. Marand, for Ouest Systemes Informatiques.
 */

.g2-entries div.more-link {
  display: inline;
  margin: 0 0 0 1em;
}

.g2-extra-title {
  display: none;
}
