/* For logman page statics UI */
#logman_container {
  color: #fff;
  position: absolute;
  z-index: 99999;
  border-radius: 7px;
  max-width: 95%;
  padding: 5px;
}

#logman_container.active {
  width: 100%;
}

#logman_container #logman_icon {
  float: left;
  cursor: hand;
  cursor: pointer;
  font-weight: bold;
}

#logman_container #logman_icon_close {
  float: left;
  background-image: url('../images/close_button.png');
  width: 42px;
  height: 42px;
  position: absolute;
  top: -15px;
  right: -15px;
  cursor: hand;
  cursor: pointer;

  /* Hide the text. */
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

#logman_container #logman_statistics {
  text-align: left;
}

#logman_container #logman_statistics.inactive {
  display: none;
}

#logman_container #logman_statistics.active {
  display: inline;
}

#logman_container #logman_statistics div.statistics_item {
  padding-right: 10px;
  float: left;
  color: #fff;
}

#logman_container a:link,
#logman_container a:hover,
#logman_container a:visited {
  color: #fff;
}

.logman_clear {
  clear: both;
}

#logman_container.lm_no_errors,
.debug,
.info {
  background-color: #007700;
}

#logman_container.lm_emergency {
  background-color: #ff0000;
}

#logman_container.lm_alert {
  background-color: #d20000;
}

#logman_container.lm_critical {
  background-color: #b93200;
}

#logman_container.lm_error {
  background-color: #be461e;
  border: 0px;
}

#logman_container.lm_warning {
  background-color: #f4c90a;
}

#logman_container.lm_notice {
  background-color: #18c313;
}

/* For watchdog and apache log search form */
#logman-watchdog-search-form .form_container .form-item,
#logman-apache-search-form .form_container .form-item {
  float: left;
  margin-right: 10px;
}

#logman-watchdog-search-form .form_container .form-item-severity {
  max-width: 96px;
}

#logman-watchdog-search-form .date_range,
#logman-apache-search-form .date_range {
  float: left;
}

#logman-watchdog-search-form .form_container #submit_full_watchdog,
#logman-apache-search-form .form_container #submit_full_apache {
  margin-top: 50px;
}

#logman-watchdog-search-form .result_container,
#logman-apache-search-form .result_container {
  max-width: 100%;
  overflow: auto;
}

/* For watchdog log detail page */
#logman-watchdog-detail-form div fieldset .log_field,
#logman-watchdog-detail-form div fieldset .log_field_value {
  float: left;
}

#logman-watchdog-detail-form .log_detail_item {
  margin: 5px;
  border-bottom: 2px solid #000;
}

#logman-watchdog-detail-form .log_field {
  font-weight: bold;
  padding-right: 2px;
}

/* For logman statistics page */
#logman-statistics-form #watchdog_chart,
#logman-statistics-form #apache_chart {
  float: left;
  padding-right: 10px;
}

#logman-statistics-form .log_data_table {
  float: left;
  padding: 30px 20px 0px 0px;
}

#logman-statistics-form #watchdog_table p,
#logman-statistics-form #apache_table p {
  margin: 0px;
}
