{#
/**
 * @file
 *
 */
#}
<link rel="import" href="/modules/contrib/bt_polymer_components/polymer/bt-quote-paragraph/bt-quote-paragraph.html">
<bt-quote-paragraph>
    <div class="quote" slot="quote">{{ quote }}</div>
    <div class="source" slot="source">- {{ source }}</div>
</bt-quote-paragraph>
