{#
/**
 * @file domain-finder-results.html.twig

 * This file will print the domain attributes.
 */
#}

<h2 class="domain-finder-results-title">{{ domain_finder_results_title }}</h2>
<ul class="domain finder results">
  {{ domain_finder_results }}
</ul>
