{% if is_open == false %}
  <div class="commerce-shopping-hours">
    <p>{{ message }}</p>
    {% if show_shopping_hours %}
      <p>{% trans %}Shopping hours{% endtrans %}: {{ shopping_hours.from }} - {{ shopping_hours.to }}</p>
    {% endif %}
  </div>
{% endif %}
