<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="oh">
    <description>op</description>
    <exclude-pattern>./vendor/*</exclude-pattern>
    <arg name="extensions" value="php,inc,install,module"/>
    <rule ref="./vendor/drupal/coder/coder_sniffer/Drupal"/>
    <arg name="report" value="full"/>
    <file>./src</file>
    <file>./modules</file>
</ruleset>
