<div class="filter-wrapper" ng-controller="filter">
  <nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
      <li ng-class="{active: active == 'sort'}">
        <a ng-click="setActive('sort');" class="navEntry">
          <i class="action-icon celum-icon-sort"></i>
        </a>
      </li>
      </li>
      <li ng-class="{active: active == 'view'}">
        <a ng-click="setActive('view');" class="navEntry">
          <i class="action-icon celum-icon-view"></i>
        </a>
      </li>
    </ul>
  </nav>
  <div class="filter-content" ng-class="{active: active == 'sort'}">
    <div class="filter-tab" ng-controller="sortTab">
      <div class="title">{{'SORT_OPTIONS' | translate}}</div>
      <label>{{'ASSET_NAME' | translate}}</label><input type="radio" value="name" toggle-button ng-model="sortBy"/></br>
      <label>{{'ASSET_ID' | translate}}</label><input type="radio" value="id"  toggle-button ng-model="sortBy"/></br>
      <label>{{'LAST_MODIFIED' | translate}}</label><input type="radio" value="modificationInformation/lastModificationDate"
                                                                      toggle-button
                                              ng-model="sortBy"/></br>
      <label>{{'FILE_EXTENSION' | translate}}</label><input type="radio" value="fileInformation/fileExtension" toggle-button
                                                              ng-model="sortBy"/></br>
      <label>{{'DESC' | translate}}</label><input type="checkbox" toggle-button ng-model="filterOrder"/></br>
    </div>
  </div>
  <div class="filter-content" ng-class="{active: active == 'view'}">
    <div class="filter-tab" ng-controller="viewTab">
      <div class="title">{{'VIEW_OPTIONS' | translate}}</div>
      <div class="row">
        <label>{{'DISPLAY_BULLETS' | translate}}</label><input type="checkbox" toggle-button initial-value="false"
                                                                      ng-model="view.showBullets"/>
      </div>
      <div class="row">
        <label>{{'LANGUAGE' | translate}}</label>
        <div class="form-item">
          <ui-select ng-model="view.language" ng-disabled="false">
            <ui-select-match placeholder="{{'SELECT_LANGUAGE' | translate}}">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat="language in view.languages | filter: $select.search">
              <span ng-bind-html="language.name | highlight: $select.search"></span>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
    </div>
  </div>
</div>