/* GRID */
.row {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -1rem;
  margin-left: -1rem;
}

.col-md-2 {
  box-sizing: border-box;
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

.col-md {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  max-width: 100%;
}

.col-md-2 {
  -ms-flex-preferred-size: 16.667%;
  flex-basis: 16.667%;
  max-width: 16.667%;
}

@media only screen and (max-width: 800px) {
  .col-md-2 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
}

/* EXTRA */

.instagram_pictures_listing .row {
    margin-bottom: 20px;
}

.instagram_pictures_listing .col-md-2 {
    position: relative;
    text-align: center;
}

.instagram_pictures_listing .disabled {
    opacity: 0.3;
}

.instagram_pictures_listing .col-md-2 .add-picture-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.instagram_pictures_listing .pic_added_text {
    font-weight: bold;
    color: #000;
}

.instagram_pictures_listing .add-picture-wrapper .button {
  display: block;
  width: 70px;
  text-align: center;
  margin: 0px;
}

.instagram_pictures_listing .add-picture-wrapper .add-picture-button {
  margin-bottom: 10px;
}

.instagram_pictures_listing .add-picture-wrapper {
  display: none;
}

.instagram_pictures_listing .col-md-2:hover .add-picture-wrapper {
  display: block;
}

@media only screen and (max-width: 800px) {
  .instagram_pictures_listing .add-picture-wrapper {
    display: block !important;
  }
}
