
{% if fields.field_static_headline %}
  <h1>{{ fields.field_static_headline }}</h1>
{% endif %}

{# RESULTS #}
{% if fields.field_clist_content %}

  {% for row_num,link in fields.field_clist_content %}
    <div>
      <div>{{ link.field_photo_gallery_image|image('large') }}</div>
      <a href="{{ link.field_photo_gallery_link.url }}">{{ link.field_photo_gallery_link.title }}</a>
    </div>
  {% endfor %}

{% else %}

  <p>No items available</p>

{% endif %}
