<div class="similar_titles_wraper">
  <b>
    {% trans %}
      Following similar nodes already exist in the record
    {% endtrans %}
  </b>
  <span class="ajax-title-div-close"><a href="javascript:void(0);">X</a></span>
  <ul>  
    {% for n in node %}
      <li>{{ link(n.label, n.link) }}</li>
    {% endfor %}
  </ul>
</div>
