.block-go-back {
  text-align: center;
  width: 100%;
  border-color: #ffffff !important;
  background-color: #ffffff !important;
}

.block-go-back .button {
  background: #ffffff url("../images/back.png") no-repeat center center;
  font-size: 0px;
  padding: 16px;
  border: 1px solid #b8b8b8;
}

.block-go-back .button:hover {
  cursor: pointer;
  text-decoration: none;
  border-color: #112532;
  background: #ffffff url("../images/back.png") no-repeat center center;
  color: #112532;
}
