<div class="esm-toc esm-toc--collapsed">
  <ul class="esm-toc__items">
    {% for item in items %}
      <li class="esm-toc__item">
        {{ item.item }}
        <ul class="esm-toc__item-children">
          {% for child in item.children %}
            <li class="esm-toc__item-child">
              {{ child }}
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
  <div class="esm-toc__toggle">
    <i class="fas esm-toc__expand fa-angle-double-right"></i>
    <i class="fas esm-toc__collapse fa-angle-double-left"></i>
    <span class="esm-toc__collapse-text">Collapse sidebar</span>
  </div>
</div>
