<div class="reveal">
    <div class="slides">
        {% for key, slide in slides  %}
            <section>
                <h3>{{ slide.name.value }}</h3>
                {{ slide.body.value | raw}}
            </section>
              
        {% endfor %}
    </div>
</div>