{#
/**
 * @file slides_slide.html.twig
 * Default theme implementation to present Slide data.
 *
 * This template is used when viewing Slide pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_slides_slide()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('slides_slide') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
