{#
/**
 * @file discount.html.twig
 * Default theme implementation to present Discount data.
 *
 * This template is used when viewing Discount pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_discount()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('discount') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
