{#
/**
 * @file invoices.html.twig
 * Default theme implementation to present invoices.
 *
 * This template is used when viewing the invoices tab on a user profile.
 *
 *
 * @see template_preprocess_invoices()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('invoices') }}>

    <h2>Upcoming invoice</h2>
    {{ upcoming_invoice }}
    <h2>Payment History</h2>
    {{ payment_history }}
    <br />
    {{ billing_information_form }}
</div>
