<div class="controls">
  <div class="row">
     <span>

     </span>
    <span class="text-action-button action-text" ng-click="doSelectOrUnselect()">
      <span class="celum-empty-icon"></span>
      <span class="text" translate="{{getSelectText()}}" translate-values="{num:totalItemCount}"></span>
    </span>
    <span class="text-action-button action-text" ng-if="isMultiSelection() && isBasket()" ng-click="clearMultiSelection()">
      <span class="icon celum-icon-cancel"></span>
      <span class="text">{{'CLEAR_SELECTION' | translate}}</span>
    </span>
    <span class="text-action-button action-text" ng-if="isMultiSelection() && isBasket()" ng-click="removeFromWishList()">
      <span class="icon celum-icon-remove"></span>
      <span class="text">{{'REMOVE_FROM_WISHLIST' | translate}}</span>
    </span>
    <span class="text-action-button action-text" ng-if="isMultiSelection() && isBasket()" ng-click="openDownloadFormatDialog('downloadFormatDialog')">
      <span class="icon celum-icon-change-format"></span>
      <span class="text">{{'CHANGE_DOWNLOAD_FORMATS' | translate}}</span>
    </span>
  </div>
</div>
