<form action="{{ gopay_url }}" method="post" id="gopay-payment-button">
    <button name="pay" type="submit">{{ link_text }}</button>
    <script type="text/javascript" src="{{ embed_js }}"></script>
</form>