#miniorange_oauth_client_app{
	width:30%;
	border-radius: 12px;
	padding: 10px;
}
#text_field{
    width: 50%;
	padding: 12px 20px;
	
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	 border-radius: 4px; 
	box-sizing: border-box;
}
#callbackurl{
    width: 50%;
	padding: 12px 20px;
	
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	 border-radius: 4px; 
	box-sizing: border-box;
}



#miniorange_oauth_client_auth_ep{
    width: 50%;
	padding: 12px 20px;
	
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	 border-radius: 4px; 
	box-sizing: border-box;
}
#miniorange_oauth_client_access_token_ep{
    width: 50%;
	padding: 12px 20px;
	
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	 border-radius: 4px; 
	box-sizing: border-box;
}
#miniorange_oauth_client_user_info_ep{
    width: 50%;
	padding: 12px 20px;
	
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	 border-radius: 4px; 
	box-sizing: border-box;
}
#miniorange_oauth_client_app_name{
    width: 50%;
	padding: 12px 20px;
	
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	 border-radius: 4px; 
	box-sizing: border-box;
}

#miniorange_oauth_client_display_name{
    width: 50%;
	padding: 12px 20px;
	
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	 border-radius: 4px; 
	box-sizing: border-box;
}

#miniorange_oauth_client_client_id{
    width: 50%;
	padding: 12px 20px;
	
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	 border-radius: 4px; 
	box-sizing: border-box;
}

#miniorange_oauth_client_client_secret{
    width: 50%;
	padding: 12px 20px;
	
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	 border-radius: 4px; 
	box-sizing: border-box;
}

#miniorange_oauth_client_scope{
    width: 50%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	 border-radius: 4px; 
	box-sizing: border-box;
}


#button_config{
	background-color: #008CBA;
	border: none;
	color:black;
	padding: 12px 24px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-radius: 12px;
	font-size: 16px;
}

.mo_oauth_help_title {
	font-size:17px;
	width:100%;
	color:#1B79AE;
	cursor:pointer;
	font-weight: bold;
}
.mo_oauth_help_desc {
	font-size:13px;
	border-left:solid 2px rgba(128, 128, 128, 0.65);
	margin-top:10px;
	padding-left:10px;
}
.mo_oauth_help {
	border-top: solid 1px grey;
	width: 95%;
}
.mo_oauth_help_cell {
	padding: 20px;
	border-bottom: solid 1px grey;
}
.mo_oauth_support_layout{
       width: 93%;
       background-color:#FFFFFF; 
       border:1px solid #CCCCCC; 
       padding-left:20px; 
}
.mo_oauth_table_layout {
	background-color:#FFFFFF; 
	border:1px solid #CCCCCC; 
	padding:0px 10px 10px 10px;
	margin-bottom: 10px;
}
.mo_oauth_table_layout td {
	
}
.mo_oauth_table_layout input['type=text'] {
	width: 80%;
}
.mo_oauth_table_layout td strong {
	margin-left: 10px;
}
.panel_toggle {
	cursor: pointer;
}
.panel_toggle:hover {
	text-decoration: underline;
}
.mo_oauth_table_textbox {
	width:80%;
}
.mo_oauth_settings_table {
	width: 100%;
}
.mo_oauth_settings_table tr td:first-child {
	width: 30%;
}
.mo_oauth_heading_margin {
	margin-left: 0px;
}
.error_wid_login {
    background-color: #FFEBE8;
    border: 1px dashed #FF0000;
    color: #FF0000;
    float: left;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-weight: 500;
    padding: 6px;
	margin-left: 200px;
    width: 80%;
	clear:both !important;
}

.login_wid li{
	margin:5px;
}

.login_wid{
		list-style-type:none;
		border: 1px dashed #999999;
		width:98%;
		float:left;
		padding:5%;

	}
.login_wid li{
	width:48%;
	float:left;
	margin:2px;
}
.openid_social_login{
	padding:5px 0px 0px 0px;
	clear:both;
	width:100% !important;
}

.login_wid li input{
	width:85%;
	float:left;
	margin:2px;
}
.mo_oauth_local_pricing_free_tab{
	background-color: rgba(34, 153, 221, 0.82)!important;
}
.mo_oauth_local_pricing_paid_tab{
	background-color: #0B4669 !important;
}
.mo_oauth_local_pricing_text{
	font-size: 14px !important;
	color: #fff !important;
	font-weight: 600 !important;

}
.mo_oauth_local_pricing_sub_header{
	margin: 2px !important;
	color: #fff !important;
}
.mo_oauth_local_pricing_header{
	color: #fff !important;
	margin: 4px !important;
}
.mo_oauth_local_pricing_table{
	text-align:center;
	font-size: 15px !important;
	background-color:#FFFFFF;
}

.mo_oauth_local_thumbnail{
	/*width: 250px;*/
    padding: 4px;
    margin-bottom: 10px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.mo_oauth_premium_thumbnail{
	width: 350px;
    padding: 4px;
    margin-bottom: 10px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.mo_oauth_local_table_col1{
	padding-left:5%;
}

.mo_oauth_local_table_col2{
	padding-left:20%;
}
/*** CSS For Show oauth Request And Response ***/

.mo-display-logs{
	color: #3c763d;
	background-color: #dff0d8;
	padding:2%;
	margin-bottom:20px;
	text-align:center;
	border:1px solid #AEDB9A;
	font-size:18pt;
}
.mo-display-block {
	color: #050505;
	width: -moz-available;
	min-height: 300px !important;
	overflow: auto;
	display: inline-block;
	background-color: #f6f6f6;
	padding: 2%;
	margin-bottom: 20px;
	text-align: left;
	border: 1px solid #AEDB9A;
	font-size: 12pt;
}
