.field-widget-field-css-structured-widget .form-type-textfield {
  display:inline;
}
.field-widget-field-css-structured-widget .form-type-textfield:after {
  content:""
}
.field-widget-field-css-structured-widget .form-textarea-wrapper:after {
  content:""
}
.field-widget-field-css-structured-widget.nowrapping .form-type-textfield:after {
  content:""
}
.field-widget-field-css-structured-widget.nowrapping .form-textarea-wrapper:after {
  content:""
}
