/*
 * Custom CSS to apply to editor
 */

div.handsontable-container a {
  color: #3b3b3b;
  padding: 5px;
  display: inline-block;
}

div.handsontable-container a:hover {
  text-decoration: none;
  opacity: 0.7;
}

div.handsontable-container a:before {
  margin: 5px;
  position: relative;
  top: 3px;
  vertical-align: middle;
}

div.handsontable-container a.table-add-row:before {
  content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAASCAYAAABB7B6eAAABSElEQVQ4T7WUyy4EQRSGT7tkMleJO3FJrAWxsELi8kDeQLyBZ/AW9GCwECzGrMZqLsZcEBOj9cjE8Ps7zK6qZiHVy66v66vz9znlHOSApVFRPu1vkb4e9VrnbfuLTK+aST+KOBkPiMfUQLMlEgmZBT6ZqIZpeBTc1IFEWL3Jx6dIuN8sMDGvTQouqsDquHqTOk832KWCFzJDGiZVoeC8AqxNWBSkHoD5YbXAY0TxLhG9kUlomMwzKzgrA+uTdio4LVOQv9vFWEQtaLEFQ5oW7HxhYmo+Bd7tImJz+0rDfyN6z+38CqKWBH4gyGcZUdRORNUgopMSsDFl5ycnSxQc3wMLI3baNP30J9ictlOBW6QgWQS2ZuwIjgKBy4iWNde1aUo7R2pwkgc0k3wdXNduAdietVPBYYGCvStgRVMBHAIwX9em1cuayA8K+aqcKtQ8NAAAAABJRU5ErkJggg==');
}

div.handsontable-container a.table-add-col:before {
  content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAASCAYAAABB7B6eAAABfUlEQVQ4T7WVyU4CQRCGaxgx7JIoCCp68WjUePDkMi4PwCONr+ITcFUQRj0YNZFwNwZkl8QMjiwGZ8rqxGO1Hkj3tTv95auuv1o7f0HcTgK7Ej0T4p85cPU4u6+7NtjhLPSSJrtf7gJoFQcxGuEBkboJ33EDxlGDPRBwLNBtCwYZHtB3CPD4jhgL8oC5jgkTunwY5gGhgQV+gvRTPMAeEuC2jbiX4gEjMgiSAUgMgC4fkUFQYmC1CHDTQtxPKwRYDcSNBR6gt03wxQyYSErkpxJ5Hxa4ab5ElR4ZXDcRD5bUGJSaBCgSYGueB/jIQP/HwCUDT2JQFgaiRIfLagyKDQKU6gRY4QFj6qLAFF1UrIsSEWAzoeaRn95+AUcSg2lzUBAGV69ygxlKskYh+7NNKWyuJMllYSAAxxk1j5yvEaBQQzxZVQO4FIA8GexIxvW0OXgQ4zpfRTxdU2NwUSXA2T3irsRgfWTC4lcOJj7+w/F7NnRns/Ac4mfRXQfgB66J/cYHJZXvAAAAAElFTkSuQmCC');
}

div.handsontable-container a.table-set-size:before {
    content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAASCAYAAABB7B6eAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAoJJREFUeNp8Vc1u00AQ/hyv7Tipm6RFoKKitqK9cC+8ACfEpUIKQjwA4iV4Ah4GLghRhDgVCU5I9IYigYRAFZD+hPhvd82MnSiOve5GEznr+f2+mYn19Cj7evsaBlGG2kkVIFqAZcF4MrJRmnTs+juPbD7/xljsb+DqcBvBpKLAPi/IuEMBWmgIQBLSV9cqnsunS9Lx4IgwRvo3AUwVTOleOhTgkgpiWehUT0w20wip6FN5m47ZwR9y0HcBuxpAh8D3J8jSn1CkI/w9YPU+0Lu3pLZGvoUkGJKsyKbGAd0l2lCBCuFevIOV/oDg35O30PIUabAIwLyx7xZnkOrCUVVkw31irSHaeF4iTEDBW9Jhn3kDtKmMrjBDJCl4zzW8OH1JED0C3E0ocQP29AMcK4ZTgbpNfsUkBcZEpjZAdJ7MyixDlKVYHz1AZg8w3nqPkBT68RtI/w5kvFBjG/adV8BEVjmwZm3Yd6okO8h2X1P2W1TdTVjURZ3BXq1NmYO8gjkH1QD8k+9jbeii7t2imfRCx9TJzEGLIYhpYqOKxFJBUrck9KzHL+Aeb0FOPuW6ZUmU2X5OtPAJosA0B6PHWAmPYV9/BnwbUhl9rLQHBM2yGq+SoGGOOjwHU8LwPK2THEQj2NEXCjSEdrcx2TmEtnYptdK8kc0/sleGBuH1wr6F15CBVWqdln8LgevVsucATKaxlXnh2cxBtsCxLMrZWWievYI8O6zpsKQaxnv2yfyK+bRWIdK9h9RZfrGu6ZN4+1CqXkGenGHdMgA5yTQDjpGkKwdI1g/gzpBqQAGrhJzd8G7A6/roF06ERcFM65qy40G87P+AW9I3RGBuPp5g/F+AAQDpuk9EsFME5QAAAABJRU5ErkJggg==');
}

div.handsontable-container a.table-size-generate:before {
    content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAUpJREFUeNqM080rBVEYx/EZ171Ici/dLJQVlhQLioWVP0BJujayuMrO1r9gpWwUW4mdnZSNkpRiYSMpiZSFvNT1Or5PfjenMWdy6tOcmTnzzPOceSaMoijwjBmc4SBIGTWx806Maf6Gd81n0fifABfowAAa0IZx3OAlKUDoKWFaGbRjE5e+EtwAOdX9pbfvohv3GMI5tuIBap25PbijMuYsuEo0a8gkZeAG+MCzcx4pqxLucIVbbPtKGMEontCKVfTgEMP6Iv067uPIynMzyKvuE2yopIru2eJrFJRlL7qwFFgGUocV5JBHE7LIOGvqdZzCvM3dPnjFOsp4UCmW7qezphLboz+NtIci+oL0Efo60cYiJt1FCaOgr5YY4FEbWfY83Kx2P/0p5HeD4hZQil0rYhmD1Wthyu9s2U2onW1Ts2hROx9XF30LMADs062W4M5GlwAAAABJRU5ErkJggg==');
}
div.handsontable-container a.table-size-close:before {
    content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAOlJREFUeNpi/P//PwMlgBGHAfpAHADEakAMUnALiNcD8WUMlSADkLAwEK/9jxusBGJBZD3omq/9JwwuA7EANgOQbX6IRSOy2DJ0A/TRFHICcTeSWAcQcwHxEyj/HxBrIhtQj2ZbN1QcRHdB2f1oaiqRDViKxcndSN7rxyK/ACTHBIsMLFH5HwcbVQxqQx2a6R1INvdB2b1oaiqQvaCLFohcaM4GaeZGC0R19GhciaThCRY/I4stwpYOBKGJhBA4D8R82AxggKawZVAnooN/UJv5kPXgykya0MykDg3tm9DMdJPY3Eg0AAgwADLqjYXP+eTBAAAAAElFTkSuQmCC');
}

div.handsontable-container .table-size {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255,255,255,0.8);
    z-index: 990;
}

div.handsontable-container .table-size-overlay {
    width: 200px;
    height: 100px;
    margin: 30% auto;
    padding: 20px;
    border-radius: 10px;
    background: #fff;
    -webkit-box-shadow: 0px 0px 13px 6px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 13px 6px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 13px 6px rgba(0, 0, 0, 0.15);
}

div.handsontable-container h2 {
    margin: 0;
    padding: 0;
}

div.handsontable-container input[type="text"] {
    border: 1px solid #d9d9d9;
    vertical-align: middle;
    width: 50px;
    display:block;
}

div.handsontable-container label {
    display: inline-block;
}

div.handsontable-container .btn {
    background: #343434;
    border: #343434 solid 1px;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    padding: 4px 5px;
    margin-top: 10px;
    text-decoration: none;
    text-align: left;
    min-width: 80px;
    position: relative;
    float: left;
    transition: color .1s ease;
}

div.handsontable-container .btn:hover {
    background: #4d4d4d;
}

div.handsontable-container .table-size-close {
    margin-right: 10px;
}

div.handsontable th {
    border-color: rgba(0, 0, 0, 0.05);
    background: #c9c8c8;
    color: #040303;
}

div.handsontable tr:first-child th,
div.handsontable tr:first-child td {
    border-top: 1px solid transparent;
}

div.handsontable td {
    border: rgba(0, 0, 0, 0.05) 1px solid;
    color: #6b6b6b;
}

div.handsontable td:first-child {
    border-color: rgba(0, 0, 0, 0.05);
}