{# Set the variable to the value of the field. #}
{% if object_position|render %}
{% set object_position = object_position.field_compo_combo_object_pos[0]['#markup'] %}
{% endif %}
<div class="media{% if object_position == 'right' %} media--reversed{% endif %}">
  <div class="media__object">
    {{ object }}
  </div>
  <div class="media__content">
    <div class="media__body">{{ content }}</div>
  </div>
</div>
