@import 'config';

.media {
  &__object {
    float: left;
    margin: 0 10px 10px 0;
  }
  &--reversed &__object {
    float: right;
    margin: 0 0 10px 10px;
  }
  &__content {
  }
  @include clear-floats;
}
