<ul class='feed_list'>
{% for item in google_post %}
  <li><a href="{{ item.url }}">{{ item.title }}</a></li>
{% endfor %}

<li><span id = "more_feeds"><a href="{{ google_post.more_url }}">{{ google_post.more_title }}</a></li>

</ul>
