{#
/**
 * @file
 * This template handles the output of the Site Status Message.
 *
 * Variables available:
 * - $message: The message to display.
 * - $link: An optional link to a page with more information.
 *
 * @ingroup themeable
 */
#}
<div id="site-status">
  <strong>{{ message }}</strong>{% if link %} {{ link }}{% endif %}
</div>
