{#
/**
 * @file
 * Default theme implementation for excluded modules information.
 *
 * Available variables:
 * - excluded_modules: List of machine readable names of modules excluded from
 *     update check
 * - settings_url: URL of update module settings page.
 *
 * @see template_preprocess_patchinfo_excluded_modules()
 *
 * @ingroup themeable
 */
#}
{% if excluded_modules %}
  <div class="patchinfo-excluded-modules">
    <strong>{{ 'Modules excluded from update check:'|t }}</strong>
    {{ excluded_modules }}
    <p>
      {{ "If you don't want to exclude one of these modules any longer, please update your <a href='@settings_url'>settings</a>."|t({'@settings_url': settings_url}) }}
    </p>
  </div>
{% endif %}
