{#
/**
 * @file
 * Default theme implementation for patch listing.
 *
 * Available variables:
 * - patches: List of patch information for a module and its submodules.
 * - is_core: TRUE, if the patches are in Drupal core. Otherwise FALSE.
 *
 * @see template_preprocess_patchinfo_patches()
 *
 * @ingroup themeable
 */
#}
{% if patches %}
  <div class="patchinfo-patches">
    <div class="patchinfo-patches-title">{{ 'Patches:'|t }}</div>
      {{ patches }}
    </div>
  </div>
{% endif %}
