/**
 * @file
 * Skin based on safe CSS file name: ultimenu--dark-white.
 */

.ultimenu--dark-white {
  background-color: #222;
}

.ultimenu--dark-white .ultimenu__flyout {
  background-color: #111;
}

.ultimenu--dark-white .ultimenu__link {
  border-top: 1px solid transparent;
  color: #eaeaea;
  z-index: 103; /* Above the flyout z-index: 102. */
}

/* @todo is-active https://www.drupal.org/node/2281785 */
.ultimenu--dark-white > li:hover > a,
/** Unfortunaly is-active is unreliable, it goes on scroll/ ajax. */
.ultimenu--dark-white .is-ultimenu-active,
.ultimenu--dark-white .is-active-trail > a {
  background-color: #111;
  border-top: 1px solid #777;
  color: #fff;
}

.ultimenu--dark-white .ultimenu__flyout {
  border-top: 1px solid #333;
}

/** 944px with 16px base font. */
@media only screen and (min-width: 59em) {
  .ultimenu--dark-white .block:first-child {
    float: left;
    width: 45%;
  }

  .ultimenu--dark-white .block:nth-child(2) {
    margin-left: 48%;
  }

  .ultimenu--hover.ultimenu--dark-white li:hover > .ultimenu__flyout,
  .ultimenu--hover.ultimenu--dark-white li a:focus + .ultimenu__flyout,
  .ultimenu--hover.ultimenu--dark-white li .ultimenu__flyout:focus-within {
    margin-top: -1px;
  }
}
