/**
 * @file
 * Skin based on safe CSS file name: ultimenu--top-right-header.
 */

.ultimenu--top-right-header {
  float: right;
}

.ultimenu--top-right-header .ultimenu__flyout {
  background-color: #eaeaea;
}

/** 944px with 16px base font. */
@media only screen and (min-width: 59em) {
  .ultimenu--orange .block {
    display: inline-block;
    vertical-align: top;
  }
}
