/**
 * @file
 * Skin based on safe CSS file name: ultimenu--htb-sliding.
 *
 * Sliding sample for horizontal-to-bottom orientation.
 */

/** 944px with 16px base font. */
@media only screen and (min-width: 59em) {

  #header .ultimenu--htb-sliding .ultimenu__flyout {
    min-width: 100%;
  }

  .ultimenu--htb-sliding .ultimenu__flyout {
    background: #fff;
    margin: 0;
    opacity: 1;
    padding: 0;
    top: 100%;
    visibility: visible;
  }

  .ultimenu--htb-sliding .ultimenu__flyout,
  .ultimenu--htb-sliding .ultimenu__region {
    max-height: 0;
    overflow: hidden;
    transition: max-height .25s ease-out;
  }

  .ultimenu--htb-sliding .ultimenu__region {
    visibility: hidden;
    padding: 30px 30px 0 30px;
    position: relative;
    transition: visibility .5s linear 0s, padding .25s ease-out, max-height .15s ease-out;
  }

  .ultimenu--htb-sliding > li:hover .ultimenu__flyout,
  .ultimenu--htb-sliding > li:hover .ultimenu__region {
    max-height: 620px;
    overflow: visible;
    visibility: visible;
    z-index: 99;
  }

  .ultimenu--htb-sliding > li:hover .ultimenu__region {
    padding-bottom: 30px;
  }
}
