{% if domain %}
  <div id="coral_talk_stream"></div>
  <script src="{{ domain }}/static/embed.js" async onload="
  Coral.Talk.render(document.getElementById('coral_talk_stream'), {
    talk: '{{ domain }}'
  });"></script>
{% endif %}
