.diba-carousel .carousel-indicators {
  margin-left: 0;
  justify-content: flex-start;
  bottom: 0;
  width: 35%;
  margin-right: 0;
  padding-left: 15px;
}
.diba-carousel .carousel-caption {
  left: 0;
  bottom: 0;
  top: 0;
  padding: 15px;
  width: 35%;
  text-align: left;
  background-image: url('../img/bg-transparent.png');
  background-repeat: repeat;
}
.diba-carousel .carousel-caption,
.diba-carousel .see-more-description,
.diba-carousel .caption-title,
.diba-carousel .caption-title a,
.diba-carousel .caption-title a:hover,
.diba-carousel .caption-title a:focus {
  color: #fff;
}
.diba-carousel .see-more-description:hover,
.diba-carousel .see-more-description:focus {
  text-decoration: underline;
}
