{#
/**
 * @file
 * Template for the unapproved comment notification.
 *
 * Available variables:
 * - comment: The comment entity.
 * - body: The comment body.
 *
 * @ingroup themeable
 */
#}
<p>A new comment is awaiting approval.</p>
{% if comment.get('field_ssf_rating').value is not empty %}
<p>Rating: {{ comment.get('field_ssf_rating').value }}</p>
{% endif %}
<p>Subject: {{ comment.getSubject }}</p>
<blockquote>{{ body }}</blockquote>
