{#
/**
 * @file
 * Default theme implementation to present Media reference revisions data.
 *
 * This template is used when viewing Media reference revisions pages.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_media_reference_revision()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('media_reference_revision') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
