#block-currencyconverterblock {
  background-color: white;
  border: transparent;
}
#block-currencyconverterblock::after {
  content: " ";
  clear: both;
  display: block;
}
#block-currencyconverterblock > h2 {
  font-size: 12px;
  font-family: 'Muli', sans-serif;
  margin-bottom: 5px;
}
#ConversionAmount {
  width: 100%;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
#block-currencyconverterblock label {
  font-size: 12px;
  font-family: 'Muli', sans-serif;
  margin-bottom: 5px;
}
#block-currencyconverterblock select {
  width: 100%;
}
#graphResult {
  display: none;
}
#edit-submission {
  display: block;
  float: right;
  background: #ff5733;
  font-size: 15px;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 6px 15px;
}
#edit-submission:hover {
  background: #c64225;
}
#result > div {
  clear: both;
  font-size: 16px;
  padding-top: 5%;
  font-weight: bold;
  color: green;
}
.axis path,
.axis line {
  fill: none;
  stroke: #777;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: 'Arial';
  font-size: 13px;
}
.tick {
  stroke-dasharray: 1, 2;
}
.bar {
  fill: FireBrick;
}

svg#genrateGraph {
  padding-left: 5px;
}
pre {
  font-family: Muli;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714px;
}
p {
  font-family: Muli;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}
blockquote {
  font-family: Muli;
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
}
h3 {
  font-family: Muli;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 15.4px;
}
h1 {
  font-family: Muli;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
}
