{#
/**
 * @file
 * Default theme implementation for a paragraphs dropbutton wrapper.
 *
 * Available variables:
 * - label: Contains the Add @title label - @title from paragraphs widget
 *  settings.
 * - children: Contains the child elements of the paragraphs dropbutton menu.
 *
 * @see template_preprocess()
 * @see template_preprocess_parade__paragraphs_dropbutton_wrapper()
 *
 * @ingroup themeable
 */
#}
{% if children %}
<div class="paragraphs-add_more-wrapper">
  <div class="paragraphs-add_more-label">
      {{ label }}
  </div>
  {% spaceless %}
    <div class="paragraphs-dropbutton-wrapper">
      {{ children }}
    </div>
  {% endspaceless %}
</div>
{% endif %}
