{#
/**
 * @file
 * TEXT BOXES paragraph
 */
#}
{%
set classes = [
'paragraph',
'paragraph--type--' ~ paragraph.bundle|clean_class,
view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
'columns-' ~ parade.columns|default('3')
]
%}

<div{{ attributes.addClass(classes) }}>
	<div class="paragraph-inner">
	    {{ content }}
	</div>
</div>
