{#
/**
 * @file
 * Default theme implementation for a paragraphs previewer modal content.
 *
 * @see template_preprocess()
 * @see template_preprocess_paragraphs_previewer_modal_content()
 *
 * @ingroup themeable
 */
#}
{% if paragraph %}
  {{ paragraph }}
{% else %}
  <p>{{ 'No preview available.'|t }}</p>
{% endif %}
