{#
/**
 * @file
 * Default theme implementation to webpay return.
 *
 * Available variables:
 * - token: the token Transaction ID.
 * - url: URL of webpay.
 */
#}
<form id="form-redirect-webpay" method="post" action="{{ url }}">
  <input type="hidden" name="token_ws" value="{{ token }}"/>
  <input type="submit" id="submit_go" value="Go"/>
</form>
