{#
/**
 * @file
 * Template for the failure page
 *
 * In the case that the transaction was not accepted by Transbank, this page
 * will be displayed.
 *
 * - int $order_id: order id.
 * - string $redirection: the url for redirect.
 * - string $title_redirection: the text for the redirection.
 */
#}

<strong>{% trans %}Failed Transaction{% endtrans %}</strong>
<table>
	<tr>
		<td>{% trans %}Purchase order number{% endtrans %}</td>
		<td>{{ order_id }}</td>
	</tr>
</table>
{% trans %}The possible reasons for this failure are{% endtrans %}:
<ul>
	<li>{% trans %}Error in credit/debit card details entered (date and/or security code). Please re-enter your details and try to make the purchase again{% endtrans %}</li>
  <li>{% trans %}Your credit/debit card does not have sufficient funds to complete the purchase{% endtrans %}</li>
  <li>{% trans %}Your credit/debit card has not yet been authorized by your bank{% endtrans %}</li>
  <li>{% trans %}If the problem persists please contact your bank{% endtrans %}</li>
</ul>
{#
<?php if($redirection):?>
	<a class="webpay-redirect-link" href="<?php print url($redirection);?>"><?php print $title_redirection;?></a>
<?php endif;?>
#}
