body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.password-strength {
  visibility: hidden;
}

.psv-content {
  display: flex;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.psv-content .layout-container {
  width: 550px;
  margin: 0;
  padding: 5vmin;
  display: flow-root;
  flex-direction: row;
}

.psv-content .psv-side {
  display: flex;
  flex-direction: row;
  width: calc(100vw - 550px);
  position: relative;
}

.poster {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.canvas-wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

canvas {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  width: 100%;
  height: 100%;
}
