{#
/**
* @file
* Default theme implementation to display paywall.
*
* Available variables:
* - message: The ID of the image style.
* - hidden_fields: An array of fields hidden by the paywall.
*
* @see template_preprocess_paywall()
*
* @ingroup themeable
*/
#}
<p>{{message}}</p>
