{#
/**
 * @file
 *
 * Empty product review page template.
 *
 * @ingroup themeable
 */
#}
<div class="product-review-empty-page">
  <p>{{ 'There are currently no reviews for this product.'|t }}</p>
</div>
