{#
/**
 * @file
 * Template for the product review notification emails.
 *
 * Available variables:
 * - review: The product review entity.
 * - product: The product entity.
 *
 * @ingroup themeable
 */
#}
<table style="margin: 15px 0 0 0; max-width: 768px; font-family: arial,sans-serif">
  <tbody>
  <tr>
    <td>
      {% block notification %}
        <p>{{ 'There is a new product review available for @product.'|t({'@product': product.label }) }}</p>
        <p><a href="{{ url('entity.commerce_product_review.edit_form', {'commerce_product_review': review.id}) }}" >{{ 'Follow this link to audit the review.'|t }}</a></p>
      {% endblock %}
    </td>
  </tr>
  </tbody>
</table>
