<div id="{{ html_id }}" class="image-browser{%if preview is not empty%} has-image{% endif %}">
  <input{{ attributes }}/>
  <div class="image-preview">{{ preview }}</div>
  <input type="button" value="{% trans %}Remove{% endtrans %}" class="image-remove button form-submit"/>
  <input type="button" value="{% trans %}Select{% endtrans %}" class="image-selector button form-submit"/>
</div>