{%
set classes = [
    'healthcheck-filter-list',
    'clearfix'
]
%}
<section class="{{ classes | join (' ') }}">
    <h4>Details:</h4>
    <label>Filter by category:</label>
    <ul>
        <li><a href="#" data-filter-tag="clear" class="healthcheck-filter">Clear Filters</a></li>
        {%- for item in list_items -%}
            <li>{{ item }}</li>
        {%- endfor -%}
        <li class="expand-collapse-all collapsed">Expand All</li>
    </ul>

</section>