{{ attach_library('partial/inspector') }}

<div class="partial-inspector">
  <h2>Template suggestions</h2>
  <ul>
    {% for key, value in theme_hook_suggestions  %}
      <li>{{ value }}</li>
    {% endfor %}
  </ul>

  <h2>Elements passed to the partial</h2>
  <ul>
    {% for key, value in context  %}
      <li>'{{ key }}' => "{{ value}}"</li>
    {% endfor %}
  </ul>
</div>

{% block content %}
{% endblock %}
