{% extends "@partial/inspector.html.twig" %}

{% block content %}
  Please create a template file named <span style="color: red; font-family: monospace;">partial--{{ name | replace({'_': "-"}) }}.html.twig</span> in your theme's <span style="font-family: monospace;">templates/partials/</span> folder.
{% endblock %}
