<!-- This file should primarily consist of HTML with a little bit of PHP. -->
<h1 class="ab-lefty">{{ 'AdBack : Configure your messages' |trans }}</h1>
<hr class="clear">

<div id="ab-full-app">
    <grid>
        <div col="5/6">
            <div id="ab-full-form"></div>
        </div>
        <div col="1/6">
            <div id="adb-sidebar-standalone"
                 data-reviewlink="https://www.drupal.org/project/adback_solution_to_adbloc"
                 data-supportlink="https://www.drupal.org/project/adback_solution_to_adblock">
            </div>
        </div>
    </grid>
</div>

<script src="https://www.adback.co/built/js/ab.js?2"></script>
<script type="text/javascript">
    window.onload = function () {
        if (typeof adbackjs === 'object') {
            adbackjs.init({
                token: '{{ access_token }}',
                url: 'https://www.adback.co/api/',
                language: '{{ locale }}',
                version: 2
            });
        } else {
            (function ($) {
                $("div[data-ab-graph]").each(function () {
                    $(this).append('{{ 'No data available, please <a href="%s">refresh domain</a>'|trans }}');
                });
            })(jQuery);
        }
    }
</script>
