<div {{ attributes.setAttribute('id', settings.wrapper_id).addClass('row', settings.wrapper_classes) }}>
  {% if content.main %}
    <{{ settings.wrappers.main }} class="columns medium-12">
      {{ content.main }}
    </{{ settings.wrappers.main }}>
  {% endif %}
</div>