/* Popup */
.bue-popup {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  font: 12px verdana;
  max-width: 95%;
  border: 1px solid #999;
  border-radius: 0.2em;
  background: #fff;
  color: #333;
  box-shadow: 0 0 0.6em #bbb;
  opacity: 0;
  transition: opacity 0.4s;
}
.bue-popup.on {
  visibility: visible;
  opacity: 1;
}
.bue-popup-head {
  cursor: move;
  border-bottom: 1px solid #bbb;
  border-radius: 0.2em 0.2em 0 0;
  background: #ddd;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset;
}
.bue-popup-close {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 0.4em;
  right: 0.4em;
  width: 1.6em;
  height: 1.6em;
  line-height: 1.4em;
  text-align: center;
  cursor: pointer;
  border: 1px solid #aaa;
  border-radius: 0.2em;
  text-decoration: none !important;
  color: inherit;
}
.bue-popup-close:before {
  content: '\00d7';
  font-size: 1.2em;
  line-height: 1.15em;
  font-weight: bold;
}
.bue-popup-close:hover {
  background-color: #fff;
  color: inherit;
}
.bue-popup-title {
  line-height: 1.4em;
  padding: 0.5em 2.4em 0.5em 0.6em;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.bue-popup-content {
  padding: 0.6em;
}
.bue-popup-overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 0.1;
}