{#
/**
 * @file
 * Better field descriptions theme implementation of a pure text description.
 *
 * Available variables:
 * - {{ label }}: The label of the description.
 * - {{ description }}: The description itself.
 */
#}
<div class="better-descriptions label">{{ label }}
  {% if required %}
    <legend>
      <span class="fieldset-legend js-form-required form-required"></span>
    </legend>
  {% endif %}
</div>
<div class="better-descriptions description">{{ description }}</div>
