{#
/**
 * @file
 * Renders a link to Amazon using the product title.
 *
 * Available variables:
 *  - title: The product title.
 *  - url: The product detail page URL including the Amazon associates tag.
 *  - item: The full return value from the APA API call.
 */
#}
<a {{ attributes }} href="{{ url }}">{{ title }}</a>
