{#
/**
 * @file
 * This is the snowflakes on/off button template file.
 *
 * There are no variables to work with, and 99% of all sites won't have the need to change the template at all.
 */
#}
<button class="snowflakes-onoff" title="{{ 'Toggle snowflakes'|t }}"></button>
