/**
 * @file
 *
 * See README.md with KNOWN ISSUES for details.
 */

.zooming {
  cursor: crosshair;
  position: relative;
}

.is-zooming--loading .is-zooming__zoomed .zooming {
  cursor: wait;
}

/**
 * Prevents zoomed images from being cropped due to `overlow: hidden` rule.
 * Add your own selector when the body has class `is-zooming` if the script
 * doesn't detect the expected parent selectors. Basically just add
 * `overflow: visible;` rule to those cropped/ hidden when in a zoomed state.
 * When the zoomed is closed, this class will be removed to not affect design.
 */
.is-zooming .is-zooming__zoomed,
.is-zooming [data-zooming-gallery] .is-zooming__zoomed,
.is-zooming .is-zooming__zoomed .slide__media,
.is-zooming .is-zooming__zoomed.box > .box__content {
  bottom: auto;
  display: block;
  float: none;
  height: auto !important;
  left: auto;
  margin: auto;
  overflow: visible;
  padding: 0;
  position: relative;
  right: auto;
  text-align: center;
  top: auto !important;
  width: 100%;
  z-index: 1000;
}

.is-zooming [data-zooming-gallery]::before {
  background-color: rgba(255, 255, 255, .9);
  bottom: 0;
  display: block;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  transition: background-color .4s;
  width: 100%;
  z-index: 997;
}

/** Hide distracting elements when the image is being zoomed. */
.is-zooming .is-zooming__zoomed .blazy__caption,
.is-zooming .is-zooming__zoomed .slide__caption,
.is-zooming .is-zooming__zoomed .media__icon {
  visibility: hidden;
}

/** Release aspect ratio on being zoomed. Note !important to override inline. */
.is-zooming .is-zooming__zoomed .media {
  height: auto;
  left: auto;
  margin: auto;
  overflow: visible;
  padding-bottom: 0 !important;
  position: relative;
  text-align: center;
  top: auto;
}

/** Zooming doesn't work with Slick due to both use transform rules. */
.is-zooming .slick--zooming .slick-list {
  overflow: visible;
}

/** Centering the image on being zoomed. */
.is-zooming .is-zooming__zoomed .zooming {
  display: inline-block;
  left: auto;
  margin: 0 auto;
  top: auto;
  vertical-align: middle;
}
