div.site-alert {
  width: 100%;
  font-weight: bold;
}

div.site-alert div.text {
  padding: 10px 10px 10px 50px;
  margin: 0px;
  font-size: 18px;
}

div.site-alert div.text p {
  margin: 0;
}

div.site-alert div.severity-low {
  background: #d9edf7;
  border: 1px solid #bce8f1;
  color: #31708f;
  background-image: url('icon-alert.png');
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: 1% 50%;
  margin-bottom: 1.5em;
}

div.site-alert div.severity-medium {
  background: #f3eaac;
  border: 1px solid #faebcc;
  color: #8a6d3b;
  background-image: url('icon-alert.png');
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: 1% 50%;
  margin-bottom: 1.5em;
}

div.site-alert div.severity-high {
  background: #f2dede;
  border: 1px solid #ebccd1;
  color: #a94442;
  background-image: url('icon-alert.png');
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: 1% 50%;
  margin-bottom: 1.5em;
}
