// Fortytwo admin variables.
$white: #FFFFFF;
$pale-grey: #EDF1f5;
$cool-grey: #95A5A6;
$tomato: #E74C3C;
$dark-three: #172434;
$dark-blue-grey: #223348;
$azure: #00A8F6;
$peachy-pink: #FD9674;
$black: #000000;
$amethyst: #9672D0;
$brownish-grey: #616161;
$pinkish-grey: #C7C7C7;
$dark-four: #1D2024;
$almost-black: #0F1215;

// Color profiles
$beeblebrox1: #4B4A4A;
$beeblebrox2: #f0f0f0;
$beeblebrox3: darken($beeblebrox1, 10);
$beeblebrox4: #f59d24;
