{#
/**
 * @file
 * Default theme implementation for follow link.
 *
 * Available variables:
 *  - url: The url of the page to be shared.
 *  - type: The type of link representation. Can be one of 'icon' or 'text'. Defaults to 'icon'.
 *  - icon: The icon class when using type 'icon'.
 *  - text: The link text when using type 'text'.
 *  - attributes: HTML attributes for the link element.
 */
#}
<a {{ attributes.setAttribute('href', url) }} >
{% if type is sameas('text') %}
  {{ text }}
{% else %}
  <i class="{{ icon }}"></i>
{% endif %}
</a>
