{#
/**
 * @file
 * Default theme implementation for share link.
 *
 * Available variables:
 *  - url: The url of the page to be shared.
 *  - type: The type of link representation. Can be one of 'icon' or 'text'. Defaults to 'icon'.
 *  - icon: The icon class when using type 'icon'.
 *  - text: The link text when using type 'text'.
 *  - attributes: HTML attributes for the link element.
 *  - script: Inline Javascript code related to the link.
 */
#}
<a {{ attributes }} >
{% if type is sameas('text') %}
  {{ text }}
{% else %}
  <i class="{{ icon }}"></i>
{% endif %}
</a>
{% block extra_content %}
  {% if script is not null %}
    <script type="text/javascript">{{ script | raw }}</script>
  {% endif %}
{% endblock %}
