@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawsome/fontawesome-webfont.eot?v=4.6.2");
  src: url("../fonts/fontawsome/fontawesome-webfont.eot?#iefix&v=4.6.2") format("embedded-opentype"), url("../fonts/fontawsome/fontawesome-webfont.woff2?v=4.6.2") format("woff2"), url("../fonts/fontawsome/fontawesome-webfont.woff?v=4.6.2") format("woff"), url("../fonts/fontawsome/fontawesome-webfont.ttf?v=4.6.2") format("truetype"), url("../fonts/fontawsome/fontawesome-webfont.svg?v=4.6.2#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 32, ../sass/zt_megamenu.scss */
.ztmmenu {
  clear: both;
}
/* line 34, ../sass/zt_megamenu.scss */
.ztmmenu h2 {
  color: #000;
  padding-left: 1em;
  padding-right: 1em;
  font-weight: bold;
  font-size: 1.122222em;
}
/* line 41, ../sass/zt_megamenu.scss */
.ztmmenu ul:not(:first-child) {
  list-style: none;
}
/* line 44, ../sass/zt_megamenu.scss */
.ztmmenu ul:not(:first-child) li a {
  display: block;
  padding: 0.755555em 1em;
  padding-right: 2em;
  text-decoration: none;
}
/* line 49, ../sass/zt_megamenu.scss */
.ztmmenu ul:not(:first-child) li a:not(.heading):hover {
  background: #833a96;
  color: white;
}
/* line 56, ../sass/zt_megamenu.scss */
.ztmmenu ul.ztmmenu-list {
  padding-left: 0;
}
/* line 58, ../sass/zt_megamenu.scss */
.ztmmenu ul.ztmmenu-list > li {
  display: inline-block;
  margin-right: 2%;
}
/* line 61, ../sass/zt_megamenu.scss */
.ztmmenu ul.ztmmenu-list > li > a {
  font-size: 1.3em;
  color: #fff;
}
/* line 65, ../sass/zt_megamenu.scss */
.ztmmenu ul.ztmmenu-list > li .wsmenu-submenu {
  background-color: white;
  min-height: 482px;
  display: none;
  position: absolute;
  z-index: 999;
  padding: 1em;
  padding-left: 0;
  padding-right: 0;
  left: 0;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  top: auto;
  margin-top: 4px;
}
/* line 79, ../sass/zt_megamenu.scss */
.ztmmenu ul.ztmmenu-list > li .wsmenu-submenu li.wsmenu-submenu-list-content .wsmenu-content {
  clear: both;
  background: #833a96;
  height: 480px;
  padding: 1em;
  width: 25%;
  position: absolute;
  left: 0px;
  top: 0;
}
@media (max-width: 992px) {
  /* line 79, ../sass/zt_megamenu.scss */
  .ztmmenu ul.ztmmenu-list > li .wsmenu-submenu li.wsmenu-submenu-list-content .wsmenu-content {
    width: 100%;
    position: static;
    height: auto;
  }
}
/* line 93, ../sass/zt_megamenu.scss */
.ztmmenu ul.ztmmenu-list > li .wsmenu-submenu li.wsmenu-submenu-list-content .wsmenu-content h2 {
  color: #fff;
  padding-left: 0;
  margin-top: 6px;
  padding-right: 0;
  margin-bottom: 23px;
}
/* line 100, ../sass/zt_megamenu.scss */
.ztmmenu ul.ztmmenu-list > li .wsmenu-submenu li.wsmenu-submenu-list-content .wsmenu-content img {
  max-width: 100%;
  height: 250px;
  margin-bottom: 10px;
}
/* line 105, ../sass/zt_megamenu.scss */
.ztmmenu ul.ztmmenu-list > li .wsmenu-submenu li.wsmenu-submenu-list-content .wsmenu-content p {
  color: #fff;
  text-align: justify;
}
/* line 109, ../sass/zt_megamenu.scss */
.ztmmenu ul.ztmmenu-list > li .wsmenu-submenu li.wsmenu-submenu-list-content .wsmenu-content a.readmore {
  padding: initial;
  border: 0;
  text-transform: uppercase;
  font-size: 0.9em;
  color: #fff;
}
/* line 115, ../sass/zt_megamenu.scss */
.ztmmenu ul.ztmmenu-list > li .wsmenu-submenu li.wsmenu-submenu-list-content .wsmenu-content a.readmore:after {
  content: "\f105";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  /*--adjust as necessary--*/
  color: #fff;
  font-size: 18px;
  padding-right: 0.5em;
  margin-left: 10px;
  top: 1px;
  position: relative;
}
/* line 130, ../sass/zt_megamenu.scss */
.ztmmenu ul.ztmmenu-list > li .wsmenu-submenu li.wsmenu-submenu-list-content .wsmenu-content:hover ul {
  display: block;
}
/* line 133, ../sass/zt_megamenu.scss */
.ztmmenu ul.ztmmenu-list > li .wsmenu-submenu li.wsmenu-submenu-list-content .wsmenu-content a {
  text-align: left;
  font-size: 0.9em !important;
  color: #fff !important;
}
/* line 139, ../sass/zt_megamenu.scss */
.ztmmenu ul.ztmmenu-list > li .wsmenu-submenu li.wsmenu-submenu-list-content > ul {
  height: 480px;
  padding: 1em;
  padding-left: 0;
  padding-right: 0;
  background: #fff;
  width: 25%;
  position: absolute;
  left: 25%;
  top: 0;
  margin-left: 2.05em;
}
@media (max-width: 992px) {
  /* line 139, ../sass/zt_megamenu.scss */
  .ztmmenu ul.ztmmenu-list > li .wsmenu-submenu li.wsmenu-submenu-list-content > ul {
    width: 100%;
    position: static;
    height: auto;
  }
}
/* line 156, ../sass/zt_megamenu.scss */
.ztmmenu ul.ztmmenu-list > li .wsmenu-submenu li.wsmenu-submenu-list-content > ul li.has_child > a {
  position: relative;
}
/* line 158, ../sass/zt_megamenu.scss */
.ztmmenu ul.ztmmenu-list > li .wsmenu-submenu li.wsmenu-submenu-list-content > ul li.has_child > a:after {
  content: "\f105";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  /*--adjust as necessary--*/
  color: #666;
  font-size: 18px;
  padding-right: 0.5em;
  position: absolute;
  top: 10px;
  right: 5px;
}
@media (max-width: 992px) {
  /* line 158, ../sass/zt_megamenu.scss */
  .ztmmenu ul.ztmmenu-list > li .wsmenu-submenu li.wsmenu-submenu-list-content > ul li.has_child > a:after {
    transform: rotate(90deg);
  }
}
/* line 176, ../sass/zt_megamenu.scss */
.ztmmenu ul.ztmmenu-list > li .wsmenu-submenu li.wsmenu-submenu-list-content > ul li.has_child ul {
  display: none;
}
/* line 180, ../sass/zt_megamenu.scss */
.ztmmenu ul.ztmmenu-list > li .wsmenu-submenu li.wsmenu-submenu-list-content > ul li.has_child:hover > ul {
  display: block;
}
/* line 185, ../sass/zt_megamenu.scss */
.ztmmenu ul.ztmmenu-list > li .wsmenu-submenu li.wsmenu-submenu-list-content > ul li.has_child.liactive > a {
  background-color: #833a96;
  color: white;
}
/* line 188, ../sass/zt_megamenu.scss */
.ztmmenu ul.ztmmenu-list > li .wsmenu-submenu li.wsmenu-submenu-list-content > ul li.has_child.liactive > a:after {
  color: white;
}
/* line 194, ../sass/zt_megamenu.scss */
.ztmmenu ul.ztmmenu-list > li .wsmenu-submenu li.wsmenu-submenu-list-content > ul > li > ul {
  background: #fff;
  border-left: 1px solid #cccccc;
  height: 480px;
  width: 100%;
  position: absolute;
  padding: 1em;
  padding-left: 0;
  padding-right: 0;
  left: 100%;
  top: 0;
}
@media (max-width: 992px) {
  /* line 194, ../sass/zt_megamenu.scss */
  .ztmmenu ul.ztmmenu-list > li .wsmenu-submenu li.wsmenu-submenu-list-content > ul > li > ul {
    width: 100%;
    position: static;
    height: auto;
  }
}
/* line 210, ../sass/zt_megamenu.scss */
.ztmmenu ul.ztmmenu-list > li .wsmenu-submenu li.wsmenu-submenu-list-content > ul > li > ul > li > ul {
  border-left: 1px solid #cccccc;
  background: #fff;
  height: 480px;
  padding-left: 0;
  width: 100%;
  position: absolute;
  left: 100%;
  top: 0;
}
@media (max-width: 992px) {
  /* line 210, ../sass/zt_megamenu.scss */
  .ztmmenu ul.ztmmenu-list > li .wsmenu-submenu li.wsmenu-submenu-list-content > ul > li > ul > li > ul {
    width: 100%;
    position: static;
    height: auto;
  }
}
/* line 224, ../sass/zt_megamenu.scss */
.ztmmenu ul.ztmmenu-list > li .wsmenu-submenu li.wsmenu-submenu-list-content > ul > li > ul > li > ul a:after {
  display: none;
}
