.moderation-state-selection-form--new-state-wrapper .fieldset-legend {
  font-weight: bold;
}

.moderation-state-selection-form--new-state-wrapper .fieldset-wrapper {
  margin: 1em 0;
}

.moderation-state-selection-form--new-state-wrapper .fieldset-wrapper > div {
  display: flex;
}

.moderation-state-selection-form--new-state-wrapper .form-item-new-state {
  flex: 1;
  margin-right: 1em;
}

.moderation-state-selection-form--new-state-wrapper .form-item-new-state:last-child {
  margin-right: 0;
}

.moderation-state-selection-form--new-state-wrapper .form-item-new-state input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.moderation-state-selection-form--new-state-wrapper .form-item-new-state label {
  border: 2px solid #b8b8b8;
  border-radius: 2px;
  display: block;
  margin: 1px 0;
  padding: 0.6em 1em;
  transition: border 400ms ease-out;
}

.moderation-state-selection-form--new-state-wrapper .form-item-new-state input[type="radio"]:disabled+label,
.moderation-state-selection-form--new-state-wrapper .form-item-new-state input[type="radio"]:disabled+label:hover {
  color: #b8b8b8;
  border-color: #b8b8b8;
}

.moderation-state-selection-form--new-state-wrapper .form-item-new-state label:hover,
.moderation-state-selection-form--new-state-wrapper .form-item-new-state input[type="radio"]:checked+label {
  border-color: #004adc;
}

.moderation-state-selection-form .form-submit {
  border: none;
  background-color: #004adc;
  padding: 1em 2em;
  color: #fff;
  font-weight: bold;
}
