#analog-digital-clock-ampm .clockdate-wrapper {
  background-color: #333;
  padding: 5px;
  max-width: 250px;
  width: 100%;
  text-align: center;
  border-radius: 5px;
  margin: 0 auto;
}
#analog-digital-clock-ampm  #clock {
  background-color: #333;
  font-family: sans-serif;
  font-size: 30px;
  text-shadow: 0px 0px 1px #fff;
  color: #fff;
}
#analog-digital-clock-ampm  #clock span {
  color: #888;
  text-shadow: 0px 0px 1px #333;
  font-size: 20px;
  position: relative;
  top: -10px;
  left: -3px;
}
#analog-digital-clock-ampm  #date {
  letter-spacing: 4px;
  font-size: 12px;
  font-family: arial,sans-serif;
  color: #fff;
}
.animated-clock {
  background: #333;
  padding: 10px;
  color: #fff;
  width: 230px;
  border-radius: 8px;
  margin: 0 auto;
}
#animated-clock-date {
  font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
  text-shadow: 1px 1px 1px #323232;
}
.animated-clock ul {
  padding: 0px;
  list-style: none;
  text-align: center;
  margin: 0;
  font-weight: bold;
}
.animated-clock ul li {
  display: inline;
  font-size: 30px;
  text-align: center;
  font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif;
  text-shadow: 1px 1px 5px #323232;
}
#animated-clock-points {
  position: relative;
  -moz-animation: mymove 1s ease infinite;
  -webkit-animation: mymove 1s ease infinite;
  padding-left: 10px;
  padding-right: 10px;
}
@-webkit-keyframes mymove {
  0% {
    opacity: 1.0;
    text-shadow: 0 0 20px #00c6ff;
  }
  50% {
    opacity: 0;
    text-shadow: none;
  }
  100% {
    opacity: 1.0;
    text-shadow: 0 0 20px #00c6ff;
  }
}
@-moz-keyframes mymove {
  0% {
    opacity: 1.0;
    text-shadow: 0 0 20px #00c6ff;
  }
  50% {
    opacity: 0;
    text-shadow: none;
  }
  100% {
    opacity: 1.0;
    text-shadow: 0 0 20px #00c6ff;
  }
}
