/**
 * @file commandbar.theme.css
 */

.commandbar-bar-form .form-submit {
  display: inline-block;
  padding: 0.2em 1.5em 0.2em 1.5em;
  padding:0.13em 1.3em;
  line-height: 1em;
  margin-left:-5px;
  font-size: 12px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-box-sizing: border-box;
  vertical-align: baseline;
  cursor: pointer;
  background-image: linear-gradient(to bottom, #F6F6F3, #E7E7DF);
  text-shadow: 0 1px rgba(255, 255, 255, 0.6);
  -moz-appearance: none;
  line-height: normal;
  position: relative;
  font-family: "Lucida Grande",Verdana,sans-serif;
  font-weight: normal;
}
/* @todo: Figure out what's causing this difference in spacing. Not padding, font size, line size. */
.page-admin .commandbar-bar-form .form-submit {
  padding:0.2em 1.4em;
}
.form-item-command .input-search {
  padding: 0.2em 1.5em 0.2em 0.8em;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  -moz-box-sizing: border-box;
  border-image: none;
  border-style: solid;
  border-width: 1px;
  color: #333333;
  max-width: 100%;
  border-radius: 0;
  border-bottom-left-radius: 0.9em;
  border-top-left-radius: 0.9em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.125) inset;
  font-size: 95%;
  font-family: inherit;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}
.commandbar-bar-form li.selected {
  background: none repeat scroll 0 0 rgba(101, 201, 255, 0.35) !important;
  color: inherit !important;
  cursor: pointer !important;
}
.form-item-command .input-search:focus {
  background-color: #FFFFFF;
  border-color: #40B6FF;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05) inset, 0 0 8px #40B6FF;
  outline: 0 none;
}
.commandbar-bar-form #autocomplete {
  display: block;
  z-index: 90;
  background: none repeat scroll 0 0 padding-box #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  padding-bottom: 5px;
  padding-top: 5px;
  margin-top: 2px;
  overflow: hidden;
  position: absolute;
  -moz-box-sizing: border-box;
}