/**
 * @file commandbar.base.css
 */

.toolbar .commandbar-bar-form {
  padding: 15px 0px 15px 17px;
  border-bottom: 1px solid rgb(221, 221, 221);
}
.form-item-command {
  display: inline-block;
  width: 150px;
}
.commandbar-bar-form #autocomplete {
  /* The only way to set this to override JavaScript inline styles is to add !important */
  width: 200px !important;
}
.commandbar-bar-form {
  border-bottom: 1px solid rgb(221, 221, 221);
}
.toolbar div.commandbar-item {
  border-top: 1px solid rgb(221, 221, 221);
  padding: 0.35em 1em;
}
.commandbar-bar-form ul li:first-child .commandbar-item {
  border-top: 0;
}
.commandbar-item .subtext {
  color: #595959;
  font-size: .75em;
  padding-top: .3em;
  text-overflow:ellipsis;
  white-space:nowrap;
  display: block;
  width: 180px;
  overflow: hidden;
}
.toolbar-horizontal .commandbar-item .subtext {
  width: 160px;
}
.toolbar-horizontal .commandbar-bar-form {
  float: right;
  width: 195px;
  border-bottom: 0px;
  padding: 0;
  padding-top: 2px;
}
.commandbar-bar-form #autocomplete li {
  float: none;
}
/* @todo: Remove this if we get commandbar into core and can adjust this. */
.toolbar .horizontal > .lining {
  padding-right: 4.2em !important;
}

/**
 * Horizontal version.
 */
.toolbar-horizontal .form-item-command {
  display: inline-block;
  width: inherit;
}
.toolbar-horizontal .form-item-command li {
}
.toolbar-horizontal .commandbar-bar-form #edit-command {
  width: 130px;
}
.toolbar-horizontal .commandbar-bar-form #edit-command {
  margin: 7px 0px 7px 10px;
}
.toolbar-horizontal .commandbar-bar-form #autocomplete {
  margin-left: 0px;
  max-height: 200px;
  overflow-y: auto;
  margin-top: 10px;
}