{#
/**
 * @file
 * Template for the gift card redemption form.
 *
 * Available variables:
 * - form: The form. 
 *
 * @ingroup themeable
 */
#}
{{ attach_library('commerce_admin_checkout/order-items-pane') }}
<div class="admin-order-items-form">
  <div class="order-items">
    {{ items }}
  </div>
  {{ form | without('items') }}
</div>

