{#
/**
 * @file
 * Template for the gift card redemption form.
 *
 * Available variables:
 * - form: The form. 
 *
 * @ingroup themeable
 */
#}
<div class="current-customer">
  <span class="label">{{ 'Current Customer' | t }}:</span> 
  <span class="customer">{{ form['#customer'] }}</span>
</div>
<div class="change-customer">
  <div class="label">{{ 'Change Customer' | t }}</div>
  {{ form }}
</div>


