{#
/**
 * @file
 * Thumbnail pattern.
 */
#}
<link rel="import"
      href="/modules/contrib/bt_polymer_components/polymer/bt-media-text-paragraph/bt-media-text-paragraph.html">
<bt-media-text-paragraph>
    <div slot="media">{{ media }}</div>
    <div slot="text">{{ text }}</div>
</bt-media-text-paragraph>
