{#
/**
 * @file
 * Default theme implementation to display a formatted Sirv image field.
 *
 * Available variables:
 * - image: A collection of image data.
 * - sirv_profile: An optional Sirv image profile.
 * - url: An optional URL the image can be linked to.
 *
 * @see template_preprocess_sirv_image_formatter()
 *
 * @ingroup themeable
 */
#}
{% if url %}
  <a href="{{ url }}">{{ image }}</a>
{% else %}
  {{ image }}
{% endif %}
