/*
 * @file
 * Provides the layout styles for layout_twocol.
 *
 * @todo Using display: flex requires https://www.drupal.org/node/2842298 to be
 * in before this can be marked as stable.
 */

.layout--twocol-50-50 {
    display: flex;
    justify-content: space-between;
}

.layout--twocol-50-50 > .layout__region.layout__region--first {
    width: calc(50% - 10px);
    margin-right: 10px;
}

.layout--twocol-50-50 > .layout__region.layout__region--second {
    width: calc(50% - 10px);
    margin-left: 10px;
}