div.json_dump {
  padding: 5px;
  margin: 5px;
}
.json_dump .string { color: green; }
.json_dump .number { color: darkorange; }
.json_dump .boolean { color: blue; }
.json_dump .null { color: magenta; }
.json_dump .key { color: red; }
/* taken from http://jsfiddle.net/KJQ9K/ */


