<span class="progress-title">Progress</span> <span class="quiz-time">Estimated Time of Completion: {{ time }} min</span>
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="{{ percent }}"
       aria-valuemin="0" aria-valuemax="100" style="width:{{ percent }}%">
    <span class="sr-only">&nbsp;</span>
  </div>
</div><span class="percent-done">{{ percent }}%</span>