{% if date %}
  <span class="nameday-date">
    {{ date }}
  </span>
{% endif %}

{% if name %}
  <span id="nameday">
    {{ name }}
  </span>
{% endif %}

{% if holiday %}
  <span id="holiday">
    {{ holiday }}
  </span>
{% endif %}
