<div class="listsorting">
  <span class="filterentry">
    <ui-select on-select="selectSortType($select.selected)" theme="select2" ng-model="sortType.selected" ng-disabled="false">
      <ui-select-match>{{$select.selected.key | translate}}</ui-select-match>
      <ui-select-choices repeat="sortType in sortTypes | filter: $select.search">
        <div class="name">{{sortType.key | translate}}</div>
      </ui-select-choices>
    </ui-select>
    </span>
  <span class="filterentry">
  <ui-select on-select="selectSortMode($select.selected)" theme="select2"   search-enabled="false" ng-model="sortMode.selected" ng-disabled="false">
    <ui-select-match><i class="{{$select.selected.icon}}"></i></ui-select-match>
    <ui-select-choices repeat="sortMode in sortModes | filter: $select.search">
      <div class="name"><i class="{{sortMode.icon}} icon"></i></div>
    </ui-select-choices>
  </ui-select>
  </span>
</div>