<div ng-controller="nodeFilter">
  <div class="nodeFilter-wrapper">
    <div class="activeNode">
      <i ng-if="selectedNodeName != null" ng-click="stepUp()" class="action-icon celum-icon-back"></i>
      <span class="nodeName" ng-mouseenter="showBreadcrumb();" ng-mouseleave="hideBreadcrumb();" ng-if="selectedNodeName != null">
      {{selectedNodeName}}
    </span>
      <i ng-if="selectedNodeName == null">&nbsp;</i>
      <span ng-if="selectedNodeName == null" class="nodeName" translate="TREE_ROOT"></span>
      <span class="loader" ng-class="{loading:isLoading()}"></span>
    </div>
    <div class="nodesList" ng-class="{nodeSelected: selectedNodeName != null}">
      <div ng-if="!isLoading() && data.length > 0" ng-repeat="node in data" ng-click="nodeClicked(node);" on-finish-render="ngRepeatFinished">
        <div class="name" ng-class="{hasChildren: node.hasChildren == true}">
          <span><i class="celum-icon-list" ng-if="node.hasChildren == true"></i>{{localizeNodeName(node)}}</span>
        </div>
      </div>
      <div ng-if="!isLoading() && data.length == 0" translate="TREE_EMPTY" class="empty-node"></div>
    </div>
  </div>
</div>