{% for tweet in params.tweets %}
  <div class="tweet-wrapper">
    <div class="tweet-profile-image">
      <img src='{{ tweet.user.profile_image_url }}'/>
    </div>
    <div class='tweet-text'>
      {# If hashtags will be in Tweets it will appear else nothing will show up. #}
      {# Other Tweets Information can be fetched like Followers, Status_count... #}
      <p>{{ tweet.text }} {{ tweet.created_at }} {{ tweet.entities.hashtags }}</p>
    </div>
  </div>
{% endfor %}