{#
/**
 * @file
 * Default theme implementation of the equivalency weight formatter.
 *
 * Available variables:
 * - rounded_weight: The rounded equivalency weight.
 * - weight: The equivalency weight.
 * - unit: The equivalency unit.
 * - over_limit: TRUE if the weight exceeds max allowable equivalency weight per order.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
  'equiv-weight',
  over_limit ? 'equiv-weight--over-limit'
]
%}
{% set attributes = create_attribute() %}
<div {{ attributes.addClass(classes) }} >
  {{ rounded_weight }}
</div>
