{#
/**
 * @file
 * Default theme implementation of the equivalency weight block.
 *
 * Available variables:
 * - weight: The equivalency weight.
 *
 * @ingroup themeable
 */
#}
<div class="equiv-weight equiv-weight-block">{{ weight|equiv_weight_format }}</div>
