{#
/**
 * @file zurb-twentytwenty.html.twig
 * Default theme implementation to present images formatted for Zurb TwentyTwenty.
 *
 * Available variables:
 * - images: Formatted images based on the field formatter options that were set.
 *
 * @ingroup themeable
 */
#}
<div class="twentytwenty-container">
  {{ images }}
</div>
