<h2>About</h2>
<p>The Simple Glossary module helps new guys to understand the jargon which always crops up when specialists talk about a topic. It remains a lightweight module withh all glossary functionality. Simple Glossary terms are represented with the description i.e. a short explanation of the terms.</p>

<h2>Uses</h2>   
<p>The Simple Glossary module greatly represents the user experience for those who regularly interact with the short terms in his website. It includes functionality to manage configurations of frontend view, upload csv of terms & alphabetical filters over the frontend. 
Please, any time you download a new version, use the "Clear Cache" button on the settings page or you may not see the new features for some time.</p>

<h2>Need Help</h2>
<a class="button" href="https://www.grazitti.com/services/web-development/platforms/drupal" target="_blank">Contact Us</a>