{#
/**
 * @file
 * Default theme implementation to display an image field with hover effects.

 * @see template_preprocess_image_hover_effects_responsive_image_formatter()
 */
#}
{% if url %}
  <a{{link_attributes}} href="{{ url }}">{{ responsive_image }}</a>
{% else %}
  {{ responsive_image }}
{% endif %}
