{#
/**
 * @file
 * Default theme implementation to vuetable_element.
 *
 * Available variables:
 * - sort: the name for query parameter of sort that sent to the REST server.
 * - page: the name for query parameter of page that sent to the REST server.
 * @ingroup themeable
 */
#}


<div id="app">
 <div class="ui container">
  <vuetable ref="vuetable"
      :api-url="url"
      :fields="fields"
      :css="css.table"
      :query-params="{ sort: '{{ sort }}', page: '{{ page }}', perPage: 'page_size'}"
      :append-params="moreParams"
      pagination-path=""
      @vuetable:pagination-data="onPaginationData"
    >
    <template slot="actions" scope="props">
    {# Buttons in table columns#}
    <div class="table-button-container">
        <button class="ui button" @click="editRow(props.rowData)"><i class="fa fa-edit"></i> Edit</button>&nbsp;&nbsp;
        <button class="ui basic red button" @click="deleteRow(props.rowData)"><i class="fa fa-remove"></i> Delete</button>&nbsp;&nbsp;
    </div>
</template>
    </vuetable>
    <vuetable-pagination ref="pagination"
      @vuetable-pagination:change-page="onChangePage"
      :css="css.pagination"
    ></vuetable-pagination>
    </div>
</div>