.status-code {
  background: white;
  display: flex;
  position: relative;
  max-height: 70vh;
}

.status-code .img {
  height: 100%;
}

.status-code img {
  height: 100%;
}

.status-code .msg {
  position: relative;
  top: 18vh;
  left: -5vw;
}

@media only screen and (max-width: 767px) {
  .status-code {
    display: block;
  }

  .status-code .msg {
    position: relative;
    top: unset;
    left: unset;
  }
}
