{#
/**
 * @file
 * Default theme implementation for a link to a Protected file.
 *
 * Available variables:
 * - entity: the entity the file belongs to.
 * - field_name; the field name which host the file.
 * - attributes: The HTML attributes for the containing element.
 * - link: A link to the file.
 * - icon: the icon which demonstrate if the file is protected or not.
 *
 * @see template_preprocess_protected_file_link()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('classy/file') }}
<span{{ attributes }}>{{ link }} {{ icon }}</span>
