{#
/**
 * @file
 * Theme implementation for a parade admin two column bricks layout.
 *
 * This template provides a layout with full with area at top, and two column
 * display with first, second area.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'layout',
    'layout--parade',
    'layout--parade-admin',
    'layout--parade-admin-twocol-bricks',
  ]
%}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    {% if content.top %}
      <div class="layout__region layout__region--top">
        {{ content.top }}
      </div>
    {% endif %}

    {% if content.first or content.second %}
      <div class="layout__region layout__region--bottom">
          {% if content.first %}
              <div class="layout__region layout__region--bottom-first">
                  {{ content.first }}
              </div>
          {% endif %}

          {% if content.second %}
              <div class="layout__region layout__region--bottom-second">
                  {{ content.second }}
              </div>
          {% endif %}
      </div>
    {% endif %}

  </div>
{% endif %}
