#mefibs-display-extender-blocks-wrapper a.mefibs-button-link {
  margin-right: 5px;
  line-height: auto;
}

#edit-mefibs-add-block .fieldset-wrapper .form-item,
#edit-mefibs-add-block .fieldset-wrapper .form-item label {
  float: left;
  line-height: 20px;
  margin: 0px 10px 0px 0px;
}

#edit-mefibs-add-block .fieldset-wrapper .form-item-mefibs-add-block-machine-name {
  clear: left;
}

#edit-mefibs-add-block .fieldset-wrapper .form-item-mefibs-add-block-machine-name input {
  width: 200px;
}

#edit-mefibs-add-block .fieldset-wrapper #edit-mefibs-blocks-add {
  line-height: 15px;
  margin-left: 0px;
}

#edit-mefibs-add-block a.mefibs-button-link {
  line-height: 20px;
  display: block;
}