
// COMPASS FRAMEWORK
@import "compass/css3";


// from bootstrap-sass
@mixin gradient-vertical($start-color: #555, $end-color: #333, $start-percent: 0%, $end-percent: 100%) {
  background-image: -webkit-linear-gradient(top, $start-color $start-percent, $end-color $end-percent);  // Safari 5.1-6, Chrome 10+
  background-image: -o-linear-gradient(top, $start-color $start-percent, $end-color $end-percent);  // Opera 12
  background-image: linear-gradient(to bottom, $start-color $start-percent, $end-color $end-percent); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=0); // IE9 and down
}
@mixin gradient-directional($start-color: #555, $end-color: #333, $deg: 45deg) {
  background-repeat: repeat-x;
  background-image: -webkit-linear-gradient($deg, $start-color, $end-color); // Safari 5.1-6, Chrome 10+
  background-image: -o-linear-gradient($deg, $start-color, $end-color); // Opera 12
  background-image: linear-gradient($deg, $start-color, $end-color); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
}

%verticalMiddle {
  position: absolute;
  top: 50%;
  @include translateY(-50%);
}

// Admin styles
#sooperthemes-gridstack-grid-stack-admin {
  margin-bottom: 30px;
  .grid-stack-item-content {
    background-color: lightgrey;
  }
}


// Live styles
.sooperthemes-gridstack-gridstack-live {
  .grid-stack-item {
    .grid-stack-item-content {
      right: 0;
      left: 0;
      overflow: hidden;
    }
    .sooperthemes-gridstack__content {
      width: 100%;
      height: 100%;
      @extend %verticalMiddle;
      .sooperthemes-gridstack__image {
        text-align: center;
        height: 100%;
        .sooperthemes-gridstack__img {
          background: no-repeat center;
          background-size: cover;
          height: 100%;
          width: 100%;
        }
      }
      .sooperthemes-gridstack__field-wrapper {
        position: absolute;
        bottom: 0;
        left: 0;
        padding-left: 3%;
        padding-bottom: 10px;
        color: white;
        a {
          color: white;
        }
        .sooperthemes-gridstack__category {
          background-color: rgba(0, 0, 0, 0.7);
          padding: 0 3px;
          margin-bottom: 15px;
          display: inline-block;
          text-align: center;
          text-transform: uppercase;
          &:hover {
            a {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

// Mobile hide


@media(max-width: 768px) {
  .sooperthemes-gridstack-util-hidemobile {
    display: none;
  }
}

// Special Effects Overrides

.sooperthemes-gridstack--zoom .sooperthemes-gridstack__img {
  @include transition(transform 0.3s ease);
  &:hover {
    @include scale(1.05);
  }
}

.sooperthemes-gridstack--dark {
  .sooperthemes-gridstack__img:before {
    @include gradient-vertical(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
    content: '';
    display: block;
    width: 100%;
    height: 100%;
  }
}

.sooperthemes-gridstack--light {
  .sooperthemes-gridstack__img:before {
    @include gradient-vertical(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.7));
    content: '';
    display: block;
    width: 100%;
    height: 100%;
  }
}

.sooperthemes-gridstack--rainbow {
  .grid-stack .grid-stack-item {
    .sooperthemes-gridstack__content {
      .sooperthemes-gridstack__img:before {
        background: #4db2ec;
        @include gradient-directional(#4db2ec 0%, #4a8f5e 100%);
        opacity: 0.8;
        content: '';
        display: block;
        width: 100%;
        height: 100%;
      }
      .sooperthemes-gridstack__field-wrapper {
        position: absolute;
        top: 0;
        bottom: initial;
        padding-left: 3%;
        padding-top: 10px;
        .sooperthemes-gridstack__category {
          background-color: rgba(0, 0, 0, 0.2);
        }
      }
    }
    &:nth-child(2) {
      .sooperthemes-gridstack__img:before {
        background: #4db2ec;
        @include gradient-directional(rgba(244, 208, 63, 0.97) 0%, #f27a35 100%, 135deg);
        opacity: 0.8;
      }
    }
    &:nth-child(3) {
      .sooperthemes-gridstack__img:before {
        background: #4db2ec;
        @include gradient-directional( #d17646 0%, #c63939 100%);
        opacity: 0.8;
      }
    }
    &:nth-child(4) {
      .sooperthemes-gridstack__img:before {
        background: #4db2ec;
        @include gradient-directional(#d760b7 0%, #3b78b4 100%, 135deg);
        opacity: 0.8;
      }
    }
    &:nth-child(5) {
      .sooperthemes-gridstack__img:before {
        background: #4db2ec;
        @include gradient-directional(#4db2ec 0%, #4a8f5e 100%);
        opacity: 0.8;
      }
    }
    &:nth-child(6) {
      .sooperthemes-gridstack__img:before {
        background: #4db2ec;
        @include gradient-directional(#d760b7 0%, #3b78b4 100%, 135deg);
        opacity: 0.8;
      }
    }
    &:nth-child(6) {
      .sooperthemes-gridstack__img:before {
        background: #4db2ec;
        @include gradient-directional(#b0b43b 0%, rgba(145, 96, 81, 0.97) 100%, 135deg);
        opacity: 0.8;
      }
    }
  }
}