{% for key, value in course %}

<div class="views-row">
<article data-history-node-id="5" data-quickedit-entity-id="node/5" role="article" class="contextual-region node node--type-article node--promoted node--view-mode-teaser clearfix" about="/drupal/node/5" typeof="schema:Article" data-quickedit-entity-instance-id="0">
  <header>

          <h2 class="node__title">
        <a href="/" rel="bookmark"><span property="schema:name" data-quickedit-field-id="node/5/title/en/teaser" class="field field--name-title field--type-string field--label-hidden quickedit-field">{{ value.fullname}}</span>
</a>
      </h2>
        <div data-contextual-id="node:node=5:changed=1543225646&amp;langcode=en" data-contextual-token="lsC3J07oyJfBYtjVT269ybmRiL2kzXLqXg2MtUZaWOg" class="contextual" role="form" style="top: 32px;"><button class="trigger focusable visually-hidden" type="button" aria-pressed="false">Open Taxonomy Based Visibility Category Demo1 configuration options</button><ul class="contextual-links" hidden=""><li class="quickedit"><a href="" role="button" aria-pressed="false">Quick edit</a></li><li class="entitynodeedit-form"><a href="/drupal/node/5/edit?destination=/drupal/content-list">Edit</a></li><li class="entitynodedelete-form"><a href="/drupal/node/5/delete?destination=/drupal/content-list">Delete</a></li></ul></div>  <span property="schema:name" content="Taxonomy Based Visibility Category Demo1" class="rdf-meta hidden"></span>
  <span property="schema:interactionCount" content="UserComments:0" class="rdf-meta hidden"></span>

          <div class="node__meta">


      </div>
      </header>
  <div class="node__content clearfix">
      <div class="node__links">
    <ul class="links inline"><li class="node-readmore"><a href="/drupal/node/5" rel="tag" title="Taxonomy Based Visibility Category Demo1" hreflang="en">Read more<span class="visually-hidden"> about Taxonomy Based Visibility Category Demo1</span></a></li><li class="comment-add"></li></ul>  </div>

  <div data-quickedit-field-id="node/5/field_description/en/teaser" class="clearfix text-formatted field field--name-field-description field--type-text-with-summary field--label-above quickedit-field">
    <div class="field__label">Description</div>
          <div class="field__items">
              <div class="field__item"><p>{{ value.summary}}</p>
</div>
              </div>
      </div>




  </div>
</article>
</div>
{% endfor %}




