<?php
/**
 * @file
 * This file provides the template for the countdown event module block.
 *
 * Author: Mark Collins
 */
?>
<div id="countdown-event-clock-holder">
  <noscript>You must enable javascript in your browser to view the countdown.
  </noscript>
  {% if expired %}
    <p class="countdown-event-expired">Event has been expired.</p>
  {% else %}
    <p>
      <span id="label_msg">COUNTDOWN: </span>
      <span class="countdownDisplay">DAYS</span>
      <span id="countdownDays"></span>
      <span class="countdownDisplay">HRS</span>
      <span id="countdownHrs"></span>
      <span class="countdownDisplay">MINS</span>
      <span id="countdownMins"></span>
      <span class="countdownDisplay">SECS</span>
      <span id="countdownSecs"></span>
    </p>
  {% endif %}
</div>
