{#
/**
 * @file role_watchdog.html.twig
 * Default theme implementation to present Role Watchdog data.
 *
 * This template is used when viewing Role Watchdog pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_role_watchdog()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('role_watchdog') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
