body.flyout-menu-mobile.flyout-menu {
  --mobile-width: 20em;
  --background-color: #4a4a4a;
  --link-color: #ffffff;
  --border-color: #ffffff;
}

body.flyout-menu-mobile.flyout-menu {
  transition: transform 0.25s;
}

body.flyout-menu-mobile.flyout-menu .flyout-menu-block {
  position: absolute;
  top: 0;
  width: var(--mobile-width);
  height: 100vh;
  background-color: var(--background-color);
  z-index: 99;
}

body.flyout-menu-mobile.flyout-menu .flyout-menu-block .flyout-menu {
  list-style: none;
  padding: 0;
  margin: 1em 2em;
}

body.flyout-menu-mobile.flyout-menu .flyout-menu-block .flyout-menu li {
  border-bottom: 1px solid var(--border-color);
  padding: 0.75em 0;
}
body.flyout-menu-mobile.flyout-menu .flyout-menu-block .flyout-menu li:last-child {
  border-bottom: 0;
}
body.flyout-menu .flyout-menu-block .flyout-menu li .sub-menu-toggle {
  display: none;
  clear: both;
  float: right;
  cursor: pointer;
}
body.flyout-menu-mobile.flyout-menu .flyout-menu-block .flyout-menu li .sub-menu-toggle {
  display: block;
}
body.flyout-menu .flyout-menu-block .flyout-menu li .sub-menu-toggle svg {
  fill: var(--link-color);
}

body.flyout-menu-mobile.flyout-menu .flyout-menu-block .flyout-menu li a {
  color: var(--link-color);
  text-decoration: none;
}

body.flyout-menu-mobile.flyout-menu .flyout-menu-block .flyout-menu .sub-menu {
  display: none;
  list-style: none;
  padding: 0;
  margin-left: 2em;
  margin-bottom: 1em;
}

body.flyout-menu-mobile.flyout-menu .flyout-menu-block .flyout-menu .sub-menu li {
  border-bottom: 0;
  padding: 0.25em 0;
}

body.flyout-menu-mobile.flyout-menu .flyout-menu-block .flyout-menu li.sub-menu-open .sub-menu-toggle {
  transform: rotate(90deg);
}

body.flyout-menu-mobile.flyout-menu .flyout-menu-block .flyout-menu li.sub-menu-open .sub-menu {
  display: block;
}

body.flyout-menu-mobile.flyout-menu.flyout-menu-left .flyout-menu-block {
  left: calc(var(--mobile-width) * -1);
}
body.flyout-menu-mobile.flyout-menu.flyout-menu-right .flyout-menu-block {
  right: calc(var(--mobile-width) * -1);
}

body.flyout-menu-mobile.flyout-menu.flyout-menu-open {
  transform: translateX(calc(var(--mobile-width) * -1));
  overflow: hidden;
}
