{#
/**
 * @file prefetcher_uri.html.twig
 * Default theme implementation to present Prefetcher uri data.
 *
 * This template is used when viewing Prefetcher uri pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_prefetcher_uri()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('prefetcher_uri') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
