# How to run PHPStan
#   1. $ cd your_Drupal_8_root
#   2. $ composer require mglaman/phpstan-drupal --dev
#   4. $ vendor/bin/phpstan analyze --level 4 web/modules/contrib/nagios
parameters:
  autoload_files:
    - web/modules/contrib/nagios/nagios.module
  fileExtensions:
    - php
    - module
    - inc
    - install
  excludes_analyse:
    - *Test.php
    - *.api.php

  ignoreErrors:
    - '#\Drupal calls should be avoided in classes, use dependency injection instead#'

includes:
  - ../../../../vendor/mglaman/phpstan-drupal/extension.neon
