{#
/**
 * @file
 * Default theme implementation to display the contest terms and conditions.
 *
 * Variables available:
 * - data (object)
 * - - title (string)
 * - - tnc (string)
 */
#}
<div id="contest-tnc-wrapper">
  <fieldset>
    <legend><a href="#" id="contest-tnc-toggle">{{ data.title }}<span class="contest-raquo">&raquo;</span></a></legend>
    <div id="contest-tnc">
      {{ data.tnc|raw }}
    </div>
  </fieldset>
</div>
