{#
/**
 * @file
 * Default theme implementation for a forecast template.
 *
 * Available variables:
 * - title: The title.
 * - items: An array of items.
 * - item_classes: An array of classes to be used with the items.
 *
 * @ingroup themeable
 */
#}
<div class="weathercomau-forecast">
  <h3 class="weathercomau-forecast__title">{{ title }}</h3>
  {% for key, item in items %}
    <div class="{{ items_classes[key] }}">
      {{ item }}
    </div>
  {% endfor %}
</div>
