{#
/**
 * @file
 * Default theme implementation for a current conditions template.
 *
 * Available variables:
 * - title: The title.
 * - items: An array of items. Each item contains:
 *   - name: The name.
 *   - value: The value.
 * - item_classes: An array of classes to be used with the items.
 *
 * @ingroup themeable
 */
#}
<div class="weathercomau-current-conditions">
  <h3 class="weathercomau-current-conditions__title">{{ title }}</h3>
  {% for key, item in items %}
    <div class="{{ items_classes[key] }}">
      <strong>{{ item.name }}</strong> {{ item.value }}
    </div>
  {% endfor %}
</div>
