{#
/**
 * @file
 * Default theme implementation for a widget block.
 *
 * Available variables:
 * - display_current_conditions: A flag indicating if the current conditions
 *   should be displayed.
 * - current_conditions: (optional) The current conditions.
 * - display_forecast: A flag indicating if the forecast should be displayed.
 * - forecast: (optional) The forecast.
 * - credits: The credits.
 *
 * @ingroup themeable
 */
#}
<div class="weathercomau-widget">
  {% if display_current_conditions %}
    {{ current_conditions }}
  {% endif %}

  {% if display_forecast %}
    {{ forecast }}
  {% endif %}

  <div class="weathercomau-credits">
    {{ credits }}
  </div>
</div>
