<div class="chatroom-user-list-container" data-cid="{{ chatroom.cid.value }}">
  <h3 class="chatroom-user-list-title">{% trans %}On-line users{% endtrans %}</h3>

  <div class="chatroom-user-list">
  </div>
</div>
