<div class="chatroom-message new-message" data-cmid="{{ cmid }}">
  <span class="chatroom-message-date">{{ timestamp }}</span>
  <span class="chatroom-message-username">{{ username }}</span>:
  <span class="chatroom-message-text">{{ message }}</span>
 </div>
