#opigno-moxtra-settings-form {
  font-family: 'Source Sans Pro', sans-serif;
}

.opigno-moxtra-settings-form {
  background-color: #f7f6f6;
}

#opigno-moxtra-settings-form #edit-left,
#opigno-moxtra-settings-form #edit-right {
  padding: 2rem;
}

#opigno-moxtra-settings-form #edit-left {
  text-align: center;
}

#opigno-moxtra-settings-form .amount {
  display: block;
  font-size: 80px;
  font-weight: 700;
  color: #95d5f4;
  line-height: 1;
}

#opigno-moxtra-settings-form .unit {
  display: block;
  font-size: 21px;
  color: #585857;
}

#opigno-moxtra-settings-form ul {
  margin: 2rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}

#opigno-moxtra-settings-form .trial {
  display: block;
  color: #000;
  font-weight: 600;
}

#opigno-moxtra-settings-form .try {
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  background: 0;
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: 1rem center;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMC4yMyAzMC4yMyI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOiM0YTRhNDk7fS5jbHMtMntmb250LXNpemU6Ni4zMXB4O2ZpbGw6I2ZmZjtmb250LWZhbWlseTpPcGVuU2Fucy1FeHRyYWJvbGQsIE9wZW4gU2Fucztmb250LXdlaWdodDo3MDA7fTwvc3R5bGU+PC9kZWZzPjx0aXRsZT4zMC1kYXlzPC90aXRsZT48ZyBpZD0iQ2FscXVlXzIiIGRhdGEtbmFtZT0iQ2FscXVlIDIiPjxnIGlkPSJDYWxxdWVfMS0yIiBkYXRhLW5hbWU9IkNhbHF1ZSAxIj48cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik0yOC43Myw5LjlhMi42NCwyLjY0LDAsMCwwLTEuNjEtMy4wNiw1LjExLDUuMTEsMCwwLDEtMi44Mi0zLDIuNjUsMi42NSwwLDAsMC0yLjkzLTEuODUsNS4xNCw1LjE0LDAsMCwxLTQtMS4yM0EyLjY0LDIuNjQsMCwwLDAsMTQsLjU4YTUuMTUsNS4xNSwwLDAsMS00LC45MkEyLjY0LDIuNjQsMCwwLDAsNi44NCwzLjExYTUuMTQsNS4xNCwwLDAsMS0zLDIuODJBMi42NCwyLjY0LDAsMCwwLDEuOTQsOC44NmE1LjEsNS4xLDAsMCwxLTEuMjMsNCwyLjY2LDIuNjYsMCwwLDAtLjEzLDMuNDYsNS4xNSw1LjE1LDAsMCwxLC45Miw0LDIuNjQsMi42NCwwLDAsMCwxLjYxLDMuMDYsNS4xMSw1LjExLDAsMCwxLDIuODIsMy4wNSwyLjY0LDIuNjQsMCwwLDAsMi45MywxLjg1LDUuMTQsNS4xNCwwLDAsMSw0LDEuMjIsMi42NSwyLjY1LDAsMCwwLDMuNDYuMTQsNS4xNSw1LjE1LDAsMCwxLDQtLjkyLDIuNjQsMi42NCwwLDAsMCwzLjA2LTEuNjEsNS4wOSw1LjA5LDAsMCwxLDMuMDUtMi44MiwyLjY1LDIuNjUsMCwwLDAsMS44NS0yLjkzLDUuMTcsNS4xNywwLDAsMSwxLjIyLTRBMi42MywyLjYzLDAsMCwwLDI5LjY1LDE0LDUuMTUsNS4xNSwwLDAsMSwyOC43Myw5LjlabS4xOSw3LjQ1YTQuNzksNC43OSwwLDAsMC0xLjE2LDMuNzNBMi41OCwyLjU4LDAsMCwxLDI2LDI0YTQuODMsNC44MywwLDAsMC0yLjg2LDIuNjUsMi41OCwyLjU4LDAsMCwxLTMsMS41OSw0LjIsNC4yLDAsMCwwLTIsMCw0LjM4LDQuMzgsMCwwLDAtMS44Mi44MywyLjM2LDIuMzYsMCwwLDEtMSwuNSwyLjU4LDIuNTgsMCwwLDEtMi4zNi0uNjMsNC43OSw0Ljc5LDAsMCwwLTMuNzMtMS4xNkEyLjU4LDIuNTgsMCwwLDEsNi4yOCwyNmE0LjgzLDQuODMsMCwwLDAtMi42NS0yLjg2LDIuNiwyLjYsMCwwLDEtMS41OS0zLDQuOCw0LjgsMCwwLDAtLjg2LTMuODEsMi41OSwyLjU5LDAsMCwxLC4xMy0zLjM5QTQuNzksNC43OSwwLDAsMCwyLjQ3LDkuMTUsMi41OCwyLjU4LDAsMCwxLDQuMjgsNi4yOCw0LjgzLDQuODMsMCwwLDAsNy4xNCwzLjYzYTIuNTgsMi41OCwwLDAsMSwzLTEuNTksNC4yLDQuMiwwLDAsMCwyLDBBNC40NCw0LjQ0LDAsMCwwLDE0LDEuMThhMi4zNiwyLjM2LDAsMCwxLDEtLjUsMi41NiwyLjU2LDAsMCwxLDIuMzYuNjMsNC44Myw0LjgzLDAsMCwwLDMuNzMsMS4xNkEyLjU4LDIuNTgsMCwwLDEsMjQsNC4yOCw0LjgzLDQuODMsMCwwLDAsMjYuNiw3LjE0YTIuNiwyLjYsMCwwLDEsMS41OSwzQTQuOCw0LjgsMCwwLDAsMjkuMDUsMTQsMi41OSwyLjU5LDAsMCwxLDI4LjkyLDE3LjM1WiIvPjxwYXRoIGNsYXNzPSJjbHMtMSIgZD0iTTI4LjA1LDEwLjExYTIuNDQsMi40NCwwLDAsMC0xLjUtMi44NCw1LDUsMCwwLDEtMi43My0zQTIuNDUsMi40NSwwLDAsMCwyMS4xLDIuNmE1LDUsMCwwLDEtMy44NS0xLjE5QTIuNDYsMi40NiwwLDAsMCwxNCwxLjI4YTQuNDUsNC40NSwwLDAsMS0xLjg3Ljg3LDQuNzksNC43OSwwLDAsMS0yLjA2LDBBMi4xOSwyLjE5LDAsMCwwLDksMi4xN2EyLjQ0LDIuNDQsMCwwLDAtMS43NiwxLjVBNSw1LDAsMCwxLDQuMzIsNi40MSwyLjQ1LDIuNDUsMCwwLDAsMi42LDkuMTMsNSw1LDAsMCwxLDEuNDEsMTNhMi40NSwyLjQ1LDAsMCwwLS4xMywzLjIxLDUsNSwwLDAsMSwuOSwzLjkyQTIuNDUsMi40NSwwLDAsMCwzLjY3LDIzYTUsNSwwLDAsMSwyLjc0LDIuOTUsMi40NiwyLjQ2LDAsMCwwLDIuNzIsMS43MkE1LDUsMCwwLDEsMTMsMjguODJhMi40NSwyLjQ1LDAsMCwwLDIuMjMuNiwyLjM3LDIuMzcsMCwwLDAsMS0uNDgsNC41Nyw0LjU3LDAsMCwxLDEuODctLjg2aDBhNC40Niw0LjQ2LDAsMCwxLDIuMDUsMCwyLjIzLDIuMjMsMCwwLDAsMS4wOSwwQTIuNDYsMi40NiwwLDAsMCwyMywyNi41NmE1LDUsMCwwLDEsMi45NS0yLjc0LDIuNDYsMi40NiwwLDAsMCwxLjcyLTIuNzIsNSw1LDAsMCwxLDEuMTktMy44NUEyLjQ1LDIuNDUsMCwwLDAsMjguOTQsMTQsNSw1LDAsMCwxLDI4LjA1LDEwLjExWiIvPjx0ZXh0IGNsYXNzPSJjbHMtMiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTEuMTMgMTQuMzMpIHJvdGF0ZSgtMTIuNzgpIj4zMDx0c3BhbiB4PSItNC44MyIgeT0iNi44OSI+REFZUzwvdHNwYW4+PC90ZXh0PjwvZz48L2c+PC9zdmc+");
  border: 0;
  border-top: 1px solid #58585a;
  border-bottom: 1px solid #58585a;
  color: #58585a;
  margin: 0;
  margin-top: 2rem;
  padding: .25em 1em;
  padding-left: 62px;
  padding-right: 20px;
  height: 50px;
  line-height: normal;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}

#opigno-moxtra-settings-form .try:hover {
  background-color: #5aa449;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMC4yMyAzMC4yMyI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOiNmZmY7fTwvc3R5bGU+PC9kZWZzPjx0aXRsZT50cnktaG92ZXI8L3RpdGxlPjxnIGlkPSJDYWxxdWVfMiIgZGF0YS1uYW1lPSJDYWxxdWUgMiI+PGcgaWQ9IkNhbHF1ZV8xLTIiIGRhdGEtbmFtZT0iQ2FscXVlIDEiPjxwYXRoIGNsYXNzPSJjbHMtMSIgZD0iTTI4LjczLDkuOWEyLjY0LDIuNjQsMCwwLDAtMS42MS0zLjA2LDUuMTEsNS4xMSwwLDAsMS0yLjgyLTMsMi42NSwyLjY1LDAsMCwwLTIuOTMtMS44NSw1LjE0LDUuMTQsMCwwLDEtNC0xLjIzQTIuNjQsMi42NCwwLDAsMCwxNCwuNThhNS4xNSw1LjE1LDAsMCwxLTQsLjkyQTIuNjQsMi42NCwwLDAsMCw2Ljg0LDMuMTFhNS4xNCw1LjE0LDAsMCwxLTMsMi44MkEyLjY0LDIuNjQsMCwwLDAsMS45NCw4Ljg2YTUuMSw1LjEsMCwwLDEtMS4yMyw0LDIuNjYsMi42NiwwLDAsMC0uMTMsMy40Niw1LjE1LDUuMTUsMCwwLDEsLjkyLDQsMi42NCwyLjY0LDAsMCwwLDEuNjEsMy4wNiw1LjExLDUuMTEsMCwwLDEsMi44MiwzLjA1LDIuNjQsMi42NCwwLDAsMCwyLjkzLDEuODUsNS4xNCw1LjE0LDAsMCwxLDQsMS4yMiwyLjY1LDIuNjUsMCwwLDAsMy40Ni4xNCw1LjE1LDUuMTUsMCwwLDEsNC0uOTIsMi42NCwyLjY0LDAsMCwwLDMuMDYtMS42MSw1LjA5LDUuMDksMCwwLDEsMy4wNS0yLjgyLDIuNjUsMi42NSwwLDAsMCwxLjg1LTIuOTMsNS4xNyw1LjE3LDAsMCwxLDEuMjItNEEyLjYzLDIuNjMsMCwwLDAsMjkuNjUsMTQsNS4xNSw1LjE1LDAsMCwxLDI4LjczLDkuOVptLjE5LDcuNDVhNC43OSw0Ljc5LDAsMCwwLTEuMTYsMy43M0EyLjU4LDIuNTgsMCwwLDEsMjYsMjRhNC44Myw0LjgzLDAsMCwwLTIuODYsMi42NSwyLjU4LDIuNTgsMCwwLDEtMywxLjU5LDQuMiw0LjIsMCwwLDAtMiwwLDQuMzgsNC4zOCwwLDAsMC0xLjgyLjgzLDIuMzYsMi4zNiwwLDAsMS0xLC41LDIuNTgsMi41OCwwLDAsMS0yLjM2LS42Myw0Ljc5LDQuNzksMCwwLDAtMy43My0xLjE2QTIuNTgsMi41OCwwLDAsMSw2LjI4LDI2YTQuODMsNC44MywwLDAsMC0yLjY1LTIuODYsMi42LDIuNiwwLDAsMS0xLjU5LTMsNC44LDQuOCwwLDAsMC0uODYtMy44MSwyLjU5LDIuNTksMCwwLDEsLjEzLTMuMzlBNC43OSw0Ljc5LDAsMCwwLDIuNDcsOS4xNSwyLjU4LDIuNTgsMCwwLDEsNC4yOCw2LjI4LDQuODMsNC44MywwLDAsMCw3LjE0LDMuNjNhMi41OCwyLjU4LDAsMCwxLDMtMS41OSw0LjIsNC4yLDAsMCwwLDIsMEE0LjQ0LDQuNDQsMCwwLDAsMTQsMS4xOGEyLjM2LDIuMzYsMCwwLDEsMS0uNSwyLjU2LDIuNTYsMCwwLDEsMi4zNi42Myw0LjgzLDQuODMsMCwwLDAsMy43MywxLjE2QTIuNTgsMi41OCwwLDAsMSwyNCw0LjI4LDQuODMsNC44MywwLDAsMCwyNi42LDcuMTRhMi42LDIuNiwwLDAsMSwxLjU5LDNBNC44LDQuOCwwLDAsMCwyOS4wNSwxNCwyLjU5LDIuNTksMCwwLDEsMjguOTIsMTcuMzVaIi8+PHBhdGggY2xhc3M9ImNscy0xIiBkPSJNMTQuMTEsMTcuNDJsLS4yNS0uNTJjMCwuMTEsMCwuMjksMCwuNTNzMCwuNzQsMCwxLjQ3bC45NC0uMjFMMTQuNDEsMThaIi8+PHBhdGggY2xhc3M9ImNscy0xIiBkPSJNMTAsMTguMzZhLjkyLjkyLDAsMCwwLS43OS0uMTNsLS4zNS4wOC41NiwyLjQ2LjI2LS4wNmExLDEsMCwwLDAsLjczLS40OSwxLjU2LDEuNTYsMCwwLDAsMC0xQTEuNDUsMS40NSwwLDAsMCwxMCwxOC4zNloiLz48cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik0xNiwxMmMuMTEuMTcuMjMuMjQuMzguMjFzLjIzLS4xNS4yNS0uMzZhMy44NSwzLjg1LDAsMCwwLS4xNC0xLDQuMzEsNC4zMSwwLDAsMC0uMzItMWMtLjExLS4xOC0uMjQtLjI2LS4zOC0uMjJzLS4yMy4xNS0uMjUuMzVBMy42NiwzLjY2LDAsMCwwLDE1LjY0LDExLDQsNCwwLDAsMCwxNiwxMloiLz48cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik0yOC45NCwxNGE1LDUsMCwwLDEtLjg5LTMuOTMsMi40NCwyLjQ0LDAsMCwwLTEuNS0yLjg0LDUsNSwwLDAsMS0yLjczLTNBMi40NSwyLjQ1LDAsMCwwLDIxLjEsMi42YTUsNSwwLDAsMS0zLjg1LTEuMTlBMi40NiwyLjQ2LDAsMCwwLDE0LDEuMjhhNC40NSw0LjQ1LDAsMCwxLTEuODcuODcsNC43OSw0Ljc5LDAsMCwxLTIuMDYsMEEyLjE5LDIuMTksMCwwLDAsOSwyLjE3YTIuNDQsMi40NCwwLDAsMC0xLjc2LDEuNUE1LDUsMCwwLDEsNC4zMiw2LjQxLDIuNDUsMi40NSwwLDAsMCwyLjYsOS4xMyw1LDUsMCwwLDEsMS40MSwxM2EyLjQ1LDIuNDUsMCwwLDAtLjEzLDMuMjEsNSw1LDAsMCwxLC45LDMuOTJBMi40NSwyLjQ1LDAsMCwwLDMuNjcsMjNhNSw1LDAsMCwxLDIuNzQsMi45NSwyLjQ2LDIuNDYsMCwwLDAsMi43MiwxLjcyQTUsNSwwLDAsMSwxMywyOC44MmEyLjQ1LDIuNDUsMCwwLDAsMi4yMy42LDIuMzcsMi4zNywwLDAsMCwxLS40OCw0LjU3LDQuNTcsMCwwLDEsMS44Ny0uODYsNC40Niw0LjQ2LDAsMCwxLDIuMDUsMCwyLjIzLDIuMjMsMCwwLDAsMS4wOSwwQTIuNDYsMi40NiwwLDAsMCwyMywyNi41NmE1LDUsMCwwLDEsMi45NS0yLjc0LDIuNDYsMi40NiwwLDAsMCwxLjcyLTIuNzIsNSw1LDAsMCwxLDEuMTktMy44NUEyLjQ1LDIuNDUsMCwwLDAsMjguOTQsMTRaTTE0LjQ2LDkuNDdhMS4zOSwxLjM5LDAsMCwxLDEuMDctLjgyLDEuNCwxLjQsMCwwLDEsMS4zMi4zLDMsMywwLDAsMSwuNzgsMS42MSwzLDMsMCwwLDEsMCwxLjc5LDEuNDUsMS40NSwwLDAsMS0xLjA3LjgyLDEuMzksMS4zOSwwLDAsMS0xLjMyLS4zLDMsMywwLDAsMS0uNzgtMS41OUEzLDMsMCwwLDEsMTQuNDYsOS40N1pNMTEuNDEsMjAuNzFhMi4zMywyLjMzLDAsMCwxLTEuNTcsMUw4LjQyLDIybC0xLTQuNEw5LDE3LjI4YTIuMzEsMi4zMSwwLDAsMSwxLjc1LjE3LDIuMDUsMi4wNSwwLDAsMSwuOTMsMS40M0EyLjI4LDIuMjgsMCwwLDEsMTEuNDEsMjAuNzFabS0uMTEtNi42LS4yMi0xYTIuMjgsMi4yOCwwLDAsMCwuNjMuMDksMi40OSwyLjQ5LDAsMCwwLC41Ny0uMDYsMS4yMywxLjIzLDAsMCwwLC41NS0uMjQuMzkuMzksMCwwLDAsLjEtLjM4LjQuNCwwLDAsMC0uMTYtLjI2LjczLjczLDAsMCwwLS4zMy0uMDgsMi43NiwyLjc2LDAsMCwwLS41Ni4wOGwtLjI3LjA2LS4yLS45LjI4LS4wNmMuNi0uMTMuODctLjM2LjgtLjY3YS4yOS4yOSwwLDAsMC0uMTktLjIyLjY5LjY5LDAsMCwwLS4zOCwwLDEuODIsMS44MiwwLDAsMC0uODEuNDhsLS42Ny0uNjhhMi4yOCwyLjI4LDAsMCwxLC42My0uNSwzLjI3LDMuMjcsMCwwLDEsLjgyLS4zQTEuOTMsMS45MywwLDAsMSwxMyw5LjVhLjkuOSwwLDAsMSwuNTYuNjYsMS4xLDEuMSwwLDAsMS0uMDkuNzYsMS41NywxLjU3LDAsMCwxLS42My41OXYwYy43Ni0uMDgsMS4yLjE4LDEuMzQuNzlhMS4xNiwxLjE2LDAsMCwxLS4yNywxLjA3LDIuMjksMi4yOSwwLDAsMS0xLjI2LjY2LDQuMzUsNC4zNSwwLDAsMS0uNjcuMUEzLjQ4LDMuNDgsMCwwLDEsMTEuMywxNC4xMVptNC4zNCw2LjI3LS40MS0uNzgtMS40Mi4zMywwLC44Ny0xLjMuMy40My00Ljc0TDE0LjQ4LDE2bDIuNDYsNC4wOFptMy45NC0uOS0xLjIuMjhMMTgsMTguMDhsLTIuMDYtMi4zOSwxLjI5LS4yOSwxLjEyLDEuNDYuMzktMS44MUwyMCwxNC43NmwtLjg0LDNaTTI0LDE3Ljg0YTEuMzIsMS4zMiwwLDAsMS0uNDkuNjIsMi4xNiwyLjE2LDAsMCwxLS44OC4zOSwzLjg4LDMuODgsMCwwLDEtLjc1LjEsMi42MSwyLjYxLDAsMCwxLS42Ni0uMDdMMjEsMTcuODJhMy4yNCwzLjI0LDAsMCwwLC43Ni4xMSwzLDMsMCwwLDAsLjctLjA1LjY3LjY3LDAsMCwwLC4zNy0uMTguMy4zLDAsMCwwLC4wNy0uMjcuMzQuMzQsMCwwLDAtLjA5LS4xNC41Ni41NiwwLDAsMC0uMTktLjFBNi4xOSw2LjE5LDAsMCwwLDIyLDE3YTMuMSwzLjEsMCwwLDEtLjczLS4yNCwxLjE1LDEuMTUsMCwwLDEtLjQxLS4zNCwxLjQ3LDEuNDcsMCwwLDEtLjIzLS41NCwxLjE0LDEuMTQsMCwwLDEsLjIyLTEuMDVBMi4wNSwyLjA1LDAsMCwxLDIyLDE0LjI1YTMuNTksMy41OSwwLDAsMSwxLjQ2LDBsLS4xNSwxYTIuNzYsMi43NiwwLDAsMC0xLjEzLDAsLjY0LjY0LDAsMCwwLS4zMi4xNi4yNS4yNSwwLDAsMC0uMDYuMjMuMzEuMzEsMCwwLDAsLjE5LjIsNy43Niw3Ljc2LDAsMCwwLC44MS4yMSwyLDIsMCwwLDEsLjkxLjM2LDEuMzEsMS4zMSwwLDAsMSwuMzkuNjlBMS4zOCwxLjM4LDAsMCwxLDI0LDE3Ljg0WiIvPjwvZz48L2c+PC9zdmc+");
  border-color: #5aa449;
  color: #fff;
}

#opigno-moxtra-settings-form .trial-title {
  border-bottom: 4px solid #37aae1;
  padding-bottom: 8px;
  font-weight: 600;
  font-size: 24px;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.5;
  text-transform: uppercase;
}

#opigno-moxtra-settings-form .timeout {
  color: #585857;
  font-size: 21px;
  font-weight: 400;
  line-height: 1.5;
  max-width: 150px;
  margin: 0 auto 1.5rem;
}

#opigno-moxtra-settings-form .days {
  color: #95d5f4;
  font-size: 80px;
  font-weight: 700;
  line-height: 1;
  display: block;
}

#opigno-moxtra-settings-form .renew {
  background: 0;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMC4wNCAyNy4wNiI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOiMzYzNjM2I7fTwvc3R5bGU+PC9kZWZzPjx0aXRsZT5jYXJ0PC90aXRsZT48ZyBpZD0iQ2FscXVlXzIiIGRhdGEtbmFtZT0iQ2FscXVlIDIiPjxnIGlkPSJDYWxxdWVfMS0yIiBkYXRhLW5hbWU9IkNhbHF1ZSAxIj48cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik0xMS4zMiwyMC43NGEzLjE2LDMuMTYsMCwxLDAsMy4xNiwzLjE2QTMuMTYsMy4xNiwwLDAsMCwxMS4zMiwyMC43NFptMCw0LjU5YTEuNDQsMS40NCwwLDEsMSwxLjQ0LTEuNDNBMS40NCwxLjQ0LDAsMCwxLDExLjMyLDI1LjMzWiIvPjxwYXRoIGNsYXNzPSJjbHMtMSIgZD0iTTIyLjgyLDIwLjc0QTMuMTYsMy4xNiwwLDEsMCwyNiwyMy45LDMuMTYsMy4xNiwwLDAsMCwyMi44MiwyMC43NFptMCw0LjU5YTEuNDQsMS40NCwwLDEsMSwxLjQ0LTEuNDNBMS40NCwxLjQ0LDAsMCwxLDIyLjgyLDI1LjMzWiIvPjxwYXRoIGNsYXNzPSJjbHMtMSIgZD0iTTI5LjYsNy4xMkEzLjYsMy42LDAsMCwwLDI2Ljc3LDZDMjYsNiwxMSw1LjEsNC45Miw0Ljc0TDQsMS41MWwtLjEyLS40TDEuMTguMDZBLjg3Ljg3LDAsMCwwLC4wNi41NS44Ny44NywwLDAsMCwuNTUsMS42N2wxLjg4LjczQzMuMjEsNSw2LjU2LDE2LjM2LDYuNzgsMTdsLjEuMjZhNS4xOCw1LjE4LDAsMCwwLDEuMjcsMi4xOSwzLjY0LDMuNjQsMCwwLDAsMi40OCwxaDE0YTMuMjIsMy4yMiwwLDAsMCwxLjYyLS4zNSwzLjUyLDMuNTIsMCwwLDAsMS42MS0yLjMzbDAtLjEyYzEuNTQtNi4zNCwxLjgxLTcuMywxLjg2LTcuNDRDMjkuODgsOS44NCwzMC40MSw4LjExLDI5LjYsNy4xMlptLTEuNDcsMi41Yy0uMTUuNDYtLjc5LDMtMS45LDcuNTlsMCwuMTNhMS43MywxLjczLDAsMCwxLS44MSwxLjI0LDIuNTcsMi41NywwLDAsMS0xLjA2LjExSDEwLjYxYTEuODcsMS44NywwLDAsMS0xLjI0LS40NiwzLjYsMy42LDAsMCwxLS44Ni0xLjUzbC0uMS0uMjljLS4xMy0uMzUtMS41NS01LjEyLTMtOS45LDQuMDcuMjQsMjAuNDMsMS4yLDIxLjMzLDEuMmEyLDIsMCwwLDEsMS40OS41QTIuNDMsMi40MywwLDAsMSwyOC4xMyw5LjYyWiIvPjwvZz48L2c+PC9zdmc+");
  background-position: 1rem center;
  background-repeat: no-repeat;
  background-size: 30px;
  border-top: 1px solid #58585a;
  border-bottom: 1px solid #58585a;
  color: #58585a;
  padding-left: 62px;
  padding-right: 20px;
  height: 50px;
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  font-weight: 700;
  text-decoration: none;
}

#opigno-moxtra-settings-form .renew:hover {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMC4wNCAyNy4wNiI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOiNmZmY7fTwvc3R5bGU+PC9kZWZzPjx0aXRsZT5jYXJ0LWhvdmVyPC90aXRsZT48ZyBpZD0iQ2FscXVlXzIiIGRhdGEtbmFtZT0iQ2FscXVlIDIiPjxnIGlkPSJDYWxxdWVfMS0yIiBkYXRhLW5hbWU9IkNhbHF1ZSAxIj48cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik0xMS4zMiwyMC43NGEzLjE2LDMuMTYsMCwxLDAsMy4xNiwzLjE2QTMuMTYsMy4xNiwwLDAsMCwxMS4zMiwyMC43NFptMCw0LjU5YTEuNDQsMS40NCwwLDEsMSwxLjQ0LTEuNDNBMS40NCwxLjQ0LDAsMCwxLDExLjMyLDI1LjMzWiIvPjxwYXRoIGNsYXNzPSJjbHMtMSIgZD0iTTIyLjgyLDIwLjc0QTMuMTYsMy4xNiwwLDEsMCwyNiwyMy45LDMuMTYsMy4xNiwwLDAsMCwyMi44MiwyMC43NFptMCw0LjU5YTEuNDQsMS40NCwwLDEsMSwxLjQ0LTEuNDNBMS40NCwxLjQ0LDAsMCwxLDIyLjgyLDI1LjMzWiIvPjxwYXRoIGNsYXNzPSJjbHMtMSIgZD0iTTI5LjYsNy4xMkEzLjYsMy42LDAsMCwwLDI2Ljc3LDZDMjYsNiwxMSw1LjEsNC45Miw0Ljc0TDQsMS41MWwtLjEyLS40TDEuMTguMDZBLjg3Ljg3LDAsMCwwLC4wNi41NS44Ny44NywwLDAsMCwuNTUsMS42N2wxLjg4LjczQzMuMjEsNSw2LjU2LDE2LjM2LDYuNzgsMTdsLjEuMjZhNS4xOCw1LjE4LDAsMCwwLDEuMjcsMi4xOSwzLjY0LDMuNjQsMCwwLDAsMi40OCwxaDE0YTMuMjIsMy4yMiwwLDAsMCwxLjYyLS4zNSwzLjUyLDMuNTIsMCwwLDAsMS42MS0yLjMzbDAtLjEyYzEuNTQtNi4zNCwxLjgxLTcuMywxLjg2LTcuNDRDMjkuODgsOS44NCwzMC40MSw4LjExLDI5LjYsNy4xMlptLTEuNDcsMi41Yy0uMTUuNDYtLjc5LDMtMS45LDcuNTlsMCwuMTNhMS43MywxLjczLDAsMCwxLS44MSwxLjI0LDIuNTcsMi41NywwLDAsMS0xLjA2LjExSDEwLjYxYTEuODcsMS44NywwLDAsMS0xLjI0LS40NiwzLjYsMy42LDAsMCwxLS44Ni0xLjUzbC0uMS0uMjljLS4xMy0uMzUtMS41NS01LjEyLTMtOS45LDQuMDcuMjQsMjAuNDMsMS4yLDIxLjMzLDEuMmEyLDIsMCwwLDEsMS40OS41QTIuNDMsMi40MywwLDAsMSwyOC4xMyw5LjYyWiIvPjwvZz48L2c+PC9zdmc+");
  background-color: #5aa449;
  border-color: #5aa449;
  color: #fff;
}

#opigno-moxtra-settings-form .title {
  color: #000;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  margin-left: 1.5rem;
}

#opigno-moxtra-settings-form .contact-link {
  display: block;
  font-style: italic;
  text-align: center;
  text-decoration: none;
}

#opigno-moxtra-settings-form .label {
  font-weight: 700;
}

#opigno-moxtra-settings-form .quota {
  display: block;
}

#opigno-moxtra-settings-form .want-more {
  font-style: italic;
  text-decoration: none;
}
