.field--name-field-thread-participants .field__item {
  display: inline-block;
}
.message-thread-reply {
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 4px;
  margin: 6px 0;
  display: inline-block;
}
