.entity-splash-screen,.ui-dialog .entity-splash-screen {
    display:none;
    width:600px;
    height:600px;
    padding:0;
    text-align:center;
    font-size:34px;
    line-height:1.5em
}
.entity-splash-screen .buttons,.ui-dialog .entity-splash-screen .buttons {
    margin-top:1.5em
}
.entity-splash-screen .buttons a,.ui-dialog .entity-splash-screen .buttons a {
    margin:0 10px
}
.entity-splash-screen .cookie-alert,.ui-dialog .entity-splash-screen .cookie-alert {
    font-size:10px
}
.entity-splash-screen .cookie-alert label,.ui-dialog .entity-splash-screen .cookie-alert label {
    display:inline
}
@media only screen and (max-width: 479px) {
    .entity-splash-screen,.ui-dialog .entity-splash-screen {
        width:300px;
        height:300px;
        font-size:18px
    }
}
.splash-screen-dialog .ui-dialog-titlebar {
     display:none
}
.splash-screen-dialog .ui-dialog-buttonpane {
     border:none
}
.block-splash-screen{
     display:none;
}
.ui-dialog-content .body {
     width: 100%;
}
.ui-dialog-content .body .so_title {
     font-weight: 100;
     color: #ed1c24;
     margin-top: 75px;
     clear: both;
}
.ui-dialog-content .body .so_content {
     width: 95%;
     margin-top: 20px;
     font-size: 14px;
     margin-bottom: 40px;
}
.ui-dialog-content .body .so_content_link {
     color: #ed1c24 !important;
     text-decoration: underline;
}
.so_popup_close {
     float: right;
     background-color: #cccccc20;
     padding: 3px 9px;
     border-radius: 50%;
     cursor: pointer;
     margin-top: 20px;
}
.ui-dialog .ui-dialog-content .cookie-alert {
     font-size: 13px !important;
     font-family: arial, helvetica, sans-serif !important;
     color: #666666 !important;
     weight: 300 !important;
     text-align: left;
     margin-top: 17px;
}
#splash-screen-set-cookie {
     display: inline-block;
}
.ui-dialog .ui-dialog-content .cookie-alert label {
     display: inline-block;
     vertical-align: super;
}
.ui-dialog-buttonset button {
     display: inline-block;
     padding: 6px 12px;
     margin-bottom: 0;
     font-size: 14px;
     font-weight: normal;
     line-height: 1.42857143;
     text-align: center;
     white-space: nowrap;
     vertical-align: middle;
     -ms-touch-action: manipulation;
     touch-action: manipulation;
     cursor: pointer;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
     background-color: #d8242b;
     border: 1px solid transparent;
     border-radius: 4px;
     color: #fff;
}
.ui-dialog-buttonpane {
    margin-top: 0px !important;
}
