.config-selector--feature-form--table td.entity-type {
  font-weight: bold;
  font-variant: all-small-caps;
}

.config-selector--feature-form--table td.entity-label {
  padding-left: 2em; /* LTR */
}

[dir="rtl"] .config-selector--feature-form--table td.entity-label {
  padding-left: inherit;
  padding-right: 2em;
}
