form#customers-canvas-settings-form {
  max-width: 800px;
}
.customers_canvas_product_json_info {
  border: 1px solid #c5c5c5;
  background: #efefef;
  margin: 10px 0;
  padding: 10px;
}
.customers_canvas_product_json_info h2 {
  margin-top: 0;
}
#cc-wrapper-section {
  padding: 10px;
}
.customers-multi-editor-canvas #editorFinish {
  display: none;
}
