{#
/**
 * @file
 * Default theme implementation to display a unitary file form widget.
 *
 * Available variables:
 * - table: Table of previously uploaded files.
 * - element: The form element for uploading another file.
 *
 * @see template_preprocess_fine_image_widget_unitary()
 *
 * @ingroup themeable
 */
#}
<div class="fiu-wrapper unitary-element">
  {% if element %}
    <div class="fiu-add-element">
      {{ element }}
    </div>
  {% endif %}
</div>
