{#
/**
 * @file
 * Booking preview sidebar that lists ticekts.
 */
#}
<div{{ attributes.addClass('contacts-events-ticket-summary') }}>
    {% block order_items %}
        <table>
            <tbody>
            {% for order_item in order_entity.getItems %}
                {% if order_item.hasPurchasedEntity %}
                <tr>
                    <td>{{- order_item.getPurchasedEntity.name.getString -}}</td>
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    {% endblock %}
</div>