# Local files
# --------------------------
*~
*.swp
.DS_Store

# Exclude external packages
# --------------------------
vendor/
node_modules/
*debug.log
*error.log

# Exclude generated Javascript & CSS
# --------------------------
.sass-cache/
