/* Default tag cloud styling. */
ul.default_tag_clouds li a {
    border: 1px solid #09357a;
    border-radius: 5px;
    padding: 0 3px;
}
ul.default_tag_clouds li {
    list-style: none;
    display: inline-flex;
    margin: 3px;
}
ul.default_tag_clouds {
    padding: 0;
}
