/* Index tag cloud styling */
.index-tag-tabs.ui-tabs.ui-widget.ui-widget-content, .index-tag-tabs.ui-tabs .index-tag-ul.ui-tabs-nav {
    border: 0;
    background: none;
}
.index-tag-tabs.ui-tabs .index-tag-ul.ui-tabs-nav .index-tag-li.ui-tabs-tab {
    border: 1px solid black;
    border-radius: 0;
    margin: 1px 0.25em 0 0;
}
.index-tag-tabs.ui-tabs .index-tag-ul.ui-tabs-nav .index-tag-li.ui-tabs-tab.ui-tabs-active {
    border: 0;
    background: none;
}
.index-tag-tabs.ui-tabs .index-tag-ul.ui-tabs-nav .index-tag-li.ui-tabs-tab > a {
    border: 0;
    padding: 0.0675em 0.25em;
}
.index-tag-tabs.ui-tabs .index-tag-ul.ui-tabs-nav .index-tag-li.ui-tabs-tab.ui-tabs-active > a {
    color: black;
    font-weight: bold;
    outline: none;
}
.index-tag-tabs li.tag_clouds_term {
    list-style: none;
    display: inline-flex;
    margin: 3px;
}
.index-tag-tabs .index-tag-tab.ui-tabs-panel > li.tag_clouds_term > a {
    border: 0;
    padding: 0 3px;
    text-decoration: underline;
}
.index-tag-tabs .index-tag-tab.ui-tabs-panel {
    padding: 0;
    padding-top: 0.5em;
}
