{#
/**
 * @file swiper_sliders.html.twig
 * Default theme implementation to present Swiper slide data.
 *
 * This template is used when viewing Swiper slide pages.
 *
 *
 * Available variables:
 * - attributes:
 *      - class: css class
 *      - height: css height
 *      - pagination: add pagination
 *      - scrollbar: add scrollbar
 *      - buttons: add buttons
 *      - direction: Direction of the Slide Animation. Eg. horizontal/vertical
 *      - speed: Speed of the Slide Animation in milliseconds. Eg. 500
 *      - autoplay: Pause Time between Slide's Autoplay Transition in milliseconds. Eg. 5000
 *      - loop: Enable/Disable Slider Loop. Eg. true/false
 *      - effect: Slide Effect. Eg. slide/fade/cube/coverflow/flip
 *      - grab: Enable/Disable Grab Cursor. Eg. true/false
 *      - video_autoplay: Enable/Disable Video Autoplay. Eg. true/false
 *      - parallax: Enable/Disable parallax. Eg. true/false
 * - sliders: a list of sliders
 *
 * @see template_preprocess_swiper_sliders()
 *
 * @ingroup themeable
 */
#}

{% set classes = classes~' swiper-container' %}
{% set attributes = attributes.addClass(classes) %}
{% if direction %}
    {% set attributes = attributes.setAttribute('data-direction',direction) %}
{% endif %}
{% if speed %}
    {% set attributes = attributes.setAttribute('data-speed',speed) %}
{% endif %}
{% if autoplay %}
    {% set attributes = attributes.setAttribute('data-autoplay',autoplay) %}
{% endif %}
{% if loop %}
    {% set attributes = attributes.setAttribute('data-loop',loop) %}
{% endif %}
{% if effect %}
    {% set attributes = attributes.setAttribute('data-effect',effect) %}
{% endif %}
{% if grab %}
    {% set attributes = attributes.setAttribute('data-grab',grab) %}
{% endif %}
{% if video_autoplay %}
    {% set attributes = attributes.setAttribute('data-video-autoplay',video_autoplay) %}
{% endif %}
{% if height %}
    {% set cssHeight = 'height:'~height~'px' %}
    {% set attributes = attributes.setAttribute('style',cssHeight) %}
{% endif %}
{% if parallax %}
    {% set attributes = attributes.setAttribute('data-parallax',parallax) %}
{% endif %}

<div {{ attributes }} >
    <div class="swiper-wrapper">
        {% if sliders %}
            {% for slider in sliders %}
                {% set slide_class = 'swiper-slide' %}
                {% if slider.class %}
                    {% set slide_class = slide_class~' '~slider.class %}
                {% endif %}
                {% set slide_background = '' %}
                {% if slider.background %}
                    {% set slide_background = 'background:url('~slider.background~');' %}
                {% endif %}
                <div class="{{ slide_class }}"
                        {% if slider.background %}
                            style="background:url({{ slider.background }});"
                        {% endif %}
                        >
                    {{ slider.content }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
    {% if pagination == "true" %}
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
    {% endif %}
    {% if buttons == "true" %}
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    {% endif %}
    {% if scrollbar == "true" %}
    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
    {% endif %}
</div>


