{#
/**
* @file
* Default theme implementation to display a read-more field.
*
* Available variables:
* - teaser: The teaser that will always remain visible.
* - hidden: The field that is initially hidden.
* - label: The label that will expand the hidden field.
*
* @ingroup themeable
*/
#}

{{ attach_library('read_more_field/details-polyfill') }}

<div class="read-more">
    {% if teaser['#text'] is not empty %}
        <div class="read-more__teaser">{{ teaser }}</div>
    {% endif %}
    {% if hidden['#text'] is not empty %}
        <details>
            <summary>{{ label }}</summary>
            <div class="read-more__hidden">{{ hidden }}</div>
        </details>
    {% endif %}
</div>
