/* Start table responsive */
/* Force table to not be like tables anymore */
body table.simple-responsive-table,
body .simple-responsive-table thead,
body .simple-responsive-table tbody,
body .simple-responsive-table th,
body .simple-responsive-table td,
body .simple-responsive-table tr {
  display: block;
}

/* Hide table headers (but not display: none;, for accessibility) */
body .simple-responsive-table thead tr {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

body .simple-responsive-table tr {
  border: 1px solid #ccc;
}

body .simple-responsive-table td {
  /* Behave  like a "row" */
  border: none;
  border-bottom: 1px solid #eee;
  position: relative;
  padding-left: 50%;
  white-space: normal;
  text-align: left;
}

body .simple-responsive-table td:before {
  /* Now like a table header */
  position: absolute;
  left: 1%;
  padding-right: 10px;
  white-space: nowrap;
  text-align: left;
  font-weight: bold;
}

/* Label the data */
body .simple-responsive-table td:before {
  content: attr(data-title);
  white-space: normal;
}
/* Empty row data */
body .simple-responsive-table td>divbody .simple-responsive-table-empty-row-data {
  min-height: 1.5em;
}
/* End table responsive */
/* Start action dropdown multiple */
.js table td .dropbutton-multiple {
  padding-right: inherit;
}
/* End action dropdown multiple */
