{#
/**
 * @file
 * Default template for displays that use the TimelineJS style.
 *
 * @see template_preprocess_views_timelinejs_view_timelinejs()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('timelinejs') }}></div>
