{#
/**
 * @file
 * Contains menu output for wizard add/edit ruleset form.
 *
 * @see template_preprocess_context_manager_wizard_menu().
 *
 * @ingroup themeable
 */
#}
<div class="context-manager-ruleset-items">

  <div class="ruleset-label">{{ 'Ruleset'|t }}</div>

  {% for item in ruleset_items %}
    <div class="ruleset-item">{{ item }}</div>
  {% endfor %}

</div>

<div class="context-manager-plugin-items">

  <div class="plugins-label">{{ 'Plugins'|t }}</div>

  {% for item in plugin_items %}
    <div class="plugins-item">{{ item }}</div>
  {% endfor %}

</div>