{#
/**
 * @file
 * Default theme implementation for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 *
 * @ingroup themeable
 */
#}
<div class="context-manager-wizard">

  <div class="context-manager-wizard-main clearfix">

    <div class="context-manager-wizard-menu">
      {{ form.wizard_menu }}
    </div>

    <div class="context-manager-wizard-form">
      {{ form|without('wizard_actions', 'wizard_menu', 'actions') }}
    </div>

  </div>

  <div class="context-manager-wizard-form-actions">
    {{ form.actions }}
  </div>

</div>
