//
// Import required plugins, define base variables & global styles.
//
// ---------------------------------------------------------------------------

// Imports.
@import "../../../node_modules/susy/sass/susy";

// Susy default settings override.
$susy: (
  columns: 12,
  gutters: 0,
  box-sizing: border-box
);

// Flow Direction
$flow-direction: susy-get(flow, $susy) !global;
$flow-to: to($flow-direction);
$flow-from: from($flow-direction);

// Global styles.
.atl__lr {
  margin: 0 -0.625em;
}

.atl__lc {
  //float: $flow-from;
  padding: 0 0.625em;
  width: 100%;
}

.atl {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}