{#
/**
* @file
* Theme implementation of the ROT 13 obfuscated email link.
*
* @ingroup themeable
*/
#}

{{ attach_library('obfuscate/rot13') }}

{#
  Use rot 13 class name of 'obfuscate' and 'obfuscate-r13'
  to remove hints for spammers.
  @todo This class must be immutable to allow ROT 13 safeguard
  so it cannot be overriden by templates.
  It can be injected from ObfuscateMailInterface and
  ObfuscateMailtROT13.
#}
<span class="boshfpngr boshfpngr-e13">
  {{ link|raw }}
</span>
