{#
/**
* @file
* Theme implementation of the obfuscated email link.
*
* @ingroup themeable
*/
#}

{#
  Use rot 13 class name of 'obfuscate'
  to remove hints for spammers.
#}
<span class="boshfpngr">
  {{ link|raw }}
</span>
