{#
/**
 * @file
 * Default theme implementation for the Entityconnect Entity Add List template.
 *
 * Available variables:
 * - items: An array of entities info to list (href, cache_id, label).
 * - cancel: The cancel button link.
 *
 * @see template_preprocess_entityconnect_entity_add_list()
 */
#}

{% if items %}
<ul class="admin-list">
  {% for item in items %}
    <li class="clearfix">
      <span class="label"><a href="{{ item.href }}?build_cache_id={{ cache_id }}&child=1">{{ item.label }}</a></span>
    </li>
  {% endfor %}
</ul>
{% else %}
  <p>
    {% trans %}
    You have not selected any entities.
    {% endtrans %}
  </p>
{% endif %}
<p>{{ cancel_link }}</p>
