{#
/**
 * @file data_element.html.twig
 * Default theme implementation to present Data element data.
 *
 * This template is used when viewing Data element pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_data_element()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('data_element') }}>
    {% if content %}
        {{- content -}}
    {% endif %}
</div>
