{{ attach_library('dhis/dhis_dhis') }}
{% if test_var.form %}
    {{ test_var.form }}
{% endif %}
{% if test_var.url %}
    <a href="{{ test_var.url }}"> Download</a>
{% endif %}
{% if test_var.table %}
    {{ test_var.table }}
{% endif %}