{#
/**
 * @file organisation_unit.html.twig
 * Default theme implementation to present Organisation unit data.
 *
 * This template is used when viewing Organisation unit pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_organisation_unit()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('organisation_unit') }}>
    {% if content %}
        {{- content -}}
    {% endif %}
</div>
