//
// Global layout declarations.
//
// ---------------------------------------------------------------------------

// Import base.
@import "page-layout-base";

// Set the Susy container on .l-rw, this controls the max-width. The
// .l-rw class is set on each rows inner wrapper to constrain the
// the max-width of a group of regions, while the main row wrapper is always
// full width.
.l-rw {
  @include container($container-12);
  width: 100%;
}

.l-r {
  float: left;
  width: 100%;
  padding: 0 0.625em; // Avoid browser chrome collision.
}
