{#
/**
 * @file
 * Default theme implementation to display a single offline page.
 *
 * All variables that are available in the default page.html.twig file can
 * be used in this file. However, since we're operating offline, we are only
 * printing page.content by default and two additional regions called
 * page.offline_header and page.offline_footer
 *
 * @see offline_app_theme_suggestions_page_alter()
 * @see template_preprocess_page()
 * @see offline-app-html.html.twig
 * @see page.html.twig
 *
 * @ingroup themeable
 */
#}

{% if page.offline_header %}
  <header role="banner">
    <div class="layout-container">
      {{ page.offline_header }}
    </div>
  </header>
{% endif %}

{% if page.offline_content %}
  <main role="main">
    <div class="layout-container">
      <div class="layout-content">
        {{ page.offline_content }}
      </div>
    </div>
  </main>
{% else %}
  <p>There is currently nothing inside your offline_content region</p>
{% endif %}

{% if page.offline_footer %}
  <footer role="contentinfo">
    <div class="layout-container">
      {{ page.offline_footer }}
    </div>
  </footer>
{% endif %}

<div id="offline-messages" class="offline-messages" style="display:none"></div>
{{ offline_messages_data }}
