/* Ideas By Elliot style */
/* Colors */
.simplesharer.ideas .simplesharer-buttonlist {
  margin: 1em 0 0 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style-type: none; }
  .simplesharer.ideas .simplesharer-buttonlist li {
    margin: 0;
    padding: 0; }
    .simplesharer.ideas .simplesharer-buttonlist li a {
      border-radius: 0.4vw;
      font-size: 1.2vw;
      color: #ffffff;
      background: #B25655;
      display: block;
      padding: 0;
      text-align: center;
      width: auto;
      height: auto;
      padding: 0.5em 0 0 0;
      width: 6vw;
      height: 4.8vw; }
      .simplesharer.ideas .simplesharer-buttonlist li a:hover {
        text-decoration: none; }
      .simplesharer.ideas .simplesharer-buttonlist li a i {
        display: block;
        font-size: 1.8vw; }
        l
.simplesharer.ideas .simplesharer-buttonlist li a i.fa {
          font-size: 2.4vw; }
    .simplesharer.ideas .simplesharer-buttonlist li.simplesharer-facebook-button-item a:hover {
      border-radius: 0.4vw;
      font-size: 1.2vw;
      color: #ffffff;
      background: #3b5998;
      display: block;
      padding: 0;
      text-align: center;
      width: auto;
      height: auto;
      padding: 0.5em 0 0 0;
      width: 6vw;
      height: 4.8vw; }
      .simplesharer.ideas .simplesharer-buttonlist li.simplesharer-facebook-button-item a:hover:hover {
        text-decoration: none; }
      .simplesharer.ideas .simplesharer-buttonlist li.simplesharer-facebook-button-item a:hover i {
        display: block;
        font-size: 1.8vw; }
        l
.simplesharer.ideas .simplesharer-buttonlist li.simplesharer-facebook-button-item a:hover i.fa {
          font-size: 2.4vw; }
    .simplesharer.ideas .simplesharer-buttonlist li.simplesharer-twitter-button-item a:hover {
      border-radius: 0.4vw;
      font-size: 1.2vw;
      color: #ffffff;
      background: #55acce;
      display: block;
      padding: 0;
      text-align: center;
      width: auto;
      height: auto;
      padding: 0.5em 0 0 0;
      width: 6vw;
      height: 4.8vw; }
      .simplesharer.ideas .simplesharer-buttonlist li.simplesharer-twitter-button-item a:hover:hover {
        text-decoration: none; }
      .simplesharer.ideas .simplesharer-buttonlist li.simplesharer-twitter-button-item a:hover i {
        display: block;
        font-size: 1.8vw; }
        l
.simplesharer.ideas .simplesharer-buttonlist li.simplesharer-twitter-button-item a:hover i.fa {
          font-size: 2.4vw; }
    .simplesharer.ideas .simplesharer-buttonlist li.simplesharer-pinterest-button-item a:hover {
      border-radius: 0.4vw;
      font-size: 1.2vw;
      color: #ffffff;
      background: #cc2127;
      display: block;
      padding: 0;
      text-align: center;
      width: auto;
      height: auto;
      padding: 0.5em 0 0 0;
      width: 6vw;
      height: 4.8vw; }
      .simplesharer.ideas .simplesharer-buttonlist li.simplesharer-pinterest-button-item a:hover:hover {
        text-decoration: none; }
      .simplesharer.ideas .simplesharer-buttonlist li.simplesharer-pinterest-button-item a:hover i {
        display: block;
        font-size: 1.8vw; }
        l
.simplesharer.ideas .simplesharer-buttonlist li.simplesharer-pinterest-button-item a:hover i.fa {
          font-size: 2.4vw; }
    .simplesharer.ideas .simplesharer-buttonlist li.simplesharer-linkedin-button-item a:hover {
      border-radius: 0.4vw;
      font-size: 1.2vw;
      color: #ffffff;
      background: #00a0dc;
      display: block;
      padding: 0;
      text-align: center;
      width: auto;
      height: auto;
      padding: 0.5em 0 0 0;
      width: 6vw;
      height: 4.8vw; }
      .simplesharer.ideas .simplesharer-buttonlist li.simplesharer-linkedin-button-item a:hover:hover {
        text-decoration: none; }
      .simplesharer.ideas .simplesharer-buttonlist li.simplesharer-linkedin-button-item a:hover i {
        display: block;
        font-size: 1.8vw; }
        l
.simplesharer.ideas .simplesharer-buttonlist li.simplesharer-linkedin-button-item a:hover i.fa {
          font-size: 2.4vw; }
    .simplesharer.ideas .simplesharer-buttonlist li.simplesharer-tumblr-button-item a:hover {
      border-radius: 0.4vw;
      font-size: 1.2vw;
      color: #ffffff;
      background: #35465c;
      display: block;
      padding: 0;
      text-align: center;
      width: auto;
      height: auto;
      padding: 0.5em 0 0 0;
      width: 6vw;
      height: 4.8vw; }
      .simplesharer.ideas .simplesharer-buttonlist li.simplesharer-tumblr-button-item a:hover:hover {
        text-decoration: none; }
      .simplesharer.ideas .simplesharer-buttonlist li.simplesharer-tumblr-button-item a:hover i {
        display: block;
        font-size: 1.8vw; }
        l
.simplesharer.ideas .simplesharer-buttonlist li.simplesharer-tumblr-button-item a:hover i.fa {
          font-size: 2.4vw; }
    .simplesharer.ideas .simplesharer-buttonlist li.simplesharer-reddit-button-item a:hover {
      border-radius: 0.4vw;
      font-size: 1.2vw;
      color: #ffffff;
      background: #ff4500;
      display: block;
      padding: 0;
      text-align: center;
      width: auto;
      height: auto;
      padding: 0.5em 0 0 0;
      width: 6vw;
      height: 4.8vw; }
      .simplesharer.ideas .simplesharer-buttonlist li.simplesharer-reddit-button-item a:hover:hover {
        text-decoration: none; }
      .simplesharer.ideas .simplesharer-buttonlist li.simplesharer-reddit-button-item a:hover i {
        display: block;
        font-size: 1.8vw; }
        l
.simplesharer.ideas .simplesharer-buttonlist li.simplesharer-reddit-button-item a:hover i.fa {
          font-size: 2.4vw; }
    .simplesharer.ideas .simplesharer-buttonlist li.simplesharer-email-button-item a:hover {
      border-radius: 0.4vw;
      font-size: 1.2vw;
      color: #ffffff;
      background: #333;
      display: block;
      padding: 0;
      text-align: center;
      width: auto;
      height: auto;
      padding: 0.5em 0 0 0;
      width: 6vw;
      height: 4.8vw; }
      .simplesharer.ideas .simplesharer-buttonlist li.simplesharer-email-button-item a:hover:hover {
        text-decoration: none; }
      .simplesharer.ideas .simplesharer-buttonlist li.simplesharer-email-button-item a:hover i {
        display: block;
        font-size: 1.8vw; }
        l
.simplesharer.ideas .simplesharer-buttonlist li.simplesharer-email-button-item a:hover i.fa {
          font-size: 2.4vw; }
