/* Social Media Standard style */
/* Colors */
.simplesharer.social-media-standard .simplesharer-buttonlist {
  margin: 1em 0 0 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style-type: none; }
  .simplesharer.social-media-standard .simplesharer-buttonlist li {
    margin: 0;
    padding: 0; }
    .simplesharer.social-media-standard .simplesharer-buttonlist li.simplesharer-facebook-button-item a {
      border-radius: 0.4ve;
      font-size: 1.2vw;
      color: #ffffff;
      background: #3b5998;
      display: block;
      padding: 0;
      text-align: center;
      width: auto;
      height: auto;
      padding: 0.25em; }
      .simplesharer.social-media-standard .simplesharer-buttonlist li.simplesharer-facebook-button-item a:hover {
        text-decoration: none; }
      .simplesharer.social-media-standard .simplesharer-buttonlist li.simplesharer-facebook-button-item a i {
        display: block;
        font-size: 1.8vw; }
        l
.simplesharer.social-media-standard .simplesharer-buttonlist li.simplesharer-facebook-button-item a i.fa {
          font-size: 2.4vw; }
      .simplesharer.social-media-standard .simplesharer-buttonlist li.simplesharer-facebook-button-item a i.fa {
        font-size: 1.44vw;
        display: inline-block; }
      .simplesharer.social-media-standard .simplesharer-buttonlist li.simplesharer-facebook-button-item a:hover {
        background-color: #4c70ba; }
    .simplesharer.social-media-standard .simplesharer-buttonlist li.simplesharer-twitter-button-item a {
      border-radius: 0.4ve;
      font-size: 1.2vw;
      color: #ffffff;
      background: #55acce;
      display: block;
      padding: 0;
      text-align: center;
      width: auto;
      height: auto;
      padding: 0.25em; }
      .simplesharer.social-media-standard .simplesharer-buttonlist li.simplesharer-twitter-button-item a:hover {
        text-decoration: none; }
      .simplesharer.social-media-standard .simplesharer-buttonlist li.simplesharer-twitter-button-item a i {
        display: block;
        font-size: 1.8vw; }
        l
.simplesharer.social-media-standard .simplesharer-buttonlist li.simplesharer-twitter-button-item a i.fa {
          font-size: 2.4vw; }
      .simplesharer.social-media-standard .simplesharer-buttonlist li.simplesharer-twitter-button-item a i.fa {
        font-size: 1.44vw;
        display: inline-block; }
      .simplesharer.social-media-standard .simplesharer-buttonlist li.simplesharer-twitter-button-item a:hover {
        background-color: #7dbfd9; }
    .simplesharer.social-media-standard .simplesharer-buttonlist li.simplesharer-pinterest-button-item a {
      border-radius: 0.4ve;
      font-size: 1.2vw;
      color: #ffffff;
      background: #cc2127;
      display: block;
      padding: 0;
      text-align: center;
      width: auto;
      height: auto;
      padding: 0.25em; }
      .simplesharer.social-media-standard .simplesharer-buttonlist li.simplesharer-pinterest-button-item a:hover {
        text-decoration: none; }
      .simplesharer.social-media-standard .simplesharer-buttonlist li.simplesharer-pinterest-button-item a i {
        display: block;
        font-size: 1.8vw; }
        l
.simplesharer.social-media-standard .simplesharer-buttonlist li.simplesharer-pinterest-button-item a i.fa {
          font-size: 2.4vw; }
      .simplesharer.social-media-standard .simplesharer-buttonlist li.simplesharer-pinterest-button-item a i.fa {
        font-size: 1.44vw;
        display: inline-block; }
      .simplesharer.social-media-standard .simplesharer-buttonlist li.simplesharer-pinterest-button-item a:hover {
        background-color: #e04046; }
    .simplesharer.social-media-standard .simplesharer-buttonlist li.simplesharer-linkedin-button-item a {
      border-radius: 0.4ve;
      font-size: 1.2vw;
      color: #ffffff;
      background: #00a0dc;
      display: block;
      padding: 0;
      text-align: center;
      width: auto;
      height: auto;
      padding: 0.25em; }
      .simplesharer.social-media-standard .simplesharer-buttonlist li.simplesharer-linkedin-button-item a:hover {
        text-decoration: none; }
      .simplesharer.social-media-standard .simplesharer-buttonlist li.simplesharer-linkedin-button-item a i {
        display: block;
        font-size: 1.8vw; }
        l
.simplesharer.social-media-standard .simplesharer-buttonlist li.simplesharer-linkedin-button-item a i.fa {
          font-size: 2.4vw; }
      .simplesharer.social-media-standard .simplesharer-buttonlist li.simplesharer-linkedin-button-item a i.fa {
        font-size: 1.44vw;
        display: inline-block; }
      .simplesharer.social-media-standard .simplesharer-buttonlist li.simplesharer-linkedin-button-item a:hover {
        background-color: #10beff; }
    .simplesharer.social-media-standard .simplesharer-buttonlist li.simplesharer-tumblr-button-item a {
      border-radius: 0.4ve;
      font-size: 1.2vw;
      color: #ffffff;
      background: #35465c;
      display: block;
      padding: 0;
      text-align: center;
      width: auto;
      height: auto;
      padding: 0.25em; }
      .simplesharer.social-media-standard .simplesharer-buttonlist li.simplesharer-tumblr-button-item a:hover {
        text-decoration: none; }
      .simplesharer.social-media-standard .simplesharer-buttonlist li.simplesharer-tumblr-button-item a i {
        display: block;
        font-size: 1.8vw; }
        l
.simplesharer.social-media-standard .simplesharer-buttonlist li.simplesharer-tumblr-button-item a i.fa {
          font-size: 2.4vw; }
      .simplesharer.social-media-standard .simplesharer-buttonlist li.simplesharer-tumblr-button-item a i.fa {
        font-size: 1.44vw;
        display: inline-block; }
      .simplesharer.social-media-standard .simplesharer-buttonlist li.simplesharer-tumblr-button-item a:hover {
        background-color: #485f7c; }
    .simplesharer.social-media-standard .simplesharer-buttonlist li.simplesharer-reddit-button-item a {
      border-radius: 0.4ve;
      font-size: 1.2vw;
      color: #ffffff;
      background: #ff4500;
      display: block;
      padding: 0;
      text-align: center;
      width: auto;
      height: auto;
      padding: 0.25em; }
      .simplesharer.social-media-standard .simplesharer-buttonlist li.simplesharer-reddit-button-item a:hover {
        text-decoration: none; }
      .simplesharer.social-media-standard .simplesharer-buttonlist li.simplesharer-reddit-button-item a i {
        display: block;
        font-size: 1.8vw; }
        l
.simplesharer.social-media-standard .simplesharer-buttonlist li.simplesharer-reddit-button-item a i.fa {
          font-size: 2.4vw; }
      .simplesharer.social-media-standard .simplesharer-buttonlist li.simplesharer-reddit-button-item a i.fa {
        font-size: 1.44vw;
        display: inline-block; }
      .simplesharer.social-media-standard .simplesharer-buttonlist li.simplesharer-reddit-button-item a:hover {
        background-color: #ff6a33; }
    .simplesharer.social-media-standard .simplesharer-buttonlist li.simplesharer-email-button-item a {
      border-radius: 0.4ve;
      font-size: 1.2vw;
      color: #ffffff;
      background: #333;
      display: block;
      padding: 0;
      text-align: center;
      width: auto;
      height: auto;
      padding: 0.25em; }
      .simplesharer.social-media-standard .simplesharer-buttonlist li.simplesharer-email-button-item a:hover {
        text-decoration: none; }
      .simplesharer.social-media-standard .simplesharer-buttonlist li.simplesharer-email-button-item a i {
        display: block;
        font-size: 1.8vw; }
        l
.simplesharer.social-media-standard .simplesharer-buttonlist li.simplesharer-email-button-item a i.fa {
          font-size: 2.4vw; }
      .simplesharer.social-media-standard .simplesharer-buttonlist li.simplesharer-email-button-item a i.fa {
        font-size: 1.44vw;
        display: inline-block; }
      .simplesharer.social-media-standard .simplesharer-buttonlist li.simplesharer-email-button-item a:hover {
        background-color: #4d4d4d; }
