
<div class="search-container is-opened result-page">
    <div class="bg-cover  bg-blue">
        <div class="container search-form-box">
            <div id="searchbox">
                <!-- SearchBox widget will appear here -->
            </div>
            <input data-drupal-selector="edit-submit" type="submit" id="edit-submit" name="op" value="Rechercher" class="button js-form-submit form-submit">
        </div>
    </div>
</div>

<div class="result-container bg-grey page-full">
    <div class="container">
        <div class="page-full_main">
            <div id="stats" class="content740">
            </div>
            <div id="hits" class="content740">
                <!-- Hits widget will appear here -->
            </div>
            <div id="pagination" class="search-pagination">
                <!-- Pagination widget will appear here -->
            </div>
        </div>
    </div>
</div>
