{#
/**
 * @file
 * Default theme implementation of a Swipebox formatted image field.
 *
 * Available variables:
 * - image_original_uri: The stream URI to the uploaded image.
 * - item: An array of image data.
 * - item_filename: The image file name.
 * - path: An array contains path and options.
 *         The path is the URI to the uploaded image.
 * - image_style: An optional image style for the content.
 * - swipebox_image_style: An optional image style for the swipebox.
 * - swipebox_gallery: An value for the swipebox image grouping.
 * - swipebox_gallery_custom: The custom value if the custom image grouping
 *                            used.
 * - swipebox_caption: An value for the swipebox caption variant.
 * - swipebox_caption_custom: The custom value if the custom caption option
 *                            used.
 * - entity: Object. Examples: node
 * - entity_type: The entity type machine name. Examples: node
 * - field_definition: Object.
 * - image: An associative array contains a collection of image data.
 * - link: The link that has already been formatted by _l() and is usable
 *         with the Swipebox feature.
 * - link_url: The image URL to the lightbox image. E.g
 *             http://www.foo.com/sites/default/files/styles/large/public/fooimages/i-2XMXCBm-O_0.jpg
 * - link_options: An array contains the attributes array. The attributes
 *                 array contains:
 *                 - class: The class name to bind the swipebox behaviour
 *                          on a link.
 *                 - rel: The lightbox grouping value.
 *                 - title: The lightbox image caption.
 *
 *   Available variables in context with breakpoint mapping functions.
 *   Without this context, these variables are empty.
 *   - swipebox_fallback_image_style:
 *   - breakpoints: An array containing breakpoints.
 *
 * @see template_preprocess_dsbox_image_formatter()
 *
 * @ingroup themeable
 */
#}
{% spaceless %}
  <div class="image-item">
    <div class="image-url dsbox-image-url">{{ link }}</div>
  </div>
{% endspaceless %}
