{#
/**
 * @file
 * Default theme implementation of a Swipebox video link field template.
 *
 * Available variables:
 * - link: The link that has already been formatted by _l() and is usable with
 *         the Swipebox feature.
 * - linktext: The text to display the link. If the link text not available
 *             will be used the link URL.
 * - linkurl: The complete URL to a video.
 *            E.g http://www.youtube.com/watch?v=XSGBVzeBUbk&hd=1
 * - href: The complete URL to a video.
 *         E.g http://www.youtube.com/watch?v=XSGBVzeBUbk
 * - options: An associative array contains link options such as
 *            - query: The v parameter with video ID.
 *            - fragment: Not used.
 *            - attributes: The attributes array contains:
 *              - class: The class name to bind the swipebox behaviour
 *                       on a link.
 *              - rel: The lightbox grouping value.
 *
 * @see template_preprocess_dsbox_link_formatter_video_link()
 *
 * @ingroup themeable
 */
#}
{% spaceless %}
  <div class="link-item">
    <div class="link-url dsbox-link-url">{{ link }}</div>
  </div>
{% endspaceless %}
