
/**
 * @file
 * Credits: http://jqueryui.com/themeroller/
 */

/**
 * Components.
 */
#compGroupA {
  float: left;
  width: 58%;
}
#compGroupB {
  float: right;
  width: 38%;
}
.demoHeaders {
  font-size: 1.3em;
  font-weight: normal;
  margin: 2em 0 1em;
  clear: both;
}
.demoHeaders span {
  font-size: .8em;
}
#components #dialog_link {
  padding: .4em 1em .4em 20px;
  text-decoration: none;
  position: relative;
}
#components #dialog_link span.ui-icon {
  margin: 0 5px 0 0;
  position: absolute;
  left: .2em;
  top: 50%;
  margin-top: -8px;
  zoom: 1;
}

/**
 * Icons.
 */
ul#icons {
  margin: 0;
  padding: 0;
}
ul#icons li {
  margin: 2px;
  position: relative;
  padding: 4px 0;
  cursor: pointer;
  float: left;
  list-style: none;
}
ul#icons span.ui-icon {
  float: left;
  margin: 0 4px;
}
