{#
/**
 * @file
 * Default G2 Alphabar template.
 *
 * Available variables:
 * - alphabar : an array of links to the per-initial pages
 * - row_length : the length of the rows (except the last one)
 */
#}
<div class="g2-alphabar">
  {% for index,link in alphabar -%}
  {{- link -}}
  {%- if index % row_length == row_length - 1 %}<br />
  {% endif %}
  {%- endfor -%}
  </div>
