{#
/**
 * @file
 * Default G2 items-by-entry template.
 *
 * Available variables:
 * - raw_entry : the string for which to list G2 entries, tainted.
 * - entries : glossary entries matching entry parameter.
 * - message : a message in case there is no match.
 * - offer : an offer to create a new entry if applicable.
 */
#}
<div class="g2-entries">
  {% if entries is not empty %}
  <div class="g2-entries-list">
    {{ entries }}
    </div>
  {% else %}
    <p>{{ message }}</p>
    {% if offer is not empty %}
      <p>{{ offer }}</p>
    {% endif %}
  {% endif %}
  </div>
