{#
/**
 * Return a themed page listing entries by initial segment.
 *
 * This page is less information-rich than the disambiguation page,
 * because it is expected to have much more content.
 *
 * @param string $variables
 *   Set from hook_menu.
 *
 * @return string
 *   HTML: the themed page content.
 */
 #}
<div class="g2-initial">
{{ entries }}
  </div>
