{#
/**
 * @file
 * Template for G2 main page.
 *
 * Available variables:
 * - $alphabar: the configured alphabar
 * - $text: the text used to build the page
 */
#}
<p>{{ alphabar }}</p>
{{ text }}
{% if not text is empty %}
  <p>{{ alphabar }}</p>
{% endif %}
