/**
 * @file
 * Styles for Entity Browser's modal windows.
 */

.paragraphs-embed-dialog iframe {
  border: none;
  height: 50%;
}

.ui-dialog--narrow.paragraph-select-dialog .ui-widget-content.ui-dialog-content {
  overflow: hidden;
}

.ui-dialog--narrow.paragraph-select-dialog {
  max-width: 1200px;
}

@media screen and (min-width: 768px) {
  .ui-dialog--narrow.paragraph-select-dialog iframe {
    min-width: 730px; // 95%
  }
}

@media screen and (min-width: 1000px) {
  .ui-dialog--narrow.paragraph-select-dialog iframe {
    min-width: 950px; // 95%
  }
}

@media screen and (min-width: 1200px) {
  .ui-dialog--narrow.paragraph-select-dialog iframe {
    min-width: 1140px; // 95%
  }
}
