{#
/**
 * @file
 * Default theme implementation for the relevance bar.
 *
 * Available variables:
 * - width: The tag relevance that will be displayed as progress width.
 * - count: The tag relevance that will be displayed as progress count.
 *
 * @ingroup themeable
 */
#}
<div class="progress opencalais-relevance">
    <div class="progress-bar" role="progressbar" style="width: {{ width }}%;" aria-valuenow="{{ width }}" aria-valuemin="0" aria-valuemax="100">{{ count }}%</div>
</div>
