/* Enable this style to get a quick visual of the chunked markup structure */
/* Terribly garish colours */

.chunker.section,
.chunker .section {
  margin: 0.5em;
  padding: 0.5em;
  outline-style: solid;
  position: relative;
}

/* Annotate the container o make its depth visible */
.chunker .section:after {
  content: " (" attr(class) ") ";
  background-color: rgba(230,230,230,1);
  padding: 0.2em;
  position: absolute;
  right: 0;
  top: 0;
  border-left: 2px outset;
  border-bottom: 2px outset;
  max-width: 30%;
  font-size: 0.5em;
  overflow: hidden;
}

.chunker h1,
.chunker h2,
.chunker h3,
.chunker h4,
.chunker h5 {
  outline-style: dotted;
}

/* A short rainbow of hues, solid (50%), and lighter (85%) */

.chunker h1,
.chunker.chunker__section.depth-1 {
  outline-color: #0000ff;
  background-color: #b3b3ff;
}

.chunker h2,
.chunker .chunker__section.depth-2 {
  outline-color: #8000ff;
  background-color: #d9b3ff;
}
.chunker .chunker__content.depth-2 {
  background-color: #e9c3ff;
}

.chunker h3,
.chunker .chunker__section.depth-3 {
  outline-color: #ff00ff;
  background-color: #ffb3ff;
}
.chunker .chunker__content.depth-3 {
  background-color: #ffc3ff;
}

.chunker h4,
.chunker .chunker__section.depth-4 {
  outline-color: #ff0080;
  background-color: #ffb3d9;
}
.chunker .chunker__content.depth-4 {
  background-color: #ffc3e9;
}

.chunker h5,
.chunker .chunker__section.depth-5 {
  outline-color: #ff0000;
  background-color: #ffb3b3;
}
.chunker .chunker__content.depth-5 {
  background-color: #ffc3c3;
}
