/**
 * Snippet to make the header permalink indicator mostly hidden until hover.
 * You should make your own choices about this in your theme.
 */
.chunker .permalink {
  font-weight: bold;
  display: none;
}

.chunker h2:hover .permalink,
.chunker h3:hover .permalink,
.chunker h4:hover .permalink,
.chunker h5:hover .permalink
display: inline;
}
