/**
 * Should be compatible with bootstrap, which also defines a 'pagination' ul class
 */

.pagination {
  display: inline-block;
  padding: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.pagination>li {
  display: inline;
}
.pagination>li>a,
.pagination>li>span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.4;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.pagination>li>a.active {
  background-color: silver;
}
.pagination>li>a.inactive {
  color: silver;
}
