.video-background {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: auto;
  z-index: 0;
  background-size: cover;
}
.video-background video {
  min-height: auto;
  min-width: 100%;
}
