{#
/**
* @file
* Default theme implementation to the pseudo field Title.
*
* Available variables:
* - pseudotitle: HTML for the pseudo field Title.
*
* @ingroup themeable
*/
#}
<h1 class="title" id="page-title">{{ pseudotitle }}</h1>