{#
/**
 * @file
 * Template "remove filter" in the filters block
 *
 * Theme your own "remove filter" sighn here.
 */
#}

<h3>Filter applied: <strong>{{ menuHed.termName }}</strong>
    <a title ="Remove filter {{ menuHed.termName }} " href="{{ menuHed.linkUrl }}">[X]</a>
</h3>
