#edit-visually-impaired-block {
  background: url(../images/special.png);
  display: block;
  width: 200px;
  height: 67px;
  border: 0;
  cursor: pointer;
  margin: 0 auto;
}

#edit-visually-impaired-normal-block {
  background: url(../images/normal.png) no-repeat;
  width: 185px;
  height: 72px;
  display: block;
  margin: 0 auto;
  border: 0;
  cursor: pointer;
}
