{#
/**
 * @file
 * Default theme implementation for Inmail Message Address element.
 *
 * Available variable:
 * - address: A Rfc2822Address element containing a mail address and a name.
 *
 * @ingroup themeable
 */
#}

{% if address.getName %}
    <span class="inmail-message__address inmail-message__address__display-name" title="{{ address.getDecodedAddress }}">
        {{ address.getName }}
    </span>
{% else %}
    <span class="inmail-message__address">
        {{ address.getDecodedAddress }}
    </span>
{% endif %}
