[[install-requirements]]
=== مفهوم: پیشنیازهای سرور

[role="summary"]
مروری بر پیشنیازهای سرور برای نصب و اجرای دروپال

(((Installation requirements,overview)))
(((Installation requirements,disk space)))
(((Installation requirements,web server)))
(((Installation requirements,database)))
(((Installation requirements,PHP programming language)))
(((Installing,core software)))
(((Core software,installation requirements)))
(((Disk space,installation requirements)))
(((Web server,installation requirements)))
(((Apache web server,version requirements)))
(((Hiawatha web server,version requirements)))
(((Nginx web server,version requirements)))
(((Microsoft IIS web server,version requirements)))
(((Database,installation requirements)))
(((MySQL database,version requirements)))
(((PostgreSQL database,version requirements)))
(((SQLight database,version requirements)))
(((PHP programming language,version requirements)))

// ==== Prerequisite knowledge

==== پیشنیازهای اجرای دروپال چیست؟

===== فضای دیسک

یک نصب حداقل به 100 مگابایت فضا نیاز دارد. برای وبسایتی که از افزونه‌ها و قالب‌های دیگری استفاده کند 128 مگابایت فضا لازم است. در نظر داشته باشید که برای پایگاه‌داده، فایل‌های بارگذاری شده توسط کاربران و فایل‌های پشتیبان به فضای بیشتری نیاز دارید.

===== سرور وب

Apache (توصیه‌شده)::
  آپاچی متداول‌ترین سرور وب موجود است. دروپال روی آپاچی نسخه ۲ که روی سیستم عامل‌های گنو/لینوکس، مکینتاش و ویندوز همراه با افزونه mod_rewrite قرار داشته باشد، کار می‌کند. پیکربندی VirtualHost در آپاچی باید شامل عبارت _AllowOverride All_ برای استفاده از فایل _.htaccess_ دروپال باشد.
  
Nginx::
  تمرکز این سرور وب روی همزمانی بالا، عملکرد و استفاده بهینه از حافظه است. دروپال روی انجین‌ایکس نسخه ۱.۱ که روی سیستم عامل‌های گنو/لینوکس، مکینتاش و ویندوز قرار داشته باشد، کار می‌کند. افزونه ngx_http_rewrite_module نیز باید فعال و قابل استفاده باشد.
  
Hiawatha::
  تمرکز این سرور وب روی امنیت است. همچنین استفاده از آن ساده است و بار کمی روی سیستم می‌گذارد. تحقیقاتی که توسط محققان انجام شده است نشان می‌دهد که این سرور وب در زمان معمولی عملکری مشابه با سایر نرم‌افزارها دارد ولی در زمان حمله عملکرد بهتری از خود نشان می‌دهد. افزونه URL Toolkit باید فعال و قابل استفاده باشد.
  
Microsoft IIS::
  این سرور وب مخصوص سیستم عامل ویندوز است که شامل افزونه‌های بسیاری است. دروپال به نسخه‌های ۵ و ۶ و ۷ این سرور وب زمانی که پیکربندی مناسبی از PHP داشته باشند، کار می‌کند. از آنجا که به نشانی‌های تمیز نیاز است، می‌توانید از یک ابزار شخص-ثالث یا در نسخه ۷ از افزونه URL Rewrite استفاده کنید.
  
===== پایگاه‌داده

یکی از پایگاه‌داده‌های زیر را استفاده کنید:

* MySQL 5.5.3 (MariaDB 5.5.20، Percona 5.5.8) یا بالاتر به همراه موتور ذخیره‌ساز اولیه سازگار با InnoDB

* PostgreSQL 9.1.2 یا بالاتر

* SQLite 3.4.2 یا بالاتر

===== PHP

PHP 5.5.9 یا بالاتر

//==== Related topics

==== منابع مطالعاتی

https://www.drupal.org/docs/8/system-requirements[صفحه "پیشنیازهای سیستم" در مستندات جامعه‌کاربری _Drupal.org_]

*مشارکت‌کنندگان*

اقتباس توسط https://www.drupal.org/u/KarlKedrovsky[Karl Kedrovsky] و https://www.drupal.org/u/bemery987[Brian Emery] از https://www.drupal.org/docs/8/system-requirements[صفحه "پیشنیازهای سیستم" در مستندات جامعه‌کاربری _Drupal.org_]

ترجمه توسط https://www.drupal.org/u/novid[Navid Emami]

کپی‌رایت ۲۰۱۷-۲۰۰۰ توسط مشارکت‌کنندگان انفرادی در  https://www.drupal.org/documentation[مستندات جامعه کاربری دروپال]
