#edit-widget-dialog {
    font-family: Arial, sans-serif !important;
    font-size: 15px !important;
}


#edit-widget-dialog table {
    width: 100% !important;
}
#edit-widget-dialog table td {
    text-align: left !important;
    font-size: inherit !important;
    font-weight: normal !important;
    font-family: Arial, sans-serif !important;
}
#edit-widget-dialog input[type="checkbox"],
#edit-widget-dialog input[type="radio"] {
    padding: 0 !important;
    margin: 0 !important;
    height: auto !important;
    width: auto !important;
    position: static !important;
    left: auto !important;
    top: auto !important;
}
#edit-widget-dialog input[type="checkbox"] {
    -webkit-appearance: checkbox !important;
}
#edit-widget-dialog input[type="radio"] {
    -webkit-appearance: radio !important;
}
#edit-widget-dialog label,
#edit-widget-dialog label.option {
    background: none !important;
    display: inline !important;
    min-height: 0 !important;
    padding: 0 !important;
    font-size: inherit !important;
    font-weight: bold !important;
    letter-spacing: 0 !important;
    text-transform: none !important;
    color: inherit !important;
    font-family: Arial, sans-serif !important;
}
#edit-widget-dialog input[type="checkbox"] + label,
#edit-widget-dialog input[type="radio"] + label {
    font-weight: normal !important;
}
#edit-widget-dialog input[type=checkbox]:checked + label {
    background: none !important;
}
#edit-widget-dialog select {
    display: block !important;
}
#edit-widget-dialog .select2-container {
    display: none !important;
}
#edit-widget-dialog .form-item {
    margin: .5rem 0 !important;
}
#edit-widget-dialog .form-item .description {
    font-size: .9rem !important;
    line-height: 1.2rem !important;
}
#edit-widget-dialog .form-type-select label,
#edit-widget-dialog .field-type-text-long .form-type-select label {
    margin-top: 0 !important;
}
#edit-widget-dialog .form-text,
#edit-widget-dialog textarea,
#edit-widget-dialog .form-number {
    font-family: inherit !important;
    font-size: inherit !important;
    line-height: inherit !important;
    padding: 10px !important;
    border-width: 1px !important;
    border-style: solid; !important;
    border-color: #ccc !important;
    color: inherit !important;
    font-weight: normal !important;
    margin-top: .75rem !important;
}

#edit-widget-dialog .form-text {
    display: block !important;
}

#edit-widget-dialog .form-type-radio .description,
#edit-widget-dialog .form-type-checkbox .description {
    margin-left: 0 !important;
}

#edit-widget-dialog a.tabledrag-handle .handle {
    width: 25px;
    height: 25px;
}

.ui-dialog .ui-dialog-buttonpane button {
    padding: .5em 1em;
    font-size: .8em;
}

.ui-widget .button {
    padding: .5em 1em;
}

#edit-widget-dialog .ief-row-entity .field {
    margin-bottom: .75em;
}


#edit-widget-dialog .ief-tabledrag-handle {
    width: 10%;
}