.language-flag, .language-has-translation, .language-add-translation {
  padding-right: 20px;
  display: block;
  float: left;
  overflow: hidden;
  text-indent: -99999px;
  background-size: contain;
  margin-right: 10px;
  width: 0;
  background-repeat: no-repeat;
  background-position: 0 center;
}

.langcode-it {
  background-image: url('../images/it_flag.png');
}

.langcode-de {
  background-image: url('../images/de_flag.png');
}

.langcode-en {
  background-image: url('../images/en_flag.png');
}

.langcode-fr {
  background-image: url('../images/fr_flag.png');
}

.langcode-es {
  background-image: url('../images/es_flag.png');
}

.langcode-pl {
  background-image: url('../images/pl_flag.png');
}

.langcode-cs {
  background-image: url('../images/cz_flag.png');
}

.langcode-hu {
  background-image: url('../images/hu_flag.png');
}

.language-has-translation {
  background-image: url('../images/edit.png');
}

.language-add-translation {
  background-image: url('../images/add.png');
}