{#
/**
 * @file city.html.twig
 * Default theme implementation to present City data.
 *
 * This template is used when viewing City pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_city()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('city') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
