{#
/**
 * @file
 * Default template for the 'plain' country state field formatter.
 *
 * Available variables:
 *   - country
 *   - state
 *   - city
 *
 * @ingroup themeable
 */
#}
<p class="country-state-field" translate="no">
  {% if city %}
      {{ city }},
  {% endif %}

  {% if state %}
    {{ state }},
  {% endif %}

  {% if country %}
    {{ country }}.
  {% endif %}

</p>
<!-- Add you custom twig html here -->
