{#
/**
 * @file state.html.twig
 * Default theme implementation to present State data.
 *
 * This template is used when viewing State pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_state()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('state') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
