{#
/**
 * @file
 * The template for the header of the Smart Glossary
 *
 * available variables:
 * - glossary_id string
 *     The ID of the connected SmartGlossary config
 * - glossary_path string
 *     The base path for the glossary page
 * - character_list array
 *     A list of all characters
 * - current_language string
 *     The currently chosen language of the concepts
 */
 #}

{{ attach_library('smart_glossary/general') }}

<div id="smart-glossary-header">
    <div id="smart-glossary-autocomplete">
        <input class="concept-autocomplete" autocomplete="off" title="{% trans %}Enter term name{% endtrans %}" placeholder="{% trans %}Enter term name{% endtrans %}" value="" type="text">
    </div>
    <div class="clearBoth"></div>

    <ul class="alphabet">
        {% for char, available in character_list %}
        <li class="letter floatLeft{% if not available %} disabled{% endif %}{% if loop.last %} last{% endif %}">
            <a href="/{{ glossary_path ~ '/' ~ current_language ~ '/list/' ~ char }}">{{ char }}</a>
        </li>
        {% endfor %}
        <div class="clearBoth"></div>
    </ul>
</div>
