{#
/**
 * @file
 * The template for the start page of the Smart Glossary
 *
 * available variables:
 * - module_path string
 *     The path to the Smart Glossary module
 * - glossary_id string
 *     The ID of the connected SmartGlossary config
 * - glossary_path string
 *     The base path for the glossary page
 * - visual_mapper_available bool
 *     TRUE if the Visual Mapper exists, FALSE if not
 * - visual_mapper_settings string
 *     The settings for the Visual Mapper in json format
 * - current_language string
 *     The currently chosen language of the concepts
 */
#}

{% set visual_mapper_args = {
    'glossary_path': glossary_path,
    'visual_mapper_available': visual_mapper_available,
    'concept_uri': '',
    'visual_mapper_settings': visual_mapper_settings,
    'current_language': current_language
} %}

<div id="smart-glossary-detail">
    {% include module_path ~ '/templates/smart-glossary-visual-mapper.html.twig' with visual_mapper_args %}
</div>
