{#
/**
* @file
* The template for the list view of the Smart Glossary
*
* available variables:
* - list array
*     An array of filtered terms
*/
#}

<div id="smart-glossary-list">
    {% if list is empty %}
    <p>{% trans %}No terms found{% endtrans %}</p>
    {% else %}
    <ul>
        {% for term in list %}
        <li>
            <a href="{{ term.url }}">{{ term.prefLabel }}</a>
            {% if term.multiple and term.broader is not empty %}
            <span class="term_text">({% for broader in term.broader %}{{ broader }}{% endfor %})</span>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>