#maestro_div_template {
  background-color: #f0f0f0;
  -webkit-border-radius: 12px; 
  -moz-border-radius: 12px; 
  border-radius: 12px;
  border: solid #a0a0a0 1px;
  margin-top: 5px; 
}

.maestro-canvas-button {
	margin-left: 10px;
  margin-right: 0;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #a0a0a0;
  border-image: none;
  border-radius: 1em;
  border-style: solid;
  border-width: 1px;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: "Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;
  font-size: 0.929em;
  font-weight: bold;
  line-height: normal;
  padding: 0.25em 1.063em;
  text-align: center;
}

.maestro-add-new-button {
	margin-left: 10px;
  margin-right: 0;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #a0a0a0;
  border-image: none;
  border-radius: 1em;
  border-style: solid;
  border-width: 1px;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: "Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;
  font-size: 0.929em;
  font-weight: bold;
  line-height: normal;
  padding: 0.25em 1.063em;
  text-align: center;
}

.maestro_hidden_element {
	display: none;
	visibility: none;
}

#close-task-menu {
	cursor: pointer;
	display: inline-block;
	margin-top: -5px;
	margin-left: 70px;
}

#edit-menu.maestro-popup-menu {
	border: none;
	margin-top: 0px;
	padding-left: 0px;
}

#edit-menu.maestro-popup-menu > div > input {
 
  margin-top: 5px;
}

#maestro-task-menu {
	position: absolute;
	top: 50px;
	left: 50px;
	width: 200px;
	display: none;

}

#maestro-task-menu > div {
	padding: 15px 1px 15px 15px;
}

.maestro-template-message-area {
	margin-bottom: 5px;
	display: none;
	position: absolute;
}

#maestro-template-error {
	display: none;
}

.template-validity-check-issue {
	padding-bottom: 10px;
	border-bottom: 1px solid black;
}

.template-validity-check-label {
	font-weight: bold;
}

.maestro-template-validation-div {
	margin-left: 10px;
  margin-right: 0;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #ff0000;
  border-image: none;
  border-radius: 1em;
  border-style: solid;
  border-width: 1px;
  color: black;
  margin-bottom: 20px;
  width: 30%;
  text-align: center;
  padding: 5px;
  font-family: "Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;
}

.maestro-template-validation-div-hide {
	display: none;
}

#save-task-notificaiton {
	display: none;
}

.maestro-task-legend {
	width: 500px;
}


.legend-task {
	width: 50px;
	height: 25px;
	border-radius: 5px;
	border: solid 2px;
	float: left;
	margin-top: 5px;
}

.legend-interactive {
	border-color: #0000ff;
}

.legend-logical {
	border-color: #daa520;
}

.legend-batch {
  border-color: #707070;
}

.legend-start {
  border-color: #00ff00;
}

.legend-end {
  border-color: #ff0000;
}

.legend-information-title {
	font-weight: bold;
	font-size: 1.05em;
}

.legend-information {
	/*width: 200px;*/
	padding-left: 65px;
	padding-top: 10px;
}





