{#
/**
 * @file
 * Theme implementation for the messages block.
 *
 * Add back wrapper element for the module to be able to locate this block and
 * add AJAX message into it.
 *
 * Available variables:
 * - content: The content of this block.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'js-edit-ui__system_messages_block'
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ content }}
</div>
