{#
/**
 * @file cloudwords_project.html.twig
 * Default theme implementation to present Cloudwords project data.
 *
 * This template is used when viewing Cloudwords project pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_cloudwords_project()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('cloudwords_project') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
