@CHARSET "UTF-8";

/**
 * Use a fixed width to layout the alphabar as a character grid
 */
.g2-alphabar a {
  border: thin solid transparent;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  display: inline-block;
  text-align: center;
  width: 1.5em;
}

.g2-alphabar a:hover {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}
