{#
/**
 * @file webform-cart-order.html.twig
 * Default theme implementation to present Webform cart order entity data.
 *
 * This template is used when viewing Webform cart order entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_webform_cart_order()
 *
 * @ingroup themeable
 */
#}
{% if ordersCount > 0 %}
    {% set cartItemsClass = ' has-items' %}
{% else %}
    {% set cartItemsClass = ' empty' %}
{% endif %}

{% set indicatorClasses = 'webform-cart__basket-indicator' ~ cartItemsClass %}

<div{{ attributes.addClass('webform_cart_order', 'webform-cart__basket-icon-container') }}>
  <div class="webform-cart__basket-icon">
      <a href="{{ content['#checkoutPage'] }}">
      <span class="{{ indicatorClasses }}" id="added_to_cart">
        {%- if ordersCount > 0 -%}
            {{- ordersCount -}}
        {% else %}
          0
        {%- endif -%}
      </span>
    </a>
  </div>
</div>