{#
/**
 * @file webform-cart-item.html.twig
 * Default theme implementation to present Webform cart item entity data.
 *
 * This template is used when viewing Webform cart item entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_webform_cart_item()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('webform-cart') }}>
    <div class="webform-cart__order">
        {{ order }}
    </div>
    <div class="webform-cart__webform">
        {{ webform }}
    </div>
</div>
