#clock_holder p {
    margin: 0px;
}

.countdownDisplay {
    padding: 5px;
}

.countdownDigitBk {
    color: #fff;
    padding: 0.3em 0.3em 0.3em 0.3em;
    border-radius: 8px;
    position: relative;
    top: -2px;
}
