#homebox-page .homebox-save-form {
  display: none;
}
#homebox {
position: relative;
}

/**
 * Columns/regions
 */
.homebox-column {
  /*margin: 2px;*/
  min-height: 40px;
  background: url(../images/stripe.png);
  float: left;
  width: 100%;
}

/*
** Portlets/boxes
*/
#homebox .homebox-portlet {
  margin: 2px 0 5px;
  padding: 0;
  border: 3px solid #eee;
  background-color: white;
}
#homebox .homebox-portlet .homebox-portlet-inner {
  border: 1px solid #c0c0c0;
  overflow: hidden;
}
#homebox .portlet-content {
  padding: 4px;
}
#homebox .homebox-portlet .portlet-header {
  margin: 0;
  padding: 2px 4px;
  border-bottom: 1px solid #ddd;
  background: #e4f0f8; /* matches garland */
  color: #494949;
  min-height: 18px;
  font-size: 1em;
}
#homebox .homebox-draggable .portlet-header:hover {
  cursor: move;
}
#homebox .homebox-portlet .portlet-header .portlet-title {
  display: block;
  z-index: 9; /* IE is terrible */
  position: relative; /* IE is terrible */
  width: 75%;
  float: left;
}

/*
** Icons
*/
.portlet-icon {
  float: right;
  height: 16px;
  width: 16px;
  cursor: pointer;
  z-index: 10; /* IE is terrible */
  position: relative; /* IE is terrible */
}
.portlet-close {
  background: url(../images/close.gif);
  text-indent: -9999px;
}