span.cr-status {
  display: inline-block;
  border: 1px solid transparent;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  line-height: 1.4em;
  padding: 0 .5em;
}

span.cr-status.proposed {
  color: #0000ff;
  border-color: #0000ff;
}

span.cr-status.applied {
  color: #008000;
  border-color: #008000;
}

span.cr-status.conflicted {
  color: #ffaa00;
  border-color: #ffaa00;
}

span.cr-status.declined {
  color: #ff0000;
  border-color: #ff0000;
}

span.cr-status.disabled {
  color: #666666;
  border-color: #666666;
}
