{#
/**
 * @file
 * Default theme implementation for displaying a mail.
 *
 * Available variables:
 * - account: The full mail information.
 *
 * @ingroup themeable
 */
#}
<h2>{{ mail.subject }}</h2>
<div class="mail-body">
    {{ mail.body }}
</div>