/**
 * The .css file is intended to only contain styling related to Download Link Labeler rendered markup.
 */

/* @group File Label Size, Position, Corner Rounding */

.label-file {
	font-size: 12px !important;
	text-transform: lowercase !important;
	text-decoration: none !important;
	font-style: normal !important;
	font-weight: bold !important;
	display: inline-block;
	color: #FFF;
	padding: 2px 5px;
	border-radius: 3px;
	background-color: #333;
}

/* @end */

/* @group File Label Background Colors by File Type */

.label-file-pdf {
	background-color: #d24141;
}

.label-file-doc, .label-file-docx {
	background-color: #2a5699;
}

.label-file-ppt, .label-file-pptx {
	background-color: #cb4a32;
}

.label-file-xls, .label-file-xlsx {
	background-color: #207245;
}

.label-file-zip {
	background-color: #333;
}

/* @end */