{#
/**
 * @file md-icon-text.html.twig
 * Default theme implementation to present an icon along with its label.
 *
 * @see template_preprocess_md_icon_text()
 *
 * @ingroup themeable
 */
#}
{%
set classIcon = [
'icon',
'fontello',
icon
]
%}
{% if icon and position=="before" %}
    <i {{ attributes.addClass(classIcon) }}></i>
{% endif %}
{% if title and not icon_only %}
    <span class="icon-label">
    {{ title }}
    </span>
{% endif %}
{% if icon and position=="after" %}
    <i {{ attributes.addClass(classIcon) }}></i>
{% endif %}
