/**
 * @file
 * Stylesheet for the past main UI.
 */

/**
 * Actor dropbutton.
 */
.actor-dropbutton-wrapper .dropbutton-wrapper {
  float: left;
}
.actor-dropbutton-wrapper {
  width: 100%;
  float: left;
  padding-bottom: 4px;
}

/**
 * Argument output.
 */
.past-argument-indented {
  padding-left: 20px;
}

/**
 * Past severity.
 */
table.past-severity-colors tr {
  border-left:  8px solid #bebfb9;
}

table tr.past-critical,
table tr.past-alert,
table tr.past-emergency,
table tr.past-error {
  border-left: 8px solid #E62600;
}

tr.past-critical .views-field-severity,
tr.past-alert .views-field-severity,
tr.past-emergency .views-field-severity,
tr.past-error .views-field-severity {
  background: url('message-16-error.png') no-repeat 0% 50%;
  padding-left: 16px;
}

table tr.past-warning {
  border-left: 8px solid #E09600;
}

tr.past-warning .views-field-severity {
  background: url('message-16-warning.png') no-repeat 0% 50%;
  padding-left: 16px;
}

table tr.past-notice {
  border-left: 8px solid #77B259;
}

tr.past-notice .views-field-severity {
  background: url('message-16-ok.png') no-repeat 0% 50%;
  padding-left: 16px;
}
