/**
 * @file edit-ui.toolbar.css
 *
 * Edit UI toolbar styling.
 */


/* Body state. */
.is-edit-ui-toolbar-opened {
  margin-right: 240px;
}

[dir="rtl"] .is-edit-ui-toolbar-opened {
  margin-left: 240px;
  margin-right: auto;
}


/* Toolbar */
.toolbar.edit-ui__toolbar {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 240px;
  z-index: 50;
  overflow: auto;
  font-size: small;
}

[dir="rtl"] .edit-ui__toolbar {
  left: 0;
  right: auto;
}

@media print {
  .edit-ui__toolbar {
    display: none;
  }
}

.edit-ui__toolbar .form-type-search {
  text-align: center;
  padding: 0 1em;
}


/* Admin menu */
.toolbar .toolbar-bar .toolbar-tab > .edit-ui__toolbar-icon.toolbar-icon {
  padding-left: 3em;
}

.toolbar .toolbar-bar .toolbar-tab > .edit-ui__toolbar-icon.toolbar-icon:before {
  width: 26px;
}


/* Tabs */
.edit-ui__tabs {
  margin: 0;
  padding: 0;
  display: table;
  width: 100%;
  overflow: hidden;
}

.edit-ui__tabs > li {
  display: table-cell;
  text-align: center;
}

.edit-ui__tabs .edit-ui__tabs__link {
  display: block;
  height: 40px;
  line-height: 40px;
  margin: -1px -1px 0;
  z-index: 1;
  position: relative;
  font-weight: bold;
}

.edit-ui__tabs .edit-ui__tabs__link.active,
.edit-ui__tabs .edit-ui__tabs__link.active:hover {
  z-index: 0;
}


/* Block list */
.edit-ui__toolbar .edit-ui__block {
  background-repeat: no-repeat;
  background-position: 3px center;
  cursor: pointer;
  padding: 5px 5px 5px 25px;
  position: relative;
  outline-width: 0;
  margin: 0;
}

[dir="rtl"] .edit-ui__toolbar .edit-ui__block {
  background-position: calc(100% - 3px) center;
  padding: 5px 25px 5px 5px;
}

.edit-ui__toolbar .edit-ui__toolbar__link {
  line-height: 20px;
}

.edit-ui__toolbar .edit-ui__block.active {
  opacity: 0.25;
}


/* Disabled region */
.edit-ui__toolbar__region {
  overflow: auto;
  position: absolute;
  top: 100px;
  bottom: 43px;
  left: 3px;
  right: 3px;
}

/* Save button */
.edit-ui__toolbar .edit-ui__toolbar__button {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0;
  height: 40px;
  font-size: 1em;
  font-weight: bold;
}

/* Trash element */
.edit-ui__trash {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: -62px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
  border-radius: 30px;
  overflow: hidden;
  transition: bottom 300ms;
  transition-timing-function: cubic-bezier(.18,.89,.32,1.28);
}

.edit-ui__trash-icon {
  width: 62px;
  height: 62px;
  border-radius: 31px;
  position: relative;
  top: -1px;
  left: -1px;
  transition: all 300ms;
}

.edit-ui__trash.is-edit-ui-region-available {
  bottom: 20px;
}

.edit-ui__trash.is-edit-ui-region-active .edit-ui__trash-icon {
  transform: translateY(15px) rotateX(60deg);
}
