/**
 * @file edit-ui.block.css
 *
 * Edit UI block styling.
 */


/* Edit-ui blocks. */
.edit-ui__block {
  padding: 1px;
  margin: -1px;
  outline-offset: -1px;
  position: relative;
  min-width: 100px;
  min-height: 20px;
  cursor: move;
  cursor: -webkit-grab;
  cursor: -moz-grab;
}

.edit-ui__block.is-dragging {
  opacity: 0.25;
}


/* Edit-ui ghost block. */
.edit-ui__ghost {
  min-width: 100px;
  min-height: 20px;
  position: relative;
  background: transparent;
}


/* Edit-ui dragging block. */
.edit-ui__dragging {
  box-sizing: border-box;
  position: absolute;
  display: none;
  width: 40px;
  height: 40px;
  margin: 0;
  opacity: 1;
  transition-duration: 300ms;
  transition-property: width, height, margin, opacity, border-radius;
  z-index: 100;
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
}


/* Edit-ui block's tooltip */
.edit-ui__tooltip {
  position: absolute;
  max-width: 320px;
  width: 320px;
  z-index: 100;
}


/* Edit-ui tooltip's fence */
.edit-ui__tooltip-fence {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
  z-index: -1;
}


/* Edit-ui overrides. */
.ui-dialog .vertical-tabs__menu {
  margin: 0;
}

.ui-dialog small .admin-link:before {
  content: ' [';
}

.ui-dialog small .admin-link:after {
  content: ']';
}
