/**
 * @file edit-ui.icons.theme.css
 *
 * Edit UI icons theme styling.
 */

/* Toolbar tab appearance. */
.toolbar .toolbar-bar .edit-ui__toolbar-tab {
  float: right; /* LTR */
}
[dir="rtl"] .toolbar .toolbar-bar .edit-ui__toolbar-tab {
  float: left;
}


/* Edit UI icons. */
.edit-ui__toolbar-icon:before {
  background-image: url(../icons/bebebe/edit_ui.svg);
}
.edit-ui__toolbar-icon:active:before,
.edit-ui__toolbar-icon.is-active:before {
  background-image: url(../icons/ffffff/edit_ui.svg);
}

.edit-ui__dragging ,
.edit-ui__toolbar .edit-ui__block {
  background-image: url(../icons/5181c6/move.svg);
}

/* Trash element */
.edit-ui__trash-icon {
  background-image: url(../icons/ffffff/trash.svg);
}
