/* @todo: add responsive styles and breakpoints */

.available-drawers-table-header-text span { background-color: #90ee90; }

.available-drawer-with-generator-row { background-color: #90ee90; }
.available-drawer-with-generator-row:hover { background-color: #65e665; }


.drawing-build-wrapper { display: block; }

.redraw-button { margin-top: 15px; text-align: right; }
.config-subforms:after {
  content: "";
  display: block;
  clear: both;
}
.drawer-config-subform,
.resource-provider-config-subform { width: 48.5%; float: left; }
.drawer-config-subform { margin-right: 3%; }
