pre code.js-code {
  display: block;
  overflow-x: auto;
  padding: 15px;
  background: #f0f0f0;
  -webkit-text-size-adjust: none;
  font-family: monospace,monospace;
  font-size: 1em;
}

#chart-line,
#chart-bar,
#chart-pie,
#chart-dynamic {
  height: 300px;
  width: 500px;
  position: relative;
  margin-right: auto;
}

#chart-pie table.jqplot-table-legend,
#chart-dynamic table.jqplot-table-legend {
  width: auto;
}
