{#
/**
 * @file cronpub_entity.html.twig
 * Default theme implementation to present Cronpub Task data.
 *
 * This template is used when viewing Cronpub Task pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_cronpub_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('cronpub_entity') }}>

  {% if content %}
    {{- content -}}
  {% endif %}
</div>
