div.nice-imagefield-sortable:after {
    clear: both;
    display: block;
    content: "";
}

div.nice-imagefield-sortable div.ui-sortable-placeholder {
    border: dotted 1px #333;
}

div.nice-imagefield-sortable div.ui-sortable-helper {
    border: solid 1px #333;
}

div.nice-imagefield-sortable > div {
    float: left;
    border: solid 1px transparent;
    margin: .5em;
}

div.nice-imagefield-sortable > div .inner {
    background: #fff;
    padding: 1em;
}

div.nice-imagefield-sortable > .nice-imagefield-card > div {
    border: solid 1px #ddd;
    overflow: hidden;
}

div.nice-imagefield-sortable > .nice-imagefield-card > div.front img {
    z-index: 99;
    position: relative;
    display: block;
}

div.nice-imagefield-sortable > div .front .operations {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    transition-property: all;
    transition-duration: .5s;
    z-index: 100;
    top: 1em;
    left: 1em;
}

div.nice-imagefield-sortable > div.ui-sortable-helper .front .operations {
    display: none;
}

div.nice-imagefield-sortable > div:hover .front .operations {
    opacity: 1;
    visibility: visible;
}

div.nice-imagefield-sortable > div .back .operations {
    margin: 1em 0;
}

div.nice-imagefield-sortable > div .loading {
    background: url("../img/drupal_logo.svg") no-repeat 0 0;
    background-size: contain;
    height: 4em;
    width: 4em;
    top: 50%;
    left: 50%;
    position: absolute;
    z-index: 98;
    margin: -2em 0 0 -2em;
}

div.nice-imagefield-sortable > div .nice-imagefield-weight {
    display: none;
}
