{#
/**
 * @file
 * Outputs a div for Civil Comments comments, and the script element used to
 * load, render, and control them.
 *
 * @todo
 *  - Replace js with civilcomments' own js.
 */
#}
<div id="civil-comments">
  <noscript>{{ 'Please enable javascript in your browser to view comments.'|t }}</noscript>
</div>
