/**
 * @file
 */

.gridstack.grid-stack-8 > .box {
  min-width: 12.5%;
}

.gridstack.grid-stack-8 > .box[data-gs-width='1'] {
  width: 12.5%;
}

.gridstack.grid-stack-8 > .box[data-gs-x='1'] {
  left: 12.5%;
}

.gridstack.grid-stack-8 > .box[data-gs-min-width='1'] {
  min-width: 12.5%;
}

.gridstack.grid-stack-8 > .box[data-gs-max-width='1'] {
  max-width: 12.5%;
}

.gridstack.grid-stack-8 > .box[data-gs-width='2'] {
  width: 25%;
}

.gridstack.grid-stack-8 > .box[data-gs-x='2'] {
  left: 25%;
}

.gridstack.grid-stack-8 > .box[data-gs-min-width='2'] {
  min-width: 25%;
}

.gridstack.grid-stack-8 > .box[data-gs-max-width='2'] {
  max-width: 25%;
}

.gridstack.grid-stack-8 > .box[data-gs-width='3'] {
  width: 37.5%;
}

.gridstack.grid-stack-8 > .box[data-gs-x='3'] {
  left: 37.5%;
}

.gridstack.grid-stack-8 > .box[data-gs-min-width='3'] {
  min-width: 37.5%;
}

.gridstack.grid-stack-8 > .box[data-gs-max-width='3'] {
  max-width: 37.5%;
}

.gridstack.grid-stack-8 > .box[data-gs-width='4'] {
  width: 50%;
}

.gridstack.grid-stack-8 > .box[data-gs-x='4'] {
  left: 50%;
}

.gridstack.grid-stack-8 > .box[data-gs-min-width='4'] {
  min-width: 50%;
}

.gridstack.grid-stack-8 > .box[data-gs-max-width='4'] {
  max-width: 50%;
}

.gridstack.grid-stack-8 > .box[data-gs-width='5'] {
  width: 62.5%;
}

.gridstack.grid-stack-8 > .box[data-gs-x='5'] {
  left: 62.5%;
}

.gridstack.grid-stack-8 > .box[data-gs-min-width='5'] {
  min-width: 62.5%;
}

.gridstack.grid-stack-8 > .box[data-gs-max-width='5'] {
  max-width: 62.5%;
}

.gridstack.grid-stack-8 > .box[data-gs-width='6'] {
  width: 75%;
}

.gridstack.grid-stack-8 > .box[data-gs-x='6'] {
  left: 75%;
}

.gridstack.grid-stack-8 > .box[data-gs-min-width='6'] {
  min-width: 75%;
}

.gridstack.grid-stack-8 > .box[data-gs-max-width='6'] {
  max-width: 75%;
}

.gridstack.grid-stack-8 > .box[data-gs-width='7'] {
  width: 87.5%;
}

.gridstack.grid-stack-8 > .box[data-gs-x='7'] {
  left: 87.5%;
}

.gridstack.grid-stack-8 > .box[data-gs-min-width='7'] {
  min-width: 87.5%;
}

.gridstack.grid-stack-8 > .box[data-gs-max-width='7'] {
  max-width: 87.5%;
}

.gridstack.grid-stack-8 > .box[data-gs-width='8'] {
  width: 100%;
}

.gridstack.grid-stack-8 > .box[data-gs-x='8'] {
  left: 100%;
}

.gridstack.grid-stack-8 > .box[data-gs-min-width='8'] {
  min-width: 100%;
}

.gridstack.grid-stack-8 > .box[data-gs-max-width='8'] {
  max-width: 100%;
}
