/**
 * @file
 */

.gridstack.grid-stack-2 > .box {
  min-width: 50%;
}

.gridstack.grid-stack-2 > .box[data-gs-width='1'] {
  width: 50%;
}

.gridstack.grid-stack-2 > .box[data-gs-x='1'] {
  left: 50%;
}

.gridstack.grid-stack-2 > .box[data-gs-min-width='1'] {
  min-width: 50%;
}

.gridstack.grid-stack-2 > .box[data-gs-max-width='1'] {
  max-width: 50%;
}

.gridstack.grid-stack-2 > .box[data-gs-width='2'] {
  width: 100%;
}

.gridstack.grid-stack-2 > .box[data-gs-x='2'] {
  left: 100%;
}

.gridstack.grid-stack-2 > .box[data-gs-min-width='2'] {
  min-width: 100%;
}

.gridstack.grid-stack-2 > .box[data-gs-max-width='2'] {
  max-width: 100%;
}
