/**
 * @file
 */

.gridstack.grid-stack-7 > .box {
  min-width: 14.2857142857%;
}

.gridstack.grid-stack-7 > .box[data-gs-width='1'] {
  width: 14.2857142857%;
}

.gridstack.grid-stack-7 > .box[data-gs-x='1'] {
  left: 14.2857142857%;
}

.gridstack.grid-stack-7 > .box[data-gs-min-width='1'] {
  min-width: 14.2857142857%;
}

.gridstack.grid-stack-7 > .box[data-gs-max-width='1'] {
  max-width: 14.2857142857%;
}

.gridstack.grid-stack-7 > .box[data-gs-width='2'] {
  width: 28.5714285714%;
}

.gridstack.grid-stack-7 > .box[data-gs-x='2'] {
  left: 28.5714285714%;
}

.gridstack.grid-stack-7 > .box[data-gs-min-width='2'] {
  min-width: 28.5714285714%;
}

.gridstack.grid-stack-7 > .box[data-gs-max-width='2'] {
  max-width: 28.5714285714%;
}

.gridstack.grid-stack-7 > .box[data-gs-width='3'] {
  width: 42.8571428571%;
}

.gridstack.grid-stack-7 > .box[data-gs-x='3'] {
  left: 42.8571428571%;
}

.gridstack.grid-stack-7 > .box[data-gs-min-width='3'] {
  min-width: 42.8571428571%;
}

.gridstack.grid-stack-7 > .box[data-gs-max-width='3'] {
  max-width: 42.8571428571%;
}

.gridstack.grid-stack-7 > .box[data-gs-width='4'] {
  width: 57.1428571429%;
}

.gridstack.grid-stack-7 > .box[data-gs-x='4'] {
  left: 57.1428571429%;
}

.gridstack.grid-stack-7 > .box[data-gs-min-width='4'] {
  min-width: 57.1428571429%;
}

.gridstack.grid-stack-7 > .box[data-gs-max-width='4'] {
  max-width: 57.1428571429%;
}

.gridstack.grid-stack-7 > .box[data-gs-width='5'] {
  width: 71.4285714286%;
}

.gridstack.grid-stack-7 > .box[data-gs-x='5'] {
  left: 71.4285714286%;
}

.gridstack.grid-stack-7 > .box[data-gs-min-width='5'] {
  min-width: 71.4285714286%;
}

.gridstack.grid-stack-7 > .box[data-gs-max-width='5'] {
  max-width: 71.4285714286%;
}

.gridstack.grid-stack-7 > .box[data-gs-width='6'] {
  width: 85.7142857143%;
}

.gridstack.grid-stack-7 > .box[data-gs-x='6'] {
  left: 85.7142857143%;
}

.gridstack.grid-stack-7 > .box[data-gs-min-width='6'] {
  min-width: 85.7142857143%;
}

.gridstack.grid-stack-7 > .box[data-gs-max-width='6'] {
  max-width: 85.7142857143%;
}

.gridstack.grid-stack-7 > .box[data-gs-width='7'] {
  width: 100%;
}

.gridstack.grid-stack-7 > .box[data-gs-x='7'] {
  left: 100%;
}

.gridstack.grid-stack-7 > .box[data-gs-min-width='7'] {
  min-width: 100%;
}

.gridstack.grid-stack-7 > .box[data-gs-max-width='7'] {
  max-width: 100%;
}
