/**
 * @file
 */

.gridstack.grid-stack-10 > .box {
  min-width: 10%;
}

.gridstack.grid-stack-10 > .box[data-gs-width='1'] {
  width: 10%;
}

.gridstack.grid-stack-10 > .box[data-gs-x='1'] {
  left: 10%;
}

.gridstack.grid-stack-10 > .box[data-gs-min-width='1'] {
  min-width: 10%;
}

.gridstack.grid-stack-10 > .box[data-gs-max-width='1'] {
  max-width: 10%;
}

.gridstack.grid-stack-10 > .box[data-gs-width='2'] {
  width: 20%;
}

.gridstack.grid-stack-10 > .box[data-gs-x='2'] {
  left: 20%;
}

.gridstack.grid-stack-10 > .box[data-gs-min-width='2'] {
  min-width: 20%;
}

.gridstack.grid-stack-10 > .box[data-gs-max-width='2'] {
  max-width: 20%;
}

.gridstack.grid-stack-10 > .box[data-gs-width='3'] {
  width: 30%;
}

.gridstack.grid-stack-10 > .box[data-gs-x='3'] {
  left: 30%;
}

.gridstack.grid-stack-10 > .box[data-gs-min-width='3'] {
  min-width: 30%;
}

.gridstack.grid-stack-10 > .box[data-gs-max-width='3'] {
  max-width: 30%;
}

.gridstack.grid-stack-10 > .box[data-gs-width='4'] {
  width: 40%;
}

.gridstack.grid-stack-10 > .box[data-gs-x='4'] {
  left: 40%;
}

.gridstack.grid-stack-10 > .box[data-gs-min-width='4'] {
  min-width: 40%;
}

.gridstack.grid-stack-10 > .box[data-gs-max-width='4'] {
  max-width: 40%;
}

.gridstack.grid-stack-10 > .box[data-gs-width='5'] {
  width: 50%;
}

.gridstack.grid-stack-10 > .box[data-gs-x='5'] {
  left: 50%;
}

.gridstack.grid-stack-10 > .box[data-gs-min-width='5'] {
  min-width: 50%;
}

.gridstack.grid-stack-10 > .box[data-gs-max-width='5'] {
  max-width: 50%;
}

.gridstack.grid-stack-10 > .box[data-gs-width='6'] {
  width: 60%;
}

.gridstack.grid-stack-10 > .box[data-gs-x='6'] {
  left: 60%;
}

.gridstack.grid-stack-10 > .box[data-gs-min-width='6'] {
  min-width: 60%;
}

.gridstack.grid-stack-10 > .box[data-gs-max-width='6'] {
  max-width: 60%;
}

.gridstack.grid-stack-10 > .box[data-gs-width='7'] {
  width: 70%;
}

.gridstack.grid-stack-10 > .box[data-gs-x='7'] {
  left: 70%;
}

.gridstack.grid-stack-10 > .box[data-gs-min-width='7'] {
  min-width: 70%;
}

.gridstack.grid-stack-10 > .box[data-gs-max-width='7'] {
  max-width: 70%;
}

.gridstack.grid-stack-10 > .box[data-gs-width='8'] {
  width: 80%;
}

.gridstack.grid-stack-10 > .box[data-gs-x='8'] {
  left: 80%;
}

.gridstack.grid-stack-10 > .box[data-gs-min-width='8'] {
  min-width: 80%;
}

.gridstack.grid-stack-10 > .box[data-gs-max-width='8'] {
  max-width: 80%;
}

.gridstack.grid-stack-10 > .box[data-gs-width='9'] {
  width: 90%;
}

.gridstack.grid-stack-10 > .box[data-gs-x='9'] {
  left: 90%;
}

.gridstack.grid-stack-10 > .box[data-gs-min-width='9'] {
  min-width: 90%;
}

.gridstack.grid-stack-10 > .box[data-gs-max-width='9'] {
  max-width: 90%;
}

.gridstack.grid-stack-10 > .box[data-gs-width='10'] {
  width: 100%;
}

.gridstack.grid-stack-10 > .box[data-gs-x='10'] {
  left: 100%;
}

.gridstack.grid-stack-10 > .box[data-gs-min-width='10'] {
  min-width: 100%;
}

.gridstack.grid-stack-10 > .box[data-gs-max-width='10'] {
  max-width: 100%;
}
