/**
 * @file
 */

.gridstack.grid-stack-3 > .box {
  min-width: 33.3333333333%;
}

.gridstack.grid-stack-3 > .box[data-gs-width='1'] {
  width: 33.3333333333%;
}

.gridstack.grid-stack-3 > .box[data-gs-x='1'] {
  left: 33.3333333333%;
}

.gridstack.grid-stack-3 > .box[data-gs-min-width='1'] {
  min-width: 33.3333333333%;
}

.gridstack.grid-stack-3 > .box[data-gs-max-width='1'] {
  max-width: 33.3333333333%;
}

.gridstack.grid-stack-3 > .box[data-gs-width='2'] {
  width: 66.6666666667%;
}

.gridstack.grid-stack-3 > .box[data-gs-x='2'] {
  left: 66.6666666667%;
}

.gridstack.grid-stack-3 > .box[data-gs-min-width='2'] {
  min-width: 66.6666666667%;
}

.gridstack.grid-stack-3 > .box[data-gs-max-width='2'] {
  max-width: 66.6666666667%;
}

.gridstack.grid-stack-3 > .box[data-gs-width='3'] {
  width: 100%;
}

.gridstack.grid-stack-3 > .box[data-gs-x='3'] {
  left: 100%;
}

.gridstack.grid-stack-3 > .box[data-gs-min-width='3'] {
  min-width: 100%;
}

.gridstack.grid-stack-3 > .box[data-gs-max-width='3'] {
  max-width: 100%;
}
