/**
 * @file
 */

.gridstack.grid-stack-4 > .box {
  left: 0;
  min-width: 25%;
}

.gridstack.grid-stack-4 > .box[data-gs-width='1'] {
  width: 25%;
}

.gridstack.grid-stack-4 > .box[data-gs-x='1'] {
  left: 25%;
}

.gridstack.grid-stack-4 > .box[data-gs-min-width='1'] {
  min-width: 25%;
}

.gridstack.grid-stack-4 > .box[data-gs-max-width='1'] {
  max-width: 25%;
}

.gridstack.grid-stack-4 > .box[data-gs-width='2'] {
  width: 50%;
}

.gridstack.grid-stack-4 > .box[data-gs-x='2'] {
  left: 50%;
}

.gridstack.grid-stack-4 > .box[data-gs-min-width='2'] {
  min-width: 50%;
}

.gridstack.grid-stack-4 > .box[data-gs-max-width='2'] {
  max-width: 50%;
}

.gridstack.grid-stack-4 > .box[data-gs-width='3'] {
  width: 75%;
}

.gridstack.grid-stack-4 > .box[data-gs-x='3'] {
  left: 75%;
}

.gridstack.grid-stack-4 > .box[data-gs-min-width='3'] {
  min-width: 75%;
}

.gridstack.grid-stack-4 > .box[data-gs-max-width='3'] {
  max-width: 75%;
}

.gridstack.grid-stack-4 > .box[data-gs-width='4'] {
  width: 100%;
}

.gridstack.grid-stack-4 > .box[data-gs-x='4'] {
  left: 100%;
}

.gridstack.grid-stack-4 > .box[data-gs-min-width='4'] {
  min-width: 100%;
}

.gridstack.grid-stack-4 > .box[data-gs-max-width='4'] {
  max-width: 100%;
}
