/**
 * @file
 */

.gridstack.grid-stack-6 > .box {
  min-width: 16.6666666667%;
}

.gridstack.grid-stack-6 > .box[data-gs-width='1'] {
  width: 16.6666666667%;
}

.gridstack.grid-stack-6 > .box[data-gs-x='1'] {
  left: 16.6666666667%;
}

.gridstack.grid-stack-6 > .box[data-gs-min-width='1'] {
  min-width: 16.6666666667%;
}

.gridstack.grid-stack-6 > .box[data-gs-max-width='1'] {
  max-width: 16.6666666667%;
}

.gridstack.grid-stack-6 > .box[data-gs-width='2'] {
  width: 33.3333333333%;
}

.gridstack.grid-stack-6 > .box[data-gs-x='2'] {
  left: 33.3333333333%;
}

.gridstack.grid-stack-6 > .box[data-gs-min-width='2'] {
  min-width: 33.3333333333%;
}

.gridstack.grid-stack-6 > .box[data-gs-max-width='2'] {
  max-width: 33.3333333333%;
}

.gridstack.grid-stack-6 > .box[data-gs-width='3'] {
  width: 50%;
}

.gridstack.grid-stack-6 > .box[data-gs-x='3'] {
  left: 50%;
}

.gridstack.grid-stack-6 > .box[data-gs-min-width='3'] {
  min-width: 50%;
}

.gridstack.grid-stack-6 > .box[data-gs-max-width='3'] {
  max-width: 50%;
}

.gridstack.grid-stack-6 > .box[data-gs-width='4'] {
  width: 66.6666666667%;
}

.gridstack.grid-stack-6 > .box[data-gs-x='4'] {
  left: 66.6666666667%;
}

.gridstack.grid-stack-6 > .box[data-gs-min-width='4'] {
  min-width: 66.6666666667%;
}

.gridstack.grid-stack-6 > .box[data-gs-max-width='4'] {
  max-width: 66.6666666667%;
}

.gridstack.grid-stack-6 > .box[data-gs-width='5'] {
  width: 83.3333333333%;
}

.gridstack.grid-stack-6 > .box[data-gs-x='5'] {
  left: 83.3333333333%;
}

.gridstack.grid-stack-6 > .box[data-gs-min-width='5'] {
  min-width: 83.3333333333%;
}

.gridstack.grid-stack-6 > .box[data-gs-max-width='5'] {
  max-width: 83.3333333333%;
}

.gridstack.grid-stack-6 > .box[data-gs-width='6'] {
  width: 100%;
}

.gridstack.grid-stack-6 > .box[data-gs-x='6'] {
  left: 100%;
}

.gridstack.grid-stack-6 > .box[data-gs-min-width='6'] {
  min-width: 100%;
}

.gridstack.grid-stack-6 > .box[data-gs-max-width='6'] {
  max-width: 100%;
}
