/**
 * @file
 */

.gridstack.grid-stack-11 > .box {
  min-width: 9.0909090909%;
}

.gridstack.grid-stack-11 > .box[data-gs-width='1'] {
  width: 9.0909090909%;
}

.gridstack.grid-stack-11 > .box[data-gs-x='1'] {
  left: 9.0909090909%;
}

.gridstack.grid-stack-11 > .box[data-gs-min-width='1'] {
  min-width: 9.0909090909%;
}

.gridstack.grid-stack-11 > .box[data-gs-max-width='1'] {
  max-width: 9.0909090909%;
}

.gridstack.grid-stack-11 > .box[data-gs-width='2'] {
  width: 18.1818181818%;
}

.gridstack.grid-stack-11 > .box[data-gs-x='2'] {
  left: 18.1818181818%;
}

.gridstack.grid-stack-11 > .box[data-gs-min-width='2'] {
  min-width: 18.1818181818%;
}

.gridstack.grid-stack-11 > .box[data-gs-max-width='2'] {
  max-width: 18.1818181818%;
}

.gridstack.grid-stack-11 > .box[data-gs-width='3'] {
  width: 27.2727272727%;
}

.gridstack.grid-stack-11 > .box[data-gs-x='3'] {
  left: 27.2727272727%;
}

.gridstack.grid-stack-11 > .box[data-gs-min-width='3'] {
  min-width: 27.2727272727%;
}

.gridstack.grid-stack-11 > .box[data-gs-max-width='3'] {
  max-width: 27.2727272727%;
}

.gridstack.grid-stack-11 > .box[data-gs-width='4'] {
  width: 36.3636363636%;
}

.gridstack.grid-stack-11 > .box[data-gs-x='4'] {
  left: 36.3636363636%;
}

.gridstack.grid-stack-11 > .box[data-gs-min-width='4'] {
  min-width: 36.3636363636%;
}

.gridstack.grid-stack-11 > .box[data-gs-max-width='4'] {
  max-width: 36.3636363636%;
}

.gridstack.grid-stack-11 > .box[data-gs-width='5'] {
  width: 45.4545454545%;
}

.gridstack.grid-stack-11 > .box[data-gs-x='5'] {
  left: 45.4545454545%;
}

.gridstack.grid-stack-11 > .box[data-gs-min-width='5'] {
  min-width: 45.4545454545%;
}

.gridstack.grid-stack-11 > .box[data-gs-max-width='5'] {
  max-width: 45.4545454545%;
}

.gridstack.grid-stack-11 > .box[data-gs-width='6'] {
  width: 54.5454545455%;
}

.gridstack.grid-stack-11 > .box[data-gs-x='6'] {
  left: 54.5454545455%;
}

.gridstack.grid-stack-11 > .box[data-gs-min-width='6'] {
  min-width: 54.5454545455%;
}

.gridstack.grid-stack-11 > .box[data-gs-max-width='6'] {
  max-width: 54.5454545455%;
}

.gridstack.grid-stack-11 > .box[data-gs-width='7'] {
  width: 63.6363636364%;
}

.gridstack.grid-stack-11 > .box[data-gs-x='7'] {
  left: 63.6363636364%;
}

.gridstack.grid-stack-11 > .box[data-gs-min-width='7'] {
  min-width: 63.6363636364%;
}

.gridstack.grid-stack-11 > .box[data-gs-max-width='7'] {
  max-width: 63.6363636364%;
}

.gridstack.grid-stack-11 > .box[data-gs-width='8'] {
  width: 72.7272727273%;
}

.gridstack.grid-stack-11 > .box[data-gs-x='8'] {
  left: 72.7272727273%;
}

.gridstack.grid-stack-11 > .box[data-gs-min-width='8'] {
  min-width: 72.7272727273%;
}

.gridstack.grid-stack-11 > .box[data-gs-max-width='8'] {
  max-width: 72.7272727273%;
}

.gridstack.grid-stack-11 > .box[data-gs-width='9'] {
  width: 81.8181818182%;
}

.gridstack.grid-stack-11 > .box[data-gs-x='9'] {
  left: 81.8181818182%;
}

.gridstack.grid-stack-11 > .box[data-gs-min-width='9'] {
  min-width: 81.8181818182%;
}

.gridstack.grid-stack-11 > .box[data-gs-max-width='9'] {
  max-width: 81.8181818182%;
}

.gridstack.grid-stack-11 > .box[data-gs-width='10'] {
  width: 90.9090909091%;
}

.gridstack.grid-stack-11 > .box[data-gs-x='10'] {
  left: 90.9090909091%;
}

.gridstack.grid-stack-11 > .box[data-gs-min-width='10'] {
  min-width: 90.9090909091%;
}

.gridstack.grid-stack-11 > .box[data-gs-max-width='10'] {
  max-width: 90.9090909091%;
}

.gridstack.grid-stack-11 > .box[data-gs-width='11'] {
  width: 100%;
}

.gridstack.grid-stack-11 > .box[data-gs-x='11'] {
  left: 100%;
}

.gridstack.grid-stack-11 > .box[data-gs-min-width='11'] {
  min-width: 100%;
}

.gridstack.grid-stack-11 > .box[data-gs-max-width='11'] {
  max-width: 100%;
}
