{#
/**
 * @file task_note.html.twig
 * Default theme implementation to present Task Note data.
 *
 * This template is used when viewing Task Note pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_task_note()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('task_note') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
