{#
/**
 * @file
 * Default theme implementation to display previous next block.
 *
 * Available variables:
 * - prev_display: Flag for displaying previous text.
 * - prev_text: Previous text.
 * - prev_id: Previous Entity Id.
 * - next_display: Flag for displaying next text.
 * - next_text: Next text.
 * - next_id: Next Entity id.
 *
 * @ingroup themeable
 */
#}
{% if prev_display %}
    <div class="prev"><a href="/node/{{ prev_id }}">{{ prev_text }}</a></div>
{% endif %}
{% if next_display %}
    <div class="next"><a href="/node/{{ next_id }}">{{ next_text }}</a></div>
{% endif %}
