.toolbar-tray-horizontal .menu-item:hover {
  background-color: #0e4f8a;
}

.toolbar-tray-horizontal .menu-item a:focus {
  background-color: #0e4f8a;
}

.toolbar-tray-horizontal ul li.menu-item--expanded ul li.menu-item--expanded,
.toolbar-tray-horizontal ul li.menu-item--expanded ul li.menu-item--expanded > .is-active,
.toolbar-tray-horizontal .toolbar-menu:not(:first-child) li.menu-item--expanded > a:focus,
.toolbar-tray-horizontal .toolbar-menu:not(:first-child) li.menu-item--expanded > a:hover {
  background-position: 97% center;
  background-image: url(../../images/icons/arrow_right_small.svg);
  background-size: 18px 18px;
  background-repeat: no-repeat;
}

.toolbar-tray-horizontal .menu-item--expanded .menu {
  background-color: #08447a;
  width: auto;
  height: auto;
}

.toolbar-tray-horizontal .menu-item--expanded {
  background-color: transparent;
}

.toolbar-tray-horizontal ul li li.menu-item {
  border-top: none transparent;
  border-right: 1px solid #0e4f8a;
  border-bottom: 1px solid #0e4f8a;
  border-left: 1px solid #0e4f8a;
}

.toolbar .toolbar-tray-horizontal ul ul li.menu-item:first-child {
  border-top: 1px solid #0e4f8a;
}

.toolbar-tray-horizontal li.menu-item--expanded.hover-intent ul ul,
.toolbar-tray-horizontal li.menu-item--expanded.hover-intent ul ul ul,
.toolbar-tray-horizontal li.menu-item--expanded.hover-intent ul ul ul ul,
.toolbar-tray-horizontal li.menu-item--expanded.hover-intent ul ul ul ul ul {
  display: none;
  left: -999em; /* LTR */
}

/* Lists nested under hovered list items */
.toolbar-tray-horizontal li.menu-item--expanded.hover-intent ul,
.toolbar-tray-horizontal li li.menu-item--expanded.hover-intent ul,
.toolbar-tray-horizontal li li li.menu-item--expanded.hover-intent ul,
.toolbar-tray-horizontal li li li li.menu-item--expanded.hover-intent ul,
.toolbar-tray-horizontal li li li li li.menu-item--expanded.hover-intent ul {
  display: block;
  left: auto; /* LTR */
}

.toolbar-tray-horizontal .menu ul li a,
.toolbar-tray-horizontal .menu ul .toolbar-icon {
  padding: 12px 15px 12px 12px;
}

.toolbar-tray-horizontal ul li.menu-item--expanded.hover-intent ul {
  display: block;
  position: absolute;
  width: 220px;
  z-index: 1;
  box-shadow: none;
}

.toolbar-tray-horizontal ul li.menu-item--expanded .menu-item > ul {
  display: none;
}

.toolbar-tray-horizontal ul li.menu-item--expanded .menu-item.hover-intent ul {
  display: block;
  margin: -43px 0 0 217px;
}

.toolbar-tray-horizontal li:hover ul li {
  float: none;
}

.toolbar-tray-horizontal li.hover-intent ul li {
  float: none;
}

.toolbar-tray-horizontal .toolbar .level-2 > ul {
  position: absolute;
  padding-top: 0;
  top: 0;
  left: 220px;
  width: 220px;
}

.toolbar .toolbar-tray-vertical li.open > ul.toolbar-menu.clearfix {
  display: block;
}

[dir="rtl"] .toolbar-tray-horizontal .menu-item:hover {
  background: #0e4f8a;
}

[dir="rtl"] .toolbar-tray-horizontal .menu-item a:focus {
  background: #0e4f8a;
}

[dir="rtl"] .toolbar-tray-horizontal ul li.menu-item--expanded ul li.menu-item--expanded,
[dir="rtl"] .toolbar-tray-horizontal ul li.menu-item--expanded ul li.menu-item--expanded > .is-active,
[dir="rtl"] .toolbar-tray-horizontal .toolbar-menu:not(:first-child) li.menu-item--expanded > a:focus,
[dir="rtl"] .toolbar-tray-horizontal .toolbar-menu:not(:first-child) li.menu-item--expanded > a:hover {
  background-position: center left;
  background-image: url(../../images/icons/arrow_left_small.svg);
  background-size: 18px 18px;
  background-repeat: no-repeat;
}

[dir="rtl"] .toolbar-tray-horizontal .menu-item--expanded .menu {
  background: #0e4f8a;
  width: auto;
  height: auto;
}

[dir="rtl"] .toolbar-tray-horizontal .menu-item--expanded {
  background-color: #0e4f8a;
}

[dir="rtl"] .toolbar-tray-horizontal ul li li.menu-item {
  border-top: none transparent;
  border-right: 1px solid #0e4f8a;
  border-bottom: 1px solid #0e4f8a;
  border-left: 1px solid #0e4f8a;
}

[dir="rtl"] .toolbar .toolbar-tray-horizontal .menu-item:last-child {
  border-left: 1px solid #0e4f8a;
  border-right: 1px solid #0e4f8a;
}

[dir="rtl"] .toolbar .toolbar-tray-horizontal ul ul li.menu-item:first-child {
  border-top: 1px solid #0e4f8a;
}

[dir="rtl"] .toolbar-tray-horizontal li.menu-item--expanded.hover-intent ul ul,
[dir="rtl"] .toolbar-tray-horizontal li.menu-item--expanded.hover-intent ul ul ul,
[dir="rtl"] .toolbar-tray-horizontal li.menu-item--expanded.hover-intent ul ul ul ul,
[dir="rtl"] .toolbar-tray-horizontal li.menu-item--expanded.hover-intent ul ul ul ul ul {
  display: none;
  left: -999em; /* LTR */
}

/* Lists nested under hovered list items */
[dir="rtl"] .toolbar-tray-horizontal li.menu-item--expanded.hover-intent ul,
[dir="rtl"] .toolbar-tray-horizontal li li.menu-item--expanded.hover-intent ul,
[dir="rtl"] .toolbar-tray-horizontal li li li.menu-item--expanded.hover-intent ul,
[dir="rtl"] .toolbar-tray-horizontal li li li li.menu-item--expanded.hover-intent ul,
[dir="rtl"] .toolbar-tray-horizontal li li li li li.menu-item--expanded.hover-intent ul {
  display: block;
  left: auto; /* LTR */
}

[dir="rtl"] .toolbar-tray-horizontal .menu ul li a,
[dir="rtl"] .toolbar-tray-horizontal .menu ul .toolbar-icon {
  padding: 12px 15px 12px 12px;
}

[dir="rtl"] .toolbar-tray-horizontal ul li.menu-item--expanded.hover-intent ul {
  display: block;
  position: absolute;
  width: 200px;
  z-index: 1;
}

[dir="rtl"] .toolbar-tray-horizontal ul li.menu-item--expanded .menu-item > ul {
  display: none;
}

[dir="rtl"] .toolbar-tray-horizontal ul li.menu-item--expanded .menu-item.hover-intent ul {
  display: block;
  margin: -40px 197px 0 0;
}

[dir="rtl"] .toolbar-tray-horizontal li:hover ul li {
  float: none;
}

[dir="rtl"] .toolbar-tray-horizontal li.hover-intent ul li {
  float: none;
}

[dir="rtl"] .toolbar-tray-horizontal .toolbar .level-2 > ul {
  position: absolute;
  padding-top: 0;
  top: 0;
  left: 200px;
  width: 200px;
}

[dir="rtl"] .toolbar .toolbar-tray-vertical li.open > ul.toolbar-menu.clearfix {
  display: block;
}
