{#
/**
 * @file
 * Default theme implementation for a nutrition label.
 *
 * Available variables:
 * - settings: An array of settings for the nutrition-label javascript library.
 *
 * @see template_preprocess()
 * @see template_preprocess_nutrition_label()
 *
 * @ingroup themeable
 */
#}
{% spaceless %}
{# need ID/hash? #}
<div{{ attributes }}>
<table>
  <caption>
    Nutrition Facts {% if settings.itemName %} for {{ settings.itemName }} {% endif %}
  </caption>
  <thead>
    <tr>
      <th scope="col">Nutrient/Description</th>
      <th scope="col">Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Calories</th>
      <td>{{ settings.valueCalories }}</td>
    </tr>
  </tbody>
</table>
</div>
{% endspaceless %}
