{#
/**
 * @file advertising_product.html.twig
 * Default theme implementation to present Advertising Product data.
 *
 * This template is used when viewing Advertising Product pages.
 *
 *
 * Available variables:
 * -
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_advertising_product()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('advertising-product') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
