{#
/**
 * @file advertising_product.html.twig
 * Default theme implementation to present Advertising Product data.
 *
 * This template is used when viewing Advertising Product pages.
 *
 *
 * Available variables:
 * - advertising_product: The advertising_product entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available.
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_advertising_product()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('advertising_products/preview') }}

{% set status_class = 'status-red' %}

{% if advertising_product.isPublished() and advertising_product.get('product_sold_out').value %}
    {% set status_class = 'status-yellow' %}
{% elseif advertising_product.isPublished() and not advertising_product.get('product_sold_out').value %}
    {% set status_class = 'status-green' %}
{% endif %}

<div{{ attributes.addClass('advertising-product', 'preview', status_class) }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
