{#

  - images:
        iid = image id
        url = image url
  - primary_image

#}

<div class="advertising-products__images" {% if is_new %}style="display: none"{% endif %}>
    <div class="advertising-products__images--top">
        <div class="advertising-products__selected">
            <div>
                <img src="{{ primary_image }}" alt="primary image of product"/>
            </div>
        </div>
        <div class="advertising-products__image-selection" {% if not images %}style="display: none"{% endif %}>
            <div class="advertising-products__init">
                <button class="button">Show alternatives</button>
            </div>
            <div class="advertising-products__alternatives" style="display: none">
                {% for image in images %}
                    <div><img data-src="{{ image.url }}" data-image-id="{{ image.iid }}"/></div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="advertising-products__images--bottom">
    </div>
</div>
