.row-riddle {
  width: 100%;
  padding-bottom: 5px;
}

.row-riddle .form-item,
.row-riddle .form-submit {
  display: inline-block;
  vertical-align: middle;
}

.row-riddle .form-item {
  width: 30%;
  min-width: 320px;
  margin-right: 20px;
}

#edit-add {
  margin: 20px 0;
}
