/**
 * @file
 * Styling for wisski toolbar module.
 */

.toolbar .toolbar-tray-vertical .edit-wisski-toolbar {
    text-align: right; /* LTR */
    padding: 1em;
}
[dir="rtl"] .toolbar .toolbar-tray-vertical .edit-wisski-toolbar {
    text-align: left;
}

.toolbar .toolbar-tray-horizontal .edit-wisski-toolbar {
    float: right; /* LTR */
}
[dir="rtl"] .toolbar .toolbar-tray-horizontal .edit-wisski-toolbar {
    float: left;
}

.toolbar .toolbar-tray-horizontal .toolbar-menu {
    float: left; /* LTR */
}
[dir="rtl"] .toolbar .toolbar-tray-horizontal .toolbar-menu {
    float: right;
}

.toolbar .toolbar-bar .toolbar-icon-wisski:before{
    background-image: url(../images/wisski_menu.png);
}
.toolbar-bar .toolbar-icon-wisski:active:before,
.toolbar-bar .toolbar-icon-wisski.is-active:before {
    background-image: url(../images/wisski_hell.png);
}

.toolbar-horizontal .toolbar-horizontal-item-hidden {
    display: none;
}
