.vud-widget-yesno .vote-element {
  padding: 0.25em 0.75em;
  min-width: 2em;
  text-align: center;
  display: inline-block;
  border-radius: 0.25em;
}

.vud-widget-yesno a .vote-element.active {
  background-color: #c0c0c0;
  color: #333;
}
.vud-widget-yesno .vote-element.inactive,
.vud-widget-yesno a .vote-element.active:hover {
  background-color: #333;
  color: #c0c0c0;
}

.vud-widget-yesno .vote-current-score {
  line-height: 2em;
}
