.form-textarea-wrapper textarea.AceEditorTextarea {
  display: none;
}
#AceEditor {
  width: 100%;
  height: 100%;
}
.EditorWrapper {
  position: relative;
  height: 350px;
}
.EditorWrapper.Open {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 100vh;
}
.ButtonSize {
  position: absolute;
  z-index: 10;
  top: 1em;
  right: 1em;
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.85);
  padding: 0.25em;
  border-radius: 5px;
  border: none;
}
.ButtonSize:hover,
.ButtonSize:focus {
  color: #000000;
  background-color: rgba(255, 255, 255, 0.85);
}
