<div data-klarna-selector="payment-method" data-klarna-id="{{ id }}" data-klarna-is-selected="{{ selected }}">
  {{ name }}
  <div data-klarna-selector="payment-container" id="klarna-payment-container-{{ id }}"></div>
</div>