.uc-stripe-messages.hidden {
  display: none;
}

.stripe-warning, .uc-stripe-testmode, .uc-stripe-messages {
  color: red;
  font-style: oblique;
  display: block;
  clear: both;
  border-width: 1px !important;
}
