@import "variables";
@import "mixins";

.ui-dialog.ui-dialog-off-canvas.paragraphs-ee-off-canvas--browser {
  .ui-dialog-title:before {
    background-image: url(../images/paragraphs-logo.png);
  }

  #drupal-off-canvas.ui-dialog-content .paragraphs-add-dialog--categorized {
    padding-top: 20px;

    * {
      color: $white;
    }

    summary {
      background: none;
      margin: 0;
      padding: 0;
      transition: none;
    }

    .button-group {
      margin-top: 10px;
    }

    .category-title {
      color: $white;
      font-size: 16px;
      text-transform: none;
    }

    .display-toggle {
      background-color: $border-color-active;
    }

    .paragraphs-button--add-more {
      border: 1px solid $grey-light;
    }

    .paragraphs-add-dialog-row {
      padding: 5px;
    }

    .paragraphs-label,
    &.paragraphs-style-list .paragraphs-label,
    .paragraphs-description {
      color: $white;
    }

    .paragraphs-description {
      padding-bottom: 2px;
    }

    &.paragraphs-style-list {
      .paragraphs-add-dialog-row {
        width: calc(100% - 10px);
      }

      .paragraphs-description {
        max-width: 100%;
      }

      .style-list {
        background-color: $border-color-active;
      }
    }
  }
}
