<div class="filebrowser-grid-item-wrapper clearfix">
    <a class="filebrowser-image-link" href="{{ data.href }}">{{ data.thumbnail }}</a>
    {% if data.hide_title == false %}
        <div class="filebrowser-grid-item-title">{{ data.title }}</div>
    {% endif %}
</div>