{#
#}
<div class="filebrowser-item-description">
    {{ data.title|escape }}

    {% if data.create_link == true %}
        <div class="filebrowser-edit-description-button">
{#            <a href="{{ data.url }}" class="use-ajax" data-dialog-type="modal"
               data-dialog-options="{&quot;width&quot;:700}">
                <img src="/core/themes/stable/images/core/icons/bebebe/pencil.svg" title="{{ data.image_title }}"
                     class="svg">
            </a>#}
        </div>
    {% endif %}
</div>