{#
/**
 * @file
 * Default theme for filebrowser statistics
 *
 * @see template_preprocess_filebrowser_statistics()
 *
 * @ingroup themeable
 */
#}
<div class="filebrowser-statistics">
    {% if statistics is defined and statistics is not null %}
        {% for statistic in statistics %}
             {{ statistic }}
                 {% if loop.last %}
                    {{ '' }}
                {% else %}
                    {{ ' | ' }}
                {% endif %}
        {% endfor %}
    {% endif %}
</div>