{# 
/** 
 * @file
 * Template for the current weather conditions block.
 */
#}

<div class="current-weather-block-content">
  {% if image %}
    {{ image }}
  {% endif %}

  {% if summary %}
    {{ summary }}
  {% endif %}
</div>
