{#
/**
 * @file
 * Profile kayak integration custom block.
 */
#}
<div id="kayakIntegrationHotels" class="kayakIntegration">
    <script type="text/JavaScript" src="https://www.kayak.com/affiliate/widget-v2.js"></script>
    <script type="text/javascript">
        KAYAK.embed({
            container: document.getElementById("kayakIntegrationHotels"),
            autoPosition: true,
            defaultProduct: "hotels",
            enabledProducts: ["hotels"],
            placement: "Spain-c5309",
            ssl: true,
            affiliateId: "acme_corp",
            isInternalLoad: false,
            lc: "{{ lang }}",
            cc: "{{ councode }}",
            mc: "{{ money }}"
        });
    </script>
</div>
