/**
 * @file
 */

@media (min-width: 64em) {
  .sb--text .slick--skin--classic .sb__caption {
    background: rgba(0,0,0,.8);
    height: 100%;
    left: 0;
    padding: 15px;
    position: absolute;
    top: 0;
    width: 32%;
    z-index: 3;
  }

  .sb--text .slick--skin--classic label,
  .sb--text .slick--skin--classic .description {
    color: #fff;
  }

  .sb--text .slick--skin--classic  .form-text:focus {
    position: absolute;
    max-width: 420px;
    width: 420px;
  }
}
