/**
 * @file
 * Only reasonable if it has Alt or Title field enabled along with image.
 */

.sb .slick--skin--split .sb__caption {
  min-height: 210px;
  opacity: 1;
  padding: 14px;
}

.sb .slick--skin--split .button--caption {
  display: none;
}

.sb .slick .slick-dots button::before {
  background: #999;
}

@media (min-width: 64em) {
  .sb--text .slick--skin--split .sb__caption {
    margin-left: 48%;
    width: 52%;
  }

  .sb--text .slick--skin--split .sb__preview {
    float: left;
    width: 48%;
  }
}
