/**
 * @file
 */

.view--sb .slick--skin--grid .slick__arrow {
  position: fixed;
  right: 74px;
  top: 1px;
}

.view--sb .preview-section .slick--skin--grid .slick__arrow,
.view--sb .slick--skin--grid ~ .slick .slick__arrow {
  position: absolute;
  right: 2px;
  top: -32px;
}
