.d-grid {
  display: grid;
  grid-gap: 15px;
  grid-template-rows: auto;
}
.d-grid .name {
  grid-column: 1 / -1;
  grid-row: 1;
}
.gtc-25-75 {
  grid-template-columns: [col1] 25% [col2] 75%;
}
.gtc-33-66 {
  grid-template-columns: [col1] 33.33% [col2] 66%;
}
.gtc-33-33-33 {
  grid-template-columns: [col1] 33.33% [col2] 33.33% [col3] 33.33%;
}
.gtc-66-33 {
  grid-template-columns: [col1] 66% [col2] 33.33%;
}
.gtc-75-25 {
  grid-template-columns: [col1] 75% [col2] 25%;
}
