/** Config Form **/
.fl-column-container {
  display: none;
}
.fl-config .form-item,
.fl-config .add,
.fl-config .button {
  margin-right: 1em;
  display: inline-block;
}
.fl-config .fl-advanced-container {
  margin: 1em;
  padding: 1em;
  background: #f5f5f5;
  display: none;
}
.fl-config .fl-advanced-container .form-item {
  display: block;
}
.fl-config .fl-advanced-container .fl-row-wrapper-container {
  display: none;
}
.fl-config details {
  display: block;
  padding-bottom: 1em;
}
.fl-config details .form-item:first-child,
.fl-config details .add:first-child,
.fl-config details .button:first-child {
  margin-left: 1em;
}
.fl-config details > .details-wrapper {
  padding: 0;
}

/** Layout Display **/
.fl {
  margin: 2em auto 1em;
  min-width: 500px;
}
.fl-column[data-machine-name="flexible_layout"] > .name {
  padding: 0.5em;
  font-weight: bold;
}
.fl-column,
.fl-row {
  background: #f7fbfd;
  border: 1px solid #9dcccc;
  min-height: 20px;
  cursor: pointer;
  overflow: hidden;
}

.fl-column:hover,
.fl-row:hover {
  background: #c9dce4;
}

.fl-column.fl-active,
.fl-row.fl-active {
  background: #7fb5f0;
}

.fl-row {
  margin: 0 auto !important;
  color: black;
  padding: 5px;
  transition: .2s;
}
.fl-column .name,
.fl-row .name {
  display: block;
  width: 100%;
}
