{#
/**
 * @file
 * Default theme implementation to display a layout-kit--accordion layout.
 *
 * Available variables:
 * - content: The original raw content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 * - layout_elements: Elements ready to use, each has:
 *   - title: Element title.
 *   - content: Element content.
 *   - id: Unique element id.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'layout',
    'layout--kit',
    'layout--kit-accordion',
  ]
%}
{% if layout_elements %}
  <div{{ attributes.addClass(classes) }}>
    {% for key in layout_elements|keys %}
      {% if layout_elements[key].content|render is not empty %}
        <h3 class="layout--kit-accordion__header layout--kit-refresh">{{ layout_elements[key].title }}</h3>
        <div class="layout--kit-accordion__content">
          {{ layout_elements[key].content }}
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}
