{#
/**
 * Theme implementation of the Flag Rating component.
 */
#}
{% spaceless %}
{%
  set classes = [
    'flag-rating',
    'flag-rating-' ~ flag.id()|clean_class,
    'js-flag-' ~ flag.id()|clean_class ~ '-' ~ flaggable.id(),
  ]
%}

<div class="{{ classes|join(' ') }}">

  {% block title %}
  <div class="flag-rating-title">
    <span>{{ title }}</span>
    <span>Score: {{ score }}</span>
  </div>
  {% endblock %}
  
  {% block icons %}
    <ul class="flag-rating-icons">
      {% for item in items %}
        <li class="flag-rating-icon">
          {{ item }}
        </li>
      {% endfor %}
    </ul>
  {% endblock %}

</div>
{% endspaceless %}
