{#
  This is the default implementation for the beer o'clock block
#}
<div class="boc_active" align='center' style="display:none;">{{message}}</div>
<div class="boc_inactive" align='center'>{{not_message}}</div>

<section class="countdown-timer" role="main">
  <div class="countdown-container">
    <div class="countdown-segment countdown-days">
      <h3 class="countdown-label">Days</h3>
      <div class="digit">0</div>
      <div class="digit">0</div>
    </div>
    <div class="countdown-segment countdown-hours">
      <h3 class="countdown-label">Hours</h3>
      <div class="digit">0</div>
      <div class="digit">0</div>
    </div>
    <div class="countdown-segment countdown-minutes">
      <h3 class="countdown-label">Minutes</h3>
      <div class="digit">0</div>
      <div class="digit">0</div>
    </div>
    <div class="countdown-segment countdown-seconds">
      <h3 class="countdown-label">Seconds</h3>
      <div class="digit">0</div>
      <div class="digit">0</div>
    </div>
  </div>
</section>

<div id="boc_container" class="{{ display }}">
  <div class="pour"></div>
  <div id="beaker">
    <div class="beer-foam">
      <div class="foam-1"></div>
      <div class="foam-2"></div>
      <div class="foam-3"></div>
      <div class="foam-4"></div>
      <div class="foam-5"></div>
      <div class="foam-6"></div>
      <div class="foam-7"></div>
    </div>

    <div id="liquid">
      <div class="bubble bubble1"></div>
      <div class="bubble bubble2"></div>
      <div class="bubble bubble3"></div>
      <div class="bubble bubble4"></div>
      <div class="bubble bubble5"></div>
    </div>
  </div>
</div>
