/* Default */
.link-disabled {
  color: #dddddd !important;
}

.outline,
.outline * {
  outline: 1px solid #f6a1a1;
}
.border-dashed {
  border: dashed 1px #dddddd;
}
.bck_grey {
  background-color: #f7f7f7;
}

/* Icon Node Layout Builder */
.element-categoy-wrapper .element-categoy {
  color: grey;
}
.element-categoy-wrapper .element-categoy:hover {
  color: #0071b3;
}
.element-categoy-wrapper .element-categoy.link-disabled {
  color: #dddddd;
}

/* Header */
.builder-wraper .builder-header {
  background-color: #0071b3;
}
.builder-wraper .builder-header h1 {
  color: white;
}
.builder-wraper .builder-header .btn-import-export-links li a {
  color: white;
}

/* Footer */
.builder-footer .btn-nlb {
  background-color: #0071b3;
  color: white;
}
.builder-footer .btn-nlb:hover,
.builder-footer .btn-nlb:focus {
  background-color: #018fe2;
  color: white;
}

/* Wraper Builder */
.builder-wraper:hover {
  border-color: #1d84c3;
}
.builder-wraper a {
  color: #0071b3;
}

.btn-actions-default-add-row a {
  color: white;
  background-color: #0071b3;
}
.btn-actions-default-add-row a:hover {
  color: white;
  background-color: #018fe2;
}

/* Builder Element */
.row .builder-element-content,
[class*='col-'] .builder-element-content {
  border: dashed 1px #dddddd;
}
[class*='col-'] > .builder-element-content > .builder-element-children {
  padding: 5px;
}

/* Builder Element : header */
.builder-element-header {
  border-bottom: dashed 1px #dddddd;
}
.builder-element-header:hover {
  background-color: #f8f6f6;
}
.builder-element-header .header-left span.element-type-name {
  color: #0071b3;
}
.builder-element-header .header-left .fa {
  color: #0071b3;
}

/* Modal */
.ui-dialog {
  border: solid 1px #0071b3 !important;
}
.ui-dialog-titlebar.ui-corner-all.ui-widget-header.ui-helper-clearfix {
  background: #0071b3;
  color: white;
  border-width: 0 0 0 0;
}
.ui-dialog a {
  color: #00486f;
}

.ui-dialog details summary {
  padding: 5px 0px;
  color: #0071b3;
  background-color: #f0f1ff;
}

/* Form */
.btn-primary {
  background-color: #0071b3 !important;
}
.btn-secondary {
  background-color: #808080 !important;
}
