/* Default */
.outline,
.outline * {
  outline: 1px solid #d6a1a1;
}
.border-dashed {
  border: dashed 1px #dddddd;
}
.bck_grey {
  background-color: #f7f7f7;
}
.item-list ul li a:hover,
.item-list ul li a:focus {
  color: black;
}

/* Icon Node Layout Builder */
.element-categoy-wrapper .element-categoy {
  color: grey;
}
.element-categoy-wrapper .element-categoy:hover {
  color: #d82802;
}
.element-categoy-wrapper .element-categoy.link-disabled {
  color: #dddddd;
}

/* Header */
.builder-wraper .builder-header {
  background-color: #d82802;
}
.builder-wraper .builder-header h1 {
  color: white;
}
.builder-wraper .builder-header .btn-import-export-links li a {
  color: white;
}

/* Footer */
.builder-footer .btn-nlb {
  background-color: white;
  color: #d82802;
}
.builder-footer .btn-nlb:hover,
.builder-footer .btn-nlb:focus {
  background-color: #d5664e;
  color: white;
}

/* Wraper Builder */
.builder-wraper:hover {
  border-color: #d82802;
}
.builder-wraper a {
  color: #d82802;
}

.btn-actions-default-add-row a {
  color: white;
  background-color: #d82802;
}
.btn-actions-default-add-row a:hover {
  color: white;
  background-color: #d5664e;
}

/* Builder Element */
.row .builder-element-content,
[class*='col-'] .builder-element-content {
  border: dashed 1px #dddddd;
}

/* Builder Element : header */
.builder-element-header {
  border-bottom: dashed 1px #dddddd;
}
.builder-element-header .header-left span.element-type-name {
  color: #d82802;
}
.builder-element-header .header-left .fa {
  color: #d82802;
}

/* Modal */
.ui-dialog {
  border: solid 1px #d82802 !important;
}
.ui-dialog-titlebar.ui-corner-all.ui-widget-header.ui-helper-clearfix {
  background: #d82802;
  color: white;
  border-width: 0 0 0 0;
}
