/* Breaking News style */
.block-views-blockbreaking-news-breaking-news-bar .block-title {
  float: left;
  width: 120px;
  background-color: #4698d5;
  color: #fff;
  padding: 5px;
  margin: 0 15px 0 0;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 900;
  text-align: center;
  line-height: 1.5;
}

.post-breaking-news {
  display: inline;
  padding-right: 10px;
}

.view-breaking-news .view-content .post-created {
  width: 40px;
  font-weight: 400;
  color: #ccc;
  line-height: 32px;
  font-size: 12px;
}
.view-breaking-news .view-content .post-created::before {
  display: none;
}
.view-breaking-news .view-content .slide__caption {
  position: initial;
  padding-top: 0;
  line-height: 32px;
  text-shadow: none;
}
.view-breaking-news .view-content .slide__caption a {
  line-height: 22px;
  font-weight: 600;
  font-size: 14px;
  word-wrap: break-word;
}
