// sass-lint:disable no-important

.seaside-admin-toolbar {
  #toolbar-administration {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-smoothing: antialiased !important;
    font-weight: 400;
    line-height: 70px;
    text-rendering: optimizeLegibility !important;

    * {
      @include transition(color 0s, font-size $animation-length, box-shadow $animation-length);

      line-height: 10px;

      &:focus {
        box-shadow: none;
      }
    }

    #toolbar-bar {
      @include drop-shadow(rgb(136, 136, 136), 0.3);
    }

    .toolbar-bar {
      background-color: $white;
      box-shadow: none;

      .toolbar-tab {

        &.left {
          float: left;
        }

        &.right {
          float: right;
          a {

            &.image-link {
              padding-bottom: 0!important;
              padding-top: 5px!important;
              position: relative;

              img {
                border-radius: 60px;
                max-height: 40px;

              }
            }
          }
          ul li ul {
            right: 0;
            div {
              p {
                color: $cool-grey;
                padding-left: 15px;
              }
            }
            li:hover {
              a {
                position: relative;
              }
            }
          }
        }

        a {
          color: $cool-grey;
          font-weight: 400;
          overflow: hidden;
          padding: 15px;

          &:focus {
            background-image: none;
            text-decoration: none;
          }
        }

        &.user-toolbar-tab {
          float: right;
        }

        .toolbar-menu {
          a {
            min-height: 50px;
            padding-bottom: 14px;
            padding-top: 18px;

            &:before {
              display: none;
            }
          }
        }

        &.contextual-toolbar-tab {
          button {
            border-radius: 0;
            color: $cool-grey;
            font-weight: 400;
            padding: 26px 20px 20px 65px;
            position: relative;

            &.is-active,
            &:hover,
            &:active,
            &:focus {
              background-color: $pale-grey;
              background-image: none;
              color: $dark-blue-grey;
              text-decoration: none;
            }

            &:before {
              background-image: none;
              height: 32px;
              left: 20px;
              margin-right: 15px;
              position: absolute;
              top: 15px;
            }
          }
        }

        &.contextual-toolbar-tab {
          button {
            background-color: $presidio;
            background-image: none;
            color: $white;
            padding-bottom: 18px;
          }
        }

        &.home-toolbar-tab {
          background-color: $presidio;
          min-width: 228px;

          a {
            color: $white;

            &:hover {
              background-color: darken($presidio, 10%);
              background-image: none;
            }

            &:before {
              line-height: 32px;
            }
          }
        }

        a.toolbar-icon-admin-toolbar-tools-help {
          text-indent: 0;
        }
      }

      .toolbar-tab {
        background-color: $dark-three;

        a {
          color: $dark-blue-grey;
          font-weight: 600;
        }

        ul {

          li {
            position: relative;
            z-index: 1;
            border-bottom: 0;
            border-left: 0;
            border-right: 0;
            border-top: 0;

            a {
              z-index: 2;
            }

            &:last-child {
              border-bottom-left-radius: $border-radius;
              border-bottom-right-radius: $border-radius;
            }

            &:before {
              @include gradient($golden-gate, $presidio);
              @include drop-shadow($presidio, .7);
              position: absolute;
              content: "";
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              z-index: 0;
              transition: opacity 0s ease-in;
              opacity: 0;
              border-top-left-radius: $border-radius;
              border-top-right-radius: $border-radius;
            }
            &:hover:before {
              opacity: 1;
              transition: opacity .5s ease-out;
            }

            &:hover {
              > a {
                color: $white!important;
              }

              &:after {
                color: $white;
              }
            }

            &.menu-item--expanded {
              background-color: transparent;
            }

            ul {
              box-shadow: 0 6px 20px transparentize(rgb(136,136,136), .3);
              background: white;
              border-bottom-right-radius: $border-radius;
              border-bottom-left-radius: $border-radius;
              border-top: 0;

              li {
                &:before {
                  border-top-left-radius: 0;
                  border-bottom-left-radius: 0;
                  border-top-right-radius: 0;
                }
                &:hover {
                  > a {
                    color: $white!important;
                  }

                  ul {
                    border-top-left-radius: 0!important;
                    border-bottom-left-radius: 0!important;
                    border-top-right-radius: 0!important;
                    border-bottom-right-radius: 0 !important;
                    li {
                      &:before {
                        @include gradient($presidio, $presidio);
                        color: $white !important;
                        border-top-left-radius: 0!important;
                        border-bottom-left-radius: 0!important;
                        border-top-right-radius: 0!important;
                        border-bottom-right-radius: 0 !important;
                      }
                    }
                  }
                  &:last-child:before {
                    border-bottom-left-radius: $border-radius;
                    border-bottom-right-radius: $border-radius;
                  }
                }

                &.menu-item--expanded {
                  &:before {
                    border-top-left-radius: $border-radius;
                    border-bottom-left-radius: $border-radius;
                    border-top-right-radius: 0;
                  }
                  &:first-child:before {
                    border-top-left-radius: 0;
                  }
                  &:last-child:before {
                    border-bottom-right-radius: 0;
                  }
                }

                a {
                  padding: 0 15px;
                  padding-right: 35px;
                  line-height: 16px;
                }

                &:first-child {
                  border-top: 0;
                }

                &.menu-item--expanded {
                  background-image: none;
                  position: relative;

                  &:after {
                    color: $presidio;
                    font-size: 18px;
                    position: absolute;
                    right: 10px;
                    top: 20px;
                  }
                  &:hover {
                    &:after {
                      color: $white!important;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
