.seaside-admin-toolbar.toolbar-horizontal {
  .toolbar {
    border: 0;
    box-shadow: none;
    z-index: 10;
    a {
      min-height: 50px;
    }


    &#toolbar-item-user-tab,
    &#toolbar-item-shortcuts-tab {
      a {
        padding: 0 20px;
      }
    }

    ul li.menu-item {
      display: inline-table;
      &:hover {
        color: $white!important;
      }
      ul {
        display: none;
        li.menu-item--expanded {
          &:after {
            @include icomoon('arrows_circle_left', 'linea');

            color: $presidio;
            font-size: 18px;
            margin-left: 12px;
            position: relative;
            top: 3px;
          }
        }

      }
      &:hover {
        > ul {
          min-width: 170px;
          display: block;
          position: absolute;
          top: 50px;
          box-shadow: none;
          z-index: 10;
          li {
            position: relative;
            display: block;

            ul {
              left: 100%;
              top: 0;
              z-index: 10;
            }
          }
        }
      }
    }
  }

  #toolbar-item-user-tab .toolbar-menu a,
  #toolbar-item-shortcuts-tab a.edit-shortcuts {
    line-height: 50px;
  }
}
