/* Styling for Simple Reservation
 * @file
 * Styling for Simple Reservation Module, by Alessandro Rancati.
 */

/* @group week view */

/* header area */
#srHeader {
	
}


/* month label */
#srMonth {
	border-bottom: 1px dotted gray;
	padding: 6px;
	text-align: center;
	font-size: 120%;
	font-weight: bold;
	line-height: 18px;
}

/* previous month label and "previous icon" style */
#srPm, #srPImg{
	position: relative;
	float: left;
	font-size: 80%;
	font-weight: normal;
	font-style: normal;
}

/* next month label and "next icon" style */

#srNm, #srNImg {
	position: relative;
	float: right;
	font-size: 80%;
	font-weight: normal;
	font-style: normal;
}

/* "previous icon" style */
#srPImg {
	margin-right: 6px;
	background: url(../images/prev.png) no-repeat scroll;
}

/* "next icon" style */
#srNImg {
	margin-left: 6px;
	background: url(../images/next.png) no-repeat scroll;
}

/* week label style */
#srWeek {
	padding: 6px;
	margin-bottom: 6px;
	text-align: center;
	font-size: 100%;
	font-weight: bold;
	line-height: 18px;
}

/* previous week label style */
#srPw {
	position: relative;
	float: left;
	font-size: 80%;
	font-weight: normal;
	font-style: normal;
}

/* next week label style */
#srNw {
	float: right;
	position: relative;
	font-size: 80%;
	font-weight: normal;
	font-style: normal;
}

/* date style */
#srDate {
	border-bottom: 1px solid gray;
	clear: left;
	font-weight: bold;
	font-size: 110%;
	width: 100%;
}

/* day style */
#srDay {
	float: left;
	position: relative;
	clear: left;
}

/* "add icon" style */
#srAdd {
	float: right;
	position: relative;
	background: url(../images/new.png) no-repeat scroll;
}


#srSeparator {
	border-top: 1px dotted gray;
	line-height: 1px;
	padding: 1px;
	clear: both;
	width: 100%;
}

#srReservations {
	font-size: 80%;
	width: 100%;
}

/* hours style */
#srHours {
	clear: both;
	width: 82px;
	font-weight: bold;
	margin-left: 5px;
	float: left;
}

/* item description style */
#srDescription {
	float: left;
	position: relative;
	font-weight: bold;
	margin-left: 5px;
	width: 110px;
}

/* reservation by style */
#srBy {
	float: left;
	width: 110px;
	margin-left: 5px;
}

/* reservation for style */
#srFor {
	float: left;
	width: 120px;
	margin-left: 5px;
}

/* comment style */
#srComment {
	float: left;
	width: 200px;
	color: gray;
	margin-left: 5px;
}

/* edit icon style */
#srEdit {
	float: left;
	position: relative;
	background: url(../images/edit.png) no-repeat scroll;
	margin-left: 12px;
}

/* @end */

