{#
/**
* @file
* Theme implementation of the store map.
*
* @ingroup themeable
*
* @vars
* - description
* - width
* - height
*/
#}

<p></p>
<div id="colissimo-map" style="width: {{ width }}; height: {{ height }}; "></div>
<p>{{ description }}</p>
