<div id="{{ settings.slider_id }}">
  <ul class="bxslider" style="">
    {% for slide in slides %}
      <li>{{ slide.image }}</li>
    {% endfor %}
  </ul>

  <ul class="bxslider-ths" style="">
    {%  for key, thumbnail in thumbnails %}
      <li data-slideIndex="{{ key }}"><a href="">{{ thumbnail.image }}</a></li>
    {% endfor %}
  </ul>
</div>

