/**
 * Colors:
 * #a6c6ee - light blue
 # #4e8ede - blue
 # #0074BD - drupal blue
 # #4c8fe0 - darker blue
 # #184fc1 - dark blue
 # #f5f5f3 - light gray
 */
.field--widget-entity-reference-layout-widget .erl-layout {
  background-color: #fff;
}

.field--widget-entity-reference-layout-widget fieldset.erl-field {
  background: #f5f5f3;
  border: none;
  margin: 30px 0;
  padding: 60px 30px 0;
}
.field--widget-entity-reference-layout-widget fieldset.erl-field > legend {
  line-height: 30px;
  top: 15px;
}
.field--widget-entity-reference-layout-widget .layout {
  clear: both;
  margin-bottom: 30px;
}
.field--widget-entity-reference-layout-widget .erl-field-item {
  position: relative;
  padding: 30px 30px 15px 30px;
}
.field--widget-entity-reference-layout-widget .erl-field-item--layout {
  border: 1px solid #f5f5f3;
  box-sizing: border-box;
}
.field--widget-entity-reference-layout-widget .reversed .erl-field-item--layout {
  border-color: rgba(0, 0, 0, .25);
}
.field--widget-entity-reference-layout-widget .erl-field-item--layout .form-item {
  margin: 0;
}
.field--widget-entity-reference-layout-widget .erl-layout-section .erl-field-item {
  overflow: hidden;
}
.field--widget-entity-reference-layout-widget .erl-layout-section .erl-field-item {
  border: 1px solid #ffffff;
  box-sizing: border-box;
  padding: 30px;
  transition: all .15s linear;
}
.field--widget-entity-reference-layout-widget .reversed .erl-layout-section .erl-field-item {
  border-color: rgba(0, 0, 0, .25);
}
.field--widget-entity-reference-layout-widget .erl-layout-section .erl-field-item .actions .form-wrapper {
  background: none;
}
.field--widget-entity-reference-layout-widget .erl-layout-section .erl-field-item:hover {
  border-color: #0074bd;
}
.field--widget-entity-reference-layout-widget .reversed .erl-layout-section .erl-field-item:hover {
  border-color: #fff;
}
.field--widget-entity-reference-layout-widget .erl-layout-section .erl-field-item:hover:before {
  opacity: 1;
}
.field--widget-entity-reference-layout-widget .erl-layout-section {
  box-sizing: border-box;
  position: relative;
  padding: 0 0 30px;
  border: 1px dashed #f5f5f3;
  transition: all .15s linear;
}
.erl-layout-disabled {
  color: gray;
  position: relative;
  margin-top: 30px;
}
.erl-layout-disabled h4 {
  margin: 0;
  padding: 10px;
}
.field--widget-entity-reference-layout-widget .erl-layout-disabled .erl-layout-section {
  position: relative;
  min-height: 60px;
  padding-bottom: 0;
  padding-top: 0;
}
.erl-layout-disabled-description {
  position: absolute;
  width: 100%;
  margin: 0;
  top: 0;
  left: 0;
  margin-left: -30px;
  margin-top: 20px;
  text-align: center;
}
@media (min-width: 1224px) {
  .field--widget-entity-reference-layout-widget .erl-layout-section {
    padding: 30px;
  }
}
.field--widget-entity-reference-layout-widget .reversed .erl-layout-section {
  border-color: rgba(0, 0, 0, .25);
}
.field--widget-entity-reference-layout-widget .erl-layout-section:hover {
  border: 1px solid #ccc;
}
.field--widget-entity-reference-layout-widget .reversed .erl-layout-section:hover {
  border-color: rgba(255, 255, 255, .25);
}
.field--widget-entity-reference-layout-widget .layout-region-label {
  visibility: hidden;
}
.field--widget-entity-reference-layout-widget .actions,
.gu-mirror .actions {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
  margin: 0;
  visibility: hidden;
}
.gu-mirror {
  background: #ffffff;
  border: 1px solid #0074bd;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, .25);
  cursor: grabbing;
  padding: 30px;
  box-sizing: border-box;
  overflow: hidden;
}
.gu-mirror:before {
  content: "";
  position: absolute;
  height: 30px;
  width: 30px;
  left: 0;
  top: 0;
  background: url(../img/icon-move.png) 0 0 no-repeat;
  background-size: cover;
}
.reversed .gu-mirror:before {
  background-image: url(../img/icon-move--reversed.png);
}
.field--widget-entity-reference-layout-widget .erl-layout-section .erl-field-item.gu-transit {
  background: #0074bd;
}
.field--widget-entity-reference-layout-widget .erl-layout-section .erl-field-item.gu-transit > * {
  visibility: hidden;
}
.field--widget-entity-reference-layout-widget .erl-field-item:hover > .actions {
  visibility: visible;
}
.field--widget-entity-reference-layout-widget .actions .form-wrapper {
  background: #f5f5f3;
  transition: none;
}
.field--widget-entity-reference-layout-widget .actions .form-wrapper {
  display: flex;
}
.field--widget-entity-reference-layout-widget .actions input.form-submit-edit,
.field--widget-entity-reference-layout-widget .actions input.form-submit-remove {
  cursor: pointer;
  height: 30px;
  width: 30px;
  margin: 0;
  text-indent: 100%;
  overflow: hidden;
  border: none;
  padding: 0;
  opacity: .5;
  transition: all .15s linear;
  transition: none;
}
.field--widget-entity-reference-layout-widget .actions input.form-submit-edit {
  background: url(../img/icon-edit.png) 0 0 no-repeat;
  background-size: cover;
}
.field--widget-entity-reference-layout-widget .reversed .actions input.form-submit-edit {
  background-image: url(../img/icon-edit--reversed.png);
}
.field--widget-entity-reference-layout-widget .actions input.form-submit-remove {
  background: url(../img/icon-delete.png) 0 0 no-repeat;
  background-size: cover;
}
.field--widget-entity-reference-layout-widget .reversed .actions input.form-submit-remove {
  background-image: url(../img/icon-delete--reversed.png);
}
.field--widget-entity-reference-layout-widget .actions input.form-submit-edit:hover,
.field--widget-entity-reference-layout-widget .actions input.form-submit-remove:hover {
  opacity: 1;
  box-shadow: none;
}
.erl-add-content {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -15px;
  border: none;
  color: #fff;
  font-weight: bold;
  z-index: 10;
  width: 20px;
  height: 20px;
  line-height: 1;
  padding: 0;
  opacity: 0;
  font-size: large;
  width: 30px;
  height: 30px;
  text-indent: 100%;
  overflow: hidden;
  background: url(../img/icon-add.png) 0 0 no-repeat;
  background-size: cover;
  transition: all .15s linear;
  -webkit-appearance: none;
  outline: none;
}
.reversed .erl-add-content {
  background-image: url(../img/icon-add--reversed.png);
}
.erl-add-content.active {
  transform: rotate(45deg);
}
.erl-field-actions {
  position: relative;
}
.erl-layout-section:hover button.erl-add-content,
.erl-field-actions:hover button.erl-add-content {
  opacity: .75;
}
.erl-layout-section:hover button.erl-add-content:hover,
.erl-layout-section:hover button.erl-add-content.active,
.erl-layout-section button.erl-add-content.active {
  opacity: 1;
}
.erl-add-content--group {
  width: auto;
  position: absolute;
  left: 50%;
  top: 100%;
  background: #fff;
  z-index: 12;
  border: none;
  padding: 0;
  text-align: left;
  margin-left: -15px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, .25);
}
.erl-add-content--group.hidden {
  visibility: hidden !important;
}
.erl-add-content--item {
  display: block;
  text-align: left;
}
.erl-add-content--group button {
  background: none;
  display: block;
  width: 100%;
  border: none;
  color: #0074bd;
  text-align: left;
  padding: 9px 18px;
}
.erl-add-content--group button img {
  width: 24px;
  height: 24px;
  margin-right: 9px;
  margin-top: -2px;
  float: left;
}
.erl-add-content--group button:hover {
  background: #e5f1f8;
  color: #0074bd;
  display: block;
  width: 100%;
  border: none;
}
.erl-add-content--single {
  width: 150px;
  left: 50%;
  margin-left: -75px;
  text-align: center;
  position: absolute;
  z-index: 10;
}
.erl-add-content--single button {
  background: none;
  border: none;
  box-shadow: none;
  text-transform: uppercase;
  font-size: small;
  font-weight: bold;
  color: #9b9b9b;
}
.erl-add-content--single button:hover {
  color: #5e5e5e;
  text-decoration: underline;
}
.erl-add-content--single button .icon {
  font-weight: bold;
  font-size: large;
}
.erl-field-actions.empty button.erl-add-content {
  visibility: visible;
}
.erl-field-item--layout {
  position: relative;
}
.erl-field-item--layout:before {
  content: "";
  top: 15px;
  height: 1px;
  background-color: #ccc;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
}
.erl-field-item--layout.gu-mirror:before {
  content: none;
}
.field--widget-entity-reference-layout-widget .layout-controls {
  background: #f5f5f3;
  height: 30px;
  left: 0;
  position: absolute;
  top: 0;
  width: 90px;
  opacity: 0;
}
.field--widget-entity-reference-layout-widget .erl-field-item .erl-add-content--single {
  opacity: 0;
  margin-top: -60px;
  padding: 10px 0;
}
.field--widget-entity-reference-layout-widget .erl-field-item:hover > .erl-add-content--single {
  opacity: 1;
}

.field--widget-entity-reference-layout-widget .erl-field-item:hover > .layout-controls {
  opacity: 1;
}
.field--widget-entity-reference-layout-widget .erl-layout-section .erl-field-item:hover > .layout-controls {
  opacity: 1;
}
.field--widget-entity-reference-layout-widget .erl-layout-section .erl-field-item .layout-controls {
  background: none;
}
.layout-handle,
.layout-down,
.layout-up {
  cursor: pointer;
  height: 30px;
  left: 0;
  overflow: hidden;
  opacity: .75;
  position: absolute;
  top: 0;
  text-indent: 100%;
  width: 30px;
}
.layout-handle:hover,
.layout-down:hover,
.layout-up:hover {
  opacity: 1;
  cursor: pointer;
}
.layout-handle {
  background: url(../img/icon-move.png) 0 0 no-repeat;
  background-size: cover;
  display: none;
}
.reversed .layout-handle {
  background-image: url(../img/icon-move--reversed.png);
}
.dragula-enabled .layout-handle {
  display: block;
}
.layout-down {
  background: url(../img/icon-down.png) 0 0 no-repeat;
  background-size: cover;
  left: 60px;
}
.reversed .layout-down {
  background-image: url(../img/icon-down--reversed.png);
}
.layout-up {
  background: url(../img/icon-up.png) 0 0 no-repeat;
  background-size: cover;
  left: 30px;
}
.reversed .layout-up {
  background-image: url(../img/icon-up--reversed.png);
}
.field--widget-entity-reference-layout-widget .erl-layout-section .erl-field-item:nth-child(1) .layout-up {
  pointer-events: none;
  opacity: .25;
}
.field--widget-entity-reference-layout-widget .erl-layout-section .erl-field-item:nth-last-child(3) .layout-down {
  pointer-events: none;
  opacity: .25;
}
.gu-mirror .layout-down,
.gu-mirror .layout-up {
  opacity: .25;
}
.field--widget-entity-reference-layout-widget fieldset.erl-entity-form {
  background: #fff;
  border: none;
  margin: 0;
  padding: 0;
}
.field--widget-entity-reference-layout-widget .erl-remove-form {
  padding: 20px;
}
.field--widget-entity-reference-layout-widget .erl-remove-message {
  margin-bottom: 10px;
}
.field--widget-entity-reference-layout-widget .erl-entity-form {
  height: 100%;
}
.field--widget-entity-reference-layout-widget .erl-form-container {
  height: 100%;
  overflow: hidden;
}
.field--widget-entity-reference-layout-widget .erl-form-body {
  overflow: auto;
  padding: 30px;
  box-sizing: border-box;
  max-height: 80vh;
  margin-bottom: 67px;
}
@media screen and (max-width: 600px) {
  .field--widget-entity-reference-layout-widget .erl-form-body {
    margin-bottom: 108px;
  }
}
.field--widget-entity-reference-layout-widget .erl-form-actions {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  background: #fff;
  box-sizing: border-box;
  background-color: #f0f0f0;
}
.field--widget-entity-reference-layout-widget .erl-layout-section-select .description {
  clear: left;
}
.field--widget-entity-reference-layout-widget .erl-layout-section-select .form-radios {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
.field--widget-entity-reference-layout-widget .layout-radio-item {
  padding: 5px;
  background: none;
  cursor: pointer;
  margin: 10px 10px 10px 0;
  text-align: left;
  width: 150px;
}
.field--widget-entity-reference-layout-widget .layout-radio-item .form-item {
  margin-top: 0;
}
.field--widget-entity-reference-layout-widget .layout-radio-item label {
  font-size: small;
}
.field--widget-entity-reference-layout-widget .layout-radio-item .layout-icon-wrapper {
  float: left;
  margin-right: 5px;
}
.field--widget-entity-reference-layout-widget .layout-radio-item input {
  display: none;
}
.field--widget-entity-reference-layout-widget .layout-radio-item.active {
  background: #fff;
  outline: 2px dotted blue;
}
.field--widget-entity-reference-layout-widget .layout-radio-item .layout-icon {
  float: left;
  margin: 0;
}
