.layout-node-form {
  position: relative;
  /* overflow: scroll; */
  overflow: auto;
  height: 100%;
}
.layout-node-form .layout-region-node-footer {
  position: fixed;
  width: 100%;
  background: #fff;
  padding: 0 30px 10px 30px;
  z-index: 100;
  bottom: 0;
  left: 0;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, .2);
}
.layout-node-form .layout-region-node-footer__content {
  border-top: none;
}

.layout-node-form .layout-region-node-footer .form-item-status-value {
  float: left;
  padding: 7px 20px 0 0;
}

.layout-region-node-main {
  float: none !important;
  width: auto !important;
  clear: both !important;
  padding-right: 0 !important;
}
.layout-region-node-secondary {
  float: none !important;
  width: auto !important;
  clear: both !important;
}
