/* ==========================================================================
   Splash page component
   ========================================================================== */
.splash-wrapper {
    background-color: #FFF;
    background-size: cover;
    position: absolute;
    top: 0;
    height: 0;
    left: 0;
    width: 100%;
    display: none;
    overflow: hidden;
    z-index: 100;
}

.splash-wrapper div {
    z-index: 200;
    position: relative;
}

.splash-inner {
    text-align: center;
    padding: 0 1.5rem;
}

@media screen and (min-width: 1025px) {
    .splash-inner {
        margin: 0 auto;
        padding: 0;
        width: 750px;
    }
}
