.gm-style div,
.gm-style span,
.gm-style label,
.gm-style a {
  font-family: Arial, Helvetica, sans-serif;
}

.loc-list {
  font-size: 13px;
  height: 530px;
  overflow-x: auto;
}

.loc-search-box input {
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font: normal 14px/1.4 Arial, Helvetica, sans-serif;
  padding: 6px 12px;
  width: 30%;
  -webkit-border-radius: 4px;
}

.loc-map-container {
  clear: left;
  float: left;
  margin-top: 27px;
  width: 100%;
}
.loc-map-container .loc-list {
  font-size: 13px;
  height: 530px;
  overflow-x: auto;
  width: 30%;
  float: left;
}

.loc-map-container .loc-list .position {
  background: #00192d;
  border-radius: 15px;
  color: #fff;
  display: block;
  float: left;
  font-weight: bold;
  margin: 10px 0 0 15px;
  padding: 4px 7px;
  text-align: center;
  width: auto;
  min-width: 13px;
}

.loc-map-container .loc-name {
  font-size: 15px;
  font-weight: bold;
}

.loc-map-container .loc-list ul {
  display: block;
  clear: left;
  float: left;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.loc-map-container .loc-list ul li {
  float: left;
  width: 99%;
}

.loc-map-container .loc-list .list-details .list-content {
  padding: 10px;
}

.loc-map-container .loc-list .list-details {
  float: left;
  margin-left: 6px;
  width: 80%;
}

.loc-map-container .loc-map {
  float: left;
  height: 530px;
  width: 70%;
}
.highlight {
  border: 2px solid #a51c27;
}

.store-locator-form #map,
.block-store-locator #map,
.store-locator-page-view {
  width: 100%;
  height: 500px;
  float: none;
}
