.paragraph--type--marketo-form.paragraph--view-mode--default {
	background: $parade-lightgrey;

  .image-style-whitepaper-a4 {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

  .field--name-parade-title {
    @include campaign-headline;
    text-align: center;
    margin-bottom: .5em;
    color: $text-color-strong;
    @include md {
      text-align: left;
    }
  }

  .field--name-parade-lead-text {
    @include campaign-lead;
  }

  .field--name-parade-title,
  .field--name-parade-lead-text,
  .field--name-parade-marketo-form,
  .field--name-parade-text {
    @include md {
      width: 50%;
      float: left;
      clear: left;
    }
  }

  // Display thank you message later.
  .field--name-parade-text {
    display: none;
  }

  .field--name-parade-image {
    text-align: right;
    padding: 1em;
    text-align: center;
    @include md {
        text-align: right;
      width: 50%;
      float: right;
    }
  }

	// Marketo overrides.
	.mktoForm {
        width: 100% !important;
		&, * {
			font-family: inherit !important;
		}
		.mktoLabel, .mktoRequiredField label.mktoLabel {
			width: auto !important;
			display: inline-block;
			float: none;
			padding: 0;
			margin: 0;
			line-height: 1.5;
			font-size: 16px;
			font-weight: bold !important;
		}
        .mktoFormCol, .mktoFieldWrap, .mktoField {
            width: 100% !important;
        }
		input.mktoField, textarea.mktoField {
			min-height: inherit !important;
			padding: 10px !important;
			line-height: 1.5 !important;
			font-size: 16px !important;
		}
		textarea.mktoField {
			resize: vertical !important;
			height: auto !important;
			min-height: inherit !important;
		}
        .mktoButtonRow {
            margin-top: 8px !important;
        }
        .mktoButtonWrap {
            margin-left: 0 !important;
            .mktoButton {
                height: 36px;
                line-height: 35px;
                padding: 0 20px;
                font-size: 14px;
                text-align: center;
                text-decoration: none;
                text-shadow: 0 -1px rgba(0, 0, 0, 0.4);
                background-clip: padding-box;
                border-radius: 2px;
                cursor: pointer;
                background: none repeat scroll 0 0 #0065a0 !important;
                border: medium none !important;
                box-shadow: none !important;
                color: #ffffff !important;
                float: left;
                &:hover {
                    background-color: #e56385 !important;
                }
            }
        }
	}
}

/**
 * Menu on edit page.
 */
.node-parade-onepage-form,
.node-parade-onepage-edit-form {
  .field--name-parade-onepage-menu {
    background-color: #bed7eb;
    padding: 20px 40px;
    .field-multiple-table {
      th {
        background-color: transparent;
        border-bottom: none;
        border-top: none;
      }

      tr {
        border-bottom: none;

        td {
          div {
            &.js-form-type-entity-autocomplete {
              float: left;
              width: 38%;
            }

            &.js-form-type-textfield {
              float: left;
              width: 38%;
            }

            &.js-form-type-checkbox {
              float: left;
            }

            &:nth-child(2) {
              margin-left: 10px;
              margin-right: 10px;
            }
          }

          input.form-checkbox {
            margin-top: 3px;
            vertical-align: middle;
          }

          label {
            vertical-align: middle;
          }
        }

        &.even {
          background-color: transparent;

          &.drag,
          &.drag-previous {
            background-color: #f3f3f3;
          }
        }

        &:hover {
          background-color: #f7fcff;
        }
      }
    }

    .field-add-more-submit {
      background: #337ab7;
      text-transform: uppercase;
      color: white;
      border-radius: 10px;
      border: none;
      width: 159px;
      height: 39px;
      font-size: 12px;

      &:hover,
      &:active {
        background: #337ab7;
        color: white;
        border: none;
      }
    }
  }
}
