.paragraph--type--images.paragraph--view-mode--default {

	.field--name-parade-title {
		@include campaign-title-center;
	}

	.field--name-parade-images {
		//text-align: center;
		text-align: left;
		.field__item {
			padding: 1em 2em;
			vertical-align: middle;
			display: inline-block;
      &:first-child{
        @include breakpoint(lg) {
          padding-left: 0;
        }
      }
		}
	}
}
