.paragraph--type--parallax.paragraph--view-mode--default {
  text-align: center;
  color: white;
  min-height: 200px;
  max-height: 200px;
  @include breakpoint(md) {
    min-height: 340px;
    max-height: inherit;
  }

  .paragraph-inner {
    width: 60%;
  }
  .field--name-parade-title {
    color: white;
    @include campaign-title;
  }
  .field--name-parade-text {
    font-size: 1.2em;
  }
}
