// @todo move this to text-boxes.scss!
.paragraph--type--text-boxes.layout--rounded_image.paragraph--view-mode--custom {
  background: $parade-lightblue;

  h1 {
    color: white;
  }

  .field--name-parade-paragraphs {
    margin: 0 -15px;

    .field--name-parade-title {
      font-weight: bold;
      margin: 0 0 .5em;
      line-height: 27px;
      font-size: 20px;
      letter-spacing: -.5px;
      color: white;
    }
    .field--name-parade-image {
      width: 34%;
      @include breakpoint-max(sm) {
        width: 150px;
      }
    }
  }
}
