.paragraph--type--savings-calculator.paragraph--view-mode--default {
    .field--name-parade-title {
        @include campaign-headline;
        margin-bottom: .5em;
        color: $text-color-strong;
    }
}

.savings-calculator {
    padding: 2em;
    background: $parade-lightgrey;

    @media (min-width: 850px) {
        display: flex;
        align-items: center;

        &__input-container {
            text-align: left;
        }

        &__input-container,
        &__result-container {
            width: 50%;
        }
    }

    &__input-container {
        margin-bottom: 1em;
        text-align: center;
        font-weight: 700;
    }

    &__inputs {
        margin-top: 1em;

        .form-number {
            display: block;
            width: 100%;
            margin-bottom: .5em;

            @media (min-width: 560px) {
                display: inline-block;
                width: auto;
                margin-bottom: 0;
            }
        }

        .form-number,
        .button {
            padding: .6em .8em .6em 1em !important;
        }
    }

    &__result-container {
        text-align: center;
        color: $parade-blue;
        font-size: 1.5rem;
        font-weight: 700;
    }
}
