.paragraph--type--simple.paragraph--view-mode--default {

  .paragraph__title {
    @include campaign-title-center;
  }

  //  &.layout-clean {
  //    text-align: center;
  //  }

  &.color-shaded {
    background-color: $parade-lightblue;
  }

  &.color-light-grey {
    background-color: $parade-lightgrey;
  }

  &.layout--separator-clean {
    .paragraph__title {
      @include campaign-title-separator;
    }
  }

  &.layout--two-column-title-1st-inverse {
    background: $parade-dark-blue;
    .paragraph__title,
    .field--name-parade-text {
      color: white;
      @include md {
        width: 50%;
      }
    }

    .paragraph__title {
      @include campaign-headline;
      color: white;
    }
  }

  @include md {
    &.layout--two-column-title-1st-inverse {
      .paragraph__title {
        float: left;
        text-align: left;
        padding-right: 20px;
      }
      .field--name-parade-text {
        float: right;
      }
    }
  }
}

.paragraph--type--simple.paragraph--view-mode--inverse {
  // Inverse layout
  &.layout--two-column-content-1st-inverse {
    background: $parade-dark-blue;
    .paragraph__title,
    .field--name-parade-text {
      color: white;
      @include md {
        width: 50%;
      }
    }

    .paragraph__title {
      @include campaign-headline;
      color: white;
    }
  }

  @include md {
    &.layout--two-column-content-1st-inverse {
      .paragraph__title {
        float: right;
        text-align: right;
        padding-left: 20px;
      }
      .field--name-parade-text {
        float: left;
      }
    }
  }
}
