.paragraph--type--tabs.paragraph--view-mode--default {
	padding: 30px;
	background: $parade-green;

	.field--name-parade-title {
		color: white;
	}

	.field--name-parade-lead-text {
		margin-bottom: 1em;
	}

	.r-tabs-panel {
		clear: both;
	}
	.r-tabs-accordion-title, .r-tabs-tab {
		@include breakpoint(md) {
			float: left;
			width: 33.333%;
		}
		a {
			font-size: 1.4em;
			font-weight: bold;
			border-bottom: 3px solid black;
			display: block;
			padding: .5em 0;
			@include breakpoint(md) {
				padding: .5em;
				text-align: center;
			}
			&:hover, &:focus, &:active {
				text-decoration: none;
			}
		}

		&.r-tabs-state-active a {
			border-color: white;
			color: white;
		}
	}
}
