{% if show_user_picture == 'yes' %}
<img class="uai uai-image" src="{{ user_picture_url }}" />
{% endif %}

{% if link_to_user == 'yes' %}<a class="uai uai-link" href="/user/{{ uid }}">{% endif %}
{{ markup }}
{% if link_to_user == 'yes' %}</a>{% endif %}
