{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * This template is used when editing a paragraph and on the admin list page at
 * "/admin/content/paragraphs-type-help",
 *
 * Available variables:
 * - paragraphs_type_help: Full paragraph_type_help entity.
 * - view_mode: The view mode of the paragraph_type_help.
 * - paragraph_bundle: The host paragraph bundle name.
 * - paragraph_form_mode: The form mode of the paragraph if known.
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'.
 * - attributes: HTML attributes for the container element.

 * @see template_preprocess_paragraphs_type_help()
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
    'paragraphs-type-help',
    view_mode ? 'paragraphs-type-help--view-mode--' ~ view_mode|clean_class,
    paragraph_bundle ? 'paragraphs-type-help--paragraph--' ~ paragraph_bundle|clean_class,
    paragraph_form_mode ? 'paragraphs-type-help--paragraph-form--' ~ paragraph_form_mode|clean_class,
    paragraph_view_mode ? 'paragraphs-type-help--paragraph-view--' ~ paragraph_view_mode|clean_class,
  ]
%}
{% if content %}
  <div{{ attributes }}>
    {{- content -}}
  </div>
{% endif %}
