{#
/**
 * @file merci_line_item.html.twig
 * Default theme implementation to present Merci Line Item data.
 *
 * This template is used when viewing Merci Line Item pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_merci_line_item()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('merci_line_item') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
