{#
/**
 * @file
 * Default template to print order.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - order: The rendered order fields.
 *   Use 'order' to print them all, or print a subset such as
 *   'order.order_number'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ order|without('order_number') }}
 *   @endcode
 * - order_entity: The order entity.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'commerce-order',
    'commerce-order--print',
    'commerce-order--' ~ order_entity.id(),
    'commerce-order--' ~ order_entity.id() ~ '--print',
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ order }}
</div>
