{#
/**
 * @file
 * Theme override to display a single page to print an Order.
 *
 * @see template_preprocess_page()
 * @see page.html.twig
 */
#}

{{ attach_library('commerce_print/print') }}

<div class="layout-print">

  {% block print_before_content %}
    <div class="commerce-print-action">
      <a class="button button--primary" href="javascript:if(window.print)window.print()">{{ 'Print'|t }}</a>
    </div>
  {% endblock %}

  {% block content %}
    <main role="main">
        {{ page.content }}
    </main>
  {% endblock %}

  {% block print_after_content %}
    <div class="commerce-print-action">
      <a class="button button--primary" href="javascript:if(window.print)window.print()">{{ 'Print'|t }}</a>
    </div>
  {% endblock %}

</div>
