{#
/**
 * @file
 * Theme easy pie chart percent field formatter.
 *
 * Available variables:
 * - id: Unique field ID, used to link javascript.
 * - percent: Number used how percent value.
 * - value: Value string to show.
 *
 */
#}
<div class="EasyPieChartPercentFieldFormatter" id="{{ id }}" data-percent="{{ percent }}">{{ value }}</div>