{#
/**
 * @file
 * Theme percent bar field formatter.
 *
 * Available variables:
 * - id: Unique field ID, used to link javascript.
 * - percent: Number used how percent value.
 * - value: Value string to show.
 *
 */
#}
<div class="PercentBarFieldFormatter" id="{{ id }}">
    <span class="PercentBarFieldFormatter_container">
        <span class="PercentBarFieldFormatter_amount" data-width="{{ percent }}%">
            <span class="PercentBarFieldFormatter_amount_number">{{ value }}</span>
        </span>
    </span>
</div>