.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.single-invoice.layout-one-sidebar .main-content {
  margin-left: 0;
  width: 100%;
}

.single-invoice .layout-main {
  margin-top: 0;
  margin-bottom: 0;
}

.single-invoice {
  background: none;
}

.block-page-title-block {
  display: none;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.to-wrapper {
  width: 30%;
}

.from-wrapper {
  width: 30%;
}

.table--details {
  clear: both;
  width: 100%;
  margin-top: 40px;
}

.table--details th {
  text-align: left;
}

h1 {
  font-size: 2em;
  font-weight: bold;
}
h2 {
  font-size: 1.5em;
  font-weight: bold;
}
h3 {
  font-size: 1.2em;
}

.notes {
  margin-top: 40px;
  background-color: rgba(0, 0, 0, 0.063);
  padding: 4px 9px;
}

.table--tally {
  width: 40%;
  float: right;
}

.table--tally tr {
  background: none;
}

.table--tally .amount-column,
.table--tally .text-column {
  text-align: right;
}
