<!-- Just print the parent element. Content will be filled in javascript. -->
<div class="moderation-state-columns--component-container">
  <div class="moderation-state-columns--json-content">{{ json_encoded_content }}</div>
</div>
