<svg version="1.0" xmlns="http://www.w3.org/2000/svg">
    {% for path in current.getMapsPath() %}
        {% if path.detailed_path is not empty %}
            <path d="{{ path.detailed_path }}">
                <title>{{ current.label() }} - {{ value }}</title>
            </path>
        {% endif %}
    {% endfor %}
</svg>