<svg version="1.0" xmlns="http://www.w3.org/2000/svg">
    {% for item in all %}
        {% for path in item.getMapsPath() %}
            {% if path.path is not empty %}
                <path d="{{ path.path }}">
                    <title>{{ item.label() }}{% if item.id == current.id %} - {{ value }}{% endif %}</title>
                </path>
            {% endif %}
        {% endfor %}
    {% endfor %}
</svg>