{#
/**
 * Default theme implementation for Views to output a TARDIS archive.
 *
 * Available variables:
 * - options: View plugin style options:
 *   - classes: CSS classes.
 *   - nesting: Whether months should be nested inside years.
 *   - time_pool: Two-dimension array containing years and months with content.
 *
 * @see template_preprocess_views_view_waterfall_views()
 *
 * @ingroup themeable
 */
#}
<ul id="waterfall_views" class="waterfall">
  {% for row in rows  %}
    <li>
      <div class="waterfall-item">
        {{ row }}
      </div>
    </li>
  {% endfor %}
</ul>