section[data-gjs-type=container] iframe, section[data-gjs-type=container] video {
  pointer-events: none;
}

section[data-gjs-type="container"] img[src=""] {
  max-height: 150px;
}

body {
  padding-top: 0 !important;
}

#toolbar-administration {
  display: none !important;
}

.editor-link-dialog {
  min-height: 200px;
}