@import '_config.scss';

.cards {
  /**
   * Floats, for really old browsers.
   * We don't really care about style, as long as things fall into
   * a very basic grid. Not even margins are proper.
   * I mean like, really really REALLY old browsers.
   */
@supports not (display:flex) {
  .card {
    float: left;
  }
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}
/**
 * Flexbox, for browsers not supporting Grid.
 */
@supports not (display:grid) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .card {
    margin: 2px 0;
    flex-basis: 33%;
  }
}
/**
 * The Grid. A Digital Frontier.
 * I tried to picture clusters of information as they moved through the
 * computer.
 * What did they look like?
 * Ships? Motorcycles?
 * Were the circuits like freeways?
 * I kept dreaming of a world, I thought I'd never see.
 * And then, one day - I got in.
 */
@supports(display:grid) {
  display: grid;
  //grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  @media screen and (min-width: 720px) {
    grid-template-columns: repeat(3, 1fr);
  }
  grid-gap: 10px;
  .card--big {
    grid-column: span 2;
  }
}
}
