@import '_config.scss';

.card {
  border: 1px solid $border-color;
  position: relative;
  background-repeat: no-repeat;
  height: 360px;
  max-width: 340px;
  &__body {
    position: absolute;
    bottom: 0;
    padding: 0 20px 20px;
  }
  &__image {
    box-sizing: border-box;
    img {
      @include responsive-img;
    }
  }
}
