<div id="cards" class="cards">
  {% for card in cards %}
    {% set vars =
      {
        'image': card.image,
        'title': card.title,
        'content': card.content,
        'actions': card.actions,
        'style': card.style
      }
    %}
    {# Pass vars through to include template. #}
    {{ pattern("card", vars)  }}
  {% endfor %}
</div>
