{#
/**
 * @file blockchain_block.html.twig
 * Default theme implementation to present Blockchain Block data.
 *
 * This template is used when viewing Blockchain Block pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_blockchain_block()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('blockchain_block') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
