/**
* @file
* Styles for formatted output of svg_icon module.
*/

.svg-icon__has-canvas {
  user-select: none;
  position: relative;
}

.svg-icon__has-canvas canvas {
  display: block;
  height: 100%;
  visibility: hidden;
}

.svg-icon__has-canvas svg {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
