{#
/**
 * @file orders.html.twig
 * Default theme implementation to present Orders data.
 *
 * This template is used when viewing Orders pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_orders()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('orders') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
