.button-subscript {
  font-size: 0.8em;
}

ul.filebrowser-action-bar, #action-form > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
}

li.fb-menu-item {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
  width: 50px;
}

.fb-menu-item .image-button {
  width: 100%;
}

.filebrowser-edit-description-button {
  height: 16px !important;
  width: 16px !important;
  float: right;
}

.filebrowser-edit-description-button a {
  border-bottom: none;
}

.filebrowser-edit-description-button img.svg path {
  /*border: 4px solid;*/
  fill: red;
}

.form-in-slide-down {
  border: 1px solid;
  padding: 8px;
  margin: 8px;
  /*display: none;*/
}
.filebrowser-grid-row {
  margin-bottom: 12px;
}
.filebrowser-grid-row:after{
  content: "";
  display: block;
  clear: both;
}

.filebrowser-grid-container-column .form-item {
  margin:0;
}

.filebrowser-grid-container-column {
  position: relative;
  float: left;
}

.filebrowser-image-description {
  position: relative;
  top: -20px;
  left:-4px;
  z-index:1;
}

/*
 fixme:
 this margin is added to create space between the two first buttons (links) on the action form.
 There must be a neater way to do this
 */
.add-folder-link {
  margin-left: 4px;
}

.form-action-link.image-button {
  /*margin-right: 0;*/
}

.filebrowser-close-window-link {
  float: right;
}

#form-action-actions-wrapper {
 /* border-bottom: 3px solid #666;*/
  padding-bottom: 8px;
}

/*#form-action-actions-wrapper .button,
#filebrowser-form-action-error .button {
  !*margin-right: 0;*!
  font-size: 0.75em;
}*/

div.filebrowser-svg svg {
  fill: #666;
}

.filebrowser-checkbox {
  position:absolute;
  top:2px;
  left:6px;
  z-index:2;
}

.filebrowser-grid-item-wrapper {

}
a.filebrowser-image-link {
  display:inline-block;
  border-bottom: none;
}
a:hover.filebrowser-image-link {
  outline:4px solid cornflowerblue;
  border-bottom: none;
}
.filebrowser.grid.item.title {
  max-width:90%
}