{#
/**
 * @file
 * Default theme implementation of a FAQ Field details formatter.
 *
 * Available variables:
 * - question: Prefiltered question value by check_plain.
 * - answer: Prefiltered answer value by field setting format.
 * - delta: Delta # of field element.
 *
 * @see template_preprocess()
 * @see template_preprocess_faqfield_details_formatter()
 *
 * @ingroup themeable
 */
#}
{% spaceless %}
  <details class="faqfield-details">
    <summary class="faqfield-question">{{ question }}</summary>
    <div class="faqfield-answer">{{ answer }}</div>
  </details>
{% endspaceless %}
