/* Override default jQuery.mmenu styles */

/* Ensure that menu items are stacked on top of one another */
.mm-listview > li {
  display: block !important;
  text-align: center;
}

/* Remove padding for non-ul elements */
.mm-menu > .mm-panel {
  padding-left: 0;
  padding-right: 0;
}

/* Ensure that the title element is positioned relative to content */
.mm-navbar {
  position: relative;
}

/* Module-specific styles */

/* This is required for jQuery.mmenu to work properly */
html.moderate-mmenu-enabled,
body.moderate-mmenu-enabled {
  height: auto;
}

/* Theme the menu link button */

#moderate-mmenu-link {
  text-align: left;
  left: -250px;
  width: 300px;
  max-width: 300px;
  font-size: 14px;
  padding-right: 45px;
  position: absolute;
  z-index: 4;
  border-right: 1px solid white;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  top: 100px;
  box-shadow: #000 2px 2px 8px;
  transition: left 0.5s ease 1s;
}

/* While the menu is hovered (or mmenu is open), do not collapse it */

#moderate-mmenu-link:hover,
#moderate-mmenu-link.hover,
.mm-opened #moderate-mmenu-link {
  left: 0;
  transition: left 0.5s ease 0s;
}

/* Add an icon */

#moderate-mmenu-link:before {
  content: url(../images/moderate.png);
  position: absolute;
  top: 10px;
  right: 10px;
}

/* When mmenu clones the page, it doesn't quite place the menu link button correctly. Hide the clone. */

#mm-blocker #moderate-mmenu-link {
  display: none;
}

/* Add NavBar support. */

body.toolbar-fixed #moderate-mmenu.mm-opened {
  margin-top: 39px;
}

body.toolbar-fixed.toolbar-horizontal.toolbar-tray-open #moderate-mmenu.mm-opened {
  margin-top: 78px;
}

/* Add basic theme-ing for buttons placed in the moderate-mmenu region. */
#moderate-mmenu a.button {
  width: 100%;
  margin-bottom: 2px;
}

/* Fix flicker on load per the docs at http://mmenu.frebsite.nl. */

#moderate-mmenu:not( .mm-menu ) {
  display: none;
}

/* Normalize display on the button group. */

#moderate-mmenu .button-group {
  display: block;
}
