{#
/**
 * @file
 * Default theme implementation.
 *
 * Available variables:
 *   Todo: description.
 *
 * @ingroup themeable
 */
#}
{{ link_title }}<span class="{{ link_classes }}">{{ link_prefix }}{{ link_value }}</span>
