/* @file
 * imager_admin.sass
 */

$red: #c00;
$white: #fff;
$lightestgrey: #f0f0f0;
$lightergrey: #e0e0e0;
$lightgrey: #cacaca;
$grey: #aaa;
$greyer: #888;
$darkgrey: #666;
$darkergrey: #444;
$black: #000;

#imager-admin-form {
  input {
    width: 100%;
    max-width: 400px;
  }
}
