{#
/**
 * @file
 * Provides xero-payment.html.twig
 *
 * Available variables:
 *   - title: the title "Payment for Invoice #".
 *   - item: The data in an associative array.
 *   - attributes: attributes to apply to the main element.
 */
#}
<div {{ attributes }}>
  <h3 class="title">{{ title }}</h3>

  <span>Type: {{ item.PaymentType }}</span>
  <span>Status: {{ item.Status }}</span>
</div>