{#
/**
 * @file
 * Theme for a widget form element on demand wrapper.
 *
 * To override output, copy the "widget-on-demand-form-element.html.twig" from
 * the templates directory to your theme's directory and customize it, just
 * like customizing other Drupal templates such as page.html.twig or
 * node.html.twig.
 *
 *
 * Available variables:
 * - element_id: The unique form element id of the form element being wrapped.
 * - content: The widget on demand wrapper element's content.
 *
 * @see template_preprocess_widget_on_demand_form_element()
 */
#}

<div id="{{ element_id }}" class="widget-form-element-on-demand">
  {{ content }}
</div>
