.icon-status:before {
  content: "";
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.25em;
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.icon-status__existing:before {
  content: url('/core/themes/stable/images/core/icons/73b355/check.svg');
}

.icon-status__missing:before {
  content: url('/core/themes/stable/images/core/icons/e29700/warning.svg');
}

.icon-status__obsolete:before {
  content: url('/core/themes/stable/images/core/icons/e32700/error.svg');
}
