{#
/**
 * @file
 * Default file chooser field button template.
 *
 * Available variables:
 * - class: The latitude value.
 * - data_attributes: The longitude value.
 * - label: The longitude value.
 */
#}
{% spaceless %}
<a href="#" class="button {{ class }}" {{ data_attributes }}><span>{{ label }}</span></a>
{% endspaceless %}
