.open-weather-container {
  background-color: red;
  background-image: url("../images/dark_earth.jpg");
  color: #eeeeee;
  width: 100%;
  max-width: 400px;
  background-size: cover;
  background-repeat: no-repeat;
}

.open-weather-list {
  margin: auto;
  padding: 20px;
}
.city {
  margin-top: -15px;
  text-transform: uppercase;
}
.city,
.date,
.time {
  text-align: center;
}

.weather-icon {
  float: right;
  width: 60px;
  height: 60px;
  padding: 5px;
}
.temperature {
  font-weight: 600;
  font-size: 36px;
  line-height: 1;
}

.weather-datail {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
}
.open-weather-option {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
  margin-top: 30%;
}
.open-weather-row {
  width: 49%;
  margin-bottom: 20px;
}
@media screen and (min-width: 480px) {
  .open-weather-row {
    width: 33%;
  }
  .open-weather-option {
    justify-content: flex-start;
  }
}
