.open-weather-dailyforecast-container {
  background-image: url("../images/dark_earth.jpg");
  width: 100%;
  max-width: 400px;
  background-size: cover;
  color: #eeeeee;
  background-repeat: no-repeat;
}

.open-weather-dailyforecast-list {
  padding: 20px;
}

.open-weather-dailyforecast-row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-start;
  margin-bottom: 5px;
  background: #eee;
  color: black;
  padding: 5px 0px;
}

.dailyforecast-inner-row {
  margin-left: 10px;
  margin-bottom: 10px;
}

.forecast-date {
  margin-bottom: 10px;
}

.dailyforecast-common {
  margin-bottom: 15px;
}
