{#
/**
 * @file
 *
 */
#}
<link rel="import" href="/modules/contrib/bt_polymer_components/polymer/bt-card/bt-card.html">
<bt-card>
    <div class="title" slot="title">{{ title_component }}</div>
    <div class="text" slot="text">{{ text }}</div>
</bt-card>
