{#
/**
 * @file iots_device.html.twig
 * Default theme implementation to present Device data.
 *
 * This template is used when viewing Device pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_iots_device()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('iots_device') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
