/**
 * @file
 * Provides some CSS fixes to override what Drupal gives us.
 */

/**
 * Fix the label alignment from the system.css.
 */
#qunit-wrapper label {
 display: inline; 
}

#qunit-test-iframe {
  border: none;
  max-height: 1px;
  max-width: 1px;
}

#qunit-test-iframe.visible {
  height: 1000px;
  max-height: none;
  max-width: none;
  width: 100%;
}
