{#
/**
 * @file
 * The message displayed when no video provider can be compatible with AMP.
 */
#}
This provider is not compatible with AMP. See <a href="https://www.drupal.org/project/amp_video_embed_field_formatter">the documentation</a> for more information.