{#
/**
 * @file
 * Template file for the radio with image theme.
#}
<a href="{{ link }}" class="dream-field use-ajax" data-dialog-type="modal" data-dialog-options='{"width":750}' title="{{ description }}">
    <div class="dream-field__container">
        <span class="dream-field__image"><img src="{{ image }}"/></span>
        <span class="dream-field__title">{{ title }}</span>
    </div>
</a>
