{#
/**
 * @file blazemeter_user.html.twig
 * Default theme implementation to present Blazemeter user data.
 *
 * This template is used when viewing Blazemeter user pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_blazemeter_user()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('blazemeter_user') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
