// Admin
// -----------------------------------------------------------------------------
.demo-content-import-form {

  h3 {
    margin: 1.5em 0 0;
    background: #f3f4ee;
    padding: 0.65em 1.0em;
    font-size: 1.2em;
    border: 1px solid #bfbfba;
    border-bottom: 0;
  }

  table {
    border: 1px solid #bfbfba;

    tr {

      td {
        width: 150px;

        &:first-child {
          width: 10px;
        }

        &:last-child {
          width: auto;
          color: lighten(#5c5c5b, 20);
        }
      }
    }
  }
}
