{#
/**
 * @file
 * Default theme implementation to display a formatted mirador image field.
 *
 * Available variables:
 * - url: An URL the image can be linked to.
 * - attributes: Link attributes.
 *
 * @see template_preprocess_mirador_formatter()
 *
 * @ingroup themeable
 */
#}
<div {{ attributes }}></div>
<a href="{{ url }}"></a>
