#forecast {
  width: 50%;
}

#forecast .weather-data {
  width: 100%;
}

#forecast .weather-data span {
  width: 75%;
  float: left;
}

.forecast_date {
  font-weight: bold;
}

.forecast_title {
  font-weight: bold;
  font-size: 18px;
  padding-top: 20px;
}

.current_weather, .current_weather tr, .current_weather td {
  width: auto;
  background: none !important;
}
