{% if _context|first.0.children.thumbnail or _context|first.0.children.video %}
  <div class="vefta-outer">
    <div class="vefta-still vefta-trigger">
      <div class="vefta-still-inner fade-inner">
        {{ _context|first.0.children.thumbnail }}
      </div>
      <div class="vefta-icon">{{ 'Watch video'|t }}</div>
    </div>
    <div class="vefta-video">
      {{ _context|first.0.children.video }}
    </div>
  </div>
{% endif %}