.field--type-ooyala-video td,
.touchevents .field--type-ooyala-video .draggable td {
  padding: 10px 0;
}

.field--type-ooyala-video td.delta-order,
.touchevents .field--type-ooyala-video .draggable td.delta-order {
  padding: 10px;
}

form .field--type-ooyala-video table {
  margin-bottom: 10px;
}

.ooyala-invalid-value {
  outline: 1px solid red;
}

#ooyala-api-status {
  display: inline-block;
}

.ooyala-autocomplete-item {
  overflow: hidden;
}

.ooyala-video-name,
.ooyala-video-description {
  margin-top: 10px;
}

.ooyala-autocomplete-item .ooyala-item-preview,
.ooyala-selected-image {
  float: left;
  width: 50px;
  height: 50px;
  margin-right: 1em;
  background-position: center;
  background-size: contain;
}

.ooyala-item-code {
  color: #555;
}

.ooyala-selected-image {
  height: 100px;
  margin-top: 10px;
  width: 100px;
}

@media only screen and (min-width: 480px) {
  .ooyala-video-details .ooyala-selected-image {
    margin: 0;
    position: absolute;
    right: 0;
    top: 60px;
  }
}

.ooyala-video-details {
  position: relative;
}

.ooyala-video-details.form-wrapper input[type="submit"].ooyala-item-cancel {
  float: right;
  width: auto;
}

.ooyala-video-details .ooyala-item-name:before {
  color: #222;
  content: "Asset Name: ";
  font-weight: bold;
}

.ooyala-video-details .ooyala-item-code:before {
  color: #222;
  content: "Asset ID: ";
  font-weight: bold;
}

.ooyala-video-details .ooyala-item-description,
.ooyala-video-details .ooyala-item-name,
.ooyala-video-details .ooyala-item-code {
  float: left;
  width: 72.5%;
}

.ooyala-video-settings label {
  margin-top: 10px;
}
.ooyala-video-settings .form-item.form-type-checkbox {
  float: left;
  margin: 10px 10px 0 0;
}

.ooyala-pick-video {
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
}
.ooyala-pick-video__upload {
  min-height: 8.5em;
}
.ooyala-pick-video .form-type-textfield,
.ooyala-pick-video .form-textarea {
  flex-grow: 1;
  flex-basis: 20em;
}

.ooyala-pick-video .form-text {
  width: 100%;
  flex-basis: 50%;
  flex-grow: 1;
}

.ooyala-pick-video__upload .form-type-textfield {
  display: none !important;
}

.ooyala-upload-progress {
  display: none;
  flex-grow: 1;
  position: relative;
  border: 1px solid #ddd;
  width: 0;
  overflow: hidden;
}

.ooyala-pick-video__upload .ooyala-upload-progress {
  display: block;
  flex-basis: 50%;
}

/* candy animation stripe on progress bar */
@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}

.ooyala-upload-progress {
  border-radius: 1em;
  overflow: hidden;
}

.ooyala-upload-progress .ooyala-progress-bar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;

  /** yoinked from https://css-tricks.com/css3-progress-bars/ */
  background-color: rgb(43,194,83);
  background-image: linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
  );
  box-shadow:
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  overflow: hidden;
}

.ooyala-progress-bar:after {
  display: none;
}

.ooyala-pick-video__cancelled .ooyala-progress-bar {
  background-color: #f0a3a3;
}
.ooyala-pick-video__cancelled .ooyala-progress-bar >span {
  background-image: none;
  animation: none;
}

.ooyala-progress-bar > span,
.ooyala-progress-bar:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-image: linear-gradient(
    -45deg,
    rgba(255, 255, 255, .2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, .2) 50%,
    rgba(255, 255, 255, .2) 75%,
    transparent 75%,
    transparent
  );
  z-index: 1;
  background-size: 50px 50px;
  animation: move 2s linear infinite;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
}

.ooyala-upload-progress .ooyala-filename {
  padding: .3em .2em .3em .5em;
  display: inline-block;
  color: #444;
  text-shadow: 1px 1px 1px rgba(255,255,255,.9);
  position: relative;
  z-index: 2;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}
