{#
/**
 * @file
 * Default theme implementation of an Instagram image with link.
 *
 * Available variables:
 * - data: The array returned from the Instagram image and path request.
 * - width: The display width of the image.
 * - height: The display height of the image.
 *
 * @ingroup themeable
 */
#}
{% spaceless %}
  {% if data %}
    <ul class="iwa">
      {% for item in data %}
      <li>
    	  <a class="group" target="_blank" data-instagram-rel="1" href="{{ item.path }}">
    	    <img alt="instagram" height="{{ height }}" width="{{ width }}" src="{{ item.image }}">
    	  </a>
      </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endspaceless %}
