<blockquote>
  {% if quote|render %}
    <div class="blockquote__content">
      <p>{{ quote }}</p>
      {% if attribution|render %}
        <footer>{{ attribution }}</footer>
      {% endif %}
    </div>
  {% endif %}
  {% if image|render %}
    <div class="blockquote__image">{{ image }}</div>
  {% endif %}
</blockquote>
