@import 'config';

$attribution: blue !default;
$quotes: $border-color !default;
$border-color: $border-color !default;

blockquote {
	border: 1px dotted $border-color;
	border-radius: 5px;
	padding: 10px 10px 10px 70px;
	position: relative;
	display: flex;
	justify-content: space-between;
	&:before {
		content: "\201C";
		color: $quotes;
		font-size: 60px;
		font-weight: 700;
		font-family: Georgia, serif;
		position: absolute;
		left: 30px;
		top: 5px;
	}
  p {
    margin: 0 0 10px 0;
  }
	footer {
		font-weight: 700;
		color: $attribution;
	}
}
