.hide {
  display: none;
}

.inline {
  display: inline-block;
  vertical-align: top;
}

.clear {
  clear: both;
}

.iterations_extra_info {
  color: #888;
}

.asf-inline,
.form-item.asf-inline{
  display:inline-block;
  vertical-align: top;
}
.asf-clear,
.form-item.asf-clear{
  clear:both;
}

.asf-datetime-wrapper{
  display:inline-block;
  width:49%;
}