{#
/**
 * @file
 * Default theme implementation to display a riddle.
 *
 * @ingroup themeable
 */
#}
<div class="riddle_target" data-rid-id="{{ code }}" data-fg="#1486cd" data-bg="#FFFFFF"
     style="margin:0 auto;max-width:100%;width:640px;">
  <iframe style="width:100%;height:300px;border:1px solid #cfcfcf;" src="https://www.riddle.com/a/{{ code }}"></iframe>
</div>
