<style>
#ht-tabs-analytiks-container-container {
  max-width: 740px;
  margin: auto;
}
#ht-tabs-analytiks {
  text-align: center;
  border: none;
}
.komponent {
    margin: 2em 0em;
    box-shadow: 0 4px 9px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.24);
    background-color: rgba(0,0,0,0.02);
}
#ht-tabs-analytiks .ui-widget-header {
  background: none;
  border: none;
  border-bottom: 1px solid #dddddd;
  padding: 0;
}
#ht-tabs-analytiks .ui-tabs .ui-tabs-nav {
  padding: 0 5px 0px 5px;
}
#ht-tabs-analytiks .ui-state-default a {
    outline: none;
    background-color: #d11242;
    color: #fff !important;;
    font-size: 1em;
}

#ht-tabs-analytiks .ui-state-active  a {
    font-weight: bold;
}
#ht-tab-analytiks #ht-tabs-analytiks .ui-tabs-tab.ui-corner-top.ui-state-default.ui-tab {
  color: #fff;
}
#ht-tab-analytiks .ui-tabs-tab.ui-corner-top.ui-state-default.ui-tab.ui-tabs-active.ui-state-active {
    background-color: #d11222 !important;
}
#ht-tabs-analytiks-container .ui-tabs .ui-tabs-panel {
  padding: 0;
}
</style>
<div id="ht-tabs-analytiks-container-container">
<div id="ht-tabs-analytiks-container">
<div id="ht-tabs-analytiks">
  <ul>
    <li><a href="#ht-tabs-0">Weekly</a></li>
    <li><a href="#ht-tabs-1">Monthly</a></li>
    <li><a href="#ht-tabs-2">Yearly</a></li>
  </ul>
  <div id="ht-tabs-0">
    {% for r in regions.reg_0 %}
    <div class="komponent">
        {{ r }}
    </div>
    {% endfor %}
  </div>
  <div id="ht-tabs-1">
    {% for r in regions.reg_1 %}
    <div class="komponent">
        {{ r }}
    </div>
    {% endfor %}
  </div>
  <div id="ht-tabs-2">
    {% for r in regions.reg_2 %}
    <div class="komponent">
        {{ r }}
    </div>
    {% endfor %}
  </div>
</div>
</div>
</div>
