.post-type-kashing .rwmb-settings-no-boxes .rwmb-label {
  max-width: 240px;
}

.post-type-kashing input[type=text] {
  min-width: 300px;
}

/* Kashing Settings Page */

.kashing-extra-tip {
  display: block;
  margin-top: 10px;
}

/* Admin Kashing Form */

.kashing-admin-form .kashing-field {
  margin-bottom: 20px;
}

.kashing-admin-form .kashing-field:after {
  content: '';
  clear: both;
  display: block;
}

.kashing-admin-form .kashing-label,
.kashing-admin-form .kashing-input {
  float: left;
  vertical-align: top;
}

.kashing-admin-form .kashing-label {
  width: 22%;
  font-weight: bold;
}

.kashing-admin-form .kashing-input {
  width: 78%;
}

/* Kashing Form field description */

.kashing-admin-form .kashing-desc {
  font-style: italic;
  color: #555;
  line-height: 1.4em;
  margin: 4px 0 6px;
}

/* Kashing Form Fields */

/* Heading */

.kashing-field-heading h3 {
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.kashing-field.required-field .kashing-label > label:after {
  content: "*";
  color: #dc3232;
  margin-left: 3px;
}

/* Textarea */

.kashing-field-textarea textarea {
  width: 96%;
}

/* Checkbox */

.kashing-field-checkbox .kashing-desc {
  display: inline;
}

/* Radio */

.kashing-radio-group label {
  display: block;
  line-height: 1.4em;
  margin: 4px 0 10px;
}

/* Select */

.kashing-admin-form select {
  min-width: 260px;
}

.kashing-admin-form h2:not(.nav-tab-wrapper) {
  display: none;
}

.kashing-admin-form .kashing-error {
  color: #dc3232;
}

.kashing-admin-form .has-errors input[type="text"],
.kashing-admin-form .has-errors textarea {
  border-color: #dc3232;
}

/* Kashing add shortcode button and popup styling */

#kashing-popup-window .mce-container h5 {
  font-weight: bold;
  margin-bottom: 12px;
}

#kashing-popup-window .mce-container p {
  margin-bottom: 15px;
}

#kashing-popup-window .button {
  text-decoration: none;
}

#kashing-popup-window p {
  white-space: normal;
  line-height: 1.3em;
}
