/* Kashing Form Frontend Styling */

.kashing-form .input-holder {
  margin-bottom: 20px;
}

.kashing-form .input-holder label {
  display: block;
  margin-bottom: 10px;
}

.kashing-form select,
.kashing-form input,
.kashing-form textarea {
  width: 100%;
}

/* Required field asterix */

.kashing-form .field-required > label:after {
  content: "*";
  color: #dc3232;
  margin-left: 3px;
}

/* Validation Errors */

.kashing-form .validation-error input,
.kashing-form .validation-error input select {
  border-color: #dc3232;
}

.kashing-form-error-msg {
  font-size: .9em;
  margin: 6px 0 10px;
  display: block;
  color: #dc3232;
}

/* Frontend notices */

.kashing-frontend-notice {
  padding: 22px;
}

.kashing-frontend-notice p {
  margin-bottom: 20px;
}

.kashing-frontend-notice.kashing-errors {
  border: 4px solid #dc3232;
}

.kashing-frontend-notice.kashing-success {
  border: 4px solid #46b450;
}

.kashing-frontend-errors p:last-child,
.kashing-frontend-notice ul:last-child {
  margin: 0;
}

.kashing-frontend-notice ul {
  list-style: inside;
}

/* Plugin Test Mode related */

.kashing-test-mode-notice {
  display: inline-block;
  background: #ddd;
  font-size: .9em;
  padding: 3px 8px;
  margin: 4px;
  color: #fff;
}


.kashing-submit-success {
  padding: 22px;
  background: #ffffffff;
}

.kashing-submit-success {
  margin-bottom: 20px;
}

.kashing-submit-success {
  border: 4px solid #dc3232;
}
