{#
/**
 * @file
 * Default theme implementation to display the tooltip on text, on hover.
 *
 * Available variables:
 * - tooltip: The tooltip text.
 * - text: The text of the rendered field.
 */
#}

<p class="tooltiphover" title="{{ tooltip }}">{{ text }}</p>
