.local-actions-unavailable li a {
    /* this is UI enhancement, not a securty one, so pointer-events:none is sufficient to prevent clicking */
    pointer-events: none;
    text-decoration: line-through;
}

.local-actions-unavailable .alert-box a {
    font-weight: bold;
    color: #FFF;
    text-decoration: underline;
}

.local-actions-unavailable .alert-box a:hover {
    color: #97fdff;
}