.block-alertbox {
  display: none;
  border: 1px solid #ccc;
  padding: 10px 20px;
  border-radius: 10px;
  background: #eee;
  margin: 10px 0;
}

.block-alertbox .hide-alertbox {
  background: url(../images/cross.png) no-repeat center center transparent;
  display: block;
  width: 20px;
  height: 20px;
  float: right;
  cursor: pointer;
}

.block-alertbox .hide-alertbox:hover,
.block-alertbox .hide-alertbox:active {
  opacity: 0.5;
}
