.field--name-field-blog-tags {
  margin: 15px 0;
  display: inline-block;
}

.block-tagclouds .tagclouds-term {
  margin-right: 4px;
}
.cms-blog-links {
  margin-top: 15px;
  margin-bottom: 15px;
}
.cms-blog-links .col-sm-4:before,
.cms-blog-links .col-sm-4:after {
  content: " ";
  display: table;
}
.cms-blog-links .col-sm-4:after {
  clear: both;
}
.cms-blog-links .glazed-service-links .links {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.cms-blog-links .glazed-service-links .links li {
  display: inline-block;
  list-style: none;
}


.view-cms-blog-classic .views-row {
  margin-bottom: 60px;
}
.view-cms-blog-classic .read-more {
  margin-bottom: 20px;
  margin-top: 20px;
}
.field-blog-image {
  margin-bottom: 10px;
}

.view-cms-blog-modern .views-row {
  margin-bottom: 30px;
  padding-bottom: 15px;
}
.view-cms-blog-modern a {
  color: #555555;
}

.view-cms-blog .col-md-3 h2 {
  font-size: 18px;
}
.view-cms-blog .col-md-4 h2 {
  font-size: 24px;
}

.view-cms-blog-grid-2-columns .row {
  margin-bottom: 20px;
}

.view-cms-blog-grid-3-columns .row {
  margin-bottom: 15px;
}

.view-cms-blog-grid-4-columns .row {
  margin-bottom: 10px;
}
