/**
 * Styles for routing rule display.
 *
 * @todo Styling needs work.
 */
.sms-rule-based {

}

ul.routing-rule-list {
  list-style: none inside none;
  margin: 0;
  padding: 0;
}

.routing-rule.conjunction {
  text-decoration: underline;
  font-style: italic;
  font-weight: bold;
  font-size: .85em;
}

.rule-label {
}

.rule-operator {
  text-decoration: underline;
}

.rule-operand {
  font-weight: bold;
  color: red;
}
