body .gutenberg__editor .edit-post-layout .edit-post-header {
  font-family: inherit;

  @media (min-width: 782px) {
    position: fixed;
  }

  .gutenberg-header-settings {
    #edit-actions {
      display: flex;
      flex-direction: row;

      @media screen and (max-width: 600px) {
        input[type="submit"] {
          float: none;
          width: auto;
          margin-top: 0;
          margin-right: 10px;
        }

        a.button {
          padding: 5px 0;
        }
      }
    }
  }
}

// body .gutenberg__editor .edit-post-header__settings {
//   .edit-post-pinned-plugins {
//     display: none;
//   }
// }

body.toolbar-horizontal {
  .edit-post-sidebar {
    @media (min-width: 782px) {
      top: 95px !important;
    }
  }

  .edit-post-header {
    @media (min-width: 782px) {
      top: 39px !important;
      left: 0 !important;
    }
  }

  &.toolbar-tray-open {
    .edit-post-sidebar {
      @media (min-width: 782px) {
        top: 134px !important;
      }
    }

    .edit-post-header {
      @media (min-width: 782px) {
        top: 78px !important;
      }
    }
  }
}

body.toolbar-vertical {
  .edit-post-sidebar {
    @media (min-width: 782px) {
      top: 95px !important; //39px !important;
    }
  }

  .edit-post-header {
    @media (min-width: 782px) {
      top: 39px !important;
      left: 240px !important;
    }
  }
}
