.edit-post-sidebar {
  background: #ececec !important;

  .components-base-control {
    padding-right: 16px;
  }

  .components-button {
    &:focus {
      background: none !important;
    }
  }

  .edit-post-sidebar-header {
    background: #ececec !important;
    height: auto;
    border: none;
  }

  .edit-post-extra-sidebar__panel {
    display: none;
  }

  button.edit-post-sidebar__panel-tab {
    color: #0074bd;
    background-color: #eee;
    height: 36px;

    &.is-active {
      border-color: transparent !important;
      background-color: #fff;
    }
  }

  .edit-post-post-status {
    display: none;
  }

  .field--name-title {
    padding: 0 10px;
  }

  .editor-block-inspector__card {
    border-bottom: 1px solid #bfbfbf;
  }

  .components-panel__body {
    .components-panel__body {
      background-color: #fcfcfa;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #bfbfbf;

      .components-panel__body-title {
        button {
          color: #0074bd;
          font-weight: bold;
          text-transform: uppercase;
          text-shadow: 0 1px 0 white;

          &:before {
            content: '\25BA';
            font-size: 10px;
            line-height: 22px;
            margin-right: 6px;
          }

          &:hover {
            color: #004f80;
          }

          svg {
            display: none;
          }
        }
      }

      &.is-opened {
        background-color: #ececec;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.125), transparent 4px);
        border-top-width: 0;
        padding-top: 17px;

        .components-panel__body-title {
          button {
            color: #004f80;
            &:before {
              content: '\25BC';
            }
          }
        }
      }
    }
  }

  .entity-meta {
    border: none;

    .entity-meta__header {
      background-color: white;
      border-top: none;
      border-radius: 0;
      padding: 0 10px;
    }

    .seven-details > summary {
      padding: 1.25em;
    }
  }

  select {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center right;
    padding: 5px 5px;
    line-height: 1.3em;
  }

  #edit-additional-fields {
    padding: 0 10px 10px;
  }
}

.gutenberg-sidebar {
  display: none;
}
