.edit-post-visual-editor {
  padding: 80px 0;

  .editor-block-list__block[data-align="full"] {
    margin-left: -46px !important;
    margin-right: -46px !important;
  }
}

.edit-post-layout__content {
  padding-bottom: 4px;
}

@media (min-width: 600px) {
  .edit-post-layout__content {
    // Dirty fix for Chrome.
    overscroll-behavior-y: auto !important;
  }
}

@media (min-width: 782px) {
  .edit-post-layout__content {
    margin-left: 0px;
  }
}
