// @import './modal-media-browser';
@import './media-browser';

#views-form-reusable-blocks-page-1 {
  display: flex;
  flex-wrap: wrap;

  #edit-header {
    flex-basis: 100%;
  }

  #edit-block-content-bulk-form--2 {
    display: flex;
    flex-wrap: wrap;
  }

  #edit-actions {
    flex-basis: 100%;
  }

  .form-actions {
    margin: 0.75em 0;
    align-self: flex-end;
  }

  .views-row {
    cursor: pointer;
    width: 360px;
    max-height: 360px;
    overflow: hidden;
    position: relative;
    border: 1px solid #dbdbdb;
    background: #fff;
    margin: 16px 16px 2px 2px;
    transition: border-color 0.2s, color 0.2s;

    &:hover {
      margin: 14px 14px 0 0;
      border: solid 3px #40b6ff;
    }

    .views-field-info {
      padding: 0 10px;
      border-bottom: 1px solid #dbdbdb;
    }

    .views-field.views-field-body {
      transform: scale(0.5);
      transform-origin: top left;
      width: 720px;
      max-height: 180px;
    }

    .views-field-block-content-bulk-form {
      .field-content {
        position: absolute;
        top: 0;
        right: 10px;
      }
    }
  }
}

#edit-allowed-blocks-details {
  .details-wrapper {
    display: flex;
    flex-direction: row;

    fieldset {
      flex: 1;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

#edit-allowed-drupal-blocks-details {
  .details-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    fieldset {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.ajax-progress-throbber .throbber {
  padding: 1px 7px 2px !important;
}
