/**
 * Some default styles for default theme: Bartik
 */

.gutenberg__editor {
  .edit-post-visual-editor {
    font-family: Georgia, 'Times New Roman', Times, serif;

    div[data-type="core/paragraph"] {
      font-size: 15px;
    }
  }
}

.wp-block-embed-youtube {
  iframe {
    width: 100%;
  }
}
