@import 'gutenberg-js-legacy';
@import 'components-popover';
@import 'components-notice-list';
@import 'block-types';
@import 'blocks-overrides';
@import 'edit-post-header';
@import 'edit-post';
@import 'edit-post-sidebar';
@import 'edit-post-metaboxes';

#gutenberg-loading {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &.hide {
    display: none;
  }
}

.gutenberg-full-editor {
  &:not(.ready) {
    display: none;
  }
}

.layout-container {
  &.full-width {
    margin: 0;
  }
}

// body .gutenberg {
//   position: relative;
// }

// body .gutenberg__editor {
//   position: absolute;
//   min-height: calc(100vh - 88px);
// }

body .gutenberg__editor .edit-post-layout .edit-post-sidebar {
  font-family: inherit;
}

.field--gutenberg {
  .form-item {
    & + label {
      display: none;
    }
  }

  .filter-wrapper {
    display: none;
  }
}

.wp-block-embed iframe {
  border: none;
}

.editor-rich-text__tinymce[data-is-placeholder-visible="true"] {
  z-index: 2;
}

.editor-rich-text__tinymce ~ .editor-rich-text__tinymce {
  opacity: 0.5;
  pointer-events: none;
}

.edit-post-header__settings {
  .editor-post-save-draft {
    display: none;
  }

  .editor-post-publish-panel__toggle {
    display: none !important;
  }

  .editor-post-saved-state {
    display: none;
  }
}

.wp-block {
  max-width: 810px;
}

.wp-block[data-align=wide] {
  max-width: 810px;
}
