{#
  /**
   * @file
   * Template to render tweets feeds.
   *
   * Available variables:
   *  - screen_name: Screen Name of profile.
   *  - tweets_ids: Tweets Ids.
   */
#}
<div class="container">
<h2 class="text-center">
  {{ 'Follow us on Twitter'|t }}
</h2>
{% for _tweet in tweets_ids %}
  <div class="twitter_sync tweets">
  {% if _tweet %}
    <blockquote class="twitter-tweet" data-cards="hidden" data-conversation="none">
      <a href="https://twitter.com/{{ screen_name }}/status/{{ _tweet }}"></a>
    </blockquote>
  {% endif %}
  </div>
{% endfor %}
</div>
