html, body {
    font-size: 15px;
}
#print-area {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
}
/*TOP*/
#facture-top {
    margin-bottom: 60px;
}
#facture-top table tr {
    background-color: transparent;
}
#facture-top table td {
    vertical-align: top;
    background-color: transparent;
}
.field--name-field-logo {
width: 100%;
}
.field--name-name {
    font-weight: bold;
}
#company .field--name-field-adresse,
 .field--name-field-code-postal,
 .field--name-field-ville {

    display: inline-block;
}
#customer {
    padding: 20px 10px 20px 10%;
    border-radius: 10px;
    border: 2px solid;
}

.field--name-field-client .field__item {
    font-size: 1.05em;
}
/*CONTENT*/
#facture-content {
    margin-bottom: 60px;
}
.facture-table {
    margin-top: 15px;
}
.field--name-field-invoice-number {
    font-weight: bold;
    font-size: 1.3em;
}
#facture-content table th,#facture-content table td {
    padding: 0.5em 1em;
    border: 1px solid #aaa !important;
    background-color: transparent;
    color: #000;
}
#facture-content table th {
    background-color: #eee;
}
#facture-content table tr {
    background-color: transparent;
}
#facture-content table td {
    background-color: transparent;
}
#facture-content table td p{
    margin: 0;
}
.field__label {
    font-size: inherit;
}
/*BOTTOM*/
#facture-footer {
    text-align: center;
    font-size: 0.8em;
    padding-bottom: 20px;

}

