<h2>{% trans %}Standard HTML elements{% endtrans %}</h2>

<h1>Heading level 1</h1>
<p>This is a basic paragraph.</p>
<h2>Heading level 2</h2>
<p>This is a basic paragraph.</p>
<h3>Heading level 3</h3>
<p>This is a basic paragraph.</p>
<h4>Heading level 4</h4>
<p>This is a basic paragraph.</p>
<h5>Heading level 5</h5>
<p>This is a basic paragraph.</p>
<h6>Heading level 6</h6>
<p>This is a basic paragraph.</p>
<h2>Block level elements</h2>
<p>
    A normal paragraph (<code>p</code> element). Pellentesque condimentum gravida scelerisque. Integer vitae nisl
    risus. Ut id orci convallis, fringilla tellus vitae, commodo arcu. Proin quis cursus dolor. Donec enim mi, molestie
    elementum hendrerit sit amet, gravida sit amet orci. Maecenas cursus nisl mauris, quis pulvinar tellus tincidunt
    eu. Proin a ipsum vel nibh facilisis suscipit. Donec pharetra, risus sit amet lobortis pretium, lorem dolor viverra
    urna, eget rutrum libero leo sit amet nibh. Nam vitae neque sit amet tortor pellentesque lobortis id nec enim.
    Proin sed ipsum non lectus eleifend tristique et a libero. Quisque venenatis ipsum feugiat interdum dictum. Etiam
    hendrerit sapien vel nisi dignissim congue tempor vitae orci. Praesent accumsan et augue vel eleifend.
</p>
<p>
    A second paragraph. Aliquam blandit eu ex nec posuere. Nulla pulvinar dignissim efficitur. Fusce fermentum arcu ut
    mauris blandit aliquet. Cras sagittis tristique eros, id pretium ex interdum sed. In lectus ante, lacinia eu
    aliquam luctus, vulputate ac metus. Nullam ullamcorper viverra nulla, ac efficitur metus vestibulum at. Etiam
    consectetur consequat odio consectetur rutrum. Sed eget vulputate mauris, eu fringilla quam. Nulla fermentum
    tincidunt diam eget laoreet.
</p>
<div>
    A <code>div</code> element. Etiam non quam vel diam auctor iaculis in non mi. Lorem ipsum dolor sit amet,
    consectetur adipiscing elit. Pellentesque et sem vitae ante facilisis elementum. Quisque convallis tortor vitae
    quam pretium, vitae egestas dolor pulvinar. Ut a egestas arcu, vitae lacinia ante. Etiam mattis dui ut quam
    hendrerit, vel iaculis sem fringilla. Morbi vehicula ex sed tortor mollis, eu interdum purus viverra.
</div>
<blockquote>
    Block quotation (single paragraph <code>p</code>). Sed lacus nibh, vehicula a orci in, dapibus dapibus est.
</blockquote>
<p>
    An <code>address</code> element:
</p>
<address>
    <a href="#">First Lastname</a>, <a href="#">name@provider.domain</a>
    <br>Street 65 C, City, Country
</address>
<h2>Lists</h2>
<p>
    Paragraph before an <strong>unordered</strong> list (<code>ul</code>).
</p>
<ul>
    <li>Item one.</li>
    <li>Item two.</li>
    <li>
        Nam id massa quis eros dapibus aliquam nec consectetur nunc. Vivamus sed faucibus leo. Suspendisse in elit ut
        nunc lobortis ultrices. Integer lobortis auctor vestibulum. Aenean massa mi, porttitor in.
    </li>
    <li>
        Duis odio dui, lacinia a nunc id, vulputate fringilla leo. Duis sed purus a eros tristique maximus vitae eu
        justo. Vestibulum id porta mauris. Class.
    </li>
</ul>
<p>A <code>menu</code> list:</p>
<menu>
    <li>Item one.</li>
    <li>Item two.</li>
    <li>
        Nam id massa quis eros dapibus aliquam nec consectetur nunc. Vivamus sed faucibus leo. Suspendisse in elit ut
        nunc lobortis ultrices. Integer lobortis auctor vestibulum. Aenean massa mi, porttitor in.
    </li>
</menu>
<p>A <code>dir</code> list:</p>
<dir>
    <li>Item one.</li>
    <li>Item two.</li>
    <li>
        Nam id massa quis eros dapibus aliquam nec consectetur nunc. Vivamus sed faucibus leo. Suspendisse in elit ut
        nunc lobortis ultrices. Integer lobortis auctor vestibulum. Aenean massa mi, porttitor in.
    </li>
</dir>
<p>
    Paragraph before a <strong>numbered</strong> list (<code>ol</code>).
</p>
<ol>
    <li>Item one.</li>
    <li>Item two.</li>
    <li>
        Nam id massa quis eros dapibus aliquam nec consectetur nunc. Vivamus sed faucibus leo. Suspendisse in elit ut
        nunc lobortis ultrices. Integer lobortis auctor vestibulum. Aenean massa mi, porttitor in.
    </li>
    <li>
        Duis odio dui, lacinia a nunc id, vulputate fringilla leo. Duis sed purus a eros tristique maximus vitae eu
        justo. Vestibulum id porta mauris. Class.
    </li>
</ol>
<p>
    Paragraph before a <strong>definition</strong> list (<code>dl</code>).
</p>
<dl>
    <dt>title</dt>
    <dd>description</dd>
    <dt>Capitalized title</dt>
    <dd>Capitalized description</dd>
    <dt>thing</dt>
    <dd>description of thing</dd>
    <dt>Big thing</dt>
    <dd>
        Donec ut aliquet lectus, vestibulum elementum sem. Morbi gravida enim sit amet magna consectetur, id vestibulum
        lacus finibus. Class aptent.
    </dd>
</dl>
<h2>Markup at text-level</h2>
<ul>
    <li><abbr title="Hyper Text Markup Language">HTML</abbr> (<code>abbr</code>)</li>
    <li><acronym title="Light amplification by the stimulated emission of radiation">LASER</acronym>
        (<code>acronym</code>)</li>
    <li><b>bold</b> (<code>b</code>)</li>
    <li><big>big</big> (<code>big</code>)</li>
    <li><font size=6>large size</font> (<code>font size=6</code>)</li>
    <li><font face=Courier>Courier font</font> (<code>font face=Courier</code>)</li>
    <li><font color=red>red</font> (<code>font color=red</code>)</li>
    <li><cite>Origin of Species</cite> (<code>cite</code>)</li>
    <li><code>a[i]=b[i] + c[i];</code> (<code>code</code>)</li>
    <li><del>deleted</del> (<code>del</code>)</li>
    <li><dfn>octet</dfn> (<code>dfn</code>)</li>
    <li><em>emphasis</em> (<code>em</code>)</li>
    <li><i>italics</i> (<code>i</code>)</li>
    <li><ins>inserted</ins> (<code>ins</code>)</li>
    <li><kbd>input</kbd> (<code>kbd</code>)</li>
    <li><q>Quote!</q> (<code>q</code>)</li>
    <li><q>Quote <q>quote inside quote</q></q> (<code>q</code> inside <code>q</code>)</li>
    <li><samp>Message</samp> (<code>samp</code>)</li>
    <li><small>Small</small> (<code>small</code>)</li>
    <li><strike>Striked</strike> (<code>strike</code>, <code>s</code> is a non-standard synonym)</li>
    <li><strong>Strong</strong> (<code>strong</code>)</li>
    <li>X<sub>1</sub> (<code>sub</code>)</li>
    <li><tt>Monospace font</tt> (<code>tt</code>)</li>
    <li><u>underlined</u> (<code>u</code>)</li>
    <li><var>filename</var> (<code>var</code>).</li>
</ul>
<h2>Links</h2>
<ul>
    <li><a href="#">Internal link</a></li>
    <li>
        <a href="http://www.unicode.org/versions/Unicode4.0.0/ch06.pdf"
           title="Writing Systems and Punctuation"type="application/pdf">
            External link
        </a>
    </li>
</ul>
<h2>Forms</h2>
<form>
    <div>
        <input type="hidden" name="hidden field" value="42">
    </div>
    <div>
        <label for="button-1">Button:
            <button id="button-1" type="submit" name="foo" value="bar">
                Two line <br>button
            </button>
        </label>
    </div>
    <div>
        <label for="button-reset">Reset button:
            <input id="button-reset" type="reset" name="reset" value="Reset">
        </label>
    </div>
    <div>
        <label for="f1">Text:
            <input id="f1" name="text" size="20" value="Default text.">
        </label>
    </div>
    <div>
        <label for="f2">Textarea:</label>
        <br>
        <textarea id="f2" name="textarea" rows="2" cols="20">
            Default text.
        </textarea>
    </div>
    <div>
        <code>fieldset</code> element with a <code>legend</code>:
    </div>
    <fieldset>
        <legend>Legend</legend>
        <div>
            <label for="f3"><input id="f3" type="radio" name="radio" value="1">
                Radio button 1</label>
        </div>
        <div>
            <label for="f4">
                <input id="f4" type="radio" name="radio" value="2" checked>
                Radio button 2 (initially checked)
            </label>
        </div>
    </fieldset>
    <fieldset>
        <legend>Checkboxes</legend>
        <div>
            <label for="f5"><input id="f5" type="checkbox" name="checkbox">
                Checkbox 1</label>
        </div>
        <div>
            <label for="f6">
                <input id="f6" type="checkbox" name="checkbox2" checked>
                Checkbox 2 (initially checked)
            </label>
        </div>
    </fieldset>
    <div>
        <label for="f10"><code>select</code>
            <code>size="1"</code>(dropdown):
            <select id="f10" name="select1" size="1">
                <option>one</option>
                <option selected>two (default)</option>
                <option>three</option>
            </select>
        </label>
    </div>
    <div>
        <label for="f11"><code>select</code>
            <code>size="3"</code>(listbox):</label>
        <br>
        <select id="f11" name="select2" size="3">
            <option>one</option>
            <option selected>two (default)</option>
            <option>three</option>
        </select>
    </div>
    <div>
        <label for="f99">Submit button:
            <input id="f99" type="submit" name="submit" value="Single line button">
        </label>
    </div>
</form>
<h2>Tables</h2>
<table summary="Summary of this table">
    <caption>Sample table</caption>
    <tr>
        <th scope="col">Table header 1</th>
        <th scope="col">Table header 2</th>
        <th scope="col">Table header 3</th>
    </tr>
    <tr>
        <th scope="row">Row table header 1</th>
        <td>Table data</td>
        <td align="right">Table data (<code>align="right"</code>)</td>
    </tr>
    <tr>
        <th scope="row">Row table header 2</th>
        <td>Table data</td>
        <td align="right">Table data (<code>align="right"</code>)</td>
    </tr>
    <tr>
        <th scope="row">Row table header 3</th>
        <td>Table data</td>
        <td align="right">Table data (<code>align="right"</code>)</td>
    </tr>
    <tr>
        <th scope="row">Row table header 4</th>
        <td>Table data</td>
        <td align="right">Table data (<code>align="right"</code>)</td>
    </tr>
    <tr>
        <th scope="row">Row table header 5</th>
        <td>Table data</td>
        <td align="right">Table data (<code>align="right"</code>)</td>
    </tr>
</table>
<h2>Character test</h2>
<table>
    <tr>
        <th>Character</th>
        <th>Explanation</th>
    </tr>
    <tr>
        <td>ê </td>
        <td>'e' with circumflex </td>
    </tr>
    <tr>
        <td>&#8212; </td>
        <td>em dash </td>
    </tr>
    <tr>
        <td>&#x100; </td>
        <td>'A' with macron (line above) </td>
    </tr>
    <tr>
        <td>&Omega; </td>
        <td>Capital omega </td>
    </tr>
    <tr>
        <td>&#x2212; </td>
        <td>Minus sign </td>
    </tr>
    <tr>
        <td>&#x2300; </td>
        <td>Diameter sign </td>
    </tr>
</table>
