<main class="page-content clearfix" role="main">

    <div class="region region-content">

        <div class="block">

            <ul>
                {% for link_text, link_href in links %}
                    <li>
                        <a href="{{ link_href }}">{{ link_text }}</a>
                    </li>
                {% endfor %}
            </ul>

        </div>

    </div>

</main>