{#
/**
 * @file
 * Default theme implementation to display a social network block.
 *
 * Available variables:
 * - icon_links: array of links and icons of each social network
 *
 * @ingroup themeable
 */
#}
<div class="ofed_social_links_wrapper clearfix">
    <div class="ofed_social_links">
        {% for link in icon_links %}
            {{ link }}
        {% endfor %}
    </div>
</div>
