{#
/**
 * @file
 * Default theme implementation to display a social network settings table.
 *
 * Available variables:
 * - social_networks:
        - title: the title of the form
        - attributes: a list of attributes.
        - table: the social networks selection table.
 * - form: the form, expect elements already rendered by social_networks before.
 *
 * @see template_preprocess_ofed_social_admin_form()
 *
 * @ingroup themeable
 */
#}
  {%
  set social_network_classes = [
  'js-form-item',
  'form-item',
  'table-language-group',
  'table-' ~ language_type.type ~ '-wrapper',
  ]
  %}
<div{{ social_networks.attributes.addClass(social_network_classes) }}>
    <h4>{{ social_networks.title }}</h4>
    {{ social_networks.table }}
    {{ form }}
</div>
