{#
/**
 * @file
 * Default theme implementation to display a formatted royalslider field.
 *
 * Available variables:
 * - royalslider_items: The items within the slider.
 *
 * @see template_preprocess_royalslider_formatter()
 *
 * @ingroup themeable
 */
#}
<div id="{{ attributes.id }}" class="royalslider rsDefault">
    {% for rs_item in items %}
        <div>{{ rs_item }}</div>
    {% endfor %}
</div>
