{#
/**
* @file
* Default theme implementation for a IPv6 Greeter block.
*
* Available variables:
* - is_client_ipv6: set if the client address is IPv6.
* - client_ip: the client ip address.
* - greet_ipv4: TRUE if the greeter should be shows for IPv4 clients too.
*
* @ingroup themeable
*/
#}
{% block content %}
  {% if is_client_ipv6 %}
    <div class="ipv6-greeter-ipv6-client"><p>
      {% trans %}You've got IPv6!<br />{{ client_ip }}{% endtrans %}
    </p></div>
  {% else %}
    {% if greet_ipv4 %}
      <div class="ipv6-greeter-ipv4-client"><p>
        {% trans %}You're not on <a href="http://en.wikipedia.org/wiki/IPv6" title="Wikipedia - IPv6">IPv6</a>, yet!{% endtrans %}
      </p></div>
    {% endif %}
  {% endif %}
{% endblock %}
