{#

Template used to render messages before they are sent.

Available variables:
 * subject - The message's subject.
 * body - The message's body.
 * body_text - The raw body's text.
 * body_format - The body's text format.
 * message_id - The message's ID.
 * method - The used method's ID (might be empty).

#}
{% block doctype %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">{% endblock %}
<html>
  <head>
    {% block head %}
      <title>{% block title %}{{ subject }}{% endblock %}</title>
    {% endblock %}
  </head>
  <body>
    {% block body %}
      {% block header %}{% endblock %}
      {% block content %}{{ body }}{% endblock %}
      {% block footer %}{% endblock %}
    {% endblock %}
  </body>
</html>
