{#
/**
 * @file
 * Default theme implementation to display a TINT html.
 *
 * @ingroup themeable
 */
#}

{{ attach_library('tint/tint') }}
<div class="tint-web-embed">
  {{ strip_tint_html|raw }}
</div>
