<div class="chatcontrol">
  <div *ngIf="action != ''; then actionpanel else actionpanelempty"></div>

  <ng-template #actionpanel>
    <div class="chatactions">
      <button class="btn btn-sucecss actionbtn" (click)="doAction()">{{action_label}}</button>
    </div>
  </ng-template>

  <ng-template #actionpanelempty>
    <div class="chatactions"></div>
  </ng-template>

  <input type="text" class="form-control chatinput" [(ngModel)]="message.content"/>
  <button class="btn btn-success sendbtn" (click)="sendTextMessage()">Send</button>
  <button class="btn btn-success recordbtn" (click)="switchRecognition()">Record</button>
</div>

<div *ngIf="isDebug == true; then debugpanel"></div>
<ng-template #debugpanel>
  <div>{{debug}}</div>
  <div class="debug">
    <textarea rows="6" class="form-control chatinput" [(ngModel)]="debug"></textarea>
  </div>
</ng-template>