#toolbar-item-anti-flicker {
  visibility: hidden;
  width: 1px;
  padding-left: 0;
  padding-right: 0;
}

/* Flickering fix */
body.toolbar-tray-open.toolbar-fixed.toolbar-vertical #toolbar-administration {
  margin-left: -240px;
  margin-left: -15rem;
}
