<div class="video">
  {% if title|render %}
    <h1 class="video__title">{{ title }}</h1>
  {% endif %}
  {% if video|render %}
    <div class="video__video">
      {{ video }}
    </div>
  {% endif %}
</div>
