@import 'config';

$margin-base: 10px !default;
$background-color: #232323 !default;

.video {
  color: set-color-based-on-background($background-color);
  background: $background-color;
  padding: 30px 0 60px 0;
  &__title {
    text-align: center;
    margin: $margin-base*2 0 $margin-base*1;
  }
  &__video {
    max-width: 640px;
    margin: 0 auto;
  }
}
